[2018-10-31 21:56] Zruty0 commented on #1466
Hi @kwefah . The model does not retain any information about the schema of the data it was 'fitted on'.
Only the information that is essential for the transformer to function is saved to the model file.

Sometimes, there is no need to actually retain the schema of the training data: for instance, the `KeyValues` metadata for the `PredictedLabel` of a multiclass predictor contains the original labe

[2018-10-31 22:01] GalOshri opened #1478 "Transform categories in intellisense are missing descriptions"
Testing latest 0.7 release candidate: [0.7.0-preview-27031-8](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.ML/0.7.0-preview-27031-8).

It is not clear what is the difference between categorical and conversion transforms (as categorical transforms convert categorical features to numeric vectors). Descriptions are needed to explain these different categories so a user knows what

[2018-10-31 22:04] kwefah commented on #1466
Thanks for the suggestions.

[2018-10-31 22:04] #1466 closed

[2018-10-31 22:16] artidoro commented on #1318
We should not forget to rename the transformers. For example in v0.7, ValueToKeyMappingEstimator returns a TermTransform on .fit(). And when you need to provide arguments as ColumInfo[], it looks like:

https://github.com/dotnet/machinelearning/blob/9d33efeed68e82ec67508117d239dfcdfa8121d9/test/Microsoft.ML.Tests/Transformers/KeyToBinaryVectorEstimatorTest.cs#L50-L54

Which is not ideal, since est

[2018-10-31 22:27] ganik opened #1479 "Timeseries example code is unnecessarily verbose"
v.0.7.0-preview-27031-8:
file: Microsoft.ML.TimeSeries.Tests/TimeSeriesDirectApi.cs

List<Data> tempData = new List<Data>();
for (int i = 0; i < size / 2; i++)
     tempData.Add(new Data(5));
for (int i = 0; i < size / 2; i++)
      tempData.Add(new Data((float)(5 + i * 1.1)));
foreach (var d in tempData)
       data.Add(new Data(d.Value));

Simplify the code by removing tempData.

[2018-10-31 22:39] Ivanidzo4ka opened #1480 "LocalPathReader should live in Microsoft.ML.StaticPipe"
Otherwise I have to link Microsoft.ML.Runtime.Data in order to read file.

[2018-10-31 22:40] Ivanidzo4ka commented on #1480
https://github.com/dotnet/machinelearning/pull/1281 #1090

[2018-10-31 22:49] artidoro opened #1481 "Update the Getting Started with ML.NET tutorial to 0.7"
We should update the tutorial, as it does not work with 0.7. That is the starting point for many people, so we should make sure it is ready and up to date for when we release 0.7. @CESARDELATORRE If you show me how to do it, I can help with that.

[2018-10-31 22:57] TomFinley commented on #1477
Incidentally I see issue #218 and associated PR #1420, which might address this issue.

[2018-10-31 22:58] wschin opened #1482 "Matrix Factorization Dependencies"
For matrix factorization, we need to mention all its dependencies. For example, MatrixFactorization's core part is packed in a Nuget, which is not mentioned anywhere.

[2018-10-31 23:14] GalOshri opened #1483 "Parameter description for anomaly detection needs more information"
Testing latest 0.7 release candidate: [0.7.0-preview-27031-8](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.ML/0.7.0-preview-27031-8).

The description for "changeHistoryLength" is "The change history length". We should provide a more informative description that will help the user understand what value to provide.

Side question: are there good defaults for these types of para

[2018-10-31 23:19] Ivanidzo4ka commented on #1471
Is this a thread about timeouts on Mac? If not, I'm hijacking it right now.

I'm a simple man. I wrote code which parse test outputs and looking for Starting test to add something to hashset and Finished test to remove it from hashset
so far:
![image](https://user-images.githubusercontent.com/1523833/47823890-89ca4e00-dd27-11e8-9a34-9562a7ded6f8.png)
or this:
![image](https://user-images.githubuse

[2018-10-31 23:24] artidoro opened #1484 "MatrixFactorizationTrainer should include Estimator in its name"
MatrixFactorizationTrainer implements IEstimator, and should therefore include "estimator" in its name.
It should be named something like ActionPerformingEstimator as per #1318.

[2018-10-31 23:26] wschin opened #1485 "Some parameters need long doc string"
Sometime, a short string is not enough for describing an argument, for example, [this](https://github.com/dotnet/machinelearning/blob/273e36cbed0d9dd201c00114e1040c1860330cc1/src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs#L54) may not be 100% clear until the user reads the paper. Do we have any solution for solving this (like adding paper's link into its doc

[2018-10-31 23:39] wschin opened #1487 "Example should start with a very brief introduction to its code organization"
As title. For example, in matrix factorization's example, we have two data structures and one function. We need to explain their relation in the very BEGINNING.

[2018-10-31 23:41] wschin opened #1488 "Examples should try not to specify dependencies in csproj file"
As title. Otherwise, user can not run that example by copy-and-paste.

[2018-10-31 23:46] wschin opened #1489 "Not to use "default" in matrix factorization sample"
"default" needs higher version of C#, but it's not necessary for documentation.

[2018-11-01 00:37] little-eyes commented on #1339
Sounds good. thank you @artidoro

[2018-11-01 00:47] GalOshri opened #1490 ""warning CS8032: An instance of analyzer ... cannot be created ..." when running for first time"
Testing latest 0.7 release candidate: [0.7.0-preview-27031-8](https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.ML/0.7.0-preview-27031-8).

OS: MacOS 10.14

I am using VS Code and the dotnet CLI. When I change the code and do `dotnet run`, I see the following warning:

[code]

If I run again without changing anything, the warning disappears.

Very simple repro:
[code]

[2018-11-01 01:50] AleMiguelMicrosoft opened #1491 "Cross-Validation experiment mode: show size of the training set & fold sets after run."

[2018-11-01 01:52] AleMiguelMicrosoft opened #1492 "Cross-Validation experiment needs more parameters and info"
When defining a cross validating experiment, I'd like to be able to define the proportion of records in the input set that are used in training vs testing. A common practice is specifying the % of records that need to go in the training set vs the testing set. Then use a random method of picking indexes from the data frame to form the training set based on the percentage defined before. And create

[2018-11-01 02:41] Zruty0 commented on #1484
Actually, #1318 says that trainers should be called `AlgorithmNameTrainer`, so I don't think there's any violation here.

[2018-11-01 04:17] justinormont commented on #1232
One gain on the CDN approach is all flavors of ML.NET { TLC, GUIs, NimbusML, AutoML, etc } will automatically download the model files as needed.

This eases our overall effort in creating distributions. We won't need an independent strategy to distribute these flavors of ML.NET as a tiny distributables. We simply exclude the models from each flavors' installation and, as needed, the models magica

[2018-11-01 05:04] sfilipi commented on #1471
Starting to take note of tests that hug up:
I am seeing a hung up after: Microsoft.ML.Scenarios.ScenariosTests.TensorFlowTransformCifar

[2018-11-01 06:47] mdabros commented on #1232
@vaeksare It seems you guys are going for the CDN approach. Will this result in no versioning at all for the models? I know that these models are "old and stable", but as I see it, this is no guarantee that they won't be updated at some point.
Is there some alternative to the assembly version that can be used to identify the specific model with the CDN approach?

[2018-11-01 08:49] justinormont commented on #1232
@mdabros: Perhaps we can take a simple route to versioning like adding a version number to the CDN files, or adding file hash checking to `EnsureResource()`: https://github.com/dotnet/machinelearning/blob/c45089f614bc9665dff5e4b5c17c4e1c66854cb0/src/Microsoft.ML.Core/Utilities/ResourceManagerUtils.cs#L99

[2018-11-01 14:07] Jahanaray commented on #1317
@GalOshri @eerhardt Thanks for your kind response and sorry for late reply.
I am using last version of UWP sdk which is 17134 (x64). I know it's weird but it seems the problem is in copying the trained library (model.zip) into debug folder, I have done this manually (copying the library into debug folder!) and it worked. Maybe I should mention that it doesn't work normally, until I put my code int

[2018-11-01 14:27] eerhardt opened #1495 "the netcoreapp3.0 build is broken"
Follow the instructions: https://github.com/dotnet/machinelearning/blob/master/docs/building/netcoreapp3.0-instructions.md

You will get a build error:

[code]

This is because of #1177

[code]

`pDstEnd` is a `float*`. Subtracting 4 still gives you a `float*`, which is not convertable to `int`.

/cc @jwood803 @tannergooding

[2018-11-01 14:37] eerhardt commented on #1317
@Jahanaray - do other files get copied to the debug folder correctly? Like if you add a `.txt` file to your project, set its properties to be `Copy to Output Directory` = `Copy Always`? Does the .txt file get copied correctly?

[2018-11-01 14:50] jwood803 commented on #1495
@eerhardt Whoops! Sorry about that! I'll get this fixed.

[2018-11-01 16:01] Jahanaray commented on #1317
@eerhardt  - Good point and funny mistake for me! I didn't consider this possibility, since I have test this out before. After checking out again, it turned out that problem is not from ML.NET and is global, I can't read even a text file! So do you have any suggestion in that case?

[2018-11-01 16:33] wschin opened #1498 "Trainer always needs to check if label column is good"
In factorization machine, an [redundant check](https://github.com/dotnet/machinelearning/blob/7fb76b026d0035d6da4d0b46bd3f2a6e3c0ce3f1/src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs#L501) is added so the check can be bypassed in some cases.

[2018-11-01 16:40] Zruty0 opened #1500 "Final interface of Schema"
As we have agreed on the API reviews, we will make the following modifications to `Schema`:
- Make it an `ICollection<Schema.Column>`
- Expand `Column` class to contain 2 fields: `IsHidden` and `Index`.
- Remove all methods except those exposed by collections, `this` accessors and `GetColumnOrNull`.
- Make constructors internal. Create a `SchemaBuilder` (in a different namespace `Microsoft.ML.Sche

[2018-11-01 16:40] Zruty0 opened #1501 "ISchema removal"
Remove `ISchema` interface altogether. Remove all obsolete methods of `Schema` class.

This should really be done after #1500

[2018-11-01 16:43] sfilipi commented on #1435
This got resolved with #1432

[2018-11-01 16:43] #1435 closed

[2018-11-01 16:43] Zruty0 opened #1502 "Remove ISchematized interface"
`ISchematized` interface is not consumed anywhere: we can safely remove it.

While we are at it, we could also rename `IRowToRowMapper.Schema` to `OutputSchema` to match `InputSchema`.

[2018-11-01 16:47] Jahanaray commented on #1317
Thanks, it is just with UWP app, I may have to reinstall my sdk or VS.

[2018-11-01 16:57] vaeksare commented on #1232
@mdabros I agree with Justin, in that a primitive versioning can just be added by adding a version number to CDN files. In essence, this is a large part of what NuGet does (though it provides some other guarantees about versioning which in this case could be broken). But given that these models are not expected to change much, I think just adding a version number to them, and trusting that in rare

[2018-11-01 17:01] artidoro commented on #1484
@Zruty0, sorry about that. I misread the post! Thank you for replying.

[2018-11-01 17:01] #1484 closed

[2018-11-01 17:33] eddieysong opened #1503 "Azure Web App Can't Find "CpuMathNative.dll""
### System information

- **OS version/distro**: I'm not quite sure how to find that information on an Azure Web App service
- **.NET Version (eg., dotnet --info)**: .NET Core 2.0

### Issue

- **What did you do?** Deploy a web API project that includes ML.NET functionalities to an Azure Web App
- **What happened?** When training the model, an exception is thrown because CpuMathNative.dll cannot b

[2018-11-01 18:20] artidoro commented on #1492
Could you be more specific on where this functionality is missing? If possible, could you give an code example of what you are looking for?

[2018-11-01 18:29] artidoro commented on #702
There is an ongoing effort to improve our documentation with new samples in the samples repo, as well as code references that should be directly available from the ML.NET documentation website.

We are still in an early stage of the project, and started by focusing on stabilizing the API and main abstractions before investing more time in the documentation. But we definitely hear your concerns and

[2018-11-01 18:29] #702 closed

[2018-11-01 18:41] yaeldekel opened #1504 "SelectColumnsTransform drops columns that it should not drop"
The KeepHidden argument should keep/drop only hidden columns with the same names as ones that are specified in the arguments. Currently, in the "drop" mode of the transform, it drops all hidden columns, no matter what their name is.

I am not sure this argument should even be relevant for drop mode, I think it should automatically drop all columns with the specified names, whether they are hidden

[2018-11-01 19:42] Ivanidzo4ka commented on #1503
What version of ML.Net are you using? From stack trace it's looks like a 0.5 or something even older.

[2018-11-01 19:48] eddieysong commented on #1503
It is 0.5, a lot of things got moved to Legacy in 0.6, so maybe if I
changed my code to the current version it'll work?

On Thu, Nov 1, 2018, 3:42 PM Ivan Matantsev <notifications@github.com wrote:

[2018-11-01 19:59] Ivanidzo4ka commented on #1498
Did you actually hit this issue in your code, or you just improving code quality?

[2018-11-01 20:40] Jahanaray commented on #1317
@eerhardt @GalOshri  - (maybe helpful for others) I checked the problem again after solving the problem in copying library (model.zip), it seems the main problem was causing by updating to the new version of ML.NET. I make my model library using console app with previous version of ML.NET and was trying to read it using new version of ML.NET. It turns out it's not possible and you should train it

[2018-11-01 21:23] montebhoover opened #1506 "LpGcNormAndWhiteningWorkout test fails only on VSTS Hosted macOS"
### Issue

The test [LpGcNormAndWhiteningWorkout](https://github.com/dotnet/machinelearning/blob/c2b5e76c699b740e874a9db218828296a23b2ad8/test/Microsoft.ML.Tests/Transformers/NormalizerTests.cs#L123) is failing on VSTS Hosted Mac build agents, but not on DotNetCore build agents or any local Mac machines.  This currently prevents us from being able to switch to Hosted Mac agents which we want to do

[2018-11-01 23:10] vaeksare commented on #1232
@markusweimer: Is the main concern with the CDN approach the lack of an automatic download during the install time? If we make it clear in documentation where they can include the model with project output, isn't that preferable to actually forcing them to include it through the NuGet approach? As long as we are clear on how they can include it, this actually gives them more choice by giving them

[2018-11-01 23:11] singlis commented on #1504
Thank you Yael for bringing this up!

I don't wholly agree -- mainly because the keepHidden argument is meant to be independent of other arguments. It should not have a different behavior in the drop mode vs in the keep mode. I think if a user was learning about the api for the first time, they would expect this to work as advertised. Having the behavior change because of the mode can be misleadin

[2018-11-01 23:20] Ivanidzo4ka commented on #1506
So I’m looking into failure of that whitening test
https://dnceng.visualstudio.com/public/_build/results?buildId=38622&view=ms.vss-test-web.test-result-details

Invalid arguments to LAPACK gesvd, error: -6

Let’s look on definition of error:
https://software.intel.com/en-us/node/520973

If info = -i, parameter i had an illegal value.

I think 6th parameter is lda.

https://github.com/dotnet/machin

[2018-11-01 23:28] artidoro commented on #1491
I am going to combine your two issues as they are related.

[2018-11-01 23:28] #1491 closed

[2018-11-01 23:30] Ivanidzo4ka commented on #1506
Can we do following:
Print out into console content of matrix u after we done with Gemm routine.
Print out all other parameters we pass to Svd routine.

This way you at least can check what results you get on your build machine.

I have high faith what problem actually in Gemm routine, and since it's happening only on new hosted environment, it's probably related to dependencies.  (we do use cblas

[2018-11-01 23:44] AleMiguelMicrosoft commented on #1491
Fantastic. Thank you

From: Artidoro Pagnoni <notifications@github.com>
Sent: Thursday, November 1, 2018 4:29 PM
To: dotnet/machinelearning <machinelearning@noreply.github.com>
Cc: Alejandro Miguel <Alejandro.Miguel@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/machinelearning] Cross-Validation experiment mode: show size of the training set & fold sets after run. (#1491)

[2018-11-01 23:54] AleMiguelMicrosoft commented on #1492
@artidoro this makes sense. Please close the issue. But consider using your explanation for documentation. Thank you.

[2018-11-01 23:54] #1492 closed

[2018-11-02 01:50] wschin commented on #1498
Just improve quality.

[2018-11-02 03:55] AarthyKS opened #1508 "System.Runtime.InteropServices.SEHException when loading ONNX models"
Can someone help me with ONNX estimator.
### System information

- **OS version/distro**: Windows 10 Version 1709 Build 16299.726
- **.NET Version (eg., dotnet --info)**: .NET core 2.1

### Issue

- **What did you do?**
Followed the tests and tried to load an existing Onnx model(squeezenet)using
estimator (tried both static and dynamic)
- **What happened?
System.Runtime.InteropServices.SEHExceptio

[2018-11-02 04:32] Ivanidzo4ka commented on #1474
Test | Platform | Count | Comments
-- | -- | -- | --
Microsoft.ML.Runtime.RunTests.TestPredictors.MulticlassTreeFeaturizedLRTest | MacOS_Release | 1 |  
  | MacOs_Debug | 7 |  
StaticPipelineTests hung | Windows x64 Debug | 3 |  
  | MacOS_Release | 15 |  
  | Windows_x64_Release | 4 |  
  | MacOs_Debug | 5 |  
Microsoft.ML.Core.Tests Hung | Windows_x86_Debug | 2 |  
  | Windows_x64_Release | 1 |

[2018-11-02 04:37] Ivanidzo4ka commented on #1474
I've look in past two days (it's hard to look further, pages start load really slow)
Also found what test system not always write down what test is finished (I can see it's started, and what run on this test dll is over with everything is mark as passing, but no finishing line in log)

[2018-11-02 04:51] Ivanidzo4ka commented on #1474
Point of this exercise is to look what is main pain point and allocate resources accordingly.
So far biggest issue is MacOS system and test hung into timeout.
I have following obvious proposals to ease pain:

- Let's reduce timeout to 30 minutes, our regular run on macOs_Debug is about 18 minutes.
- Let's move to bigger pool machine with Mac (hosted one, instead of current one)

proposals for inve

[2018-11-02 15:46] yaeldekel opened #1510 "WordHashBag transform doesn't work when applied to multiple input columns"
The WordHashBag transform creates a TokenizeTransform for each of its input columns, but it uses an array with one entry per output column, so if there are multiple input columns, only one TokenizeTransform per output column is created.

[2018-11-02 16:47] yaeldekel commented on #1504
Thanks Scott!

To make sure I understand what you mean - what don't you agree with? There are two issues:
1. SelectColumnsTransform in drop mode with keepHidden=false shouldn't drop columns with names that are not specified.
2. SelectColumnsTransform in drop mode should ignore the keepHidden argument altogether, since in the keepHidden=true case it might cause "unhiding" of a column that had the s

[2018-11-02 17:13] danmosemsft commented on #834
Covered by #1156

[2018-11-02 17:13] #834 closed

[2018-11-02 17:15] danmosemsft commented on #834
Covered by #1156

[2018-11-02 17:42] CESARDELATORRE opened #1514 "ONNX dlls appearing in VS at the project's root folder"
Right after compiling a sample which is scoring with an ONNX model, a bunch of "low level" DLLs related to ONNX appear in VS at the project's root folder.

Is there a way not to show all these .DLLs here?
(Ignore the list of image files, of course..)

![image](https://user-images.githubusercontent.com/1712635/47931063-fc077380-de8a-11e8-8c2b-d1a02b5e8d09.png)

[2018-11-02 17:45] montebhoover commented on #1471
Here are instructions for reproducing the Hosted Mac environment for debugging test failures locally: https://dev.azure.com/aifx/public/_settings/agentqueues?queueId=5&_a=agents

![image](https://user-images.githubusercontent.com/37886197/47931523-40474380-de8c-11e8-98c4-3d6681505204.png)

Might be helpful with #1506

[2018-11-02 18:34] CESARDELATORRE opened #1515 "Be able to create a reader by just specifying an schema class instead of all the columns"
In current version (v0.6 and v0.7) when creating a TextLoader we need to provide all the columns explicetely like the following:

_loader = mlContext.Data.TextReader(new TextLoader.Arguments()
                                                {
                                                    Separator = ",",
                                                    HasHeader = true,

[2018-11-02 19:36] chris-lauren commented on #1514
@jignparm please look into this. note the dlls get copied to main project folder witih "copy if newer" instead of just getting copied to the bin output folder
![onnxtransformdlls](https://user-images.githubusercontent.com/27871925/47936689-bacb8f80-de9b-11e8-9a3d-c652b7cae3a5.gif)

[2018-11-02 20:28] artidoro commented on #1339
I have very good news @little-eyes, we have just released [NimbusML](https://github.com/Microsoft/NimbusML)! This project provides experimental Python bindings for ML.NET. It has a pythonic api for all of ML.NET functionalities and integrates with scikit learn.

If I understand your scenario correctly, this should solve your issue! You can now train a LightGBM model in python through NimbusML, and

[2018-11-02 20:32] artidoro commented on #69
I wanted to let people in this thread know about our release of [NimbusML](https://github.com/Microsoft/NimbusML)! This project provides experimental Python bindings for ML.NET. It has a pythonic api for all of ML.NET functionalities and integrates with scikit learn. You'll find more information on the GitHub page.

[2018-11-02 20:44] shauheen commented on #482
@artidoro can you please verify this issue with 0.7?

[2018-11-02 20:56] denfromufa commented on #69
@artidoro how are you doing interop between Python and .NET?

[2018-11-02 21:02] wschin commented on #1396
It turns out that in old version of `saveonnx`, the conversion can produce something even if there is a non-convertible step in pipeline.

@codemzs, @shauheen, do you think the conversion should throw if any transform/learner can't be exported to ONNX? My suggestion is that we should throw.

[2018-11-02 21:09] shauheen commented on #1396
we should not export a model that is not equivalent to the original pipeline. If it can not be exported it should fail.

[2018-11-02 21:13] singlis commented on #1504
So I dont agree with #1. If we expose keepHidden as part of the API for SelectColumns in drop mode, we should respect it and not change the behavior based on if we are keeping or dropping.

I am on the fence about #2, but if we feel that keepHidden should not apply at all for SelectColumns in drop mode, I would not have keepHidden exposed at all in the API and maybe have constructors to be somethi

[2018-11-02 21:15] voltcode commented on #69
@artidoro great stuff, although I think .net developers would love the opposite integration even more! Do you plan to develop a set of bindings to use python scikit, etc. from .net?

[2018-11-02 21:15] wschin commented on #1396
Ok. So, the solution is to provide users a better error message instead of telling him that ML.NET accesses a null variable.

[2018-11-02 21:20] artidoro commented on #482
Hello @bartczernicki! Sorry for the late reply.
As you noticed using the Legacy API will still has the issue that was pointed out in this post initially. However, I have tested again that with v0.7 the iris tutorial with LightGBM works fine. I know there have been a lot of significant changes to the API and renaming of namespaces and trainers recently, so I am going to post the updated code for th

[2018-11-02 21:32] singlis commented on #1504
OK so talking with Yael, the question is whether KeepHidden makes sense when dropping columns. I think this is where we could use Pete's wisdom
@Zruty0 - what are your thoughts on this?

If we don't need KeepHidden then when only expose the argument in the keep constructor. So instead of this:
[code]
We would have this:
[code]

There is also a question on what to do then about the Arguments class

[2018-11-02 21:34] Zruty0 commented on #1504
I like the idea of the 2 separate ctors with different set of args.

For `Arguments`, I'm less strict: I don't mind either one Arguments class (where KeepHidden will be ignored in case of drop mode), or 2 argument classes.

[2018-11-02 21:35] vaeksare commented on #1508
@AarthyKS  Your model is not placed in the correct location. You need to either place it where the executable is run from (inside bin\x64\Debug\netcoreapp2.1\), modify your model path to reflect this, or use an absolute path.

@jignparm @shmoradims It seems like the ONNX estimator not finding the model should really give a better/more descriptive error message? Also for some reason, the checks ins

[2018-11-02 21:38] SebHel commented on #1268
The assembly `Microsoft.ML.PipelineInference` is not contained in the build which is produced after starting the benchmark. This seems to be the reason why I get the exception above. Any ideas how to fix this?

[2018-11-02 21:41] #482 closed

[2018-11-02 21:55] artidoro commented on #69
I am going to include @montebhoover in the conversation for more details on NimbusML.

@denfromufa NimbusML allows you to build/train/score ML.NET models from python. Under the hood it is the same code. What I think is interesting is that you can save a model that you trained in python using NimbusML and load it back in ML.NET in C#. I think some people are interested in exploration/training in py

[2018-11-02 22:01] artidoro commented on #69
@voltcode I agree with your suggestions! I think there is some experimental work on this topic. I will definitely update the thread when I have a better idea on the direction it is taking.

[2018-11-02 22:42] #1489 closed

[2018-11-03 01:35] jignparm commented on #1514
Thanks for the video. The targets file for the nuget will need to updated so that the dlls do not show up in the windows explorer window. We'll add this fix to the upcoming onnxruntime library (and in ml.scoring as well).

[2018-11-03 01:44] jignparm commented on #1508
@AarthyKS , try a fully qualified path to the model file, instead of a relative path below. Also, make sure there's only 1 onnx model file in the directory (this restriction will go away shortly after we transition to the new runtime librrary).

            if (!RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
                return;

            var modelFile = "sq_model.onnx";

            u

[2018-11-03 09:07] TomFinley opened #1519 "Best friends to limit friend access"
While we stabilize the API, it is best if we keep hidden as much as possible, since once v1.0 the barrier to changing the public types on a publicly released library will be high. For that reason the thinking is to keep the scope of what we publicly release as limited as possible. If we suppose that *usage* of the library vs. *component authorship* inside the library, one obvious way to reduce the

[2018-11-03 18:24] CESARDELATORRE opened #1521 "Need to make consistent the parameters across the API"
**Issue: Similar classes/estimators methods have different parameters' order for the same concepts.**

It looks like a "silly" error, but not straightforward to catch because the column's name provided as parameters are not typed (just strings, logically, since column names could vary) you get an error in execution time but in addition to that because the pipeline works as lazy loading, you find t

[2018-11-03 19:14] CESARDELATORRE opened #1522 "Simplify API: dataPipeline.Fit(data).Transform(data);"
For the code on ["How do I look at the intermediate data?"](https://github.com/dotnet/machinelearning/blob/453eb57f0cd94d6412b1f8dee76c00c686e2e06e/docs/code/MlNetCookBook.md#how-do-i-look-at-the-intermediate-data) as explained in the CookBook, it looks weird to have to pass the same DataView object twice in the following code line:
(Scroll down a bit and you'll see)
[code]

That line of code init

[2018-11-04 07:07] TomFinley commented on #371
Hi @Zruty0 (or others), just going over my issues again. I sort of view the key issue here (we ought to just use our components directly rather than working through some odd abstraction layer) well settled to the point where there appears to be no debate any longer, and in the form of the particulars of what those components *are* there has been enough refinement to the point where I feel like the

[2018-11-04 07:07] #371 closed

[2018-11-04 07:09] TomFinley commented on #281
Since the API is no longer entry-point based this has considerably less urgency from ML.NET's perspective. Nonetheless, it may be important for entry-point based interfaces to ML.NET, e.g., [NimbusML](https://github.com/Microsoft/NimbusML/), so this is not quite ready to close.

[2018-11-04 07:12] TomFinley commented on #261
The C# API this issue treats on was marked legacy in #920, and we are now directly using components. Since this is no longer derived indirectly via entrypoints, my issue, while never having been solved, has ceased to be no relevant. Closing.

[2018-11-04 07:12] #261 closed

[2018-11-04 07:19] TomFinley commented on #1322
Hi @artidoro , thanks for your reply, sorry just saw it now.

Certainly hashing the index as well is possible. Indeed, if you see the `ordered` option in the hash, that's precisely what it is already doing (though it produces a hash per slot, not a hash across all slots). So there is no confusion about how to do that.

Rather, I am wondering if we care about the *unordered* case for a vector. It m

[2018-11-04 07:28] shauheen opened #1523 "Test issue - disregard"
### System information

- **OS version/distro**:
- **.NET Version (eg., dotnet --info)**:

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**

### Source code / logs

Please paste or attach the code or logs or traces that would be helpful to diagnose the issue you are reporting.

[2018-11-05 06:16] CESARDELATORRE opened #1525 "Minor consistency issue: MLContext.MulticlassClassification has first "c" letter as lowercase, but MultiClassClassifierEvaluator.Result has it as uppercase"
Minor consistency issue, this class has first "c" as lowercase:
MLContext.Multi**c**lassClassification.Evaluate()

Then, the Evaluate method returns the following type which has the first "C" as uppercase:

Multi**C**lassClassifierEvaluator.Result

[2018-11-05 15:11] eerhardt commented on #1495
Resolved by #1497

[2018-11-05 15:11] #1495 closed

[2018-11-05 16:35] markusweimer commented on #1232
My concern is that we introduce code that may make (seemingly) random HTTP calls from deployed apps. This concerns stems from the observation that dev environments are usually way more lenient in terms of networking than deployment environments. Hence, many devs might write a perfectly working pipeline that passes unit tests and all, but fails at production with a networking error. To me, this see

[2018-11-05 16:36] AarthyKS commented on #1508
@vaeksare @jignparm : Still hitting the same exception " System.Runtime.InteropServices.SEHException when loading ONNX models"

As suggested I've made the following changes

- I've placed the model file is where the executable is run from (inside bin\x64\Debug\netcoreapp2.1)

- using absolute path for model loacation

- Also there is only one model file in the bin folder.

[OnnxApp_modified.zip](h

[2018-11-05 17:35] Zruty0 commented on #1522
I don't think this is either feasible, or a good idea.

Essentially, we suggest here that every transformer (a 'model') retains a reference to the 'training data', so that the user can call a parameterless `Transform()` and get the transformed training data.

The implications are:
- There will be no 'non-trainable' transformers. Even something as trivial as `CopyColumns("Foo", "Bar")` needs the 't

[2018-11-05 17:37] Zruty0 commented on #371
That was one heck of a long sentence :) I agree with @TomFinley

[2018-11-05 17:40] Zruty0 commented on #1396
@wschin are you working on this? If not, please outline the suggested fix and we'll move it into the backlog

[2018-11-05 17:45] Zruty0 commented on #1424
So there's 2 issues here.
1. Write a couple tests that ensure that ML.NET prediction output matches native LightGBM. These will now fail because of the outlined problem.
2. Fix the code so that the tests pass.

[2018-11-05 17:47] Zruty0 commented on #601
We'll put it into the backlog for tracking. No action right now is being taken.

[2018-11-05 17:49] Zruty0 commented on #590
No. This is still an outstanding issue. How important is it for you @rauhs ?

[2018-11-05 17:51] Zruty0 commented on #599
@GalOshri , could you please consolidate all the requests for feature importance in one issue, and close the others?

[2018-11-05 17:53] montebhoover commented on #1473
Tom, you are exactly right, this will be as simple as modifying `build/vsts-ci.yml`.  I'll make a quick PR to update that and we'll start having access to the build logs produced by the VSTS agents.

[2018-11-05 17:54] Zruty0 commented on #582
We already have the loader code, but we haven't promoted it to the public surface (samples, docs, tests etc.)

[2018-11-05 17:56] Zruty0 commented on #551
Since August, we have updated the API, so this particular error message will not be thrown. I am going to close this issue. Please feel free to open another one if your scenario still doesn't work.

[2018-11-05 17:56] #551 closed

[2018-11-05 18:01] Zruty0 commented on #884
As @Ivanidzo4ka pointed out, we prefer to have generalized solutions as opposed to per-learner ones.

The suggested workaround looks fine to me: apply a element-wise multiplication on your feature column prior to training.

Finally, we have a [CustomMapping](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Extensibility.cs) operation in the API

[2018-11-05 18:01] #884 closed

[2018-11-05 18:07] CESARDELATORRE commented on #1522
Right, I understand then.
Maybe splitting the line in two in the sample would make it easier to understand.
Instead of this:
`var transformedData = dataPipeline.Fit(data).Transform(data);`

This:
[code]
Closing the issue, then. Thanks Pete! 👍

[2018-11-05 18:07] #1522 closed

[2018-11-05 18:12] #1235 closed

[2018-11-05 18:13] TomFinley commented on #1387
Hi @yaeldekel and @abgoswam I hear that we are investigating this today. It might be of help if we saw the sample in full, so we can appreciate perhaps what is going on. As it is now we don't see why this might be occurring, and it might be as trivial as the root data-view being a text loader (which is not shufflable) vs. the cache data view (which is shufflable). But that's just a guess since I d

[2018-11-05 18:20] #1510 closed

[2018-11-05 18:20] #1519 closed

[2018-11-05 18:56] TomFinley commented on #1500
Pursuant to [API review notes](https://github.com/dotnet/apireviews/pull/74/files#diff-8b410ccce45654bbddc866aafa3eec50R10), this `Column` structure should probably be a struct.

[2018-11-05 18:57] abgoswam commented on #1387
Hi Tom.  The issue reported above came from the internal repo (test case : MulticlassReductionTest).  We see a difference in accuracy when running OVA + AvgPerceptron.  Expected accuracy 0.98  v/s  Observed accuracy 0.80

As a part of the investigation, we identified one issue related to calibration.  Fix #1512.  Even with this fix we do not get the 0.98 accuracy for the unit test above

So, I tri

[2018-11-05 19:35] TomFinley opened #1528 "IDataView Cleanup: IDataView as an abstract class, not interface"
Let us not have `IDataView` as an interface, but instead just an abstract base class `DataView`. Then instead of implementing this interface, we descend from the base class. This is in line with .NET guidelines preferring abstract classes to interfaces where possible and reasonable.

At least internal to ML.NET things that are `IDataView` are primarily that (or some subcase of that).

For various

[2018-11-05 19:36] TomFinley opened #1529 "IDataView Cleanup: Predicates from int to Column"
As seen in #1500, schema is being changed so that schemas contain columns.

For various reasons it may be easiest once `IDataView` is a class.

Let us consider the use of predicates in the `IDataView` system, e.g., when getting a cursor:

https://github.com/dotnet/machinelearning/blob/f9202628fbfac9e599e8c63dc5ed26eae77afbee/src/Microsoft.ML.Core/Data/IDataView.cs#L103

or elsewhere when forming a

[2018-11-05 20:14] TomFinley opened #1531 "IDataView Cleanup: Remove `lazy` parameter from get row count"
How do you tell the number of rows in a data view?

There is this very interesting method here.

https://github.com/dotnet/machinelearning/blob/f9202628fbfac9e599e8c63dc5ed26eae77afbee/src/Microsoft.ML.Core/Data/IDataView.cs#L95

The semantics of this are somewhat odd (though logical, in their way), and basically boil down to: under the default value of `lazy=true`, only return the row count if it

[2018-11-05 20:16] TomFinley opened #1532 "IDataView Cleanup: Clear cutting the `IRowCursor` interface jungle"
Right now we have a fairly elaborate set of interfaces surrounding `IRowCursor`. These include `ISchematized`, `ICounted`, `IRow`.

While `IRowCursor` and `IRow` are quite useful, it is not clear if separating out `ICursor` and `ICounted` as separate interfaces is actually helpful, and we think we ought to get rid of `ISchematized` anyway (see #1502). The goal would be to refactor this jungle so t

[2018-11-05 21:33] TomFinley opened #1533 "IDataView Cleanup: ColumnType cleanup"
The `IDataView` type system is extensible (as we see with [`ImageType`](https://github.com/dotnet/machinelearning/blob/f9202628fbfac9e599e8c63dc5ed26eae77afbee/src/Microsoft.ML.ImageAnalytics/ImageType.cs#L12)).

This is fine, but there is something confusing about `ColumnType` as well, since there are lots of methods and properties on the base class `ColumnType` that are specific for derived type

[2018-11-05 21:50] #1442 closed

[2018-11-05 22:17] TomFinley opened #1534 "IDataView Cleanup: Rename `UInt128`"
The row cursor IDs serve a purpose as described here.

https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Core/Data/ICursor.md#getidgetter

These IDs are represented as 128-bit numbers. Correspondingly, I named them `UInt128` back in the long vanished past. However, this is a troubling name: this first of all conflicts with any name .NET would use in the future to represent 128

[2018-11-05 22:39] mjmckp commented on #512
Well, of course it depends on the algorithm and size of the dataset etc, etc.  However, I raised an issue a while ago about this (https://github.com/dotnet/machinelearning/issues/256) showing that for the ML.NET implementation of GBDTs, the data preparation stage was taking _3 times as long_ as the training stage for a medium size data set.  LightGBM has a similar data preparation stage (the creat

[2018-11-05 23:09] GalOshri commented on #913
Hi @WladdGorshenin, from a few other discussions it sounded like the "what-the-feature"/"per-example feature gains" will solve the original problem. Can we close this issue and track moving these components to ML.NET in #599?

[2018-11-05 23:35] Zruty0 commented on #512
It seems that we are in agreement here: we could get a massive efficiency boost for sweeping scenarios if we could separate the 'data prep' phase from the 'training' phase inside FastTree / LightGBM.

And by 'data prep' here I mean 'scanning the training data and building in-memory bin representation'.

Absolutely, we should do this. We cannot really do this right now though.

[2018-11-06 00:51] abgoswam opened #1537 "Invalid arguments provided when using Iris dataset with TextLoader"
There are two versions of the Iris data set in the ML.NET repo.
- [iris.data](https://github.com/dotnet/machinelearning/blob/master/test/data/iris.data)
- [iris.txt](https://github.com/dotnet/machinelearning/blob/master/test/data/iris.txt)

Both of these datasets do not have a header.  As such, when using these datasets with Textloader, the `HasHeader` field in the `TextLoader.Arguments` class sho

[2018-11-06 01:06] montebhoover commented on #69
@denfromufa In particular we are using ML.NET's [Entry Points](https://github.com/dotnet/machinelearning/blob/master/docs/code/EntryPoints.md) API to call ML.NET components from python.  The Entry Points API allows a non user to work in a non-.NET language and describe a call an ML.NET estimator or transformer in JSON format and ask ML.NET to execute that component.  So in NimbusML we embed the ML

[2018-11-06 02:04] AceHack opened #1539 "Please support XGBoost i.e. gradient boosting machines"
This is the 2nd most popular model on Kaggle.

Thanks.

[2018-11-06 03:07] TomFinley opened #1540 "IDataView Cleanup: KeyType Simplification"
We have by now multiple years of experience with `KeyType`. In the documentation of the `IDatView` type system, [key types](https://github.com/dotnet/machinelearning/blob/master/docs/code/IDataViewTypeSystem.md#key-types) are described as having the following properties:

All of our current transformers produce key-types that are (1) known size and (2) have a minimum value of `0`, and are (3) cont

[2018-11-06 03:11] AceHack opened #1541 "Please support autodifferentiation"
This would be a great feature to have.

[2018-11-06 03:36] TomFinley commented on #1533
Doing this now. For the most part.

`VectorType` has the notion of "dimensions," which is fine and valuable, but the interface to it is absolutely bewildering. The number of dimensions is equal to the rank of the output vectors, and can be multi-dimensional (e.g., tensors).

I'd also like to do something to `KeyType`, but just filing a separate issue for this #1540, since I feel like that might pr

[2018-11-06 04:28] artidoro commented on #1541
Hello @AceHack could you give us some example scenarios that you are considering, and what exactly you think would be useful in terms of autodifferentiation?
Note that ML.NET already has tensorflow bindings which allow you to train and score tensorflow models directly from the library.

[2018-11-06 04:33] TomFinley opened #1542 "TensorFlow transform would throw on non-vector input"
In the process of working on #1533, I found the following code in the tensorflow transform.

https://github.com/dotnet/machinelearning/blob/73762a8d8f23d27f3c15b4382c0bc374934ccad5/src/Microsoft.ML.TensorFlow/TensorflowTransform.cs#L834-L844

Consider the above code. We have at line 834 this assignment to a boolean value depending on whether the input is of type vector, or not. This strongly sugge

[2018-11-06 04:33] artidoro commented on #1539
@TomFinley what are your thoughts on this?
We already have other tree algorithms in ML.NET.

[2018-11-06 06:16] TomFinley commented on #1539
Hi @artidoro (and @AceHack ). We do wrap it internally, we just haven't ported over the wrapper. I'm not sure why; most probably simply lack of time and opportunity, since of course we've had many other things to do. I agree it would be a very nice thing to do.

One potential barrier is that the distribution story externally will be somewhat difficult. Our current policy, which I think is good, is

[2018-11-06 07:45] justinormont commented on #1539
The demand is there to port it to ML.NET, and for that reason it's useful to port.

That said, I don't see XGBoost winning very often vs. our existing tree based models. Perhaps a newer version will show gains, or perhaps a round of optimizing our default hyperparameters is in order.

[2018-11-06 07:45] #218 closed

[2018-11-06 07:47] shauheen commented on #563
Thanks for the discussion. infer.net is now open sourced and published as a member of ML.NET family. We will continue to work towards closer integration, however our roadmap to v1.0 does not include further work on integration. I'm closing this issue, and hopefully we will revisit the subject later.

[2018-11-06 07:47] #563 closed

[2018-11-06 07:53] HowardvanRooijen commented on #1175
Is this lacking a response because it's too big an ask?

[2018-11-06 08:05] TomFinley commented on #689
Hi @justinormont and @abgoswam , perhaps one of you or someone else could, if you cared, move it out? We might remove it soon, since we're in the process of hiding anything we don't want in the public surface area, especially more experimental work like this.

If we remove it before you get to it, you can of course simply fetch it again from the history to "resurrect" it in a place of your choosin

[2018-11-06 09:01] TomFinley commented on #689
That's fine, but if under active development, it seems like that development is not happening in ML.NET anyway -- the changelogs for the associated directories has not seen much progress. It is not part of our public API. Nor would it ever really need to since pipeline sweeping is something that can *use* ML.NET but doesn't have to *be* ML.NET, right?

At least searching open or closed issues for

[2018-11-06 17:55] yaeldekel opened #1544 "ConvertTransform bug."
If a column specifies return type of U*, but the arguments specify a key range, the column is converted to key instead to plain old unsigned integer type.

[2018-11-06 18:07] #1537 closed

[2018-11-06 18:30] #1506 closed

[2018-11-06 18:43] #1479 closed

[2018-11-06 18:43] #1483 closed

[2018-11-06 19:11] Zruty0 commented on #1440
Thanks everyone for the input! Let's close this issue, and we'll start using gitter more actively for transient things.

[2018-11-06 19:11] #1440 closed

[2018-11-06 19:20] sfilipi commented on #1319
Is the Microsoft.Ml.Trainers a good namespace for them, or we want to keep them in something like Microsoft.Ml.Models?

cc @wschin

[2018-11-06 19:48] shmoradims opened #1548 "Typo in name ExtractWordEmbeedings (extra e)"
typo: ExtractWordEmb**ee**dings -> ExtractWordEmb**e**ddings (double **d** instead of double **e**)

Location:
        public static WordEmbeddingsExtractorEstimator ExtractWordEmbeedings(this TransformsCatalog.TextTransforms catalog,
            string inputColumn,
            string outputColumn = null,
            WordEmbeddingsTransform.PretrainedModelKind modelKind = WordEmbeddingsTransform.P

[2018-11-06 20:32] cosmincatalin opened #1549 "Scoring with ONNX does not work as expected"
I have an _onnx_ model generated from an MXNet model. I try to use it for scoring a regression problem. It does not work. Here are the steps I followed:

## Build the MXNet model

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
Output:

    Epoch 0. Loss: 5.848355519538663, Train_mae 1.1675882118595375,

[2018-11-06 21:14] rantri opened #1550 "Type mismatch in TransformSamples.SampleInfertDataWithFeatures"
Type should be changed from int to float.

From:
[code]

To:

[code]

It caused exception:
System.InvalidOperationException
  HResult=0x80131509
  Message=Can't bind the IDataView column 'Features' of type 'Vec<R4, 3>' to field or property 'Features' of type 'Microsoft.ML.Runtime.Data.VBuffer`1[[System.Int32, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e

[2018-11-06 21:41] CESARDELATORRE opened #1553 "Saving a DataView to a file should be simpler and not through to the LocalEnvironment class"
I'm using v0.7.
Issue: Saving a DataView to a file should be simpler and not having to directly use the LocalEnvironment class.
If there's any new way to do this in v0.7 or v08, please tell me, but I haven't found it. :)

As far as I know, this is the code needed, currently:

[code]

First, it needs to use the `IChannel` object that has to be obtained from the `IHostEnvironment` object that you ca

[2018-11-06 22:08] helloguo opened #1554 "Build failed on Ubuntu 18.04"
Build failed on Ubuntu 18.04. The ML.NET was forked today 11/6/18. The error msg says tensorflow.redist is not able to be downloaded as shown below. Any guidance to solve it? Thank you.

![build-fail](https://user-images.githubusercontent.com/18431130/48096873-45c6c580-e1cd-11e8-9736-4ee6e355af0d.PNG)

[2018-11-06 22:32] #1069 closed

[2018-11-06 23:05] #1473 closed

[2018-11-06 23:14] artidoro opened #1556 "No artifacts produced when CI builds time out"
This is related to #1473.

Our current CI builds hang quite often. #1473 suggests to retain the output files produced during tests and inspect them to help identify the problem. Thanks to #1527 we now produce artifacts. However, we only produce them when the builds fail, and not when they time out. It would be useful to produce the artifacts also when the builds time out as that is a significant p

[2018-11-06 23:19] artidoro commented on #1556
Adding @montebhoover, @safern to this as you worked on publishing the artifacts. Is there an easy way to add a "timeout" condition?

[2018-11-06 23:27] sfilipi opened #1557 "The format of the example XML is not correct in a few cases."
The sample link for the NormalizerCatalog.cs has an extra bracket out of place.
The samples in MatrixFactorization and TimeSeries are missing the surrounding <example> XML  node.

Those are causing problems with the samples displaying in the APIs documentation site.

[2018-11-07 00:30] najeeb-kazmi commented on #1542
@abgoswam @yaeldekel Can you provide details on the original intent of this code?

[2018-11-07 00:34] sfilipi opened #1560 "Categorical Hash transform Create method ignores the number of HashBits"
Looking at the [Create method](https://github.com/dotnet/machinelearning/blob/850f91c2e67679a825b49d3eefd96dea2cc2c153/src/Microsoft.ML.Transforms/CategoricalHashTransform.cs#L148) it doesn't pass the number of HashBits to the OneHotHashEncodingEstimator.

[2018-11-07 01:11] #1533 closed

[2018-11-07 02:38] #1523 closed

[2018-11-07 04:32] TomFinley commented on #1553
`MLContext.Data.SaveAsText`

[2018-11-07 05:50] TomFinley commented on #682
@Zruty0 , as it happens I have to fix this issue *anyway* for completely incidental reasons.

[2018-11-07 05:57] AceHack opened #1562 "Please support Keras"
Tensor flow is really nice but Keras support would be great!!  We would then get Theano and CNTK.

[2018-11-07 16:14] TomFinley opened #1565 "Legacy API: Should we migrate its entry-points?"
The plan is to deprecate then delete the legacy API. While most items in it are of questionable worth, the legacy API does contain some components that might be worth saving, and some we may have to save.

Consider this entry-point definition, in the legacy project.

https://github.com/dotnet/machinelearning/blob/7b2461cfdad150047dbbcbc163290a32e9f4d829/src/Microsoft.ML.Legacy/Runtime/EntryPoints/

[2018-11-07 19:35] #1556 closed

[2018-11-07 22:06] #1477 closed

[2018-11-07 22:18] artidoro opened #1567 "Access whitening transform models"
There is no way for the user to access the models produced by the whitening transform (the whitening matrices). We would need to expose that, as well as a function that allows to apply the matrix to new suitable input vectors (something similar to FillValues in the current code).

Furthermore, we need to have an onFit function for pigsty to pass this class out.

Adding @Ivanidzo4ka  to the convers

[2018-11-07 22:27] Zruty0 opened #1568 "Add support for caching and filtering"
We need to add the API to cache the data view in memory (via `CacheDataView`).

Also, we want to add some filtering functionality: I think `RangeFilter` is enough. We have agreed in #933 to not make estimators/transformers for filtering, so I suggest to have only `MLContext` extensions for these operations.

[2018-11-07 23:32] TomFinley commented on #828
This is not a reason not to do it. Asserts are only called from debug anyway, so there is no question of them having user facing impact. They are for detecting whether we have bugs internally. (If there were any chance of them being called outside they should be checks.)

[2018-11-08 00:41] wschin opened #1572 "Some times we may want to provide test set in addition to training and validation sets"
Imagining that one day, a user prepares a training set and a validation, and she wants to train a `FastTree` (gradient boosting decision tree) with early stopping. Then, she probably also would like to know how good our early stopping is by calculating a score based on some predictions. If this is the case, she may need another data set (let's call it test set) because it's not fair to use validat

[2018-11-08 01:40] terrajobst commented on #82
@shauheen

I've registered the necessary web hook which will present the data. The app doesn't need write access to this repo.

Not sure about the link; I suspect the linking from the title works if the room name happens to match a repo name, which isn't the case here.

[2018-11-08 01:44] shauheen commented on #82
Thanks @terrajobst . Closing the issue as I believe this is what we can do now. @veikkoeeva please feel free to re-open if you have other suggestions.

[2018-11-08 01:44] #82 closed

[2018-11-08 02:17] najeeb-kazmi commented on #1550
Hi @rantri, where do you run into this exception? I could not reproduce this when building `Microsoft.ML.Samples`. I see that `SamplesUtils.DatasetUtils.GetInfertData()` is returning a dataset with ints. @sfilipi can you confirm that `int` is intentional here?

[2018-11-08 02:47] najeeb-kazmi commented on #1175
Hi @HowardvanRooijen, PROSE integration is currently not on our roadmap to v1.0. I will add this to our backlog so we can revisit this in the future.

[2018-11-08 02:52] najeeb-kazmi commented on #1562
Hi @AceHack, let me move it to triage and out triage team can decide if this is something we want to invest in before v1.0 or if it should be moved to our backlog. I agree having Keras support in ML.NET would be nice, as would PyTorch.

In the meantime, it is currently possible to score ONNX models in ML.NET, so models from any framework that is supported in ONNX can be converted to ONNX and used

[2018-11-08 02:55] najeeb-kazmi commented on #1549
@wschin can you please give your input on this? Why would the ONNX model produce a 0 result in ML.NET when scored on a vector of ones?

[2018-11-08 03:03] najeeb-kazmi opened #1575 "ClusteringContext should have CrossValidate"
Currently, `ClusteringContext` lacks a `CrossValidate` method. We should add this for completeness and parity with the internal code which supports CV on clustering tasks.

[2018-11-08 04:50] sfilipi commented on #1565
@asthana86 had plans to use the entry points. @asthana86 is that still the case?

[2018-11-08 04:57] sfilipi opened #1576 "Remove the copyright from the samples files"
There is no need for copyright in the docs/Microsoft.Ml.Samples project source files.
1- Remove the copyright from the docs/Microsoft.Ml.Samples project sources.
2- Change the other source files files that reference the samples in the XML to not contain a range
. like [here](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.FastTree/TreeTrainersStatic.cs#L41):

the reference t

[2018-11-08 06:34] rantri commented on #1550
Hi @najeeb-kazmi, There is not code or test that running this sample directly.
To run in I change the Main method to this:

[code]

The "SampleInfertData" are using float too.

[code]

[2018-11-08 06:38] rauhs commented on #590
I guess not all that important after all. I just wanted to try it out.

[2018-11-08 06:59] sfilipi opened #1577 "The Timeseries samples need to be each one on its own file"
There are 4 samples in the [Timeseries.cs samples](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Timeseries.cs)

Split each sample, together with the helper classes in its own file, as it is easier to maintain, and change the references of those samples in the code to reference the new files.

Also, move the references from the constructor, to the

[2018-11-08 14:20] denfromufa commented on #69
Shameless plug here: pythonnet for interop with .NET in both directions used by some projects at Microsoft already. I believe there are equivalents for R too. Regarding data efficiency and avoiding copying for pandas dataframes and numpy arrays, definitely Apache Arrow direction is worth considering.

Also how is it that NimbusML has only 93 stars, but over 3000 watchers!!!

![image](https://user-

[2018-11-08 17:31] wschin commented on #948
Another trick when your changes modify the output files produced by some tests and therefore those tests fail. It's pretty annoying when I am trying to locate those touched files. My solution is
1. Go to `BaseTestBaseline.cs` and set up a break point inside `protected bool CheckEqualityCore(string dir, string name, string nameBase, bool normalize, int digitsOfPrecision = DigitsOfPrecision)`
2. In

[2018-11-08 17:45] abgoswam opened #1579 "Exception when trying to Evaluate AveragedPerceptronTrainer, LinearSvm"
For a couple of Learners, we get an exception during `Evaluate`
- AveragedPerceptronTrainer
- LinearSvm

Exception :

Message: System.ArgumentOutOfRangeException : Probability column 'Probability' not found
Parameter name: name

Sample :

        [Fact]
        public void OVA_BC_AP()
        {
            string dataPath = GetDataPath("breast-cancer.txt");

            // Create a new context for

[2018-11-08 18:29] #1544 closed

[2018-11-08 19:32] Zruty0 opened #1581 "Organize the folder structure"
We should make sure that the namespaces and folders are matching each other, especially for public components.

- All our assemblies should have DefaultNamespace be equal to `Microsoft.ML`
- All other public types should be located in files that match their namespace.

@TomFinley do you want to comment?

[2018-11-08 20:57] yaeldekel commented on #1579
Not sure this is a bug - AveragedPerceptron does not produce calibrated models. If we don't expose calibration APIs, we should probably do that. Also, we may want to consider warning when the probability column isn't there instead of throwing.

[2018-11-08 21:44] #1568 closed

[2018-11-08 21:46] Zruty0 commented on #1579
..or call `mlContext.BinaryClassification.EvaluateNonCalibrated`.

Exposing the calibration API is fine. I would just make a calibration estimator for that though, that trains towards one parameter. Embedding calibrator into learner seems somewhat unnecessary.

[2018-11-08 22:11] #1557 closed

[2018-11-08 23:13] abgoswam commented on #1579
Thanks for the comments. Using `mlContext.BinaryClassification.EvaluateNonCalibrated` got me metrics I was looking for.

I have a few follow up questions, based on the comments above:

-   What do me mean by the following _"make a calibration estimator that trains towards one parameter"_  ?

- My understanding is that currently some learners have calibrator embedded (e.g. FastTree)  while other  l

[2018-11-09 04:32] jignparm commented on #1323
This is a limitation of the Microsoft.ML.Scoring underlying library – currently the API only supports graphs where the inputs and outputs are Tensor types.

One of the  outputs  of the model is of type = ‘Sequence’, and there’s no API in the library to process this type yet.

The upcoming release of the OnnxTransform depend on the newer OnnxRuntime library, which will have better error messages, s

[2018-11-09 05:02] jignparm commented on #1508
The underlying Microsoft.ML.Scoring library doesn't propagate messages from the native layer (to be fixed soon).

This is the error message I see -- it looks like there's no suitable kernel definition for the RELU op. What is the source of your model? Did you convert using MLTools, or some other method?

![aarthy_error](https://user-images.githubusercontent.com/13698702/48244145-fa611280-e398-11e8

[2018-11-09 07:05] jignparm opened #1585 "Add multiple input/output support for OnnxTransform"
Allow multiple IDV columns to be mapped to multiple input nodes of an Onnx model, and also accomodate models that have multiple outputs.

[2018-11-09 13:56] feiyun0112 commented on #1554
It caused by download timeout.

Google can not be accessed in my location, so i solve it follow these steps:

1. download the gz file using FQ
2. install & run nginx
3. copy the gz file to `/var/www/html`
4. change Microsoft.ML.TensorFlow.Redist.proj line 21 `Include="@(TensorFlowConfig->'http://localhost/libtensorflow-cpu-%(Identity)-x86_64-$(TensorFlowVersion)%(FileExtension)')" />`
5. build aga

[2018-11-09 16:13] AarthyKS commented on #1508
The model was not created using MLtools. The model is from [ONNX model zoo](https://github.com/onnx/models/tree/master/squeezenet) . It is mentioned that it was created in Caffe2.

[2018-11-09 17:41] #1548 closed

[2018-11-09 18:02] jignparm commented on #1508
Onnx is not backwards compatible to 1.1 as far as I understand. The version of Onnx models supported by the transform is 1.2.

The squeezenet model from the model zoo below works without any problems.

https://s3.amazonaws.com/download.onnx/models/opset_7/squeezenet.tar.gz

[2018-11-09 18:03] #1504 closed

[2018-11-09 21:33] ReidAnderson opened #1591 "Error When Building Anomaly Detection Example Using 0.7.0"
Hello, I'm a .NET developer but new to the .NET core world. I was able to verify this on two different machines. I didn't see any existing issues open on this. Hopefully I'm not missing something obvious here, and apologies if I am. Let me know if there's any further information I can provide or questions I can answer

### System information

- **OS version/distro**:
Windows 10.0.16299
- **.NET Ve

[2018-11-09 22:44] justinormont commented on #1312
@TomFinley: Do you have ideas how to show hyperparameter ranges to users? Or a guess on the difficulty of implementing?

[2018-11-09 22:48] sfilipi commented on #1312
One idea is to put them in the XML comments. Do we want to use the values we have in the TGui attribute?

[2018-11-09 23:33] helloguo commented on #1554
Thank you.

[2018-11-09 23:33] #1554 closed

[2018-11-10 00:10] wschin commented on #1549
I didn't run your code on my side but my initial guess is that Estimate is not assigned due to mis-connection between steps in your pipeline.

[2018-11-10 03:48] ReidAnderson commented on #1591
Awesome, that did it. Thanks for the clarification!

[2018-11-10 03:48] #1591 closed

[2018-11-10 06:44] #1521 closed

[2018-11-10 06:52] neven10 opened #1595 "Sentiment Analysis on Uwp - MissingMethodException"
### System information

- **OS version/distro**: Windows 10 UWP app,   ML 0.7.0
- **.NET Version (eg., dotnet --info)**:  Net standard / Targeting min Fall Creator Update

### Issue

- **What did you do?**
Was trying to run  binary classification example on Uwp.

- **What happened?**

System.MissingMethodException: Method not found: 'System.ComponentModel.Composition.Hosting.CompositionContainer M

[2018-11-11 16:31] petterton commented on #508
@Zruty0 : Any news on when this will be added?

[2018-11-12 13:13] cosmincatalin commented on #1549
I have created a repository that outlines the above issues. It is available her: https://github.com/cosmincatalin/mxnet-onnx-mlnet

[2018-11-12 17:48] Zruty0 commented on #508
@petterton Unfortunately I don't have any news on that at the moment. This work item is on our backlog, and right now we're handling higher priority things (most related to public API surface).

[2018-11-12 17:50] Zruty0 commented on #1595
@eerhardt I assume this has to do with the fact we started using MEF 1.0 in ML.NET? Are these UWP apps not compatible with MEF?

[2018-11-12 17:56] Zruty0 opened #1600 "Custom mapping estimator doesn't check input schema"
The `CustomMappingEstimator` doesn't correctly check input schema for presence and validity of the columns.

[2018-11-12 18:07] Zruty0 commented on #1534
I like `RowId` better. Or even `UniqueId`.

[2018-11-12 20:46] Zruty0 opened #1602 "Make non-essential members of Core and Data assembly internal"
#1519 made it possible to have members that are not public, but still accessible to other ML.NET assemblies. We now plan to use it to reduce the public surface of ML.NET assemblies substantially.

Namely, let's 'hide' the non-user-facing public members of `Microsoft.ML.Core` assembly

[2018-11-12 21:15] eerhardt commented on #1595
I've opened https://github.com/dotnet/corefx/issues/33434 for this issue. It appears to either be an issue with the NuGet package, or UWP itself.

[2018-11-12 21:56] #1575 closed

[2018-11-12 22:35] jsboige opened #1603 "Confusion between ColumnAttribute and ColumnNameAttribute should be prevented"
I just spent nearly a whole hour in front of a class full of students trying to figure out what was wrong with my code. I was demonstrating the SentimentAnalysis classifier and had the working code in split-screen to compare. My faulty code had a Column Attribute instead of ColumnName Attribute in the prediction class.
First, not a single pair of eyes noticed the error. For some reason, one does n

[2018-11-12 23:35] Zruty0 opened #1604 "Clean up our auto-caching"
Currently, some of our trainers cache the data prior to training, without a possibility to disable that.

I believe the good incremental step would be to disable all auto-caching, and rely on user to call `AppendCacheCheckpoint` prior to multi-pass training.

This is not really ideal, since the default setup for multi-pass trainers will train slower. I still think it is better to have a consistent

[2018-11-12 23:42] Zruty0 commented on #1603
@jsboige I'm sorry about that frustration. The new ML.NET API will at least produce earlier warnings for schema mismatches (so you would be notified that the column renaming didn't actually happen).

In addition, `Column` attribute is really specific to `TextLoader`, so we will remove it as part of removing the legacy API.

Right now, in the new API it is impossible to specify the schema of a text

[2018-11-12 23:47] Zruty0 commented on #1515
Unfortunately, such a simple interface will not work, because the order of fields in the class is not defined, so we cannot expect `Season` to be column number 0, and `Month` to be number 2. We would still need some attribute to tell TextLoader where to read the column from:

[code]
I don't want to conflate the 'reading' attributes (like `LoadColumn`) with the 'schema comprehension' attributes (`C

[2018-11-13 06:06] justinormont commented on #1604
I would prefer we make a good model by default for the user w/ auto-normalization & auto-calibration.

The auto-caching is simply a matter of speed, not final model quality, but is quite related to the overall user happiness.

[2018-11-13 15:02] ixtreon commented on #1180
Seems this was resolved with dddb5c13 and is working correctly in v0.7

Thanks!

[2018-11-13 15:02] #1180 closed

[2018-11-13 15:48] #1600 closed

[2018-11-13 16:15] jwood803 commented on #1203
I would love to help with this. 😄

@Zruty0 @justinormont @eerhardt Is this already in the repository or is it something that will be released later?

[2018-11-13 16:23] adamsitnik opened #1608 "Remove parsing perf bottleneck in WordEmbeddingsTransform"
I am currently profiling ML.NET to find performance bottlenecks and places where .NET framework could do a better perf job.

I started with two the most time-consuming benchmarks from our public benchmark suite.

After some profiling, it turned out that parsing big text files in `WordEmbeddingsTransform` is a performance bottleneck.

In the histogram below the red box 2 is parsing.

![image](https

[2018-11-13 17:30] Zruty0 opened #1609 "Add a transformer/estimator for loading images out of byte vectors"
Right now we can only load images from disk files. I think it's worthwhile to either update `ImageLoadingTransformer` to be able to load from byte vectors (interpreted as streams), or add another estimator/transformer to do this.

cc @CESARDELATORRE @yaeldekel

[2018-11-13 17:31] eerhardt commented on #721
This isn't fixed yet. The PR to fix it hasn't been merged yet.

[2018-11-13 17:35] Zruty0 opened #1610 "Make schema comprehension aware of images"
Image columns are backed by `Bitmap` objects under the hood. However, our standard schema comprehension is not capable of turning `Bitmap` fields into data view columns and vice versa.

We want to be able to add this capability, but without making Core assembly aware of the image type. This potentially calls for another application of MEF: being able to inject custom 'peek/poke generators' for sch

[2018-11-13 17:42] Zruty0 commented on #1604
I think this is not the first time we have this argument.
Again, the reasons we don't want to make these auto-smarts part of the core API is because sometimes they are making mistakes, and sometimes costly mistakes:

- For auto-caching, we may blow up the machine's memory by caching the training data, where a non-cached training would've succeeded (maybe slower).
- Auto-caching assumes that the or

[2018-11-13 18:41] markusweimer opened #1611 "TextLoader should have only one constructor, that doesn't take Arguments as a parameter"
`TextLoader` needs to hide the constructor that has `Arguments`, and also expose the `HasHeader` and `SeparatorChars` to be non-advanced parameters.

-- old description --
`TextLoader` presently accepts a parameter called `column` for the array of columns to read. That seems odd, given that almost always, multiple columns are passed. Hence, it would be more natural to call that parameter `columns`

[2018-11-13 18:41] markusweimer commented on #1611
/cc @Zruty0

[2018-11-13 19:25] daholste opened #1613 "Exception on 'IgnoreColumns' in input"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
Ran MML command line: execgraph "C:\Benchmarking\automl_graph.json"

Contents of automl_.graph.json:

[code]

- **What happened?**
'IgnoreColumns' in file is not respected / throws an exception (more details in logs section below)

- **What did you e

[2018-11-13 19:30] daholste opened #1614 "Cannot select accuracy as target metric"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue
Cannot select 'Accuracy' as target metric

- **What did you do?**
Ran MML command line: `dotnet MML.dll execgraph "C:\Benchmarking\automl_graph.json`

Contents of automl_.graph.json:
[code]

- **What happened?**
An exception was thrown (below)

- **What did you expect?**
A

[2018-11-13 19:40] daholste opened #1615 "Rocket AutoML engine stops very early"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue
The Rocket AutoML engine stops very early for numerical datasets. For a numerical binary classification problem, the engine always stops after 14 iterations.
The Rocket engine makes it successfully thru its first stage, running all 12 landmark algorithms. Then, the engine m

[2018-11-13 23:29] sfilipi opened #1616 "Expose the parameters of the NormalizerTransformer"
The various flavors of the NormalizerTransformer have non-public visibility over the parameters. Users need to be able to inspect those values.

[2018-11-14 02:00] nsulikowski opened #1617 "How to get data from IDataView"
How can I get data from IDataView without a class for the record?
For instance convert IDataView to object[,] just by querying the Schema
Thanks,
Nestor

[2018-11-14 10:21] jsboige commented on #1603
Thanks for letting me know and making sure this will prevented in the future.

[2018-11-14 10:21] #1603 closed

[2018-11-14 18:03] Zruty0 commented on #1203
@jwood803 it's already in the repository.

I think doing what @eerhardt suggested would be a great first step.
After that, I would really love to have these things happen:

1) update `codegen` command to correctly handle model files trained by ML.NET (as opposed to those trained via `train` command), and generate the scoring code that is in line with the latest API.
2) Take a stab at documenting o

[2018-11-14 18:30] TomFinley commented on #1534
I like `RowId`. `UniqueId` is bad since they are only probabilistically unique, and people might get confused between that and GUIDs (which go further and are globally unique), which this definitely is not.

[2018-11-14 18:53] #1572 closed

[2018-11-14 20:46] #1019 closed

[2018-11-14 23:29] abgoswam opened #1622 "Calibration estimators in ML.NET"
In the discussions for #1579,  one of the  proposals was to introduce calibration estimators in ML.NET.

<snip>  (from #1579)

.... a calibrator is just one peculiar form of trainer: it learns a monotonous function that transforms 'scores' into 'probabilities', with the goal to minimize the log-loss against the 'target label'. So, it is actually a univariate classification trainer. We should creat

[2018-11-14 23:32] abgoswam commented on #1579
Closing this issue,, since we verified  that `mlContext.BinaryClassification.EvaluateNonCalibrated` gave us the desired metrics for AveragedPerceptron.

Created a separate issue #1622  for adding calibration estimators in ML.NET

[2018-11-14 23:32] #1579 closed

[2018-11-15 00:48] artidoro commented on #1617
If I understand your question, you are looking for ways to inspect IDataView. There are some examples of how to do that in the ml.net cookbook: https://github.com/dotnet/machinelearning/blob/899ddc434b6c0aca72e86641b55730a1382e23c5/docs/code/MlNetCookBook.md#how-do-i-look-at-the-intermediate-data

Does that answer your question?

[2018-11-15 04:42] daholste opened #1625 "LightGBM trainer exception"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
Ran MML command line: execgraph "C:\Benchmarking\automl_graph.json"

Contents of automl_.graph.json:

[code]

- **What happened?**
Encountered an exception in LightGBM trainer

- **What did you expect?**
A run to completion, w/o exception

### Source

[2018-11-15 07:08] TomFinley commented on #1287
The implication is that anything that relies on it for temporary file creation and that requires must cease to do so. In order for us to do this, we must also remove temporary file creation from `IHostEnvironment`. (Also, regular file creation, though that is less urgent.) This I have found untangling this *relatively* easy to do, but there is one exception that is very troublesome because it expl

[2018-11-15 07:57] justinormont commented on #1625
@codemzs, @guolinke: Any ideas? (related to categorical handing of LightGBM)

[2018-11-15 08:08] nsulikowski commented on #1617
Ultimately that cookbook link needs the class InspectedRow to query IDataView.
I'm actually wondering if there is a way to query IDataView without a defined class (like InspectedRow).

[2018-11-15 17:33] #1531 closed

[2018-11-15 17:35] justinormont commented on #1203
Here's one example for classification of GitHub issues:

The DAG of components looks like:

@Zruty0 -- apologies, this one isn't even bizarre

[2018-11-15 18:03] artidoro commented on #1617
We recently added visualization for debugging. So you can inspect the IDataView in the VS debugger.

You can also use GetColumn as shown in the cookbook link. You will need to know what the column type is however.

What scenario were you thinking about?

[2018-11-15 18:29] najeeb-kazmi opened #1627 "Binary Saving and Loading from MLContext"
MLContext should have extensions for loading and saving binary files, like it currently has for text files. Specifically, add:

- `MLContext.Data.SaveAsBinary`, corresponding to `MLContext.Data.SaveAsText`
- `MLContext.Data.ReadFromBinaryFile`, corresponding to `MLContext.Data.ReadFromTextFile`

[2018-11-15 18:29] yaeldekel opened #1628 "Bug in PKPD"
In the GetMapper() method of PkpdPredictor, there is a double[] buffer that holds the scores of each individual predictor, however it is initialized to be the length of _numClasses instead of _mappers.Length.

[2018-11-15 18:38] yaeldekel opened #1629 "StopWordsRemoverTransform uses a dictionary with ReadOnlyMemory<char> keys"
This transform contains a dictionary to find the language of each example, and this bug causes the language to not be found in the dictionary.

[2018-11-15 19:14] rogancarr opened #1630 "GAM Default Arguments in the Dynamic API are incompatible with GAMs"
The new high-level APIs for GAMs are incorrect and not descriptive of the common choices someone will make.

Incorrect: They contain parameters that don't belong to the learner and contain duplicate parameters:
- `NumTrees` is not a parameter for GAM
- `NumLeaves` is not a parameter for GAM
- There are two options for tuning the learning rate: `learningRate` and `advancedSettings.LearningRates`, e

[2018-11-15 19:18] rogancarr opened #1631 "The top-level APIs do not support validation sets"
For learners that take validation sets like `GAM` and `FastTree`, there is no way to specify a `validation` set during `Fit()`.

This may be by design (because what does a validation set mean to a whole pipeline?), but it is very cumbersome to work around.

Does anyone have thoughts on how we can make the `validation` process easy to use and simple to understand?

[2018-11-15 19:28] yaeldekel opened #1632 "NGramHashTransform doesn't provide slot names"
There is an argument in the Arguments class to provide slot names, however the resulting schema doesn't contain this metadata.

[2018-11-15 19:38] yaeldekel opened #1633 "Marshal.Invoke cannot be called with a method that has a generic return type"
In DataViewConstructionUtils.cs there is a method GetGetterDelegate() that calls Marshal.Invoke with GetGetter<int> that has a generic return type (ValueGetter<TDst>).

[2018-11-15 19:48] denfromufa commented on #69
Actually here is ml.net integration with Python based on pythonnet by @sdpython

https://github.com/sdpython/csharpyml

[2018-11-15 19:56] rogancarr opened #1634 "Normalization option, FixZero, is not available in high-level APIs"
When I perform minmax normalization on dense datasets, I like to turn off "fixzero". This option is not available in the high-level APIs, e.g. `mlContext.Transforms.Normalize()`.

To use this, you need to go back and create `AffineColumn` and `MinMaxArguments` objects and use the old-style `Create` API:
[code]

I think these old-style APIs are very confusing to use, especially since there are two

[2018-11-15 20:00] petterton opened #1635 "TrainTestSplit random seed"
I am repeatedly calling `TrainTestSplit` for a data set (for cross validation) and see that the resulting split is the same every call. In sklearn, the `train_test_split` function has the possibility of taking a seed for a random number generator as an input. Could this be added also in ML.NET?

[2018-11-15 20:01] rogancarr opened #1636 "Recovering ITransformers from Predictor Objects"
Oftentimes it is necessary to have an actual object of a predictor, such as a `RegressionGAMPredictor` or `LinearRegressionPredictor` to access methods particular to the predictor. However, it is a bit cumbersome to get back to the `ITransformer` interface. One must manually create a `RegressionPredictionTransformer` like so:

[code]

I'd like to see all the predictor objects support a method like

[2018-11-15 21:46] najeeb-kazmi commented on #1635
Hi @petterton - in ML.NET, the seed is set at the environment level. You can set and change the seed when you create the `MLContext` object as in [this sample](https://github.com/dotnet/machinelearning-samples/blob/master/samples/csharp/getting-started/Clustering_Iris/IrisClustering/IrisClusteringConsoleApp/Program.cs).

Does that answer your question?

[2018-11-15 22:02] petterton commented on #1635
Hi @najeeb-kazmi , I was wondering if that was the case, but changing the seed when creating MLContext did not change the split for me. This also raises another question:
If calling TrainTestSplit multiple times, is every iteration expected to start from the same seed, giving the same split? (that is what I get now) Or do I have to recreate the MLContext for every split?

[2018-11-15 22:09] rogancarr opened #1639 "Precedence between main arguments and advancedSettings"
In some learnings, for example [GAM](https://github.com/dotnet/machinelearning/blob/8a45f37cf87e380a93146d08acac19f215648f9a/src/Microsoft.ML.FastTree/GamTrainer.cs#L135), the [APIs specify a set of default values](https://github.com/dotnet/machinelearning/blob/8a45f37cf87e380a93146d08acac19f215648f9a/src/Microsoft.ML.FastTree/TreeTrainersCatalog.cs#L110), with an optional advanced settings argume

[2018-11-15 22:10] daholste opened #1640 "'Ignore' not respected in schema"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
Ran MML command line: execgraph "C:\Benchmarking\automl_graph.json"

Contents of automl_.graph.json:

[code]

- **What happened?**
Even though Ignore:TX:16,25 is specified in the schema, the learners start expensive / slow text transforms / n-gram ex

[2018-11-15 23:03] najeeb-kazmi commented on #1614
Hi @daholste, for some reason that eludes me, Accuracy is not one of the metrics supported for `PipelineSweeper`. You can take a look [here](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.PipelineInference/PipelineSweeperSupportedMetrics.cs) for the full list of supported metrics.

That said, this is an experimental feature in ML.NET that is not officially supported or docu

[2018-11-15 23:05] daholste commented on #1614
Hey! Unfortunately, I do not think that list of supported metrics may work. When I type 'AccuracyMicro', it still crashes?

[2018-11-15 23:06] najeeb-kazmi commented on #1614
AccuracyMacro and AccuracyMicro are specific to the Multi-class classification domain. They will not work with Binary classification trainers.

[2018-11-15 23:08] daholste commented on #1614
Good to know, thanks Najeeb!

[2018-11-15 23:08] yaeldekel opened #1643 "GenerateCodeCommand bug"
This command has a replacementMap dictionary, and it uses it to find the keys in the generated code template and replace them with the values. But there is one pair in the dictionary with a key that doesn't exist in the template.

[2018-11-15 23:24] najeeb-kazmi commented on #1613
I don't think this argument is supported at the node level. You can ignore a column by simply not loading it in the first place. Btw, you can load the features into one vector with `col=Features:R4:0-77,79-202`. Please also see my comment about future support in #1614.

[2018-11-15 23:33] rogancarr opened #1644 "WhatTheFeature Scorer is Missing in ML.NET"
The ML.NET codebase has definitions for `IWhatTheFeatureValueMapper` and implementations for linear models and tree models. I would like to see a scorer in ML.NET that can produce these feature importance scores.

[2018-11-15 23:50] najeeb-kazmi commented on #1615
This is a long standing bug with Rocket. It runs with defaults only and silently stops, after exhausting the 14 binary classification learners we have. Do you see the same behavior with UniformRandom?

[2018-11-15 23:55] najeeb-kazmi commented on #1549
@jignparm any thoughts on this?

[2018-11-15 23:57] najeeb-kazmi commented on #1640
You can simply remove `col=Ignore:TX:16,25` from your schema. This will not load those columns in the first place.

[2018-11-16 00:02] daholste commented on #1640
I did try that, but got an exception when trying to load col 17 (after first ignored col, ie w/o first loading/mentioning col 16)

[2018-11-16 00:05] rogancarr opened #1645 "Add Documentation for GAM Trainers"
As @sfilipi pointed out on a PR #1642, the GAM trainers don't have samples available in the dynamic API. I suggest that we add samples to show how to use these learners.

@sfilipi 's comment:
[code]

[2018-11-16 00:06] daholste commented on #1615
This is good to know, thanks!
Unfortunately, I rather not use UniformRandom engine, b/c am trying to Bayesian sweep

[2018-11-16 00:38] daholste commented on #1625
Thanks @justinormont for the contacts. Thanks @codemzs for all your help on this today. @guolinke -- tr=LightGBMBinary{UseCat:+ CatSmooth:1} repeatedly fails, but tr=LightGBMBinary{UseCat:+} repeatedly works. Perhaps this is a LightGBM cat smoothing bug?

[2018-11-16 01:21] abgoswam commented on #1411
It turns out this can be handled by mapping slot names from the input schema during training. I have taken care of this in PR #1410

[2018-11-16 01:55] daholste commented on #1625
Unfortunately, I think I was wrong, and I do not think this bug is confined to smoothing

[2018-11-16 02:12] eerhardt opened #1648 "Change FastTree BinFinder to use floats and remove one data copy"
See the conversation here: https://github.com/dotnet/machinelearning/pull/1580#discussion_r233672947

With the above change, I made it so the FastTree `BinFinder.FindDistinctCounts` was no longer destructive of the `values` VBuffer during `CalculateBins`.

Now that it no longer destroys the buffer, we no longer need to copy it here:

https://github.com/dotnet/machinelearning/blob/cb9effcd091c60fa2

[2018-11-16 02:23] wschin opened #1649 "Tensorflow Transform Doesn't Accept Key-typed Labels"
In the current Tensorflow tests, I tried changing its label type from I8 to U4[0:9] but then I couldn't retrain Tensorflow anymore.

[2018-11-16 10:13] choward84 commented on #1490
I also got this issue, no code change, just build. version 0.6.0. OS: win10. Have you got the root cause?

[2018-11-16 11:11] nsulikowskijeff commented on #1617
I was trying to convert IDataView into some kind of HTML view, to understand the structure.
I looked at the way you wrote the VS debugger classes.. and that helped. It's not easy to do without knowing the types at compile time!

[2018-11-16 14:52] petterton opened #1651 "Monotone_constraints in LightGbm"
In my ML problem I get significantly better results from `LightGbm` by using the `monotone_constraints`  [parameter](https://github.com/Microsoft/LightGBM/blob/master/docs/Parameters.rst#monotone_constraints). I can not see that this is available through the ML.NET interface. Could this be added?

[2018-11-16 16:33] rogancarr opened #1652 "SCDA Summary Not Sorted"
The `Summary()` for `SDCA` does not sort the output by the feature index. This makes it difficult to read. For reference, `OLS` does sort by the feature index and is easy to read.

Version: ML.NET 0.7 Release

Example `Summary()` output:
[code]

[2018-11-16 16:52] #1576 closed

[2018-11-16 18:16] eerhardt opened #1653 "DifferentiableFunctionAggregator doesn't appear to be used - can we delete it?"
See the comment on https://github.com/dotnet/machinelearning/pull/1650/files#r234085400.

We don't appear to be using this class at all. We should investigate removing it. And if we decide we need it, we should put it under some tests.

[2018-11-16 20:15] najeeb-kazmi commented on #1651
I agree this would be a useful addition to ML.NET. We provide a wrapper for LightGBM but this parameter is not exposed. I will file this for our triage team to review and prioritize.

[2018-11-16 20:40] najeeb-kazmi commented on #1635
Actually, I was wrong about the seed in `MLContext`. That does not affect the behavior of `TrainTestSplit`, which has a deterministic behavior implemented in `TrainContextBase` [here](https://github.com/dotnet/machinelearning/blob/e74bc65524430a1e0ed06912bdb5c6c21ef8d158/src/Microsoft.ML.Data/TrainContext.cs#L37).

@Zruty0 any thoughts on how we can get this in? Currently, we are using `RangeFilte

[2018-11-16 21:31] #1630 closed

[2018-11-16 22:14] #721 closed

[2018-11-17 00:56] #1409 closed

[2018-11-17 01:50] Ivanidzo4ka opened #1660 "ReadOnlyMemory<char> codec fails if we write and then read empty vector"
How to reproduce:
Go to WordBagWorkout test and set WordHashBagEstimator to have invertHash to be -1
`Append(new WordHashBagEstimator(Env, "text", "bag_of_wordshash", invertHash:-1));`

https://github.com/dotnet/machinelearning/blob/bc6d7f463258eb4fc9af5ce55b9b426b626312fe/src/Microsoft.ML.Data/Transforms/InvertHashUtils.cs#L397

this thing will try to save VBuffer<ReadOnlyMemory<char>> with size

[2018-11-18 04:02] Zruty0 commented on #1635
Yep, it's a bug. We need to make `TrainTestSplit` take a random seed

[2018-11-18 04:34] TomFinley commented on #1203
Somehow I missed this until reviewing @jwood803's PR #1620.

@Zruty0, the phrase first class citizen implies there is no intrinsic difference in power and fundamental privilege between two groups of things -- in the case of this programmatic model, this seems to suggest no different between what you can do and the level of support you can expect. Assuredly there are differences in this case -- .NE

[2018-11-18 15:17] Finansnet commented on #333
In my case problem was on some particular machines. The same application was working fine on development ones, but did not work on production environment. Problem was solved by installing Visual C++ Redistributable 2017 on production server.

Marek

[2018-11-18 21:11] #1241 closed

[2018-11-18 23:00] #1560 closed

[2018-11-19 06:05] daholste opened #1665 "AutoML seeks to minimize RSquared, instead of maximize it"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

AutoML seeks to minimize RSquared, instead of maximize it --
https://github.com/dotnet/machinelearning/blob/e0906608ca0d37ad0c10ba647e83b45990afde43/src/Microsoft.ML.PipelineInference/PipelineSweeperSupportedMetrics.cs#L84

[2018-11-19 06:07] daholste opened #1666 "Exception in AutoML Hyperparam Sweeper"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Source code / logs
[code]

[2018-11-19 06:09] daholste opened #1667 "Crash in OnlineGradientDescentRegressor"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
Ran AutoML
- **What happened?**
Exception below

### Source code / logs

Exception:
[code]

[2018-11-19 06:11] ShinobiWannabe opened #1668 "14 TB of Hundreds of Thousands of Input Files For Training?"
I am sorry if this was answered, but the closest I could find is this:
https://github.com/dotnet/machinelearning/issues/192

Which looks to have an answer of specifying all the related files.
`var data = reader.Read(exampleFile1, exampleFile2);`

The other tutorials on Microsoft all used a single file.

I am looking at something to examine about 14 Terabytes worth of data within hundreds of thousa

[2018-11-19 06:31] daholste commented on #1666
I've also seen this related exception:

[code]

[2018-11-19 17:19] wschin opened #1669 "Float v.s float"
In ML.NET codebase, one can see two different names for 32-bit float type. Recent PR uses `float` while [old places](https://github.com/dotnet/machinelearning/blob/e0906608ca0d37ad0c10ba647e83b45990afde43/src/Microsoft.ML.Sweeper/ISweeper.cs#L5) have `Float`. It'd be nice to have only one of the two styles.

[2018-11-19 17:50] Ivanidzo4ka commented on #1669
@wschin we are trying to get rid of `Float` in our code, and if you look into estimators PRs we almost always delete that `using Float = System.Single;` line and use `float` instead

[2018-11-19 18:11] #608 closed

[2018-11-19 18:53] #1577 closed

[2018-11-19 19:32] #1629 closed

[2018-11-19 20:46] eddieysong commented on #1503
I've updated the package to v0.7, and the problem seems to have been solved.

[2018-11-19 21:06] justinormont opened #1672 "Low discrepancy random"
Low discrepancy random sweeper (LDRand) should be moved to the external repo.

LDRand was held back in the internal repo due to a dependence on the MKL library. This issue has been resolved, and I think we are now able to move this code.

[2018-11-19 21:09] justinormont commented on #1237
I would suggest fixing this issue by having issue #1203 (ML.NET command line tool) create the `maml.exe` and `./maml` binaries.

[2018-11-19 21:51] #1616 closed

[2018-11-19 22:38] #1150 closed

[2018-11-19 22:58] TomFinley commented on #1669
Just some history, in the long vanished past we used to have two builds, a "double" and a "single" build. (This was in the days before `IDataView` where pipelines could accommodate either.) But, when we removed the compiler switch, it was beneficial to keep the declaration around: by doing so you only had a couple thousand lines changed, instead of tens of thousands of lines changed.

We've been o

[2018-11-19 23:15] rogancarr opened #1675 "What the Feature Scorer for FastTree Ranking"
Potential bug from a customer: `What-The-Feature scorer` is not computing feature contributions for `FastTree Ranking`.

Needs to first be reproduced with a sample dataset in ML.NET, then can be triaged as a bug or non-issue.

Reference Issue for WTF: #1644

[2018-11-19 23:48] rogancarr commented on #1675
Confirmed as a bug in `FastTree` for `Ranking` problems.

[2018-11-20 00:56] rogancarr opened #1679 "Cannot access GAM model parameters from a trained model"
When we train a GAM model, we want to inspect the features, just as we do a linear model. Currently, the only way we can do this is through the `SaveSummary()` command, where we pass in a `StringBuilder` object.

I propose adding public methods to the GAM objects to fetch back the `intercept` (bias / baseline prediction), `feature-indices`, and `feature-index-weights`. This would allow for inspect

[2018-11-20 01:55] abgoswam commented on #1387
Even with the 2 fixes above, OVA + AveragedPerceptron  still performs poorly.

**Iris** dataset.
- Internal repo : 0.97 (micro accuracy)
- ML.NET : 0.8 (micro accuracy)

(Sample test)

        public void OvaAveragedPerceptronWithProbability()
        {
            string dataPath = GetDataPath("iris.txt");
             // Create a new context for ML.NET operations. It can be used for exception tr

[2018-11-20 03:37] Zruty0 commented on #1667
Although it's hard to understand the reason purely by stack trace, but I suspect this is due to the fact that we didn't normalize data.

[2018-11-20 03:38] Zruty0 commented on #1669
Yes, just recently I saw someone mass-renaming `Single` to `float`, and ending up with `Ldafloatbox` somewhere in comments :)

[2018-11-20 03:43] Zruty0 commented on #1668
@ShinobiWannabe , there is no principled limitation for this type of scenario, as long as you don't try to use an in-memory operation (like training `FastTree`/`LightGBM`, for example).

However, there are 2 difficulties I envision right now:
- We don't have a standard component that can read from multiple files. You could try to create `new MultiFileSource("file1.txt+file2.txt+file3.txt")` (the `

[2018-11-20 08:18] mdabros commented on #480
@CESARDELATORRE Current ML.Net deep learning efforts seems to be mostly targeting model scoring/predictions, and transfer-learning scenarios.

From the roadmap I can see the following bullets under long term development:

 - Deep Learning Support
   - Integrate with leading DNN package(s)
   - Support for transfer learning
   - Hybrid training of pipelines containing both DNN and non-DNN predictor

[2018-11-20 18:02] Zruty0 commented on #1565
@ganik , I suggest we make the necessary update to NimbusML to not rely on legacy namespace, and migrate out whatever entry points are needed for that

[2018-11-20 18:06] Zruty0 opened #1684 "Obsolete the Legacy API"
As long planned, we want to obsolete the Legacy API in the 0.8 release.
Namely:
- Mark everything in `Legacy` assembly to be `[Obsolete]`.
- For all our tests that trigger the obsolete warning, suppress the warning.
- For all our code that triggers the obsolete warning, either fix to not rely on `Legacy`, or make obsolete, or remove.

[2018-11-20 18:13] TomFinley commented on #1666
Hi @daholste and @rogancarr . As you've found with this, this code in particular is highly unstable and not quite ready for primetime. I think someone has a plan, or at least a desire, to have it continue to be developed, but not of course as part of the ML.NET repository. Our plan is pursuant to #689, as well as out of absolute necessity as we're getting rid of the ML.NET legacy API, is that it w

[2018-11-20 18:19] GalOshri opened #1685 "MapValueToKey and MapKeyToValue in different catalogs"
The `MapValueToKey` transform is currently in the `Categorical` transforms catalog, whereas the `MapKeyToValue` transform is in the `Conversion` transforms catalog.

Would it be more helpful to have both of these in the same catalog, as the latter transform is often needed to reverse the former? Otherwise a user might not realize that a transform exists to convert back from key to value when they

[2018-11-20 18:39] GalOshri commented on #1685
I am very slightly leaning towards `Conversion` as we are going from one type to another. On the other hand, I often describe the `MapValueToKey` transform as being needed when I have a categorical label.

[2018-11-20 19:00] CESARDELATORRE commented on #480
@mdabros  - You are right, in the short-term, the current roadmap is to support multiple Deep Learning frameworks but initially only for scoring a pre-trained model.
For now, we support TensorFlow and ONNX formats.

 In the longer term, we might implement training from ML.NET API, like training a TensorFlow model, but that is not confirmed in the roadmap for the upcoming releases and will take mor

[2018-11-20 22:42] eerhardt opened #1688 "CpuMath has a bad project reference to ML.Core"
See https://github.com/dotnet/machinelearning/pull/1659#discussion_r235195505

We recently made CpuMath depend on ML.Core, but this is broken.

The `Microsoft.ML` nuget package depends on the `Microsoft.ML.CpuMath` NuGet package.  So having the CpuMath.dll depend on `Microsoft.ML.Core` is backwards.

See https://github.com/dotnet/machinelearning/pull/542 for the reasoning why this was done that wa

[2018-11-20 23:09] abgoswam commented on #1411
PR #1410  took care of this

[2018-11-20 23:09] #1411 closed

[2018-11-20 23:57] ShinobiWannabe commented on #1668
Ok thank you for the answer.  Good to know.

[2018-11-20 23:57] #1668 closed

[2018-11-21 00:04] CESARDELATORRE commented on #1318
In addition to the internal estimator classes, for the MLContext catalog, I'd like to highlight that many methods creating estimators in the new MLContext catalog **are named in a way that look like properties, with a noun instead of having a verb, since they are methods**.

According to C# conventions (and most languages), a method's name should have a verb describing the action being performed b

[2018-11-21 00:27] CESARDELATORRE opened #1689 "Include the "save file" action (.ZIP file) as part of model.SaveFile()"
Currently, whenever we are saving a .ZIP model file, you always need to handle the code for the File stream class.

I think that is repetitive code that could be included in the API.
Instead of:

[code]

We could have an overridden method so I could simply do the following:

`mlContext.Model.Save(trainedModel, modelPath);`

Or even the following, if those methods were part of the model class itsel

[2018-11-21 00:39] CESARDELATORRE opened #1690 "Rename mlContext.Data.TextReader() to mlContext.Data.CreateTextLoader()"
Since the object being created is a "TextLoader", I'd recommend the method's name to say so, instead of "TextReader" which looks like a different type.

I mean code like the following feels confusing:

[code]

In addition to that, methods should have a verb as part of the name, so if what it is doing is to create a TextReader, let's say so, as:

mlContext.Data.CreateTextLoader()

We're not being c

[2018-11-21 01:41] CESARDELATORRE opened #1693 "QUESTION: The "pipeline" is immutable; sometimes a chain of Estimators, sometimes a single Estimator. Easy to understand?"
This is just an observation of a possible risk. I'm not saying that my hypothetical proposal below is better, since it is probably less flexible. I just would like to get feedback from the community about our current approach to double-check we're on the right path.

The fact that a "pipeline" sometimes is a "chain of estimators", but sometimes "it can be" a single estimator could be confusing for

[2018-11-21 06:06] #1627 closed

[2018-11-21 15:23] #1608 closed

[2018-11-21 17:03] jwood803 commented on #1688
@eerhardt I was looking at this while messing with an additional fix for #1566. Am I correct in thinking that `Microsoft.ML.Core` should have a NuGet package reference to `Microsoft.Ml.CpuMath`? Since it's in the same project does it need to reference the `nupkgproj`?

[2018-11-21 18:18] mdabros commented on #480
@CESARDELATORRE Thanks for the information, and thanks for the efforts. I hope we will one day see a deep learning training API in ML.Net :-)

[2018-11-21 18:34] Zruty0 commented on #1693
I will not comment on the user adoption / likability of the API, I would like to point out more of an architectural concern: we expect 'estimators' to be passed to some (potentially lazy) methods that will fit them (maybe repeatedly) at their convenience.

Having estimator pipelines (that are estimators) mutable looks dangerous in this case: it will immediately compromise thread-safety, and introd

[2018-11-21 18:37] artidoro opened #1695 "Separate assembly for statically typed API extensions"
There should be a greater separation between the statically typed API and the dynamic API, so that users are more aware of which one they are using. Ideally the statically typed extensions should live in a separate assembly, but they should at least be in a separate namespace.

Currently some extensions for the statically typed API are not under the StaticPipe namespace. From preliminary search th

[2018-11-21 18:38] Zruty0 commented on #1690
Most of our extension methods to `MLContext` are factory methods that create estimators.

Notable exceptions are `Save/Load` in `MLContext.Data`, and `TrainTestSplit/CrossValidate` in the learning tasks.

I think that trying to prefix every factory method with `Create` just to differentiate the 50 factory methods from the other 4-6 non-factory methods is quite expensive.

In addition, I would like

[2018-11-21 19:23] #1660 closed

[2018-11-21 20:18] Zruty0 commented on #1688
I wonder why don't we simply make it one NuGet?

[2018-11-21 20:42] petterton commented on #752
@Ivanidzo4ka - With the new Api available: Is this possible now? I can see that `EarlyStoppingRound` is now available in the `LightGbmArguments` class. But I can not see a way to set a validation set...

[2018-11-21 20:53] dubansal opened #1696 "(Azure Stream Analytics) Multivariate support for time series anomaly detection"
### System information

- **OS version/distro**:  All
- **.NET Version (eg., dotnet --info)**: All

### Issue
- **What did you do?** Azure Stream Analytics is currently running a private preview of built-in Anomaly Detection ML models.

- **What happened?** In our discussions with several customers in private preview, lack of support for multi-variate A/D is coming up as a blocker to have them ful

[2018-11-21 20:56] Zruty0 opened #1697 "Remove "Runtime" from all namespace reference, sort namespaces as per .net convention and enforce the same."
Remove "Runtime" from all namespace reference, sort namespaces as per .net convention listed below and enforce the same.

**SA1210:** Using directives must be ordered alphabetically by namespace.
**SA1208:** System using directives must be placed before other using directives.

[2018-11-21 20:58] Zruty0 commented on #1636
I don't think the predictor objects have enough information to do it.
Specifically, they don't know the feature column mapping, the schema of the train set and the scorer settings (the latter one is irrelevance for regression, but relevant for classification).

[2018-11-21 21:02] Zruty0 opened #1698 "Final public API for predictor classes"
1. All predictor classes should be named `SoAndSoModelParameters` (like `KMeansModelParameters`, `LinearBinaryModelParameters` etc.

2. Strive to remove unnecessary interfaces from the public API: thinks like `IPredictor`, `IPredictorProducing<float>` etc. should not be public.

3. Review the public surface of `ModelParameters` to enable ONLY parameter introspection. For example:
  - `KMeans` shou

[2018-11-21 21:05] Zruty0 opened #1699 "Final public API for KMeans predictor"
Part of #1698

Let's make `KMeansModelParameters` a good public class for KMeans trained artifacts.

- Move to `Microsoft.ML.KMeansClustering` or an appropriate namespace
- Reduce the public surface
- Add public constructor
- Add a sample

[2018-11-21 21:07] Zruty0 opened #1701 "Final public API for Tree predictors"
Part of #1698

Let's make `TreeEnsembleModelParameters` a good public class for our tree learners' trained artifacts.
This applies to all descendants of `FastTreePredictionWrapper`.

- Move to `Microsoft.ML.FastTree` or an appropriate namespace
- Reduce the public surface
- Add public constructor
- Add a sample

[2018-11-21 21:09] Zruty0 opened #1702 "Final public API for linear learners"
Part of #1698

Let's make `LinearModelParameters` a good public class for Linear models' trained artifacts.
This applies to all linear models (SDCA, LR, SymSgd, OLS etc.)

- Move to `Microsoft.ML.StandardLearners` or an appropriate namespace
- Reduce the public surface
- Add public constructor
- Add a sample

[2018-11-21 21:10] Zruty0 opened #1703 "Final public API for remaining learners"
Part of #1698

Let's make good public classes for trained artifacts of:
- `FFM`
- `Naive Bayes`
- `PCAAnomaly`
- `MF`
- Any other trainers not covered in sub-issues of #1698

- Move to an appropriate namespace inside `Microsoft.ML`
- Reduce the public surface
- Add public constructor
- Add a sample

[2018-11-21 21:12] Zruty0 opened #1704 "Make members of Data and Transforms assemblies internal"
Similar to #1602, let's make as many members of these assemblies internal as possible

[2018-11-21 21:12] Zruty0 opened #1705 "Make members of leaf assemblies internal"
Similar to #1602, let's make as many members of these assemblies internal as possible.

This applies to all assemblies other than `Core`, `Data` and `Transforms`.

[2018-11-21 21:15] eerhardt commented on #1688
https://github.com/dotnet/machinelearning/issues/534 Explains why we didn’t make it one NuGet package

[2018-11-21 21:21] Zruty0 opened #1706 "Final interface of SchemaShape"
1. Move to `Microsoft.ML.Data`
2. `internal-best-friend` all methods that are not accessing columns.
3. Make `SchemaShape` be a `IReadOnlyList<SchemaShape.Column>`
4. Add an accessor by name, and `GetColumnOrNull`, like `Schema` has.
5. Make `SchemaShape.Column` a `struct`.
6. Remove `SchemaException`.

[2018-11-21 21:26] Zruty0 opened #1707 "Merge API assembly into Data"
Go over `Microsoft.ML.Api` in the following fashion:

- For all code that is currently used by our code or tests, move it to `Microsoft.ML.Data`.
  - This, I assume, will include all schema propagation, `PredictionEngine` (but not Batch), and `CustomMappingEstimator` and probably the `StatefulFilter` for the time series.
- For all code that is needed by TLC, move back to TLC.
  - I'm not aware of

[2018-11-21 21:34] Zruty0 opened #1708 "Add MLContext.Data extensions for schema comprehension"
- Move `AsEnumerable<T>` to `Microsoft.ML` (move AsEnumerable into an isolated file and make it an extension to MLContext). #2182.
- Move `AsCursorable<T>` to `Microsoft.ML.Data`: I'm not sure if it's ever useful, so let's at least get it out of people's faces. Maybe `internal-best-friend` it. Working item: #2182
- Add `MLContext.Data.ReadFromCollection<T>` (And make `env.CreateDataView` and `env.

[2018-11-21 21:41] sfilipi commented on #1604
Checking the impl mechanism: so we'll have configs for norm/calibration/cache (or we already have them through TrainContext/TrainInfo) and default normalization, calibration and caching will be no?

[2018-11-21 21:45] Zruty0 commented on #1604
No, we just remove all auto-caching, calibration and normalization, period.

The users will be responsible to normalize the data if needed (via `mlContext.Normalize`), cache in memory if desired (via `mlContext.Data.Cache` or `pipeline.AppendCacheCheckpoint`), and calibrate if desired (after #1622 is done).

[2018-11-21 21:45] sfilipi commented on #1706
3. Make SchemaShape be a IReadOnlyList<SchemaShape.Column>

Do you mean the Column[] Columns inside the SchemaShape should convert toIReadOnlyList<SchemaShape.Column> ?

[2018-11-21 21:56] sfilipi commented on #1708
@Zruty0 @TomFinley afa naming, is there a distinction between the Make and Create prefixes?

[2018-11-21 21:59] sfilipi commented on #1515
@Zruty0 a bit unclear on what is the conclusion here: are we going to use Attributes for position, role and other to extract column related informaiton?

[2018-11-21 22:01] GalOshri commented on #1604
Would it be feasible to provide some documentation/hints on when normalization/caching/calibration are important? For example, if a learner today is configured to add normalization, should we update the docs for that learner to suggest that normalization is important? Or perhaps just explain in the docs on normalization in which situations it might be important.

/cc @JRAlexander

[2018-11-21 22:29] Zruty0 commented on #1706
No, I mean the class itself should be `IReadOnlyList<SchemaShape.Column>`. This is to be more parallel to `Schema` class, which it resembles.

[2018-11-21 22:32] Zruty0 commented on #1515
If this class is going to be used for schema comprehension (i.e. inside `MakePredictionFunction`), we will use `VectorType`, `KeyType` and `ColumnName` attributes for schema refinement, as we always do.

If this class is going to be used for specifying the schema of a text file, we will use `LoadColumn` to specify the index (or indices, for vector columns). We will also respect the above attribute

[2018-11-21 22:36] Ivanidzo4ka commented on #752
You are correct, we forgot to expose validation set usage.
#1709  should fix that problem.

[2018-11-21 23:40] CESARDELATORRE commented on #1690
Just saying it looks like Property objects instead of methods as it is against the C# conventions (and most languages). A method's name should have a verb describing the action being performed by that method:

https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-type-members#names-of-methods

If we don't want to rename, it is an option, but for sure it'd be better to do it n

[2018-11-22 00:05] Anipik opened #1711 "Adding a new ci leg for netcoreapp 3.0"
Lately some of our commits are breaking stuff for our netcoreapp3.0
with the new ci leg up, we wont have to test the changes locally for netcoreapp3.0

[2018-11-22 00:57] CESARDELATORRE commented on #1689
Important to note is that, as I mentioned, it should also have the possibility of using an existing file stream.
But in most of the cases you just want the simplest way which is to save the model's .ZIP file in a path, in a single line:

`model.Save(mlContext, filePath);`

For instance, in the case of the XMLDocument, it provides 4 overloads, by using stream, just the filepath, TextWriter and XMLW

[2018-11-22 01:14] #1679 closed

[2018-11-22 01:30] #1636 closed

[2018-11-22 02:29] shauheen commented on #1219
Is there a PR for this?

[2018-11-22 02:32] shauheen commented on #978
@codemzs is there a PR associated with this, or this issue is closed?

[2018-11-22 04:04] Zruty0 commented on #1708
No. It's like tabs and spaces :)

[2018-11-22 06:00] sharpwood opened #1712 "Does ML.Net support KNN?"
https://github.com/markdregan/K-Nearest-Neighbors-with-Dynamic-Time-Warping

I suggest adding the algorithm of this article to the function of time series.

[2018-11-22 06:21] DevLob-zz commented on #28
i do that but still can't build the solution

[2018-11-22 06:30] rauhs commented on #1693
I also very much like the immutable API (I'm mostly using Clojure). Forgetting to "catch" the return value of `.Append` can certainly be source of bugs. It seems that tagging the method as `[Pure]` would at least tell visual studio to give a wiggly line if you don't assign it a value. But then: The method isn't really pure, is it?

[2018-11-22 11:53] petterton commented on #1635
@Zruty0 : Will this be fixed in 0.8? (Not assigned to a milestone yet...)

[2018-11-22 13:11] Vijay27anand opened #1713 "How to use Feature selection"
I want to use FeatureSelectorByMutualInformation feature selection, can you please provide me a sample code snippet how to use it with a dataset,  i could not able find in the samples provided.

[2018-11-22 14:56] rauhs commented on #1226
Any update on this? This is almost a blocker for us. Without it training takes much longer.

[2018-11-22 16:59] eerhardt commented on #28
What error are you getting?

[2018-11-22 21:43] MarcoZama commented on #1693
Personally i like pattern. I agree with @lobrien that probably the name misleading.

[2018-11-22 22:55] abgoswam opened #1715 "Microsoft.ML.Samples does not have a TensorFlowTransform example"
Creating an issue to make the following updates to the TF Transform:

- add mlcontext extension
- add example to Microsoft.ML.Samples

[2018-11-22 23:56] Anipik commented on #1096
Tests Disabled For Netcoreapp3.0

- [ ] TestCrossValidationMacro
- [ ] MulticlassLRTest
- [ ] MulticlassLRNonNegativeTest
- [ ] BinaryClassifierLogisticRegressionNonNegativeTest
- [ ] BinaryClassifierLogisticRegressionBinNormTest
- [ ] DefaultCalibratorPerceptronTest
- [ ] PAVCalibratorPerceptronTest
- [ ] RandomCalibratorPerceptronTest
- [ ] MatrixFactorization
- [ ] CommandTrainMlrWithStats
- [

[2018-11-23 15:15] DevLob-zz commented on #28
![image](https://user-images.githubusercontent.com/5037612/48950280-4ee0c200-ef43-11e8-995b-2a2944458abc.png)

[2018-11-23 16:43] DevLob-zz commented on #28
[image: image.png]

On Thu, 22 Nov 2018 at 19:00, Eric Erhardt <notifications@github.com> wrote:

--

*Phone Number : 01110024783*
*Skype : SkipCoder*
*FB :      http://www.facebook.com <http://www.facebook.com/NOBDEV>*

[2018-11-23 16:44] DevLob-zz commented on #28
![image](https://user-images.githubusercontent.com/5037612/48953812-c0bf0880-ef4f-11e8-9d49-4fc64d5119bb.png)

[2018-11-23 17:01] eerhardt commented on #28
The last 2 errors about not supporting .NET Core 3.0 shouldn't block you from building. They can be ignored.

The first screen shot you posted with 1000 errors - are you still getting those?

What does the "Output" window say when you build?

[2018-11-23 18:51] DevLob-zz commented on #28
unfortunately still have above 400 error

here is the  "Output" window Log
1>------ Build started: Project: Microsoft.ML.InternalCodeAnalyzer, Configuration: Debug Any CPU ------
1>CSC : error CS7027: Error signing output with public key from file 'C:\Users\Asalim\Documents\GitHub\machinelearning\Tools/Open.snk' -- Could not find file 'C:\Users\Asalim\Documents\GitHub\machinelearning\Tools\Open.sn

[2018-11-23 18:56] DevLob-zz commented on #28
I use C# not F#

thanks a lot

[2018-11-25 08:38] DevLob-zz commented on #28
thank you very much its works

best regards

[2018-11-25 22:42] GalOshri commented on #1397
@rustd would have the latest details about this.

[2018-11-26 02:25] CESARDELATORRE opened #1718 "Need PredictionFunction to provide object-pooling or to be thread-safe"
This issue is suggesting an enhancement since the current approaches/workarounds have both drawbacks, meaning we're not getting the scalability and performace as good as it could be in multithreaded scenarios like ASP.NET Core web apps or Web API services.

**Context:**
In multiple scenarios, but especially in ASP.NET Core web apps, the **model-object (ITransformer)** and the **prediction function

[2018-11-26 03:34] guolinke commented on #1625
It seems there is a bug in model conversion from LightGBM to FastTree.

https://github.com/dotnet/machinelearning/blob/18f7acc6b2f6e1cada41bb7ad2e03e53ae381849/src/Microsoft.ML.FastTree/TreeEnsemble/RegressionTree.cs#L469

@codemzs any idea about this bug?

[2018-11-26 04:04] rogancarr commented on #1712
Hi @sharpwood ,

Thanks for reaching out! We do not currently have an algorithm available for K-Nearest-Neighbors. I've added the KNN-with-dynamic-time-warping algorithm as a feature-request for time series.

[2018-11-26 18:01] sfilipi opened #1720 "Remove the dependency on Math.Net numeric"
For the training statistics of Logistic regression, and specifically the (STD calculation)[https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.StandardLearners/Standard/LogisticRegression/LogisticRegression.cs#L440] we have two implementations: one in the Hal Learners project, that gets packaged in the HalLearners nuget, and the other on the StandardLearners project, that gets p

[2018-11-26 18:02] #1585 closed

[2018-11-26 18:11] DevLob-zz opened #1721 "StochasticDualCoordinateAscentClassifier issue when x86 (32 bits)"
### System information

- **OS version/distro**:
Windows 10
- **.NET Version (eg., dotnet --info)**:
4.6.1
### Issue

- **What did you do?**
try to use StochasticDualCoordinateAscentClassifier as classifier on My ML application
- **What happened?**
i ran it through 86x and through the following exception

  Message=Managed Debugging Assistant 'PInvokeStackImbalance' : 'A call to PInvoke function '

[2018-11-26 19:11] shauheen commented on #1387
@abgoswam have you investigated this further?

[2018-11-26 19:29] #725 closed

[2018-11-26 20:01] JRAlexander commented on #1689
Can this also be made Async?

[2018-11-26 20:07] abgoswam commented on #1387
@shauheen . I looked into this but have not been able to find the root cause yet.

[2018-11-26 20:35] shmoradims commented on #1690
@eerhardt @TomFinley @Zruty0 could you please discuss if we're doing this? If it's "won't fix", please close it.

[2018-11-26 20:38] shmoradims commented on #1696
@codemzs is this issue ready for triage or needs more info?

[2018-11-26 20:45] #1666 closed

[2018-11-26 21:46] eerhardt commented on #1690
I agree that method names should be verbs (as the .NET design guidelines state).

This guideline doesn't seem to be followed consistently in the API:

verbs
* `mlContext.Transforms.Categorical.MapValueToKey("Label")`
* `mlContext.Data.ReadFromTextFile(new TextLoader.Column[]`
* `context.Transforms.Normalize()`

nouns
* `context.Data.TextReader`
* `context.Transforms.CustomMappingTransformer`
* `co

[2018-11-26 22:05] eerhardt commented on #1718
Another option is to use a `[ThreadStatic]` field in your ASP.NET Core application. Since threads are pooled by default, if you re-use a thread from the thread pool, the field will already be populated. And you are guaranteed that only the current thread can access the field at the current time (since it is thread static).

However, you need to be careful not to cache the variable across async bou

[2018-11-26 22:09] rogancarr opened #1723 "Create a sample for Permutation Feature Importance"
We recently added 'PermutationFeatureImportance` for `Regression`. It would be great to have a sample on how to use it.

[2018-11-26 22:32] shmoradims commented on #1721
@CESARDELATORRE could you please provide the data file (noramalTagsTrainingData) for repro?

[2018-11-26 22:37] TomFinley commented on #1718
Hi @shmoradims and @CESARDELATORRE, and thank you @CESARDELATORRE for such a complete description of your problem. Stateful objects in libraries that are not somehow intrinsically threadsafe generally should not handle their own synchronization, because what constitutes "thread safe" is very much an application specific question. Complicating this further, this is especially true in ML.NET where t

[2018-11-26 22:45] shmoradims opened #1725 "Docs rendered incorrectly"
These pages don't have correct docs rendered:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.selectfeatures.countselect?view=ml-dotnet
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.selectfeatures.mutualinformationselect?view=ml-dotnet

It's rendering like this:
![image](https://user-images.githubusercontent.com/15950225/49046677-c3a53d80-f189-11e8-8218-d4

[2018-11-26 22:53] rogancarr commented on #1712
(Leaving open until triaged.)

[2018-11-26 23:03] sfilipi opened #1726 "EntryPointSDCARegression test fails intermittenly in Mac Debug with: longIdx=449, invariants.Length=449"
Related to #1471

Failure is in [SdcaBinary.cs](https://github.com/dotnet/machinelearning/blob/284e02cadf5342aa0c36f31d62fc6fa15bc06885/src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs#L541)

 Contracts.Assert(0 <= longIdx & longIdx < invariants.Length, $"longIdx={longIdx}, invariants.Length={invariants.Length}");

Test Microsoft.ML.Runtime.RunTests.TestEntryPoints.EntryPointSDCARegression

[2018-11-26 23:05] #1684 closed

[2018-11-26 23:06] CESARDELATORRE commented on #1718
@eerhardt - Agree, but the problem is not just to protect/lock the prediction function. The other problem is "how to re-use" the prediction function so the `CreatePredictionfunction()` is called the smaller number of times possible in a web/Http based application.

My point is that in most of the cases, for most Http requests, either using [ThreadStatic] or Scoped in DI/IoC, the method .CreatePred

[2018-11-26 23:14] shmoradims commented on #1713
That transform is changed to MutualInformationFeatureSelector. The documentation for is not rendering properly. I've added issue #1725 to fix it.

[2018-11-26 23:15] eerhardt commented on #1718
`CreatePredictionFunction()` won't be called once per Http request when using `[ThreadStatic]`. The point of the `[ThreadStatic]` solution is to cache the PredictionFunction on the thread. Then when the thread is re-used to service the next Http request, the PredictionFunction gets re-used as well. Thus on every subsequent Http request that the thread services, a new PredictionFunction isn't creat

[2018-11-26 23:31] CESARDELATORRE commented on #1693
Right, sounds great that folks like our current approach, but we just had four comments. It would be good to keep it some more time to gather more feedback? :)

[2018-11-26 23:36] shmoradims commented on #1565
@ganik could you please add the NimbusML issue here?

[2018-11-26 23:43] #752 closed

[2018-11-26 23:43] shmoradims commented on #1667
@daholste could you please provide repro code+data?

[2018-11-26 23:47] shmoradims commented on #1237
@yaeldekel @Zruty0 @justinormont, could you please finalize the suggested fix?

[2018-11-26 23:48] #1503 closed

[2018-11-26 23:53] shmoradims commented on #1649
@wschin could you please provide more detailed repro code? Which test exactly?

[2018-11-26 23:59] shmoradims commented on #1617
This is a the new debugging feature that can help:
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-do-i-debug-my-experiment-or-preview-my-pipeline

Did this help?

[2018-11-27 00:04] nsulikowski commented on #1617
Yes. Thanks.
It could be useful to have a non-generic method that returns objects....

object data.GetColumn(mlContext, "AllFeatures")

[2018-11-27 00:05] nsulikowski commented on #1617
Yes. Thanks.

[2018-11-27 00:18] Ivanidzo4ka commented on #1628
Fixed in #1709

[2018-11-27 00:18] #1628 closed

[2018-11-27 00:57] gilnahmias opened #1729 "Add Random Forest support"
To ease the transition from Azure ML Studio to ML.NET, please add an equivalent of https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/multiclass-decision-forest to ML.NET

[2018-11-27 00:58] gilnahmias commented on #613
Need an equivalent of https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/tune-model-hyperparameters to ease transition from Azure ML Studio

[2018-11-27 03:41] rogancarr opened #1730 "Add detailed XMLDocs for Generalized Additive Models"
The XML docs for Generalized Additive Models are not very detailed and sometimes incorrect (e.g. in the tree trainer catalog). I would like to see detailed descriptions in the XML docs that link to samples.

[2018-11-27 04:20] rogancarr opened #1732 "Add detailed XML Docs for Permutation Feature Importance"
The XML Docs for `Permutation Feature Importance`, aka `PFI`, can be extended a bit to discuss the technique and the derivation.

[2018-11-27 06:04] rogancarr opened #1734 "Add Permutation Feature Importance for Binary Classification Tasks"
The `PermutationFeatureImportance` currently only supports Regression. We also need to add support for Binary Classification.

[2018-11-27 06:54] DevLob-zz commented on #1721
this is sample data , the original learning data save in SQL Server then load to my application

using the following code
`using (reader) //close con on reader.Close
            {
                while (reader.Read())
                {
                    noramalTagsTestData.Add(
                        new NormalTagsModelFeatures()
                        {
                            Label = (st

[2018-11-27 09:27] MichalStrehovsky opened #1736 "Use of Reflection.Emit in ML.NET"
Can ML.NET be used on platforms that don't support Reflection.Emit, such as Windows UWP or Xamarin iOS?

I'm helping a customer get ML.NET running on UWP, but seeing there are code paths that might end up using Reflection.Emit worry me that I'm just wasting time.

[2018-11-27 12:38] msamara commented on #630
Any update on this? Stanford's NER is not a viable option considering the lack of support of .NET Core

[2018-11-27 15:21] Lanayx opened #1737 "F# api issues"
Hi, wanted to point out the generic problems of "new" api from fsharp perspective.
First of all, what is really missing is the Pipeline itself, instead we see is context, set of objects and extensions.

Expected to see:
[code]

Secondly, as most of logic is implemented as extension methods on interfaces, in fsharp we need to to unsafe double cast sometimes:
[code]

[2018-11-27 16:17] TomFinley commented on #1718
I imagine it's pretty clear by now just from this discussion @CESARDELATORRE why we won't be doing this, but just to be explicit: you and @eerhardt are having a discussion about how best to synchronize this resource for *just this one library* ASP.NET. And that's ignoring the fact again that this particular scheme would not be appropriate for different classes of models, in the set I just enumerat

[2018-11-27 16:53] TomFinley commented on #1736
Hi @MichalStrehovsky thanks for the question... however my understanding, which may be flawed, is that [UWP supports .NET Standard 2.0](https://blogs.msdn.microsoft.com/dotnet/2017/10/10/announcing-uwp-support-for-net-standard-2-0/) (I see this blog was written by @terrajobst so perhaps he can comment), and [Xamarin seems to also support .NET Standard 2.0](https://blog.xamarin.com/xamarin-forms-st

[2018-11-27 17:04] MichalStrehovsky commented on #1736
Thanks @TomFinley. My question is specifically about the code paths in this file: https://github.com/dotnet/machinelearning/blob/1e7b8be855210f2bd8adbd532396a1840a20541d/src/Microsoft.ML.Api/ApiUtils.cs, such as this:

https://github.com/dotnet/machinelearning/blob/1e7b8be855210f2bd8adbd532396a1840a20541d/src/Microsoft.ML.Api/ApiUtils.cs#L84-L95

DynamicMethod is not part of NetStandard 2.0: https

[2018-11-27 17:52] Ivanidzo4ka commented on #1729
For DRI person we a talking about thing internally know as Gemini.
AFAIK these trees we provided by Microsoft Research, and they are not open sourced. Also internally we never saw them perform better than LightGBM or OVA + FastTree, so I'm not sure it's worth effort to bring them to ML.NET.

[2018-11-27 18:13] yaeldekel opened #1738 "GenerateCodeCommand generates scoring code that uses old APIs"
The command should be updated to use the new API.

[2018-11-27 18:36] #1232 closed

[2018-11-27 19:06] sfilipi commented on #1737
cc @CESARDELATORRE @Zruty0

[2018-11-27 19:40] sfilipi commented on #1729
Checking on clearance to open source that trainer.

[2018-11-27 19:48] sfilipi commented on #1617
Closing the issue, based on the last answer from @nsulikowski.

[2018-11-27 19:48] #1617 closed

[2018-11-27 19:52] sfilipi commented on #1565
Assigning to @ganik based on the discussion.

[2018-11-27 20:12] vaeksare opened #1741 "Build break caused by DnnImageFeaturizer PR (#1447)"

[2018-11-27 20:30] #1318 closed

[2018-11-27 20:44] sfilipi commented on #70
@GalOshri is there any plans we can share about this?

[2018-11-27 20:47] #1741 closed

[2018-11-27 20:52] #1645 closed

[2018-11-27 21:37] sfilipi commented on #126
@ddobric you can specify the column separator in the TextLoader, in ML.Net.
The TextLoader's default separator is ' \t'.

The culture does not play a factor.

[2018-11-27 21:38] sfilipi commented on #132
@KrzysztofCwalina can this issue be closed, since the API  has changed and this doesn't apply anymore?

[2018-11-27 21:55] vaeksare opened #1743 "DnnImageFeaturizer copies models on incremental builds"

[2018-11-27 22:05] CESARDELATORRE commented on #1737
cc  @dsyme @mariuszwojcik @kunjee17
From an F# perspective, what are your thoughts about this issue raised by @Lanayx ?

Thanks,

[2018-11-27 22:18] #1743 closed

[2018-11-27 22:19] dsyme commented on #1737
The first issue is not something we would do.  In general we do not expect .NET APIs to provide curried or pipeline-friendly versions of their functionality, nor indeed F#-specific APIs.  The F# programmer can should be able to work with the API well enough.

The second issue is however more interesting and I wasn't aware of it.

@Lanayx I'd like to see a longer sample where this occurs and unders

[2018-11-27 22:36] HowardvanRooijen commented on #1175
Also just wondering if there is any way you could integrate the Azure Machine Learning Data Prep SDK into ML.NET.  https://docs.microsoft.com/en-gb/python/api/overview/azure/dataprep/intro?view=azure-dataprep-py

Looking at the video - about 13 mins in the entire engine seems to be .NET Core https://channel9.msdn.com/Shows/AI-Show/How-the-Azure-ML-Data-Prep-SDK-Will-Make-Your-Life-Better

[2018-11-27 22:43] shauheen commented on #343
The API has changed since this bug was filed, @shmoradims can you verify if this is still valid.

[2018-11-27 22:47] shauheen commented on #746
@yaeldekel can you please provide more details on the solution so that someone can take this. Thanks :)

[2018-11-27 22:54] shauheen commented on #18
With the API plans runtime will be removed, so this should not be valid anymore.

[2018-11-27 22:54] #18 closed

[2018-11-27 22:56] shauheen commented on #68
Hi @ddobric , please take a look at the samples repo and the updated documentation and if you have other samples in mind please feel free to open another issue or update this one.

[2018-11-27 22:56] #68 closed

[2018-11-27 23:03] #1734 closed

[2018-11-27 23:33] #1730 closed

[2018-11-28 00:00] TomFinley commented on #1693
That's fine @CESARDELATORRE , but as @Zruty0 already pointed out we simply *cannot* have `IEstimator`s be mutable. If we lived in a world where `SchemaShape GetOutputSchema(SchemaShape inputSchema)` could potentially return different results at different times depending on the state of the estimator, it would be practically impossible to compose chains of estimators. This composability of estimato

[2018-11-28 00:00] wschin opened #1746 "WordTokenizeingTransformer need example of how to use it."
I am looking for examples for using `WordTokenizingTransformer`. The only resources I found is [its test](https://github.com/dotnet/machinelearning/blob/18d7ea306c480013f54674d92431386abccce64f/test/Microsoft.ML.Tests/Transformers/WordTokenizeTests.cs#L67), but after reading that, I still don't know how to print out its output using `Console.WriteLine`. As a C# library, we need more end-to-end exa

[2018-11-28 00:02] #1219 closed

[2018-11-28 01:19] CESARDELATORRE commented on #1693
I agree on that but the API usage experience can usually be improved that's why we also ask for feedback.
In any case, we all agree that our current approach is good and folks providing feedback in this thread also like it, so let's close the issue. If there's related feedback in the future we can correlate the issues. 👍

[2018-11-28 01:19] #1693 closed

[2018-11-28 01:32] abgoswam commented on #1387
- The default `NumIterations` for AveragedPerceptron is set to 1.   This default value seems to be the main cause of the variability, esp  since the notion of `seed` value varies between the two platforms.

- When I set the `NumIterations` = 100, both TLC and ML.NET produce similar results for OVA with AveragedPerceptron.

- I tried two datasets. In fact for the [Wine dataset](http://archive.ics.u

[2018-11-28 05:14] #1644 closed

[2018-11-28 05:58] Lanayx commented on #1737
@dsyme Thank you for your response, here is the repo with C# and F# code where this casts are required for compilation.
https://github.com/Lanayx/MlBootcamp2

My preferences are coming from AzureML which I find beautiful and convenient to use. The more ML.NET api is similar to it the better. Overall impression about "new" api is that "old" one easier to use and understand, I spent around 3-4 days

[2018-11-28 09:43] mdabros commented on #1232
@justinormont @vaeksare Thanks for taking the time to respond to my model versioning concern. The most important thing as I see it, is to make the developer of an ML product aware of changes to a pre-trained model provided by ml.net. So the developer can make an active choice if he/she want's to update to the latest version, knowing that this might require retraining of ML models build on top of t

[2018-11-28 12:04] kunjee17 commented on #1737
@Lanayx I guess @mariuszwojcik already wrote a wrapper for this. You can find code for wrapper here https://github.com/dotnet/machinelearning-samples/blob/master/samples/fsharp/common/ModelBuilder.fs and implementation here https://github.com/dotnet/machinelearning-samples/blob/master/samples/fsharp/getting-started/Regression_TaxiFarePrediction/TaxiFarePrediction/TaxiFarePredictionConsoleApp/Progr

[2018-11-28 13:26] rauhs opened #1751 "Spittler/consolidator worker exception while consuming data w/ 0.8.0-preview-27128-5"
### Issue

- **What did you do?**
Upgraded from 0.7 to 0.8-preview.

- **What happened?**
I got an exception during `estimator.fit()`. Though it also appears doing a `encodedTrainingData.AsDynamic.Preview` where my "encoder" only does encoding (no ML model learnt).

I'm not sure how to further debug this. I probably won't have time for a minimal repro example.

### Source code / logs
Exception:

*

[2018-11-28 14:37] Lanayx commented on #1737
@kunjee17 Yes, it hides the two-casts issue into separate module, which is not part of the library. But even with this implementation you need to add hack `(|> Common.ConsoleHelper.downcastPipeline)` at the end

[2018-11-28 17:56] pekspro opened #1752 "Changing trainer makes application exit with STATUS_STACK_OVERFLOW"
### System information

- Windows 10
-  Microsoft.ML 0.7.0
 - Dotnet.Core 2.1.403

### Issue

I have created a .NET Core application that is using a lot of code of the GitHubLabeler sample. To be specific this file:

https://github.com/dotnet/machinelearning-samples/blob/master/samples/csharp/end-to-end-apps/MulticlassClassification-GitHubLabeler/GitHubLabeler/GitHubLabelerConsoleApp/Program.cs

O

[2018-11-28 18:20] #1225 closed

[2018-11-28 18:22] TomFinley commented on #1736
Well, it's like many other things we use not part of .NET Standard 2.0 itself, but rather a [System.Refection.Emit.LightWeight nuget](https://www.nuget.org/packages/System.Reflection.Emit.Lightweight/4.3.0/) which is a .NET Standard 2.0 library. Whether that works in UWP or Xamarin is I'm afraid more than I know. If I open a UWP project and try to link that nuget and play around with it, it *seems

[2018-11-28 18:32] wschin commented on #1502
I don't see a Schema in IRowToRowMapper after removing ISchematized. Can ISchematized be removed?

[2018-11-28 18:40] TomFinley commented on #1652
Hi @rogancarr , just to answer, this is sorted. You'll note that the feature coefficients are in decreasing order of magnitude. This is important and desirable -- in a model with perhaps millions of features (e.g., something dealing with natural language), knowing what words are, in some rude measure, "most important," is good information to describe first, *especially* since this is a summary and

[2018-11-28 18:50] ArieJones opened #1753 "Coefficients for Dynamic API"
Using version 0.70 and we are trying to figure out if we are able to view the coefficients of our trained model like is shown in the example with the static API in the cookbook. However, we are using the dynamic API... is there a way to accomplish this?

Alternatively is there a way to define a static pipeline without a TextReader? All of our data is pulled from a DB … so we are utilizing CreateSt

[2018-11-28 19:05] TomFinley commented on #1725
Hi @shmoradims , the PR where these things were added was literally committed yesterday #1683 , so it assuredly would not be in the documents compiled here which I think were for 0.7 (which was a month ago).

[2018-11-28 19:14] shmoradims commented on #1356
@tatooian, could you please share your code/data so that we can repro the bug and fix it? thanks.

[2018-11-28 19:17] artidoro opened #1754 "MLContext extension naming mismatch with dynamic API"
Extensions to MLContext don't consistently match either the static API names, or the dynamic API names for estimators. This leads users that directly instantiate the dynamic API to find different names for the same estimators than when finding them through MLContext.

Since the estimators obtained through MLContext use the dynamic API, I would suggest that their names match the dynamic API names.

[2018-11-28 19:20] TomFinley opened #1755 "IColumn and related code removal"
Years ago I wrote this code.

https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Data/IColumn.cs

That was fine, but many of the conveniences that this offered were not heavily used throughout the codebase, and the few places where it was convenient have been supplanted, I think, by the new `Schema.Column`, `Schema.Metadata`, and `MetadataBuilder` idioms.

This is work don

[2018-11-28 19:23] terrajobst commented on #1736
The ref-emit packages are broken, don't use them.

We've added reflection emit and LCG (lighweight code gen, i.e. via `DynamicMethod`) to the upcoming version of .NET Standard 2.1. However, not all platforms will support ref-emit. So we've also added [two capability APIs](https://github.com/dotnet/corefx/issues/29258) that will allow you to check whether code is supported (via `RuntimeFeature.IsDy

[2018-11-28 19:25] yaeldekel opened #1756 "Bug in "ApplyAt" method in VBufferUtils"
In the sparse case, it should create the VBufferEditor with keepOldOnResize set to true, so that we don't lose the existing values and indices.

[2018-11-28 20:42] shmoradims commented on #1246
Yes, already fixed by PR #1352.

[2018-11-28 20:42] #1246 closed

[2018-11-28 20:43] artidoro opened #1758 "Arguments class should be made internal when possible"
For transformers like `SlotsDroppingTransformer`, and most other OneToOneTransformers, we implement a ColumnInfo object that allows to set all the transformation specific parameters. We should therefore make the Arguments class internal, as it is only used for the command line.

[2018-11-28 20:52] rogancarr commented on #1652
Hi @TomFinley, thanks for the great explanation! I see your point here. How do you feel about overloading `Summary()` to take optional parameters? Or do you think it's best in this case for me to extract the parameters and pretty-print them myself?

[2018-11-28 20:59] #1711 closed

[2018-11-28 21:00] sfilipi opened #1760 "The ColumnInfo structure should live in the estimators, rather than transformers"
For OneHotEncoding estimator/transformer, ColumnInfo lives in the estimator.
For most other pairs, ColumnInfo lives in the transformer.

Standardize their location.

I think they should live in the estimator, since they are mostly used on Estimator definition.

[2018-11-28 21:00] sfilipi commented on #1760
@Zruty0, @CESARDELATORRE  moving them to the estimator sounds good? it would be another breaking change.

[2018-11-28 21:41] MichalStrehovsky commented on #1736
You need to switch to the Release configuration to see Ref.Emit being broken. Debug configuration runs on top of CoreCLR that supports Ref.Emit, but .NET Native doesn't. .NET Native is a requirement to ship to the Windows Store. UWP spans platforms that disallow runtime code generation (Xbox), so we can't really JIT.

AFAIK, Xamarin on iOS will fall back to [this tech](https://www.mono-project.com

[2018-11-28 22:02] shmoradims commented on #1226
@rauhs , I wasn't able to repro this. Both pipelines run quickly for me (under 1 second). My full test code and output is below. Could you please try my code and share your results? Also, What version of ML.NET are you using? I'm using 0.9-preview, but 0.7 should be similar if you're using that.

Output:
Slow Pipeline took: $00:00:00.6559980
Fast Pipeline took: $00:00:00.0546932

[code]

[2018-11-28 22:02] terrajobst commented on #1736
Agreed.

That works, but capability APIs (if available) would be preferable (but UWP doesn't have them).

[2018-11-28 22:05] shmoradims commented on #1226
I increased the range above by 100x (8,000 -> 800,000). Still the runtime looks ok:
Slow Pipeline took: $00:00:06.1526054
Fast Pipeline took: $00:00:06.9344222

The times are similars, b/c fast pipeline has a large output file and IO takes longer.

[2018-11-28 22:18] shmoradims commented on #217
@Ivanidzo4ka i think this issue still needs discussion to define what the fix should be. I added need-info tag and removed it from 0.8 for now (feel free to revert)

@eerhardt @TomFinley @Zruty0 could you please discuss a concrete action path for this issue so it can be triaged? Thanks.

[2018-11-28 23:00] montebhoover opened #1761 "Name of MakePredictionFunction is confusing (to me)."
I was following the start example in the Readme, and when I came to the line with MakePredictionFunction, I got a bit confused and had to go over it a few times before I could continue:

I expected the return value of `MakePredictionFunction()` to a function-type thing, but instead it was an object.  This was hard for me not because of pedantic correctness, but rather from a usability standpoint a

[2018-11-28 23:05] CESARDELATORRE commented on #1761
I agree, I provided that feedback some time ago. It is confusing for a C# or object oriented developer.
MakePredictionFunction() is returning an object, not a function... ;)

That's why in some samples we were naming the variable/object as predictionEngine instead of predictionFunction.

I think it is called that way because in generic machine learning might be the term, but this is good feedback

[2018-11-28 23:06] #1756 closed

[2018-11-28 23:09] codemzs commented on #978
@shauheen  Yes, PR has been checked-in but you can see it at PR #1727 and sample at #1762

[2018-11-28 23:12] CESARDELATORRE opened #1763 "Add a Filter for text-based columns"
Afaik, the new filter APIs can target just numeric-based columns, but not text-based columns.
As of v0.8 we have:
1)
[code]

This is a very convenient filter, but for NUMERIC values. I’m currently using this for the sample code-snippet

2)
`FilterByKeyColumnFraction()`
Good for hashed values.

But if we want to filter by text-based columns, let's say I want to remove the rows where a text based co

[2018-11-28 23:56] rogancarr opened #1764 "PFI BinaryClassification XML Documentation is Outdated"
The [sample documentation](https://github.com/dotnet/machinelearning/blob/533e18647a77c31f8149ccf2618ccb2e354f8e62/src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs#L86) for Binary Classification PFI is still the old text, while [regression documentation](https://github.com/dotnet/machinelearning/blob/533e18647a77c31f8149ccf2618ccb2e354f8e62/src/Microsoft.ML.Transforms/Permutat

[2018-11-29 00:05] rogancarr opened #1765 "Feature Contribution Calculator Documentation is Vague"
The [documentation](https://github.com/dotnet/machinelearning/blob/533e18647a77c31f8149ccf2618ccb2e354f8e62/src/Microsoft.ML.Data/Scorers/FeatureContributionCalculationTransform.cs#L29) for the Feature Contribution Calculation Transform is rather vague. It should be updated to talk about the feature, why it is useful, and point to the corresponding example.

[2018-11-29 00:05] GalOshri opened #1766 "Need PFI sample for binary classification"
This [PFI sample](https://github.com/dotnet/machinelearning/blob/3d33e20f33da70cdd3da2ad9e0b2b03df929bef4/docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance.cs) has great detail, but it focuses on regression. Using PFI with binary classification requires a slightly different approach and it isn't immediately obvious how to do it. An additional sample explaining how to use PFI f

[2018-11-29 00:32] GalOshri opened #1767 "Need sample/code snippet for how to read and write from IDV files"
#1678 added the ability to save and load as binary (IDV) files. It would be useful to have a code snippet/sample to show how this can be done, with some remarks on why this is useful that show up in the docs website.

[2018-11-29 00:40] wschin opened #1768 "Need XML doc string for each public field"
At ML.NET doc site, there are a lot of fields with empty description, for example, see [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.matrixfactorizationtrainer.arguments?view=ml-dotnet). To make users' life easier, it'd be better to fill them with meaningful information.

[2018-11-29 00:52] wschin opened #1769 "Need example for one-class matrix factorization"
Currently we only have [one test](https://github.com/dotnet/machinelearning/blob/533e18647a77c31f8149ccf2618ccb2e354f8e62/test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs#L376) as our example. We should add one into our sample project. Also, in that actual example, we need to tell user to install MatrixFactorization nuget. The ultimate scope of the new example is to cover ever

[2018-11-29 00:52] GalOshri opened #1770 "MatrixFactorization cannot be found in the MLContext catalog"
`MatrixFactorization` cannot be found in the MLContext catalog. MLContext.Recommendation is currently empty.

This is with the 0.8.0-preview-27128-6 Microsoft.ML and Microsoft.ML.MatrixFactorization NuGets.

[2018-11-29 00:56] artidoro opened #1771 "PFI should work for multi class classification, clustering and recommendation"
PFI currently only works for binary classification and regression. It should be extended to multi class classification, clustering and recommendation to provide explainability functionalities in other experiment categories.

The PFI approach works for all the above training scenarios, and it is natural for users that use the tool for binary classification/regression to also want to use it for othe

[2018-11-29 01:06] yaeldekel opened #1772 "GenericSpanSortHelper should have an overload that takes an IComparer"
This would enable sorting using a custom comparer, instead of the default CompareTo() method.

[2018-11-29 01:31] vaeksare opened #1773 "Official build can fail due to copying of the same redist assets"
Currently, all of the files under Redist are assumed to be RID specific, and get built/executed by every leg of the official build script. This is not the case for the DNNImageFeaturizer models, which means the same models get copied over from each RID leg (MacOS, Linux, etc) into the same destination container. This can cause issues if this happens at the exact same time.

[2018-11-29 01:33] Anipik opened #1774 "Regression in Rff Code due to OVA + AveragedPerceptron"
I ran a benchmark provided to me By @justinormont  that uses Rff Transformer.
I ran it too on  master as well as on https://github.com/dotnet/machinelearning/commit/7d9660a3e3881e444f7a4212b175856aaa9bdbe0
and https://github.com/dotnet/machinelearning/commit/8b19930c3413b578b1b9603633f0e9ec30cd8acd

The time taken by the benchmark for both of the last two commit was around 850 ms for both netstand

[2018-11-29 01:48] Anipik opened #1776 "Extra Spaces in Baseline file for Netcoreapp3.0"
TestName EntryPointPipelineEnsembleGetSummary

The original baseline file contains ```"Features.bare_nuclei\t%Number%  \t%Number% \t%Number%  \t%Number% ***"```
file - machinelearning\\test\\BaselineOutput\\Common\\EntryPoints\\ensemble-summary.txt"

baseline - "Features.bare_nuclei\t%Number%   \t%Number% \t%Number%  \t%Number% ***"
output -   "Features.bare_nuclei\t%Number%  \t%Number% \t%Number%

[2018-11-29 03:48] markusweimer opened #1778 "Consider adding convenience functions to load / save models from / to files"
In order to load a model from disk, one currently has to do something like this:

[code]

(Code taken from our sample [here](https://github.com/dotnet/machinelearning-samples/blob/ff0ae26e3bd2366c1fe55e8e8fbee17b4596cc61/samples/csharp/getting-started/BinaryClassification_SentimentAnalysis/SentimentAnalysis/SentimentAnalysisConsoleApp/Program.cs#L101)

We should consider adding convenience methods

[2018-11-29 03:56] CESARDELATORRE commented on #1718
@eerhardt - We can have a discussion off-line about `[ThreadStatic]`. I said for "most" Http requests (the ones that are not reused or are reused but still didn't created a MakePredictionFunction object).

What I'm saying is that because in an ASP.NET Core app, the thread pool has by default the following available threads:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadpool.ge

[2018-11-29 04:03] TomFinley commented on #1778
Hi @markusweimer thanks for the comment... This appears to be a duplicate of #1689, unless I miss something? (Though admittedly the title of that issue isn't *great* so this was probably easy to miss.)

[2018-11-29 04:06] markusweimer commented on #1778
Yepp. And here I was, even searching our issues for a while. Closing as it is a duplicate.

[2018-11-29 04:06] #1778 closed

[2018-11-29 04:44] sfilipi commented on #1770
MatrixFactorization is not part of the  Microsoft.ML core nuget; and there are no Recommendation trainers on the core Microsoft.ML. As a consequence the RecommendationContext is an extension to the MLContext, and it lives in the Microsoft.ML.MatrixFactorization package. Since it is an extension, it needs to be a method; and therefore the correct way to use it, is:

[code]
This behavior is document

[2018-11-29 04:48] sfilipi commented on #1768
@wschin i totally agree with this, but as is, this bug is hard to action on, as a one shot PR to document every public field is inefficient. Maybe we can tackle this by being more picky in code reviews?

[2018-11-29 04:50] sfilipi commented on #1774
Has any of the default parameters changed?

[2018-11-29 04:52] sfilipi commented on #1772
@yaeldekel might be easier to prioritize if you mention what  uses GenericSpanSortHelper.

[2018-11-29 05:01] sfilipi commented on #1752
Some algorithms are more resource intensive than some others. Also the number of training data alone might not tell much. Is your data text, like the github sample? If so, the number of features created will be large, adding to the equation.

[2018-11-29 05:04] sfilipi commented on #1754
CC: @Zruty0, @CESARDELATORRE

@artidoro I would suggest closing this, and adding to the naming discussion in #1690

[2018-11-29 05:06] sfilipi commented on #1751
Without a bit more information, i am afraid we might not be able to track this down..

[2018-11-29 05:50] GalOshri commented on #1770
Got it, thanks! It might be a bit confusing that components that were added through other NuGets are accessed differently in `MLContext`.

I know we had a discussion about making components discoverable in `MLContext` even if their NuGet isn't there (this idea was dismissed due to feasibility). Is there something we can do to at least ensure that once the right NuGets are added, the components are

[2018-11-29 06:38] pekspro commented on #1752
Thanks for answering @sfilipi. Yes, my data is text like the GitHub sample. I’m having three columns in my data; Area, Title and Description just like the GitHub sample

I’m totally fine that the algorithms are using different amount of resources. I do expect that they use a lot of CPU and memory on the heap. But I am surprised that a lot of memory is used on the stack as the error message I get i

[2018-11-29 07:07] rauhs commented on #1226
That's right. This seems to be fixed. I don't have the time for bisect but I have these two points:

[code]

The slow is ~20seconds, fast is ~0.01 seconds.

Though I can't run it on my actual pipelines right now since I'm getting a different exception. This can be closed. Thanks

[2018-11-29 07:10] TomFinley commented on #1761
I agree that "function" is an overloaded term that will confuse .NET developers.

I might actually prefer to "solve" this problem not by deleting `PredictionFunction` entirely, and instead just using engine everywhere. (With appropriate renamings and whatnot to the initialization methods and extension methods for creation from `ITransformer`.) To coin a phase, where there's code, there's a problem

[2018-11-29 07:15] TomFinley commented on #1690
I'd certainly like the names to be reconciled. In a case as @eerhardt points out where *everything* would get a prefix like `Make` (e.g., trainers), I'd probably prefer to drop it as he suggests since that doesn't seem terribly helpful.

Regarding the specific name of the main thing that sparked the larger discussion, IIRC, was there not feedback from .NET team that the phrase `IDataReader` was co

[2018-11-29 07:46] TomFinley commented on #1763
This is fine, but I wonder if we can go even a step further. Data pipelines must be serializable, and prior to ML.NET being open sourced filters were part of data pipelines. Pursuant to #933, it is our position that filters should *not* be part of data pipelines any longer, hence why we see the old functionality of filters not being exposed as `IEstimator`/`ITransformer`, but instead just straight

[2018-11-29 08:32] cosmincatalin commented on #343
@shmoradims , unfortunately I have moved on and I do not have the test data any moe. But I can tell you there were around 20 million samples with 18 numerical features. I'm sure that no matter what numbers you put in there it's going to be similar to my experiment.

Now, the pattern outlined above is bad, because instead of predicting in batches, I was predicting one by one. This is obviously less

[2018-11-29 10:48] tatooian commented on #1356
I'm not sure how much you need, but here goes:
[code]

[2018-11-29 11:57] pekspro commented on #1752
Update: I can replicate this with the original GitHubLabeler sample. I just changed a path, modified corefx-issues-train.tsv so that it contained 30 000 lines. Then when I run this in Azure as a web job on an app service with 14 GB of RAM it crashes with these lines:

	[11/29/2018 10:28:29 > 432ef3: INFO] =============== Cross-validating to get model's accuracy metrics ===============
	[11/29/2018

[2018-11-29 18:06] sfilipi commented on #1770
Trainers from other packages will show in the respective context's Trainers list as soon as you add the package, if they are on the Microsoft.ML.Trainers namespace. If they are on other namespaces, you'd need to add the namespace.

[2018-11-29 18:11] sfilipi commented on #1752
Thanks for the added info @pekspro. Moved to the current project for traige.

[2018-11-29 18:12] sfilipi commented on #1746
@wschin what should we define as completion criteria for this bug: adding a sample for WordTokenizingTransformer?

[2018-11-29 18:13] ArieJones commented on #1751
@sfilipi  I am getting the same thing using 0.9.0-preview-27129-2

I have set up a simple example with a few data items on
[https://github.com/ArieJones/MLNetWorkInProgress.git](https://github.com/ArieJones/MLNetWorkInProgress.git)

Getting the following error … which happens right as I try to fit the SCDA with data .. any insight would be greatly appreciated.

`System.InvalidOperationException

[2018-11-29 18:16] wschin commented on #1746
@sfilipi, yes and in the future, every estimator should have some tests for native world. We need to demonstrate/test our ways to send something to the universe and get them back.

[2018-11-29 19:32] Anipik commented on #1774
The rsp being used here
![image](https://user-images.githubusercontent.com/10516582/49246721-74018480-f3ca-11e8-83a0-1fd66a36b1d6.png)

[2018-11-29 19:46] justinormont commented on #1774
Do we currently have a dashboard of the runtimes of the current benchmarks?

Perhaps we should add check-in gating based on performance tests? @markusweimer

[2018-11-29 19:53] daholste opened #1781 "FastTree uses lots of memory with dropout on"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
Ran FastTreeRegressor with DropoutRate > 0.

- **What happened?**
Consumed around 15 GB of memory. Memory usage increased linearly with # of trees

Running FastTreeRegressor with DropoutRate > 0 leads to much higher memory consumption than when Dropo

[2018-11-29 20:06] ArieJones commented on #1751
@sfilipi  Thanks for the feedback! I am looking at these changes now and will let you know if I narrow it down …

[2018-11-29 20:16] shmoradims commented on #1718
Great discussions everyone. Based on all the comments, two conclusions seem clear to me:

1) ML.NET is a general purpose ML framework and shouldn't handle thread-safety, which is application specific. So we shouldn't add PredictionFunction pools to ML.NET.

2) ML.NET is geared for .NET developers after-all and a lot of them use ASP.NET for request-response scenarios, which can benefit from pooling

[2018-11-29 20:38] ArieJones commented on #1751
@sfilipi  Ok, so I believe the issue is with the OnHotEncoding. I went through and systematically removed columns from my Features concatenation. It seems that when a column only has one value throughout ..then it throws this error.

Additionally, if I swap out OneHotEncoding with OneHotHashEncoding then it will get past this error. So something goofy is going on in regards to the OneHotEncoding.

[2018-11-29 21:45] #1280 closed

[2018-11-29 21:49] sfilipi opened #1783 "Change the <a> tags to <image> tags"
In the RankerMetrics the `<a>`  tags for images will need to get converted to `<image>` tags, so the images display.

https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Evaluators/Metrics/RankerMetrics.cs#L23

[2018-11-29 22:18] #1754 closed

[2018-11-29 22:20] artidoro commented on #1690
I wanted to point out another naming problem regarding MLContext extensions:

Extensions to MLContext don't consistently match either the static API names, or the dynamic API names for estimators. This leads users that directly instantiate the dynamic API to find different names for the same estimators than when finding them through MLContext.

Since the estimators obtained through MLContext use t

[2018-11-29 22:33] #1421 closed

[2018-11-29 23:01] eerhardt commented on #1690
In the API design review meeting today we decided to add a `Create` prefix to the methods that weren't already verbs - (like `TextReader`, and `LogisticRegression`) - and in general to have verbs for names of methods.

[2018-11-29 23:14] CESARDELATORRE commented on #1718
@shmoradims - I was just chatting with Eric about this.
First, we think that the `[ThreadStatic]` approach or even a `Thread Scope lifetime` in DI/IoC could be dangerous (if the by default IoC container in .NET Core had it, like AutoFac has it, see [here this blog post I wrote time ago comparing the DI/IoC lifetimes in by-default .NET Core and AutoFac](https://blogs.msdn.microsoft.com/cesardelator

[2018-11-29 23:27] TomFinley commented on #1781
I don't think it's a leak. It achieves dropout by memorizing each score per document, per tree.

So, not really a "bug" per se. Not great, but expected and not a bug.

[2018-11-29 23:35] shmoradims commented on #590
FieldAwareFactorizationMachine doesn't implement the correct interface. Neither of the casts below work, which means OVA cannot use FAF.

[code]

Before changing OVA to take IPredictionTransformer instead of  ISingleFeaturePredictionTransformer, FAF needs further work to implement one of the interfaces above. @sfilipi / @Ivanidzo4ka  do you know how to do it?

[2018-11-30 04:01] daholste commented on #1781
really interesting -- thank you, Tom!

[2018-11-30 06:04] rauhs commented on #1751
@ArieJones I can confirm this. Removing the OHE will not throw the exception for me.

Also, in case it helps. I don't think I misuse the API. I'm using the static API and am not evaluating anything. Just a bunch of strings to floats[]. The exact same code works fine for up to 0.7.

[2018-11-30 15:00] jasonxz commented on #1721
I'm having this exact issue with ALL of the Trainers with the exception of FastTree and FastTreeTweedie.

[2018-11-30 16:21] eerhardt commented on #560
(Somehow this slipped through my radar.)

Yes, I believe the current API sufficiently solves this issue. Closing.

[2018-11-30 16:21] #560 closed

[2018-11-30 17:03] eerhardt commented on #581
@Zruty0 @TomFinley - how much work is left for this issue? Do you think this can be closed?

[2018-11-30 17:05] eerhardt commented on #583
Of all the tasks above, #581 is the only one left open and not fully resolved (it is obviously very far along). I think once #581 is closed, we can close this issue as well.

[2018-11-30 17:13] eerhardt commented on #119
@TomFinley - this issue discusses a lot of the "old API" interfaces. Is this still an issue in the "new API"? If not, can this issue be closed?

[2018-11-30 17:16] eerhardt opened #1787 "Delete the Legacy API"
Before shipping v1.0, we need to delete all the APIs that are marked "legacy" and "obsolete". Specifically, after this work is completed https://github.com/dotnet/machinelearning/tree/master/src/Microsoft.ML.Legacy should be completely removed, and any assets in it that need to remain should be migrated elsewhere. For example #1565 is for migrating the entry-points that we still need.

[2018-11-30 18:02] artidoro commented on #1773
@vaeksare did you fix this issue with your PR?

[2018-11-30 18:08] vaeksare commented on #1773
Woops, you are right, thanks. Forgot to add the fixes tag to that PR.

[2018-11-30 18:08] #1773 closed

[2018-11-30 18:12] rogancarr commented on #1771
And `Ranking`.

[2018-11-30 18:18] #1316 closed

[2018-11-30 18:35] adamsitnik commented on #1774
@Anipik you can use the [EtwProfiler](https://adamsitnik.com/ETW-Profiler/) to profile before and after and then use PerfView to compare both trace files for regressions.

1. Run the benchmark without the changes with `--profiler ETW`, save the path to the trace file
2. Run the benchmark with the changes with `--profiler ETW`, save the path to the trace file
3. Open both trace files in PerfView
4.

[2018-11-30 19:08] shmoradims opened #1789 "Provide sample and documentation for PredictionFunction object-pooling for ASP.NET applications"
This is the concrete work item from discussions in #1718.

Motivation:
Majority of .NET Core apps use ASP.NET Core. In order to get the best developer experience we should provide a sample that implements object pooling approach for PredictionFucntion (which is not trivial) and also document it in docs.microsoft.com.

Based on feedback from users, we might add this functionality to ML.NET.

[2018-11-30 19:17] markusweimer commented on #1761
Two notes:

  * Should `PredictionFunction` implement `Func`?
  * Should the method be called `CreatePredictionFunction` to fit in with the prior art of using `Create` as the prefix for methods that create new objects?

[2018-11-30 19:18] CESARDELATORRE commented on #1789
👍 Adding also @JRAlexander since I'll work with him for the documentation at docs.microsoft.com in order to be aligned.

[2018-11-30 19:18] shmoradims commented on #1718
@CESARDELATORRE I created a concrete work item #1789. I assigned it to you and project 0.9, but feel free to change those. Based the the feedback we get, we can revisit this issue.

@TomFinley @eerhardt thanks for all your comments.

[2018-11-30 19:22] shmoradims commented on #1690
Great, we have concrete action item. Removing myself and 'need-info'

[2018-11-30 19:26] shmoradims opened #1790 "Support scoring on ARM"
This issue is a concrete work item from question #1662.

Motivation:
We need ARM for scoring models on IoT devices and for mobile devices running Xamarin apps on iOS or Android. All those workloads are important for .NET.

[2018-11-30 19:43] shmoradims commented on #1667
@daholste please reopen this issue when you add repro code+data. I'm closing it for now.

[2018-11-30 19:43] #1667 closed

[2018-11-30 19:44] artidoro opened #1791 "Feature Contribution Calculation should become Transformer"
We should make the `FeatureContributionCalculationTransform` a transfomrer, and add a related estimator that produces it so that it can become part of a pipeline. Below I show how it could look like with the new API:

[code]
Two ways of applying FeatureContributionCalculation:
[code]

[code]

In either cases the output data will contain a `score` column along with a `FeatureContribution` column.

[2018-11-30 20:31] shmoradims commented on #1610
ping @TomFinley @yaeldekel

[2018-11-30 20:40] shmoradims commented on #1712
@rogancarr is the feature request on github? if so, could you please reference the issue here?

[2018-11-30 20:45] shmoradims commented on #1397
ping @rustd

[2018-11-30 21:15] TomFinley commented on #1791
Thanks @artidoro !! This seems good, and I think we need at least this model parameter based constructor to start with, but I had a few off-the-cuff reaction I wonder if we can perhaps do something else as well to potentially form a contiguous pipeline.

Just a note, what you call `mlContext.Model.Explainability.FeatureContributionCalculatingEstimator`, I will just have as shorthand be `mctx.M.E.F

[2018-11-30 21:16] eerhardt commented on #1515
This is a duplicate of https://github.com/dotnet/machinelearning/issues/561. Closing as dupe.

[2018-11-30 21:16] #1515 closed

[2018-11-30 21:23] artidoro commented on #1791
Thank you @TomFinley, I like your suggestions!
I think it should be relatively easy to add once the rest is complete. And I agree with reordering the arguments.

[2018-11-30 21:28] montebhoover opened #1794 "Time series improvements"
Mainly for @codemzs, I wanted to ask what additional work is needed for time series.  Here are few things I noticed:

1. Add support for doubles in SSA and IID estimators. Currently we check to verify floats, for all other types we throw an exception.
2. Create class with named properties for output metrics of Martingale, P-Value, Alert, and Score.  Currently we output a column of vector type that

[2018-11-30 21:34] wschin opened #1795 "Evaluator of one-class matrix factorizaition is missing"
One class matrix factorization is solved as a regression problem but common metrics in practices are top-k accuracy, nDCG, etc.

[2018-11-30 21:48] montebhoover commented on #1794
7. There is high-quality documentation on the SSA and IID algorithms we use that is currently unpublished.  What is the ideal way to present more in-depth information on our specific implementations? Blog post?

[2018-11-30 21:51] #1764 closed

[2018-11-30 21:53] montebhoover commented on #1794
8. Update SSA and IID `Estimators` to be accessed through `MLContext`.  I know there is an open issue for this work `TrainerEstimators` in particular, but is there an issue open to capture this work?

[2018-11-30 22:06] #1502 closed

[2018-11-30 22:13] eerhardt commented on #1611
See https://github.com/dotnet/apireviews/pull/81 for some notes from the API design discussion on this API. In the end, we decided to have 2 constructor/factories:

1. With the simple/common options as direct parameters.
2. If a component needed to have public "advanced" options, have another constructor/factory that took only the Options instance.

[2018-11-30 22:41] sfilipi commented on #1770
Closing, since there is not actions to take.

[2018-11-30 22:41] #1770 closed

[2018-11-30 22:43] TomFinley opened #1796 "Rename types inside MLContext as Catalogs"
We had an idea in #949 to have "context" objects that enabled the easy and convenient creation of training algorithms. We eventually came to like this idea so much that it expanded considerably, until we came to think it actually a good idea that *most* components (whether trainers or not) could work through this object, to the point where eventually in in #1098, there was a "master" context, of w

[2018-11-30 22:55] TomFinley opened #1797 "Remove TextLoader.Read(string), promote IDataReader<MSS> extension"
Pursuant to #1090 and #1041 there was agreement that we should be able to just pass a *string* into a data reader that reads from streams, rather than have to muck about with the creation of this `IMultiStreamSource` object.

As it happens, this one request was done in two separate ways:

1. #1252 where this instance method on `TextLoader` was created:

 https://github.com/dotnet/machinelearning/b

[2018-11-30 23:07] shmoradims commented on #590
After spending some time on this, I realized that FAF is the only binary trainer with multiple feature columns (string[] featureColumns), whereas other trainers have only one feature column. This is making FAF an odd trainer that doesn't fit the existing interfaces. We'd need to adjust all the trainer interfaces to accommodate this case. This won't be a trivial fix.

Given that @rauhs thinks this

[2018-11-30 23:53] TomFinley opened #1798 "Creation of components through MLContext: advanced options and other feedback"
In our estimators and other similar components often have advanced settings, because, sometimes people have unusual circumstances. At the same time, there is a 95% or 99% scenario for "simple" usage that most people will be happy with. For this reason we have often made a distinction between common and advanced settings, as we see here.

https://github.com/dotnet/machinelearning/blob/cb37c7e7f1e1b

[2018-12-01 09:26] asthana86 opened #1799 "Logging and Tracing in ML.NET"
In EntityFramework there exists a context log property which allows for logging SQL generated by dbcontext.

For MLContext is there a similar log property which allows for logging some of the diags currently printed to Console when using various transforms or learners? Additionally is there a way to control log location and verbosity?

**_E.g.: When using Matrix Factorization:_**
Sample: https://g

[2018-12-01 09:57] asthana86 opened #1800 "Simpler Scenario Focused (getting started API) for ML.NET"
ML.NET is a machine learning framework focused on bringing .NET developers to the world of machine learning. Given the complexity of machine learning there are a number of concepts for developers to get familiar with before becoming successful right from the get-go.

Is there a way to provide a more templated/recipe-driven scenario focused set of API which represent common machine learning task fo

[2018-12-01 16:56] TomFinley commented on #1761
Hi @markusweimer ,

We would want `PredictionEngine`, not `PredictionFunction`, but if you're asking if the engine can simply be a `Func`, not really, since there are actually *two* ways of getting this -- there are two overloads to predict, one which *returns* the output type, and one which takes a *reference* to the output type and fills in the buffer -- the latter is of course how we do buffer

[2018-12-01 17:05] Zruty0 commented on #1799
1. `MLContext` object has the exact same `Log` delegate that can be used to capture ML.NET output. It is by default going nowhere.
2. The console output you showed in the issue comes directly from the `libmf` library. I am not sure whether we should try to intercept it and log through the same mechanism. If yes, it would warrant another issue.

[2018-12-01 18:42] TomFinley commented on #1799
Yeah re. `libmf`, we see [things like this](https://github.com/cjlin1/libmf/blob/53a91e7e8c88463e97acfbbafb7134a6030860b3/mf-train.cpp#L310) sprinkled throughout the codebase, but not too many -- maybe it would be a simple matter to have some sort of logging callback (the callback can write to `cout` by default, but otherwise it could be something passed in via pinvoke.)

Certainly @wschin would k

[2018-12-01 19:13] yaeldekel opened #1802 "SSE bug when scaling a vector by a negative number"
When the number of elements is not divisible by 4, the sign of the result sometimes wrong.
Here is an explanation from @eerhardt .

We are “double computing” at the end of the vector when there are remaining elements (1, 2, or 3 hanging elements). We then mask out the “double computed” elements in temp (which should have all 0s for the ‘double computed’ elements).

However, when doing `temp = _mm_

[2018-12-01 19:29] yaeldekel opened #1803 "Bug in ApplyInto() method"
When the result of applying the function is dense, indices might be null, but this is not checked.

[2018-12-01 20:10] #1228 closed

[2018-12-01 20:10] #1272 closed

[2018-12-01 20:10] #1514 closed

[2018-12-01 22:56] #1643 closed

[2018-12-02 15:54] #1387 closed

[2018-12-03 02:18] eerhardt commented on #1802
/cc @Anipik @tannergooding

[2018-12-03 02:41] asthana86 opened #1806 "Usage of Matrix Factorization Trainer for Recommendation"
When using Matrix Factorization Trainer:

[code]
When using other trainers:

[code]

Is the difference in usage prop vs. method by design? Also there is a difference in the order of parameters being passed. First parameter is Label vs. Features being used.

[2018-12-03 05:08] Anipik commented on #1802
yes it is right, i faced the similar problem while writing matrix multiplication. the solution that worked for me was replacing ```or``` operation with ```Add operation```.
The behaviour will be same as one of them is always zero. eg if temp is [0 -0 1 1] the result will be [0 1 0 0]
No index is one simultaneously.

[2018-12-03 17:36] sfilipi commented on #1006
Closed with PR #1392

[2018-12-03 17:36] #1006 closed

[2018-12-03 17:38] sfilipi commented on #776
A test for LightGBM ranker is here: https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/TrainerEstimators/TreeEstimators.cs#L116

Should convert it to an example.

[2018-12-03 17:56] #1755 closed

[2018-12-03 18:42] wschin commented on #1604
It looks like both of `mlContext.Data.Cache` and `pipeline.AppendCacheCheckPoint` can't work with dynamic pipeline. Do we have any caching mechanism for static world?

[2018-12-03 18:53] #978 closed

[2018-12-03 19:07] wschin commented on #1806
[code]
is equivalent to
[code]
according to its signature
[code]

Instead of a single feature `Column` and a label `Column`, matrix factorization requires row index `Column`, column index `Column`, and label `Column`. For example, assume that
[code]
the 4-by-3 rating matrix being factorized may be
[code]
where `?` happens at row `u` and column `v` means user `u` never rates `v` in your training da

[2018-12-03 19:14] wschin commented on #1799
LIBMF prints out training progress to stdout by default. You can make it silent by specifying [this](https://github.com/dotnet/machinelearning/blob/481c37774afdbc6f8b1eab9c9f894c83f3ac984d/src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs#L160).

[2018-12-03 20:11] asthana86 commented on #1806
Two questions still:

Why are these different:
            var foo = mlContext.Regression.Trainers;
            var foo_bar = mlContext.BinaryClassification.Trainers;
            var foo_moo_bar = mlContext.Recommendation().Trainers;

vs
           var foo_moo_bar = mlContext.Recommendation.Trainers

and then the order of parameters again for consistency? other trainers seem to take Label as the f

[2018-12-03 20:50] sfilipi opened #1807 "Incorrect link in PFI sample"
The correct link in here:
https://github.com/dotnet/machinelearning/blob/be115f416a77f88f56f6d3abe0931ca1f74ef40b/src/Microsoft.ML.Transforms/PermutationFeatureImportanceExtensions.cs#L43

is:

~/../docs/samples/docs/samples/Microsoft.ML.Samples/Dynamic/PermutationFeatureImportance.cs

[2018-12-03 21:14] rogancarr commented on #1712
Sorry if that last post of mine wasn't clear. Let's treat this issue as the feature request.

[2018-12-03 21:23] yaeldekel opened #1809 "MissingValueDroppingTransformer has a bug"
When it is getting the getter of the source column, it tries to use 'iinfo' instead of '_srcCols[iinfo]'.

[2018-12-03 22:20] #1803 closed

[2018-12-03 22:31] wschin commented on #1806
@assafi, for your second question, matrix factorization is a special problem. It's not standard regression/classification which maps a feature vector to a label, so it looks not very bad to have label as the last argument. Of course, you can submit a PR if this doesn't look good enough for you. It should be a minor change.

[2018-12-03 22:59] #1807 closed

[2018-12-04 01:06] singlis commented on #1806
Hi @asthana86,

For the question about the differences in the mlContext api calls, please  see issue #1770 as this addresses your question. It is because Recommendation is not part of the nuget core package and therefore is defined as an extension rather than a property of MLContext.

For the ordering of label columns in the matrix factorization, we can create an issue on this or use this as an th

[2018-12-04 01:14] asthana86 commented on #1806
I am not sure if #1770 addresses my issue. #1770 is about discoverability, the fix we came up for that was one needs to acquire the MatrixFactorization Nuget for now. I do agree with @GalOshri its not the best experience but even with that nuget acquisition the usage pattern should remain the same.

Given the need to acquire an additional NuGet is there no way to have the API be consistent like th

[2018-12-04 03:38] asthana86 commented on #1806
Sounds great. Thanks for capturing this.

[2018-12-04 10:36] justinormont commented on #590
Notable: FieldAwareFactorizationMachine is the only of our binary learners which doesn't work with OVA.

[2018-12-04 13:45] NektoDron opened #1818 "Can I use TimeSeries prediction with Vec<R4, N> input data?"
Is it possible in the future?
Now it makes an exception "The feature column has  type 'Vec<R4, 3>', but must be a float."

[2018-12-04 14:13] codemzs commented on #1818
Are you wanting multi variate time series?

[2018-12-04 15:55] NektoDron opened #1819 "CreatePredictionEngine<TSrc, TDst> is internal now. What is replacement?"
The CreatePredictionEngine method is internal now. What is replacement for trainedModel (ITransfomer) and scheme (SchemaDefinition)? MakePredictionFunction can't use SchemaDefinition and makes exception for me.

[2018-12-04 17:42] #1809 closed

[2018-12-04 17:43] klausmh commented on #844
Could you provide an example of "var pipeline = ... // create pipeline using 'host'." in the current version of ML.NET?

[2018-12-04 19:50] yaeldekel opened #1820 "ImagePixelExtractorTransform only supports images with pixel format Format32bppArgb"
We also need support for Format24bppRgb.

[2018-12-04 20:51] #1018 closed

[2018-12-04 21:19] singlis commented on #1818
Hello-
Thank you for bringing this up. The multivariate time series is not supported at this time, however it is something that we are tracking here:
#1696

[2018-12-05 00:02] swesonga opened #1823 "Cannot use ML.NET in a Windows nano container"
### System information

Base image: microsoft/dotnet:2.1-aspnetcore-runtime-nanoserver-1803

Microsoft Windows [Version 10.0.17134.345]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\app>dotnet --info

Host (useful for support):
  Version: 2.1.5
  Commit:  290303f510

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.1.5 [C:\Progr

[2018-12-05 00:54] TomFinley commented on #1799
Cool thanks @wschin , but what do you think about having an option to pipe it somewhere else? The logs are valuable, but, console may not be the best place for them, or even accessible in some situations.

[2018-12-05 01:02] TomFinley opened #1824 "Make Row Disposable"
We have previously used what was `IRow`, and now `Row`, for two purposes:

1. It was a "restricted" row cursor that allowed inspection but not movement. Nearly all of our transforms perform their data transformations through this mechanism, which is fine.

2. It was a convenient way to store what amounted to a property bag that had the benefit of using the `IDataView` type system and familiar APIs

[2018-12-05 01:13] wschin opened #1825 "RffWorkout test is not stable and randomy fails during the build."
As title. I failed multiple times for some unknown reasons. It needs to be improved for a more smooth merging process.

[2018-12-05 01:20] singlis commented on #1823
@swesonga Thank you for reporting this. I am not familiar the Windows Nano image. Is this by chance a 32-bit or ARM based? We currently only support 64-bit, but do have plans to support other platforms.

[2018-12-05 01:45] singlis opened #1826 "MatrixFactorization construction parameters are not consistent with other learners"
The ordering of parameters for the Matrix Factorization constructor is inconsistent with other trainers, specifically the Label column should be first before the matrixColumnIndex and matrixRowIndex as the matrixColumnIndex and matrixRowIndex are the feature columns:

[code]

Where other trainers have the label column argument followed by feature column:
[code]

[2018-12-05 01:47] eerhardt commented on #1823
I investigated this today. It appears the issue is that we are dynamically linking to the VC++ Runtime, which is not available on Windows Nano (and it isn't installed on "normal" users machines either).

The fix is simple (once you know what to do). We should be statically linking against the VC++ Runtime (using the `/MT` compile flag). I missed this when I first set up the native build code.

[2018-12-05 01:50] eerhardt commented on #1823
@singlis - FYI we do now support 32-bit on Windows.

Windows Nano is the "small" Windows docker container technology: https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10

[2018-12-05 02:00] singlis opened #1827 "The trainer API for MLContext is inconsistent for learner in external nugets"
APIs are discoverable via the MLContext. There are some learners that are declared on the MLContext where other learners define an MLContext extension in cases where the learner is in a separate nuget package.

This results inconsistent API calls when accessing APIs, for example BinaryClassification vs Recommendation():
[code]

The API discover ability should be consistent and work across nuget pa

[2018-12-05 02:02] singlis commented on #1806
Thanks @asthana86.  For reference, I filed the two issues
#1827 The trainer API for MLContext is inconsistent for learner in external nugets
#1826 - MatrixFactorization construction parameters are not consistent with other learners.

I will keep this issue open for a few days in case there is any other things to discuss.

[2018-12-05 05:02] NektoDron commented on #1819
I can't define scheme in the TSrc's attributes because I have a VBuffer<float> Feature field with a dynamic size. I make data and scheme definition on run-time and it was possible in the 0.7 and not possible in the 0.8+ versions. To be more exact I can make DataView with a dynamic scheme and train model with it, but I can't use its model for prediction because it makes exception like "Incompatible

[2018-12-05 08:11] #1699 closed

[2018-12-05 18:48] #1823 closed

[2018-12-05 19:57] Zruty0 commented on #1827
This inconsistency was expected by design from the first day: we planned to have **properties** for 'standard' tasks (available in `Microsoft.ML` NuGet) and **methods** for tasks that are added in separate NuGets (time series, recommendation, etc.)

If you have any suggestion on how to make them consistent, please make it. The only way I see that we can reconcile the calls is to make all existing

[2018-12-05 20:14] singlis commented on #1825
@wschin Is there a specific platform this is failing on?

[2018-12-05 20:41] Ivanidzo4ka commented on #1825
I download RffStatic test output file and it looks like we have error in 7th digit or so. So easy solution is to just change precision.
For RffWorkout, it's kinda mystery. It fails in Done method which shouldn't happen. Done checks certain variable which we set to true during initialization, and never changed in test.

[2018-12-05 22:11] rogancarr commented on #1771
We are not going to support `Recommendation` in PFI for the time being, as we only have Matrix Factorization.

[2018-12-05 22:21] JRAlexander opened #1831 "Deprecate documentation topics migrated to docs.microsoft.com"
The ML.NET Cookbook and ML.NET High-Level Concepts documents have been migrated to docs.microsoft.com as agreed upon. The current documents need to be updated to point to the migrated ones.

[2018-12-05 22:30] JRAlexander commented on #1831
@shauheen, I'll follow up offlline, as I just saw your email.  Thanks.

[2018-12-05 22:41] Zruty0 commented on #1825
I believe that we actually set the 'passed' field during `CheckSameSchema` and `CheckSameValues`, which is consistent with the assumption that RFF is not deterministic.

[2018-12-05 23:11] wschin commented on #1708
What does it mean to move `AsEnumerable<T>` to `Microsoft.ML`? I know its namespace needs to be changed but which file it should move to? I have the same question to `AsCursorable<T>`.

[2018-12-05 23:52] singlis commented on #1825
Please see this PR:
https://github.com/dotnet/machinelearning/pull/1829

[2018-12-05 23:56] #1706 closed

[2018-12-06 00:03] singlis commented on #1825
@Zruty0  - I will check the passed field as well.

[2018-12-06 01:39] Zruty0 commented on #1818
@NektoDron , predicting the next value is not something we have on the immediate plans. However, you can simulate these 'auto-regression' models by taking a sliding window of the original time series and training a regression model to predict the next value in the series.

Of course care should be taken to make sure seasonality and trends are captured properly, but I think this is a well-known are

[2018-12-06 01:40] jignparm opened #1834 "OnnxTransform -- upgrade to support Linux, Mac and CUDA GPU"
Add support for Linux X64
Add support for Mac X64
Add support for CUDA GPU for Windows and Linux (no Mac yet)

[2018-12-06 08:06] NektoDron commented on #1818
@Zruty0 , I've tried to do this. But it's too slow, because I should always retrain many models to simulate how prediction works on the history data.

[2018-12-06 10:01] shauheen commented on #302
Generally I would agree with adopting what roslyn does. @TomFinley what do you think?

[2018-12-06 10:03] shauheen commented on #88
Legacy API will be removed for the next release, this issue needs to be addressed soon.

[2018-12-06 10:04] #100 closed

[2018-12-06 10:16] pekspro commented on #1752
Update: I get the same problem in Microsoft.ML 0.8.0.

[2018-12-06 10:16] shauheen commented on #511
@rogancarr can you please look into this issue.

[2018-12-06 10:18] shauheen commented on #599
closing this as we shipped this functionality in 0.8, feel free to reopen if still not completely addressed.

[2018-12-06 10:18] #599 closed

[2018-12-06 10:19] shauheen commented on #1307
Poking the druid, @TomFinley

[2018-12-06 10:21] #824 closed

[2018-12-06 10:31] #1685 closed

[2018-12-06 10:33] #612 closed

[2018-12-06 16:55] wschin commented on #325
Let me add some background here so that People don't know Chinese a lot can still join this discussion.

There are tons of ways to tokenize Chinese sentences because we do NOT have separators like “ “ (aka space) in English. For example, “today’s weather is very good” in Chinese is “今天天氣很好”. A Chinese tokenizer needs to find boundaries between meaningful tokens so that “今天天氣很好” can be tokenized in

[2018-12-06 17:49] #1604 closed

[2018-12-06 18:22] leblancdavid opened #1839 "FastTree cannot solve a simple toy problem when using feature arrays"
I'm having a hard time understanding the API for doing basic machine learning. In our application, our feature vectors come in as basic arrays of floating point values. I create a simple toy problem to try to understand how the API works (using the samples as a guide) which uses the `FastTree` binary classifier. The training data is just 2 vectors <0, 0>:0, <1, 1>:1, which should be easily be able

[2018-12-06 19:27] rogancarr opened #1840 "Add confidence intervals to permutation feature importance"
`Permutation Feature Importance` (aka `PFI`) computes the importance of a feature to a model by permuting values for that feature, scoring it with the model, and comparing the new evaluation metrics to the original evaluation metrics. For speed, `PFI` uses only one permutation, and this leads to a bit of randomness in the predicted importances. For example, based on the random seed features can ch

[2018-12-06 19:34] vaeksare opened #1841 "DNNImageModels are downloaded on all machines during official builds"
The models only need to be downloaded on one machine during official builds, not all of them.

[2018-12-06 19:36] TomFinley opened #1843 "Schema.Metadata needs a better name"
"Metadata" is perhaps not the best name for what we currently call metadata.

First, what is it: what we call Metadata is meant to suggest not just any metadata, but that data that we consider auxiliary, or at *most* ancillary. (So for example, slot names are in metadata, because not everything will have names for each slot. But sometimes they will, and we need a place to keep that.)

The trouble

[2018-12-06 20:34] #1824 closed

[2018-12-06 21:45] #1715 closed

[2018-12-06 21:45] Ivanidzo4ka commented on #1839
Every algorithm have some knobs which let you tune it to get different models. This knobs have some default values, which we have to specify to cover most usual cases. Case where you have two data points is not are common one.

We have parameter minDatapointsInLeaves which specify how many data points you need to have in order to create leaf in tree.
By default that value is 10. And in case if you

[2018-12-06 22:37] leblancdavid commented on #1839
Boy I feel dumb now! That makes perfect sense thank you!

[2018-12-06 22:37] #1839 closed

[2018-12-07 00:46] jpbrandl commented on #1783
I will take a look at this one, if it is still available.

[2018-12-07 17:58] sfilipi commented on #1319
This is complete through #1524, #1682, #1739

[2018-12-07 17:58] #1319 closed

[2018-12-07 18:05] #1820 closed

[2018-12-07 18:43] singlis commented on #1806
Closing as we have the other two issues filed.

[2018-12-07 18:43] #1806 closed

[2018-12-07 18:56] singlis commented on #1825
From the thread on #1829, the intermittent failures were due to change #1657, which was reverted in #1838. I have also not seen it repro in the build since the revert, so marking this as closed.

[2018-12-07 18:56] #1825 closed

[2018-12-07 19:02] #1721 closed

[2018-12-07 19:04] Ivanidzo4ka commented on #1721
I push changes which fix problem and they should be available in daily nuget. If you can't use daily nuget i suggest you to disable that exception tracking in your application:
CTRL + ALT + E
Under "Managed Debugging Assistants" uncheck PInvokeStackImbalance.

[2018-12-07 19:14] #1611 closed

[2018-12-07 19:20] rogancarr commented on #1652
I think pretty-printing is the way to go. Closing issue.

[2018-12-07 19:20] #1652 closed

[2018-12-07 19:36] rogancarr opened #1850 "OLS FeatureWeights are not the model weights"
For the `LinearPredictor`, the `GetFeatureWeights` returns the model weights, as expected:

[code]

The `OlsLinearRegressionPredictor` has the same method, but it does not return the model weights. It returns the [`-log(p-value)` for each feature](https://github.com/dotnet/machinelearning/blob/14c7a472579afa3ce98bad2e3495e4c0524471b9/src/Microsoft.ML.HalLearners/OlsLinearRegression.cs#L782). This

[2018-12-07 19:36] rogancarr commented on #1850
@yaeldekel  @glebuk Are you all familiar with these APIs and what they are supposed to mean?

[2018-12-07 20:02] rogancarr commented on #1850
Also, to be clear, the p-value for a feature doesn't specify the relative importance of the feature; it just means how confidence one can be that the value is different than zero. You can have very unimportant features that you are very confident are not zero....

[2018-12-07 21:28] eerhardt opened #1851 "Native assemblies from NuGet aren't copied correctly for packages.config"
### System information

- **OS version/distro**: Windows
- **.NET Version (eg., dotnet --info)**: .NET Framework 4.7.1

### Issue

- **What did you do?**
Create an "old style" .csproj using packages.config and added Microsoft.ML nuget package and built.

When creating the project, if you uncheck the "Create directory for solution" checkbox, then the .sln and .csproj are in the same folder. When yo

[2018-12-07 21:33] #1841 closed

[2018-12-07 22:09] sfilipi commented on #1751
Hi @ArieJones I tried out your sample, with version 0.9.0-preview-27207-3 and the error doesn't repro.
It does indeed throw with 0.8; but it seems fixed now.

I can't push my branch to your repo, authorization error, but see the pipeline changes below

`
    class Program
    {
        static void Main(string[] args)
        {
            var mlContext = new MLContext(0);

            //New Way St

[2018-12-07 22:09] #1751 closed

[2018-12-07 22:10] sfilipi opened #1852 "No way to set the log verbosity in the MLContext"
There is currently ways to set a Logging verbosity in the MLContex.
The users need to be able to tweak logging verbosity.

[2018-12-07 22:57] montebhoover opened #1853 "Add components to EntryPoint catalog that are missing."
There are several new components in ML.NET that were not added to the EntryPoint catalog:

- MatrixFactorizationTrainer
- PermutationFeatureImportance
- GeneralizedAdditiveModels
- SsaSpikeDetector
- SsaChangePointDetector
- IidSpikeDetector
- IidChangePointDetector

To add these to the EntryPoint catalog, simply:

1. Add the `SignatureEntryPointModule` signature to the `LoadableClass` assembly at

[2018-12-07 23:32] sfilipi commented on #515
This will be called complete after adding a sample for MissingValueHandling/Indicator/Replacing transforms.

[2018-12-07 23:40] sfilipi commented on #282
Closing, since the initial question is resolved, and training on 10 data points is not a realistic scenario. Please feel free to open another issue if you are not reaching the right accuracy.

[2018-12-07 23:40] #282 closed

[2018-12-07 23:51] sfilipi commented on #127
@ddobric your feedback is incorporated in the static api described in #474, #581 and the [cookbook](https://github.com/dotnet/machinelearning/commit/14c7a472579afa3ce98bad2e3495e4c0524471b9#diff-ecac29a5d9034d4eeb9cff7e6b439175).

Closing this since the discussion of the same topic in the other Issues is brader.

[2018-12-07 23:51] #127 closed

[2018-12-07 23:52] sfilipi commented on #246
Closing since the question seems answered.

[2018-12-07 23:52] #246 closed

[2018-12-08 01:14] #1802 closed

[2018-12-10 05:21] #515 closed

[2018-12-10 21:52] montebhoover commented on #1565
From @yaeldekel 's findings:

Entrypoints required by NimbusML that need to be migrated out of ML.NET's ML.Legacy namespace:
- CVSplit, TrainTestSplit
- DataViewReference
- FeatureCombiner
- ImportTextData
- ModelOperations.CombineModels
- ModelOperations.CombineTransformModels
- **OneVersusAllMacro** *
- **TrainTestMacro** *
- **CrossValidationMacro** *

Components that are not entrypoints but st

[2018-12-10 22:35] JRAlexander opened #1854 "ColumnAttribute and TextLoader.Column and TextLoader.Arguments has header property"
From @PeterPann23:

"To me, this seems to all address the same problem on several different steps of designing the data, perhaps make ordinal an integer and not a string and define the data kind all on-top of the class and have the text loader override it when needed if needed. Most likely one would create a model class as in MVC that consumes a given "view" on the world. Perhaps my MVC experience

[2018-12-10 23:15] wschin commented on #1854
They are used for different purposes.
- ColumnAttribute: append extra information to C# class's fields so that ML.NET can convert them to ML.NET type
- TextLoader.Column: Specifies type information for text in file as a C#. Potentially this can be replaced by `Schema.Column`.
- TextLoader.Arguments: Sometime, the text file loaded may contain useful information such as column names. We use some of

[2018-12-11 00:34] wschin opened #1857 "Schema Equtable"
Sometime, we have code like
[code]
where the equivalence between two `Schema` objects is enforced by using things like
[code]
. This implies that we need to implement proper comparison function for `Schema`.

[2018-12-11 03:32] Zruty0 commented on #1854
`TextLoader.Column` can not be replaced with `Schema.Column`, because it holds the knowledge of where to look for the values in the text file.

However, we can (and should) re-work the `ColumnAttribute`: it should be clear that it is exclusively used for `TextLoader`, and doesn't share responsibilities with `ColumnName`, `VectorType` etc. The `ordinal` field is also a mistake, I think: we should m

[2018-12-11 16:47] wschin commented on #1857
With two identical `Schema`, `Schema A` and `Schema B`, is it possible to have `false = A==B`?

[2018-12-11 17:10] wschin commented on #315
Where can I find the input data set?

[2018-12-11 17:18] wschin commented on #1854
`TextLoader.Column` and `Schema.Column` share some common attributes, so I was thinking of doing
[code]
I guess the major barrier will be re-implementing `TryParse` and `UnParse` for `Schema.Column`.

[2018-12-11 18:00] #1259 closed

[2018-12-11 19:18] sfilipi commented on #315
You can use the sentiment dataset: wikipedia-detox-250-line-data

The dataset used was a variant of it.

[2018-12-11 19:49] #1633 closed

[2018-12-11 20:19] eerhardt opened #1860 "Extract IDataView into its own assembly and NuGet package"
IDataView is a very flexible, efficient way of describing tabular data (columns and rows) in a read-only manner.

https://github.com/dotnet/machinelearning/blob/master/docs/code/IDataViewDesignPrinciples.md

At its heart are 2 key concepts:
- Schema (describing the columns)
- Cursoring (how to read the rows of data)

It has other capabilities that I won’t enumerate here, the above link describes t