[2019-01-23 15:53] TomFinley commented on #2064
Let's stop right there, because this is the root of where we've gone down different paths, and if we can't agree on this, we can't agree on anything. This is the root of why I consider your scheme dead wrong. You gloss over it, but this is ***the*** point of why we decided a while ago to go in the opposite direction back when @zeahmed was writing the convenience constructors for transforms.

Look

[2019-01-23 16:04] markusweimer commented on #2064
Regarding the ordering of inputs and outputs, I believe there is other important related work to consider: SQL. There, the output is specified before the input: `SELECT something FROM somewhere`. I believe this is precisely because the output is "new", and usually short, while the input can be hideously complex with structure in its own right.

@interesaaat could be in a position to (dis)proof thi

[2019-01-23 16:56] sfilipi opened #2210 "Update the cookbook to contain just the dynamic examples"
A few people have commented that having both the dynamic API and the static API examples in the cookbook is confusing for new users.

Separate them into two documents.

[2019-01-23 16:57] eerhardt commented on #2064
In general, the proposal of having the output column being nullable is a bit strange to me. Instead of having a pattern:

```FooEstimator(string inputColumn, string outputColumn = null, ...)```

What if we split these methods into two overloads:

```FooEstimator(string column, ...)```
```FooEstimator(string inputColumn, string outputColumn, ...)```

If we have a 1-1 transform, and we want the ease

[2019-01-23 16:59] sfilipi opened #2211 "Re-build the MKL binaries together with OpenMP and update SymSGD to make use of parallelism"
The current binaries for MlNetMKLDeps are build with sequential threading, and SymSgd has parallelism turned off.

Now that the legal issues around packaging and re-distributing Open MP are clarified, re-build the ML bits with threading=parallel and update SymSGD.

[2019-01-23 17:36] interesaaat commented on #2064
Replying to Markus: you are right, the output goes last and I think that this is because it ease composability. SQL queries (as well as Datalog for that matter) are in fact composable, and it is much easier to get the output schema if is specified as first than if it is instead baked into the query (or last). Nevertheless, when you write queries, we always start from the input schema (it is diffic

[2019-01-23 18:03] TomFinley commented on #2064
I think that falls apart for reasons of confusion, and *maybe* consistency, once we consider that some of these parameters are very often strings themselves. That is, your `...` contains strings. (Which I know will happen lots of times, of course.)

So, without checking, let me ask you a question about .NET. We will use a hypothetical simple example to guide our thinking.

[code]

Then imagine I h

[2019-01-23 18:22] #2028 closed

[2019-01-23 19:32] #2114 closed

[2019-01-23 19:43] sfilipi commented on #2064
After discussing this with @Ivanidzo4ka @TomFinley @eerhardt @markusweimer the decision is to:

- change the current extension APIs and transformer estimator constructors to have the generated column first, and the input columns come after all required parameters.
- the name of the column resulting from the transformation will be "outputColumnName" and the name of the column/columns to apply the t

[2019-01-23 21:55] rogancarr opened #2213 "Array Checks in Microsoft.ML.Internal.Utilities.Utils are not tested"
The array tests used as sanity checks are not tested, even though they have very particular expectations on behavior (different from their names imply, sometimes). We should add tests to cover them.

[2019-01-24 00:42] #2156 closed

[2019-01-24 01:56] #1708 closed

[2019-01-24 01:56] #2025 closed

[2019-01-24 02:14] rogancarr opened #2223 "Array checks in Utils return true for null arrays"
`Microsoft.ML.Internal.Utilities.Utils` has a couple of array checks that return `true` when a `null` array is passed in. Is this the expected behavior?

Here are the culprits:

[code]

[code]

Note that `IsIncreasing` is typically used for checking `int[]` arrays because `ReadOnlySpan` performs an implicit cast and null arrays are set to a 0-length `ReadOnlySpan`.

In a similar vein, `IsSorted` u

[2019-01-24 02:16] rogancarr commented on #2223
@TomFinley  What do you think?

[2019-01-24 04:01] #2213 closed

[2019-01-24 19:24] TomFinley opened #2231 "Remove IDataLoader from public API surfaces for specifying data"
So in "command line" world, we have things that look like this:

https://github.com/dotnet/machinelearning/blob/eed91b988fe6850d13255d599c9191c9a9b80aa0/src/Microsoft.ML.Data/Transforms/ValueToKeyMappingTransformer.cs#L116-L123

This makes sense, considering that when invoking a command line, you are not working in the context of an existing process but starting a new one, so the most plausible so

[2019-01-24 19:38] TomFinley commented on #2231
The problematic components affected by this issue seem to be the following, based on cursory examination:

* CustomStopWordsRemovingEstimator (also the associated transformer that should be transform*er*, but is currently transform).
* ValueToKeyMappingEstimator,

There may be more parts affecting the public API using `IDataLoader` directly, these were just the obvious ones.

[2019-01-24 20:17] shmoradims commented on #1725
The documentation is saying ML.NET 0.9, but those pages I mentioned still look incorrect.
@TomFinley is this malformed documentation on ml.net or do you think the rendering can't format it? This seem to be the only transform that's saying Microsoft.ML.Runtime.Entrypoints.TlcModule.

[2019-01-24 20:38] #1339 closed

[2019-01-24 22:02] CESARDELATORRE opened #2233 "Enable to get ranked-list of predicted labels when performing a multi-class classification prediction"
This is a needed scenario that can be pretty common from a business needs perspective.

When using ML.NET code implementing multi-class classification, we’re returning/predicting a single label…

**Multi-class Classification**
- Label: Original Label of the example.
- Score: Its an array whose length is equal to number of classes and contains probability for each class.
**- PredictedLabel: Predict

[2019-01-24 22:37] mihaar commented on #1886
As sugested by @shauheen  I have tryed importing intounity and training ML version 0.9.0. The cal: `predictionEngine = model.CreatePredictionEngine<AbstractSignal, PredictedRfd>(mlContext);` now returns an error:
ArgumentException: method arguments are incompatible
System.Delegate.CreateDelegate (System.Type type, System.Object firstArgument, System.Reflection.MethodInfo method, System.Boolean thr

[2019-01-24 23:53] daholste commented on #1969
Any chance you would be able to prioritize this fix to ship in your next release?

[2019-01-24 23:54] singlis opened #2237 "Remove learningRate argument from FastForest constructor"
Started from issue #1983 where there is a comment about learningRate is accessible from the FastForest constructor but not accessible from the FastForest Arguments (now Options) class. After investigating, learningRate is not an argument for FastForest and that it was added to the constructor by mistake.

For this issue, the fix is to remove learningRate from the constructor for FastForest and upd

[2019-01-24 23:55] singlis commented on #1983
This issue was resolved with the PR above, so I am closing this issue.

At the same time @daholste mentioned not being able to set the learning rate on the Arguments for Fast Forest but can set the learning rate as part of the constructor. After investigating (thanks @yaeldekel ), there should not be a learningRate argument for FastForest -- this was added by mistake. I created a bug to remove lea

[2019-01-24 23:55] #1983 closed

[2019-01-25 00:00] luisquintanilla opened #2238 "Code Snippet Language Options Visible for Languages Not Yet Available"
On the top toolbar there is a dropdown to select the language to display the code snippet in with options for F# and VB. However, when either F# or VB are selected, the code in the code snipped remains the default C# implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 209d151a-38b8-5ef8-57b9-bbdb0fcdef55
* V

[2019-01-25 00:50] TomFinley commented on #1760
Hi @sfilipi I just ran into this wile trying to use `ValueToKeyMappingEstimator`... it's `ColumnInfo` is for some reason off in the transformer, not the estimator. Yes should fix.

[2019-01-25 01:09] fedoranimus opened #2240 "Help utilizing multi-column vectors"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  2.1.5

### Issue

- **What did you do?**
In my migration to v0.8, I'm moving away from the legacy API and have data that consists of over 400 columns. Previously, by manually mapping each column, I achieved results from evaluation:
[code]

Now, I'm reading in the columns as multi-column vectors (n

[2019-01-25 02:58] singlis commented on #1899
@zruty0 @justinormont In regards to the Micorsoft.ML.Full package:

We should be able to create a Microsoft.ML.Full package that contains dependencies of all of the ML.net packages. This would be sustainable because this would be done via nuget package references rather than having one large package.

[2019-01-25 03:55] #1540 closed

[2019-01-25 03:57] jignparm commented on #1323
Tracking here -> https://github.com/Microsoft/onnxruntime/issues/156

[2019-01-25 04:08] jignparm commented on #2149
The DLL copy issue is resolved by https://github.com/Microsoft/onnxruntime/pull/325, so the manual copy will no longer be required for .NetFramework projects.

[2019-01-25 12:04] joelving commented on #2150
Fixed by #2160 by @endintiers. Good job. 👍

[2019-01-25 12:04] #2150 closed

[2019-01-25 13:18] erustin-ln opened #2242 "FastTreeBinaryClassificiationTrainer class declaration is incorrect"
Using ML.Net 0.9 an error is given when attempting the following -
`var pipeline = mlContext.Transforms.Concatenate("Features", featureNames)
        .Append(mlContext.Transforms.Normalize("Features"))
        .Append(mlContext.BinaryClassification.Trainers.FastTree(numLeaves: 50, numTrees: 50, minDatapointsInLeaves: 20));

      var model = pipeline.Fit(dataView);

      var m = model.LastTransfo

[2019-01-25 17:31] eerhardt opened #2244 "Official builds are broken because myget is full"
We are not getting official builds because the step that publishes the NuGet package to myget is failing because our feed is full. See https://github.com/dotnet/core-eng/issues/5070.

We should disable this step, for now, until the underlying myget feed is fixed.

/cc @shauheen @safern @Ivanidzo4ka

[2019-01-25 18:01] #2041 closed

[2019-01-25 18:49] abgoswam commented on #1866
re-opening this discussion

@TomFinley  @glebuk @eerhardt

[2019-01-25 19:00] abgoswam opened #2247 "Adding ModelParameters concept in the ML.NET documentation"
We should probably consider adding ModelParameters concept in the ML.NET documentation
(albeit one of the low-priority concepts)

Related to #1866

@eerhardt  @TomFinley  @sfilipi

[2019-01-25 19:01] glebuk commented on #2133
Related to #2079  and  #2041

[2019-01-25 19:20] rogancarr commented on #1866
Some scenarios where it's important to have public constructors:

**Adjusting model parameters**: Often there are situations where you may want to modify some parameters based on prior knowledge, as @Ivanidzo4ka  and @Zruty0 mention above.

**Importing models**: Many people need to train models in custom systems, but need to deploy them in .NET. Imagine if you train a large-scale model in Spark or

[2019-01-25 19:37] #2244 closed

[2019-01-25 20:37] rogancarr commented on #1866
Hi @TomFinley ,

Let me give you some examples where I go around the system and actually do this in ML.NET.

First let's talk about Use Case No. 2:  I do the following when I bring in models trained in different systems:

[code]

Here, I use a `CustomMappingTransformer` using a custom `LinearModel` class that I wrote. You could do the same for any model class you understood. Note that this totally

[2019-01-25 20:51] #1860 closed

[2019-01-25 21:51] TomFinley commented on #1866
I see. As you've observed, `IValueMapper`, have been made internal. They are not public -- they are meant as internal conveniences to allow for the easy creation of the `ITranformer` implementors, and *that* is what is public.

But as you've also observed, there are lots of things that are still public that should not be. E.g., these constructors for `RegressionPredictionTransformer` and the like.

[2019-01-25 21:56] rogancarr commented on #1866
Hi @TomFinley. That makes a lot of sense. I suppose that the first workaround that I use &mdash; creating a custom transformer with a custom model &mdash; will be a fine workaround for the next little bit then.

[2019-01-25 22:57] #2186 closed

[2019-01-25 22:57] #2187 closed

[2019-01-25 23:43] TomFinley opened #2251 "IPredictor and related parts hiding"
We have a few types inside `IPredictor.cs` that are perhaps useful for internal infrastructure, but are not directly useful from the point of view of the `IEstimator`/`ITransformer`/`MLContext` public API.

https://github.com/dotnet/machinelearning/blob/3e03fcef46e0bdd6961e0cccb7cc490ab535fbaf/src/Microsoft.ML.Core/Prediction/IPredictor.cs#L10

https://github.com/dotnet/machinelearning/blob/3e03fc

[2019-01-25 23:51] TomFinley commented on #2175
Hi @abgoswam ... from waht I see, it does. See here, in the `SdcaTrainerBase.TrainCore` method:

https://github.com/dotnet/machinelearning/blob/3e03fcef46e0bdd6961e0cccb7cc490ab535fbaf/src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs#L556

If the "connection" from weights in the constructor to weights in the trainer has been broken, that is what must be fixed. You should not remove the opt

[2019-01-25 23:55] #1156 closed

[2019-01-26 00:12] CESARDELATORRE opened #2252 "Lack of support for UWP apps in ML.NET"
Current version (0.9 and 0.10) don't support UWP apps properly.

See additional details in this Blog Post:
https://xamlbrewer.wordpress.com/2019/01/25/machine-learning-with-ml-net-in-uwp-clustering/

Related issues:
https://github.com/dotnet/machinelearning/issues/1736
https://github.com/dotnet/machinelearning/issues/1595

SUGGESTED APPROACH:

Usually, the common scenario for UWP apps (visual desk

[2019-01-26 00:46] Anipik opened #2253 "AvxIntrinsics.DotU is Slower than the native version"
We can verify this by running the benchmark https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Benchmarks/StochasticDualCoordinateAscentClassifierBench.cs#L157

[code]
|      Method |     (netcoreapp2.1)Mean |    Error |   StdDev |        netcoreapp3.0 |
|------------ |--------------:|---------:|---------:|--------------------:|
| PredictIris | 515.6 ns | 3.097 ns | 2.745 ns |

[2019-01-26 06:04] zeahmed commented on #2145
Also, need access to update https://www.nuget.org/packages/Microsoft.ML.TensorFlow.Redist/
Version 1.12 of TensorFlow is out and we need to update this nuget with latest version.

[2019-01-26 15:33] ThomasMuhr opened #2255 "linqpad fails to load ml.net because of wrong package definition"
### System information

- **OS Windows 10**:
- **.NET Version (latest**:

### Issue

- **What did you do?**
Load nuget in LinqPad 5

- **What happened?**
Error reading a falsely formatted  attribute in [nontent.types].xml
<Override PartName="//LICENSE" ContentType="application/octet" />
The two slaches //LICENSE prevent loading

- **What did you expect?**
That it loads without hassle!

### Source

[2019-01-27 05:05] Ivanidzo4ka commented on #2255
I would love you to help, but LinqPad default version is refuse to pickup any nuget without LinqPad examples.

Can you post whole exception?
For 0.10 we change LicenseUrl to LicenseFile https://github.com/dotnet/machinelearning/commit/cabf55b543129e8962ba716e8e22c72ac08773e3#diff-44980429c01868a5103ba0ba6efa035d
Can you try our daily builds from our [myget](https://dotnet.myget.org/feed/dotnet-cor

[2019-01-27 15:16] mihaar commented on #1886
@shauheen [UNITY SCRIPTING RESTRICTIONS](https://docs.unity3d.com/Manual/ScriptingRestrictions.html)
, says that:

[2019-01-27 15:55] ThomasMuhr commented on #2255
Hi Ivan,

I am now using version 0.6 which loaded into Linqpad without complaint. I guess it has the correct syntax for the config file, and it was corrupted in the later versions (the Linqpad nuget loader cannot get past the //LICENSE entry because of the two slashes).

I entered https://dotnet.myget.org in Linqpad settings as an alternative nuget server nbut that results immediately in another X

[2019-01-27 20:47] #2231 closed

[2019-01-27 21:17] abgoswam commented on #2175
@TomFinley . Correct. As you pointed out,  for this issue we need a fix  whereby the weight column passed in the constructor   gets  used by the trained.

I have edited the bug description accordingly.

[2019-01-27 21:28] abgoswam opened #2257 "Rename `weights` parameter in ML.NET Public API"
Couple of conventions to follow for `weights` parameter in ML.NET Public API

- Name of the `weight` argument in trainer API should be consistent with the other column names i.e it should end on *Column.
- Proposal to disambiguate this by calling it exampleWeightColumn.

@glebuk

[2019-01-27 21:34] abgoswam commented on #2175
@glebuk  .  I created a separate issue #2257  for the 2 comments above regarding naming convention for the `weights` parameter

- Name of the argument should be consistent with outer column names, it should end on *Column.
- The term "weight" is ambigious with model weights. Perhaps we should disambiguate this further by calling it exampleWeightColumn

[2019-01-28 00:53] leot42 commented on #140
I ran into same issue in C#. With the error of:

Microsoft.ML.Data.TextLoader+BoundLoader

Unhandled Exception: System.InvalidOperationException: Training set has 0 instances, aborting training.
   at Microsoft.ML.Trainers.SdcaTrainerBase`3.TrainCore(IChannel ch, RoleMappedData data,
LinearModelParameters predictor, Int32 weightSetCount)
   at Microsoft.ML.Learners.StochasticTrainerBase`2.TrainMod

[2019-01-28 01:12] sharwell opened #2258 "Code coverage has been disabled for src directory"
Pull request #2200 (unintentionally) caused the complete omission of code coverage information from the **src** directory.

The following line causes a problem in **Directory.Build.props**:

https://github.com/dotnet/machinelearning/blob/2f0c4755888e6a6a7f2f1206516479a8120a089b/test/Directory.Build.props#L9-L10

By placing this definition early in the build, the following does not take effect:

ht

[2019-01-28 03:13] loflet commented on #2242
Should I pick this up?

[2019-01-28 03:39] fwaris opened #2260 "Hyperparameter optimization framework and sample"
Framework and sample to perform hyperparameter optimization with IAsyncSweeper wrapped KdoSweeper.

https://github.com/fwaris/HpOpt/tree/master/HpOptModelRunner

Allows for parallel evaluation of models via multiple client processes and named pipes communication.

However I could not use the NelderMeadSweeper as it runs into some issue with not having enough results returned (I think).

In general

[2019-01-28 07:58] #2258 closed

[2019-01-28 08:04] adamsitnik commented on #2253
@Anipik great job finding this regression!

the reason is most probably the fact that ML.NET typically has a very small input for all the CpuMath operations, something like an array of 7 or 14 floats. Our managed implementation is not optimized for that, IMHO the best would be to change the architecture/data flow in ML.NET

[2019-01-28 08:12] justinormont commented on #2260
Quite nice!

Though as a general warning, the code base is in flux and we're looking to internalize as many components as we can before releasing as v1.0, the sweepers may or may not be accessible.

[2019-01-28 13:53] daniel-loudon commented on #2257
Hi is this up for grabs?

[2019-01-28 16:51] abgoswam commented on #2257
@daniel-loudon . I am currently working on this and will have a PR out for this shortly. There are a few other issues related to the `weights` column that we want to address for V 1.0

[2019-01-28 17:57] shauheen commented on #1996
addressed in #2236

[2019-01-28 17:57] #1996 closed

[2019-01-28 17:59] #2006 closed

[2019-01-28 18:13] Shadow992 opened #2263 "LightGbmMulticlassTrainer does not train correctly"
### System information

- **OS version/distro**:
Windows 10 64bit

- **.NET Version (eg., dotnet --info)**:
4.7.2 .Net Framework
ML.Net v0.9
Compiling with x64 and Release/Debug (does not matter)

### Issue

- **What did you do?**
I tried to get a simple LightGbmMulticlassTrainer working. I had have a look at several tutorials as I am quite new to this library but not to Machine Learning in genera

[2019-01-28 18:23] TomFinley opened #2264 "Lockdown Microsoft.ML.StandardLearners public surface"
We ought to internalize as much of the Lockdown Microsoft.ML.StandardLearners assembly to those things we want to be simplified.

[2019-01-28 18:25] TomFinley opened #2265 "Lockdown Microsoft.ML.EntryPoints public surface"
We ought to internalize as much of the Lockdown Microsoft.ML.EntryPoints assembly to those things we want to be public.

This may be considered less urgent if we take the decision that the associated EntryPoints nuget is to be marked as experimental for v1.

[2019-01-28 18:26] TomFinley opened #2266 "Lockdown Microsoft.ML.FastTree public surface"
We ought to internalize as much of that assembly to those things we want to be public. Right now this assembly has a tremendously needlessly large public surface area.

[2019-01-28 18:27] TomFinley opened #2267 "Lockdown Microsoft.ML.HalLearners public surface"
We ought to internalize as much of that assembly to those things we want to be public.

[2019-01-28 18:36] TomFinley opened #2268 "Lockdown Microsoft.ML.Ensemble public surface, or isolate it"
We ought to internalize as much of that assembly to those things we want to be public. The trouble with this one is that the API for ensembling, it is unclear what a good public version would look like and we don't have time to develop it. So it may be that at least for now internalizing the *whole thing* is the answer.

Complicating matters, FastTree depends on this assembly; it may do so for goo

[2019-01-28 18:37] TomFinley opened #2269 "Lockdown Microsoft.ML.ImageAnalytics public surface"
We ought to internalize as much of that assembly to those things we want to be public.

[2019-01-28 18:38] TomFinley opened #2270 "Lockdown Microsoft.ML.KMeansClustering public surface"
We ought to internalize as much of that assembly to those things we want to be public.

[2019-01-28 18:38] TomFinley opened #2271 "Lockdown Microsoft.ML.LightGBM public surface"
We ought to internalize as much of that assembly to those things we want to be public.

[2019-01-28 18:40] TomFinley opened #2272 "Lockdown Microsoft.ML.OnnxTransform public surface, possibly rename"
We ought to internalize as much of that assembly to those things we want to be public.

Also, I wonder if the assembly and associated nuget (both `Microsoft.ML.OnnxTransform`) is misnamed. We do not have "transforms," we have "transformers."

[2019-01-28 18:42] TomFinley opened #2273 "Lockdown Microsoft.ML.Onnx public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API. This may be completed already; the public surface area I hope should just be the extension methods to export.

[2019-01-28 18:47] TomFinley opened #2274 "Lockdown Microsoft.ML.Parquet public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API. In particular, making it resemble the other methods for creation of data views out of files (similar to text loading and binary file loading) would probably be the focus. Having it be what we call an `IDataReader` instead of the old legacy `IDataLoader` would be necessary.

If we do

[2019-01-28 18:48] TomFinley opened #2275 "Lockdown Microsoft.ML.PCA public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

[2019-01-28 18:50] TomFinley opened #2276 "Lockdown Microsoft.ML.Recommender public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

This particular assembly and its nuget might be one we mark as having an experimental API via its nuget. It seems valuable, but I'm not sure how confident we are that we got the shape of the API "right." @wschin may know best on this front.

[2019-01-28 18:55] TomFinley opened #2277 "Lockdown Microsoft.ML.SamplesUtils public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

This is an odd one. In spirit it seems similar to [similar utilites from sklearn](https://scikit-learn.org/stable/datasets/index.html), which are valuable. But, should it be part of the main nuget? Is this public API surface what we really want? It seems like maybe making it an exte

[2019-01-28 18:55] CESARDELATORRE opened #2278 "Simplify post-prediction schema info to make user-friendly predictions such as list of ranked predicted labels/categories"
CONTEXT:

In this PR we're allowing the user to get schema info after predicting:
https://github.com/dotnet/machinelearning/pull/2250

That way a user can get, for example, get the list of the predicted labels in a multi-class classification and related that to the list/array of scores.

That's very useful for business cases where you want to automatically predict/assign a product to multiple cate

[2019-01-28 19:01] TomFinley opened #2279 "Separate Nuget versioning for "final" and "experimental" nugets"
Right now all our nugets have one global version. Once we ship V1, however, there will be some assemblies and nugets that are "final," in that their API surface is locked and going forward we do not make breaking changes, and other assemblies doing more experimental work where we're not quite so sure what the final surface will look like.

An example of this is `Microsoft.ML.StaticPipe` and friend

[2019-01-28 19:02] TomFinley opened #2280 "Lockdown Microsoft.ML.TensorFlow public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

[2019-01-28 19:02] TomFinley opened #2281 "Lockdown Microsoft.ML.TimeSeries public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

[2019-01-28 19:03] TomFinley opened #2282 "Lockdown Microsoft.ML.Transforms public surface"
We ought to internalize as much of that assembly to those things we want to be public, and finalize its public API.

[2019-01-28 20:18] DevLob-zz opened #2283 "Error load Model (Generated from 64 bit ) From 32 bit"
### System information

- **OS version/distro**: W10
- **.NET Version (eg., dotnet --4.6.1)**:

### Issue

- **What did you do?**
i generated a model From 64 bit application and saved the .zip file
then try load this Model from 32 bit application
- **What happened?**
it throw an exception while loading the model
"'Could not load type 'Microsoft.ML.Transforms.Categorical.CategoricalTransform' from

[2019-01-28 20:43] abgoswam commented on #2179
Closing out this issue. PR #2205 fixed it.

[2019-01-28 20:43] #2179 closed

[2019-01-28 20:46] eerhardt commented on #2255
Seems like either a NuGet bug or a LinqPad bug.

But we can workaround it by removing the slash in our project.

[2019-01-28 20:56] Ivanidzo4ka opened #2286 "TensorFlow redist nuget package wants license url"
Run:
build -BuildPackages locally.
[code]

[2019-01-28 20:57] Ivanidzo4ka commented on #2286
cc @eerhardt  @shauheen

[2019-01-28 21:19] Ivanidzo4ka commented on #2283
[ConsoleApp12.zip](https://github.com/dotnet/machinelearning/files/2804995/ConsoleApp12.zip)

Here is my solution with x86 platform project.
It works fine with current latest stable nuget (0.9)
![image](https://user-images.githubusercontent.com/1523833/51866961-32745380-22ff-11e9-8b9f-c1983306bb23.png)

[2019-01-28 21:34] eerhardt commented on #2283
@DevLob-zz  - what version of `Microsoft.ML` nuget package are you using?

[2019-01-28 22:15] Anipik commented on #2253
Same is the case with ```MakeIrisPredictions``` Benchmark
old - netcoreapp2.1
new - netcoreapp3.0

Base (old) Time: | 707.5
-- | --
Test (new) Time: | 786.9
Delta: | 79.4
Delta %: | 11.2

I verified using the perfview that the cause of regression is DotU. The Inclusive time fot DotU on netcoreapp3.0 is 192ms and on native version of cpumath is 106 ms

[2019-01-28 22:20] shauheen opened #2289 "Update NuGet Metdata for Microsoft.Data.DataView"
With the introduction of the new NuGet we need to update some of the metadata to better signify the position of DataView.

https://github.com/dotnet/machinelearning/blob/master/pkg/Directory.Build.props#L26

should be overridden to show the following info for this specific package only:

[code]

@eerhardt , @danmosemsft

[2019-01-28 22:53] codemzs opened #2291 "ONNXML.cs needs to be generated at BUILD"
Currently ONNXML.cs is generated manually using protobuf definition. It is also included as part of code coverage which should not happen and PR #2290 will remove it. We need to make it such that it is clear that file is not authored by ML.NET team and is coming from an external source.

CC: @wschin , @shauheen , @TomFinley

[2019-01-28 23:16] codemzs opened #2292 "Tensorflow sharp files need to come from a nuget"
The files under Microsoft.ML.Tensorflow/Tensorflow should come from a nuget since ML.NET team does not maintain these files. These files are also included in code coverage when they should not be, PR #2290 removes them.

[2019-01-28 23:46] Anipik opened #2293 "SequencePool.GetCore slower on netcoreapp3.0"
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs#L122

Benchmark is slower on netcoreapp3.0. On investigation, I find out the major culprit for the regression is the function below

[code]

The exclusive time for this function on netcore2.1 is areound 689ms where as on netcoreapp3.0 it takes around 824ms

The function is defined he

[2019-01-29 00:04] jkotas commented on #2293
@Anipik What have you done to try to find the reason behind this regression?

[2019-01-29 00:18] artidoro opened #2294 "TextLoader backcompat version number is wrong"
The version number for backwards compatibility comparison in TextLoader is wrong. It should be updated to the correct version number 0x0001000C.

We should also add a test for backwards compatibility.

This is related to the change #2146.

[2019-01-29 00:21] Anipik commented on #2293
I just did an analysis with the perfview which showed that all the functions that are being called from GetCore i.e. TryDecodeOne and HashSequence are taking the similar time on both the platforms(2.1 and 3.0). From this I concluded that regression is in this function(maybe in the codegen) and not in callees.

I  tried enabling the tiered jitting for this benchmark. I increased the warmup iteratio

[2019-01-29 00:36] eerhardt opened #2297 "Naming overhaul for IDataView subsystem"
We should make sure the type names in the IDataView subsystem are the names we want to use forever.

See

1. https://github.com/dotnet/machinelearning/pull/2220#discussion_r251141578

2. https://github.com/dotnet/machinelearning/pull/2254#discussion_r251259500

We’d probably want to rename everything then. Row is a pretty generic name. So is ColumnType.

________

# Proposal

1. We will ensure the

[2019-01-29 00:36] Anipik opened #2298 "AvxIntrinsics.DotSU is Slower than the native version"
We can verify this by running the benchmark https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Benchmarks/Text/MultiClassClassification.cs#L62

[code]
|      Method |     (netcoreapp2.1)Mean |    Error |   StdDev |        netcoreapp3.0 |
|------------ |--------------:|---------:|---------:|--------------------:|
| CV_Multiclass_WikiDetox_WordEmbeddings_OVAAveragedPerceptron| 1

[2019-01-29 00:44] Ivanidzo4ka opened #2299 "FastRank MSM sparse test baselines are suspicious"
We shouldn't have this
https://github.com/dotnet/machinelearning/blob/master/test/BaselineOutput/Common/FastRank/FastRank-TrainTest-MSM-sparse-sample-out.txt
`Could not find file '%Data%`

https://github.com/dotnet/machinelearning/blob/master/test/BaselineOutput/Common/FastRank/FastRank-TrainTest-MSM-sparse-sample-test-out.txt
`Unexpected exception: Could not find file '%Output% 'System.IO.FileNot

[2019-01-29 01:14] jkotas commented on #2293
Look at the native code before and after. Benchmark.NET has support to make it easy: https://adamsitnik.com/Disassembly-Diagnoser/ . If you are not able to make heads and tails of the differences, save the disassembly before/after as [gist](https://gist.github.com/) and share the link here so that others can take a look and route it accordingly.

[2019-01-29 01:34] glebuk commented on #2121
Actually ML.NET supports working with in-memory images already.
Loading images from files is just one way to get images into the system.  You can also feed them with System.Drawing.Bitmap objects, wrapped in ```Microsoft.ML.ImageAnalytics.ImageType``` or directly from pixel matrices.
While ImageLoader works with paths of images, other Microsoft.ML.ImageAnalytics transforms work with ImageType, whi

[2019-01-29 03:04] TomFinley commented on #1958
Hi @shmoradims sorry just saw this.

Yes, and I see you solved it by making everything public. However in an ideal world, it would be best if it did not do things this way, since as argued above I would say that the current code is perhaps not in the best state. However, I agree that fixing it is not a priority.

[2019-01-29 03:37] #2294 closed

[2019-01-29 05:03] #1104 closed

[2019-01-29 05:07] zeahmed opened #2301 "Create a test for text classification in TensorFlow."
Create an example test which takes textual features as input and output the probability of being in each class.

[2019-01-29 06:20] DevLob-zz commented on #2283
i tested it on 0.8 and then migrate my code to 0.9 and same error type

[2019-01-29 06:56] DevLob-zz commented on #2283
Yes thanks l cleaned some dll's then rebuild and issue was solved may be as i installed 0.9 the unistall and reinstall 0.8 then again reinstall 0.8

thanks

[2019-01-29 06:56] #2283 closed

[2019-01-29 07:37] DevLob-zz commented on #2283
i think it's worked now

may be the issue due to conflict of some dll between 0.8 and 0.9 i cleaned all dll's and rebuild again and seem to be worked thanks

[2019-01-29 12:52] fwaris commented on #2260
thanks for the heads up. hopefully equivalent functionality will be available in 1.0.

 Model architecture and hyper parameter optimization is the next level up. MS research has an interesting project - AutoML (https://www.microsoft.com/en-us/research/project/automl/) along these lines. Wonder if there are any plans to integrate AutoML with ML.Net

[2019-01-29 15:21] dckorben commented on #1635
The usage of seeds seems to be unclear. I think in some workflows, if the Context seed is provided, you are probably going for deterministic outcomes for testing. However, if the Context seed isn't provided, you are probably doing a real training. It doesn't seem that the Context seed has any effect on the Split. In some cases, you might have a need to call split multiple times, which of course pr

[2019-01-29 16:05] RobinDanielSandlin commented on #1490
Same here. Microsoft.ML package Version 0.9.0, VS 2017 Community Version 15.7.6, OS: Win7 Pro SP 1 64-bit. Warning does not go away when rebuilding.  If I keep going, code hangs trying to train model in the Fit method.

[2019-01-29 17:32] PaulTFreedman commented on #2053
@justinormont What data type are you thinking the ToJson() method would return? Something built in to .NET or maybe from Newtonsoft?

[2019-01-29 18:00] abgoswam commented on #1798
marking as Donr, and closing this isssue. All learners have been taken care of.

[2019-01-29 18:14] justinormont commented on #2053
Since the class has basic doubles, I would expect nothing fancy is needed for serialization.

The .ToJSON() for [BinaryClassificationMetrics](https://github.com/dotnet/machinelearning/blob/e2f7075782764c9dab8f0a04013aaf8b9921d984/src/Microsoft.ML.Data/Evaluators/Metrics/BinaryClassificationMetrics.cs#L10) could look like:
[code]

[2019-01-29 18:26] #1635 closed

[2019-01-29 19:08] shmoradims commented on #1725
Solution is discussed in #2288.
Fixed by #2300.

[2019-01-29 19:08] #1725 closed

[2019-01-29 19:20] daholste opened #2305 "Change default # of iterations in Averaged Perceptron to 10"
@justinormont figured out that setting default # of iterations to 10 in the Averaged Perceptron learner would lead to better results

From: Justin Ormont
Sent: Monday, April 3, 2017 2:52:13 PM
Subject: Re: Move AveragedPerceptron defaults to iter=10

Greetings folks,

I had a chance to run larger datasets, and I think my conclusion holds.

I did a sweep of the 15GB dataset, and the 2.7TB dataset.

[2019-01-29 19:30] eerhardt opened #2306 "Add a Functional.Tests project that doesn't have InternalsVisibleTo"
Today, our ML.NET project has `InternalsVisibleTo` all of our tests projects. This is not ideal because we can't ensure that our public API meets scenarios that our customers can actually use. We could easily internalize something that is necessary to a scenario, but we wouldn't catch it by our tests because our tests all have internal-access.

We should add a new test project - or set of test pro

[2019-01-29 19:32] eerhardt commented on #2306
A direct example of the problem here is this conversation:

https://github.com/dotnet/machinelearning/pull/2302#pullrequestreview-197718128

Here - the only API to enable this scenario was by using the `new ValueMappingEstimator` constructor. However, #2100 says we should internalize all estimator constructors. Using InternalsVisibleTo, the test can still get access to the internal API, but no cus

[2019-01-29 20:02] abgoswam commented on #2306
@eerhardt  .. Just to clarify #2100  is for refactoring of the constructors

The _internalizing_ of constructors is being done in #1798

[2019-01-29 20:51] eerhardt commented on #2297
We may also want to rename the static properties on `NumberType`:

[code]

should all match the .NET type names:

[code]

[2019-01-29 20:58] TomFinley commented on #2306
I agree with this. So to give the example of #2100, part of that work would be that we'd make the `MLContext` driven mechanism then make the constructor internal, but how to know when that is done correctly if it is removed?

This was top of mind for me when doing #2300. While much of it was clearly stuff that didn't belong in any public surface, some of it was stuff that I wasn't *quite* sure we

[2019-01-29 21:06] eerhardt commented on #2297
Also related is: https://github.com/dotnet/machinelearning/issues/1843

[2019-01-29 21:23] eerhardt commented on #2291
I don't agree that this file needs to be generated during the build. Using the same code generation tool and the same version of the protobuf definition, the same C# file will be generated. There is no reason to do that generation on every build.

Another reason to not take this approach is [Source Link debugging](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/sourcelink). If so

[2019-01-29 21:23] sfilipi opened #2310 "All namespaces should have a top-level description"
Currently none of our namespaces has a top-level description, causing the description column to be completely empty at [the docs site](https://docs.microsoft.com/en-us/dotnet/api/index?view=ml-dotnet)

[2019-01-29 21:32] eerhardt commented on #2310
Is it like one of these?

https://stackoverflow.com/questions/793210/xml-documentation-for-a-namespace

[2019-01-29 21:34] eerhardt opened #2311 "Consider changing Pretrained Dnn Image packages to not be built every day/release"
The Pretrained Dnn Image packages:

- Microsoft.ML.DnnImageFeaturizer.ResNet18/
- Microsoft.ML.DnnImageFeaturizer.ResNet50/
- Microsoft.ML.DnnImageFeaturizer.AlexNet/
- Microsoft.ML.DnnImageFeaturizer.ResNet101/

Contain rather large files. The AlexNet package alone is 200MB.

However, we rebuild and republish these same large files every day in our official build:

https://dotnet.myget.org/feed/d

[2019-01-29 22:07] artidoro commented on #2079
This issue has been resolved by #2300 .

[2019-01-29 22:07] #2079 closed

[2019-01-29 22:33] Ivanidzo4ka commented on #582
I'm not sure we have enough time to squeeze Parquet loader into our tight schedule before 1.0 release. Yes we have loader bits, and they work, but we don't have proper way to expose it right now as part of our API.

/cc @shauheen  and @glebuk  to correct me if I'm wrong regarding current schedule.

[2019-01-29 23:07] sfilipi commented on #2311
maybe we should do the same for MKL redist.

[2019-01-29 23:15] climosgit opened #2313 "MulticlassClassification.Trainers.StochasticDualCoordinateAscent"
### System information

- **Windows 7 Enterprise**:
- **.NET Framework 4.6.1**:

### Issue

- **What did you do? I'm trying to predict an error classification based on error message. I have three classifications. Dismiss, Immediate and Observe. Trained, evaluated, saved and now consuming the model file. I'm using the MulticlassClassification.Trainers.StochasticDualCoordinateAscent trainer.**
- **W

[2019-01-29 23:35] rogancarr commented on #2196
Hi @Vijay27anand ,

The APIs for `MutualInformationFeatureSelectionUtils` were made `internal` because they aren't part of the supported APIs for ML.NET 1.0. However, the `Mutual InformationFeatureSelectionTransform` can be used to select the top K features based on mutual information. Is this enough to do what you need, or do you actually need a sorted list and / or the scores? If it's the latter

[2019-01-29 23:37] Ivanidzo4ka commented on #2313
Am I correctly understand what you train you data on 3 different labels, and for this 3 labels it predicts really well. But if you start to run tests on data which suppose to be marked with label which wasn't exposed during training it would produce awful results?

If that the case, this is how generally any our trainer works. It learns to predict results for 3 labels (in your case), and if you wa

[2019-01-29 23:40] #2044 closed

[2019-01-29 23:46] Ivanidzo4ka commented on #2313
So I see following. You have some data with Label as string, and some Message.
You convert Message into MessageEncoded column which is vector of floats where only one value is 1, and everything else is 0.
I hope you have Features vector but I don't know it's size.
First you don't append MessageEncoded to Features vector, so that information just got ignored.
Second, What you describe sound like ov

[2019-01-29 23:55] #2210 closed

[2019-01-30 00:00] sfilipi commented on #1209
List of Trainers:

| Trainer | Category | Priority | Owner | Completed PR |
| ------- | -------- | -------- | ------ | ----------- |
| SDCA: Fast Linear (SA-SDCA) | Linear | 0 | | |
| SDCAMC: Fast Linear Multi-class Classification (SA-SDCA) | Linear | 0 |  | |
| SDCAR: Fast Linear Regression (SA-SDCA) | Linear | 0 |  | |
| AveragedPerceptron: Averaged Perceptron | Linear | 0 |  | |
| OVA: One-vs-A

[2019-01-30 00:11] rogancarr opened #2315 "Add sample link to mutual information feature selection docs"
The mutual information feature selection docs don't contain links to the samples for it.

Related to #1209

[2019-01-30 00:52] #2301 closed

[2019-01-30 00:58] rogancarr opened #2316 "Concat transform is missing a link to its sample"
The concat transform is missing a link to the sample.

#1209

[2019-01-30 01:52] justinormont commented on #2196
I would like use of the raw scores.

I'm looking to automate the detection of **Label leakage** in datasets & as featurized in ML.NET pipelines. There are few methods of this; I'm hoping to run simple correlation with the raw dataset features and also the features after the ML pipeline. This could be done w/ the `MutualInformationFeatureSelection`. Another route is producing the full feature impor

[2019-01-30 01:58] artidoro commented on #2133
After further investigating, it seems that the above Arguments classes should be made internal. They are only used by the entrypoints API. We are using other objects to set the parameters of the estimators (either direct definition of the parameters in the constructors, or through a ColumnInfo object).

[2019-01-30 02:02] #966 closed

[2019-01-30 02:09] climosgit commented on #2313
Thanks for your quick reply Ivan. I am only utilizing two columns from my training data.
The Label (e.g. "Dismiss", "Immediate", "Observe") and the Message (e.g. error messages).
Both fields return values in string data type.
Ok.. does the new code make sense to you? Instead of using OneHotEncoding, doing the conversion instead to DataKind.Text. Otherwise, can you provide a sample code snippet?
da

[2019-01-30 02:22] Vijay27anand commented on #2196
@rogancarr i  actually need a sorted list and the scores the top K features might not help me, can you please file an issue to get this information.

[2019-01-30 02:43] zeahmed opened #2318 "Add support for custom missing value in ValueMappingTransformer."
The `ValueMappingTransformer` currently handles missing values. It does so by using the default value for the value type.

https://github.com/dotnet/machinelearning/blob/b4c10662706589426a0a870304e3088dec8077ac/src/Microsoft.ML.Data/Transforms/ValueMapping.cs#L807

In some cases, it is desirable to map the value that is missing in the dictionary with the user specified value. For example, when usi

[2019-01-30 02:47] singlis commented on #532
Hi @vivekpradhan,

Are you able to repro the issue with the latest version of ML.net? ML.net is currently using LightGBM 2.2.1.1 (which has likely updated since the original post). I have run some benchmarks using different datasets against the python LightGBM package on Ubuntu 16.04 (using the Azure Data Science VM).

The Data Science VM uses LightGBM version 2.1.2 which is comes just before 2.2.

[2019-01-30 03:46] wschin opened #2319 "Accessibility Problem of FastTree through Dynamic APIs"
The following examples shows a way to retrieved the underlying model learned by a trainer, but I failed compiling it. For [static APIs](https://github.com/dotnet/machinelearning/blob/e3830910531f00013c27391914233a085a1394a4/test/Microsoft.ML.StaticPipelineTesting/Training.cs#L434), we are able to assign `FastTreeRegressionModelParameters` to `pred` but in the corresponding dynamic API, the type of

[2019-01-30 05:57] Ivanidzo4ka commented on #2313
Let's start from basics.
Our pipelines work with IDataView objects, which you can think of as some kind of SQL View: you have columns, each column has name, certain type, and you have rows with data.

You start with StreamingDataView which by default takes all public fields/properties and convert them into columns. If you have string property with name Label, your DataView will have column Label w

[2019-01-30 07:39] sfilipi commented on #2306
We can use this project for  the Scenarios tests.

[2019-01-30 07:52] sfilipi commented on #1798
For the transform estimators (former transforms) the following needs to happen:

1- Internalize the ctors
2- For the types that have the Column or ColumnInfo structure, to pass arguments, and the members of the column have all the members of the Arguments, internalize the arguments classes.
Document every public member on the Column/ColumnInfo classes.
3- For the types that don't have the Column/C

[2019-01-30 11:04] PaulTFreedman commented on #2053
Let me rephrase the question. I have added a `ToString` override like so to `BinaryClassificationMetrics`:
[code]

[2019-01-30 11:54] dadvav opened #2322 "Error in code FakeSchemaFactory.Create(...) throws Exception: Index was outside the bounds of the array."
Exception: Index was outside the bounds of the array. In FakeSchemaFactory.Create(...)

There is mistake in code :
`   for (int j = 0; j < partialMetadata.Count; ++j)
                {
var metaColumnType = MakeColumnType(partialMetadata[i]);`

There should be "j" instead of "i" variable.

[2019-01-30 15:39] climosgit commented on #2313
Thanks for the detailed explanation Ivan! That helps a lot, cleared up some confusions too!
This simply fixed the prediction results for new messages not exposed during training.
            dataProcessPipeline = mlContext.Transforms.Conversion.MapValueToKey("Label")
                .Append(mlContext.Transforms.Text.FeaturizeText("Message", "Features"));
Obviously I was incorrectly appending the m

[2019-01-30 15:39] #2313 closed

[2019-01-30 17:40] sfilipi opened #2325 "Clean up the XmlInclude EntryPoint attribute annotations"
The `XmlInclude` EntryPoint annotation attribute was created when we needed to simultaneously document the so called runtime classes, and the autogenerated CSharpApi.cs classes.

Now that the auto-generated C#api is gone, there is no need to have the `XmlInclude` EntryPoint annotation attribute.

So searching for `XmlInclude ` and deleting it everywhere would consider this work item complete.

[2019-01-30 17:49] sfilipi opened #2326 "What namespaces to keep, what to drop, and what to hide"
In the table below there are all the namespaces that are in ML.Net.
They also all display in the docs site. Some of them, like Microsoft.ML.Ensemble needs to continue to exist in the code, but it is not ready to be exposed to the users, and can be hidden in the docs site.

Some others, like Microsoft.ML.Internal.Internallearn can potentially be merged into other namespaces.
Let's annotate in the l

[2019-01-30 18:06] abgoswam commented on #1798
Reopening this issue  to take care of the transform estimators changes  listed above by @sfilipi

[2019-01-30 18:18] abgoswam commented on #1798
@sfilipi  .  The proposal above for the transform estimators makes sense.

For #2 ,  For the types that have `Column` or `ColumnInfo` structure  should we rename them to `Options` ?   That way we will have `Options`  consistently  for both  learnerEstimators and transformEstimators

[2019-01-30 18:22] artidoro commented on #1798
I agree with renaming to `Options` any `Arguments` class even if it is made internal.

[2019-01-30 18:41] rogancarr opened #2328 "Make MutualInformationFeatureSelection scores available"
Some scenarios, such as detecting label leakage and sorting features by their relationship with the label, are no longer possible now that the `MutualInformationFeatureSelectionUtils` class is `internal`. One solution would be to add an option to `MutualInformationFeatureSelection` return scores for each column. This could return a similar output to `FeatureContributionCalculator`.

From #2196

[2019-01-30 18:42] rogancarr commented on #2196
I opened #2328 and I'm going to close this issue. Thanks @Vijay27anand  and @justinormont !

[2019-01-30 18:42] #2196 closed

[2019-01-30 18:50] TomFinley commented on #1798
I feel like I'd be more comfortable with this once I see what it looks like. We have had settings on the "options" class be settings that are applied to multiple column mappings in other contexts. E.g., we set hashbits to 20, then apply that to, say, 13 distinct columns, to create a total of 13*(2^20) features, and whatnot, for categorical features. It's not immediately clear to me that this patte

[2019-01-30 18:55] mihaar commented on #1886
On sugestion from Unity QA team I have tryed building the app containing ML apis with IL2CPP scripting backend, but got this errors:

ImplVec`1' in assembly 'C:\Users\uporabnik\Desktop\newTestCanMlaiDELETE\Temp\StagingArea\Data\Managed\Microsoft.ML.Data.dll'
Additional information: Build a development build for more information. Invalid method 'null' found in vtable for 'Microsoft.ML.Transforms.Ro

[2019-01-30 19:35] artidoro commented on #1798
To rephrase the above points made my @TomFinley , @sfilipi  and @abgoswam we need to:

1. Keep `ColumnInfo`
2. Rename `Arguments` -> `Options`
3. Internalize `Options` only when they are not used by public constructor. For all other cases, retain `Options` as public

Here is the list of the transforms - estimators that need to be covered:

| Transform | Category | Priority | Owner | PR |
| -------

[2019-01-30 19:50] #2316 closed

[2019-01-30 20:10] danmosemsft commented on #1886
@mihaar we aren't experts on Unity. However we do want it to work and  @anipik will start investigating next week. Hopefully between the two of you we will get it sorted out.

[2019-01-30 20:22] rogancarr opened #2332 "Finalize documentation for ValueToKeyMapping (aka TermTransform)"
The documentation and samples for the `ValueToKeyMapping` is almost in place, but the documentation could use more remarks, like answering the "what is this / why would you use this?" questions, and links to the samples.

[2019-01-30 20:39] rogancarr opened #2333 "KeyType missing documentation for a few methods/parameters"
The following properties of KeyType are missing documentation
- Contiguous
- Equals(ColumnType)
- Equals(Object)
- GetHashCode()
- ToString()

[2019-01-30 21:08] sfilipi commented on #2064
Fixed with #2239

[2019-01-30 21:08] #2064 closed

[2019-01-30 21:08] helloguo commented on #2298
@Anipik which machine does this benchmark run on? Does the machine support AVX2 instructions?

[2019-01-30 21:10] #2322 closed

[2019-01-30 21:36] TomFinley commented on #2297
That's one possibility. Before we go that route though, I'd like to explore whether the name "column type" is meaningful -- it was back when the only things did was describe the types of columns in data views, but that hasn't been the case for a while.

Let's explore that. If we embraced this idea of `DataViewSchema`, then possibly `DataViewType` and `DataViewRow` may also be appropriate. The idea

[2019-01-30 21:39] TomFinley commented on #2333
Contiguous should have been gone. Indeed I am surprised to see that it is still there. Maybe @artidoro has more info.

The others, I wonder if there's something like inheritdoc or something for implementations of common methods and overrides from stuff already in .NET standard library.

[2019-01-30 21:50] artidoro commented on #2333
It's gone in the current version of the code.
However, if you are looking at the MDocs it will probably still be there at least until we update it with the new nuget.

[2019-01-30 22:04] wschin commented on #2319
In addition to regression, I also demonstrate a similar bug using `FastTree` for binary classification.
[code]

[2019-01-30 22:15] sfilipi opened #2335 "MultiClassClassifier.Evaluate calculates the confusion matrix, but doesn't make it accessible to the user"
The [Evaluate](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Evaluators/MultiClassClassifierEvaluator.cs#L519) method in the MultiClassClassifierEvaluator, calculates the overall metrics, and the confusionTable, but makes no use of the confusion table.

The confusion table should be part of the MultiClassClassifierMetrics.

[2019-01-30 22:21] artidoro opened #2336 "ITransformer should derive from ICanSaveModel and we should explicitly implement ICanSaveModel"
In our code base we make the implicit assumption that all classes implementing `ITransformer` also implement `ICanSaveModel`. `ITransformer` is the abstraction that transforms the data and both single and chained components in a pipeline are made into an `ITransformer` once they are trained. Since this is the abstraction that contains trained models and data transformations, it should also be sava

[2019-01-30 22:37] Ivanidzo4ka commented on #2263
Hello @Shadow992
I've tried to reproduce your problem, but I get proper metrics and predictions.
My project is in attachment:
[ConsoleApp12.zip](https://github.com/dotnet/machinelearning/files/2814776/ConsoleApp12.zip)

![image](https://user-images.githubusercontent.com/1523833/52017532-7781bc80-249c-11e9-8678-0f47d8ffa62c.png)

[2019-01-30 22:40] Ivanidzo4ka commented on #2263
Can you try my solution and check it works as expected or confirm it also doesn't work.

[2019-01-30 22:45] artidoro opened #2337 "TrainTestSplit should be inside MLContext.Data"
Currently `TrainTestSplit` can be found in the various training tasks in `MLContext`:

https://github.com/dotnet/machinelearning/blob/533171a430063c5db234aff20e6d39e6673d3c4d/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs#L604-L605

Since that is a data operation that only involves splitting data and since it is independent on the training task, it would make more sense t

[2019-01-30 22:51] Ivanidzo4ka commented on #2240
If you had something like `float[400] Features`
and instead you have `float[300] PartOne` and `float[90] PartTwo` and `float[10] PartThree` and you define your Features column as Concatenate("Features", "PartOne", "PartTwo", "PartThree") we should produce same results.

But from I see in your snippet you don't have such case, you have Text features which you probably somehow transform and I don't

[2019-01-30 22:55] Ivanidzo4ka commented on #2201
@eerhardt @safern are build experts, maybe they can provide more regarding choice of compiler.

[2019-01-30 23:04] eerhardt commented on #2201
We are using `clang` in this repo for the simple reason that it is what the other repos inside the `dotnet` organization use. That way we can share infrastructure/settings/etc.

If you are having issues installing clang, check out:

https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md#toolchain-setup

For instructions.

That being said, if someone wanted to ad

[2019-01-31 00:04] Ivanidzo4ka commented on #2242
I'm trying to reproduce your problem, and I can't.
[code]

Here is my code, I'm using clean .net core console app with Microsoft.ML 0.9 nuget.
Any chance you can provide more information?

[2019-01-31 00:06] Ivanidzo4ka commented on #2242
Also I'm not quite sure it's a good suggestion to change

It's a binary trainer, why it should return Regression stuff?

[2019-01-31 00:11] Ivanidzo4ka commented on #2164
@zeahmed  Any chance you can comment on that?
https://github.com/dotnet/machinelearning/blob/a04dbf8ef3a2ffc57188f3d2f3eff7f72b47b77a/src/Microsoft.ML.TensorFlow/TensorFlow/Tensor.cs#L651

[2019-01-31 00:21] daholste opened #2338 "Make SweepableParamAttribute and related classes public"
If SweepableParamAttribute and related classes were public, AutoML could leverage them :). As AutoML iterates to recommend improvements in sweep ranges, the main repo could benefit

[2019-01-31 00:47] TomFinley commented on #2326
Regarding the namespaces that are reserved mostly for what we think of as classical "training" aalgorithms, we tended to put them in `Microsoft.ML.Trainers`, from what I see. (E.g.: `Microsoft.ML.Trainers.FastTree`).

`Microsoft.ML.UniversalModelFormat.Onnx` should become `Microsoft.ML.Model.Onnx` I think.

Since `Microsoft.ML.StaticPipe` stuff now resides in a separate nuget, it might be appropri

[2019-01-31 00:54] fedoranimus commented on #2240
Old Pipeline:
[code]

New Pipeline:
[code]

Hopefully this helps - let me know if you need any more information.

[2019-01-31 01:10] Ivanidzo4ka commented on #2068
This is clear sign what we need better documentation.

[2019-01-31 01:36] Ivanidzo4ka commented on #1952
We use System.Drawing.Common to load and process images.
https://github.com/dotnet/machinelearning/blob/master/docs/building/unix-instructions.md#user-content-macos please make sure you have all required dependencies especially mono-libgdiplus.

All we do internally is we call  `new Bitmap(path)`.
We run tests for images on every checking and it works all across our build systems.

[2019-01-31 01:50] Ivanidzo4ka commented on #1881
Just a heads up.
It's still a bit complicated and required work with metadata which you already do, but in 0.10 prediction function will contain OutputSchema.
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/PredictAndMetadata.cs
So that would slightly ease process of getting information. Work with metadata is still a mess, and we need to come

[2019-01-31 02:34] #2056 closed

[2019-01-31 02:53] Ivanidzo4ka commented on #2022
@mareklinka  Any chance you willing to add Fill mode to transform? It shouldn't be super hard, main code which do resizing is here:
https://github.com/dotnet/machinelearning/blob/46efb8ed90d90d6e444394c3e3f5fbe16214109a/src/Microsoft.ML.ImageAnalytics/ImageResizerTransform.cs#L370
Basically all you need to do is set destX and destY to desired values for new enum type.

Most of us quite busy with A

[2019-01-31 02:59] #1987 closed

[2019-01-31 03:10] Ivanidzo4ka commented on #1992
I notice some work by @singlis regarding LightGBM and bringing monotonic support. Do you have time to look on random forest support?

[2019-01-31 05:40] zeahmed commented on #2164
Strings are currently not supported. This is the limitation right now. I am in the process of investigating how it can be supported. I haven't created an issue for this but I take this one for my investigation.

[2019-01-31 05:48] mareklinka commented on #2022
@Ivanidzo4ka Of course, I can take a crack at it. As you said, it shouldn't be too hard.

[2019-01-31 06:28] daholste opened #2341 "DataView.GetColumn<T> returns incorrect data for vector columns"
Ran the C# code:
[code]
All the returned values were identical, and equal to the last value in the column.
I think the bug is that this code
https://github.com/dotnet/machinelearning/blob/7fc7e50ce6f8fed24fc0b9528839a0ac8d0ed320/src/Microsoft.ML.Data/Utilities/ColumnCursor.cs#L90-L95
should be
[code]

Also, it would be really helpful if you could override the Equals & GetHashCode methods on VBuffe

[2019-01-31 06:52] Ivanidzo4ka commented on #2341
https://github.com/dotnet/machinelearning/blob/46efb8ed90d90d6e444394c3e3f5fbe16214109a/docs/samples/Microsoft.ML.Samples/Dynamic/LdaTransform.cs#L40
I played with it today, and it worked fine.
Can you provide more information? Some steps to reproduce problem?
You code would just force value to be default before we call getter, and getter should replace default value anyway, so i'm not sure you pr

[2019-01-31 06:54] Vijay27anand commented on #1130
@Zruty0 , @CESARDELATORRE i don't have a well defined class like customer at design time. I have a query that is dynamic and I know the properties only know at runtime, similar to get from a datatable. Is there a way to load a dataset (rows) and corresponding schema (columns with types) to get the IDataview, similar to what is done with CSV file. As as work around i convert the dataset, columns to

[2019-01-31 06:55] daholste commented on #2341
Hey, Ivan!
Try out this code -- I played with it today as well!
[code]

Note how p = 1, and q = 6

[2019-01-31 07:10] daholste commented on #2341
Also, the issue with the current code is that it returns a long list of identical pointers to a single VBuffer

[2019-01-31 11:47] mareklinka commented on #2325
I can take a look at this, get it sorted out.

[2019-01-31 17:07] Ivanidzo4ka commented on #2263
What do you mean by latest version? My project point to 0.9 which is latest stable, are you talking about daily builds?

![image](https://user-images.githubusercontent.com/1523833/52071186-5326ee00-2537-11e9-9f4e-593c32e6c681.png)

Here results from dependency walker for lib_lightgbm.dll.
vcomp14. msvcp14 and vcruntime14 can be installed by https://www.microsoft.com/en-ca/download/details.aspx?id=

[2019-01-31 17:35] TomFinley commented on #1995
One example of this that I ran across is the `PredictionTransformerBase`:

https://github.com/dotnet/machinelearning/blob/46efb8ed90d90d6e444394c3e3f5fbe16214109a/src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs#L38-L40

This is a `Transformer`, which is fine, but it quite inappropriately takes as a generic parameter something that is `TScorer : RowToRowScorerBase`, which is something exposi

[2019-01-31 17:51] Shadow992 commented on #2263
@Ivanidzo4ka
I use nuget packages to manage the dependencies. Therefore I add ML by using nuget and as ML has some dependencies I install them over nuget, too.

If I install the version you provided in project it "runs" except the exception with "lib_lightgbm.dll not found". I was talking about updating the dependencies as they are not the latest:

![image](https://user-images.githubusercontent.co

[2019-01-31 17:56] #2325 closed

[2019-01-31 18:00] Ivanidzo4ka commented on #2263
Sorry for confusion. Technically you don't have to update nugets to latest, And I personally prefer not to do that. If we have reference on A version 11.0, and there is A with version 12.0, there is no guarantee version 12 has method C() which is present in 11.0 version and which we invoke, or maybe it does, but it do completely opposite thing. Which usually not the case, but still.

Did by any ch

[2019-01-31 18:08] singlis commented on #2332
Do you mean the ValueMappingTransform? This was formerly the TermTransform.

[2019-01-31 18:11] Ivanidzo4ka commented on #2263
Even if I update all nugets to latest one, I still get good results. Can you zip your project and it bin folder and add it to discussion?

[2019-01-31 18:14] Shadow992 commented on #2263
@Ivanidzo4ka
I am currently debugging the code and it seems like the regressionTrees are doing strange things, have a look at this:

![image](https://user-images.githubusercontent.com/16254551/52075249-1df8bb00-258c-11e9-80cf-b18fa5e930ad.png)

The split threshold seems way too high. I suspect some "local problems whenr eading the CSV file". In more detail I suspect, that the TextReader interprets

[2019-01-31 18:18] rogancarr commented on #2332
Yes -- it looks like you're drawing up samples for this, so I'll assign this to you! You'll just need to add links to the documentation from the catalog.

[2019-01-31 18:23] Ivanidzo4ka commented on #2263
our data loader should work fine, since it's appear only for LightGBM but works fine for SDCA. LightGBM is native library, and they have zero respect to locale, while our C# code parse with local locale. I'm pretty at some point we got trees from lightgbm as strings and we parse them, and we should put en-us locale for parsing methods.

I'll take a look on my side as well, it's not so hard to repl

[2019-01-31 18:42] Shadow992 commented on #2263
I do not know if it helps, but also the splitgain looks quite big:

![image](https://user-images.githubusercontent.com/16254551/52076931-1d622380-2590-11e9-8410-a49d2c0adbb8.png)

Whereby I found this "gain" as "InnerArgs" (to be honest I cannot remember where exactly I found it... These are way too much classes and I am way to unfamiliar with this library...):

`unbalanced_sets=False min_split_ga

[2019-01-31 18:54] TomFinley commented on #2326
Note that while namespace changes are fine, I feel like the first order of business really must be to choose what we put in `Microsoft.ML` root namespace itself. There are lots of things that are definitely in this category and already in there (`MLContext` and extension methods), but lots of things also that are not yet there that probably should be (e.g., `ITrainerEstimator`, `IEstimator`, `ITra

[2019-01-31 18:56] singlis opened #2346 "ValueMappingEstimator in the Conversions catalog is missing the treatAsKeys parameter"
When adding samples, I noticed that the treatValuesAsKeys parameter is not available as part of the Conversions catalog. Therefore I am not able to do this:
[code]

And instead have to do this:
[code]

Therefore we should add another function to the Conversions Catalog to handle this.

[2019-01-31 19:30] zeahmed commented on #871
Tensorflow windows GPU dll is now officially available at https://www.tensorflow.org/install/lang_c

[2019-01-31 19:33] zeahmed commented on #216
This is no longer valid. API changed a lot since this bug was filed. I am closing it.

[2019-01-31 19:33] #216 closed

[2019-01-31 20:08] danmosemsft commented on #2253
Until then, can we go down the software path when the input is short?

cc @tannergooding

[2019-01-31 21:40] #1528 closed

[2019-01-31 21:55] Anipik commented on #2293
Before https://gist.github.com/Anipik/b18c4f874b8ba2004fe2193d7f029f36
after https://gist.github.com/Anipik/7d4f846213f46a8a5d927bd13d41de9c

@jkotas can you help in making sense of this assembly code ?

[2019-01-31 22:09] abgoswam opened #2348 "Limited functionality for fine-tuning TF models using the TensorFlowTransform"
The TensorFlowTransform in ML.NET  provides some basic capabilities for re-training pre-trained TF models.

The table below lists down the capabilities currently supported for fine-tuning TF models. It also lists  functionality that's currently not supported.

 | Fine-Tuning abilities | Supported by ML.NET TensorFlowTransform |
 | ---------- | -------- |
 | Continue retraining on TF SavedModel,  g

[2019-01-31 22:12] #2263 closed

[2019-01-31 22:38] jignparm commented on #2106
Resolved via https://github.com/dotnet/machinelearning/pull/2085

[2019-01-31 22:38] #2106 closed

[2019-01-31 22:40] jignparm commented on #2149
Fixed via https://github.com/dotnet/machinelearning/pull/2085

[2019-01-31 22:40] #2149 closed

[2019-01-31 22:56] Ivanidzo4ka commented on #2341
Our cursor reuses VBuffers. All our code rely on fact what you can reuse VBuffers, this is our way you avoid garbage collection.
Yes, GetColumn for VBuffer basically use one pointer all the time and you suggest to create new pointer for every yield. This is intended.
Good news, you can just use array of floats instead of VBuffer of floats.
`var values = data.GetColumn<floa[]>(new MLContext(), "col

[2019-01-31 23:04] daholste commented on #2341
Awesome! In that case, with the example you posted in your first reply, I think it's still buggy:
https://github.com/dotnet/machinelearning/blob/46efb8ed90d90d6e444394c3e3f5fbe16214109a/docs/samples/Microsoft.ML.Samples/Dynamic/LdaTransform.cs#L40
In this example code, GetColumn<VBuffer<float>> will return all identical values?
Thanks for the float[] fix!

[2019-01-31 23:13] rogancarr opened #2350 "Add a sample for CopyColumns"
`CopyColumns` does not have a sample for its documentation.

[2019-01-31 23:14] rogancarr commented on #2350
Related to #1209

[2019-01-31 23:18] Ivanidzo4ka opened #2352 "VBuffer in samples code."
In our samples we have code which looks like this `transformedData_default.GetColumn<VBuffer<float>>(ml, defaultColumnName);`
Which introduce users into wonderful world of VBuffers. Considering how [confusing sometimes VBuffers can be](https://github.com/dotnet/machinelearning/issues/2341) Shall we replace all `GetColumn` calls from `VBuffer<T> to `t[]` ?

[2019-01-31 23:19] Ivanidzo4ka commented on #2352
/cc @TomFinley  @eerhardt  @sfilipi

[2019-01-31 23:26] rogancarr opened #2353 "Add a sample for DropColumns"
The `DropColumns` transform doesn't have a sample.

[2019-01-31 23:30] Ivanidzo4ka commented on #2341
Idea behind VBuffer is to reuse memory. If you enumerate over that ldaFeaturesColumn and print results, it will give you different results. But each time we will use same allocated memory. So if you decide to do your
[code]
You will get same pointer all the time. Content in that pointer would be different during each yield, but pointer would be same.

[2019-01-31 23:59] artidoro opened #2354 "Trivial estimators should also be ITransformer"
We are making constructors of transformers internal as part of issue #1798. This makes the creation of non trainable transformers somewhat clumsy. This problem is already reported in the following issue #2165 by an external user.
 Here is an example:

[code]
The problem here is the step where the call to `Fit()` is completely useless and feels silly. However, we need estimators for non trainable t

[2019-02-01 00:22] shmoradims opened #2356 "Curate resource links for API reference"
There are many topics that repeat throughout the API reference. For each topic, we want to have a separate link that contains more details, instead of duplicating content, or worse, stating the obvious like the following:
* Bias: The predictor's bias term.
* L2Weight: L2 regularization weight for trainer

Table below captures all the topics that we want to cover. These are the topics that apply to

[2019-02-01 01:01] daholste commented on #2341
Ah, got it! Thanks for bearing with me & the explanations, Ivan! And for opening https://github.com/dotnet/machinelearning/issues/2352!

[2019-02-01 01:07] #2350 closed

[2019-02-01 01:12] #2068 closed

[2019-02-01 01:28] artidoro opened #2358 "ValueToKeyEstimator constructors should be cleaned and documented better"
There 3 problems in the constructors/catalog of the ValueToKey estimator:
1. The `ColumnInfo` object has two fields: `Terms`  and `Term`,  that are meant to serve the same function.
2. Futhermore, it would probably make more sense to break the constructor in two. Providing `KeyData` should be in alternative to a list of terms. Right now it can be quite confusing to be able to set all of them toget

[2019-02-01 02:34] jkotas commented on #2293
The assembly code needs to be for the `GetCore` method that you have identified as the source of regression. What you have attached does not look like the assembly code for the `GetCore` method.

[2019-02-01 05:13] #2040 closed

[2019-02-01 06:34] artidoro opened #2361 "MLContext.Transform should be further organized"
It seems that `MLContext.Transforms` can be further organized.
In `MLContext.Transforms` it is possible to access many transforms directly:
- IndicateMissingValues
- ReplaceMissingValues
- ApplyOnnxModel
- Concatenate
- LoadImage
- Normalize
- Resize
- ScoreTensorFlowModel
- SelectColumns
- TemsorFlow

There are also subgroups:
- Transforms.Text
- Transforms.Projection
- Transforms.Categorical
- T

[2019-02-01 13:11] eerhardt commented on #895
We’ve started static linking the VC Runtime in #1828. Closing.

[2019-02-01 13:11] #895 closed

[2019-02-01 13:14] eerhardt commented on #267
This is fixed now with Estimators, right?  Can it be closed?

[2019-02-01 14:16] artidoro commented on #2336
We need to wait that `IDataTransform` is made internal:
[code]

[2019-02-01 14:24] artidoro commented on #2354
There is an even better way! We can make `TrivialEstimator` a `ITransformer`, that way all the estimators that use it as base class will themselves directly become `ITransofrmer`.

[2019-02-01 17:11] #1960 closed

[2019-02-01 17:32] rogancarr commented on #2361
I'd like to move schema operations into something like `Schema`. eg. `mlContext.Transforms.Schema.DropColumns()`.

[2019-02-01 17:42] rogancarr opened #2370 "Add an example for the SelectColumns transform"
The SelectColumns schema transformer doesn't have an example, and it's summary is a bit incorrect.

[2019-02-01 17:47] wschin commented on #1307
This was rediscovered in #2319. I will fix it.

[2019-02-01 18:19] rogancarr opened #2371 "SelectColumns handles input string arrays differently than other schema transformations"
`SelectColumns` has a different input contract than related schema manipulation transforms. Look at the difference:

[code]

[2019-02-01 18:20] #267 closed

[2019-02-01 18:21] rogancarr commented on #2371
I think this happens because there is an optional parameter that comes after `keepColumns`, which means we can't use it as a `params` parameter.

[2019-02-01 19:39] Anipik opened #2373 "DnnImageFeaturizingTests failing for netfx"
These tests were not being tested due to the bug in conditionalFact attribute.
However when I tried to run these tests on my local machine they are failing.

The call stack is this
[code]

The tests failing due to this are
TestOldSavingAndLoading
OnnxStatic
TestDnnImageFeaturizer

cc @jignparm @yaeldekel @danmosemsft @eerhardt

[2019-02-01 19:55] srsaggam opened #2375 "Parameter name Consistency in FastTree"
https://github.com/dotnet/machinelearning/blob/4bb3e0006c656387ec96dc7e5878e204e1710f50/src/Microsoft.ML.FastTree/FastTreeArguments.cs#L528

Should this be LearningRate? The Options have it named wrongly.

The named parameter for the FastTree is named correctly as learningRate.
https://github.com/dotnet/machinelearning/blob/4bb3e0006c656387ec96dc7e5878e204e1710f50/src/Microsoft.ML.FastTree/TreeTra

[2019-02-01 19:56] srsaggam commented on #2375
@justinormont @vinodshanbhag  @daholste

[2019-02-01 19:57] srsaggam commented on #2375
@abgoswam Can you please take a look at this?

[2019-02-01 20:49] TomFinley opened #2376 "KeyToValueMapping API is inconsistent with rest"
Pursuant to #2064 and the work done in #2239, column mapping transforms are to have an output and input column. However, I notice something like this:

https://github.com/dotnet/machinelearning/blob/578c188876cd7f158aca214d2e729500183b588c/src/Microsoft.ML.Data/Transforms/ConversionsExtensionsCatalog.cs#L72-L73

This has just one column specified, that is, there is no convenient way to map an inpu

[2019-02-01 21:04] justinormont commented on #2375
We should go one step further and take up the larger task of verifying a unified naming scheme for all parameters across all components before the v1.0 release. After the release renaming parameters will be difficult.
/cc @glebuk

[2019-02-01 21:15] daholste opened #2377 "MissingValueHandlingTransformer -- do you ever plan to make it an estimator?"
I see MissingValueIndicatorEstimator and MissingValueReplacingEstimator have been created. Do you currently plan to make an estimator for MissingValueHandlingTransformer?

[2019-02-01 21:48] Ivanidzo4ka commented on #2377
Can I ask you why you asking? From what I remember it's just meta transformer which combines Value replacing and ValueIndicator together and sprinkle with some extra transforms.

[2019-02-01 21:53] daholste commented on #2377
Definitely -- +1 that it's just a shorthand. I find myself duplicating the logic inside MissingValueHandlingTransformer in my own code, and was just curious if there were any plans to make this transform class into an estimator

[2019-02-01 22:00] justinormont commented on #2377
In general I would recommend users to add both NA imputing & NA indicating, as this tends win on accuracy.

We should expose the more simple form which does all the steps for the user. This reduces the ability of the user to set it up incorrectly and encourages them to use the better option right away without the push back of having to setup a multi-step solution.

[2019-02-01 22:01] Ivanidzo4ka commented on #2377
We done conversion to estimators/transformers about two releases ago, I doubt we have time for that now. Post v1.0 maybe. AFAIK we didn't like idea of having transforms which just combinations of other transforms.

[2019-02-01 22:03] abgoswam commented on #2375
Also related to #2172   to bring consistency in naming convention.

[2019-02-01 22:03] #2280 closed

[2019-02-01 22:03] justinormont commented on #2377
Having meta-transforms is quite valuable for the user. Mainly for the simplicity & encouragement to do right thing, arguments above.

[2019-02-01 22:07] Ivanidzo4ka commented on #2377
Right now it's public class, but we under process of sweeping everything under the rug. And it will become internal in 0.11. I understand it's a nice thing to have, but in same time, it's functionality can be accessible via already existing functionality. And by making it public we owe to have documentations/ samples and so on. Considering conversion time, time to make sample, time to add proper d

[2019-02-01 22:13] TomFinley opened #2378 "State of CalibratorPredictorBase v1"
There have been some issues concerning calibrator estimators (#1871 and #1622) but not calibrators themselves.

So, calibrated models are basically wrappers for model that have.

They are ultimately something akin to `CalibratedPredictorBase`. The trouble with `CalibratedPredictorBase` is this property:

So, consider this code.

https://github.com/dotnet/machinelearning/blob/578c188876cd7f158aca21

[2019-02-01 22:31] TomFinley commented on #2361
`Transforms.MissingValues` might be OK, but I'm not sure I see the point in having something if there are only two entries. Honestly I am not too excited about that.

I do not think `Transforms.Image` or `Transforms.TensorFlow` are sensible to have. Bear in mind that these extensions are not seen unless someone explicitly chooses to include the relevant nuget packages. So if we were to have anothe

[2019-02-01 22:40] eerhardt commented on #1581
This work isn't changing any public API, it is just rearranging how our files live on disk in our repo. Removing it from `Project 13`.

[2019-02-01 22:43] eerhardt commented on #2274
NOTE: We don't ship the ML.Parquet package right now. So this work is lower priority. And if we don't ship ML.Parquet in `v1.0`, we can postpone this work until after `v1.0`.

[2019-02-01 23:37] #2353 closed

[2019-02-01 23:58] danmosemsft opened #2381 "Add Ubuntu CI leg"
Right now we build and test for Linux on only one distro -- Centos 7 (a container hosted on Ubuntu 1804). We use .NET Core 2.1.

We maybe should add a leg to test on a Debian/Ubuntu family distro (Centos is in the RedHat family). That should be able to use all the same binaries. If we did that it would probably be good to use .NET Core 3.0 instead of 2.1 to get Linux coverage with that.

.NET Core

[2019-02-02 00:33] #2319 closed

[2019-02-02 01:13] rogancarr opened #2384 "Add BootstrapSamplingTransform to DataOperationsCatalog"
As noted in #933, the `BootstrapSamplingTransform` isn't something that we want recorded in pipelines (e.g. having it executed on a test set). However, it is super useful to have in our library, so it would be nice to have a way to use it in user-facing code.

[2019-02-02 01:59] #2341 closed

[2019-02-02 02:52] zeahmed opened #2385 "Fix output schema produced by ValueMappingEstimator"
There is a bug in `ValueMappingEstimator` output schema.
https://github.com/dotnet/machinelearning/blob/0e80d6c07580cea5ce072fd7cba02d7171dc61f4/src/Microsoft.ML.Data/Transforms/ValueMapping.cs#L61

When input is a vector the output produced is a vector. However, the schema produced by the `ValueMappingEstimator` shows that the output is scalar. This throws an exception when `ValueMappingEstimator

[2019-02-02 03:36] TomFinley commented on #2384
Right, thanks Rogan. As mentioned in the issue it strikes me as being kind of "filter like" (it is sort of a very special sort of probabilistic filter), so probably belongs alongside the others in [DataOperationsCatalog](https://github.com/dotnet/machinelearning/blob/0e80d6c07580cea5ce072fd7cba02d7171dc61f4/src/Microsoft.ML.Data/DataLoadSave/DataOperationsCatalog.cs#L16).

Two arguments? `int? see

[2019-02-02 03:40] TomFinley commented on #2274
Huh. You're right, I search for [Microsoft.ML.Parquet](https://www.nuget.org/packages?q=Microsoft.ML.Parquet) on nuget.org and I see nothing. That's a bit of a surprise. (Just curious, what controls whether one of our packages actually gets shipped or not?)

The reason why I'm curious @eerhardt is we have this here:

https://github.com/dotnet/machinelearning/blob/0e80d6c07580cea5ce072fd7cba02d7171

[2019-02-02 03:54] TomFinley commented on #2338
This is deliberate. Machinery relating to entry-points and command-line parsing is not part of our public API surface. As discussed in other contexts, I suggest you make AutoML, not auto-AutoML. Thanks.

[2019-02-02 03:59] TomFinley commented on #2371
Yes. You could potentially introduce an overload:

[code]

Or something along these lines.

As you've observed, it is due to (1) the presence of multiple parameters and (2) the preference that we like to put column names towards-ish the front, even if there are multiple of them.

[2019-02-02 04:03] TomFinley commented on #2337
Well, not exactly. In the case of ranking, for example, it is critical that the split be stratified on a sort of group ID. But we might consider that we expect that having the stratification is an *option*, and if someone doesn't realize stratification is important for a task like ranking, well... that's just too bad.

But I would at least be aware of this issue.

Also this *does* imply a breaking

[2019-02-02 15:41] kant2002 opened #2389 "Incorrect throwing during data loading"
### System information

- Win10
- .NET Core 2.1/3.0 Preview 2

### Issue

Let's say we do loading of data from CSV file using simple POCO class and forget to add `LoadColumn` attribute on the properties. Then call to `CreateTextLoader<T>/CreateTextReader<T>` fails with NullReferenceException

[code]

which definitely not user friendly. I track down that to line https://github.com/dotnet/machinelea

[2019-02-03 08:36] #2022 closed

[2019-02-03 10:41] isaacabraham commented on #180
It's been a while since I looked at this but can you now actually access ML net without being coupled to the data access layer? If so, that would ideally remove all this stuff and we could just worry about that ourselves.

[2019-02-03 15:17] javageek68 commented on #1397
Is this tool open source as well?

[2019-02-03 15:51] grahamehorner commented on #1397
Is @rustd recovering pings?

[2019-02-03 17:13] abgoswam opened #2391 "Incorrect naming of Options argument in TensorFlowTransform public api"
In PR : #2312  we modified the public surface of the TensorFlowTransform  as per issue #1798 #2280

There is a bug - we did not rename the 'args' parameter. It should be 'options'  (else it breaks consistency with rest of public surface)

https://github.com/dotnet/machinelearning/blob/5b98e0cd4cdd150029fddf3c33c6c6bd71abb119/src/Microsoft.ML.TensorFlow/TensorflowCatalog.cs#L53-L54

@ganik

[2019-02-04 02:32] El-Potato-Slayer opened #2396 "ReadFromEnumerable and CreateEnumerable not working"
### System information

- **Windows 10**:
- **.NET Core 2.2 and ML.NET v0.9.0**:

### Issue

- I tried to recreate the spike detector sample, but encountered issues for the 2 methods.
- `DataOperations does not contain a definition for ReadFromEnumerable` and `MLContext does not contain a definition for CreateEnumerable` were the errors I got.
- I didn't expect any errors to pop up. I did a copy a

[2019-02-04 10:31] Dylan-Osborne opened #2397 "Prediction function always returns the same value for regression models."
### System information

- **OS version/distro**: Windows 10 64-bit
- **.NET Version (eg., dotnet --info)**: .NET Core 2.1

### Issue

- **What did you do?**
I created a program that is meant to predict the likelihood of a device being on at a given time.
- **What happened?**
The prediction function always returns the same value e.g. 0 or 1.
If the regression trainer is changed, the value that is r

[2019-02-04 11:04] mareklinka commented on #1220
Hi there. I started looking into this and came up with the following list of attributes that would be necessary:

1. TensorFlow
2. Onnx
3. LightGBM
4. .NET Core < 3.0 || not Core
5. MatrixFactorization
6. Environment = x64 (e.g. where x86 output differs from expected baseline, [TestCommandBase:841](https://github.com/dotnet/machinelearning/blob/7fc7e50ce6f8fed24fc0b9528839a0ac8d0ed320/test/Microso

[2019-02-04 12:22] charlesroddie commented on #1991
@Zruty0 Is it possible to use ML.Net without the annotation/reflection approach? This would give more type safety and compiler helpfulness.

This would involve using ML.Net objects instead of own annotated objects (similarly to how manual serialization would convert an object to a JsonObject or a CBORObject prior to serialization).

[2019-02-04 15:09] eerhardt commented on #2381
We've also discussed adding an Ubuntu leg for the OnnxTransform tests, since the OnnxRuntime doesn't support CentOS/RedHat 7.

/cc @jignparm

[2019-02-04 15:11] eerhardt commented on #2274
Uploading to nuget.org is a manual process, which is done by @shauheen.

[2019-02-04 17:20] rogancarr opened #2398 "RangeFilter has no samples"
The RangeFilter has no sample to show how to use it. I would like to see a sample and links to the sample from the catalog entries.

[2019-02-04 17:24] rogancarr opened #2399 "Cache command doesn't have a sample"
The `Cache` command doesn't have a sample. For 1.0, we need to have a sample, with links from the catalog xml docs.

[2019-02-04 17:26] rogancarr opened #2400 "NA Filter doesn't have a sample"
The `NAFilter` command doesn't have a sample and isn't in the catalog. For 1.0, we need to have it in the catalog, with a sample linked from the catalog xml docs.

[2019-02-04 17:28] rogancarr opened #2401 "Take / Skip / TakeAndSkip Filters don't have catalog entries"
The `Take`, `Skip`, and `TakeAndSkip` commands are not in the the catalog. For 1.0, we need to have them in the catalog, with samples linked from the catalog xml docs. We can add these just like the `BootstrapSample` and `RangeFilter`.

[2019-02-04 17:42] Ivanidzo4ka commented on #2397
[code]
I expect what prediction function works fine. It's just pipeline and model itself doesn't make much sense for me. So you have file with two fields. one is DateTime and one is float label. You apply onehotencoding to datetime -> this force pipeline to go through your data and create list of all unique values. After that we create array with size of all unique values, and fill it with zero, a

[2019-02-04 17:45] TomFinley commented on #1307
I had missed that I was being poked. I have related a distinct but nonetheless related issue of #2378. @wschin brought this issue to my attention, I believe but am not certain that he will write there.

[2019-02-04 17:46] Ivanidzo4ka commented on #2396
This samples for latest version of ML.NET which soon gonna be 0.10.
In 0.9 you need to use `ml.CreateStreamingDataView` instead of ` mlContext.Data.ReadFromEnumerable`

[2019-02-04 17:48] rustd commented on #1397
My apologies. We are still working on the tool. It's not released yet and will be available as a preview in the future. We don't have a specific date yet.

[2019-02-04 17:59] shauheen commented on #1776
@Anipik can you please explain if a fix is needed here, or this issue is resolved already as the core 3 builds seem to be working fine.

[2019-02-04 18:09] JRAlexander commented on #2310
Yes. Here is the guidance: https://review.docs.microsoft.com/en-us/help/onboard/admin/reference/dotnet/documenting-api?branch=master - Here's a couple of examples as well: https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.server?view=netcore-2.2 https://docs.microsoft.com/en-us/dotnet/api/system?view=netcore-2.2

[2019-02-04 18:44] CESARDELATORRE commented on #2252
@TomFinley - Since it'll be breaking the compilation, I think it can be considered a breaking change..
Splitting the "scoring" assemblies from the training bits should be done as soon as possible, in my opinion. It will give us a lot more flexibility when incrementally updating/improving in areas like UWP, Unity and ARM support.

[2019-02-04 18:51] eerhardt commented on #2310
It looks like the .xml file is checked in (at least for `System.Linq.Expressions`):

https://github.com/dotnet/dotnet-api-docs/blob/4f841e404d68e8b6a440b10af721d8868ec99776/xml/ns-System.Linq.Expressions.xml#L3

[2019-02-04 18:51] CESARDELATORRE opened #2403 "Segregate "scoring" ML.NET components/NuGet packages so the scoring components evolve autonomously from the rest of ML.NET"
Segregate "scoring" ML.NET components/NuGet packages so the scoring components evolve autonomously from the rest of ML.NET.

This will be a breaking change, although easy to fix in the apps when having the breaking changes.

If we segregate the scoring area of ML,NET, that would help when providing support to:
- UWP
- Unity
- ARM

So initially, only the "scoring" area of ML.NET could be supported

[2019-02-04 18:57] TomFinley commented on #2378
@sfilipi points out that closely related is an issue discussed tangentially in #1604, that we should not be doing auto-calibration, which will further simplify this.

[2019-02-04 19:47] #2370 closed

[2019-02-04 19:48] grahamehorner commented on #1397
@rustd I’m assuming that this development is not getting done on github it is not going to be open source?

[2019-02-04 20:02] CESARDELATORRE commented on #2121
@glebuk @yaeldekel - I cannot find in https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/ImagesTests.cs a clear example of a pipeline loading the image from a memory stream.

In all the cases I see in those tests the images are loaded into the pipeline from files.

Gleb, Yael, can you create a specific sample/test that simply do that? (load the image from an in-memory st

[2019-02-04 20:53] PeterPann23 opened #2407 "OnlineGradientDescent throws exception"
### System information
- Microsoft Windows Pro version 10.0.17763, 64GB RAM, I7-7700K 4 physical cores 4.2 GHz, 2x 250 GB M2 Drives, AMD FirePro W5100 with 4096 MB/930 MHz
- .Net Version 4.72, Microsoft.ML 0.9.0 Wednesday, January 9, 2019 (1/9/2019)
- Dataset 3,378,393 rows

### Issue
What did I do
- Comparing the prediction accuracy using
1. same data source
2. same normalisation
3. with differen

[2019-02-04 21:21] ileve commented on #2094
Until then, how can i use static extensions in namespace Microsoft.ML.TensorFlow.StaticPipe ?

[2019-02-04 22:08] eerhardt commented on #2094
@ileve - are you using a `0.10.0-preview` build from https://dotnet.myget.org/F/dotnet-core/api/v3/index.json? If so, you can reference the `Microsoft.ML.StaticPipe` package, which contains those APIs.

If not, `v0.10` will be published to nuget.org soon.

[2019-02-04 22:10] #2391 closed

[2019-02-04 23:00] El-Potato-Slayer commented on #2396
Is there any way for me to obtain the latest version before it's official release?

[2019-02-04 23:09] Ivanidzo4ka commented on #2396
https://github.com/dotnet/machinelearning#installation see last paragraph regarding daily nugets.

[2019-02-04 23:29] zeahmed opened #2410 "ValueMapping: Write test for schema propagation for all types of inputs."
There is a ValueMapping test that test for the schema propagation for `ValueMapperEstimator` and `ValueMapperTransformer`
https://github.com/dotnet/machinelearning/blob/2dfc51aa7172199c1b2145e48ecb9eb855bb87f1/test/Microsoft.ML.Tests/Transformers/ValueMappingTests.cs#L506

This test is not complete in a sense that it does not test all the possible inputs that can be provided to `ValueMapperEstimat

[2019-02-04 23:44] #1797 closed

[2019-02-05 00:47] #2398 closed

[2019-02-05 00:53] #2385 closed

[2019-02-05 00:59] JRAlexander commented on #1903
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/github-issue-classification

[2019-02-05 01:14] zeahmed opened #2412 "ValueMapper: Output Schema is not vector when Value type is vector."
This is the bug similar to #2385.

When value type of the dictionary/map is a vector the output is vector. However, the ValueMappingEstimator GetOutputSchema fails at the following line
https://github.com/dotnet/machinelearning/blob/1706b3cfbf838ddd9c5e5a8eba80c4f1d2fd1aec/src/Microsoft.ML.Core/Data/IEstimator.cs#L67

CC: @singlis

[2019-02-05 02:45] zeahmed opened #2413 "TensorFlowTransformer: Passing constant value to the model"
There should be a way to pass constant values to the TensorFlow model because there are cases when model requires an input which is constant regardless of the input feature vector.

For example, the [Batch Normalization](https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization) in TensorFlow requires a paramter called `training` which is set to `True` during training and `False` du

[2019-02-05 02:56] TomFinley opened #2415 "BestFriend on public members ought to complain"
We have the best friend attribute introduced in #1520, which is great, but sometimes I or someone makes a mistake and puts it on a public class. This is harmless, has no visible effects, but is just a bit odd and definitely not intended usage.

At least for me, the procedure is this: I make something `public` become `[BestFriend] internal`, but then I realize something is a bit more complicated th

[2019-02-05 02:57] TomFinley commented on #2415
Not sure what label to give this. Not API really, since it is not user visible. Closest is nit, but the description of "nit" suggests the fix is small. (Which is a bad description. Something can be a nit without necessarily having a trivial fix.) But I guess that's the least bad description.

[2019-02-05 06:45] sfilipi opened #2418 "ImagePixelExtractingEstimator should not require the ImageResizingEstimator in the pipeline"
Currently in ML.Net, to be able to use an ImagePixelExtractingTransformer/ImagePixelExtractingEstimator, you need to have an ImageResizingEstimator  in the pipeline before the ImagePixelExtracting, otherwise the pipeline [fails at run-time ](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.ImageAnalytics/ImagePixelExtractorTransform.cs#L447)with a schema mismatch error.

`"'S

[2019-02-05 07:57] TomFinley commented on #2418
I'm not sure that I agree this is a good first issue, since it is architecturally thorny.

There's also this "good first issue." At its core, this turns what is currently a relatively straightforward schema-only-mapping (known size image into known size vector) into a "trainable" transformation. (Or not. Whether it's trainable or not depends on a variety of factors.) This by itself is not troubles

[2019-02-05 12:01] ileve commented on #2094
Thanks for the help. I installed Version 0.11.0-preview-27405-2 for the following assemblies:

[code]

but when i try to use the extension method `Vector<float>.ApplyTensorFlowGraph` with `ctrl + .`,  no suggestions. Still missing... I also tried with version 0.10.0-preview-27330-5. Same also...

And i notice that it is not contained in the docs. But in the source code it is still there.

As I und

[2019-02-05 15:52] JRAlexander commented on #2403
This.

[2019-02-05 15:54] JRAlexander commented on #2356
We can add to the glossary at any point.

[2019-02-05 16:06] mareklinka commented on #2415
This sounds like a fun little Roslyn exercise. I'll take a swing at this.

[2019-02-05 16:31] eerhardt commented on #2403
The gains you'd get here aren't as big as you first think. If you have any "transforms" in your pipeline, you still need to run them at "scoring" time. And also, the output objects of the "training" code (basically the ModelParameter classes plus the transforms) are also needed at "scoring" time.

In all actuality, the only code you could eliminate at scoring time is the few classes that do the ac

[2019-02-05 17:17] TomFinley commented on #2260
Hi @fwaris , @justinormont actually works on somethign called AutoML. The goal, as I understand it, is that the technology will be capable of operating with many frameworks, including ML.NET. I think they have a Github repo where they're working, but @justinormont might know better about that.

[2019-02-05 18:37] #2384 closed

[2019-02-05 18:56] rogancarr opened #2420 "SampleDatasetUtils is in disarray"
There is a project called `SamplesUtils` sitting *inside* the core ML.NET codebase. I believe this was created before the `[BestFriend]` concept came around.

This project contains one `namespace`, `SampleDatasetUtils` that has one `static` `class`, `DatasetUtils`. Here are the following issues:
1. Everything is public and nothing is sealed.
2. This was built for Samples, but now Tests have taken

[2019-02-05 19:00] rogancarr commented on #2420
I suggest the following fixes:

1. Mark everything as `internal` and all non-`static` classes as `sealed`.
2. Move this library class into `Samples` and out of the core codebase.
3. Mark everything appropriate as `BestFriend` and let Tests have access to them. I do think these will also be useful to Tests, and we *do* explicitly test some of our Sample code.

@sfilipi @TomFinley , what do you thin

[2019-02-05 19:07] sfilipi commented on #1500
All the work for this is done.
The only thing left atm, the renaming, is covered in #2297.

[2019-02-05 19:07] #1500 closed

[2019-02-05 19:11] rogancarr commented on #1903
Awesome! Closing this issue. I'll read over and file an issue on the docs repo if I have any comments.

[2019-02-05 19:11] #1903 closed

[2019-02-05 19:18] rogancarr commented on #2274
I had this added to ML.NET for an internal project. I'm okay if it doesn't hit the public space till post-1.0. It might be better, as I imagine there might be things we will need to chase around a bit before we want to release.

[2019-02-05 19:19] sfilipi commented on #2420
This class was created and is shipping inside the main Microsoft.ML package, so that the users can copy/paste the API references samples and they will just run.

#2277 has some similar questions.

We should definitely seal the classes, but leave public visibility to the methods that download the datasets, and other utilities, because they need to be referenced from outside our own assemblies.

We

[2019-02-05 19:20] sfilipi commented on #2155
This is completed with PR #2303

[2019-02-05 19:22] sfilipi commented on #2155
reopening, just noticed that those PRs, didn't get merge..

[2019-02-05 19:56] TomFinley opened #2422 "Stop using MEF as part of the public API"
We have received feedback that we should limit our usage of MEF as part of the public API, according to feedback by .NET team. We currently for the sake of writing "custom" transformers have the user interact with it. This can be seen here.

https://github.com/dotnet/machinelearning/blob/2d351eb73855cdc30e9c978c00820470cb38cf39/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamplesD

[2019-02-05 20:15] rogancarr commented on #2420
Thanks Senja!

I'll start with the move to sealing, but I do share @TomFinley 's concerns from #2277. If we ship this in the main NuGet with public APIs, then people, *including us* as evidenced by our Tests usage, will begin taking a dependence on these methods and classes, and then we'll have to support them forever.

[2019-02-05 20:38] CESARDELATORRE commented on #2422
Yeah, I remember I recommended NOT to use MEF in one of the calls last year when it was suggested to use MEF in ML.NET... but what's done is done, so let's fix it.

If we need DI (Dependency Injection), we could use the light IoC container provided by .NET:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection

It is used by default in ASP.NET Core:

https://docs.mi

[2019-02-05 20:40] sharwell commented on #2422
What exactly is the concern here?

[2019-02-05 20:42] TomFinley commented on #2420
As already expressed in #2277 and, as @rogancarr has already noted, I feel fairly strongly that this class and the assembly containing it should be part of a separate nuget. It is *clearly* not core functionality of ML.NET, and it's perfectly fine for our samples to rely on multiple nugets (as, of course, they already do). Yet it is in `Microsoft.ML` nuget. So weird.

[Did you mean to link #1137,

[2019-02-05 20:44] CESARDELATORRE commented on #2422
Related to this:
UWP issue related to MEF:
https://github.com/dotnet/machinelearning/issues/1736

And the fact is that MEF is pretty old and not an investment/strategy in the .NET team heading the future.

[2019-02-05 21:02] CESARDELATORRE commented on #2193
Reopening this issue just to ask this:
What is the reason why it was decided to use https://codecov.io instead code coverage in Azure DevOps?

https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-code-coverage-results?view=azure-devops

[2019-02-05 21:03] danmosemsft commented on #2297
For reference, a dump of the public surface of the DataView nupkg is here
https://gist.github.com/danmosemsft/98b0dd3d33a0283a6fe71e46ff22c929

[2019-02-05 21:30] ileve opened #2423 "Unable to find TensorFlow dll"
### System information

- **OS version/distro**: Win7-x64
- **.NET Version (eg., dotnet --info)**: NET.Core SDK 2.1.502 and project target NET.Core 2.1
Visual Studio version 15.9.4

### **Unable to find TensorFlow DLL**

- **What did you do?**
I tried to run the example [TensorFlowTransform](https://github.com/dotnet/machinelearning/blob/e3830910531f00013c27391914233a085a1394a4/docs/samples/Micros

[2019-02-05 21:30] danmosemsft commented on #2298
@Anipik ?

We should fix this and #2253 one way or another - such as possibly going down a non SIMD path if the input is not appropriate. It's important that if you move to 3.0, everything is faster (or at least not slower) without exception.

[2019-02-05 21:33] Anipik commented on #2298
Yes this is on my to-do list.  I will correct this regression

[2019-02-05 22:03] sfilipi commented on #2420
Seems like we're in agreement, to summarize this issue can be closed after making the SamplesUtils a separate package.

[2019-02-05 22:23] sharwell commented on #2422
This issue doesn't mention MEF, and I don't see an Emit dependency in System.Composition. Are you sure these are the same issue?

I'm having trouble finding documentation regarding the use of this package, in particular an overview of features and a getting started guide for people coming from MEF.

Given we have built-in solutions that work well, I don't see a particular value in moving in a dire

[2019-02-05 22:36] CESARDELATORRE commented on #2422
@sharwell - That is the "standard" way to go for DI in ASP.NET Core, documented here, see:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2

About the specific issues in ML.NET with MEF, @eerhardt can comment further.
Let's take this discussion offline, ok? :)

[2019-02-05 22:53] CESARDELATORRE commented on #2422
The other option is to really confirm if we really need DI/IoC for our scenario in ML.NET.
Eric, Tom, you and the team can confirm this point.

[2019-02-05 23:01] Ivanidzo4ka commented on #2423
Do you have same behavior on official 0.10 nuget?
Do you have [Visual C++ Redistributable for Visual Studio 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48145) on your machine?

[2019-02-05 23:04] sharwell commented on #2422
The whole thread feels very "seat of the pants" to me. I believe we should step back and evaluate the needs of the project and be clear (and objective) regarding the advantages and disadvantages of available approaches. I have absolutely no objection to this discussion, but on the available information I would not consider this proposal complete or ready for adoption.

[2019-02-05 23:11] #2104 closed

[2019-02-05 23:22] CESARDELATORRE commented on #2422
I'd agree with your last paragraph if that is the case (if we don't require any service location infrastructure).
I'm just saying that IF we need a DI/IoC infrastructure, I recommend to use `microsoft.extensions.dependencyinjection` which is mainstream in .NET Core, ASP.NET Core and also works on .NET Framework, as mentioned in my links above.

[2019-02-05 23:34] Ivanidzo4ka commented on #2165
One thing worth to mention, we currently in process of hiding as much stuff as possible and in 0.11 you wont be able to do this trick since Transformer constructor will stop being public. We aware what it's weird to call estimators on top of empty file, and we will address it, there is reference to proposal how to do that above. We just in a state if we expose too much, it can be nightmare to supp

[2019-02-05 23:49] JakeRadMSFT commented on #2165
I'm not fully following. So what will it become? I find this to be fairly intuitive.

[code]

[2019-02-05 23:55] eerhardt commented on #2297
I have updated the original comment with a proposal. Please take a look and provide any feedback (especially please weigh-in on the options for the prefix for (1)).

/cc @terrajobst @NiklasGustafsson @KrzysztofCwalina @ericstj @stephentoub

[2019-02-06 00:04] rogancarr commented on #342
I actually am working on this as part of the `DataOperations` catalog and just found this issue. I'll push a PR shortly.

[2019-02-06 00:18] JakeRadMSFT commented on #1952
@Ivanidzo4ka Is it expected that a developer would know that? The page you referenced is for building Ml.Net ... I'm just using it.

Does Ml.Net have documentation for pre-reqs for developers using Ml.net?

[2019-02-06 00:21] JakeRadMSFT commented on #2165
Re-opening to continue the discussion :)

[2019-02-06 00:22] AArnott commented on #2422
I'm not too familiar with microsoft.extensions.dependencyinjection, but as a typical app author, I wouldn't want a library to force me to use that package as my IoC container any more than I'd want it to force me to use MEFv1.

I don't know why we'd have MEFv1, MEFv2, and microsoft.extensions.dependencyinjection and trust that the 3rd is going to be smiled upon for longer than the prior two MEF im

[2019-02-06 01:11] eerhardt commented on #2422
FYI - the big tracking ML.NET doesn’t work on UWP because of MEF is #1595. And the underlying reason is because of https://github.com/dotnet/corefx/issues/33434

[2019-02-06 02:14] #2275 closed

[2019-02-06 02:26] nsulikowski opened #2430 "BoostrapSample not in Data catalog"
mlcontext.Data.BoostrapSample does not exists (from your samples)

[2019-02-06 02:56] Ivanidzo4ka commented on #1952
Does Ml.Net have documentation for pre-reqs for developers using Ml.net?

Sorry, I don't have answer on that question. But I can always ask people who suppose to  know.

@eerhardt, @danmosemsft  Where dotnet specifies pre-required dependencies? ? Do you state that in nuget package, is it some documentation file or it's part of build instructions?

[2019-02-06 03:20] Ivanidzo4ka commented on #2430
We do release once in a month. We choose to make all changes in our master, and once in a month we create release branch and produce official Nugets out of it. Which leads to situation in which we made breaking changes in our API (and in version 0.* we make them a lot), and our actual API in master branch and in release nuget are completely different.

You observe exactly such case. You have two o

[2019-02-06 03:38] Ivanidzo4ka commented on #2165
https://github.com/dotnet/machinelearning/issues/1798#issuecomment-458845661
So we have this issue/discussion where we decided to hide all ctors for transformers and estimators.

From what I understand (I wasn't part of discussion) we have mlContext object and we want user instead of going through namespaces and documentation and search engine just call for `mlContext.Transforms` and show all avai

[2019-02-06 03:43] Ivanidzo4ka commented on #1798
Forgive me my intrusion into this wonderful conversation, but I have question from user, which I'm don't know how to answer.
So we have this issue https://github.com/dotnet/machinelearning/issues/2165 and for now user can just call trival transformer constructors and avoid estimators and Fit method.

number 1 in Senja list states

1- Internalize the ctors

How we come up to this decision, and what

[2019-02-06 03:51] #1967 closed

[2019-02-06 04:02] Ivanidzo4ka commented on #2418
my two cents:

How I see 80% of our image transforms been used right now with our API:
1) we build pipeline which process images and shape them all together to certain format.
2) we run pre-train model which has specific restrains on image dimensions.

In this case we need to resizes images anyway. Technically we can push that step on a user, but if we going that way, why not push whole feature pr

[2019-02-06 04:13] CESARDELATORRE commented on #2422
@AArnott - Not sure what you mean with "I wouldn't want a library to force me to use that package as my IoC container".

In this case, the DI library would be used internally by ML.NET. It'd be transparent for the user/developer.
It is like if ML.NET is using internally any other .NET library or BCL class from Microsoft.

ML.NET won't force any developer to use that package (microsoft.extensions.d

[2019-02-06 04:43] AArnott commented on #2422
@CESARDELATORRE I'm talking about the "public API" part that I understand as the point of this issue. I wouldn't want any library to require that I participate in an IoC container of their choosing as part of my larger app composition. If the library uses one strictly internally, I don't care (provided it doesn't hurt perf).

[2019-02-06 05:07] CESARDELATORRE commented on #2422
@AArnott - Sure, then this case doesn't apply for that concern. The fact that we might use or not a DI library it would be for internal usage in the ML.NET framework, nothing related to the user's code for his larger end-user app composition.

[2019-02-06 08:53] ileve commented on #2423
Thanks for the response. I have installed `Visual C++ Redistributable for Visual Studio 2015 x64 and x86`. I also tested in version `0.10.0`. Same result.

And `ApplyTensorFlowGraph` is not part of `StaticPipe` nuget. I tested it too.

[2019-02-06 10:17] HerraHak commented on #2177
How can we contribute on this issue?

[2019-02-06 10:48] nsulikowski opened #2433 "NimbusML's dot_export_pipeline for c#"
How can I access the list of estimators inside a pipeline?
I can see it as _estimators in the "Non-Public" area of the Locals window when I debug.
I'm trying to display the pipeline graphically (from c#) similar to the way NimbusML does

from nimbusml.utils.exports import dot_export_pipeline
dot_vis = dot_export_pipeline(pipeline, stream)
print(dot_vis)

I'm stuck at how to navigate the pipeline.

[2019-02-06 11:52] ileve commented on #2423
I tested on a Win10-x64 installation and it works. Thus it has to do with Windows 7. The installation is `Win7-x64 SP1`. The GPU is `AMD Radeon HD 5670`.

[2019-02-06 12:05] fwaris commented on #2260
@TomFinley thanks - good to know

[2019-02-06 14:33] kant2002 commented on #2389
Small note: that in Debug configuration exception produce correct behavoir, but in Release mode no exceptions is produced on assertion.

[2019-02-06 15:29] TomFinley commented on #2430
Just to provide more specific information. In this specific case, the specific PR was #2387 by @rogancarr, which was merged a *bit* under eight hours before you filed this issue -- which is to say, it is not going to be in our v0.10 which was based on `master` as of a week ago.

I wouldn't say that. What will happen post v1 though is, we won't make breaking changes to the API (which is why we're i

[2019-02-06 16:15] #2400 closed

[2019-02-06 16:19] rogancarr commented on #2430
@nsulikowski Glad you find this feature useful! It will be in the release nugets in v0.11 on March 5th. Until then, you can find them in the dailies, as @Ivanidzo4ka has pointed out.

Also, stay tuned for all the rest of our `IDataView` => `IDataView` operations: `Cache`, `Shuffle`, `FilterByColumns` (and relatives), `FilterByMissingValues`, 'Skip`, `Take`, etc. These will all be in the dailies in

[2019-02-06 16:25] TomFinley commented on #2415
Cool, only if it sounds interesting to you though @mareklinka. But certainly learning Roslyn is very satisfying, even if you wind up not finishing this work. This is me after finishing writing the first version of RoboTom:

![Unlimited power](https://media.giphy.com/media/OojzyAI4uLUly/giphy.gif)

W.r.t. testing, you can probably piggy back a lot on the test `BestFriendTest` which took care of a l

[2019-02-06 16:34] mareklinka commented on #2415
I actually wrote my master thesis about and using Roslyn's release candidate some years back so this is not entirely new - just didn't have too many opportunities to work with it again 😄

I based the analyzer on the `BestFriendTest` as you suggested. It made the setup much easier.

[2019-02-06 18:28] rogancarr commented on #511
@tauheedul  Thanks for the great feedback on this. I'm passing your comments on visualization to @rustd for ModelBuilder.

I'll close this issue now. Feel free to re-open if you want to discuss more.

[2019-02-06 18:28] #511 closed

[2019-02-06 18:44] Ivanidzo4ka commented on #2423
@zeahmed can you help us? Is where any limitation on windows version?

[2019-02-06 18:52] Ivanidzo4ka commented on #2433
Any `EstimatorChain` is `IEnumerable<IEstimator>` so you can iterate over them.
I'm a bit struggling to understand what exactly you mean (probably because I have limited experience with Nimbus). Can you provide code snippet of what you doing and what you is your expected result?

[2019-02-06 19:02] zeahmed opened #2437 "VariableVectorType attribute"
`VectorType(0)` is currently used to designate a variable in a type as variable length vector e.g.

[code]

This seems not very intuitive. Can we have attribute type that can be specifically used to designed variable length vectors? such as `VariableVectorType`

[2019-02-06 19:09] sfilipi commented on #2326
Converging on Microsoft.ML.Trainers instead, since that seems to be the namespace the majority of trainers live in.

[2019-02-06 19:28] CESARDELATORRE commented on #2099
Just to mention that this issue is happening in v0.10 not just in **MultiClassClassification** models but also in **Regression** models, such as the BikeSharingDemand sample.

[2019-02-06 19:32] nsulikowski commented on #2433
are you sure?
i pressed f12 to see the definition and i dont see ienumerable...

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ivan Matantsev <notifications@github.com>
Sent: Wednesday, February 6, 2019 1:53 PM
To: dotnet/machinelearning
Cc: Nestor Sulikowski; Author
Subject: Re: [dotnet/machinelearning] NimbusML's dot_export_pipeline for c# (#2433)

Any Estima

[2019-02-06 19:51] CESARDELATORRE commented on #2099
Related issues in StackOverflow:

https://stackoverflow.com/questions/54555883/ml-net-10-minute-tutorial-not-finishing-training-model-message-the-thread-0xxx

https://stackoverflow.com/questions/54497919/ml-net-10min-tutorial-not-working-in-visual-studio

[2019-02-06 19:54] #342 closed

[2019-02-06 19:56] Ivanidzo4ka commented on #2433
My bad I was thinking about TransformerChain which is `IEnumarable<ITransformer>` and I expect it to be same for EstimatorChain.

@TomFinley  any chance you aware why @Zruty0  implemented TransformerChain as IEnumerable but didn't do that for EstimatorChain? Does it sound like API flaw for you?

[2019-02-06 20:03] rustd commented on #1952
@jralexander can you please follow-up to the update the getting started tutorials for mac/windows/ linux per Eric's comment above?

[2019-02-06 20:31] JRAlexander commented on #1952
What would the differences be from the current .net core prereqs topics?

[2019-02-06 20:36] JRAlexander commented on #1952
What differences are there for ML.NET Package Windows/Linux/MacOS pre-reqs  vs the documented Windows/Linux/MacOS pre-reqs for .NET Core?

[2019-02-06 20:37] #2399 closed

[2019-02-06 20:41] rogancarr opened #2438 "We need documentation describing how to use the explainability features in ML.NET"
We have some great explainability features in ML.NET, but they are hidden here and there. It would be great to have an explainability doc, similar to the [ML.NET Cookbook](https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md), that showed how to use these features and what they do.

[2019-02-06 21:05] #2401 closed

[2019-02-06 21:08] sfilipi commented on #1669
The action item on this PR is to remove

`using Float = System.Single` from all the files, and through the codebase, replace `Float`, with `float`.

[2019-02-06 21:13] rogancarr opened #2440 "Add "Row" to the title of ambiguous DataOperations catalog members"
Certain operations in the `DataOperations` catalog are as to whether they operate on rows, columns, or slots. I suggest renaming the `FilterBy...`s and `Shuffle` to have `Rows` after the verb (e.g. `FilterRowsBy...`), similar to how we named `SkipRows` and `TakeRows`.

[2019-02-06 21:49] sdg002 opened #2443 "Very scanty documentation -"
No sample code. What value is this page providing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4f07b9-e625-aa2e-940a-69bedbe67a3b
* Version Independent ID: 1f4fe341-3c68-bc18-06d2-480c6283a609
* Content: [LightGbm Class (Microsoft.ML.LightGBM)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.lightgbm.ligh

[2019-02-06 22:06] eerhardt opened #2444 "FastTree does not work in UWP"
### System information

- **OS version/distro**: Windows UWP app
- **.NET Version (eg., dotnet --info)**:  UWP

### Issue

FastTree is currently always attempting to `PrintMemoryStats` during training. This is an issue on some platforms (specifically UWP) because these APIs throw exceptions.

We should at least have a way to disable these stats when on platforms that don't support it.

- **What di

[2019-02-06 22:27] #2371 closed

[2019-02-06 22:28] TomFinley commented on #2338
I think this has been sufficiently addressed, so closing for now, thanks all.

[2019-02-06 22:28] #2338 closed

[2019-02-06 22:48] sfilipi opened #2445 "Inventory of the Microsoft.ML public types: what to rename, move, hide there."
This is the list of the types in the Microsoft.ML namespace, as seen from the docs site.  Taking a first pass at what doesn't need to be there, what needs to be hidden, and what needs to be moved to a different namespace.

Microsoft.ML namespace type | Rename/Move/Hide |
--------------------------- | --------- |
BinaryClassificationCatalog |    |
BinaryClassificationCatalog.BinaryClassificationTra

[2019-02-06 22:54] singlis commented on #532
I am closing this issue due to no response, but @vivekpradhan feel free to re-open if needed.

[2019-02-06 22:54] #532 closed

[2019-02-06 22:55] Ivanidzo4ka commented on #132
https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/DataLoadSave/Text/LoadColumnAttribute.cs
It's no longer accepts string, and work with integers, so I'm closing this issue

[2019-02-06 22:55] #132 closed

[2019-02-06 22:58] singlis opened #2446 "Updating LightGBM to version 2.2.3"
LightGBM has been updated to version 2.2.3, ml.net references 2.2.1.1.

Creating this issue to update ml.net to the latest version of LightGBM.

[2019-02-06 22:59] Ivanidzo4ka commented on #107
@singlis I think you looked into loading data from Sql Server, what was result of your investigation?

[2019-02-06 23:08] singlis opened #2447 "ValueMapping Documentation missing bullets in the remarks section"
The remarks section for ValueMappingTransform contains a list that does not render to the HTML. This is due to a missing type on the this list element:
Currently its this:
``
Examples for using a ValueMappingEstimator are:
<list>
...
</list>
``

Expected is this:
``
Examples for using a ValueMappingEstimator are:
<list type="bullet">
...
</list>
``

[2019-02-06 23:16] JRAlexander commented on #1952
@rustd -- I think this needs to be reassigned

[2019-02-06 23:17] JRAlexander commented on #2438
This should be in docs. Lets work together on it.

[2019-02-06 23:23] JakeRadMSFT commented on #2164
String support is sort of half the issue here.

The other half is that unsupported tensor types result in "tensor doesn't exist" error messages ... when in reality they are unsupported. Even if String support is added ... the bad error messages still exist for other unsupported tensors.

[2019-02-06 23:34] #2440 closed

[2019-02-06 23:49] Ivanidzo4ka commented on #524
@zeahmed  do you mind to close this one? Since we hiding all constructors this task doesn't feel relevant anymore?

[2019-02-06 23:50] Ivanidzo4ka commented on #494
Looks like this issue can be closed.

[2019-02-06 23:50] #494 closed

[2019-02-06 23:51] zeahmed commented on #524
No longer valid.

[2019-02-06 23:51] #524 closed

[2019-02-06 23:52] Ivanidzo4ka commented on #558
Considering we no longer use this API, i'm closing this issue.

[2019-02-06 23:52] #558 closed

[2019-02-06 23:57] Ivanidzo4ka commented on #576
@rogancarr  Do we have example of how run feature importance for Tree learners?

[2019-02-06 23:58] zeahmed commented on #2423
There is no known restriction on windows version till now.  [TensorFlow C-API ](https://www.tensorflow.org/install/lang_c) also does not state any windows version issue. So, I think its related to some missing dependency on win7.

@ileve, can you please check if these dependency are install on win7?
[`Microsoft Visual C++ 2015 Redistributable Update 3`](https://www.tensorflow.org/install/source_wi

[2019-02-07 00:02] #749 closed

[2019-02-07 00:03] JRAlexander commented on #2326
I'd prefer Microsoft.ML.Algorithms.

[2019-02-07 00:04] JRAlexander commented on #2326
It would match https://dotnet.microsoft.com/learn/machinelearning-ai/what-is-mldotnet. "Choose Algorithm"

[2019-02-07 00:04] Ivanidzo4ka commented on #785
Do you mind if I close this one? both of your links are dead.

[2019-02-07 00:04] #785 closed

[2019-02-07 00:06] JRAlexander commented on #785
@Ivanidzo4ka, fine with me.

[2019-02-07 00:27] ericstj commented on #2423
`0xC000001D` is STATUS_ILLEGAL_INSTRUCTION

Is it possible the TF version is relying on CPU instructions not supported on your processor?  Does your processor support AVX?

[2019-02-07 00:33] #995 closed

[2019-02-07 00:35] Ivanidzo4ka commented on #990
Hi @abgoswam  I believe we added this functionality few releases ago. Is it safe to close this issue?

[2019-02-07 00:39] #1148 closed

[2019-02-07 00:45] Ivanidzo4ka commented on #1197
I believe you fix this issue in PR #1169 so I'm closing this issue.

[2019-02-07 00:45] #1197 closed

[2019-02-07 00:48] Ivanidzo4ka commented on #1223
we have [developer guide](https://github.com/dotnet/machinelearning/blob/master/docs/project-docs/developer-guide.md) which explains how to build project locally.

[2019-02-07 00:48] #1223 closed

[2019-02-07 00:48] danmosemsft commented on #2423
Is this coming from LoadLibrary? If so then enabling loader snaps might provide useful information, such as which Dll in the closure.

https://blogs.msdn.microsoft.com/junfeng/2006/11/20/debugging-loadlibrary-failures/

[2019-02-07 00:57] Ivanidzo4ka commented on #1952
also libomp for LightGBM https://github.com/dotnet/machinelearning/issues/1282

[2019-02-07 01:10] Ivanidzo4ka commented on #1634
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#what-is-normalization-and-why-do-i-need-to-care contain examples of how to turn on/turn off fixZero so I'm closing this issue.

[2019-02-07 01:10] #1634 closed

[2019-02-07 01:15] Ivanidzo4ka commented on #1746
@rogancarr @sfilipi  @shmoradims Do we have list of all required samples to our API, so we can link this issue to it?

[2019-02-07 01:20] Ivanidzo4ka commented on #1964
@justinormont is this issue still relevant?

[2019-02-07 02:04] #2376 closed

[2019-02-07 02:28] singlis commented on #1386
I wanted to ping the thread as I see this is in 0.11. After reading #2006, what is this issue tracking for 0.11? Is it to remove DataKind all up or is it to internalize DataKind (which mainly looks to be on TextLoader).

[2019-02-07 02:50] terrajobst commented on #2297
Should we meet to discuss this? Back and forth on GitHub might not be the best way to close on this. I'm happy to set aside some time.

[2019-02-07 03:08] TomFinley opened #2452 "DataOperationsCatalog SaveAsText extension method is evil"
I was attempting to migrate some of our tests, when I discovered we have a few problems in our new API on text saving. I know @artidoro had some thoughts on text saving/loading so mentioning him. Also I know @sfilipi and @rogancarr are handling many issues w.r.t. API completeness and consistency as they work on samples and docs, so maybe they have some thoughts on this. (Of course everyone is free

[2019-02-07 03:08] eerhardt commented on #1386
I would say we should internalize/remove usages of `DataKind` in as many places as possible. I see public usages by `TextLoader`, `PartitionedFileLoader`, and `TypeConvertingTransformer` so far... I also see some code that writes the `byte` value of the `DataKind` into the model file...

If we decide that `DataKind` has to be a public enum for the above public usages, then we should also do some r

[2019-02-07 03:22] TomFinley commented on #2445
If I read through your list, I notice two main themes here among your "moves:" losses, and things relating to `IHostEnvironment`.

Losses seem most relevant to trainers (e.g., they are often moved there), so if not in ML.NET they should live somewhere there, I'd expect? Maybe `Microsoft.ML.Trainers`, since the concept of loss is so general? But they're also useful in evaluation -- we might want to

[2019-02-07 03:24] TomFinley commented on #2445
Also why do we have the sweeper DLL part of `Microsoft.ML` nuget? 😄 That's not right.

[2019-02-07 03:26] TomFinley commented on #2445
Also also: this is necessarily a breaking change to API, so why is it filed under *documentation* and not under project 13 and API? I hope you don't mind, just going to recategorize it properly.

[2019-02-07 03:38] TomFinley commented on #2433
Maybe, except, I can see a practical reason why one might want to iterate over `ITransformer`, I don't see a reason why one would want to iterate over `IEstimator`.

Much of the work on this predates us abandoning our old mechanism of `IDataTransform` in favor of the new API #581 -- which uses much of the same code, just very different interfaces. So NimbusML does not use estimators at all at any

[2019-02-07 05:07] ileve commented on #2423
I installed `C++ 2015 Update 3` and it didn't work. The CPU on my `Win7-x64` PC is first generation `i7 930` which does not support `AVX`. I guess there is no need for further investigation with a window debugger.

As already mentioned, the successful test was on a `Win10-x64` laptop with a CPU that supports `AVX`.

[2019-02-07 05:31] Zruty0 commented on #2433
Hey, someone summoned me! :)

Actually, I think it was my omission: I should've made the estimator chain an enumerable.
The other thing that I think did not realize its potential is the fact that the estimator and transformer chains are generic on the last estimator/transformer. I think just `class EstimatorChain: IEstimator<ITransformer>` would work just fine.

In documentation examples I struggl

[2019-02-07 06:01] nsulikowski opened #2454 "OneHotEncodingTransformer inputs?"
The OneHotEncodingTransformer object does not provide properties to get the constructor's parameters back (e.g. input column)

[2019-02-07 06:44] daholste opened #2455 "FastForest learning rate not settable thru options object"
Learning rate for FastForest is not settable thru options object

This issue also appears as one of the later comments in this issue: https://github.com/dotnet/machinelearning/issues/1983

[2019-02-07 07:39] justinormont commented on #1964
@Ivanidzo4ka : I see [8 references](https://github.com/dotnet/machinelearning/search?q=%22ML.Runtime%22&unscoped_q=%22ML.Runtime%22) to the removed Microsoft.ML.Runtime namespace in this repo. Perhaps we need to propagate the removal of the Microsoft.ML.Runtime to the internal build.

[2019-02-07 08:42] justinormont commented on #2455
Closing as I don't think FastForest has a learning rate. Feel free to re-open as needed.

[2019-02-07 08:42] #2455 closed

[2019-02-07 08:43] daholste commented on #2455
Thank you, @justinormont !

[2019-02-07 10:07] ileve commented on #2423
Well I have to reconsider the situation. When i successfully run on `Win10-x64` I receive the message:

`I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2`

Thus the compiled `TensorFlow.dll` in `ML.NET 0.10.0` does not use `AVX` instructions.

[2019-02-07 11:09] fashrista commented on #1886
Your example works also with binaries (0.9.0) I imported into my project.
But I do not know how to implement it into a different project.
Can you please do the iris example or the taxi fare example:
https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/taxi-fare

Thanks !

On Wed, Feb 6, 2019 at 8:25 AM Ankit Asthana <notifications@github.com>
wrote:

[2019-02-07 11:10] fashrista commented on #1886
ps It is not wisible in your example how to train the model to get it in
the right 'format'  so that it wil take floats as parameters

On Thu, Feb 7, 2019 at 12:06 PM đibril fashrista <fashrista@gmail.com>
wrote:

[2019-02-07 12:39] arkenidar opened #2456 "support for "autoconstructive evolution" & Genetic Programming (GP)"
what about support for these?:

https://en.wikipedia.org/wiki/Autoconstructive_evolution

In the "autoconstructive evolution" approach to meta-genetic programming, the methods for the production and variation of offspring are encoded within the evolving programs themselves, and programs are executed to produce new programs to be added to the population.[45][46]
https://en.wikipedia.org/wiki/Geneti

[2019-02-07 13:46] sdg002 opened #2457 "No sample code!"
There used to be a MSDN , a long time ago. There used to code snippets which made learning so easy. I understand you have GitHub. But, you could provide links to make the user journey more comfortable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 022855f3-11d3-616c-f742-51e109c739d3
* Version Independent ID: fc02b6bb

[2019-02-07 14:30] LucasFievet opened #2458 "TensorFlowTransformer is not properly matching the input dimensions"
### System information

- **OS version/distro**: Windows 10/Pro
- **.NET Version (eg., dotnet --info)**: .NET Version 2.1.202
- ML.TensorFlow Version 0.10

### Issue

- **What did you do?**: Executed a TensorFlow model using TensorFlowEstimator
- **What happened?**: Mapper does not properly match the input dimensions to the TensorFlow model dimensions
- **What did you expect?**: Properly matched d

[2019-02-07 14:44] sdg002 opened #2459 "Is there any end to end C# sample code using LightGBM ?"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  4.6

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**

### Source code / logs

Please paste or attach the code or logs or traces that would be helpful to diagnose the issue you are reporting.

[2019-02-07 15:07] rogancarr commented on #1746
We're adding samples & docs requirements to #1209

[2019-02-07 16:02] rohittidke commented on #630
+1

[2019-02-07 16:19] rogancarr commented on #1991
@TomFinley or @eerhardt ?

[2019-02-07 16:23] rogancarr commented on #1539
As an aside, XGBoost does have a lot of features, some of which we don't support in FastTree. It would also be great to understand which of those features we should support in FastTree.

[2019-02-07 16:24] rogancarr commented on #685
@parag-patil I'll mark this issue as closed, but feel free to reopen if you want to continue discussing.

[2019-02-07 16:24] #685 closed

[2019-02-07 16:44] TomFinley commented on #2336
Just like to double click on that to emphasize it. Due to `ITransformer` being an interface, it is essential that anything that is required for it be on it now. If, contrariwise, what we call `ITransformer` was instead an abstract class, we would have been free to not do this right now.

On the other, *other* hand, it is actually at this stage impossible for someone to implement `ITransformer` dir

[2019-02-07 16:51] eerhardt commented on #1991
@charlesroddie - yes! That is completely possible. It is a little more work, as the reflection approach is the "convenience", but you can easily step one level down and use the `IDataView` interface to interact with your data - both data going in and coming out of a pipeline.

In this example, we are using ML.NET with Unity. Unity doesn't support `System.Reflection.Emit`, which ML.NET uses to set

[2019-02-07 17:02] abgoswam opened #2460 "Modify API for FeaturizeText ?"
In the MLContext for the text featurizer, the input column names are taken as a IEnumerable<string>

https://github.com/dotnet/machinelearning/blob/834e4715afa070f5e5c3628693682943b3f0bd6d/src/Microsoft.ML.Transforms/Text/TextCatalog.cs#L43-L46

https://github.com/dotnet/machinelearning/pull/2394#discussion_r254357200   recommends making them params instead.

Should we modify this API ?

@sfilipi

[2019-02-07 17:21] sdg002 opened #2461 "The method Read of TextLoader does not check for the presence of the file."
### System information

- **OS version/distro**:Windows 10
- **.NET Version (eg., dotnet --info)**: .NET 4.6

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**

### Source code / logs
The method Read of the class TextLoader does not validate the presence of the input file. I understand that there is an element of lazy loading here. But, it would help to get feedback

[2019-02-07 17:28] ileve opened #2462 "ScoreTensorFlowModel does not produce the expected results"
### System information

- **OS version/distro**: Win10-x64 10.0.17134
- **.NET Version (eg., dotnet --info)**: dotnet SDK 2.1.402

visual Studio 15.8.4

### Issue
`ScoreTensorFlowModel` does not produce the expected results from a pre-trained network
- **What did you do?**
I trained a [regression model](https://colab.research.google.com/drive/1kuR3ugh-EOXcNXz_Qglt06MQQQkA2Mmp) and saved the full m

[2019-02-07 17:35] abgoswam commented on #990
Yeah. Thanks Ivan. We can close this -- verified it works with SavedModel format:

dotnet DnnAnalyzer.dll cifar_saved_model

[2019-02-07 17:35] #990 closed

[2019-02-07 17:47] TomFinley commented on #1991
This may be something for @sfilipi, @rogancarr, and @shmoradims to look for as as they do samples and documentation, is make sure there's sufficient mention of `IDataView`.

The question by @charlesroddie though seems to be different though. He's (correct me if I'm wrong @charlesroddie) asking for a non-reflection driven approach that offers more type safety and checks. What makes me think this is

[2019-02-07 17:53] TomFinley commented on #2326
I would not. We have trainers, transforms, predictors... if some random note written by someone happened to use such a generic term as "algorithm," *that* is what must be changed.

[2019-02-07 17:55] TomFinley commented on #2326
Regarding Microsoft.ML.Data.IO, I think everything here should be hidden, it can probably be moved into `Microsoft.ML.Data` if we care. I personally might keep it where it is though, since it's very, very specific to binary loaders/savers.

[2019-02-07 17:57] JRAlexander commented on #2326
Ok, then what about Miucrosoft.ML.LearningAlgorithms?
Again it would match the terms we are already using on the marketing site... and are industry standard...

Choose Algorithm
Choose the learning algorithm that will provide the highest accuracy for your scenario. ML.NET offers the following types of learners:

Linear (e.g. SymSGD, SDCA)
Boosted Trees (e.g. FastTree, LightGBM)
K-Means
SVM
Average

[2019-02-07 18:07] zeahmed commented on #2423
ML.NET directly uses the pre-compiled dlls from https://www.tensorflow.org/install/lang_c.

These binaries are not built for every instruction set. If you want to make use of your CPU instruction set you will have to built it yourself by setting appropirate build flags.

Maybe the following stack-overflow discussion will be helpful in this regard.
https://stackoverflow.com/questions/47068709/your-

[2019-02-07 18:11] Ivanidzo4ka commented on #2462
Thank you for reporting this.  Would it be hard for you to share model itself? I know you posted link to it, but it required permission to access it.

[2019-02-07 18:14] ericstj commented on #2423
AVX and AVX2 are different instruction sets.  That message is just telling you that you could have a more performant TF dll if you recompiled it to use AVX2.  I wonder if the TF folks could do runtime light-up for this stuff rather than cross-compiling.  Cross-compiling is not very "portable" for things like this.  That would fix the illegal instruction problem and avoid the annoying log.  Of cour

[2019-02-07 18:26] Ivanidzo4ka commented on #2458
@yaeldekel https://github.com/dotnet/machinelearning/blob/453f19191d9a7492030829fc1890fe68c41a3bcf/src/Microsoft.ML.TensorFlow/TensorflowTransform.cs#L853
do you know why we setting variable length only for tensors with size more than 2?
@zeahmed do we have tests with variable length? If yes, I believe it's probably for images, can we have test for two dimensional model?

[2019-02-07 18:28] #2447 closed

[2019-02-07 18:35] ericstj commented on #2423
I've opened https://github.com/tensorflow/tensorflow/issues/25590 on TF to see if this can be improved.

[2019-02-07 18:54] ileve commented on #2462
Check this [link on github](https://github.com/ileve/debug-netcoreapp2.0/blob/master/Copy_of_basic_regression.ipynb)

[2019-02-07 19:09] zeahmed commented on #2458
No, this is the bug and I am going to make a fix for it.

[2019-02-07 19:10] Ivanidzo4ka commented on #2462
@zeahmed any chance you look on this one?

[2019-02-07 19:17] XamlBrewer opened #2463 "ConvertToOnnx throws Protobuf exception"
### System information

- **OS version/distro**: Windows 10 Pro 1809 17763.253
- **.NET Version (eg., dotnet --info)**: .NET Core 2.0 and 2.1

### Issue

- **What did you do?** Added ML.NET.Onnx NuGet package to any official sample, and a call to ConvertToOnnx.
- **What happened?** Exception: Sequence contained null element / Parameter: values / Google.Protobuf

- **What did you expect?** A succes

[2019-02-07 19:19] rogancarr opened #2464 "BinaryPredictionTransformer has a public constructor"
`BinaryPredictionTransformer` has a `public` constructor of the form:
[code]

Since the usable constructor
[code]
is marked `internal`, it seems like the one taking a `ModelLoadContext` should be too.

[2019-02-07 19:20] sfilipi commented on #2459
Hi @sdg002,
we are working on samples and API documentations for the next release.
In the meantime, for reading text (your other question) you can see this sample:

https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/ImageAnalytics/ConvertToGrayScale.cs#L33

What task do you need LightGBM for: binary classification, regression etc. so I can point you to

[2019-02-07 19:28] TomFinley commented on #2464
Hi @rogancarr , could you clarify? This is the code as it stands right now.

https://github.com/dotnet/machinelearning/blob/56ae4eb9a566023a69419ac2b3be8cb3f3e5e905/src/Microsoft.ML.Data/Scorers/PredictionTransformer.cs#L340

[2019-02-07 19:31] TomFinley commented on #2464
Also, usually we mark things as "bugs" if they have incorrect behavior. As the description says, "something isn't working." Even if this constructor happened to be public, which AFAIK it is not, that is not something not working -- that means it's working too much! 😉

[2019-02-07 19:32] #1247 closed

[2019-02-07 19:46] zeahmed commented on #2462
O.K.

[2019-02-07 19:50] rogancarr commented on #2464
@TomFinley ! Weird. I have a version of the repo from 7 this morning. Maybe someone updated it in the meantime?

Wait, it was you, two hours ago!

I'll close the issue.

[2019-02-07 19:50] #2464 closed

[2019-02-07 19:54] rogancarr commented on #2306
@eerhardt @TomFinley Question about this Test.Functional/ project.

I created the project, and I am migrating v1.0 Scenarios over to it. What I've noticed is that these aren't necessarily tests, as in "run these and make sure the APIs return the correct values". What they are, are compile-time checks that ask "Can I compose this in ML.NET?"

So my question for you two is, do we need non-`Internals

[2019-02-07 20:00] rogancarr opened #2465 "Cannot set the threshold on a binary predictor"
It is no longer possible to set a custom `Threshold` and `ThresholdColumn` on a binary classifier.

Previously, we had been using `BinaryPredictionTransformer`. Recently, `BinaryPredictionTransformer` was marked as `internal` and is no longer available for usage outside of the library.

Related to question #403

[2019-02-07 20:03] rogancarr commented on #2465
One suggestion is to make the `Threshold` and `ThresholdColumn` properties of the prediction transform settable. They are currently only gettable.

Something like this?
[code]

[2019-02-07 20:06] singlis commented on #1651
After talking with Tom, this needs more thought through on how this can be made more user friendly. The PR that I currently have here: #2330 has the user specifying the constraints based upon indices. This was primarily to handle the way LightGBM works, but ML.Net does not work this way and using indices after concatenating columns into a Features column does not give a clear way to know which ind

[2019-02-07 20:39] eerhardt commented on #2306
My opinion is that we need non-`InternalsVisibleTo` tests. We need to ensure that customer scenarios work correctly, not just that they can compile. But we need to ensure they don't throw exceptions and they return the correct results.

[2019-02-07 20:40] sdg002 commented on #2459
Hi @sfilipi ,
Thanks for the quick reply.
I was looking for a "hello world" style sample using LightGBM for binary classification.  A sample that is easy to copy over or download as a ZIP, does not deal with too much data but helps in explaining the API.

If you remember the older MSDN style documentation of .NET Framework , you would know what I am referring to.  I never had to look anywhere else

[2019-02-07 20:44] eerhardt commented on #2297
Here is a dump of the proposed public surface after the changes above.

https://gist.github.com/eerhardt/eff7e207673e1fde40a5696eb07ba273

I'll book some time to close on this, @terrajobst.

[2019-02-07 20:55] rogancarr commented on #2306
Great. I'll keep them as tests then and add checks on the outputs. This will give them a baseline-y feel, which is nice.

Second question @eerhardt @TomFinley . The current tests folder defines a key that other projects can use to set `InternalsVisibleTo`. One thing that @sfilipi and I have been talking about is how to guarantee that nobody accidentally makes internals visible to these functional

[2019-02-07 21:03] eerhardt commented on #2306
One way we can try to avoid this is to ensure the new Functional.Tests assembly isn't strong-named. You can only add `InternalsVisibleTo` from a strong named assembly to other strong named assemblies.

So we could shut off these properties:

https://github.com/dotnet/machinelearning/blob/30fe08a7c0ac1e46d36841b8b95e3d4128a41891/Directory.Build.props#L101-L106

for this project. And then add a comm

[2019-02-07 21:39] sdg002 opened #2466 "Displaying the records that have been loaded using TextLoader"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  .NET 4.5

### Issue
I was trying to get a better understanding of loading records from a flat file. All I wanted to do was to access the records that have been loaded sequentially and display  them.
- **What did you do?**
- **What happened?**
- **What did you expect?**
The code in the **while bloc

[2019-02-07 21:47] #2373 closed

[2019-02-07 22:15] Ivanidzo4ka commented on #2465
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/ReconfigurablePrediction.cs

[2019-02-07 22:18] rogancarr commented on #2465
@Ivanidzo4ka  I am pulling these out of Tests/ and into a new Functional.Tests that is does not have `InternalsVisibleTo` available in accordance with #2306 .

This test relies on `internal` APIs, so it doesn't work from and end-user perspective.

[2019-02-07 22:29] wschin opened #2467 "OvaModelParameters is not strongly-typed"
In the constructor of 'OvaModelParameters`,
[code]
the we remove the type information of predictors by forcing them to be `IPredictorProducing<float>`. To make all multi-class classifiers' outputs strongly-typed. We need to make `OvaModelParameters` strongly-typed.

[2019-02-07 22:33] yaeldekel commented on #2269
@sfilipi had a PR (#2372 ) that internalized most of what doesn't need to be public.
VectorToImageTransform needs to be converted to estimator/transformer.

[2019-02-07 22:37] sfilipi opened #2468 "Remove the dead code inside the FastTree assembly"
The code inside src/Microsoft.ML.FastTree/Application is not in use.

Delete the Folder.

[2019-02-07 22:37] charlesroddie commented on #180
Two ways to do this!
- [IDataView](https://github.com/dotnet/machinelearning/issues/1991#issuecomment-461507560)
- [static API aka PiGSTy](https://github.com/dotnet/machinelearning/issues/1991#issuecomment-461528428), [spec](https://github.com/dotnet/machinelearning/issues/632)

[2019-02-07 22:56] wschin opened #2469 "Model produced by SdcaBinaryTrainer is not and can not be strongly-typed"
The [`CreatePredictor`](https://github.com/dotnet/machinelearning/blob/6ec3280fe62b34ab07e183cd5d9e5d2767dd0dcc/src/Microsoft.ML.StandardLearners/Standard/SdcaBinary.cs#L1550) function,
[code]
 in `SdcaBinaryTrainer` can produce two different types depending on the specified loss function. To generate model in a type-safe manner, we need two trainers for the two possible model types. cc @TomFinley

[2019-02-07 23:10] sfilipi commented on #2460
The TextFeaturizingEstimator was modeled like the learners. IMO should follow the same pattern of having Options..

[2019-02-07 23:42] abgoswam opened #2471 "Missing support for Anomaly Detection metrics."
ML.NET supports several evaluation metrics but is missing support for Anomaly Detection metrics.

Example of supported metrics:
- [BinaryClassificationMetrics](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Evaluators/Metrics/BinaryClassificationMetrics.cs)
- [RegressionMetrics](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Evaluators/Metr

[2019-02-07 23:54] srsaggam opened #2472 "Any reason for inconsistency in params for TextLoader?"
1) This Method :
https://github.com/dotnet/machinelearning/blob/834e4715afa070f5e5c3628693682943b3f0bd6d/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs#L55

2) and this one :
https://github.com/dotnet/machinelearning/blob/834e4715afa070f5e5c3628693682943b3f0bd6d/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs#L22

Looks like the first one has params like :
[cod

[2019-02-07 23:55] srsaggam commented on #2472
@daholste @justinormont

[2019-02-08 00:01] abgoswam commented on #2460
@sfilipi .  Just to clarify .. we do follow the pattern of passing `Options`  for the advanced options for the algorithm.

The issue was created to discuss your comment of whether we should use `IEnumerable<string>` for the  `inputColumnNames`. I believe your suggestion was to not use `IEnumerable` and  use  `params` instead ?

[2019-02-08 00:44] Ivanidzo4ka commented on #2463
We currently support very limited subset of trainers/transforms which can be converted to ONNX.
PCA transformation is not one of them.

In 0.10 we would provide slightly better error, but we still don't provide which transformer/trainer not supported in pipeline.

[2019-02-08 00:49] Ivanidzo4ka commented on #2273
Actually question to @glebuk  and @shauheen.  Not related to lockdown, but I can't find better place.

https://github.com/dotnet/machinelearning/issues/2463 issue like this shows how unready model to onnx converter is. Do we have any commitment regarding Onnx converter in 1.0? Can we make this nuget "experimental"? Can we hide it completely?

[2019-02-08 00:53] Ivanidzo4ka commented on #2466
Would this [example](https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-do-i-look-at-the-intermediate-data) satisfies you?

[2019-02-08 00:53] Anipik commented on #2298
@helloguo yes the machine supports avx2. It runs on a windows machine with an intel processor.

[2019-02-08 01:11] Ivanidzo4ka opened #2473 "GetColumn method is extension for IDataView but not mlContext."
https://github.com/dotnet/machinelearning/issues/1708 moved CreateEnumerable from extension on top of DataView to become extension on mlContext object.

We still have GetColumn extension https://github.com/dotnet/machinelearning/blob/7fc7e50ce6f8fed24fc0b9528839a0ac8d0ed320/src/Microsoft.ML.Data/Utilities/ColumnCursor.cs#L25
which works on top of DataView. Shall we move it to mlContext?

`var enum

[2019-02-08 01:12] danmosemsft opened #2474 "Add Mono to CI"
@Anipik and others have been scouting Mono.

As soon as our tests pass on Mono, we should add it to CI to protect it.

Note - the Mono build will need (at least) the fix for https://github.com/mono/mono/issues/12690

[2019-02-08 01:14] Ivanidzo4ka commented on #2473
Can I have @TomFinley approval of this issue?

[2019-02-08 02:57] daholste opened #2477 "Sample Breaks When Change Learner from FastTree to AveragedPerceptron"
@srsaggam and I were looking at the sentiment analysis sample:

https://github.com/dotnet/machinelearning-samples/blob/a79ced6c6bb788c2189d81e5993863e15cf8be0c/samples/csharp/getting-started/BinaryClassification_SentimentAnalysis/SentimentAnalysis/SentimentAnalysisConsoleApp/Program.cs#L59

When you change the learner from 'FastTree' to 'AveragedPerceptron', the sample throws the exception:
[code]

[2019-02-08 02:58] srsaggam commented on #2477
@CESARDELATORRE

[2019-02-08 02:58] srsaggam commented on #2477
@justinormont

[2019-02-08 03:55] TomFinley commented on #2477
The error message describes it cannot find the column `Probability`. Some binary classifiers naturally provide in addition to the actual predictions, a calibrated probabilistic score. Most do not. FastTree, being a form of logitboost, *does*, but averaged perceptron *does not*. (See for analogous situation, [perceptron in sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_mo

[2019-02-08 04:10] TomFinley commented on #2472
@rogancarr and @sfilipi, should be made consistent.

[2019-02-08 04:20] TomFinley commented on #2466
Also I'd point out that if you wanted just to get some text to see what was going on, you could also have exploited `mlContext.Data.SaveAsText` or suchlike. However, that is not why I am writing. You are not using `IDataView` in a great way and might benefit from knowing the better way. Consider this line.

`Microsoft.Data.DataView.ValueGetter<int> getter = cur.GetGetter<int>(0);`

That is done *i

[2019-02-08 06:17] daholste commented on #2477
Thank you, @TomFinley!
Sorry, re; communication, we were definitely already aware this was a result of the difference in calibration between learners;

Good to know that PlattCalibratorEstimator is the way to go! Thank you! Would you have any suggestions for a supported way to generate an IPredictor from an IEstimatorChain (to be able to use PlattCalibratorEstimator)? Also, do you have any plans t

[2019-02-08 08:43] sdg002 commented on #2466
@TomFinley

Thank you. I have taken your suggestions

- Getters once only
- Disposing the cursor

And amended my block of code
###
            using (Microsoft.Data.DataView.RowCursor cur = dataView.GetRowCursor(schema))
            {
                Microsoft.Data.DataView.ValueGetter<int> getter = cur.GetGetter<int>(0);
                Microsoft.Data.DataView.ValueGetter<float> getterWt = cur.Ge

[2019-02-08 08:58] sdg002 commented on #2466
Hi @Ivanidzo4ka ,

Thansk for replying. Works like a charm.
###
        [TestMethod]
        public void Iterate_StronglyTyped()
        {
            string pathFull = System.IO.Path.Combine(Util.GetProjectDir2(), _datafile);
            var mlContext = new Microsoft.ML.MLContext();
            Microsoft.Data.DataView.IDataView dataView = LoadDummy2(mlContext, pathFull);
            var schema =

[2019-02-08 08:58] #2466 closed

[2019-02-08 09:08] sdg002 commented on #2466
Hi @Ivanidzo4ka ,
Your link https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md
is exactly what I am after.  This is really good.
Please - such valuable information should be surfaced on MSDN.

[2019-02-08 10:41] nsulikowski opened #2478 "Pipeline visualization please"
Can you add a way to generate a DOT graph of a pipeline, like [https://docs.microsoft.com/en-us/NimbusML/tutorials/c_a-visualize-a-pipeline](NimbusML) ?

I tried to build it myself, but all the transformer's properties are being internalized.
Thanks

[2019-02-08 10:43] nsulikowski commented on #2454
I do see value in showing the transformer's parameters (as opposed to making them all internal)
Perhaps a generic ToJson interface?

[2019-02-08 10:44] neven10 commented on #2422
In Net Core 3 preview they are dropping some  packages.
See : https://github.com/aspnet/AspNetCore/issues/3756

"The API for these packages will still be available, and will be part of Microsoft.AspNetCore.App.
Projects which use these API should replace the `<PackageReference>` with a `<FrameworkReference>` to Microsoft.AspNetCore.App."

There is no Microsoft.Extensions.Dependency package for  Ne

[2019-02-08 11:14] ziad-akiki commented on #1993
With the latest ML.net 0.10.0 `CreateStreamingDataView` went missing (I have Microsoft.ML.Data namespace included). What's the replacement?

[2019-02-08 11:40] jwood803 commented on #1209
Would the logistic regression one be done with PR #2256? I wonder if others may be done, too. I can try to go through and see if they have XML doc examples.

[2019-02-08 11:49] PeterPann23 commented on #2407
Hi Ivan

Yes, I tried the MinMax,  option did not solve my issue and none of my values in the training data contain anything but valid floats.

[2019-02-08 12:04] justinormont commented on #2460
Last I looked, we also couldn't change the ngram/chargram lengths, which is quite odd as this is the main text transform hyperparameter which shows gains on text problems.

We should be encouraging users to modify this hyperparameter.

You can see a good chart of the sensitivity to ngram/chargran lengths in https://github.com/dotnet/machinelearning/issues/2305:

[2019-02-08 13:51] sdg002 opened #2479 "How to normalize 2 columns simultaneously?"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  .NET 4.6

### Issue

- **What did you do?**
I have loaded sample data from a text file and I am trying to normalize and print the normalized data
- **What happened?**
The max normalized value was 1.0 which is expected. The min normalized value should have been 0 or -1 but it was another positive n

[2019-02-08 14:02] mareklinka opened #2480 "Microsoft.ML.InternalCodeAnalyzer should use Microsoft.CodeAnalysis.Testing for harness setup"
As discussed in [in this PR](https://github.com/dotnet/machinelearning/pull/2434#discussion_r254508809), the tests for the internal code analyzer should make use of the facilities provided in `Microsoft.CodeAnalysis.Testing`.

That would make the test project more best-practice compliant and easier to maintain.

[2019-02-08 14:09] sdg002 commented on #2479
Similar observation with IRIS data. I have attached the outcome of normalization. I was surprised to find that the smallest value is **0.08**. I was expecting  **0.00** . Quite possible that I am not on the right track. Please advise.
[IrisiNormalized.txt](https://github.com/dotnet/machinelearning/files/2845394/IrisiNormalized.txt)

###
        [TestMethod]
        public void NormalizeIrisData()

[2019-02-08 14:52] codemzs commented on #2468
Have you confirmed this is not used by internal repo? If it is we should make sure we move these files there after they are removed from here.

[2019-02-08 15:15] sdg002 commented on #2479
I wasn't aware about the significance of the parameter **fixZero** . Setting to **False** does a neat 0-1 normalization.

regards

[2019-02-08 16:13] sfilipi commented on #1209
Hi @jwood803, yes you took care of LogisticRegression with #2256. Thanks!
This workitem is to complete everything: XML doc over the extensions, estimators etc.

If you have bandwidth, and are looking for something to do, you can contribute to the samples, and replicate the work you did on Logistic Regression for #2256 for the other binary trainers:

[LightGBM](https://github.com/dotnet/machinelear

[2019-02-08 16:21] sfilipi commented on #2466
@sdg002 slowly getting there:)
https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/inspect-intermediate-data-ml-net

[2019-02-08 16:27] eerhardt commented on #2422
It shouldn't be an issue because I don't think we should use the `Microsoft.Extensions.DependencyInjection` library to remove ML.NET's dependency on MEF.

But this information gives that decision even more weight.

[2019-02-08 17:17] Ivanidzo4ka commented on #2479
to answer on your question in header of the issue -> Concat them!

[2019-02-08 17:22] TomFinley commented on #2477
The relevant issue for that `MLContext` specifically is #1871, an issue opened and assigned to @sfilipi. If you have thoughts on what would be useful there, that would be a great place to provide that feedback, since that work is not complete. (Similar with other issues.) As you've noted, and as also noted in #1871, the current estimator is not conforming to the new "idioms." (Not working via `MLC

[2019-02-08 17:32] eerhardt commented on #2465
YAY! The first value of these tests is now realized.  😄

[2019-02-08 18:20] abgoswam commented on #2471
@codemzs . Following up on this . Could you kindly verify if this is somehow related to the time series work you are doing ?

@yaeldekel . I notice there is a [AnomalyDetectionEvaluator.cs](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Evaluators/AnomalyDetectionEvaluator.cs).   However, my understanding is that we did not expose metrics for them  (inside  Evaluators/

[2019-02-08 18:32] wschin opened #2482 "TreeEnsembleFeaturizer is not a Transformer yet"
[TreeEnsembleFeaturizer](
https://github.com/dotnet/machinelearning/blob/6b1a0d337f74274509cfd439974dca2305a6bfbb/src/Microsoft.ML.FastTree/TreeEnsembleFeaturizer.cs#L44) is a very useful tool in many applications. Do we have a plan to make it publicly available?

cc @shauheen, @Ivanidzo4ka, @TomFinley, @yaeldekel.

[2019-02-08 18:35] TomFinley commented on #2473
I think so. What is our intent with this API? I see a couple problems:

Usage of `IHostEnvironment` which you have identified. One thing that I'd like to explore here is whether `IHostEnvironment` is really necessary *at all*? I understand the infrastructure underlying it thinks it needs it, but maybe it kind of doesn't. In which case it could continue to be extension method over `IDataView`, just

[2019-02-08 18:39] CESARDELATORRE commented on #2422
@neven10 - Not sure if I misunderstood you, but `microsoft.extensions.dependencyinjection` will continue being in a separate package in .NET Core 3.0 timeframe, so you can reference and use it from ASP.NET Core, any .NET Core app or .NET Framework:

See it confirmed here by the team:

https://github.com/aspnet/AspNetCore/issues/3756#issuecomment-461891503

That doesn't mean that we'll use it or no

[2019-02-08 18:41] TomFinley commented on #2473
Also, I think this extension like other accessors on columns should take the `Schema.Column`.

[2019-02-08 18:51] TomFinley commented on #2482
This strikes me as being quite conceptually similar to #2465 -- that is, in both cases, we have a "default" way of scoring given a trained model, but we want to expose a way in which to reconfigure how that scoring happens... in that other issue, we want to set a different threshold, in this issue, we want to enable more parameters.

One place we "solve" this "changed outputs" problem for models i

[2019-02-08 18:52] TomFinley commented on #2482
I might however identify this as work that could easily be completed post v1, since it represents new functionality, and as useful as it may be, we did after all at least internally survive *years* without having it, so maybe a month or two without it for v1 won't kill us? 😄

[2019-02-08 18:54] justinormont commented on #1651
**TLDR;** For the moment, I'd be quite happy to have purely positive / purely negative for all slots.

---

I agree w/ @TomFinley. I have [similar concerns](https://github.com/dotnet/machinelearning/pull/2330#discussion_r252441134) about the usability.

I would also like the style similar to what I think @TomFinley  is purposing, the Categorical Features style, is this similar to the second style

[2019-02-08 19:01] TomFinley commented on #2479
It also potentially densifies, so be careful.

[2019-02-08 19:13] #1307 closed

[2019-02-08 19:13] #2378 closed

[2019-02-08 19:15] neven10 commented on #2422
@CESARDELATORRE
Nevermind. I was looking at documentation for 3.0 .
Didn't even bother  to look on Nuget.
It's there Microsoft.Extensions.DependencyInjection -Version 3.0.0-preview.19074.2
Sorry.

[2019-02-08 19:34] daholste commented on #2477
Awesome, thanks a lot @TomFinley! Going to close out this issue as a duplicate of https://github.com/dotnet/machinelearning/issues/1871

[2019-02-08 19:35] #2477 closed

[2019-02-08 19:37] daholste commented on #2477
@TomFinley -- also, need to search through existing issues before filing new ones and consuming your time. Thanks for the really helpful responses. Will try to do this better in the future

[2019-02-08 20:06] Ivanidzo4ka commented on #2473
My intent is to have consistency in across our APIs.
Main reason why I wrote this issue is this https://github.com/dotnet/machinelearning/issues/2466 issue. It feels weird to have one way to extract data be part of `mlContext` and another is part of `IDataView`. Also I remember we had "mlcontext to rule them all" issue, but I can't find it anymore.

From what I see in code `IHostEnvironment` used

[2019-02-08 20:47] rogancarr commented on #2482
For thresholds, that's in our core "I cans" for v1.

If we can't guarantee that we'll get to it, maybe we can add a "dearly hoped for v1 features" stretch goals.

[2019-02-08 23:21] #2276 closed

[2019-02-08 23:28] nsulikowski opened #2484 "How about a Preview for Metadata?"
something like this?
`DataDebuggerPreview Preview(this Metadata metadata, int maxRows = 100)`

[2019-02-09 00:22] rogancarr commented on #1886
Hi @fashrista ! The model takes the input format of the data that it was trained with. If you train a model with your data, it will take your same input data at score time.

You'll need to do two things:
1) Specify a training pipeline
2. Load the model and score it in your app

### Specify a training pipeline
a) Load the data
[code]
b) Define a learning pipeline
[code]
c) Save the model
[code]

##

[2019-02-09 00:54] Ivanidzo4ka commented on #1866
So conclusion is following. We don't do it for v1.0, but will explore that option post release.
I'm moving this issue to backlog.

[2019-02-09 00:56] rogancarr commented on #1866
@Ivanidzo4ka  We will need a new issue for Project 13 to re-internalize these APIs

[2019-02-09 00:58] rogancarr commented on #2484
@nsulikowski Can you give a little more detail about what you're looking for?

We currently have `IDataView.Preview(int nRows)` to preview the first N rows in a dataset. In the debugger, you can also inspect the `IDataView` objects to see their schema and metadata.

[2019-02-09 01:04] rogancarr commented on #2479
@sdg002 Yes, `FixZero` is kind of a tricky one. Super useful with sparse data, but can throw you off if you expect a strict 0-1 mapping!

[2019-02-09 03:03] #2336 closed

[2019-02-09 03:21] Ivanidzo4ka commented on #1850
Since I'm touching HAL assembly, I get to the point you guys discussing, and I want to make changes.
But I want to make sure I understand you both right.
So what I'm plan to do right now is to:

- Feature weights for OLS will return original weights for linear model.

- OLS will have GetCoefficents method which will return modified PValues as coefficents.

Does that sound fair? Or I didn't get you

[2019-02-09 05:38] rogancarr commented on #1850
hi @Ivanidzo4ka !

`FeatureWeights()` as linear model weights makes sense to me.

`GetCoefficients` probably also returns the model weights, right? I don't think we should return the modified p-values.

FeatureWeights is some sort of measure of feature importance. I kinda want to make it internal, but I think it's the only way to get feature importance for Trees currently. Let's discuss this befor

[2019-02-09 06:44] #2306 closed

[2019-02-09 09:18] sdg002 opened #2485 "CookBook sample - Could not find input column 'CategoricalOneHot'"
### System information

- **OS version/distro**:Windows 10
- **.NET Version (eg., dotnet --info)**:  4.6

### Issue

- **What did you do?**
I am trying to follow the sample code from the GitHub article
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-do-i-train-my-model-on-categorical-data
and get an understanding of how to get one-hot encoding to work
- **What

[2019-02-09 10:16] DevLob-zz opened #2486 "StochasticDualCoordinateAscent not work For Multiclass after migrate to 0.10.0"
### System information

- **OS version/distro**: W10
- **.NET Version (eg., dotnet --info)**:  4.6.1

### Issue

- **What did you do?** Migrated my code from 0.9.0 to 0.10.0
- **What happened?** StochasticDualCoordinateAscent Algorithm was working fine  for multi class and binary trainer  before move to 0.10 after updating its working only for binary and freeze on
trainingPipeline.Fit(trainingData

[2019-02-09 10:24] DevLob-zz commented on #2486
Hint My dataView Contain 250K rows

[2019-02-09 12:35] nsulikowski commented on #2484
Preview is great for debugging, but I also find myself using it outside debugging, to inspect data quickly.
It'd be nice to have the same quick access for Metadata. I know I can use the raw api to do it myself, but it takes quite a bit of code due to the getter methods. Makes sense?

[2019-02-09 16:29] #2415 closed

[2019-02-09 20:27] TomFinley commented on #2482
Sure @rogancarr. However, this issue isn't about thresholds, it's about tree featurization I think. You have a separate issue #2465 for that work. What I'm doing though, is identifying that the two might benefit from a similar approach.

[2019-02-09 21:11] Ivanidzo4ka commented on #1850
I think it shouldn't be hard to make `GetFeaturesWeights` as internal method. But it probably belongs to cleaning predictor interface and not this exact issue.
`GetFeatureWeights` for OLS would return weights of model, and if user want to have coefficients he can always access PValue which are public, and use them.

[2019-02-09 22:02] rogancarr commented on #2486
@DevLob-zz Thanks for reporting this! I'll take a look at this!

[2019-02-09 22:04] rogancarr commented on #1850
Moving `GetFeaturesWeights` internal may make it hard to get feature importance from Trees. Let me look into this on Monday.

[2019-02-09 22:08] rogancarr commented on #2484
I see what you're saying now.

@eerhardt @TomFinley Related to `IDataView` API discussion yesterday. What do you think about this?

@nsulikowski Can you give a concrete example of use? It would help to guide the discussion.

[2019-02-09 22:15] rogancarr commented on #577
Adding `need info` tag until I repro it.

[2019-02-10 00:19] rogancarr opened #2487 "Cross-Validation API for v1.0"
Hi All,

As we approach v1.0, I thought it might be nice to look at the API for cross-validation. Currently, our cross-validation API takes the inputs:

[code]

and returns an array of
[code]
with one entry for each fold.

I have a few questions:

1) Are we happy with the outputs?
I'm not overly concerned with these, but it will be hard to make this list smaller as we go.
2) Do we need to specify

[2019-02-10 00:21] rogancarr commented on #2487
For item no. 3, I suggest the following:

- Instead of `Stratification`, call it something like `Grouping` or `RetainGroups`, so `CV` would have the option `GroupingColumn` or `RetainGroupsColumn`.
- Add support for ratio-balancing "stratification" in v1.1.

[2019-02-10 00:22] rogancarr commented on #2487
@shauheen @glebuk @TomFinley What do you think?

[2019-02-10 03:57] #2458 closed

[2019-02-10 06:02] sfilipi commented on #2485
Hi @sdg002,
thanks for reporting.

I cannot see the schema of your data, but your first pipeline estimator, the OneHotEncoding, expect the schema to have a  column called "CategoricalOneHot".  Is there such a column in your dataView object?

Can you do dataView.Preview() before starting the pipeline, and inspect the names of the columns?

[2019-02-10 07:29] DevLob-zz commented on #2486
is there is info can i provide you with it , thank you for interest

best regards

[2019-02-10 07:55] sdg002 commented on #2485
Hi @sfilipi ,

Thanks for looking into this.  Here is the code snippet from the CookBook that I have been trying to run and this leads to **Could not find input column 'CategoricalOneHot'**.

Please note that I had to make a couple of lines of changes to the code snippet in the CookBook to get it to compile. (See below)

### Link to CookBook
https://github.com/dotnet/machinelearning/blob/master/do

[2019-02-10 09:32] doghappy commented on #1993
@ziad-akiki I didn't find the method **[CreateStreamingDataView](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Utilities/ComponentCreation.cs)**,  but `AsEnumerable()` doesn't exist too.

code from [ms docs](https://docs.microsoft.com/zh-cn/dotnet/machine-learning/tutorials/sentiment-analysis#predict-the-test-data-outcomes-with-the-saved-model)

[code]

[2019-02-10 10:08] Ikaer opened #2488 "ProductRecommander sample - System.AccessViolationException"
### System information

- **OS version/distro**: Win10
- **.NET Version (eg., dotnet --info)**: .Net Core 2.1

### Issue

- **What did you do?** I tried the sample Product recommander with my own sample of product IDs. I first try it with the provided data (Amazon0302) and it works fine. Then I try a different file (which is attached).
- **What happened?** An exception is throw at ITransformer mod

[2019-02-10 11:05] justinormont commented on #2487
For `#1`:
*  I'd like to see **aggregate metrics** returned.
* Is `scoredTestData` lazy? Or cached from the metrics calculation? If cached, this reduces our scalability.

Another question:
<ol start="4"><li>Can we validate values in the `Stratification` column?<br>It's too easy for users to shoot themselves in the foot. -- also in v1.1</li></ol>

[2019-02-10 11:48] jwood803 opened #2489 "Exception on ReadFromEnumerable with NULL values data"
### System information

- **OS version/distro**:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
- **.NET Version (eg., dotnet --info)**:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-009812

### Issue
- **What did you do?**
Loaded the [wine data](https://www.kaggle.com/rajyellow46/wine-quality) into a database and read data to

[2019-02-10 11:50] justinormont commented on #2487
More details for my added `#4`...

We should emit an error/warning when the user tries to use CV w/ a `Stratification` column which includes numbers not between 0 & 1. I ran into the issue w/ a ranking dataset.

I think our current handling per datatype is:
* text : Run thru hashing, then evenly divide the hashspace [0...2<sup>hashbits</sup>] into the folds of [0...2<sup>hashbits</sup>/k), ...
* b

[2019-02-10 16:17] RobinSmits opened #2490 "How to use Options.TreeBooster.Arguments"
I currently have an ML.Net project based on version 0.10.0. As a starter into ML.Net  I'am trying to remake one of my python ML projects into ML.Net.

I'am running on Windows 10 with .NET Core 3.0.100-preview-010184.

I have a pipeline setup (and working) in the following way:

`var pipeline = mlContext.Transforms.Concatenate("Features", "Feat1", "Feat2", "Feat3")

[2019-02-10 17:56] sharwell commented on #2480
@shauheen This says assigned but I'm not sure who it's assigned to. I'm happy to work with the assignee to set up the tests and understand why things fail when they do. Some of the failure messages that appear are not at all helpful, so it's better to ask early when something fails. I'm working to update the messages for these situations but we have a long way to go.

[2019-02-10 20:00] rogancarr commented on #2486
Hi @DevLob-zz ,

I've run a multiclass classification sample, [GitHubIssueClassification](https://github.com/dotnet/samples/tree/master/machine-learning/tutorials/GitHubIssueClassification) in 0.9 and 0.10, and they get very similar times, so I don't think the problem is related to the SDCA trainer or it's API. Plus we haven't done any work on SDCA between the releases.

One thing that did change

[2019-02-10 20:20] DevLob-zz commented on #2486
![image](https://user-images.githubusercontent.com/5037612/52538963-a3951b80-2d81-11e9-89bb-7b5c86ca2b9b.png)
![image](https://user-images.githubusercontent.com/5037612/52538970-bf002680-2d81-11e9-8b07-50c8ac49b377.png)

No the code never changed between 0.9 and  0.10 and still work fine for Naive Bayes and Logistic Regression for Multi class
SDCA Still work fine for Binary Classification but seem

[2019-02-10 20:26] DevLob-zz commented on #2486
![image](https://user-images.githubusercontent.com/5037612/52539071-92004380-2d82-11e9-995e-54994eccd056.png)
the code stop and no response in this line however if code going to other case sam code just change algorithm working well
![image](https://user-images.githubusercontent.com/5037612/52539088-cc69e080-2d82-11e9-8c03-b559b468200c.png)

[2019-02-10 20:29] DevLob-zz commented on #2486
The Host is set to be null within SDCA for other Host have a value i think this is the issue but why host set to be null in this case
![image](https://user-images.githubusercontent.com/5037612/52539130-371b1c00-2d83-11e9-950e-f7855fd42644.png)

any help would be appreciated

[2019-02-10 21:25] sob3kx opened #2492 "Is custom preprocessing available?"
Hi,

I am working on productivization of Keras's VGG16 model in C#. The VGG16's weights are adapted from Caffe and demands turning image into BGR and substracting mean of channels over dataset from the channels of pixel. If my explaination is not understandable, you can see the code [here](https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py) in the fir

[2019-02-10 23:07] Ivanidzo4ka commented on #2490
[code]
We are working on our documentation to provide samples. I expect LightGBM to be covered in 0.11 release.

[2019-02-10 23:19] Ivanidzo4ka commented on #2492
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-can-i-define-my-own-transformation-of-data
It's not optimal but doable.
Regaridng BGR order, our pixel extractor right now doing ARGB order, and it's possible what till 1.0 release it will remain the same, but as workaround you can always create three transforms which would extract Blue, Green and Red channel and

[2019-02-11 02:12] Ivanidzo4ka commented on #2486
mlContext has Log event.
[code]

If we can look on this messages, it can be helpful to diagnose at what state it get stuck at least.
Do you get any success if you setup NumThreads in SDCA to 1?

We had this change https://github.com/dotnet/machinelearning/pull/2152 which can be reason why it worked in 0.9 but stopped in 0.10, but as @rogancarr mentioned it works for us on some datasets, so your ca

[2019-02-11 02:14] Ivanidzo4ka commented on #2488
Thank you for reporting this. I'll investigate this issue.

[2019-02-11 03:17] TomFinley commented on #2484
I believe metadata for schema displays well in the debugger on `DataViewSchema` objects? If it does not, then that should be added, certainly.

Regarding a more general "previewer" I am less certain. We ourselves have directly applied this API and the code behind it internally in multiple products, and in each we have the problem of how to display "previews" of the data (including metadata), and w

[2019-02-11 06:51] sfilipi commented on #2485
Hi @sdg002 ,

In version 0.9 we swapped the order of the columns for the estimators, and it loos like we missed updating this snippet of the cookbook.

The order of the arguments, is OutputColumn, InputColumn: so the colum that appears second, or at the end of the estimator parameters, should exist in the dataview.

If you swap the order
` mlContext.Transforms.Categorical.OneHotEncoding("Categoric

[2019-02-11 07:00] DevLob-zz commented on #2486
this what the logger stop at
![mlerror](https://user-images.githubusercontent.com/5037612/52549309-31512500-2ddb-11e9-8f5f-471089701b4d.png)

 Do you get any success if you setup NumThreads in SDCA to 1?
how can i set this value

 It's hard to fix problem without ability to reproduce it.
yes sure i will try to debug through The AutoTag Source
and keep you posted

best regards

[2019-02-11 07:41] sdg002 commented on #2485
Yes. It worked after changing the order. Thanks for looking into this.

[2019-02-11 08:04] DevLob-zz commented on #2486
after integrate my code with the source i can see that the code stick here
![image](https://user-images.githubusercontent.com/5037612/52551221-2cdd3a00-2de4-11e9-92a8-c4094171b757.png)

and he stick here as he get numThreads = 2 so if i can set it to 1 i think he will never stick again

[2019-02-11 08:25] DevLob-zz commented on #2486
i replace the trainer line with
 var trainner = mlContext.MulticlassClassification.Trainers.StochasticDualCoordinateAscent(new SdcaMultiClassTrainer.Options
                {  FeatureColumn = DefaultColumnNames.Features ,
                   LabelColumn = DefaultColumnNames.Label,
                    NumThreads = 1
                });

and same issue

this is my program .cs code i usesd
`using Syst

[2019-02-11 08:35] DevLob-zz commented on #2486
![image](https://user-images.githubusercontent.com/5037612/52552371-9e1eec00-2de8-11e9-872a-a65988d65d2a.png)

here seem to be deep into while loop as maxIterations variable increase while loop and still end condition match

[2019-02-11 08:39] DevLob-zz commented on #2486
maxIterations = 1,500,000

what is the best value for maxIterations can i set and not affect the accuracy

[2019-02-11 08:53] DevLob-zz commented on #2486
var trainner = mlContext.MulticlassClassification.Trainers.StochasticDualCoordinateAscent(new SdcaMultiClassTrainer.Options
            {
                FeatureColumn = DefaultColumnNames.Features,
                LabelColumn = DefaultColumnNames.Label,
                NumThreads = 1,
                MaxIterations= 1000
            });

so this solve my issue but

which MaxIterations will be reco

[2019-02-11 11:47] Hiren161 commented on #28
when I run "build.cmd" then doing some process and then getting below error at the end.

Error:
  The system cannot find the path specified.
  Commencing native build of dotnet/machinelearning

  Calling "D:\Git\ML\src\Native\\gen-buildsys-win.bat" "D:\Git\ML\src\Native\" "15 2017" x64
  CMake is a pre-requisite to build this repository but it was not found on the path. Please install CMake from h

[2019-02-11 11:55] RobinSmits commented on #2490
Thanks for your response. I've been able to modify my code based on your response. Still running some tests but it works very nice 👍

I'am looking forward to the 0.11 release and the documentation.

[2019-02-11 11:55] #2490 closed

[2019-02-11 16:25] eerhardt commented on #28
Did you do that?

Check out https://github.com/dotnet/machinelearning/blob/master/docs/building/windows-instructions.md for all the prerequisites for building the repo.

[2019-02-11 17:16] #2281 closed

[2019-02-11 17:20] sfilipi commented on #2485
Resolved with #2494

[2019-02-11 17:20] #2485 closed

[2019-02-11 17:44] CESARDELATORRE commented on #2233
Closing this one (it is already possible) in favor of this issue: https://github.com/dotnet/machinelearning/issues/2278

[2019-02-11 17:44] #2233 closed

[2019-02-11 17:51] shauheen commented on #1997
Thanks @wschin , @singlis can you please take a look and see how much work this is. We may want to postpone this for after v1.

[2019-02-11 17:52] CESARDELATORRE commented on #1154
Closing this one. It's stale related to the PiGSTy/Typed) API.

[2019-02-11 17:52] #1154 closed

[2019-02-11 17:55] shauheen commented on #1990
@yaeldekel can you propose and cost a fix?

[2019-02-11 17:58] CESARDELATORRE opened #2495 "Create sample/test on ImageLoadingEstimator for TensorFlow scoring for loading an in-memory image stream (instead of files from the drive)"
Related to [this issue](https://github.com/dotnet/machinelearning/issues/2121), we need a clear/simple sample code/test for ImageLoadingEstimator for TensorFlow scoring so it loads an in-memory image stream as input (instead image files from a drive).

I couldn't see a clear way to do it here (Mentioned by Gleb): https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/ImagesT

[2019-02-11 18:00] danmosemsft commented on #2474
Assigning to @Anipik as he is scouting this.

[2019-02-11 18:38] TomFinley commented on #2487
More specifically, perhaps, let's consider the actual signature (note that there are similar APIs for :

https://github.com/dotnet/machinelearning/blob/b863ac2458f486834a9da3ecdd5a69f51f99db73/src/Microsoft.ML.Data/TrainCatalog.cs#L514-L516

An easily fixed problem is that the transformer type is not generic on the type of transformer returned. This has a practical effect... let's imagine you feed

[2019-02-11 18:42] fwaris opened #2496 ""UnbalancedSets" not available on FastTree in v0.10"
Somehow the ability to set UnbalancedSets flag on FastTree (at least) is gone from v 0.10 API.

It was available (via a delegate) in v0.90.

[2019-02-11 19:26] Ivanidzo4ka commented on #2496
We have two constructors for trainers, one with "most important options" and one with ALL options.
we moved UnbalancedSets from "most important" constructor, but you can still access it via second constructor:
[code]

[2019-02-11 19:35] rogancarr opened #2498 "V1 Scenarios need to be covered by tests"
In issue #584, we laid out a set of scenarios that we'd like to cover for V1.0 of ML.NET. We need high-level functional tests to make sure that these work well in the 1.0 library.

Here is a list of tests that cover the scenarios. Let's use this issue as a top-level issue to track coverage of the APIs.

Category | Scenarios | Link to Test | Completed PR | Blocked by Issue
-- | -- | -- | -- | --
Da

[2019-02-11 19:36] Ivanidzo4ka commented on #2487
Considering what we are heavily investing in documentation right now. We currently putting this code in our samples.
[code]
I don't mind to go through code and clean this stuff, but first we need to agree what we need to do

Shall we have
[code]
or we prefer other options?

[2019-02-11 19:46] rogancarr opened #2499 "Create functional tests for all V1 validation scenarios"
As laid out in #2498 , we need scenarios to cover the Validation functionality we want fully supported in V1.

- Cross-validation (already covered)
- Validation

[2019-02-11 19:50] rogancarr commented on #2487
@Ivanidzo4ka Those look good to me.

[2019-02-11 19:50] jignparm opened #2500 "Enable OnnxTransform tests on Ubuntu, Disable on CentOS"
### System information

- **OS version/distro**: Ubuntu 16.04
- **.NET Version (eg., dotnet --info)**: 2.1

### Issue

OnnxTransform tests need to be activated on  new Ubuntu leg (when ready)

OnnxTransform tests need to be deactivated on  CentOS leg (glibc version is not compatible).

[2019-02-11 19:51] rogancarr commented on #2487
@TomFinley What about `Stratification`? That parameter name is super confusing for me, as this isn't usually what people mean when they say "stratification".

[2019-02-11 19:53] fwaris commented on #2496
got it. Thanks!

[2019-02-11 19:53] #2496 closed

[2019-02-11 19:55] rogancarr opened #2501 "Remove value-tuples from the public surface of the API"
The public surface of the API contains value-tuples, which present a few problems:
- We can't change the data we return in future releases (e.g. add functionality)
- They don't play well with F#
- Support in VS isn't great

These occur are in at least
- `CrossValidation` (e.g. for each task)
- `TrainTestSplit`: (e.g. for each task)

We should make sure that no value-tuples are returned and that th

[2019-02-11 20:47] #1220 closed

[2019-02-11 20:55] rogancarr opened #2502 "Validation training isn't supported by the new API"
I cannot find a way to train with a validation set in the new API, and I think there is some confusion as to how this would work, were it possible.

Take this example:

[code]

This example uses `FastTree`, but the same problem exists for `GAM` and `FFM`, our other validation-set trainers: There is nowhere to specify a validation set.

A second problem exists, namely: If we were to specify a valid

[2019-02-11 21:02] Ivanidzo4ka commented on #2502
`mlContext.Regression.Trainers.FastTree(numTrees: 2).Train(trainData, preprocessedValidData)`

[2019-02-11 21:05] TomFinley commented on #2502
Why `Train`, not `Fit`? This would be more consistent, make them easier to find, etc.?

[2019-02-11 21:11] Ivanidzo4ka commented on #2502
Sure. All I wanted to say, it's possible, it just can't be part of IEstimatorChain, it should be separate call on trainer itself.

[2019-02-11 21:15] Ivanidzo4ka commented on #2489
You are right, it's related to nullable class. This cryptic message comes from here:
https://github.com/dotnet/machinelearning/blob/8444a5a2a4c6b162c35b98cbff95983db3d676c2/src/Microsoft.ML.Data/DataView/InternalSchemaDefinition.cs#L191
where we don't know how to map Nullable<float> to internal type.

@TomFinley  I think we discussed that long time ago, and decided what user should handle that cas

[2019-02-11 21:55] rogancarr commented on #2502
@Ivanidzo4ka @TomFinley Ah, I thought I was missing something &mdash; thanks for pointing it out.

New question: How do I save my pipeline out for scoring now that it's in different pieces?
- The featurization pipeline
- The training pipeline

And what do we do if this is just one part of a larger pipeline?

Do I then have to stitch it together by hand before I can save it? (If this is possible?)

[2019-02-11 22:25] sob3kx commented on #2492
Thanks,
the channels processing part seems to be doing good work, although I would probably need more "combine" kind of function, than concatenate. Concatenate will take 3 columns and concatenate them in [a, b, c] order, while for image classification you need a[0], b[0], c[0], a[1], b[1], c[1] ...

I am going to try to find out how to combine columns in such way tommorow and report back.

[2019-02-11 22:28] rogancarr commented on #2502
To answer my own question, we can do this programmatically:

[code]

I think this is probably okay for a V1.0 release, but it would be nicer to have a formulation of a training pipeline as a DAG, where we can have multiple inputs (e.g. one or more training sets, validation sets, etc.).

[2019-02-11 22:29] #2502 closed

[2019-02-11 23:07] rogancarr opened #2508 "Create functional tests for all V1 Data I/O scenarios"
As laid out in #2498 , we need scenarios to cover the Data Sources functionality we want fully supported in V1.

We need to be able to read and write from
- IEnumerable
- Delimited files
- Binary (.idv) files

[2019-02-12 00:53] Ivanidzo4ka commented on #2488
If you look into sample all across it we use magic number 262111. This number is basically maximum ID +1 you have in your file. Everything above that number would be ignored.
You can put 375092 for your sample and it will work.

But that's not excuse for us to throw exception.
@wschin  I can see how matrix factorization throw exception on https://github.com/cjlin1/libmf/blob/dac39ab92d61b54806fbb2

[2019-02-12 01:59] nsulikowski commented on #2484
I guess I didn't realized that metadata doesn't have a specific format. Preview might not necessarily make sense. Thanks for the clarification

[2019-02-12 04:00] rogancarr commented on #2484
Thanks for starting the conversation @nsulikowski ! It's always good to think through these things, especially as we get ready for the 1.0 of these APIs. I'll mark as closed, but feel free to re-open if you have any more thoughts on this.

[2019-02-12 04:00] #2484 closed

[2019-02-12 04:00] Ikaer commented on #2488
Thanks to have check it out 👍 . Really nice of you.

Just a last question, I've provided a fix sample, so I can determine this maximum ID + 1 and set the KeyCount. But ultimately, I would like to provide a dynamic sample, so I can still determine this maximum ID + 1, and I can through code set it on this line:
![image](https://user-images.githubusercontent.com/7936075/52610105-ffde6500-2e7f-11e9-9

[2019-02-12 04:20] Ivanidzo4ka commented on #2468
They are used, but I don't see huge issues in restoring this files internally.
I'm closing issue, since files and catalog no longer part of this repository.

[2019-02-12 04:20] #2468 closed

[2019-02-12 05:17] danmosemsft commented on #2099
cc @adamsitnik in case he is interested.

[2019-02-12 05:24] rogancarr opened #2512 "SaveAsText documentation doesn't address scope of separator argument"
`SaveAsText` in the `Data` catalog has a `separator` parameter, which is specified as a `char`. However, this throws an `ArgumentOutOfRangeException` if the `separator` is not a "space, tab, comma, semicolon, or bar".

Currently, the only way to discover this delimiter limitation is to try and fail.

We have a few options. We could allow any character to be used as a delimiter, we could add docume

[2019-02-12 10:01] vivid216 opened #2513 "Load tensorflow model created by python error while 'Visual Studio Tools for AI' well"
### System information

- **OS version/distro**:
    windows 10
    ml.net v0.10.0

- **.NET Version (eg., dotnet --info)**:
  dotcore v2.1

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**

### Source code / logs

I have a tensorflow model, when I use Visual Studio Tools for AI, it auto generator code like this

`

    private static List<long> serving_defaultFeat

[2019-02-12 17:32] JRAlexander opened #2514 "General Questions/observations"
All, I've cross posted [this](https://github.com/dotnet/docs/issues/10150) from dotnet/docs. Any insight or feedback you could give would be appreciated!  CC: @AlexSapple, @kkho (orginal posters)
-----
Hi,

I've started playing with ML.net and made a slightly modified version of [the taxi fare tutorial](https://docs.microsoft.com/en-gb/dotnet/machine-learning/tutorials/taxi-fare) to suit data I ha

[2019-02-12 17:49] Anipik commented on #2474
@eerhardt this is the sample code for the monoCI leg https://github.com/Anipik/machinelearning/commit/5579c80e8b954c34f55440088449157fd5d327c6

[2019-02-12 18:00] shauheen commented on #1768
@wschin can we close this issue and track this with #1209 instead?

[2019-02-12 18:02] TomFinley commented on #1871
It seems to me that these when fit, given that they're parameterized with model parameters, should be producing a model with `CalibratedModelParametersBase`, with the sub-model being the input model. I do not see that the estimators currently are doing this. Instead what I see is that.

I am at least confident we should not have *two* mechanisms for doing this. Right now we have two, and I'm not s

[2019-02-12 18:47] danmosemsft commented on #2474
@eerhardt with respect to adding this to CI - as an alternative, perhaps we could do it in a rolling build run, that would not block PR's? We do need some kind of regular validation beyond @Anipik 's machine, or in my experience things break.

[2019-02-12 18:56] eerhardt commented on #2474
IMO that would actually be worse because then it would get broken, and no one would notice or fix it.

If you feel this is a `need`, then I have no objection to adding it in the CI. My questioning is whether this is a `need` or not.

[2019-02-12 19:03] TomFinley commented on #2502
We already have a DAG. You have variables with values you can assign, pass those variables into methods, and so forth. The good news is, it's actually a lot more powerful than a DAG... you cans have loops, write your own classes to encapsulate functionality... 😄

Seriously, the fact that you answered your own question with the conclusion being that you had to remember you were operating in C# and

[2019-02-12 19:43] TomFinley opened #2515 "Calibrator estimators as successor to ICalibratorTrainer"
One of the legacy interfaces we have is the calibrator trainer.

https://github.com/dotnet/machinelearning/blob/f269adcd30a33feeb969c17c2a9f9db235113cb1/src/Microsoft.ML.Data/Prediction/Calibrator.cs#L95

This interface is unsuitable to being a public class as part of the `IEstimator`/`ITransformer` idioms, being more of implementation interface for the infrastructure of the calibrators. So we don

[2019-02-12 21:53] #2501 closed

[2019-02-12 23:36] #1995 closed

[2019-02-13 00:09] Ivanidzo4ka opened #2519 "OnlineLinear trainer InitialWeights option is not user friendly"
[code]
It need to be replaced with two fields Bias and Weights and they should be float and array of floats instead of just string

[2019-02-13 00:20] rogancarr opened #2520 "FastTree EarlyStoppingRule definition is inconsistent with API"
In `FastTree`, the `EarlyStoppingRule` is defined as
[code]

This can be specified like so:
[code]

This exposes the `IComponentFactory` way of doing things in the public API, which seems to be inconsistent with the public API. One suggestion is to use an `enum` over the existing options.

That said, this does support custom early stopping methods through implementing  `IEarlyStoppingCriterionFact

[2019-02-13 00:24] rogancarr opened #2521 "FastTree EarlyStoppingMetric is an `int` but only accepts specific values"
In the current `Options` for `FastTree` (and `GAMs`), `EarlyStoppingMetric` is an `int`, but only specific values are accepted (e.g. 1 or 2 for regression, 1 or 3 for ranking).

It would be much cleaner if this was an enum.

[2019-02-13 00:25] TomFinley commented on #2487
Stratification as you point out is a bad name. Indeed what we do is somewhat the opposite of stratification, in a way. The suggestion of "group" though by itself is not the best, since we already use that to identify actual groups.

So what we're trying to do with this is identify sets of items where, if they were to be split into the training and test set, would represent a form of label leakage.

[2019-02-13 00:36] shmoradims opened #2522 "Docs and samples for the API reference site (P0 & P1 Trainers)"
# List of trainers per catalog

## BinaryClassification.Trainers

BinaryClassification Trainers | Category | Priority | Docs (1st pass) | Docs (2nd pass) | Samples (1st   pass) | Samples (2nd   pass)
-- | -- | -- | -- | -- | -- | --
AveragedPerceptron | Linear | 0 | Shahab #2517 | Done Shahab #3310  | Shahab #2517 |  Artidoro #3311 |
LogisticRegression | Linear | 0 | Wei-Sheng #3385  | Done Wei-Sh

[2019-02-13 00:38] shmoradims commented on #1209
I moved the trainers to a separate issue: #2522

[2019-02-13 01:02] abgoswam opened #2523 "Registering subhosts when creating new catalog entries advances the pseudo random number generator"
For creating a new catalog entry in MLContext, the existing pattern is to register subhosts i.e. create a new Host out of the environment. This advances the pseudo random number generator.

https://github.com/dotnet/machinelearning/blob/5c442a96edc3ac7a03bc10ef668310647f16db9a/src/Microsoft.ML.Data/TrainCatalog.cs#L195-L200

This means that if we add a new catalog entry in MLContext, the baseline