[2020-02-23 16:13] NVentimiglia commented on #4879
Was able to get the training to complete by increasing my training time to 90.

Leaving issue open because this solution nor the issue was present in the console, as stated.

[2020-02-23 18:29] actopozipc commented on #4871
Its available at my [github](https://github.com/actopozipc/Telluz/tree/instabil), everything ML.NET related in the class ML.cs. I can also provide the saved zip if necessary.
I tried Netron since it provides an experimental ML.NET support, but the visualization is barely accurate and doesnt provide the information I was looking for.
If it is possible to extract the network-information from propert

[2020-02-23 20:07] NVentimiglia opened #4880 "ML.NET Model Builder Feedback"
I have been trying the ML.NET Model Builder Visual Studio Marketplace extension. I like it very much as I am able to jump into ML.NET and gain an understanding of the many moving parts with minimal effort. That said I have a few question.

### Goal
My goal is to allow for the evaluation of text messages. I would like to score the message using multiple categorization and binary sentiment sets.  Fo

[2020-02-24 14:20] Benknightdark commented on #4868
@gvashishtha , I change the ml.net version to 14.0, and  resolved my problem. Thanks

[2020-02-24 17:09] gvashishtha commented on #4871
Looks like you are using SDCA trainer, which is ONNX exportable. Try using [the convertToOnnx method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.onnxexportextensions.converttoonnx?view=ml-dotnet-preview) to export it.

[2020-02-24 19:14] antoniovs1029 commented on #4868
Just out of curiosity, @Benknightdark , what version where you using before?

[2020-02-24 20:58] mathias-brandewinder commented on #4132
I assume this issue refers to `LoadFromTextFile` silently converting missing/blank values in a CSV file to `0`. It really doesn't seem like a good default choice, I was very surprised to observe that behavior, and only caught it by chance.

Besides modifying the source data, replacing `,,` with `,?,` at the source, is there a clean way to address that issue and read `,,` as `NaN`?

[2020-02-24 22:11] NVentimiglia commented on #4880
- Watched this video https://www.youtube.com/watch?v=pxUzw6JyqcM
- I dont want to hand write the model because there is allot of fine tuning (hyper parameters).
- I dont want to share models across multiple data sets, the two are tightly coupled.
-  The name of the project  is solved by using ML.NET CLI

[2020-02-24 22:11] #4880 closed

[2020-02-25 00:56] Benknightdark commented on #4868
@antoniovs1029  , I use 1.5.0-preview first

[2020-02-25 18:12] gvashishtha opened #4886 "Remove reference to "Future" plans in this doc"
https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-cli#what-is-the-mlnet-command-line-interface-cli

The last bullet of the section above mentions "Future" plans, which is confusing for customers.

[2020-02-26 16:16] srqdev opened #4892 "AveragedPerceptron failure when used as a multiclass classifier with only one prediction specified in the input file"
When evaluating a model (MulticlassClassification.Evaluate) with testing data against a model created using the AveragedPerceptronTrainer in a multiclass scenario I get the failure shown below. This only occurs when the input data has a single prediction class and not multiple prediction classes.

_'Schema mismatch for score column 'Score': expected vector of two or more items of type Single, got

[2020-02-26 20:54] malterman opened #4894 "how to add this option to LightGBM?"
Is there a reference for how to add options (like below) to: mlContext.BinaryClassification.Trainers.LightGBM(...  ?

            var options = new LightGbmBinaryTrainer.Options
            {
                NumberOfThreads = 4,
                UnbalancedSets = true,
                EvaluationMetric = LightGbmBinaryTrainer.Options.EvaluateMetricType.AreaUnderCurve
            };

---
#### Document

[2020-02-26 22:39] GKrivosheev-rms opened #4895 "Please Expose ParquetDataLoader add implement ParquetWriter"
Parquet is a popular data format in the industry.  It is used in ScikitLearn, Spark and a many other ML and big-data related software.   Currently ParquetReader is an internal class that is not exposed to end users.
Feature Request:
- Please provide ParquetReader to ML.NET users
- Please implement ParquetWriter to ML.NET users.
- Update Parquet.NET used by the framework to the latest as it offers

[2020-02-26 22:49] najeeb-kazmi commented on #4894
@malterman here are samples for using options with LightGbm for [binary](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/BinaryClassification/LightGbmWithOptions.cs) and [multiclass](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/LightGbmWithOptions.cs) classi

[2020-02-26 22:49] #4894 closed

[2020-02-27 00:04] ArrowRaider commented on #3775
You have to put the register code on the loading side too?  That is terrible.  How are we supposed to do that when using a PredictionEnginePool?

services.AddPredictionEnginePool<Input, Output>().FromFile("whatever.zip", false);

[2020-02-27 00:22] yaeldekel commented on #4895
Hi @GKrivosheev-rms , thanks for the suggestion :).

[2020-02-27 00:49] najeeb-kazmi opened #4898 "What is the exact behavior of CreateTextLoader<TInput> when dataSample is given?"
We have this overload for `CreateTextLoader<TInput>`, where the schema is defined in `TInput`.
https://github.com/dotnet/machinelearning/blob/c3d15927522ef9645dd335d9375fda15a2aaab34/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderSaverCatalog.cs#L90-L98

The `dataSample` argument is meant to be used to infer schema. Since `TInput` must contain at least one field, there is always at least one co

[2020-02-27 18:44] antoniovs1029 commented on #4868
Hi, I am still looking into this. It should have worked with 1.5.0-preview just as well.

What I've noticed so far, is that previously you tried to use the following:
[code]

If I, instead, use the most recent nugets for both ML.NET and ML.NET's Recommender, I.e. the following:
[code]

Then the exception is gone, and it works as expected.

I am still not sure why is this the case, and if this shou

[2020-02-27 19:57] yaeldekel commented on #4898
The data sample is also used here: https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs#L1191
[code]
It is used to get slot names for the vector columns in case `hasHeader` is specified to be true.

[2020-02-27 21:11] najeeb-kazmi commented on #4898
@yaeldekel must the `dataSample` have the schema in the header for this to work? E.g.

#@ TextLoader{
#@   sep=tab
#@   col=Features:R4:0-5
#@ }

[2020-02-27 21:41] yaeldekel commented on #4898
No. The columns are taken either from the `TInput` class or from the `Options` if using the non-generic overload. The other arguments (such as the separator) are taken from the arguments to `CreateTextLoader`. The data sample is used for inferring the columns only if there are no columns specified, and I think even then it will work even when there is no schema in the header, by creating a default

[2020-02-27 22:04] jdahan91 opened #4901 "Metadata KeyValues does not exist"
Choosing image classification, i'm trying to train a folder with three subfolders each subfolder has one image.

But I don't understand what's the problem that gives me this error. I tried including a .tsv files but still doesn't help.

[2020-02-27 22:19] najeeb-kazmi commented on #4898
Yes, if no schema is present in the header, it will add col=Label:R4:0 col=Features:R4:1-*. If some features are text, they will be loaded as missing values.

For this particular overload, you are right, the columns are inferred from `TInput`, but for other overloads, if no columns are specified, either the schema is parsed from the header of the `dataSample` if present, or it defaults to first co

[2020-02-28 00:40] antoniovs1029 commented on #4901
Can you please share your code and actual image dataset to reproduce this problem? Thanks.

[2020-02-28 01:00] konabuta commented on #4585
@ganik  My customer also encountered this issue.  Any update on this ?

[2020-02-28 12:27] jdahan91 commented on #4901
Here's a link to download the folder which contains the iamges and dataset.

https://filebin.net/bppqlq1ejvgsgx2g/Images.rar?t=gmo509u6

[2020-02-28 17:54] artemiusgreat opened #4903 "Dynamic number of features for the trainer / schema"
### System information

- **OS version/distro**: Windows 10 Pro x64
- **.NET Version (eg., dotnet --info)**: .NET Core 3.0
- **ML.NET Version**: 1.5.0-preview

### Issue
Trying to use variable number of properties (dynamic schema) for the trainer using dataView.SelectColumns. This creates correct trainer with only 2 features, but prediction engine still requires to specify original input model and

[2020-02-28 18:24] yaeldekel commented on #4898
If the `dataSample` has the columns defined in it, it also has the rest of the `TextLoader` options in it (such as the separator, and whether or not there is a header). Is this what you mean by "any other schema needed"?

[2020-02-28 18:51] najeeb-kazmi commented on #4898
I mean let's say that the schema is NOT `col=Label:R4:0 col=Features:R4:1-*` but something like `col=Label:R4:0 col=Categories:TX:1-3 col=Features:R4:4-*`. Then the `dataSample` MUST contain this information in the header. If not, the loaded data has missing values. This means that if the user provides a data sample, that sample must be one that has previously been loaded with the right schema, an

[2020-02-28 22:21] ganik commented on #4892
@srqdev Please share your model and source code of evaluation so we could repro it.

[2020-02-28 22:22] ganik commented on #4901
@jdahan91 Can you share a source code that gives you the error.

[2020-02-28 22:24] ganik commented on #4903
I ll take a look.

[2020-02-28 22:25] jdahan91 commented on #4901
There's no source code, I'm using the gui tool to train.

[2020-02-29 22:19] jdahan91 commented on #4901
Did anyone examine the archive i attached and tried to reproduce the error?

[2020-03-01 06:06] ganik commented on #4901
@jdahan91 can you then attacjh few screenshots of the tool so we can see what choices you are selecting there. I have downloaded your rar. thx

[2020-03-01 09:43] moreginger opened #4905 "LightGbm trainer fails in linux container"
### System information

- mcr.microsoft.com/dotnet/core/aspnet:3.1
- Version: 3.1.1

### Issue

- Created application using AutoML. LightGbm trainer was selected.
- Dockerized a webapp using mcr.microsoft.com/dotnet/core/aspnet:3.1 as base.
- Expected: It trains.
- Actual: Unable to load shared library 'lib_lightgbm' (see below).

As per https://github.com/dotnet/machinelearning/issues/4600 it app

[2020-03-01 11:22] schletz opened #5664 "[DataFrame] Hard coded Encoding.UTF8 in LoadCsv()"
Please define an overload of LoadCsv which accepts a StreamReader (instead of a Stream) as parameter.

[2020-03-01 14:04] jdahan91 commented on #4901
https://i.ibb.co/12NLyL9/Untitled.png

[2020-03-01 23:34] artemiusgreat commented on #4903
Probably, there is some issue with my data.
After creating a simplified example, I'm getting expected results...
[code]

[2020-03-02 08:42] artemiusgreat commented on #4903
Now, shocking news :)
Tried 4 different architectures / model types, including combinations of them, e.g. create model using FasTreeOva and test using LightGbmMulti.

- FastTreeOva
- LightGbmMulti
- SdcaMaximumEntropy
- AveragedPerceptronOva

Training set = 3 records. Test set = item #2 from the training

**Results**

Model created and trained with AveragedPerceptronOva always produces correct res

[2020-03-02 17:42] francescomazzurco opened #4906 "AutoML Regression Experiment fails after 67iterations"
Hi,

When running a Regression Experiment, AutoML sistematically fails after 67 iterations, raising the Exception "All instances skipped due to missing features". By looking at other issues, I got the idea that the SmacSweeper could be the cause. This is also suggested by the stack strace:

[code]
However, compared to the other issues, I'm running a console application, I'm loading data from datab

[2020-03-02 18:42] mstfbl commented on #4906
Hi @francescomazzurco , please send along a .csv example with which we can reproduce this issue.

[2020-03-02 19:44] ganik commented on #4901
@jdahan91  Pls provide version of the ModelBuilder, version of your Visual Studio, and full sequence of screenshots that lead to the error (with the one that includes error message )

[2020-03-02 19:58] jdahan91 commented on #4901
VS 16.4.5
ML.NET Model Builder (Preview) 16.0.1911.1103

[2020-03-02 20:04] jdahan91 commented on #4901
I can't provide a seq of ss of the procedure but what I can is explain it:

- Inside the model builder --> image classification --> choose folder path (attached archive) --> Train --> Error.

[2020-03-02 20:19] jdahan91 commented on #4901
Trying to build a model on a new console project i get this error

I'm trying to update the model builder to the latest but i can't.

[2020-03-02 23:33] antoniovs1029 commented on #4868
Hi, @Benknightdark .

So, it seems to me that the only problem here was indeed that you tried to combine `Microsoft.ML` version `1.5.0-preview` with `Microsoft.ML.Recommender` version `0.16`, and those nugets belong to different releases. Since they were different, I'd imagine that when loading the model, they actually registered different versions of the constructor/create methods (one version ol

[2020-03-02 23:33] #4868 closed

[2020-03-03 08:42] francescomazzurco commented on #4906
Hi @mstfbl, I'm now creating a small working example along with the .csv, but I am encountering difficulties in reproducing the issue. I'll dig into it and give you updates by the end of the day

[2020-03-03 09:57] francescomazzurco commented on #4906
Ok, I found the problem. I could reproduce the exception only on one of our computers, so I finally realised that the issue is related to culture, even when data is loaded from memory and there is no parsing. In the project I attached, data is parsed and loaded using invariant culture. Then, a non-english culture is set just before running the experiment.
[code]

The exception is thrown after the

[2020-03-03 10:30] yaeldekel opened #4909 "AppendCacheCheckpoint is ignored at the beginning of the pipeline"
When an empty `EstimatorChain` is created, and `AppendCacheCheckpoint` is called before adding any estimators, then no caching occurs.
The expected behavior should be to either cache the data before fitting the first estimator in the chain, or disallow calling `AppendCacheCheckpoint` on empty chains, so that the user knows to cache the data explicitly before fitting. (I think the first solution is

[2020-03-03 12:05] ddobric opened #4910 "Poor accuracy with non-US regional settings"
### System information

- **OS Windows 10**:
- **.NET Core 2.2**:

### Issue
Getting poor accuracy running the training code on a system with non-US regional settings. The issue is number format. After replacing ',' as decimal symbol to '.' all works fine.

Accuracy with ',' decimal symbol:

![image](https://user-images.githubusercontent.com/1756871/75774084-754cfa00-5d4f-11ea-929e-891b85175b34.pn

[2020-03-03 12:33] justinormont commented on #4906
@francescomazzurco: This should be fixed in the next release ([v1.5.0-preview2](https://github.com/dotnet/machinelearning/pull/4787/files)). There was a fix added in January to use culture invariant when sweeping parameter values -- https://github.com/dotnet/machinelearning/pull/4635/.

You can test against the nightly NuGet feed by adding `https://pkgs.dev.azure.com/dnceng/public/_packaging/Machi

[2020-03-03 13:46] francescomazzurco commented on #4906
Hi @justinormont, thanks for your reply.
I tested against the nightly build, no exception is thrown anymore, however the regression experiment hangs forever and does not complete the 68th training. Nothing happens even after `MaxExperimentTimeInSeconds` (I expected the experiment to abort after such time).
Interestingly, this behaviour only occurs when setting a non-english culture, so it seems th

[2020-03-03 17:52] justinormont commented on #4906
@LittleLittleCloud: Do you have time to investigate?

[2020-03-03 18:16] leblancdavid opened #4911 "Implementing a custom `IEstimator` and `ITransformer`"
I am currently working on a custom algorithm to transform my data for my application. I would like to include this transform into my pipeline so I can save and load it along with the model.

I started out by implementing the `IEstimator<ITransformer>` and `ITransformer` interfaces. The `Fit(...)` and `Transform(...)` methods were fairly easy to implement but I'm struggling with how these models ca

[2020-03-03 18:19] mstfbl commented on #4910
Hi Damir,

You bring up a very good edge case we shouldn't forget, which is that decimal points are represented with commas in a lot of regions outside the US, (For example, 3.5 * 10^1 is represented as 3.5 in the US and 3,5 in Europe, and 3.5 * 10^5 is represented as 350,000 in the US and 350.000 in Europe). We will look into this, thank you!

[2020-03-03 18:35] justinormont commented on #4910
We may want to setup a CI leg which tests another culture. Perhaps "de-DE" or "ru-RU".

[2020-03-03 18:56] nighotatul opened #4912 "how we show bins associated with numeric feature so end user can easily identify?"
@yaeldekel,@eerhardt,@najeeb-kazmi,@justinormont,@CESARDELATORRE

thanks for giving example for each feature weights.

with the references below link with subject lines:-
how we show permutation slot associated with feature so end user easily identify?
[https://github.com/dotnet/machinelearning/issues/4739](url)

![Picture1](https://user-images.githubusercontent.com/37444019/75969231-a286dd00-5ef4

[2020-03-03 19:02] andrewkittredge commented on #3764
This issue terrifies my boss and makes him afraid to use this package.   We will not be on .net core anytime soon.

[2020-03-03 21:38] LittleLittleCloud commented on #4906
I will take a look

[2020-03-04 01:32] crvkumar opened #4914 "WeakReference<IHost> memory leak?"
### System information

- **ML.NET Version**: 1.4.0

### Issue

- **What did you do?**

1. Created a pipeline of ImageLoadingEstimator + ImageResizingEstimator + ImagePixelExtractingEstimator + OnnxScoringEstimator.
2. Create a ITransformer object by fitting the pipeline.
3. Performed ITransformer.Transform multiple times.

PS: Creating a PredictionEngine and performing PredictionEngine.Predict se

[2020-03-04 06:00] mstfbl commented on #4914
Hey @crvkumar , thank you for letting us know about this possible memory leak. Could you please share with us your code with which you observed this behavior? I will run your code and see if I see an accumulation of WeakReference objects as well as its impact on memory.

[2020-03-04 07:10] yaeldekel commented on #4911
Hi @leblancdavid ,
It seems that you cannot implement `ITransformer` for the reason you mentioned (because all the properties/methods on `ModelSaveContext` are internal). There are also a few abstract base classes implementing `ITransformer`, but they all have private protected abstract methods, so you cannot implement them either.

You can implement it in one of the projects that is "friends" wit

[2020-03-04 10:08] nighotatul opened #4915 "how we can show confusion matrix of Permutation Feature Importance so end user easily identify?"
@yaeldekel,@eerhardt,@najeeb-kazmi,@justinormont,@CESARDELATORRE

how we can show score,probability,confusion matrix of Permutation Feature Importance?

[2020-03-04 10:43] nighotatul opened #4916 "how we show score,probability associated with Permutation Feature Importance (PFI) so end user can easily identify?"
@yaeldekel,@eerhardt,@najeeb-kazmi,@justinormont,@CESARDELATORRE
references link:
[how we show permutation slot associated with feature so end user easily identify? #4739](url)

how we can get score,probability of PFI?
we have get globally score and probability but we cannot get at PFI. how we can achieve this?

[2020-03-04 15:07] tomasfalt opened #4917 "Error loading LightGBM model"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  .Net Standard 2.0
- **ML.Net version**: 1.4

### Issue

- **What did you do?**
Build and trained a model with FastTree, saved it and finally load it and all worked. Changed to LightGBM and got an error when I try to load it.

The error is following:
InvalidOperationException: Can't load type Micro

[2020-03-04 16:04] leblancdavid commented on #4911
I realize this is probably a fairly large task (and I probably don't understand all that is going on under the hood) but it would be nice if those interfaces could be implemented on the outside.

I'm not sure how valuable my feature selector would be to anyone outside of my specific application. My input features are quite large (30,000+) so I am trying to reduce the number of dimensions. I have t

[2020-03-04 21:05] antoniovs1029 commented on #4917
Can you please share your code and dataset to reproduce your problem? thanks

[2020-03-05 04:41] crvkumar commented on #4914
Hello @mstfbl. Thanks for the response.
Created a sample code reproducing this behavior in the below repo. Please check.

https://github.com/crvkumar/ML.NETMemoryLeakSample

[2020-03-05 07:14] mstfbl commented on #4916
Same issue as #4915

[2020-03-05 07:14] #4916 closed

[2020-03-05 07:55] tomasfalt commented on #4917
Sadly not, since it business critical data I can't disclose it. About the code I just use the default settings but I do an OneHotEncoding on one field.

I'm using the 1.4.0 version of the Microsoft.ML.LightGbm.

Please contact me directly through github_pm@yahoo.com and I will send you the code and the dataset for testing purposes

[2020-03-05 09:52] ddobric commented on #4910
How about this or similar?

[2020-03-05 17:05] artemiusgreat commented on #4903
Possibly related...
[https://github.com/dotnet/machinelearning/issues/4051](https://github.com/dotnet/machinelearning/issues/4051)

[2020-03-05 17:27] antoniovs1029 commented on #4917
I wouldn't expect the OneHotEncoding to be related. Can you please list all the nugets you're using? Recently another user had the same problem, and it was caused because he was combining ML.NET nugets from different releases.

[2020-03-05 17:52] artemiusgreat opened #4920 "Create DataView from IEnumerable<HashTable> or IEnumerable<IDictionary<string,dynamic>>"
### System information

- **OS version/distro**: Windows 10 Pro x64
- **.NET Version**: .NET Core 3.0
- **ML.NET Version**: 1.5.0-preview

### Issue

**What did you do?**

Trying to create a data view from a list of IDictionary objects.

- `IEnumerable<Expando>` or ...
- `IEnumerable<HashTable>` or ...
- `IEnumerable<Dictionary<string, object>>`
- `IEnumerable<Dictionary<string, dynamic>>`

In thi

[2020-03-05 19:06] jdahan91 commented on #4901
Ok, after updating to latest version of build tool i get this error - https://i.ibb.co/FBhXHjF/Untitled.png

[2020-03-06 11:54] eyvindwa commented on #1625
I have this issue too - any ETA for a fix?

[2020-03-06 13:43] tomasfalt commented on #4917
I tried different things to minimize code and nuget reference and finally I was down to just ML.Net, ML.Net.FastTree and ML.Net.LightGBM and it still didn't work. But when I changed to the ML.Net 1.5.0-preview version it worked perfectly. So it's probably solved by PR #4385.

It's a binary LightGBM btw.

Thanks for the help!

[2020-03-06 13:43] #4917 closed

[2020-03-06 20:32] ldsands opened #5706 "Feature Suggestions (Microsoft.Data)"
I'm excited about this work! I've been using python for a while and while overall a vast improvement over R for my data analysis, it can still be lacking.

FYI I'm an academic with almost no formal training in computer science. Please forgive me for any opinions I have that are uninformed. I think my feature requests would get you a lot more interest from the academic community.

### Increased IO

[2020-03-07 18:42] artemiusgreat opened #4923 "How Transformer converts structured or custom data view type into a feature value?"
### System information

- **OS version/distro**: Windows 10 Pro x64
- **.NET Version (eg., dotnet --info)**: .NET Core 3.0
- **ML.NET Version**: 1.5.0-preview

### Question

When implementing a custom data view type, how does transformer know what to use as a "value" of this type? Does it use `GetHashCode()` method for this?

### Source code

Considering, we have this custom image type with proper

[2020-03-08 17:16] actopozipc commented on #4871
I am sorry for the late response.
I tried the method, but it threw an exception that seems to be [its own issue](https://github.com/dotnet/machinelearning/issues/3973). All values used in my ML.NET model are float.
Any alternatives?

[2020-03-09 05:21] artemiusgreat commented on #4920
Done. Mission accomplished :)
This is how I see a dynamic generic data view based on IEnumerable<IDictionary> or IEnumerable<Expando>

[code]

[2020-03-09 05:40] artemiusgreat commented on #4920
Example of usage

[code]

Test method

[code]

[2020-03-09 17:16] mstfbl commented on #4920
Perfect, thank you @artemiusgreat for your detailed demonstration! I'm closing this now fixed issue-question.

[2020-03-09 17:16] #4920 closed

[2020-03-09 17:34] mstfbl commented on #4911
Hi @leblancdavid , it seems like @yaeldekel has given some suggestions on how to continue, and as she's said, please feel free to open a PR with your custom feature selector, and we will review it promptly!

[2020-03-09 17:34] #4911 closed

[2020-03-09 22:07] najeeb-kazmi commented on #4915
Subset of #4912

[2020-03-09 22:07] #4915 closed

[2020-03-10 00:01] najeeb-kazmi commented on #4912
@nighotatul

1. Getting feature importance for bins of `YearsAtCompany`:

This depends on whether you encoded this feature as a categorical feature when training, for example if you applied a custom mapping transform to generate a new column with three categorical values `LessThanOne`, `OneToFive`, `FiveToTen`, etc. If you then use a categorical transform to featurize this column, then PFI should

[2020-03-10 00:58] #2655 closed

[2020-03-10 00:58] #3627 closed

[2020-03-10 00:58] #3927 closed

[2020-03-10 00:58] #3407 closed

[2020-03-10 00:58] #3841 closed

[2020-03-10 00:58] #4898 closed

[2020-03-10 01:02] najeeb-kazmi commented on #4923
@artemiusgreat the `ImageType` folder needs to be vectorized with transforms before being passed to the trainer. `MLContext.Transforms.ExtractPixels` extracts a vector of RGB values. Optionally, you can also use `MLContext.Transforms.DnnFeaturizeImage` to featurize the output of `ExtractPixels` by applying a pre-trained DNN model an using its second to last layer as features. See the relevant samp

[2020-03-10 01:28] mstfbl commented on #4914
Hi @crvkumar , I ran the sample code you linked in Visual Studio 2019 with OnnxTransformer v1.3.1. I waited at the 2 parts of the code where the first and second snapshots are made. I did not see a memory leak when I ran it in Debug and Release modes, where process memory stayed stable at 61-62 MB. I also did not see any odd increases in the amount of WeakReference objects. Thus I was not able to

[2020-03-10 01:47] crvkumar commented on #4914
Hi @mstfbl. Thanks for checking the issue.

I am consistently getting the same results. I have attached a video for your reference.
I was using OnnxTransformer 1.4.0 but versioning down to 1.3.1 didn't change the behavior either.

https://github.com/crvkumar/ML.NETMemoryLeakSample/blob/master/MemoryLeakDemo%20-%20Microsoft%20Visual%20Studio%203_10_2020%2010_39_39%20AM.mp4

[2020-03-10 02:06] mstfbl commented on #4914
Hi @crvkumar ,
I see, indeed in your case there is an increase of memory within a short time. I have uploaded my own demonstration showing no increase during one snapshot, and a small but expected increase between the first and second snapshots (The point in time when I iterate from the 1st to the 2nd snapshot is during the middle point of the video, unfortunately the terminal is not shown in this

[2020-03-10 02:12] crvkumar commented on #4914
Hello @mstfbl Thank you. May I know what version of onnxruntime are you using.?
I guess ML.NET only supports 0.5.1.

[2020-03-10 02:19] mstfbl commented on #4914
Correct, I'm running OnnxRuntim v0.5.1 and OnnxTransformer v1.3.1.

[2020-03-10 02:23] crvkumar commented on #4914
May I know how could you run the project in "Any CPU" config? Does the project is set in "x64"?

[2020-03-10 02:40] mstfbl commented on #4914
Of course, the "Any CPU" config on my computer is just set to "x64", so it is effectively running in "x64".

Also, I'd like to make an addition to my earlier comment. We currently support OnnxRuntime 1.0 as seen in [this PR ](https://github.com/dotnet/machinelearning/commit/7b2478c5c47d76d69ed11d0fb2de2f43136438a0#diff-a982ad13ab5a78e84c83241d709256b1) for ML.NET 1.5.0-preview.

[2020-03-10 02:41] crvkumar commented on #4914
OK. Thank yoou.
Do you have any idea why the behavior is different in the two machines? Do you have any pointers where to look?

[2020-03-10 03:11] artemiusgreat commented on #4923
Thank you for the explanation @najeeb-kazmi
How about OnnxSequenceType, can it be used the same way as VectorDataViewType, or it also needs to pre-featurized with specific transformer?

[2020-03-10 03:29] nighotatul commented on #4912
Please consider this model concept for question raise prospective.but we have application where user (Data Scientist) select the columns by their own. they put the columns in label area and feature area.so when we calculate PFI and showing the graph we show the model statistics and PFI graph.
as per selecting string type feature on pfi we show the distribution graph suppose say for example user se

[2020-03-10 03:46] artemiusgreat commented on #4903
**Update**

Algorithms `AveragedPerceptronOva` and `SdcaMaximumEntropy` work much better when training and prediction is based on a vector of values, rather than on a single value.
Example with real values that I used for testing.

**Train data that give CORRECT classification**

[code]

**Train data that give WRONG classification**

[code]

**Results**

When I use "wrong" data set for training an

[2020-03-10 04:32] artemiusgreat opened #4926 "SdcaMaximumEntropy trainer goes into an infinite loop if it takes already transformed data view as an input"
### System information

- **OS version**: Windows 10 Pro x64
- **.NET Version**: .NET Core 3.0
- **ML.NET**: 1.5.0-preview

### Issue

**What I did**
- create data-preparation pipeline
- create trainer SdcaMaximumEntropy
- execute pipeline, e.g. to debug transformed data view
- add trainer to the pipeline and execute pipeline again, with the trainer included

**What happened**

If I execute pipeli

[2020-03-10 05:56] artemiusgreat commented on #4903
**Update**

Tried to provide various options to LGBM trainer.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.lightgbm.lightgbmmulticlasstrainer.options?view=ml-dotnet

- Seed = from 1 to 10
- LearningRate, Sigmoid = 0.1...0.9
- UnbalancedSets, UseSoftmax, UseCategoricalSplit = true
- Number of leaves, iterations, splits and other counts = 1...10...100

**Results**

No changes. L

[2020-03-10 23:01] najeeb-kazmi commented on #4926
@artemiusgreat I couldn't reproduce this error with a simple enumerable data with only a label and a numeric feature vector. I used a simple `pipeline` with only `MapValueToKey` and `CopyColumns`, and the same `estimator` as you. Maybe a few lines of the enumerable you are passing to `TrainModel` will help me reproduce.

That said, one thing I see potentially wrong with your code is that in the la

[2020-03-10 23:13] najeeb-kazmi commented on #4912
What you are asking for is not related to PFI at all. You can't get PFI for individual values or bins of values of a numeric feature - it is just not possible. PFI works by permuting *all*  the values of a feature and calculating how a metric changes because that feature was permuted. If you want to treat different bins of `YearsAtCompany`, you will have to encode it as a categorical feature yours

[2020-03-10 23:42] antoniovs1029 commented on #4872
PR #4919 has reenabled ONNX support for GPU. Now to use ApplyOnnxModel, users should install either Onnxruntime (for CPU) or Onnxruntime.Gpu.

[2020-03-11 02:54] artemiusgreat commented on #4926
Created a demo project that doesn't reproduce significant resources consumption, but demonstrates how drastically the execution time can increase by simply separating data preparation pipeline from trainer.
https://github.com/artemiusgreat/MaxEntropyLoopDemo

[2020-03-11 12:04] vslynko opened #4932 "TensorFlowEstimator initialization info is missing"
`TensorFlowEstimator` is not static and has no public constructors. Therefore the link to the documentation on how to initialize `TensorFlowEstimator` is essential.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7366dd71-3899-63fb-690e-5e0d11a5bf13
* Version Independent ID: 4e44da94-51eb-2617-135a-eb71186b4da9
* Conten

[2020-03-11 12:44] vslynko opened #4933 "AccessViolationException PredictionEngine when 100-200 concurrent predictions running async"
### System information

- Windows 10 64bit latest. 4 core CPU with hyperthreading.
- Main app net48, that loads dependency in net472 that loads Microsoft.ML.Tensorflow 1.4:

### Issue

- Multiple concurrent tasks scheduled with `Task.WhenAll`. All tasks perform the same lambda, that involves calling PredictionEngineBase.Predict call. Number of tasks in parallel stacks window is about 100-200.
- `A

[2020-03-11 16:56] rua26x commented on #4112
i think for the issue you just need to  install scisharp from nuget package
![image](https://user-images.githubusercontent.com/59762133/76442537-ae423a00-63f3-11ea-8cf5-8e9c2a7998a3.png)

[2020-03-11 23:23] najeeb-kazmi commented on #4932
Hi @vslynko - thanks for reporting this. `TensorFlowEstimator` can only be initialized through the `MLContext` API entry point. Usage samples are available [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.tensorflowmodel.scoretensorflowmodel?view=ml-dotnet).

You're right, this should be mentioned on the doc page for the estimator itself, in the see also section, just lik

[2020-03-12 00:10] Lynx1820 commented on #4871
I've tried exporting a similar pipeline on my end, but I couldn't reproduce the error. Can you share the error you get and the code you used to export to onnx?

[2020-03-12 00:23] Lynx1820 commented on #3973
After the recent onnx support work, this issue has been fixed.

[2020-03-12 00:23] #3973 closed

[2020-03-12 01:57] najeeb-kazmi commented on #4926
@artemiusgreat I tried to make the comparison as apples-to-apples as possible. The difference is primarily due to `.AppendCacheCheckpoint` being at the end of `dataPipeline` in the slow pipeline.
Caching is helpful before an operation that does multiple passes over the data, like an `SdcaMaximumEntropyTrainer`. Before discussing the implications of caching, a few preliminaries:

0. As a baseline,

[2020-03-12 05:01] philiplai opened #4937 "model.LastTransformer doesn't exist"
I was trying to implement Permutation Feature Importance (PFI) for Binary Classification.  But I was stuck on the following line of code.  This method simply doesn't exist.
// Extract the predictor.
var linearPredictor = model.LastTransformer;

I was following the example on https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.permutationfeatureimportanceextensions.permutationfeatureimportance

[2020-03-12 09:08] artemiusgreat commented on #4926
The thing is, in the real project, method creating pipeline is the same for all trainers, and only SdcaMaximumEntropy trainer goes wild.
I agree that previous example had some confusing lines.
I created a simplified version of previous example and used copy-paste to make sure I'm using the same code to compare apples-to-apples.
It still has an issue, once I move data preparation pipeline to a sepa

[2020-03-12 21:59] eerhardt commented on #3764
@andrewkittredge - I can help calm some fears here. ML.NET does work on .NET Framework, with one caveat: your application needs to specifically target 32-bit or 64-bit. Your app (the project that produces an `.exe`) can't target "Any CPU" because ML.NET needs to deploy native assemblies and the build needs to know whether it should pick 32-bit or 64-bit native assemblies.

There was a bug shipped

[2020-03-13 00:56] najeeb-kazmi commented on #4926
@artemiusgreat This is happening because `GetPipeline()` returns an `IEstimator<ITransformer>`, so when you call `.Append` on `dataPipeline` in the slow pipeline, it goes to this method:
https://github.com/dotnet/machinelearning/blob/290da8222d4ebcf5c9c4fa134d27151d4ee69364/src/Microsoft.ML.Data/DataLoadSave/EstimatorExtensions.cs#L46-L49
Here, `start` is `dataPipeline`, which is an `EstimatorChai

[2020-03-13 01:07] najeeb-kazmi commented on #4937
@philiplai can you share the code where you load the data, define the pipeline, and fit the model?

`LastTransformer` is a property of `EstimatorChain`. My best guess without looking at the code is that your model has only one estimator, and is not an `EstimatorChain`. If that is the case, your model will be of type `BinaryPredictionTransformer`, which you can directly pass to PFI instead of the `

[2020-03-13 01:08] #4912 closed

[2020-03-13 05:45] artemiusgreat commented on #4926
Thank you for the investigation of this case.
Suggested change does fix the issue, in Demo and in the real project.
So, it wasn't an infinite loop, just excess consumption of resources and slow execution without cache.
With cache it works pretty fast.

**Final code**

Added cache in the method that combines data pipeline with a trainer.

[code]

[2020-03-13 05:45] #4926 closed

[2020-03-13 05:52] artemiusgreat commented on #3976
@antoniovs1029 Sorry, missed your comment. Yest it was fixed. Thanks.

[2020-03-13 05:53] artemiusgreat commented on #4937
A duplicate of this issue https://github.com/dotnet/machinelearning/issues/3976
The problem is that model.Load by default returns incorrect type that doesn't have property LastTransformer, so you have to cast it to the right data type explicitly.

[2020-03-13 05:55] artemiusgreat commented on #4909
And this is the code to reproduce the issue :)
https://github.com/dotnet/machinelearning/issues/4926#issuecomment-597418276

[2020-03-13 07:25] antoniovs1029 commented on #4937
For the record, I wouldn't think that issue #3976 is a duplicate of this issue here. @artemiusgreat is right in that `mlContext.Model.Load` always return an `ITransformer` ([link to docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.modeloperationscatalog.load?view=ml-dotnet)). Since `ITransformer` doesn't have a `.LastTransformer` property, then it needs to be casted to a `Transformer

[2020-03-13 17:25] eerhardt commented on #4933
This appears to be the same issue as https://github.com/dotnet/runtime/issues/13701.

@jkotas @GrabYourPitchforks @BruceForstall @ericstj - FYI another instance of this issue on .NET Framework.

[2020-03-13 17:38] BruceForstall commented on #4933
@briansull @CarolEidt Apparently another .NET Framework case of https://github.com/dotnet/coreclr/issues/27924 (https://github.com/dotnet/runtime/issues/13818)

[2020-03-13 20:26] #4932 closed

[2020-03-13 21:08] najeeb-kazmi commented on #4923
@artemiusgreat this will be the output type produced by applying an ONNX model. See example usage in these tests:
https://github.com/dotnet/machinelearning/blob/c2429fabca8b2d6bc560f7552a2d2cf1c3498789/test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs#L427-L544

Are you trying to produce output from an ONNX model and then consume it in ML.NET transforms or trainers downstream?

[2020-03-14 13:20] ArnieBerg commented on #4870
I've been all over the Internet trying to resolve this issue.  What a wacky solution!  But it works.

[2020-03-14 13:25] ArnieBerg commented on #333
See https://github.com/dotnet/machinelearning/issues/4870.

[2020-03-14 13:26] ArnieBerg commented on #3764
See https://github.com/dotnet/machinelearning/issues/4870.

[2020-03-14 14:12] eerhardt commented on #4870
@ArnieBerg have you tried one of the workarounds I listed [here](https://github.com/dotnet/machinelearning/issues/3764#issuecomment-598437081) or [here](https://github.com/dotnet/machinelearning/issues/93#issuecomment-552486679)?

We shipped a bug in version `1.4.0` that broke this scenario. We've fixed it in the latest preview releases. Can you try either using `1.3.1` or `1.5.0-preview2`? If you

[2020-03-14 17:02] ldsands commented on #4895
If I might add a suggestion tied to this. Parquet supports many kinds of compression. The big ones are snappy (often the default in python packages) and gzip. But others are gaining traction as well for [space and or size issues](https://dev.to/ldsands/snappy-vs-zstd-for-parquet-in-pyarrow-9g0). Some others that are supported by pyarrow are brotli, lz4, and zstd.

(forgive the link to my own blog)

[2020-03-14 17:17] ArnieBerg commented on #4870
Yes, I was aware of those other posts and took those steps as well as the use of PackageReference, all to no avail.  I am on 1.4.0 of the Microsoft.ML libs.

[2020-03-14 17:34] eerhardt commented on #4870
What version of visual studio are you using? Did you set your Platform to x86 or x64?

Can you share your project and I can take a look to see if there is anything fix that needs to be made here?

I’d recommend using 1.5.0-preview2 version. It has all the functionality of 1.4.0, plus some preview features not in 1.4.0. So anything you are trying to use in 1.4.0 will work exactly the same in 1.5.0-

[2020-03-14 17:48] ArnieBerg commented on #4870
My project is set to x64.  I was on 1.5.0-preview2 initially but walked that back after running into this grief.  I will move back to the preview2.  Project attached.

[RoomKing.AIFramework.zip](https://github.com/dotnet/machinelearning/files/4333119/RoomKing.AIFramework.zip)

[2020-03-14 20:33] artemiusgreat commented on #4903
Tried to use XGBoost implemented in this library.
https://github.com/mdabros/SharpLearning/wiki/Using-SharpLearning.XGBoost
Same results - incorrect prediction.
Apparently, tree-based algorithms just can't work with small data-sets.

[2020-03-14 21:13] eerhardt commented on #4870
Thanks, @ArnieBerg. However, the project you attached is a class library. It isn't an application:

![image](https://user-images.githubusercontent.com/8291187/76690472-4287e900-660e-11ea-8ff8-9aa8478d546b.png)

Can you share the project that produces an .exe that consumes this class library as well? That is the project that needs to be set to `x64`.

[2020-03-14 23:48] ArnieBerg commented on #4870
This is the calling app.  It is targeting 64 bit platform.

[AutoAssign.Framework.zip](https://github.com/dotnet/machinelearning/files/4333538/AutoAssign.Framework.zip)

[2020-03-15 07:43] mareklinka commented on #4171
I just ran into this very frustrating issue as well.

.NET Core SDK 3.1.102
Microsoft.ML (+ImageAnalytics, OnnxTransformer) 1.4.0

When trying to deploy a very simple app that just takes a pretrained ONNX model and exposes it as an API, all requests break down with "Attempted to divide by zero" in a Windows app service.

Everything works normally on local, of course.

In the end, I came up with a

[2020-03-15 10:54] huy-lv opened #4944 "How to train model from image bitmap"
### System information
Window 10

### Issue
- **What did you do?**
Hi everyone, I want to build a model from training data like this
[code]
I cant find any example with input data as bitmap. How do i do that?

[2020-03-15 20:29] eerhardt commented on #4171
@mareklinka - Can you try the latest release [`1.5.0-preview2`](https://www.nuget.org/packages/Microsoft.ML.OnnxTransformer/1.5.0-preview2)? I believe this issue was fixed in the latest release because ML.NET integrated a new version of the OnnxRuntime (where this bug existed).

[2020-03-16 00:19] mareklinka commented on #4171
Damn, I literally spent hours on this yesterday when I could have solved in in 5 minutes 😄

Update to 1.5.0-preview2 solved the problem. There is one caveat, though, not sure if it's expected so I'll just mention it.

My original setup was using the following nuget packages (all 1.4.0):
[code]
And this worked out of the box locally. When I updated to 1.5.0-preview2, even local debugging stopped wo

[2020-03-16 05:30] luislhg opened #4945 "Model Builder Error when trying to Train data to Image Class"
### System information

- Windows 10 Pro
- .NET 4.8 and .NET Core 3.1:
- Memory 12GB
- Processor Intel Core i7 CPU 950 @ 3.07GHz

### Issue

- Tried to train an image classification using the Model Builder.

Steps: Create a project.
Add a Machine Learning through solution explorer, then in the ML.NET Model Builder:

1. Scenario -> Image Classification
2. Data -> A folder with around 8.000 images (

[2020-03-16 05:30] luislhg opened #5052 "ImageClassificationTrainer can't load model"
### System information

- Windows 10 Pro
- .NET 4.8 and .NET Core 3.1:
- Memory 12GB
- Processor Intel Core i7 CPU 950 @ 3.07GHz

### Issue

- Tried to train an image classification using the Model Builder.

Steps: Create a project.
Add a Machine Learning through solution explorer, then in the ML.NET Model Builder:

1. Scenario -> Image Classification
2. Data -> A folder with around 8.000 images (

[2020-03-16 15:30] eerhardt commented on #4171
Yes, this is expected. This allows the application to pick whether it wants CPU or GPU enabled processing. If you want the ONNX model to run on a GPU, instead of referencing `Microsoft.ML.OnnxRuntime`, you would reference https://www.nuget.org/packages/Microsoft.ML.OnnxRuntime.Gpu.

See https://github.com/microsoft/onnxruntime/issues/2184 for more information.

[2020-03-16 16:14] eerhardt commented on #4870
@ArnieBerg - I noticed that you don't have

[code]

In your `AutoAssign.Framework.csproj`. Can you add those in the .exe as well? I believe that should solve your issue.

Also - be sure you are setting `<PlatformTarget>x64</PlatformTarget>` for both `Debug` and `Release`. I see you are missing that in `Release` in your .csproj.

[2020-03-16 16:26] najeeb-kazmi commented on #4933
@BruceForstall I see that the underlying issue has been fixed. Is a 4.8.1 patch expected or will the fix be made available in .NET 5?

[2020-03-16 16:43] BruceForstall commented on #4933
A decision hasn't been made. fwiw, it's very difficult to get changes in to 4.8 servicing releases.

[2020-03-16 17:09] CarolEidt commented on #4933
The fix has been back-ported to 3.1, and will also be in .NET 5.

[2020-03-16 17:40] Lynx1820 commented on #4944
We have a samples repository here: [machinelearning-samples](https://github.com/dotnet/machinelearning-samples ).
Some of our examples use bitmaps, like [Image Classification - AspNet core Web/service Sample](https://github.com/dotnet/machinelearning-samples/tree/e43e429cce06f246a38053e01f1a8e9392f2d36f/samples/csharp/end-to-end-apps/DeepLearning_ImageClassification_TensorFlow).
I'm closing this,

[2020-03-16 17:40] #4944 closed

[2020-03-16 19:11] Lynx1820 commented on #4945
I'm not able to replicate the error. Did you mean 8,000 images? You still get the error with a smaller dataset, right? What version of ML.NET and Visual Studio are you using? It seems like your missing the tensorflow dll. @justinormont Do you have any pointers for why his project can't find the dll?

[2020-03-16 20:14] luislhg commented on #4945
Yes, 8 thousand images (8,000).
I've just tried, and yes, got the exactly same error even with 95 images only.
I'm using Visual Studio 16.4.6.
I'm using ML.NET Model Builder (Preview) 16.0.2003.302.

[2020-03-16 23:24] mareklinka commented on #4171
@eerhardt Ah, makes sense. Thanks for the clarification!

[2020-03-17 19:14] natke opened #4947 "ordinal regression in ML.NET"
The page [ordinal-regression.md](https://github.com/MicrosoftDocs/azure-reference-other/blob/master/studio-module-reference/ordinal-regression.md) describes the ordinal regression module. Is there a way to use this module/class in ML.NET in C#?
Any hints are welcome.
Greetings, Wido

See https://github.com/MicrosoftDocs/azure-reference-other/issues/90 for the original issue.

[2020-03-17 19:53] luisquintanilla opened #4948 "Wrong Transform Sample"
Sample shows `LoadImages` not `LoadRawImageBytes`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 935b3cba-8385-d7b1-0d1c-92ce1e5b6bef
* Version Independent ID: f4c01ba9-1f3e-03fa-48ea-1a62a13e11b4
* Content: [ImageEstimatorsCatalog.LoadRawImageBytes(TransformsCatalog, String, String, String) Method (Microsoft.ML)](http

[2020-03-17 22:31] Lynx1820 commented on #4945
I tried this on Visual Studio 2019 Professional 16.5 with the Model Builder/.NET core version you provided, but I was not able to reproduce the error. Can you try upgrading your Visual Studio version?

[2020-03-17 22:42] luislhg commented on #4945
Hi. I just tried with the VS 2019 Professional 16.5 (just updated). Exactly same issue and log.

Do you need any other system spec?

Is the Windows language/culture relevant?

[2020-03-17 22:58] harishsk commented on #4945
@luislhg Let me transfer the issue over to the Model Builder team and see if they have any ideas.

[2020-03-17 23:26] Lynx1820 commented on #4947
Hi @natke  - thanks for reaching out to us. Currently, there is no support for ordinal regression.

Adding @gvashishtha to help triage this feature request.

[2020-03-18 08:25] strikene commented on #4112
I have the same problem, but it doesn't seem to be the x86 x64 problem
In my project, even if I install SCI and set fuction to x64 to start debugging, I still can't find DLL
if I set debugging to anycpu, I will get DLL that cannot be loaded. Once I set debugging to x64, CLI will not load my functions. The error is system. Private. Corelib: could not load file or assembly 'myfunction, version = 1.0

[2020-03-18 12:32] strikene commented on #4112
@RussellKirkwood
I have solved this problem by doing the following
1 add packages
"Microsoft.Azure.Functions.Extensions" Version="1.0.0"
"Microsoft.Extensions.DependencyInjection" Version="2.2.0"
"Microsoft.Extensions.ML" Version="1.4.0"
"Microsoft.ML" Version="1.4.0"
"Microsoft.ML.ImageAnalytics" Version="1.4.0"
"Microsoft.ML.Vision" Version="1.4.0"
"Microsoft.NET.Sdk.Functions" Version="1.0.29"

[2020-03-18 13:03] konabuta commented on #4585
@ganik  No updates on this ?

[2020-03-18 16:51] najeeb-kazmi commented on #4937
Closing this issue. Please feel free to reopen if something remains unanswered.

[2020-03-18 16:51] #4937 closed

[2020-03-18 16:52] najeeb-kazmi commented on #4923
Closing this issue. Please feel free to reopen if something remains unanswered.

[2020-03-18 16:52] #4923 closed

[2020-03-18 17:42] francescomazzurco opened #4952 "Request: expose Experiment._modelDirectory"
Hi all,

In AutoML, when configuring the `ExperimentSettings`, one can set a `CacheDirectory` where the intermediate models will be stored. However, the models are actually stored in a subfolder, called "ExperimentXX", where XX in an auto-increment integer in v.0.14.0, and some random characters in the recent preview releases. Navigating the source code, I found that this path is stored inside the

[2020-03-18 21:31] Lynx1820 commented on #4952
Hi @francescomazzurco - thank you for the suggestion.

[2020-03-18 22:07] ArrowRaider commented on #4600
How did you find these dependencies?

[2020-03-19 03:05] najeeb-kazmi commented on #3903
@mphollas @ilias @flo8 @eduardobr @Benzidrine @archeg @dhunt84971 @lessenko @todarko @hectorcubillos

First of all, apologies that it took us this long to get to this. I have begun taken a look at this and here's what I have found so far:

1. On macOS 10.14.16, I could not reproduce this issue at all. I used .NET Core 2.2.300, which is the most frequently cited version here. I did the following wi

[2020-03-19 04:19] harishsk commented on #3903
@najeeb-kazmi Is your project part of ML.NET sources or a standalone project? Can you turn on verbose logging in your msbuild and see if the logging has any mention of trying to copy these files?

If your project is a standalone project I suspect they aren't being copied over because they are missing the CopyNativeAssemblies target that is present in Directory.Build.Targets in ML.NET.

[2020-03-19 05:17] jpd21122012 commented on #4112
@strikene Can you help me?, I'm on Console App (.NET Core), and I've followed your instructions but the new CLI at the final just start the host and doesn't run my app

[2020-03-19 06:20] strikene commented on #4112
Console App do not need azure function cli
 Press F5 to run you apps

[2020-03-19 07:35] lostmsu commented on #4605
@sps014 what kind of performance issues do you experience with SciSharp stack? Curious, because I am working on a competing product, that exposes full TensorFlow Python API to C#: [Gradient](https://losttech.software/gradient.html). With TensorFlow most compute is done inside the core framework, and the language or framework you use to construct TensorFlow computation graph hardly matters.

[2020-03-19 08:07] codemzs commented on #4605
@lostmsu Your product takes a dependency on python runtime and interops into TF core via its python API. For a C# developer it would mean they will take dependency on .NET runtime and Python runtime. On the other hand TF .NET DOES NOT take a dependency on python runtime. Do you have benchmarks to prove Gradient runs faster than TF .NET?

[2020-03-19 08:28] sps014 commented on #4605
@lostmsu can i use gradient on web i.e. in Blazor ?? Curious to know the size of simple bundled app since python runtime is embedded.

[2020-03-19 08:53] lostmsu commented on #4605
@codemzs I never claimed it does 🤔. In fact I said the choice of binding to TensorFlow hardly matters for performance. Just curious what kind of performance problems people experience. Marshaling is the only area, that might have any effect here, and I can hardly see what can beat giving user a writable `Span<T>` for `Tensor` contents. Especially given TensorFlow itself does not support (as of 1.1

[2020-03-19 08:55] codemzs commented on #4605
@lostmsu Ok, I’ll be specific, please provide benchmarks for this claim “choice of binding to TensorFlow hardly matters for performance”

[2020-03-19 09:04] lostmsu commented on #4605
@codemzs of course it is an "educated guess". I would say it should be a null-hypothesis given how TensorFlow works. After you built your `tf.keras.Model` in like 30 sec (most of which is TensorFlow internal initialization, CUDA, etc), on any sufficiently interesting model like ResNet or GPT-2 `Model.fit` would take hours without ever leaving TensorFlow core code, binding not participating at all,

[2020-03-19 09:09] sps014 commented on #4605
@lostmsu i did same thing , used [ML5 NN](https://github.com/sps014/BlazorML5) from C# in Blazor wirh interop , printing epoch ,or anything slowed it significantly down .

[2020-03-19 09:09] codemzs commented on #4605
@lostmsu Need benchmarks even for such “educated guesses”. Taking a python runtime dependency is no small thing from performance standpoint. The founder of TensorFlowSharp has himself endorsed TF .NET for a reason. https://twitter.com/migueldeicaza/status/1157385979071778817?s=20

[2020-03-19 09:39] lostmsu commented on #4605
@codemzs maybe for the startup time. I'd be more worried about unofficial builds of the TF core C library, because they might have used suboptimal compiler options. Either way, this seems an important question, so I will try to make a trivial benchmark comparison in the coming daylight.

As for the endorsement, I would also prefer TensorFlow.NET to succeed over Gradient's approach.

First, I am to

[2020-03-19 09:44] lostmsu commented on #4605
@codemzs actually, I could see both approaches working together nicely with a pure C# core like TF.NET to do inference and other trivial stuff, and a binding through Python like Gradient does currently, that could work with pure C# types from the core. But, oh boy, how much work is yet to be done for this to happen.

[2020-03-19 16:03] mayoatte commented on #4600
@ArrowRaider I believe it was from [this page](https://github.com/dotnet/machinelearning/blob/master/docs/building/unix-instructions.md)

[2020-03-19 16:53] jpd21122012 commented on #4112
@strikene Got it, but when I press F5 changing to x64 says that assembly.dll not found and if I change to AnyCPU Config says the tensorflow.dll error

[2020-03-19 17:17] eerhardt commented on #3903
`NativeAssemblyReference` is internal to the `dotnet/machinelearning` repo. This isn't something that users would ever use. We only do it in our repo to get native assemblies placed in our `bin` directory.

For anyone who is running into this issue on a mac, there are 2 things I can recommend.

1. To try to debug why this is happening, the exception message says `In order to help diagnose loading

[2020-03-19 17:22] harishsk commented on #3903
It appears that the tests and samples in the ML.NET repo are relying on `NativeAssemblyReference` to make sure that the native assemblies are copied over. Since this facility is not available outside the repo, what is our recommendation to developers taking a dependency on the nugets directly for making sure that the native assemblies are copied over?

[2020-03-19 17:48] eerhardt commented on #3903
They reference our nuget packages, and the .NET tooling (NuGet, MSBuild) copies the native assemblies correctly.

[2020-03-19 17:49] Zeraphil opened #4954 "Unexpected WordEmbedding behavior as feature vector to a multi-class classifier"
### System information

- **OS version/distro**:
Windows 10
- **.NET Version (eg., dotnet --info)**:
3.1.1

### Issue

- **What did you do?**
Apply the WordEmbedding transformer to a multiclass prediction trainer.
- **What happened?**
Cross validation resulted errors and NaN scores in multiclass predictions.
- **What did you expect?**
I expect to be able to use the word embedding feature vector, c

[2020-03-19 19:34] mstfbl commented on #4363
Closing this issue as the issue seems to be resolved.

[2020-03-19 19:34] #4363 closed

[2020-03-19 23:58] najeeb-kazmi commented on #3903
On Ubuntu 16.04 and 18.04, in my standalone project with `Microsoft.ML.Timeseries` nuget, `libMklmports.so` is present in `/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native`, but it has a dependency on `libiomp5.so`, which is not found. Following the instructions [here](https://software.intel.com/en-us/articles/installing-intel-free-libs-and-python-apt-repo), I installed MKL, specifically the lat

[2020-03-20 00:24] najeeb-kazmi commented on #3903
On the other hand, on macOS 10.14.6, the libraries are present:
[code]

[2020-03-20 01:14] najeeb-kazmi commented on #3903
On Windows, the dll gets copied to and loaded from `\bin\Debug\netcoreapp3.0\runtimes\win-x64\native\libiomp5md.dll`.

[2020-03-20 02:01] lostmsu commented on #4605
@codemzs basically, the results are exactly what I expected:

### TensorFlow .NET

[code]

### Gradient

[code]

### Source code

Repository has git submodule: https://github.com/losttech/Gradient-Perf

### Remarks

This uses SciSharp's own sample code, a version, that works with their latest NuGet packages. Gradient adaptation is in `src\Bench.Gradient\DigitRecognitionCNN.cs`. It is basically a c

[2020-03-20 06:32] EricIsInTheHausCAP commented on #2941
Has this issue been resolved or is it still being worked on?

[2020-03-20 10:09] strikene commented on #4112
Can you share your project with me and remember to delete the privacy data

[2020-03-20 14:35] tzinckgraf opened #5662 "DataFrame LoadSql Method"
I was playing around with the DataFrame library to start to build a SQL reconciliation tool, and I noticed that there is no easy way to go from SQL query to DataFrame.

I have some code for that can create the DataFrame from a `SqlDataReader`, but we may want an easier to use API than that.

One idea is to follow the convention used for the `LoadCsv` function and make something similar to the pand

[2020-03-20 15:34] jpd21122012 commented on #4112
@strikene It's the official Proyect from Microsoft ML.NET, here's the link https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_ImageClassification_TensorFlow

I'm trying with "DeepLearning_ImageClassification_TensorFlow" and "DeepLearning_ImageClassification_Training" proyects

[2020-03-20 19:52] LittleLittleCloud commented on #4905
Having the same issue
#### container
- mcr.microsoft.com/dotnet/core/sdk:2.1

[2020-03-21 15:57] SnowmanTackler commented on #4112
I'm also trying to run the stock sample app "TFModelScorer" and running into issues.

When running with "Any CPU" config:

`EXCEPTION                                                                                                               #########                                                                                                               System.FormatException: Tensorflow e

[2020-03-22 09:08] strikene commented on #4914
I have the same problem with the use of GC memory is still going crazy, I use 1.50preview2 and 1.4
By the way, even without image prediction, a mere multi-classification of text would leak.
The first picture was when I started the application.
![f](https://user-images.githubusercontent.com/62022463/77246133-282dbb00-6c5f-11ea-895d-3938163323f5.png)

[2020-03-22 13:54] mengaims opened #4958 "Add new mode for SR anomaly detector"
### New mode for exisiting SR algorithm

By old SR(Spectral Residual) anomaly detection, user could only get whether the point is an anomaly or not, but has no way to set sensitivity value for the anomaly. Sometimes an anomaly do happens, but with a low sensitivity setting, it may not be a valid alert. With this new option, the SR anomaly detector will allow user to set sensitivity, and output mar

[2020-03-23 08:11] suxi-ms opened #4960 "Add root cause localization algorithm"
### New Algorithm

Add a decision tree based root cause localization algorithmm to detect the root causes of an incident on multi-dimensional time series at a timestamp.

[2020-03-23 19:08] nxtx opened #4961 "Hierarchical clustering"
Is hierarchical clustering supported/implemented?

[2020-03-23 19:52] renwang1612 commented on #4112
It is the same issue I got "System.DllNotFoundException: 'Unable to load DLL 'tensorflow' or one of its dependencies: The specified module could not be found. (Exception from HRESULT: 0x8007007E)'"
when trying to run the first line var t1 = new Tensor(3);

[2020-03-23 20:37] mstfbl commented on #4933
Hi @vslynko, can you provide sample code to replicate this issue? I'm trying to see if this is actually fixed when run on NetCoreApp 3.1. Thanks!

[2020-03-23 21:53] najeeb-kazmi commented on #3903
So the root cause is that `libMklImports` depends on OpenMP library `libiomp5`. Because of redistribution licensing reasons, only `libiomp5.dll` is packaged in the ML.NET nugets for Windows. `libiomp5.dylib` and `libiomp5.so` are not packages for MacOS and Linux, respectively. If these libraries are not already present on the system, this error will be thrown.

Note: `libMklImports` itself is pack

[2020-03-23 22:07] #4865 closed

[2020-03-23 22:18] mstfbl commented on #4933
I have merged the PR to update our builds to run on NetCoreApp 3.1, and I'm closing this issue as @CarolEidt said the fix for this has been back-ported to 3.1. @vslynko please run your code on NetCoreApp 3.1, and let us know if your issue has not been fixed.

[2020-03-23 22:18] #4933 closed

[2020-03-24 13:16] infiniteloopltd opened #4964 "Can't load type Microsoft.ML.IPredictorProducing`1[System.Single]"
### System information

- Windows 10 Home
- .NET : .NET Core 2.1
- ML.NET : 1.5-preview2
- ML.FastTree : 1.5-preview2

### Issue:

The following error occurs when reading from disk:

Can't load type Microsoft.ML.IPredictorProducing`1[System.Single], because it has both create and constructor methods with the same visibility. Please indicate which one should be used by changing either the signature

[2020-03-24 13:31] infiniteloopltd commented on #4964
Found the solution 👍

Install-Package Microsoft.ML.LightGbm -Version 1.5.0-preview2

(On the <project>ML.Model project)

[2020-03-24 16:35] harishsk commented on #4961
Sorry, we do not support hierarchical clustering.

[2020-03-24 16:36] #4961 closed

[2020-03-24 16:37] harishsk commented on #4964
Thank you for updating the issue with your resolution. :-)

[2020-03-24 16:37] #4964 closed

[2020-03-24 17:10] nxtx commented on #4961
Looking forward to that, thanks.

[2020-03-24 18:03] luisquintanilla opened #4965 "Unable to score using PredictionEnginePool with a pipeline/model that contains custom transforms"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1

### Issue

`PredictionEngine` is not thread safe. Therefore, in multi-threaded environments, it is *highly* recommended to use `PredictionEnginePool`.

When you want to save a pipeline that contains custom transforms, you have to provide a contract name. If you want to use the saved

[2020-03-25 13:04] antoniovs1029 opened #4970 "ColumnSelectingTransformer exported onnx model doesn't drop input columns coming from input dataview"
The `ColumnSelectingTransformer` has the ability to drop columns that aren't desired by the user. The Onnx exported model eliminates those columns from the Onnx model graph output, but this isn't enough to remove them from the output `Schema`, so even if they're removed from the onnx model, those columns are still there in the output after using the `ApplyOnnxModel` method. The reason for this is

[2020-03-25 13:08] antoniovs1029 commented on #4970
Notice that this is a problem in ML.NET and not in the Onnx model exported from `ColumnSelectingTransformer`, since the model itself doesn't include the undesired output columns as outputs. This is relevant, because if a user were to use the exported onnx model outside of ML.NET (e.g., inside Python, by using `OnnxRuntime`), then the output of the model will actually "drop" the undesired inputs.

[2020-03-25 23:03] najeeb-kazmi commented on #4103
@nfnpmc what are the contents of the model pipeline / transformer chain you saved? Can you share the training code? From the exception, it looks like there are some DNNs involved in the pipeline so a generic pipeline that I could write probably won't be enough to try to reproduce.

Also, what other ML.NET nugets (and their versions) are installed in your project, other than Microsoft.ML? E.g. Micr

[2020-03-25 23:04] najeeb-kazmi commented on #4678
@Sinfulelf what were the results of changing TensorFlow.NET version 0.11.8.1? Did you still encounter the error?

[2020-03-25 23:09] #4872 closed

[2020-03-25 23:29] najeeb-kazmi commented on #4679
@curtfehr do you still encounter the issue after changing your project to x64 as suggested by Yael?

[2020-03-26 07:47] nfnpmc commented on #4103
Blimey, that was over 6 months ago. Anyway it looks like getting all the ducks in line (versions compatible) e.g. Exe netcoreapp2.1 7.1, Replace 1.3.1 by 1.1.0, it all worked. It looks like it was a problem with NuGet not fetching the correct version. I never tried to break it again for you, sorry.
You can close this off now.

[2020-03-26 07:47] #4103 closed

[2020-03-26 10:12] fourfruit opened #4975 "How to generate faster_RCNN_Inception_V2 model in ML.NET?"
### System information

- **OS version/distro**:
- **.NET Version (eg., dotnet --info)**:

### Issue

- Use faster_RCNN_Inception_V2 model  doing object detection
-  There is no any documents about this model  with ML.NET
- How to generate faster_RCNN_Inception_V2 model in ML.NET?
Thanks

[2020-03-26 18:33] mstfbl commented on #4914
Hi @crvkumar and @strikene ,
Thank you for following up on this. We're still working on reproducing this issue locally, and will get back to you soon.

[2020-03-26 22:38] Lynx1820 commented on #4954
Hi @Zeraphil , thank you for the feedback.

1) Linear models often return NaN scores when there are NaN values in the input data. Have you tried using the ReplaceMissingValues transformer? Normalizing your text?

2) Yes, the word vector model is not included in the ml.net model because the purpose of this transformer is simply to featurize the words, and doesn't really need the model for additiona

[2020-03-27 00:35] Zeraphil commented on #4954
Hi Karen,

Thank you for your response!

I guess I need to determine why apply the word embedding transformer would result in NaN values. I'm not sure what the behavior is for out of vocabulary tokens, if anything I'd like to understand the behavior a bit better.

As for 3, I have not yet, I'm still new to MLNet, I will look into them, thank you!

[2020-03-27 01:41] justinormont commented on #4954
For using the word embedding transform, I'd have `FeaturizeText` produce the tokens for the `ApplyWordEmbedding`, which will remove diacritics and lower case by default (increasing your accuracy by removing OOV), and also in your case it's faster since you're already running a `FeaturizeText` (no need to clean and tokenize 2x). See https://github.com/dotnet/machinelearning-samples/issues/702#issue

[2020-03-27 02:38] Zeraphil commented on #4954
Hi, thank you. It's definitely the WordEmbedding transformer as the text Featurizer works no matter what.

I think this might be the case.

My dataset is about 100,000 elements, 8 labels, fairly balanced (~12 each).

[2020-03-27 09:15] lionelquirynen commented on #164
Hello Guys,

But how do this when the size of the vector changes for each row?
For instance if I have a dataset with 10 000 movies, each movies contains two arrays of string, one for the actors and the other for the crew members. For each movie the number of actors and crew members are not the same... How to handle this?

Best regards,

Lionel Quirynen

[2020-03-27 10:37] lionelquirynen opened #4977 "Schema mismatch for feature column 'Features': expected Vector<Single>, got VarVector<Single> '"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: 3.1

### Issue

- **What did you do?** : Train a model from a json File
- **What happened?** Schema mismatch for feature column 'Features': expected Vector<Single>, got VarVector<Single> '

### Source code / logs
Here is the code to train the model :
` private static ITransformer trainWithJson(MLCo

[2020-03-27 14:24] sefatanam commented on #3335
same issue but `addBatchDimensionInput:true` after doing not solve my problem

[2020-03-27 17:08] gvashishtha commented on #630
@MaxAkbar @njfm0001 have you looked into this library? https://github.com/microsoft/Recognizers-Text/tree/master/.NET

[2020-03-27 18:50] asif48 commented on #502
Hi Rauhs...
I have the same problem that I added a Date column in the input class and i am having the error **"Could not determine an IDataView type for member Date"...**
Plz let me know how to resolve that...

[2020-03-27 23:06] najeeb-kazmi commented on #3869
@prathyusha12345 this is not a bug. There is some incorrect usage, and some non-optimal usage, that is causing the memory usage to blow up.

Incorrect: You are loading the 13 numerical features as `string`, and then applying `FeaturizeText` on each of them. This is completely unnecessary, and it also means that for each feature, a dictionary is trained and then the feature is vectorized when it do

[2020-03-28 00:27] najeeb-kazmi commented on #4678
@Sinfulelf I have verified that this error is indeed due to using TensorFlow.NET version 0.14.0. In fact, you do not need to explicitly install TensorFlow.NET at all, since the correct dependency will be installed when you install Microsoft.ML.Vision.

I'm closing this issue. Please feel free to reopen if something remains unanswered.

[2020-03-28 00:27] #4678 closed

[2020-03-28 00:48] mstfbl commented on #4914
Hi @strikene ,

I'm attempting to run the sample code you've written. Do you have the dataset where `Path` is pointing?

[2020-03-28 06:47] strikene commented on #4914
Path = "C:\MLModed.zip"

[2020-03-28 10:21] asif48 opened #4980 "How to Add Date column in the Input Class"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  VS 2019

### Issue

- **What did you do?** I tried to modify the TaxiFairExample ; Just copied the  code and include few fields
1) Date
2) Punctured
to predict whether the taxi would likely to punctured in the coming date.

- **What happened?**
When I included Date column in the class and try to d

[2020-03-28 16:15] njfm0001 commented on #630
@gvashishtha As far as I can see, that library doesn't support PERSON, LOCATION or ORGANIZATION types, but dates, numbers, emails...

[2020-03-28 18:43] MaxAkbar commented on #630
Hello @gvashishtha,

Thank you for providing the link to the text recognizers. I had looked at them when I was working with LUIS. I am using the recognizers in my current project.

The recognizers, in my opinion, is designed to extract written entities into numerical, date, and other formats. They identify a pattern and transform it, whereas NLP extracts entities based on grammar.

The underlying

[2020-03-29 16:54] strikene commented on #4112
Hi I'm sorry to reply a little late I didn't see the example mentioned in your link, I reorganized a core application, and the program now works.

1
 you must set  **PlatformTarget to X64**   **you must use  .net core  2.2 3.0 3.1**
<Project Sdk="Microsoft.NET.Sdk">
  <ItemGroup>

    <PackageReference Include="Microsoft.CodeAnalysis.FxCopAnalyzers" Version="2.9.8">
      <PrivateAssets>all</Priva

[2020-03-29 17:07] strikene commented on #4112
add package Microsoft.ML.Vision  ，Maybe solve a problem.

[2020-03-30 07:47] mstfbl commented on #4914
Hi @strikene , I meant, do you have a sample of the actual dataset of what you are trying to classify? For example, the zip file that `Path` points to.

[2020-03-30 09:39] strikene opened #4981 "PredictionEnginePool.GetPredictionEngine is not thread safe"
### System information

- **OS version/distro**:Windows 10 Server 2019
- **.NET Version (eg., dotnet --info)**: core 3.0

### Issue

- **What did you do?**
Invoked PredictionEnginePool.Predict("MyModelName", example) from multiple threads.
- **What happened?**
Collection was modified; enumeration operation may not execute.
- **What did you expect?**
Method is thread safe
### Source code / logs

Pa

[2020-03-30 12:41] antoniovs1029 commented on #4981
Thanks for reporting this. Can you please provide your complete code and dataset so that we can easily reproduce your issue? Thanks!

[2020-03-30 13:54] strikene commented on #4981
The attachment contains the source file and the model file. This problem occurs randomly and may take a long time to see. Thank you for your help
[f.zip](https://github.com/dotnet/machinelearning/files/4403232/f.zip)

[2020-03-30 14:22] luisquintanilla commented on #4977
Hi @lionelquirynen ,

Here is a sample of how you can get this to work. Essentially, when you apply `OneHotEncoding` to a vector, it does what it's supposed to. However, it creates a separate encoded vector for each of the elements in the input vector. This results in a vector of variable length because it's dependent on the number of elements in the original input vector. Each of the nested vecto

[2020-03-30 18:40] mstfbl commented on #4429
Closing this issue as #4831 is merged.

[2020-03-30 18:40] #4429 closed

[2020-03-30 19:26] lionelquirynen commented on #4977
Thanks a lot for the explanation and the comment ! Appreciate a lot !

[2020-03-30 20:42] luisquintanilla opened #4982 "TextLoader Load From Multiple Files Inconsistent Behavior"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: 3.1
- **ML.NET Version (eg., dotnet --info)**: 1.5.0-preview2

### Issue

When loading data that is in multiple files, whether the data is in a single folder or multiple folders, the behavior in inconsistent. When the data is in a single folder, wildcards can be used. That, however is not the case

[2020-03-30 20:50] luisquintanilla commented on #4982
Adding zipped directory with code and files.

[SampleLoadMultipleFilesMLNET.zip](https://github.com/dotnet/machinelearning/files/4405405/SampleLoadMultipleFilesMLNET.zip)

[2020-03-30 22:25] mstfbl commented on #4171
As @eerhardt mentioned above, this issue is fixed in the latest version of `OnnxRuntime` v1.2.0, which ML.NET's latest release `1.5.0-preview2` integrated.

[2020-03-30 22:25] #4171 closed

[2020-03-31 00:51] mstfbl commented on #4914
Hey guys,
I think I found the root cause of the issue. The accumulation of the WeakReference<IHost> objects stem from this `_children` list here:

https://github.com/dotnet/machinelearning/blob/6b2d1a5330bf2f73253edf5895baec367dd329a6/src/Microsoft.ML.Core/Environment/HostEnvironmentBase.cs#L347-L348

Between each iteration, this `_children` list is not cleaned, and instead WeakReference objects a

[2020-03-31 00:57] crvkumar commented on #4914
Thanks for following up @mstfbl . Will there be any fix/modifications for this subsequently?

Also why does this not occur in your environment?

[2020-03-31 01:05] mstfbl commented on #4914
Of course @crvkumar ! I'm currently working on a fix for this, and will push out a PR when it's ready.
This memory accumulation does happen in my environment, but it's in the order of 8-12 kilobytes.

[2020-03-31 01:07] crvkumar commented on #4914
Thank you @mstfbl. Yes, the leak seems to be small but adds up to a considerable size over few hours of continuous operation.
Thanks for your support.

[2020-03-31 03:19] ganik commented on #4585
@giuseppe-terrasi  @konabuta  Hi, sorry for delay and thank you for repro solution. I was able to find the rootcause in machinelearning\src\Microsoft.ML.ImageAnalytics\ImageLoader.cs, line 238:
                            dst = new Bitmap(path) { Tag = path };
BitMap locks the file. There are various approaches how to handle this as per: https://stackoverflow.com/questions/4803935/free-file-locked

[2020-03-31 04:26] harishsk commented on #4977
@luisquintanilla  Thanks for the explanation.
@lionelquirynen  I hope that answers your question.

[2020-03-31 04:26] #4977 closed

[2020-03-31 05:01] antoniovs1029 commented on #4980
Hi. I am not sure which `TaxiFairExample` are you referring to. Can you please share your code including all the changes you made an a sample dataset to reproduce the issue?

In general, DateTime columns should work similarly to other types. For instance, the following snippet works without any problem:

[code]

[2020-03-31 05:08] antoniovs1029 commented on #4980
Other samples that include working with DateTime columns are the following:
[DataViewEnumerable Sample](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/DataOperations/DataViewEnumerable.cs)

[ConvertTypeMulticolumn Sample](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Conversion/ConvertType

[2020-03-31 08:53] Balu2 opened #4986 "Retrain same data results in different accuracy"
### System information

- Windows 10
- .NET Core 3.1

### Issue: When I retrain the data with the ML.Net Model Builder with the same data and training parameters, there is a difference in Micro- and Macro-Accuracy.

- **What did you do?
Using the Model Builder to train a data set

- **What happened?**
When I retrain the same data (by pressing the Start training button again) with the same label, f

[2020-03-31 09:56] justinormont commented on #4986
This is expected. You'll get different models from run-to-run.

You can get slightly more deterministic runs using the [AutoML API](https://github.com/dotnet/machinelearning-samples#automl-api-samples-preview-state) directly and setting the `MLContext` seed. This will cause the train/validate dataset split to be deterministic, though there are still non-deterministic elements like pulling random n

[2020-03-31 09:58] justinormont commented on #4986
Side note for Model Builder devs:
It seems the iteration count is not displaying the model's iteration, but instead showing the same rank order as on the left. See #Iteration on the right side of the output above.

It should be displayed as: (to indicate the order the pipeline was tried)
[code]

 /cc @LittleLittleCloud, @JakeRadMSFT

[2020-03-31 12:02] strikene commented on #4914
[20200102MLModel.zip](https://github.com/dotnet/machinelearning/files/4408875/20200102MLModel.zip)

[2020-03-31 16:07] Balu2 commented on #4986
Thanks Justin for your quick answer. When using AutoML API and deterministic setting, would the accuracy also be better than via Model builder?

[2020-03-31 17:52] luisquintanilla opened #4987 "Caching discrepancy between API docs and TrainerInfo.WantCaching property"
There are discrepancies in the docs for trainers on whether caching is required or not.

For example: [MatrixFactorizationTrainer](https://github.com/dotnet/machinelearning/blob/fbd1b93065b451401b1e3276e5ac65b9f303f90b/src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs)

In the documentation, it says caching is required:

| Is caching required? | Yes |

However, the `TrainerInfo` property

[2020-03-31 19:22] derekantrican commented on #630
I would also like to see this. My scenario is that I want to recognize rock climbing related names & locations out of sentence. For instance:

[code]
(where I have a sentence followed by || then all the names/locations separated again by ||)

[2020-03-31 19:30] justinormont commented on #4986
@Balu2: When your data is [IID](https://en.wikipedia.org/wiki/Independent_and_identically_distributed_random_variables), the accuracy should be the same. But if your dataset needs separate train/validate/test datasets, or specific grouping of rows, the API or CLI will give you a better model than Model Builder.

This is most often the case for data which is time dependent, where you'd want newer e

[2020-03-31 20:48] najeeb-kazmi commented on #3869
Closing this issue. Please feel free to reopen if there are more questions.

[2020-03-31 20:48] #3869 closed

[2020-04-01 01:28] harishsk commented on #4663
@CBrauer The attached zip file did not contain the csv files for validation and test. I reduced the training file by 40% and created two new files for validation and test. With that, I have not been able to reproduce the issue you are seeing.

Can you please update the zip file with the necessary files that reproduce the issue?

[2020-04-01 03:32] antoniovs1029 commented on #4981
Thanks. I am taking a look. Also, what kind of exception was thrown? It seems you only included the stacktrace on your description of the issue, but not the exception itself.

[2020-04-01 05:55] strikene commented on #4981
Exception:Collection was modified; enumeration operation may not execute.
![KDY@ZH%TFPJ{S1527}R~2MR](https://user-images.githubusercontent.com/62022463/78103635-fca98e00-741f-11ea-8b05-f6fe5568e965.png)

If I delete the following code, the exception will not appear, and I'm not sure about the correlation.

      #region get tag in model

            var pr = _PredictionEnginePool.Predict("m", new

[2020-04-01 08:42] Balu2 commented on #4986
@justinormont: the data is not IDD. Via a pivot view data of different rows are grouped together in one row. I also created 28 training models because of 28 columns in the defined row that can have data or not (null).
The complete dataset consists of about 130.000 of these grouped rows, where 128.000 rows are used as dataset and 2.000 rows are used a test set.

I will try the API to see what resul

[2020-04-01 15:32] luisquintanilla commented on #4987
Here are the trainers that the documentation requires caching for.

| Trainer                    | Requires Caching | Needs Fix | Notes                                               |
|----------------------------|------------------|-----------|--------------------------------------------------------|
| [MatrixFactorizationTrainer](https://github.com/dotnet/machinelearning/blob/fbd1b93065b451401b1

[2020-04-01 15:37] luisquintanilla commented on #4987
Few questions:

- If most / none of the trainers require caching, what is the purpose of caching then?
- Is the TrainerInfo.WantCaching setting a flag to be used internally by the trainer or is it something that the user can take advantage of with `AppendCacheCheckpoint` as part of an estimator chain?

[2020-04-01 18:00] antoniovs1029 commented on #4981
It seems the way `List<WeakReference> _references` on `PredictionEnginePoolPolicy` is being used is not thread-safe, so this is a bug.

@eerhardt Is looking into this now to fix it.

[2020-04-01 18:00] eerhardt commented on #4914
I noticed this as well debugging #4981. I sent ~2,000 requests to an Azure Function, and in the course of about 40 seconds there were 48,200 of these `WeakReference` objects created, which added up to over 1 MB. Leaking that much memory on a production server is going to cause issues.

![image](https://user-images.githubusercontent.com/8291187/78170118-16df6e00-7418-11ea-9b4f-89f45fc68151.png)

No

[2020-04-01 18:18] antoniovs1029 commented on #3988
So even if a workaround was known for this issue, the underlying problem of not serializing the `SchemaDefinition` objects still remains, and it's a bug that should be fixed eventually.

Furthermore, if PR #4676 gets merged to add the `StatefulCustomMappingTransformer`, then this issue might also affect that.

I am also adding the "Breaking API change" label to this, in case this issue of serializ

[2020-04-01 23:35] #4965 closed

[2020-04-02 00:46] #4981 closed

[2020-04-02 08:13] yaeldekel commented on #4987
Hi @luisquintanilla,
I'm not sure exactly what "is caching required" means - to me it could mean one of two opposite things :).
- It could mean the same thing as `TrainerInfo.WantCaching` - i.e., what the user learns from this documentation is that they may benefit from caching, that it may improve the running time of the training. If this is indeed the meaning, then it is not exactly "required",

[2020-04-02 17:13] #4585 closed

[2020-04-02 18:57] Lynx1820 commented on #3228
@justinormont  Can you share your data?

[2020-04-02 19:42] justinormont commented on #3228
@Lynx1820: This is the Criteo 1TB dataset. I sent you a link internally.

@Sandy4321: You can use the AutoML․NET CLI to create the ML․NET C# code & project (data loaders, pipeline, learner) for the dataset by running on a smaller sample of the dataset. Then change the learner to Naive Bayes. I have run the Criteo 1TB dataset using the CLI; it works well; for a full run you'll want to add `--cache

[2020-04-02 21:07] #4423 closed

[2020-04-02 21:51] najeeb-kazmi commented on #3694
Fixed after changing CI templates to install libomp version 7.0.0 instead of the latest version.

[2020-04-02 21:51] #3694 closed

[2020-04-02 23:36] najeeb-kazmi commented on #4679
Cannot repro this particular issue. Can repro another issue with x86 configuration as described below, but not with x64 or AnyCPU configurations. Please reopen if this is still an issue.

Here is what I tried:
1. Created a project with configuration AnyCPU.
2. Added Image Classification code with Model Builder. It trained correctly and added two projects also with AnyCPU configuration.
3. Ran the

[2020-04-03 00:50] najeeb-kazmi commented on #4449
For refenrece, we are talking about [this sample](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_ImageClassification_TensorFlow).

If this sample project is converted to a class library, and then referenced as an external dependency in a different console app, the ML.NET nuget dependencies still need to be installed in the new console app.

[2020-04-03 00:50] #4449 closed

[2020-04-03 00:54] najeeb-kazmi commented on #4679
SciSharp TensorFlow.NET is not built for x86: https://github.com/SciSharp/TensorFlow.NET/blob/master/TensorFlow.NET.sln

[2020-04-03 04:25] morasblog commented on #4112
follow SnowmanTackler
**it works When running with "x64-bits"**

[2020-04-03 07:12] rauhs commented on #1175
Just another note that the license of Prose is preventing us to use it in our product. We've already shipped Infer.NET in our product since it changed the license.

Is there any updates on changing the license of Prose SDK?

[2020-04-03 16:19] keithrowe commented on #630
Another vote for an ML.NET implementation of NER.

We have a commercial application that runs on the user's machine locally - no cloud processing yet. We would like to be able to do 7-class Named Entity extraction on large bodies of text.

[2020-04-03 22:47] harishsk commented on #4027
The note above clarifies that this is no longer a problem in version Google.Protobuf 3.6 and higher. ML.NET now takes a dependency on v3.10.1.

[2020-04-03 22:47] #4027 closed

[2020-04-03 22:52] najeeb-kazmi commented on #4464
@dmoise2 I'm pretty sure that the first error that you are getting is because you are selecting a multiclass classification scenario, but the column you try to predict has only one value, hence you get type `Vector<Single, 1>` instead of a vector of size 2 or more.

For the second issue, yes, you will have to either clean the data or disallow certain characters. You can also try adding `MLContext.

[2020-04-03 22:53] harishsk commented on #4085
I tested loading the above pipeline in the latest ML.NET and the bug does not occur anymore. ML.NET now takes a dependency on v3.10.1 of google protobuf which has increased buffer size.

[2020-04-03 22:53] #4085 closed

[2020-04-03 22:54] najeeb-kazmi commented on #3887
@justinormont can you link me to the internal dataset on which to reproduce this error?

[2020-04-03 23:18] najeeb-kazmi commented on #4663
We don't need to split the file into train, validation, and test. AutoML does the split internally. I can reproduce the error with the data and code provided. It uses `1.5.0-preview` and `0.17.0-preview`, which do not have the fix for `F1` score returning `0` instead of `Nan` from #4674. The fix for `F1` is there in `preview2`.

I'll look at how `NaN` metrics can be handled in AutoML. `F1` no long

[2020-04-03 23:41] najeeb-kazmi commented on #3659
@rauhs can you give me a sample of the dataset on which this can be reproduced?

[2020-04-03 23:43] najeeb-kazmi commented on #1625
@daholste can you send me the dataset and code with which I can reproduce this issue? The same that you sent to Ivan :)

[2020-04-03 23:52] daholste commented on #1625
Hey, sent!

[2020-04-04 00:18] #4914 closed

[2020-04-04 01:59] veronicaorozco commented on #3919
Hola, tengo el mismo problema, lo lograste solucionar?

[2020-04-04 20:51] justinormont commented on #4464
@dmoise2: You would have to clean the dataset itself.  ML․NET's `TextLoader` currently supports a simplified subset of CSV/TSV. Mainly, it does not support escaped-quotes or newlines in a quoted field.

See more detail: https://github.com/dotnet/machinelearning/issues/4460

It's a bit more code heavy, but if you're using the AutoML API, you can also use a custom CSV reader which emits an `IEumerab

[2020-04-04 21:09] justinormont commented on #3887
My apologies, I don't recall which dataset was used. I did a quick search of datasets from around that data range matching that distribution of text/categorical/numeric columns, and haven't found it.

Without a repro dataset, this would leave looking into SymSGD's `LearnAll()`, which may not be fruitful.

I see two other issues for SymSGD's `LearnAll()`:
* https://github.com/dotnet/machinelearning

[2020-04-05 00:56] Sandy4321 commented on #3228
Do you mean that classifier model will be built only on small data
And under running on full data you mean only prediction?

[2020-04-05 09:43] JomanjiPT commented on #3919
I had to put the "MatrixFactorizationNative.dll" into the "C:\Windows\SysWOW64" of the server (windows server 2012 R2).

[2020-04-06 03:39] maacpiash commented on #86
Any progress on GPU support?

[2020-04-06 07:06] justinormont commented on #3228
@Sandy4321: You'll  train on the subsample, just to have it produce the C# code for a pipeline for the dataset. After switching the trainer to Naive Bayes, you can then use the generated C# code to train a model from the pipeline on full 1TB dataset.

As a side note, the Target Encoding (dracula) transform works well on the Criteo 1TB dataset: https://docs.microsoft.com/en-us/archive/blogs/machine

[2020-04-06 08:05] SkyQuant commented on #4879
So what?! Where is my Model and Code?

![image](https://user-images.githubusercontent.com/6097882/78536168-14a15900-77f6-11ea-97f1-2e41ff6c41d6.png)

[2020-04-06 08:57] turowicz commented on #86
I've migrated to [NVIDIA Triton Server](https://github.com/NVIDIA/triton-inference-server/) for inference. It decouples inferencing my .NET code and is way better for model management, versioning and load-balancing across multiple GPUs. It's also much faster than Tensorflow Serving, should anyone wonder.

[2020-04-06 09:24] rauhs commented on #3659
I'm sure there is a smaller example but this reproduces it with version 1.5.0-preview:

[code]

[2020-04-06 13:43] maacpiash commented on #4709
I was having the same issue. Using `path` here instead of  `modelPath` did the job for me.

[2020-04-06 15:10] SkyQuant opened #5001 "📝 Alternative ways to prepare dataset"
How can I extract model class because builder doesn't work? (error https://github.com/dotnet/machinelearning/issues/4879)

Can I train simple matrix, like
`           var labels = new List<double>();
            var features = new List<List<double>>();`

Or dataframe loaded by **CsvHelper**?

Any other alternatives to prepare dataset?

[2020-04-06 16:40] harishsk commented on #4709
@Cyrus-Sushiant Can you please try the recommendation above and reopen the issue if that doesn't work?

[2020-04-06 16:40] #4709 closed

[2020-04-06 17:44] luisquintanilla commented on #4085
Confirmed. I no longer get the error reported on this issue.

[2020-04-06 21:10] justinormont commented on #3228
@Lynx1820: For fixing this issue, it may be as easy as moving a set of variables from `int` to `long`:
https://github.com/dotnet/machinelearning/blob/77e7f98c48a692bba0c0316e6c2c54139e4e62d9/src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs#L241-L246

And a few other `int` variables:
https://github.com/dotnet/machinelearning/blob/77e7f98c48a692bba0c

[2020-04-06 22:25] antoniovs1029 commented on #1175
Hi @rauhs . We don't have any update regarding this topic.

[2020-04-06 22:32] antoniovs1029 commented on #3272
I was able to reproduce this issue. There have been some changes on the API since this Issue was opened, so just for the record I'll leave here a full repro using the latest API. I will look into this.

[code]

[2020-04-06 23:58] mstfbl commented on #4982
Hey @luisquintanilla , the method used to retrieve the full paths of files using wildcards, `StreamUtils.Expand` does not currently support retrieving wildcard files from wildcard folders, like `"DataFolder/*/*"`. I'm working on integrating this feature.

[2020-04-07 03:47] mstfbl commented on #4046
Hi @NeoXtreem , I have changed the name of the directory that includes a build of ML.NET, and reproduced your issue. I get the following error (notice the space in `machinelearning-release 3`):

[2020-04-07 05:42] mstfbl commented on #4046
The issue seems to stem from this line, though I'm confused what's happening here:

https://github.com/dotnet/machinelearning/blob/f94f359a5c52ce797b747e1b240c789696c31985/src/Native/build.cmd#L31

@antoniovs1029 @harishsk any ideas?

[2020-04-07 07:54] xtremertx commented on #4085
Awesome work, gonna to try it! 👍

[2020-04-07 08:14] xtremertx commented on #4065
Gonna to try that and give you some feedback.

[2020-04-07 15:46] ittahad commented on #4154
Hey!! did you find the solution to this? I am also wondering the same thing!!

[2020-04-07 16:45] harishsk commented on #86
closing this as it original question has been answered

[2020-04-07 16:45] #86 closed

[2020-04-07 18:26] gvashishtha opened #5007 "Remarks section appears malformed"
Docs rendering bug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce7a249f-fd8a-5869-8dc7-9142e7cba9d2
* Version Independent ID: 58ab615c-8c4b-b22c-57fc-99872b0d5445
* Content: [SsaForecastingEstimator Class (Microsoft.ML.Transforms.TimeSeries)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.transforms.timese

[2020-04-08 00:44] pthinh14 commented on #4870
I want to use ml.net embedded class library as a plugin in another application. I followed all the fix above but it seems not work although it works with normal windows application.

The exceptions are Unable to load DLL 'tensorflow' or one of its dependencies: The specified module could not be found. (Exception from HRESULT: 0x8007007E)  and the same for 'CpuMathNative.'
When I add these two dll

[2020-04-08 05:06] #3707 closed

[2020-04-08 17:06] #4982 closed

[2020-04-08 17:19] eerhardt commented on #4870
@pthinh14 - for the `tensorflow` one, you need to explicitly reference the `SciSharp.TensorFlow.Redist` package. See https://github.com/dotnet/machinelearning/blob/master/docs/api-reference/tensorflow-usage.md

[2020-04-08 17:23] najeeb-kazmi commented on #3903
These additional steps have been documented here: https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-extra-dependencies

[2020-04-08 17:23] #3903 closed

[2020-04-08 17:28] najeeb-kazmi commented on #3722
We have taken a dependency on libomp version 7.0.0 rather than installing the latest version.
`brew install libomp` will install the latest version, which we do not want as it means testing and possibly updating ML.NET to be compatible with the latest version whenever a new version is released.

In homebrew, it is possible to install a specific version `brew install libomp@7.0.0` only if a "tap" i

[2020-04-08 17:28] #3722 closed

[2020-04-08 17:29] najeeb-kazmi commented on #4464
@dmoise2 please feel free to reopen if you have other questions.

[2020-04-08 17:29] #4464 closed

[2020-04-08 17:33] harishsk commented on #4870
@eerhardt Thanks for responding.
@pthinh14 I am closing the issue. Please reopen if @eerhardt's response doesn't help and you need more clarification.

[2020-04-08 17:33] #4870 closed

[2020-04-08 17:50] luislhg opened #5009 "Model Builder Error when trying to Train data to Image Class"
### System information

- Windows 10 Pro
- .NET 4.8 and .NET Core 3.1:
- Memory 12GB
- Processor Intel Core i7 CPU 950 @ 3.07GHz

### Issue

- Tried to train an image classification using the Model Builder.

Steps: Create a project.
Add a Machine Learning through solution explorer, then in the ML.NET Model Builder:

1. Scenario -> Image Classification
2. Data -> A folder with around 8.000 images (

[2020-04-08 17:51] LittleLittleCloud commented on #5009
Seems to be an issue with ML.Net's ImageClassification API, Could you guys help take a look

[2020-04-08 20:10] frank-dong-ms commented on #5009
@luislhg Could you please provide a repro project so I can try to reproduce in my local?

[2020-04-09 02:18] najeeb-kazmi commented on #3659
Upon further investigation, I have found that this is not because of CountFeatureSelection, but because of how `CategoricalSlotRanges` is determined in the schema annotation and how `catBoundaries` and `catThresholds` are used
https://github.com/dotnet/machinelearning/blob/f94f359a5c52ce797b747e1b240c789696c31985/src/Microsoft.ML.LightGbm/WrappedLightGbmBooster.cs#L189-L190
https://github.com/dotn

[2020-04-09 09:20] antoniovs1029 commented on #4970
Notice that there exists a simple workaround where the user could actually add a ColumnSelectingTransformer after applying the Onnx model, to remove whatever columns the onnx model didn't remove.

Notice that this workaround can also work in NimbusML, by adding a ColumnSelector after an OnnxRunner.

[2020-04-09 11:37] pthinh14 commented on #4870
@eerhardt that application keeps saying Unable to load DLL 'tensorflow' or one of its dependencies although I did reference SciSharp.TensorFlow.Redist. I'm not sure if explicitly add tensorflow.dll to my managed code is a good idea. Hope to see your view on that.

[2020-04-09 12:21] asif48 commented on #4980
Hi antoniovs1029 !
Apologizing for being late...Can you share the link of Bug Detection solution or any that has date involvement in the processing...

Inconvenience Regretted...

[2020-04-09 14:16] tzinckgraf opened #5657 "DataFrame Merge Multiple Columns"
The `Merge` function can only take two strings for column names on the merge. It would be great if we can merge across multiple columns.

As a suggestion, maybe something like the pandas merge statement. Below is from the merge statement documentation in pandas:

on: label or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on index

[2020-04-09 15:08] eerhardt commented on #4870
Did you reference `SciSharp.TensorFlow.Redist` from your application's .csproj?

[2020-04-09 17:20] antoniovs1029 commented on #4980
I am still not sure what `TaxiFairExample` are you referring to. Can you please share your code and sample dataset to know what your use case is?

On the other hand, if you want to predict if a Taxi is likely to puncture or not in a _future_ date then you might want to take a look to the Forcasting samples. I believe those samples don't use DateTime though, so it might be useful for your case:

[F

[2020-04-09 17:41] asif48 commented on #4980
I have used these examples, the accuracy of Regression is somewhat acceptable but the accuracy of Time Series is quite vague. I have posted question regarding its accuracy here

https://github.com/dotnet/machinelearning-samples/issues/799

I would be glad if you can reply to this thread.
Thanking for your cooperation!

[2020-04-09 17:47] antoniovs1029 commented on #4980
In the meantime, is your original question on how to use DateTime columns as input resolved?

[2020-04-09 17:48] asif48 commented on #4980
no not resolved...I am trying to find the code (its a week before I worked at it)...I will let you know...

[2020-04-09 19:10] asif48 commented on #4980
Hi antoniovs1029 ...
The solution was not TaxiFairExample instead it was  [MLNetSotck](https://www.codeproject.com/Articles/1256360/Getting-Started-with-Machine-Learning-DotNet-ML-NE) (My apologizing plz)...

The csv to train the model is as below. (Car got punctured on alternate days of the month on a location 1)
![CarCSV](https://user-images.githubusercontent.com/7997380/78930884-43515500-7abe-1

[2020-04-09 19:25] antoniovs1029 commented on #4980
Can you please send a .zip containing the model and sample dataset so I can see more info, such as how you're loading the data, what kind of trainer are you using and the like?

[2020-04-09 19:30] asif48 commented on #4980
yes sure...
but I dont know to upload a zip to github...can you send me ur email...?

[2020-04-09 19:31] antoniovs1029 commented on #4980
you can simply drag and drop the file inside the comment text box in github, or you can upload it elsewhere and share the link in here 😄

[2020-04-09 19:39] asif48 commented on #4980
Thanks ...

Meanwhile I have done one change in the attached project ...I have converted DateTime to string and now it has started to predict the result. The train data has the Punctured value in the form of 0 and 1 but the prediction is 0.5 (ceiling function will not work)...

I need the result in the form of 0 and 1.

[MLNETCar.zip](https://github.com/dotnet/machinelearning/files/4458243/MLNETCa

[2020-04-09 23:25] antoniovs1029 commented on #3272
I've realized that this exception only appears if the training dataset of the LightGBM trainer has 50,001 rows or more. If I take only the first 50,000 or less rows to train, then the exception doesn't appear, and everything works as expected.

This happens because if the training set has over 50,000 rows, then this method will construct Categorical Feature Metadata.

https://github.com/dotnet/mac

[2020-04-09 23:58] luislhg commented on #5009
@frank-dong-ms Yes... although it is not really project dependent... I just followed the repro steps at my first post reporting the issue.

This is the project (just a blank WPF .NET 4.8 project, I already tried with others and with .NET Core 3.1 as well, same issue)
But here it goes:
[MLNET_IssueReport.zip](https://github.com/dotnet/machinelearning/files/4459147/MLNET_IssueReport.zip)

Also I rec

[2020-04-10 01:00] pthinh14 commented on #4870
@eerhardt I assume I did
`    <PackageReference Include="SciSharp.TensorFlow.Redist">
      <Version>2.1.0</Version>
    </PackageReference>`

I did the same and it works for a normal WPF application but when I move to class library and inject it to another application, it keeps showing this message

[2020-04-10 02:44] antoniovs1029 commented on #3272
The particular exception of this sample comes because any given `InternalRegressionTree` of the trained model has a `SplitFeatures` array with negative values (in one particular run it's `SplitFeatures = [-1, 8, 7]`, it seems there's always a -1) which is then used in the `AppendFeatureContributions` method to get a value from a VBuffer, so it throws when trying to access the negative index.

http

[2020-04-10 03:04] eerhardt commented on #4870
Did you also tell your application to target `x64`?

[2020-04-10 03:29] pthinh14 commented on #4870
Yes, I did. I tried many proposed solutions but they seem not working in this case.
Please have a look at https://github.com/pthinh14/restructure-model-tool

[2020-04-10 04:41] frank-dong-ms commented on #5009
@luislhg I download your project and still no repro, could you try to install latest version of Model Builder (if it is already latest version then try a remove and intall Model Builder). Also, are you able to repro this issue in other computer, I tried on several different computers and they all works fine?

[2020-04-10 05:45] harishsk commented on #4870
@pthinh14 ML.NET hasn't been tested with Scisharp.TensorFlow.Redist version 2.1.0.

We are currently on version 1.14.0. Can you try that version?

[2020-04-10 05:56] luislhg commented on #5009
@frank-dong-ms Ok, so two scenarios.

1) I uninstalled the extension and installed again on this computer and still nothing. Same error.

2) I did try on a newer laptop (with newer generation of I7) and it did work apparently (just the ResNet download still times out, I had to download manually and place it in the temp folder).

So I did some research and apparently TensorFlow doesn't work with th

[2020-04-10 07:44] #4675 closed

[2020-04-10 08:55] pthinh14 commented on #4870
@harishsk I tried but it did not work.

[2020-04-10 15:29] eerhardt commented on #4870
@pthinh14 - The project you linked above is not an application - it is a Class Library. When I said "application" above, I specifically meant the project that outputs an `.exe`.

[2020-04-10 15:30] andrewkittredge commented on #4870
@eerhardt Do projects that reference projects that reference the ml.net nuget packages have to reference the nuget packages themselves?

We have a asp.net site that references a project that uses the ml.net packages.  Both of our projects are set to x64.  Periodically it stops working with the Unable to load DLL 'CpuMathNative' error.

[2020-04-10 15:58] eerhardt commented on #4870
From what I've noticed it depends on what kind of .csproj you are using with all of them.

If you are using the traditional `.csproj` style (you don't have `<Project Sdk="Microsoft.NET.Sdk">` at the top) and are using `packages.config`, then yes you need all the references in the application `.csproj`.

If you are using the traditional `.csproj` style and are using `<PackageReference` in your appl

[2020-04-10 20:10] najeeb-kazmi commented on #3659
More on this, re: values of variables in (relevant diffs in **bold**)
https://github.com/dotnet/machinelearning/blob/f94f359a5c52ce797b747e1b240c789696c31985/src/Microsoft.ML.LightGbm/WrappedLightGbmBooster.cs#L208-L247

|                                                   | A only                          | A and B                           |
|---------------------------------------------------|--

[2020-04-10 22:45] najeeb-kazmi commented on #1625
Hey @daholste, I wan't able to reproduce this at all, neither in TLC nor in ML.NET. And it looks like the Models.PipelineSweeper and Rocket components in the graph (along with the execgraph command) were removed in ML.NET some time ago. In any case, there was no repro even when using LightGbm from the command line or API since the dataset is only numerical columns, and the `Categorical split featu

[2020-04-10 22:45] #1625 closed

[2020-04-11 08:53] kevencarneiro opened #5016 "Build failed in non-english cultures using build.sh"
### System information

- **OS version/distro**: Mac OS Catalina
- **.NET Version (eg., dotnet --info)**: 3.1.200

### Issue

- **What did you do?**
Cloned the repository and builded the project using build.sh file
- **What happened?**
The project `Microsoft.ML.FSharp.Tests.fsproj` fails to build with error FS0246. My default localization use comma to separate decimal places and when it's building

[2020-04-11 13:25] guolinke commented on #3659
@najeeb-kazmi from the log, it seems the bug is caused by wrong mapping from feature index to cat index

[2020-04-12 10:40] asif48 commented on #4980
antoniovs1029 if you are there?

[2020-04-13 01:45] dcostea opened #5020 "Error scoring Tensorflow model mtcnn.pb. The second input must be a scalar, but it has shape [1,1]"
### System information

- **OS version/distro**: Win10
- **.NET Version (eg., dotnet --info)**:  .NET Core 3.1

### Issue

- **What did you do?** I have run TensorFlow scoring using mtcnn.pb model
- **What happened?** I got Tensorflow.TensorflowException: The second input must be a scalar, but it has shape [1,1]
	 [[Node: _clooppnet/while/add/y/_2 = Switch[T=DT_FLOAT, _device="/job:localhost/repli

[2020-04-13 05:44] mstfbl commented on #4910
Hey @ddobric , can you provide sample code and data for which you've used to obtain the difference in your results above? It'll be helpful in testing the validity of a PR to fix this issue. Thanks!

[2020-04-13 09:58] theolivenbaum commented on #4366
Someone reported this issue on our [Catalyst NLP](https://github.com/curiosity-ai/catalyst/) library, easy to reproduce:

[2020-04-13 12:05] Atulkumargupta17 commented on #4065
I also experienced the same issue,
After installing the `SciSharp.TensorFlow.Redist`  version `1.14.0` , I am allowed to execute the Image classification.

[2020-04-13 17:36] antoniovs1029 commented on #3919
Hi, @JomanjiPT since you've found the solution for your problem I will close this issue. Please, feel free to reopen it if you're still having problems with this. Thanks!

[2020-04-13 17:36] #3919 closed

[2020-04-13 18:12] antoniovs1029 commented on #4986
Hi. Since your original problem of having different accuracies with ModelBuilder has already been addressed by @justinormont 's responses I will close this issue. Please feel free to reopen it if you're still having problems on that specific regard.

[2020-04-13 18:12] #4986 closed

[2020-04-13 20:01] abindh opened #5022 "ML.Ranking LightGBM - Getting error "Value cannot be null. Parameter name: items""
### System information

- Windows:
- .net Core 3.0:

### Issue

- I am trying to generate a simple ranking of candidates based on a few features for a recruitment application.
- But when running the trainer, I get the following message which is not clear - "Value cannot be null. Parameter name: items"

### Source code / logs

![Capture](https://user-images.githubusercontent.com/12490592/79155380-f

[2020-04-13 20:53] antoniovs1029 commented on #5022
Hi. Can you please include the complete stack trace?

Also, if you could share a .zip containing your project and some sample data would make it easier to reproduce your problem, and also have a look on how are you loading the data. Thanks!

[2020-04-13 21:50] antoniovs1029 commented on #3766
By working on issue #3272 (and PR #5018) it looks to me that that issue is similar in nature to the issue in here.

The issue in here is obtaining the Gains from the following code, which is obtaining the feature's indices from SplitFeatures[node].

[https://github.com/dotnet/machinelearning/blob/8660ecc7742a02ac896dc77c93c67c366ff4647e/src/Microsoft.ML.FastTree/TreeEnsemble/InternalRegressionTree

[2020-04-14 02:58] antoniovs1029 commented on #4970
After discussing this offline with @harishsk  and @yaeldekel we've come to the conclusion that it isn't clear if this issue should be fixed or not (i.e. if it's a real issue or not). So we've leaned towards not fixing it, unless it becomes a problem for real users.

The work that I made towards fixing it on PR #5012 has been saved in a new branch on this repository:
https://github.com/dotnet/machi

[2020-04-14 03:43] antoniovs1029 commented on #4795
Hi, @patmaasridharan . Are you still having this problem?

Sorry for the delay.

Since your last update ML.NET v 1.5.0-preview2 was released, and it had several changes on OnnxTransformer and also has an updated dependency on OnnxRuntime 1.2.0.

I've now tried your sample with your model and I didn't get your exception. So my guess is that that problem is now gone. The Onnx model seems to be corre

[2020-04-14 05:10] gvashishtha commented on #5020
We're unfortunately not able to reproduce this error, as we can't load your model (apparently it was compiled on a CPU that doesn't support all operators).

Without being able to load your model myself, my guess is that your min_size and factor inputs are defined incorrectly. Your model appears to be expecting floats as inputs, but your InputData class defines them as float arrays.

Try changing t

[2020-04-14 07:35] antoniovs1029 commented on #4795
So I still don't know what the 5 "channels" of the input and output of the ONNX model are supposed to be.

But I tried adding 2 more channels to the RGB channels that were already loaded from the images. I filled these 2 channels with '0's. And after making some changes to your code, I got this output:

![mlout](https://user-images.githubusercontent.com/38739674/79196986-de5f6d00-7de5-11ea-8c6b-74

[2020-04-14 07:35] #4795 closed

[2020-04-14 18:24] antoniovs1029 commented on #3766
Hi, @rauhs . So it seems the solution to this should be very straightforward. Do you happen to have any repro to test this with the solution I'm working on, and see if the results are what you would expect? thanks!

[2020-04-14 23:55] najeeb-kazmi commented on #3887
Let's reopen this if and when we have a repro, or someone files an issue with the same error again.

[2020-04-14 23:55] #3887 closed

[2020-04-15 00:51] frank-dong-ms commented on #2087
Test is passing after upgrade to dotnet core 3.1

[2020-04-15 00:51] #2087 closed

[2020-04-15 03:53] mstfbl commented on #4686
PR #4957 fixed this, and put procdump.exe in the Tools folder.

[2020-04-15 03:53] #4686 closed

[2020-04-15 04:57] rauhs commented on #3766
Thanks for working on this. I don't have a repo right now as I'm on vacation. If absolutely necessary I can provide some next week

[2020-04-15 05:44] antoniovs1029 commented on #4383
Hi @volitantns . Sorry for the delay. I've just realized that no dataset was needed, since you're actually generating data inside your code.

I've taken a closer look and the problem isn't that you're retraining. **CreatePredictionEngine does work with retrained models, so this isn't a bug**. The problem is that the model that you're passing to the `CreatePredictionEngine` isn't the correct one.

[2020-04-15 05:46] antoniovs1029 commented on #4383
Now, here I have an updated version of your original code, which fixes the problem following the principles on the sample above.

[code]

[2020-04-15 05:46] antoniovs1029 commented on #4383
I will close this issue, since it wasn't really a bug. Feel free to reopen it if you're still having problems with the solution I suggested. Thanks.

[2020-04-15 05:46] #4383 closed

[2020-04-15 06:17] antoniovs1029 commented on #3766
Thanks for answering, @rauhs . It's not completely necessary, as creating a model that uses categorical splits is easy. Still, if possible, I would really like to have a repro from your side, since it always help to get to know how users are using ML.NET 😄 So I would still like to wait to whenever you can provide a repro to test the solution. Thanks!

[2020-04-15 11:52] hobbsa commented on #630
+1 to NER
Also, I think from a .NET perspective, something like spaCY would be the best use case.  We use it now (because there is no .Net equivalent) and it works great.

1. Start with POS tagging so it then becomes easier to understand tokens in context.
2. Provide ability to train custom tokens (a great example out there is the Go/Golang training videos on using spaCY)
3. Provide out of box, pr

[2020-04-15 12:35] MarinaBodrasheva commented on #3903
Hi guys! Is there any way to fix it for Windows? Running  the app in Docker windows image

I have installed all required nuget packages  (Microsoft.ML.TimeSeries, Microsoft.ML.AutoML) but still the same error =(...

[2020-04-15 17:08] #5007 closed

[2020-04-15 17:20] CBrauer opened #5028 "A CLI-script does not produce the same results as the generated C# code."
Hey Guys,

I have found that the C# source code that is generated by the CLI script does not agree with the script output.

I have modified the solution that is generated by a cli-script to see it they agree.  The cli-script shows metric values that I cannot duplicate with the code that was generated by the script.

I believe that the MLModel.zip file is not for the optimal solution found by the s

[2020-04-15 22:02] dcostea commented on #5020
Thank you very much, Gopal, for your answer.

`[ColumnName("min_size")]
public float MinSize { get; set; }
[ColumnName("factor")]
public float Factor { get; set; }`

I had this previously, before changing to float array and decorating with VectorType(1), and the exception was:
**System.ArgumentOutOfRangeException: Schema mismatch for input column 'min_size': expected vector, got Single (Parameter

[2020-04-15 23:39] coutaq opened #5030 "I cannot save the model for some weird reason."
### System information

- **OS version/distro**:win10-x64
- **.NET Version (eg., dotnet --info)**: 3.1.101

### Issue

- **Have been playing around with machine learning as of late, made a basic machine learning algorithm. It was working perfectly and then I broke something and now it refuses to save the model.**
- **I cannot save the model. I'm not sure what caused that. I'm a beginner.**
- **Tha

[2020-04-16 02:10] antoniovs1029 commented on #4980
Hi, @asif48

So I took a look into your code, and I noticed that you're using ML.NET version 0.4.0. We don't advice using ML.NET's versions that were released before version 1; in general, there were different bugs, and the API was pretty unstable at the time, and it changed a lot before the realease of version 1. So please, use a version that is equal or greater than version 1 (ideally, we'll alw

[2020-04-16 02:12] antoniovs1029 commented on #4980
Returning to your original issue (about loading DateTime columns from a .csv file). If I run your code as-is (with ML.NET version 0.4) I do get the exception you were getting. But I don't get that exception in ML.NET 1.5. So the following code will run with no exceptions:

[code]

(if you're not familiar with the "Preview" method, you simply need to add a breakpoint after it's called, and debug th

[2020-04-16 02:12] #4980 closed

[2020-04-16 06:25] JacksonKearl opened #5032 "Inspect AutoML parameter choices"
Currently when I run an AutoML experiment either from the CLI or manually, I get a log of the runs and the best run, but I can't seem to access the actual parameters (maxIterations, regularizations, etc.) that it used for that run. This makes it very difficult to reproduce single well performing runs.

Is there any way to get the hyperparameter config for the runs AutoML is queuing? Could this be

[2020-04-16 06:27] JacksonKearl commented on #5032
Here for instance, the best runs were all towards the bottom of the experiment, but I have no clue how to reproduce them without running the whole thing over again.
![image](https://user-images.githubusercontent.com/8586769/79421868-9456c280-7f70-11ea-81a1-e780b9bf7066.png)

[2020-04-16 07:05] antoniovs1029 commented on #3830
Hi, @Ianpwest @RahulKumar4 . I have tried to reproduce your issue (both in ASP.NET and by creating a nuget package, both on .Net Framework 4.7.2, and the ASP.NET also on .Net Framework 4.6.1), but I've actually gotten an exception right on the .Fit() method you're pointing to, while running this on debug mode. So I am not sure if I'm doing something wrong when replicating the issue, and I would ap

[2020-04-16 14:00] Zeraphil opened #5033 "Unexpected behavior using multiple pipelines for training vs one"
### System information

- **OS version/distro**:

- **.NET Version (eg., dotnet --info)**:

### Issue

-**What did I do?**
- Instead of one training pipeline, I split the pipeline to fit and transform the data into a featurized IDataView, and used that to train a classifier
-**What happened?**
Classifier accuracy was 50% of accuracy when the training pipeline is a complete chain.
-**What did I exp

[2020-04-16 18:58] gvashishtha commented on #5032
@justinormont can you comment on this? Good to hear from you, Jackson.

[2020-04-16 19:01] gvashishtha commented on #5033
I understand your problem, can you share some example code and sample data so I can attempt to reproduce this issue?

[2020-04-16 19:50] JacksonKearl commented on #5032
@gvashishtha hey Gopal,

When I run from the CLI code is generated, but I believe that also doesn’t include the hyperparameters. However this is running from the API, which does not generate code. I need to run from API to customize the runner in ways the CLI does not allow.

[2020-04-16 20:45] antoniovs1029 commented on #3830
So I've been able to remove the exception on my last post by manually copying the CpuMathNative.dll file into the bin folder where the app is running. Now I am able to reproduce your issue, as the .Fit() method isn't returning even after some minutes.

It seems the exception I was getting is related to the fact that my newly created ASP.NET Framework app is using the Package.config format instead

[2020-04-16 21:17] justinormont commented on #5032
# Missing hyperparameters in CodeGen

@JacksonKearl : When the CodeGen runs from the CLI or Model Builder, the best pipeline is created in C# code including the hyperparameters.

The case where you do not see hyperparameters is when the default hyperparameters is the winning pipeline. Default hyperparameters are implicit and are not listed.

AutoML sweeping strategy:
* First tries default hyperpar

[2020-04-16 21:23] gvashishtha commented on #5030
Is it possible you are saving in a directory with a long name? I wonder if you are exceeding the maxPathLength parameter.

[2020-04-17 01:40] coutaq commented on #5030
I don't think it is; I was saving to was C:\Users\Michael\source\repos\new\MachineLearingTest\bin\x64\Debug\MLModel.zip, but I just tried to save to D:\MLModel.zip and it still was 'illegal'.

[2020-04-17 02:22] gvashishtha commented on #5028
@justinormont I was able to reproduce this behavior. .7906 accuracy when training on Windows Subsystem for Linux, .7325 accuracy when running the generated code in Visual Studio. Is this behavior expected?

[2020-04-17 02:31] gvashishtha commented on #5030
OK, can you share a link to some fileshare with your whole solution so I can try to reproduce the error?

[2020-04-17 02:33] coutaq commented on #5030
yes sure here you go https://github.com/coutaq/machine-learning-test

[2020-04-17 03:22] Zeraphil commented on #5033
Thank you. I've reworked the issue using the Github multiclass classification problem from the tutorial. I can supply the code so that you can drop straight into that solution and see if there's anything glaring I'm missing.

[TextClassification.zip](https://github.com/dotnet/machinelearning/files/4490750/TextClassification.zip)

Supplying said project here.

[2020-04-17 05:11] gvashishtha commented on #5030
OK, thank you. I was able to reproduce the issue. Looks like it in [this line](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Core/Data/Repository.cs#L309), the value of the RepositoryWriter assembly location is being passed as an empty string, which is causing the error you're seeing.

@antoniovs1029 can you help me go deeper here? Is this an expected issue?

[2020-04-17 12:34] justinormont commented on #5028
Two issues: differing evaluation datasets, and leakage due to SMOTE.

The metrics printed in the CLI are evaluated on the validation dataset. The metrics calculated in the CodeGen'd code is evaluated on your test dataset.

Currently, the test dataset metrics are only reported from the CodeGen'd code, and not in the CLI.

Feature request -- The CLI and Model Builder should report test set metrics f

[2020-04-17 13:24] CBrauer commented on #5028
Thank you for your explanation.

From: Justin Ormont <notifications@github.com>
Sent: Friday, April 17, 2020 5:35 AM
To: dotnet/machinelearning <machinelearning@noreply.github.com>
Cc: Charles Brauer <CBrauer@CypressPoint.com>; Author <author@noreply.github.com>
Subject: Re: [dotnet/machinelearning] A CLI-script does not produce the same results as the generated C# code. (#5028)

Two issues: diffe

[2020-04-17 14:07] CBrauer commented on #5028
Hi Justin,

First of all… shame on you. You work for Microsoft, and you should be running on Windows 10, like me.

In your previous email, you said SMOTE produces “data Leakage”. That is a new one on me.  I have never heard of that one before.  Besides, my training dataset was pre-processed, and one of the steps was to remove duplicate rows.  There are no duplicate rows in the training set.

The r

[2020-04-17 14:14] CBrauer commented on #5028
Hi Gopal,

First of all… shame on you. You work for Microsoft, and you should be running on Windows 10, like me.

In a previous email, Justin Ormont said SMOTE produces “data Leakage”. That is a new one on me.  I have never heard of that one before.  Besides, my training dataset was pre-processed, and one of the steps was to remove duplicate rows.  There are no duplicate rows in the training set.

[2020-04-17 15:46] #5016 closed

[2020-04-17 21:02] mstfbl commented on #3228
Here are the min/max values for int, uint and long:

As the aforomentioned Criteo 1 TB database has around ~4.4 billion rows, it makes sense to utilize long arrays and matrices for storing labels and features in their respective histograms.

[2020-04-17 21:46] antoniovs1029 commented on #5030
Hi, @coutaq . So I'm still not sure why you're getting this exception.

I noticed that if I revert the [last commit](https://github.com/coutaq/machine-learning-test/commit/23d0036a847589937fa6c1c230810192fa21c833) on your repo, the model is correctly saved to disk and it's possible to load it back as well without any problem. In that last commit you actually didn't change anything in your ML.NET p

[2020-04-17 22:46] antoniovs1029 commented on #5022
So I got to reproduce your issue, by taking the data on your screenshot. The stack trace was as follows, and I will now look into this.

[code]

[2020-04-18 00:00] antoniovs1029 commented on #5022
So this seems to be indeed a bug on ML.NET. What happens is that the Tree that is returned by LightGBM has only 1 node, which is a leave, and whose value is 0. Because of this, the next code will leave `tree = new InternalRegressionTree(2);` (i.e. leafOutput[0] _is_ 0).

https://github.com/dotnet/machinelearning/blob/41c5fc34f30f46541235369064fb5c9ccd3c6587/src/Microsoft.ML.LightGbm/WrappedLightGb

[2020-04-18 00:19] antoniovs1029 commented on #5022
Still, it's noticeable that I get Trees with only one leave with "0" when training your data. It means that even after fixing this exception, everything you use as input of the predictor, will predict that your input is of rank "0". I'm not sure what the interpretation of this would be since in your training data you only have ranks from 1 to 4... perhaps that you need more data or play around wit

[2020-04-18 00:39] coutaq commented on #5030
Hi there! I'm not entirely sure why I changed the ML.LightGbm's version, most likely by mistake for I am new to nuget and libraries in C#. I did download it using the package manager, and changing the versions to match does not seem to work for me either.
The native folder is indeed from Microsoft.ML, I manually downloaded it to try to figure out what the hell was an 'illegal path' and what code t

[2020-04-18 04:07] antoniovs1029 commented on #5030
Mmm I see. Why don't you try reverting back to this other commit?
https://github.com/coutaq/machine-learning-test/commit/ffefbd4c87428e1aa817e169f3fbf1cb8c6d51b8

As I mentioned earlier, I tried that and it saved the model correctly. It seems that between that commit and the next one (which broke saving the model) you didn't change much of your code, but you did changed several dependencies and do

[2020-04-18 08:08] abindh commented on #5022
Firstly thank you taking time to look at this. Sorry for the delayed reply - I did not have access to internet for last couple of days.
Looking at your comments, I have now scaled the data to 100 rows and this works without any errors/exceptions. It would be good to get a better error message at least - I just din't know what to do when I got that error.

[2020-04-18 15:18] phanxuanduc1996 commented on #4085
What is your full Yolov3 output? "grid" or "output" + "classLabel".
Can someone show me how to convert .weights -> .onnx with the output as "grid"?

[2020-04-18 20:18] SkyQuant commented on #5001
In case of dataset opening in Excel and save it back to .csv the problem is disappearing. Suspect solution is
1. Delete delimiter like semicolon in the end of each row. The Builder have to clear (trim) it automatically.
2. Digits too long to parse doubles as floats.

[2020-04-18 20:18] #5001 closed

[2020-04-19 02:08] Sandy4321 commented on #3228
Good idea

[2020-04-19 12:02] hamdidamar commented on #93
I think the problem will be solved in the next version, temporarily type
--"  Install-Package Microsoft.ML -Version 1.5.0-preview  "--
and run it in the package manager

[2020-04-20 09:28] rauhs commented on #3766
With this code I get an indexoutofbound exception:

I can't reproduce the "-1" right now with using the synthetic data.

[code]

[2020-04-20 18:50] antoniovs1029 commented on #3830
Hi, @Ianpwest  and @RahulKumar4 . Updating to ML.NET version `1.5.0-preview1` or -`preview2` fixes this issue.

I was able to reproduce this issue with ML.NET version 1.0 (which is probably the version you were using at the time this issue got created) and 1.4.0 (which is the last non-preview version that ML.NET has released). But it is solved on preview of 1.5.

Also, for the record, I noticed th

[2020-04-20 18:50] #3830 closed

[2020-04-20 20:16] antoniovs1029 commented on #4767
Hi @actopozipc . So I wasn't able to reproduce your issue, but I would recommend trying out updating your ML.NET references to version 1.5.0-preview2. Issue #3830 was very similar to your issue, and I've recently found that updating to 1.5.0preview1 or preview2 actually fixed it. Please, let us know if this fixes your issue.

To try to reproduce this issue, I cloned your repo and tried to ran it a

[2020-04-20 20:21] antoniovs1029 commented on #4767
Hi @actopozipc . So I wasn't able to reproduce your issue, but I would recommend trying out updating your ML.NET references to version 1.5.0-preview2. Issue #3830 was very similar to your issue, and I've recently found that updating to 1.5.0preview1 or preview2 actually fixed it. Please, let us know if this fixes your issue.

To try to reproduce this issue, I cloned your repo and tried to ran it a

[2020-04-20 22:21] najeeb-kazmi opened #5042 "Return average metrics in AutoML CrossValSummaryRunner"
Related to #4663
See also https://github.com/dotnet/machinelearning/pull/5031#discussion_r409233020

`CrossValSummaryRunner` in AutoML gets invoked when the dataset size is less than 15k rows. It runs 10-fold cross validation and computes the average optimization metric across the folds. It then reports all the metrics from the fold that has the optimization metric closest to this average.
https:/

[2020-04-20 23:18] #1474 closed

[2020-04-20 23:32] frank-dong-ms commented on #1474
Introduced threading analyzer and fix hanging:
https://github.com/dotnet/machinelearning/pull/4790
https://github.com/dotnet/machinelearning/pull/4791
https://github.com/dotnet/machinelearning/pull/4792
https://github.com/dotnet/machinelearning/pull/4793
https://github.com/dotnet/machinelearning/pull/4794

We fixed several race condition to fix some random failures:
https://github.com/dotnet/machi

[2020-04-21 00:07] frank-dong-ms commented on #3856
Investigating now, caused by different version of CPUMath gives slightly different result

[2020-04-21 03:20] mstfbl commented on #5033
Hey @Zeraphil , please provide sample code from your project, so that we can attempt to replicate the issue. Thanks!

[2020-04-21 03:22] mstfbl commented on #3164
Closing this issue as no further updates on the issue have been given. @Anipik feel free to reopen the issue if you can provide more information. Thanks.

[2020-04-21 03:23] mstfbl commented on #4892
Closing this issue as no further updates on the issue have been given. @srqdev feel free to reopen the issue if you can provide more information. Thanks.

[2020-04-21 03:23] #4892 closed

[2020-04-21 03:26] mstfbl commented on #2941
Closing this issue as no further updates on the issue have been given. @paulallenbright feel free to reopen the issue if you can provide more information. Thanks.

[2020-04-21 03:26] #2941 closed

[2020-04-21 03:28] mstfbl commented on #3093
Closing this issue as no further updates on the issue have been given. @1amirjalai feel free to reopen the issue if you can provide more information. Thanks.

[2020-04-21 03:28] #3093 closed

[2020-04-21 06:24] #3228 closed

[2020-04-21 07:27] ViktorHofer commented on #3164
Curious why the "need-more-info" label was applied even though no question was asked? This issue shouldn't be closed as it still applies.

[2020-04-21 07:34] frank-dong-ms commented on #3000
Done in below PR, close the issue now:
https://github.com/dotnet/machinelearning/pull/3940

[2020-04-21 07:34] #3000 closed

[2020-04-21 15:27] SkyQuant commented on #4048
Fake properties don't work for _FastForest_, but for another kind of trees it could serve as temporary solution.

[code]

[2020-04-21 17:40] harishsk commented on #1952
The extra dependencies for ML.NET can be found here:

https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/install-extra-dependencies

Please reopen this issue if you find missing dependencies.

[2020-04-21 17:40] #1952 closed

[2020-04-21 18:42] oorosh commented on #4708
I have the same issue ;-( Trying to fix it for days but with out any luck. It's really disappointing to see that now resolved for more the two months.

I have reported issue on two place

[https://github.com/SciSharp/TensorFlow.NET/issues/536](url)
and
[https://github.com/dotnet/machinelearning-samples/issues/807](url)

[2020-04-21 20:16] #4579 closed

[2020-04-21 21:07] mstfbl commented on #1443
Hi @eerhardt , I have updated and rewrote the code sample you've provided as a unit test in `TermEstimatorTests.cs` as such:

This test ran successfully, and I did not encounter the error you provided, nor did the call stack go anywhere in `IniFileParserInterface.cs`. Am I missing something here? Perhaps `IniFileParserInterface` is no longer used?

[2020-04-21 21:52] eerhardt commented on #1443
Your test code isn’t the same as the code as I posted above.

Look at the CreateFromRanker code I linked above and find all references to see how it is used.

[2020-04-21 22:06] #3272 closed

[2020-04-21 22:28] mstfbl commented on #1443
I was able to reproduce the error with a static call to `IniFileParserInterface.CreateFromRanker(string path)`, though I don't understand where the code I provided differs.

I agree with Zeeshan that `src/Microsoft.ML.FastTree/BinFile/` needs to be removed, and I'll be doing this in an upcoming PR.

[2020-04-21 22:33] eerhardt commented on #1443
The code at the top sets ‘ PositionDiscountFreeform’, which is what was triggering the dllimport. It looks like this option may be internal in the latest code. (This issue is 18 months old)

[2020-04-21 22:53] Zeraphil commented on #5033
[TextClassification.zip](https://github.com/dotnet/machinelearning/files/4512946/TextClassification.zip)

Hi, I've supplied the project with the code, but on closer inspection this performs fine with the test dataset. I can't share my source dataset yet I think, so the dataset is probably the reason, but it seems very bizarre that that would be the reason. I'm sharing the code anyways to see if th

[2020-04-21 23:18] frank-dong-ms opened #5044 "support AVX instruction set at CPUMath native"
In CPUMath native we only support SSE.
In dotnet framework and dotnet core 2.1 we are using CPUMath native directly which means we only have SSE.
In dotnet core 2.2 or later version, dotnet core supports hardware Intrinsics so have support for both AVX and SSE.

Support AVX in CPUMath native will have performance benefit as well as generates identical result from different dotnet framework version

[2020-04-22 03:33] frank-dong-ms commented on #4773
Introduced threading analyzer and fix hanging:
#4790
#4791
#4792
#4793
#4794

[2020-04-22 03:33] #4773 closed

[2020-04-22 03:35] frank-dong-ms commented on #4668
We used below as alternative:
1. set registry key to take memory dump when test process crashes
2. retry is not necessary now we have almost fixed all fluky tests
3. use VSTest instead to take memory dump when test process hangs

[2020-04-22 03:36] mstfbl commented on #1443
Fixed with PR #5046 .

[2020-04-22 03:36] #1443 closed

[2020-04-22 03:38] frank-dong-ms commented on #3856
The difference comes from CPUMath using different instruction set:
  1. net framework and net core 2.1 uses CpuMathUtils.netstandard that uses SSE instruction set;
   2. net core 3.1 uses CpuMathUtils.netcoreapp that uses AVX, SSE or direct floating point calculation depending on hardward avaibility.
AVX and SSE generates slightly different result due to nature of floating point math.
Use below is

[2020-04-22 03:38] frank-dong-ms commented on #1096
The difference comes from CPUMath using different instruction set:
  1. net framework and net core 2.1 uses CpuMathUtils.netstandard that uses SSE instruction set;
   2. net core 3.1 uses CpuMathUtils.netcoreapp that uses AVX, SSE or direct floating point calculation depending on hardward avaibility.
AVX and SSE generates slightly different result due to nature of floating point math.
Use below is

[2020-04-22 09:14] volitantns commented on #4383
@antoniovs1029 thanks. It works. I am very happy to play ML.Net  Now. thank you very much .

[2020-04-22 09:54] deviousasti opened #5049 "Slots out of range"
In the example, won't `item.Key` go up to the bit length specified.
If there's no matching slot, this will throw.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da8a2391-a844-b431-0b36-992fcba2aeb4
* Version Independent ID: 19a18209-4127-4079-0e38-311b7de733bd
* Content: [TextCatalog.ProduceHashedNgrams Method

[2020-04-22 16:50] CBrauer opened #5050 "AutoML silently fails on the training phase of a binary classification problem."
Hey guys,

### Problem
I am submitting a test project that demonstrates a bug.
AutoML silently fails on the training phase of a binary classification problem.

### Reproducible Code
My reproducible code can by downloaded from: https://github.com/CBrauer/Test_ML.NET

### My environment is:
  Microsoft Visual Studio Professional 2019 Preview
  Version 16.6.0 Preview 2.1
  VisualStudio.16.Preview/16.

[2020-04-22 17:47] antoniovs1029 commented on #4126
Hi, @SnakyBeaky and @ssaporito . Sorry for the late response. Are you still having this problem? Can you provide a repro to take a look into this?

I've written the code below (based on [this sample](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_TensorFlowEstimator) but modifying it to use images in memory, and using [its dataset](https:/

[2020-04-22 18:42] frank-dong-ms commented on #5052
@LittleLittleCloud I'm curious why do you think it's bug in TF.NET?

I can make a new ML.NET package with latest version of TF.NET, how to use that package in model builder and verify on customer's machine? Currently we don't have a way to repro this issue in any of our machine.

[2020-04-22 19:18] mstfbl commented on #5049
Hi @deviousasti , I believe in this case there will always be matching slots in `slots`, as `slots` and `NgramFeaturesColumn` (source of each given `item` from each `featureRow`) share the same source `transformedDataView`.

[2020-04-22 19:18] #5049 closed

[2020-04-22 19:22] antoniovs1029 commented on #4126
So I've ran the code I posted above both in ML.NET 1.5.0-preview2 and 1.3.1 (which was probably the version used by the original poster), both in .NET Core 3.1 and 2.1, and I didn't get any exception.

[2020-04-22 20:02] antoniovs1029 commented on #4126
By changing the following line on my code above, I was actually able to reproduce this issue, and got a "System.ArgumentException: Parameter is not valid"; I got it even in version 1.5.0-preview2.

[code]

The difference is that by turning the imageSet enumerable into a List, now it's actually reusing the same objects, instead of yielding new objects as I did in my original code.

So I will look i

[2020-04-22 20:03] deviousasti commented on #5049
Will there still be matching slots if repeating trigrams, for example?

**How to reproduce:**
 1. Copy the example code
 2. Replace samples with simple text like:
[code]
**Result:**

`IndexOutOfRangeException` is thrown when looking up slots by index.

[2020-04-22 20:21] antoniovs1029 commented on #4126
Also, this isn't a problem specifically with using CrossValidation. E.g. if I try to do the following

[code]

I get the same exception when fitting the second model.

For this other case a workaround would be to simply create 2 DataViews (no need to clone the Image objects):
[code]

This way I don't get any exception and it works as expected. Still, this other workaround wouldn't work with CrossV

[2020-04-22 21:03] mstfbl commented on #5050
Hi @CBrauer ,

I'm currently investigating this, and will get back to you soon.

[2020-04-22 21:21] justinormont commented on #5050
Given that each of your printed times above are 10 to 11 seconds, it's not like that you're hitting a slow trainer, though a trainer might be getting stuck.

If time expires during the training of model, it waits for that model to finish:
https://github.com/dotnet/machinelearning/blob/ee8418a4ea7f64b97db06675855d5c6aa6bb72ba/src/Microsoft.ML.AutoML/API/AutoCatalog.cs#L24-L34

Highlight: _"may run

[2020-04-22 22:07] CBrauer commented on #5050
Hi Justin,

You didn't tell me how to solve the problem.  I waited more than 8-hours and the experiment never stopped.  What should I do when this happens?

Charles

[2020-04-22 22:15] antoniovs1029 commented on #4126
The problem is in the disposer created in the `ImageResizerTransformer`, as it disposes the `src` Bitmap that it uses as input of the transformer:

https://github.com/dotnet/machinelearning/blob/919bc8b886a6bc20c5022e8dad00f84bc1248236/src/Microsoft.ML.ImageAnalytics/ImageResizer.cs#L283-L291

If I comment out the content of the disposer so that it's empty, then the exceptions go away in the repro

[2020-04-23 02:22] harishsk commented on #3164
Can you please share what the Microsoft.DotNet.RemoteExecutor is and why we should be using it?
We have a plan to upgrade to to Arcade. But it is not high priority right now.

[2020-04-23 02:45] justinormont commented on #5050
Quite correct. The above is just to help diagnose the issue. It sounds like a bug, and my top guess is a trainer is not making progress or returning/throwing.

Your code is printing after a new best model is found. It would be helpful to print which model its about to try.

One workaround to try: running as multi-class classification instead of binary.

[2020-04-23 03:39] #3659 closed

[2020-04-23 03:53] najeeb-kazmi commented on #3659
Circling back on this.

Upon still further investigation, I found that the issue was not due to the presence of a single categorical feature. Instead, it was triggered when there was a one-hot categorical feature, but there were some rows where all slots were 0 in the train set. This can happen if the one-hot encoder is trained on a smaller dataset and then applied on the larger training dataset,

[2020-04-23 15:12] mengaims opened #5053 "Support entire timeseries anomaly detection for SrCnn model"
### New estimator for SrCnn Algorithm to support entire anomaly detection
By creating a SrCnnAnomalyEstimator, user could do anomaly detection using SrCnn algorithm, this estimator is implemented in streaming way, for each arrived point, it will use a window of cached previous points to do calculation. But if the entire timeseries is alreay known, it would be more time efficient to do anomaly dete

[2020-04-23 15:46] behroozbc opened #5054 "Can speech recognition be done in ML.NET?"
### System information

- **OS version/distro**:Windows
- **.NET Version (eg., dotnet --info)**: 3.1.201

### Issue
hi
i want to Speech recognition in ml .net i see issue list in #2732 is same but i want know now i can do it or not ??

[2020-04-23 16:29] ViktorHofer commented on #3164
Out of process execution of test code. Necessary when environment variables or other process states need to be mutated.

You are already using it: https://github.com/dotnet/machinelearning/blob/449719ccc32e82c505be33926ae93bb7c34d25cb/test/Microsoft.ML.TestFramework/RemoteExecutor.cs#L21. This is an outdated copy from CoreFx. Meanwhile we moved RemoteExecutor to [Arcade](https://github.com/dotnet/

[2020-04-23 17:04] frank-dong-ms commented on #3856
created separate baseline for netcore app 31

[2020-04-23 17:04] #3856 closed

[2020-04-23 17:04] frank-dong-ms commented on #1096
created separate baseline for netcore app 31

[2020-04-23 17:04] #1096 closed

[2020-04-23 17:15] mstfbl commented on #5050
Hi @CBrauer , I ran the code you've provided locally. It ran succesfully in under 8 hours, and provided the output I've attached to this comment.

[Issue5050Output.txt](https://github.com/dotnet/machinelearning/files/4524068/Issue5050Output.txt)

Currently, I would recommend rebuilding your project and running `Program.cs` again.

[2020-04-23 18:18] mstfbl commented on #5054
Hi @behroozbc ,
As @Lynx1820 mentioned in Issue #2732 , ML.NET currently doesn't directly support speech recognition. However, you can create a TensorFlow model and consume it with ML.NET! More info can be found here: [Run with ML.NET C# code a TensorFlow model exported from Azure Cognitive Services Custom Vision](https://devblogs.microsoft.com/cesardelatorre/run-with-ml-net-c-code-a-tensorflow-mo

[2020-04-23 18:18] #5054 closed

[2020-04-23 20:50] harishsk commented on #4741
Is net472 compatible with netstandard2.0? Is there any blocker for ML.NET going to option 3 right away?

[2020-04-23 20:56] antoniovs1029 commented on #4970
Since we've decided not to fix this, I will close it.

[2020-04-23 20:56] #4970 closed

[2020-04-23 21:05] sharwell commented on #4741
No, net472 works fine with netstandard2.0.

[2020-04-23 21:08] harishsk commented on #5051
@justinormont After discovering the initial header row, would we be scanning the entire dataset to figure out if the header row has been duplicated?

[2020-04-23 21:27] justinormont commented on #5051
The trade-off is the ability to catch duplicate headers 100% of the time, but the runtime is poor for all users (scan the whole dataset); vs catching 95% _[guesstimate]_ of datasets with duplicate header but the runtime is mostly unaffected (scan only the sample).

I would recommend optimizing the happy path by scanning the sample. Scanning the entire dataset, while more through, can be time consu

[2020-04-23 21:32] harishsk commented on #5033
@Zeraphil It appears that are saying that it works okay so far and you don't have a repro. I am closing the issue. Please share the dataset and reopen the issue if you happen to reproduce the issue again.

[2020-04-23 21:32] #5033 closed

[2020-04-23 21:39] justinormont opened #5055 "Investigate thresholding binary log-loss"
Multi-class log-loss has an `epsilon` value which thresholds the input probability between `epsilon` and 1.0. This causes multi-class log-loss to never be `Infinity`.

The binary log-loss does not have a `epsilon` threshold, which causes the returned log-loss to be `Infinity` when the prediction is perfectly confident (p=0 or p=1) and incorrect about the true label.

Log-loss for binary classifica

[2020-04-23 21:50] justinormont commented on #5055
The discussion stems from how to handle averaging metrics from cross-validation folds. Making the modification to the evaluator code means that AutoML won't have have to worry about the +/- Infinity cases.

https://github.com/dotnet/machinelearning/pull/5031#discussion_r413252420

[2020-04-23 22:35] harishsk commented on #5051
What if we moved this functionality to TextLoader? That is, instead of sampling, the text loader retains the header and discards header rows if it encounters it in the stream?

[2020-04-23 22:59] CBrauer commented on #5050
Hi Mustafa,

I rebuilt the project, as you asked.
Now, each experiment takes one hour, as I expected.
You do good work, Thank you,  I'm very happy.

Charles

[2020-04-23 23:24] justinormont commented on #5051
That's a pretty cool idea. There are existing checks within the `TextLoader` which check for [non-parsable data elements](https://github.com/dotnet/machinelearning/blob/062be280a9d6de23838d4db5ad93fea9d7d0c1f6/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoaderParser.cs#L179-L188) and [rows of data](https://github.com/dotnet/machinelearning/blob/062be280a9d6de23838d4db5ad93fea9d7d0c1f6/src/Microsof

[2020-04-23 23:27] harishsk commented on #5051
If we are discarding the row, we can log a warning. We have implemented logging levels.
The comparison (if done correctly) shouldn't cause too much of an impact.

[2020-04-24 00:34] mstfbl commented on #5050
Thank you Charles for you kind words! I learned from those who've tutored me lots here at Microsoft through @harishsk, @frank-dong-ms and @justinormont, who has also helped in this specific issue. :D

[2020-04-24 00:34] #5050 closed

[2020-04-24 03:09] #4663 closed

[2020-04-24 03:09] #5042 closed

[2020-04-24 07:49] nathanlamplough-MeVitae opened #5061 "Converting Naive Bayes Scores to Probabilities"
Hello,
What are the scores produced from the NaiveBayes classifier, are they log probabilities? As I seem to get very large minus values. Whereas I did something similar in sci-kit learns NaiveBayes and the log probabilities were much lower negative values. How do you suggest converting these scores to probabilities? Should I call an exponential function on them if they are in fact log probabiliti

[2020-04-24 16:43] #4126 closed

[2020-04-24 19:14] MatiKingloom opened #5062 "Can i use ML.NET do train a face recognition model"
Hi

Im new to ML, so this might seem like a stupid question, but, id like to use C# to train a face recognition model.

The face detection part would be done by Dlib which will extract the face encodings  (double[128])

So the question would be can i use ML.NET to train a model that gets face vectors for input
Input would be:
Label: string
Feature: double array

And trains a model that when an ima

[2020-04-24 19:34] justinormont commented on #5062
While you could run this in ML․NET as a multi-class classification problem. You may instead want to write your own distance calculation. For instance L2 distance. Your output class is the lowest distance between your training images' embeddings and your image to score.

If you want to run this in ML․NET, set each person as your label, and your pre-computed face embedding as your feature column. Th

[2020-04-24 20:12] mstfbl commented on #5061
Hi @nathanlamplough-MeVitae,

Thank you for your question. The scores produced from the Multi-Class Naive Bayes trainer are log probabilities.
https://github.com/dotnet/machinelearning/blob/e1fe0a85c72ac010392a4f38f0037bec596513f2/src/Microsoft.ML.StandardTrainers/Standard/MulticlassClassification/MulticlassNaiveBayesTrainer.cs#L570-L633
It would be helpful if we can see your comparison between th

[2020-04-24 21:39] Lynx1820 commented on #5061
Hi @nathanlamplough-MeVitae ,

You should be able to take the exponent of the scores.  Do you know which type of Naive Bayes Scikit is using?

[2020-04-25 15:23] admin131 commented on #3919
@JomanjiPT Yours fix didn't work on Windows Server 2016 Standard (64 bits). Do You have any other good idea? :)

[2020-04-26 09:26] moria97 commented on #630
+1 to NER.
We are trying to recognize personal informations from our train data, including
- AGE
- CREDIT_CARD_NUMBER
- DATE
- EMAIL_ADDRESS
- IP_ADDRESS
- LOCATION
- MAC_ADDRESS
- PASSPORT
- PERSON_NAME
- PHONE_NUMBER
- SWIFT_CODE
- US_DRIVERS_LICENSE_NUMBER
- US_SOCIAL_SECURITY_NUMBER
- US_VEHICLE_IDENTIFICATION_NUMBER
- US_INDIVIDUAL_TAXPAYER_IDENTIFICATION_NUMBER

Looking forward to NER featur

[2020-04-26 17:24] oorosh commented on #4708
I have fix my issue by updating to at this moment latest version of nuget packages

![Capture](https://user-images.githubusercontent.com/4770675/80314729-7a7c7180-87f3-11ea-9442-b905d25c4053.PNG)

[2020-04-27 08:15] mauryflag commented on #4708
Hi ,
I did it.
It works , thank you.
Maurizio

Da: Uros Biberdzic <notifications@github.com>
Inviato: domenica 26 aprile 2020 19:25
A: dotnet/machinelearning <machinelearning@noreply.github.com>
Cc: mauryflag <maury.flag@hotmail.it>; Author <author@noreply.github.com>
Oggetto: Re: [dotnet/machinelearning] Tensorflow.TensorflowException Can't copy 64064 bytes of a tensor into another with 32032 byt

[2020-04-27 10:21] nathanlamplough-MeVitae commented on #5061
Hi @mstfbl and @Lynx1820

I realized that the Naive Bayes in ML.net supports binary feature values and is not the multinomial variation I was using in scikit so I think that explains my big differences in size of log probabilities. Thanks for the help anyways.

[2020-04-27 10:21] #5061 closed

[2020-04-27 10:49] oorosh commented on #4708
Great, I'm glad to hear that :-)

[2020-04-27 14:03] ViktorHofer commented on #3164
@mstfbl can we please reopen the issue before it's lost in dev/null?

[2020-04-28 01:33] DiegoStefanon commented on #4906
Hi I am Diego S. , from Italy.
I have the same issue ...
CreateBinaryClassificationExperiment is good
CreateRegressionExperiment fail..
only if I set
 CultureInfo.DefaultThreadCurrentCulture = CultureInfo.CreateSpecificCulture("en-EN");
it works.
The data is good, not nulls.
So I think it a bug.

[2020-04-28 12:38] chris-steema commented on #3903
I'm getting this error too using DetectSpikeBySsa in VS2019 on Windows 10 (C#) - I have the Microsoft.ML.Mkl.Redist NuGet installed.

![Anomaly_TeeChart_2020-04-28_14-38-13](https://user-images.githubusercontent.com/19690135/80487969-eda1f700-895d-11ea-83a2-2ad7baaf3c13.png)

[2020-04-28 17:59] scorp-gitcontainer opened #5065 "deterministic result in ML.net | KmeansTrainer vs EstimatorChain<ClusteringPredictionTransformer<Microsoft.ML.Trainers.KMeansModelParameters>>"
### System information

- **OS version/distro**:
- **.NET Version (eg., dotnet --info)**:

### Issue

- **What did you do?**
Perform a clustering on some datas using ML.net and clustering based on the iris sample on docs.microsoft.com
- **What happened?**
We have noticed that the result are not deterministic for a specified feature vector when a non vector property of the class value changes.

- *

[2020-04-28 21:45] LittleLittleCloud opened #5067 "Update NumberOfThreads default value for MatrixFactorization trainer"
The default value for MatrixFactorization will use all threads, which might trigger a warning in [libmf](https://github.com/cjlin1/libmf/blob/e70b9a32f7df32cce961bbbb997da074759a16fe/mf.cpp#L4024) when it exceeds two times of nr_bins.

[2020-04-28 23:00] LittleLittleCloud commented on #5067
https://github.com/dotnet/machinelearning/blob/5a30444f3c85dfafa1f6032813904fbc8e69eae7/src/Microsoft.ML.Recommender/MatrixFactorizationTrainer.cs#L516

Just update `Math.Max(20, 2 * _threads)` to `Math.Max(20, 2 * _threads)-1` should work

[2020-04-28 23:17] LittleLittleCloud commented on #5052
I'm just guessing,,, because ImageClassificationTrainer uses TF.Net to load a pretrain-resnet model, and that's where the exception is thrown. Along with the fact that tensorFlow doesn't work with the older generations of intel and TF.Net is a c# binding to tensorflow, that guides me to make that guess. Considering that right now ImageClassifcationTrainer still uses TF.Net 1.14 and TF.Net 1.15 is

[2020-04-29 05:44] strikene opened #5069 "Microsoft.ML with onnx can not get Column"
### System information

- **OS version/distro**: win10 1909
- **.NET Version (eg., dotnet --info)**: Core 3.1

### Issue

An exception occurred while getting the inference result
Exception:
System.ArgumentOutOfRangeException: 'Cannot map column (name: loss, type: Microsoft.ML.Transforms.Onnx.OnnxSequenceType) in data to the user-defined type, ConsoleApp1.OutPut. (Parameter 'column')'

### Source c

[2020-04-29 09:44] luistelmocosta opened #5070 "Test dataset using the command line"
Hello, I am using MLNET using the CLI and I have a doubt regarding the test dataset.

`mlnet auto-train --task multiclass-classification --dataset "xxxx.tsv" --ignore-columns "Id,Task,CreatedOn" --test-dataset "xxx.tsv" --max-exploration-time 600 --label-column-name Type`

The training results look very optimistic and I was wondering if it is not tuning on the test dataset which would not be ideal

[2020-04-29 16:25] harishsk commented on #5067
@LittleLittleCloud Can you please submit a PR?

[2020-04-29 16:37] Lynx1820 commented on #5070
Hi @luistelmocosta

The tuning is only done on the training set. @justinormont maybe you can comment more on CV?

[2020-04-29 16:59] Lynx1820 commented on #5069
Your output should look something like this:
`        public class LossOutput
        {`
            `[OnnxSequenceType(typeof(IDictionary<string, float>))]`
            `public IEnumerable<IDictionary<string, float>> output { get; set; }`
       ` }`

[2020-04-29 18:36] justinormont commented on #5070
@luistelmocosta:

The values reported during sweeping are the validation metrics.

Since you are not providing a validation dataset, one is split from your training dataset. This is done in either a cross-validation mode (if your [dataset is <15K rows](https://github.com/dotnet/machinelearning/blob/54b2b041da42b18f947b5833e64c9763108c7d32/src/Microsoft.ML.AutoML/API/ExperimentBase.cs#L99-L116)), o

[2020-04-29 20:37] Lynx1820 commented on #5065
Hi @scorp-gitcontainer
What do you mean by "non vector property of the class value changes"? The Kmeans algorithm performs random initialization, so it's expected to produce different results each time, unless you establish a seed on your MLContext, i.e.  `var mlContext = new MLContext(seed: 1);`

[2020-04-29 21:59] frank-dong-ms commented on #1216
Following test are marking with this issue but they appear to have different reason of fail:
1. TestMulticlassEnsembleCombiner: this is lightgbm test and should be marked as LightGBMFact and only runs on x64
2. TestTreeEnsembleCombiner: Heap corruption
3. TestTreeEnsembleCombinerWithCategoricalSplits: Heap corruption
4. TestEnsembleCombiner: Heap corruption

[2020-04-30 00:40] scorp-gitcontainer commented on #5065
say i have a class like following
public class DataBundle
{
    public float AM {get;set;}
   public float DJ  {get;set;}
public float LK {get;set;}
public float MP {get;set;}
public float V {get;set;}

public float[] Features { return new float[](AM,MP,LK,DJ )}
}

property "V" is what i call a non vector property. in my own example; we first implemented clustering base on iris sample on docs.micr

[2020-04-30 03:42] strikene commented on #5069
I will get the same error according to your suggestion
if i change public IEnumerable<IDictionary<string, float>> output { get; set; }=>public IEnumerable<IDictionary<string, float>> output { get; set; }
This will also cause the same error

[2020-04-30 14:10] luistelmocosta commented on #5070
@justinormont thank you very much for your reply, I think I got it.
Also, your suggestion makes perfect sense. At the end of the training process, I would be more interested in seeing the results on my test dataset, otherwise and as I mentioned above, the results will always look optimistic which might induce some error.

[2020-04-30 16:08] luistelmocosta opened #5073 "Run Evaluation on full test dataset"
Hello, I would like to know how do I run the evaluation on the full test dataset instead of doing it in a single line.

I noticed that in `Program.cs` we are only running the prediction for one single line:

[code]

Is there any other option to run on the full test set?

Kind regards

[2020-04-30 16:56] #5070 closed

[2020-04-30 17:22] frank-dong-ms commented on #4840
As the CI is more stable now this is not that necessary now

[2020-04-30 17:22] #4840 closed

[2020-04-30 17:24] frank-dong-ms commented on #4788
Disable parallelism makes CI more stable and much less build network timeout issue, close this issue now.

[2020-04-30 17:24] #4788 closed

[2020-04-30 20:31] Lynx1820 commented on #5073
Hi @luistelmocosta ,

You can get rid of the `.First()` at the end, and then iterate through the results by using `sampleForPrediction.MoveNext().` Take a look at how we do it in our tests: [TimeSeriesSimpleApiTests](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.TimeSeries.Tests/TimeSeriesSimpleApiTests.cs)

[2020-05-01 16:41] Lynx1820 commented on #5073
Closing this issue. Feel free to reopen if you have a follow up.

[2020-05-01 16:41] #5073 closed

[2020-05-01 16:57] Lynx1820 commented on #5069
Hi @strikene,

You want to use `data.Schema["loss"]`. Take a look at how to use getColumn here: [GetColumnTests](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/GetColumnTests.cs). Also, see this test to see how we use OnnxSequenceType in a test: [OnnxTransformTests](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.OnnxTransformerTest/

[2020-05-01 20:06] Lynx1820 commented on #5069
Hi @strikene,

Take a look at the examples where we use OnnxSequenceTypes [OnnxTransformTests](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.OnnxTransformerTest/OnnxTransformTests.cs#L450). For `getColumn()` you want to use `getColumn<IEnumerable<IDictionary<string, float>>>` instead of using LossOutput.

[2020-05-02 01:04] aslotte commented on #2642
@eerhardt I'm planning on opening a PR for your review for this issue this weekend. Would much appreciate your guidance if I'm on the right track as this would be my first issue. Thanks!

[2020-05-02 10:11] ddobric commented on #1109
Any update on this?
The same issue happen when running ML inside of a Linux container.

[2020-05-02 16:37] ddobric opened #5083 "Docker issue with TensorFlow inception_v3.meta model"
### System information

- Windows 10, Docker desktop Linux. v. 19.03.8, build afacb8b
- .NET Core Version 3.1

### Issue
When working with image classification and Tenssr Flow model, the TensorFlowUtils tries to download the inception file.
First of all the dockerfile already copies the inception file to the /tmp/MLNET location. As you can see on the picture the file is in there.

![image](https:/

[2020-05-02 20:36] mstfbl commented on #4065
Hi @xtremertx ,

I downloaded `XXXX.pb` and the training photos mentioned, and wrote the following test code to diagnose this issue. I also uninstalled the `SciSharp.TensorFlow.Redist` NuGet package from my build:

[code]

With these, I obtained the following same error that has been reported here:

        ---- System.DllNotFoundException : Unable to load DLL 'tensorflow' or one of its dependenci

[2020-05-03 05:26] codemzs commented on #4065
@mstfbl What you are suggesting is not correct because it would limit our TensorFlow based APIs to CPU. I have already addressed this issue in my prior [reply](https://github.com/dotnet/machinelearning/issues/4065#issuecomment-552215881)

[2020-05-03 16:14] aslotte commented on #4886
I opened a PR for this issue in the docs repo: https://github.com/dotnet/docs/pull/18239

[2020-05-03 21:34] GhostTyper commented on #149
Are LSTM / RNN supported meanwhile?

[2020-05-04 01:24] luisquintanilla opened #5086 "Auto.ML.0.16.0 and System.Memory 4.0.1.0"
Moving issue raised by @ericdransfeldt in Docs repo since it's a product question.

Hi,

I love the Microsoft.ML and AutoML platforms but am having an issue when I upgraded my AutoML version via NuGet. When I upgraded from Microsoft.ML.AutoML from version 0.15.0 to 0.16.0 I started getting an error when I ran my code. Nothing changed in my source code except to recompile. It seems like it can't fi

[2020-05-04 05:12] luislhg commented on #5052
@frank-dong-ms I can debug on that machine or even allow a remote access if needed. I do believe it might be a bug in TF.NET/Tensorflow as other people have already stated issues using TensorFlow with older processors. Regardless of a fix for that, I believe ModelBuilder should just detect old processors, stop the process and nicely notify it isn't supported.
Assuming this is the processor's fault

[2020-05-04 07:25] mstfbl commented on #4910
Hi @ddobric, I'm reaching out again to ask if you can provide sample code and data with which you've encountered this issue. Thanks.

[2020-05-04 07:33] xtremertx commented on #4065
If I understant correctly, in some cases you need `SciSharp.TensorFlow.Redist` because some instructions are not implemented on GPU? It would be enough to just mention this in MS docs.

[2020-05-04 07:37] codemzs commented on #4065
@xtremertx That is not correct, you need `SciSharp.TensorFlow.Redist` if you want training to happen on the CPU. There is no instruction from training that works on CPU but not GPU, it is just a question of performance. These instructions(on which nuget to use and when) are mentioned in detail in the [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.vision.imageclassificationtrainer?

[2020-05-04 10:13] adriansd27 opened #5088 "Update ML.NET trained Model in ASP.NET Core without restarting the app"
### System information
Windows 10
- **OS version/distro**: Education
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1

### Issue
Unable to update a ML.NET trained model in ASP.NET Core without restarting the web app
- **What did you do?**

Like the title says, I'm trying to retrain an existing ML.NET model in an ASP.NET Core web app. The setup: I have an existing model.zip file on the local

[2020-05-04 11:46] nsulikowski opened #5089 "The future of ML.NET"
Back in 3/26/2020 I was surveyed by members of the ML.NET team, who were gathering feedback about uses of ML.NET.
I'm wondering broadly what the future of ML.NET will look like? Will you continue to invest in making it a stand alone product for machine learning, extending the breath and depth of the library? Or perhaps it'll end up being more of a hosting environment for models and statistical stu

[2020-05-04 16:36] harishsk commented on #149
Sorry, there is no support for LSTM / RNN either as of yet.

[2020-05-04 21:33] #1216 closed

[2020-05-04 21:41] harishsk commented on #5088
@adriansd27 Is it possible for you provide a small repro of your bug?

[2020-05-04 21:42] harishsk commented on #5086
@ericdransfeldt Would it be possible for you to provide a small repro of your issue?

[2020-05-04 21:49] adriansd27 commented on #5088
Hi @harishsk ,

Repro steps:
1. Get a model.zip trained and ready to use, set it at a certain path on your disk.
2. Register Prediction Engine Pool
`            services.AddPredictionEnginePool<ImageData, ImagePrediction>().FromFile(
                "ImageClassificationModel", _modelPath, true);`
3. Inject Prediction Engine Pool
`        public PredictionService(PredictionEnginePool<ImageData, Ima

[2020-05-04 21:53] adriansd27 commented on #5088
Of course things would have been much easier if we could have loaded the model from a database and save it to a database instead of writing it to a zip file.

[2020-05-04 21:54] ericdransfeldt commented on #5086
Hi Harish,

Thank you for the message. Yes I can provide a repro. It will take a bit of time though to pull out code and make a new project.

Cheers,
Eric

[2020-05-05 00:58] #4156 closed

[2020-05-05 05:14] mstfbl commented on #4065
In summary, a manual installation of the appropriate `SciSharp.TensorFlow.Redist` NuGet package is required. This is also stated in [docs/api-reference/tensorflow-usage.md](https://github.com/dotnet/machinelearning/blob/34b5e55ea143f7fc3a4acb33b9368f633819a845/docs/api-reference/tensorflow-usage.md). As such, I am closing this issue.

[2020-05-05 05:14] #4065 closed

[2020-05-05 07:00] #2642 closed

[2020-05-05 12:55] mveeris commented on #4364
Hi, Will this issue be befixed with next release?
We also have the same problem when we try to use Tensorflow model.

We have been using CNTK for object detection, but we urgently need alternative to this.
We now trained our data with Tensorflow but we are stuck with using it in ML.NET.
Tried to use different models, but issue is the same.
Thanks.

[2020-05-05 17:44] jwood803 commented on #302
I was messing with this and after applying this to the solution, it also updated some spacing. Is there anything else we want to include that's similar to what the Roslyn project has such as the indent size?

cc// @shauheen @sharwell

[2020-05-05 18:02] harishsk commented on #5089
ML.NET is an important project to empower .NET developers to leverage the latest advances in machine learning. We regularly seek community input on the features they would like to see. We are enhancing the breadth and depth of the library (e.g. new features related to time series slated for the next release) and hosting environment for models created in other tools through our enhanced support for

[2020-05-05 18:51] rquintino opened #5092 "official docker image for mlnet cli?"
Hi! wonder if it would be possible to have an official docker image, either on dockerhub or Microsoft Container Registry (MCR).

That would be very cool for single line mlnet cli automl workloads. Can't get easier than that. Also safer to trust an official image.

(example: https://hub.docker.com/_/microsoft-azure-batch-shipyard)

thanks!

[2020-05-05 19:59] mstfbl opened #5093 "Ubuntu ML .NET Docker Image has no configured locales"
The Ubuntu ML .NET Docker image does not have configured locals, which is resulting in the following error statement:

This error is the reason why `TextNormalizingOnnxConversionTest()` is currently disabled on Linux at line 462:

https://github.com/dotnet/machinelearning/blob/c83ea54a0874fbeac0d16cb5f31e3cd97f8d97ed/test/Microsoft.ML.Tests/OnnxConversionTest.cs#L440-L473

The ONNX Runtime team en

[2020-05-06 00:53] harishsk commented on #5088
@adriansd27 I ran a web server with a prediction end point and then regenerated and overwrote the model it was using.

I did see the `System.IO.IOException` exception that you mention above, but that is expected behavior. That exception comes the file watcher which will reload the model as soon as it is saved. You see the exception because the file watcher is trying to reload the model while the m

[2020-05-06 02:13] JaCraig commented on #630
+1 on this. I definitely need custom capabilities as I need to pull things like US district court information, trying to figure out who is the defendant and plaintiff, etc.

[2020-05-06 05:08] frank-dong-ms commented on #1313
fixed in https://github.com/dotnet/machinelearning/pull/4950, this is a race condition issue

[2020-05-06 05:12] frank-dong-ms commented on #1131
These issues are fixed recently, some race condition issues.

[2020-05-06 05:19] frank-dong-ms commented on #1215
Created separate baseline for x86 tests: https://github.com/dotnet/machinelearning/pull/5057

Some of the difference from x64 and x86 is due to MKL is generating different results.

[2020-05-06 05:24] frank-dong-ms commented on #49
Also the race condition issue fixed in: https://github.com/dotnet/machinelearning/pull/4829

[2020-05-06 10:17] jwood803 commented on #3436
From what I can tell these are all the normalizers and if they are have a multi column sample:

| Normalizer| Has Multi Column Sample? |
| ----------------------------------- | ----------------------- |
| Normalize Binning             | &check;                 |
| Normalize Global Contrast | |
| Normalize Log Mean Variance | |
| Normalize LP Norm | |
| Normalize Mean Variance | |
| Normalize MinMa

[2020-05-06 11:38] iluveu28 opened #5096 "Add new models in prediction pool during runtime"
I have two separate .NET Core Web API projects deployed to Kubernetes as separate Docker containers. One for training and the other for predictions. The users can upload a training file into the training API to create a new model and the filename and path of the model.zip file are saved into a table in SQL Server DB and the model.zip file is saved in PersistentVolume.

In the prediction service, I

[2020-05-06 17:15] #5089 closed

[2020-05-06 19:36] mstfbl commented on #5093
[This ](https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/16.04/mlnet/Dockerfile#L1-L5)is the Dockerfile used for Ubuntu builds. It draws from [this ](https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/16.04/Dockerfile) dependency Docker file, which includes `apt-get install -y locales` and `RUN locale-gen en_US.UTF-8`, but not `update

[2020-05-06 21:39] Lynx1820 commented on #5069
Closing this issue. If you have further questions, please feel free to reopen.

[2020-05-06 21:39] #5069 closed

[2020-05-06 21:41] Lynx1820 commented on #5067
Thanks for the PR @LittleLittleCloud. Closing this issue.

[2020-05-06 21:41] #5067 closed

[2020-05-06 22:04] kik3r opened #5101 "Negative scores evalauate for LightGBMMulti model"
I have a multi class classification model trained to classify to 3 values (-1,0,1) looking at 26 feature columns which are RGB color values as float.
when predicting, score values returned are sometimes negative. From my basic understanding, the score values are confidence on each class and they should add up to 1 and each value should be between 0 and 1.

Model was created using AutoML.
Multiclas

[2020-05-06 22:21] Lynx1820 commented on #5065
I tried replicating, but I did not get different results. Is possible that somewhere along the way you're forgetting to include the `_mlContext`? Can you check whether getting rid of the V features from Databundle produces different results on each run?

[2020-05-06 23:29] harishsk commented on #5101
Is it possible for you to share the code and some sample data for this issue?

[2020-05-07 08:34] chester89 commented on #630
@gvashishtha can you provide some feedback? Are there plans to do this?

[2020-05-07 16:47] Neoplayer opened #5105 "Regression with image"
How to concatenate image with some Single values? I was trying to convert image to `ExtractPixels` and `LoadRawImageBytes` but I can't find any way to concatenate this with single values.

[2020-05-07 16:47] #5105 closed

[2020-05-07 16:47] justinormont commented on #5105
@Neoplayer: Can you also describe your ML task a bit more?

Sounds like you have an image column plus some numeric values. Then you're looking to predict a float value (regression).

This should work as @luisquintanilla describes. You should be use one of the pre-trained image models as a feature extractor for the images, and concatenate with your numeric features. Then feed that final features co

[2020-05-07 22:08] Lynx1820 commented on #4646
I apologize for the delay on merging the PR. Closing this issue. Feel free to reopen if you have a followup.

[2020-05-07 22:08] #4646 closed

[2020-05-08 11:07] Goldenstarc commented on #1790
It looks like we have to deploy MLNET on server using ASP.Net (Core!) and use HTTP service in Xamarin
Is there any better news?

[2020-05-08 16:52] harishsk commented on #5088
@adriansd27 I have not been able to reproduce the issue. Please try it on the latest release and if you still have issues, please reopen the issue.

[2020-05-08 16:52] #5088 closed

[2020-05-08 20:39] ibebbs opened #5109 "Training / Predicting from in-memory Bitmap"
Hi,

Just started playing with Microsoft.ML and am pretty impressed. I followed [this tutorial](https://devblogs.microsoft.com/dotnet/train-image-classification-model-azure-mlnet-model-builder/) to build an image classifier model that works reasonably well (limited training data). I now want to put this model to use but have hit an issue:

The images I want to classify will be in-memory (as a Bitm

[2020-05-08 23:07] #5093 closed

[2020-05-09 02:05] wangyems commented on #4122
If I change the two lines above to the following code, it gives helpful information.
[OnnxSequenceType(typeof(float))]
public IEnumerable<float> loss;
So I think the problem is probably that the typeof(loss) != OnnxSequenceType here

[2020-05-09 20:32] XeonKHJ commented on #4366
Have the same problem here, add an .NET Standard lib that uses ML.NET to an UWP project. The same error came when I tried to build the UWP project.

[2020-05-09 21:42] ddobric opened #5111 "Issue with image classification trainer creating files (such as TrainingSetSize.txt) on WebJobs"
Running the ML.NET image classification inside of WebJob (windows platform/.NET Core 3.1)
All works fine when executed locally. Unfortunately, when running as job it fails with the following error:

Creating of the text file seems not to be correctly implemented. If the path is not set to the permitted location, the required text file will not be created. In that case another error message should

[2020-05-10 13:41] ddobric opened #5112 "Training ImageClassification in parallel throws when trying to use the same WorkspacePath"
Using ImageClassification (ImageClassificationTrainer) on the machine as a job.
The job is implemented as a Azure Function, which is triggered by message in the storage queue. Every time the job receive a message the training process is calculated. The training runs for different data sets. That means, the function can observe multiple requests

Unfortunately, when two training are running simulta

[2020-05-10 14:29] adriansd27 opened #5113 "Evaluating model that loads images from disk throws an exception in ASP.NET core"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: ASP.NET Core 3.1

### Issue

I'm running ASP.NET Core 3.1. Training the model works fine. PredictionEnginePool predicts fine. However if I try to get the metrics of the trained model I'm getting the below exception. Is it that ASP.NET Core doesn't support System.Drawing.Bitmap? If so, is there any

[2020-05-10 16:46] ddobric commented on #5113
System.Drawing is not a part of .net core, because it has a dependency to win-system32.
This can help:
https://developers.de/2018/01/22/how-to-use-system-drawing-in-net-core/

[2020-05-11 15:13] antoniovs1029 commented on #5113
Hi, @adriansd27 .

Has following @ddobric 's suggestion helped you to fix this issue?

If not, can you please share a .zip containing your project and some sample data so that I can try to reproduce your problem? I'll need to know what your pipeline looks like, and how you're loading the images. But having a full repro would be very helpful. It would also help if you try to run your same code not

[2020-05-11 16:38] antoniovs1029 commented on #5111
Hi, @ddobric . Thanks for reporting this.

So, just to make sure, it looks to me you're describing 2 problems / suggestions:
1. Using the default path for `WorkspacePath `on an `ImageClassificationTrainer `leads to an exception when running on `WebJobs`.
2. The `ImageClassificationTrainer `should throw an exception if it doesn't have permissions to write on the `WorskpacePath`, and it shouldn't ac

[2020-05-11 17:00] antoniovs1029 commented on #5112
Hi, @ddobric . Thanks for reporting this.

So I wonder if you've tried this:

Did this work? It looks to me this should be sufficient to solve your problem. Trying to leave `WorkspacePath` as null might also be another recommendation, since it looks to me it will actually create a new temporary directory every time a trainer is created:

https://github.com/dotnet/machinelearning/blob/6c3076348be4d

[2020-05-11 17:36] #4960 closed

[2020-05-11 18:53] terrajobst opened #5115 "Survey: repo contribution experience"
We’ve been working as a team, and community, for five years in the dotnet org on the .NET Core project. Many of the same GitHub handles have remained constant over that time, some are new, and others have come and gone. Thanks to everyone that has contributed! We normally focus on how to improve the product, but we’re turning our focus to improving the open source project. We’ve created a survey t

[2020-05-11 21:07] JulioAlbinatiCortez opened #5116 "FileNotFound error when saving the model.zip file on AML"
### System information

- **OS version/distro**: Not sure, running on AML Compute.
- **.NET Version (eg., dotnet --info)**: .NET Core 2.0

### Issue

- **What did you do?**
I have an AML pipeline where I use ML.NET to train a LightGBM model and save results on a blob storage. This pipeline reads data from ADLS.
- **What happened?**
The training stage failed with an exception that suggests an I/O e

[2020-05-11 22:03] #4409 closed

[2020-05-12 03:19] luisquintanilla commented on #5109
@ibebbs take a look at this sample. I think it might help you do what you want.

https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Trainers/MulticlassClassification/ImageClassification/ImageClassificationDefault.cs

Notice to train it uses `ImageData` but to score it uses `InMemoryImageData`. Difference being, `ImageData` uses a path and `InMemoryImage

[2020-05-12 04:11] antoniovs1029 commented on #5116
Hi, @JulioAlbinatiCortez .

I don't know what could be causing this error, and the stack trace look somewhat odd to me. Can you please share the code you're trying to run and a sample dataset to try to reproduce this error?

When was the last time it worked for you? Has anything changed in your environment since that last time? What version of ML.NET are you using, and have you recently updated th

[2020-05-12 20:40] harishsk commented on #5083
@ddobric Can you please a sample project or sample code that I can use to reproduce this issue?

[2020-05-13 16:52] harishsk commented on #5101
As discussed offline, you may end up with negative scores when the underlying model is not capable of producing probabilities.

[2020-05-13 16:52] #5101 closed

[2020-05-13 16:53] harishsk commented on #5086
@ericdransfeldt I am closing the issue for now. Please reactivate when you have a repro we can look at. Thanks.

[2020-05-13 17:04] ericdransfeldt commented on #5086
Ok, thanks Harish

    On Wednesday, May 13, 2020, 09:53:48 AM PDT, Harish Kulkarni <notifications@github.com> wrote:

@ericdransfeldt I am closing the issue for now. Please reactivate when you have a repro we can look at. Thanks.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-13 23:33] iluveu28 commented on #5096
I think if you make the AddPredictionEnginePool method available to an injected instance outside the startup.cs, it will solve my problem :-

predictionEnginePool.AddPredictionEnginePool<InputModel, MulticlassClassificationPrediction>()
                                .FromFile(modelName: modelName, filePath: $"MLModels/{modelName}.zip", watchForChanges: true);

[2020-05-13 23:45] antoniovs1029 commented on #5109
Hi @ibebbs , so I read on Gitter that the sample that @luisquintanilla provided was enough for you to solve your problem. I will close this issue now. Feel free to reopen this if you still have problems with this. 😄

[2020-05-13 23:45] #5109 closed

[2020-05-14 02:38] #4874 closed

[2020-05-14 12:30] Aamirkhan10218 opened #5126 "Hi Please tell me about the description of the dataset of Product.stats.csv of eShopDashboard Machine Learning Project of Sales Forecasting like"
Hi Please tell me about the description of the dataset of Product.stats.csv of eShopDashboard Machine Learning Project of Sales Forecasting  like
what is the meaning of
next
avg
count
max
min
prev
[products.stats.xlsx](https://github.com/dotnet/machinelearning-samples/files/4628273/products.stats.xlsx)
i'll be very grateful to you

_Originally posted by @Aamirkhan10218 in https://github.com/dotnet

[2020-05-14 18:33] justinormont opened #5129 "Improve error messaging for non-parsable datasets"
I'd recommend improving the current error message:
https://github.com/dotnet/machinelearning/blob/e5a19af589dfb1468cd99628e82f6b49fb125323/src/Microsoft.ML.AutoML/ColumnInference/ColumnInferenceApi.cs#L120-L123

It currently says, `"Unable to split the file provided into multiple, consistent columns."`, which is rather uninformative and non-actionable.

Perhaps, as I think @briacht is suggesting,

[2020-05-14 20:54] antoniovs1029 commented on #4460
So as discussed offline with @LittleLittleCloud :
1. The issue he mentioned with CSV files that have new lines inside quoted fields is fixed in #5125
2. We're not clear about what was the issue he mentioned regarding having double quotes (""). The file he shared as repro doesn't contain new lines inside quoted fields (so it is unaffected by #5125 ) but it contains double quotes. ML.NET's Textloade

[2020-05-15 05:09] iluveu28 opened #5132 "Method to check if a modelName already exists in the PredictionEnginePool"
This is related to an issue I brought up in Stack Overflow - https://stackoverflow.com/questions/61695078/ml-net-how-to-detect-a-model-is-missing-from-the-predictionenginepool/61773814#61773814

In the Web API, I need someway to PredictionEnginePool.GetModel by model name. I'd like to also do AddPredictionEnginePool outside of the Startup.cs. In my service layer, I check if a model doesnt exists t

[2020-05-15 06:52] antoniovs1029 commented on #5126
Hi, you can find explanations of the dataset in here:
[Details of the Dataset
](https://github.com/dotnet/machinelearning-samples/blob/master/samples/csharp/end-to-end-apps/Forecasting-Sales/docs/Details-of-Dataset.md)

[Description of the sample (and how it uses the dataset)
](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/Forecasting-Sales)

Also, no

[2020-05-15 07:17] Aamirkhan10218 commented on #5126
Thank you for your response. I am very grateful to you.

On Fri, May 15, 2020, 11:53 AM Antonio Velázquez <notifications@github.com>
wrote:

[2020-05-15 08:01] Aamirkhan10218 commented on #5126
i mean how you calculate next parameter from Online Retail Dataset.
i am using this technique of sales forecasting in my Final Year Project
kindly clear my confusion or share any link which explain eShopDashboard
Project.
Thank you so much

[2020-05-15 08:08] antoniovs1029 commented on #5126
Hi @Aamirkhan10218 . Sorry, I am not sure what you're asking for.

Do you mean to ask how does the eShopDashboard app works?
In which case, the best I can provide is the description I've already linked to, as well as recommending looking into the code:
https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/Forecasting-Sales

Or, do you mean to ask how does the

[2020-05-15 08:23] Aamirkhan10218 commented on #5126
yeah please tell me how Algorithm work  also tell me that how dataset is is
used with algorithm. let me clear there is a **next** attribute in the
dataset just tell me that how  it come from the base dataset(Online Retail).

On Fri, May 15, 2020 at 1:08 PM Antonio Velázquez <notifications@github.com>
wrote:

[2020-05-16 01:13] adriansd27 commented on #5113
Hey @antoniovs1029 ,

Unfortunately I'm not able to share the solution zip. I can assure you that all the images are in good state, I've tried this with different datasets.

Cheers,
Adrian

[2020-05-16 03:44] frank-dong-ms opened #5139 "Legacy tests - partially disabled tests"
We have some tests that are partially disabled based on OS, arch or netcore version, resolve them or at least root cause them and let test running on all platform.

Test | Category | Status | Owner
-- | -- | -- | --
MulticlassTreeFeaturizedLRTest | [X64Fact("x86   output differs from Baseline")] | resolve | Mustafa
LinearClassifierTest | [X64Fact("x86   output differs from Baseline")] | resolve |

[2020-05-16 03:46] frank-dong-ms commented on #5139
Thanks to @mstfbl  all these legacy tests have been resolved. CC @harishsk

[2020-05-16 03:46] #5139 closed

[2020-05-16 08:29] antoniovs1029 commented on #5113
I see. @adriansd27 could you please share a simplified solution where your error is reproduced using some mock image dataset?

Or at least share what your pipeline looks like, as well as to how are you creating the testImageDataTags enumerable. I'd imagine there's some problem in here.

Also I'd like to know if your pipeline ends with a tensorflow estimator, or not? Have you tried also changing yo

[2020-05-17 14:40] adriansd27 commented on #5113
I've made my own metrics implementation, so I'm not able to test this anymore. I've also switched to in memory loading of images. However, at some point, I've encountered this problem again when evaluating the model with my own metrics methods, at this line of code:

` var imagePrediction = _predictionEnginePool.Predict("ImageClassificationModel", image);`

I've applied your fix for yielding list

[2020-05-18 00:34] ericdransfeldt commented on #5086
Hi Harish,
Sorry it took so long but I have a repro for you. Where would you like me to send the files? The issue seems to only happen when I am trying to access Microsoft.ML that is in a separate assembly. I am loading the assembly in another program and then calling into the library. I have code to demonstrate this. I actually built a debug version of the Microsoft.ML platform to trace into the

[2020-05-18 08:44] mstfbl commented on #4852
Closing this issue as most metric-based varying tests have been solved through libmf fixes or build-specific pipelines, and the remaining few metrics are due to acceptable metric differences between Windows, Linux and MacOS.

[2020-05-18 08:44] #4852 closed

[2020-05-18 22:11] dasokolo commented on #5022
Thanks everyone for providing the details about this issue. I am also experiencing the same problem. @antoniovs1029 do you have the ETA for the fix?

[2020-05-18 23:14] #5129 closed

[2020-05-19 04:50] antoniovs1029 commented on #5022
**TL;DR: This isn't really a bug, and if anything what needs to be fixed is the exception that is thrown, for it to be more understandable to the user. If someone encounters this scenario, then there are 3 main things to try out: use a bigger dataset, set the MinimumExampleCountPerLeaf  parameter to a smaller value, and/or presort your dataset by GroupId before passing it to ML.NET. If the problem

[2020-05-19 05:25] justinormont commented on #5022
Yep, as stated, supporting only contiguous runs of GroupIDs is intentional. Beyond allowing for speed and streaming, this allows for the reuse of GroupIDs later in the dataset.

This is used when another user (or the same one later) reruns the same query. The hashed version of the query text is often used as the GroupID. Runs of GroupIDs are assumed to be from the same set of query results, and th

[2020-05-19 09:08] ThomasArdal opened #5142 "Is it possible to avoid the runtimes folder in build output"
I have included the `Microsoft.ML` and `Microsoft.ML.TimeSeries` packages in an ASP.NET Core 3.1 project. Things are working great. I noticed that when including those packages in my project, I get a `runtimes` folder (almost 300 MB) in my build output. Setting `--self-contained false` as a parameter for my `deploy` command still include this folder. I have been reading about this folder being inc

[2020-05-19 18:08] dasokolo commented on #5022
@antoniovs1029  & @justinormont, thanks for your prompt and detailed replies. Very much appreciated!

I was not very precise, when I wrote that I experience the same issue. I see the same error NullReferenceException in the same stack trace, but it happens when I do binary classification, not the ranking.  Sorry about the confusion.

I myself have to work with user provided data in my service. I h

[2020-05-19 18:10] frank-dong-ms commented on #5142
Thanks for using ML.NET.

No, it is not possible to avoid the runtimes folder. This runtimes folder contains native components that ML.NET is depending on for tasks like mathematical calculation.

There are 4 folders inside runtimes folder that contains 4 version of native components(Linux-x64, osx-x64, win-x64 and win-x86), you can manually delete some of these 4 folders if they are not required

[2020-05-19 18:25] justinormont commented on #5022
@dasokolo: You may want to try the AutoML for binary classification (or multi-class). It's robust to  sets of hyperparameters which fail for your dataset. It will continue and try other hyperparameters sets and trainers, with the goal of optimizing the metric you specify.

AutoML is also rather more robust to the changing data, as it will automatically fill in missing value and if the data changes

[2020-05-19 18:31] antoniovs1029 commented on #5022
Thanks for reporting this, @dasokolo . I hadn't encountered this exception when working with binary classification, so it's good to know it can happen also there. But I wonder, are you able to share with us the dataset and/or a subset of the dataset where this exception occur so that can I reproduce this? If not, can you please tell us the size of the dataset (MBs, number of rows and columns)?

In

[2020-05-19 18:38] dasokolo commented on #5022
@antoniovs1029 The classification error happens on very small datasets (~8 examples). Each example has a 256-dimensional float vector as a feature.

[2020-05-19 18:46] antoniovs1029 commented on #5022
Oh, I see. Then I guess it's certainly this the problem, as your datasets are very small to produce a meaningful (i.e. non empty) model.

[2020-05-19 19:04] justinormont commented on #5022
@dasokolo: I agree w/ @antoniovs1029, you'll want a larger dataset. AutoML may make a model on your tiny dataset, though it's unlikely to be useful. You can see its row limits here: https://github.com/dotnet/machinelearning-modelbuilder/issues/638#issuecomment-614425998

As the users provide these tiny datasets, if your privacy rules allow, and each user's dataset is similar, you could merge multi

[2020-05-19 19:44] ThomasArdal commented on #5142
Thank you for that explanation. Makes total sense 👍

[2020-05-19 20:17] frank-dong-ms commented on #5142
Thanks, I will close the issue now, feel free to reopen or raise new issue if necessary.

[2020-05-19 20:17] #5142 closed

[2020-05-19 20:24] frank-dong-ms commented on #4668
Still seeing some hanging on mlnet core public pool but not on hosted agent pool, reopen this but mark as P2

[2020-05-19 21:02] antoniovs1029 opened #5144 "Add line limit to readMultilines in TextLoader"
_(This issue tracks @justinormont 's suggestion [here](https://github.com/dotnet/machinelearning/pull/5125#discussion_r427002585))_

Recent PR #5125 added a `readMultilines `option to `TextLoader `to enable the posibility of including newlines inside quoted fields.

A problem with this is that if the input file isn't correctly formatted (i.e., if it has a quote that opens a quoted field, that is n

[2020-05-19 21:08] antoniovs1029 commented on #4460
PR #5125 has fixed the problem in the TextLoader to load new line characters as part of quoted fields, as part of a new option called readMultilines.

As mentioned here: https://github.com/dotnet/machinelearning/pull/5125#discussion_r426017274 we'll leave it up to the ModelBuilder to decide how to surface this new option through AutoML, and if they actually want to expose this through InferColumn(

[2020-05-20 03:40] frank-dong-ms commented on #4524
@huy302 I have done more tests on this issue and below is my test result:

From ML.NET, there are mainly 2 place have multi-threading enabled, one is Text Loader and the other is DataViewUtils, I'm running 20 iteration for sequential and parallel with threading enabled for disabled from Text Loader and DataViewUtils:

1. Threading enabled:
Sequential: 00:02:39.7943361
Parallel:      00:21:09.26566

[2020-05-20 17:26] frank-dong-ms commented on #5111
@antoniovs1029 please follow up on this issue, if no more question from user you can close the issue, thanks

[2020-05-20 17:32] frank-dong-ms commented on #5030
@antoniovs1029  please follow up on this issue, if no new question from user you can close the issue.

[2020-05-20 18:50] antoniovs1029 commented on #5030
Hi, @coutaq . Since I haven't received a response after my last comment, I'll close this issue.

If you've found the change on your dependencies / project settings that started to cause this issue, please let us know and reopen this issue so that I can take a closer look. Thanks.

[2020-05-20 18:50] #5030 closed

[2020-05-20 18:55] antoniovs1029 commented on #5111
@frank-dong-ms I'm still waiting for the user response to see if I am understanding this issue correctly and decide if it's either a P1 or P2 (or perhaps P0).

[2020-05-20 19:53] antoniovs1029 commented on #5126
Hi, @Aamirkhan10218 .

It seems that we don't provide any docs explaining the algorithm (except for the high-level explanations of the estimaror's parameters). So I can only recommend looking for external sources such as the wikipedia article [on the algorithm](https://en.wikipedia.org/wiki/Singular_spectrum_analysis).

Regarding your question about the dataset, if you look into the `next` and `pr