[2022-02-04 09:30] r-pankevicius commented on #6071
I tried to compile on drive D expecting "cleaner environment", like no accidental chance of essential config files that may influence the build, but it was much worse. Promply failed at build.cmd step.

https://gist.github.com/r-pankevicius/0905b683931ac29942a9e5e0caadbda1

[2022-02-04 09:57] torronen commented on #6062
ok, makes sense., I agree. Changing seed in MLContext should take priority, I did not think about that.

Reproducing results between Python and .NET requires setting random_seed and also some other changes to defaults in .NET so this update alone would not be adequate for reproducability. Also, if .NET would have option to import LightGBM .txt-format then users would not need to re-train through M

[2022-02-04 10:09] r-pankevicius commented on #6071
Sequence of commands used (Windows, command prompt, not administrative mode):
[code]

[2022-02-04 10:16] r-pankevicius commented on #6071
Now I get same errors compiling on drive C:

https://gist.github.com/r-pankevicius/0905b683931ac29942a9e5e0caadbda1

Seems, the build is "not re-entrant", yesterday it broke something.

[2022-02-04 10:19] r-pankevicius commented on #6071
The first failure is here, below. I have CMake installed on my machine. Maybe it causes problems. Is there a requirement of having specific version of CMake?

[code]

[2022-02-04 10:21] r-pankevicius commented on #6071
My version is CMake 3.21.3.

[2022-02-04 12:47] r-pankevicius commented on #6071
The build.cmd output after cloning properly, same warnings as yesterday:
https://gist.github.com/r-pankevicius/1f722569a98be2a1747ddf1bb04c6a9e#file-build-cmd-output

[2022-02-04 14:42] r-pankevicius commented on #6071
Opened Microsoft.ML.sln with Visual Studio 2022 and compiled.

Clean solution
[code]
Build solution
[code]

[2022-02-04 14:45] r-pankevicius commented on #6071
Cleared spaces in two places and build succeeded.
So it's not a problem for me to build it, it's for you to align theory and practice :

[2022-02-04 22:24] torronen commented on #6062
This is probably not very important issue, but two options. How about these:

1. Set seed of MLContext as seed for LightGBM. E.g. new MLContext(123) => LightGBM.Seed would be by default 123, not random.Next()

 2. Set seed from random.Next only once per LightGBM trainer to a static shared variable. I think the current implementation sets a different seed for each time training is ran. It might sol

[2022-02-05 05:46] papyr commented on #6069
Thanks @michaelgsharp , is there a road map of which ML avenues you are planning.

The issue is that today we are getting deeper with Alexa or GOogle, while our backend is asp core, its hard to maintain all these skillsets. would be great if we could get one platform.

[2022-02-05 21:10] torronen commented on #6065
Do you know if the Model.zip file includes the model already in LightGBM .txt format? If it would, then we could do refit with LightGBM CLI, although we would need to still run the featurizers while saving data for CLI to refit. The zip file seems to include the hyperparameters in key.model which could be used to retrain the model, but the result could be a different kind of tree than the original

[2022-02-05 21:15] torronen commented on #6062
FastTree might use random seed from MLContext, but I did not yet follow this further, just note.
https://github.com/dotnet/machinelearning/blob/6d0a9f333c6b4adde49100c9addd305e7c51998e/src/Microsoft.ML.FastTree/FastTreeArguments.cs#L373

[2022-02-08 09:09] stamen-petrov opened #6078 "The example ApplyCustomWordEmbedding is not correct, "product" is not found."
[Enter feedback here]
The example ApplyCustomWordEmbedding is not correct, because the method NormalizeText in ML 1.6, has by default keepPunctuation = true, which leads to extracting "product.", not "product". The output is as shown, but the explanation is not, because the 2nd position of the output should be -2, if "product" is considered. I suggest either to remove the "product" row from the cu

[2022-02-08 14:30] DeveloperNo579212 commented on #6067
Issue #5946 seems somewhat related.

[2022-02-08 19:29] michaelgsharp commented on #6065
It doesn't include it. After the LIghtGBM model is trained we load in the model and then convert it from their LightGBM format into our ML.NET format.

We have discussed making a way to save this if desired, but nothing has been decided yet.

If you can build from source though I could show you where you would need to go to save the model. I know thats not a great fix for production, but for testi

[2022-02-08 22:46] ChadMGeek opened #6079 "Unable to load KMeans model as original data type"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: ML.Net 1.7.0
 - .NET Version: .Net 6.0

**Describe the bug**
After fitting a KMeans model, the trained model is of type TransformerChain<ClusteringPredictionTransformer<KMeansModelParameters>>.  After saving the model to a file using mlContext.Model.Save and reloading it using mlConte

[2022-02-09 01:01] michaelgsharp commented on #6071
Yeah. Those 2 specific ones should now be fixed in main. I'll see if I can figure out how they even slipped in in the first place. Glad you were able to get it figured out though. Thanks for pointing these out!

[2022-02-09 01:01] #6071 closed

[2022-02-09 01:11] michaelgsharp commented on #6062
So doing number 1 would be hard as LightGBM is included as an extra nuget package. So we can't just assume its going to be there to set directly with the MLContext.

I can see the benefits for number 2, but only if multiple models were done in the same MLContext. This seems to be more of an edge case than the standard case though.

I guess though I'm curious about your overall workflow with this.

[2022-02-09 01:13] michaelgsharp commented on #6069
@luisquintanilla for road map info.

[2022-02-09 06:07] torronen commented on #6062
yes, happy to try manual text file loading. I suppose it applies to LightGBM? I'll also plan to try to replace the LightGBM binary with GPU version per your suggestion in another thread.

---

Maybe I am mistaken but I have been thinking AutoML uses the same MLContext to generate new trainer every time. Maybe, it actually reuses the same trainers, but on a quick check, it uses SuggestedTrainer.Clo

[2022-02-09 15:27] torronen commented on #5873
I tried replacing Model builder's lightgbm dll binary compiled for Nvidia GPU in the extension folder. It works but uses CPU. I think it might require the device_type=GPU parameter. Just experimenting.

[2022-02-09 19:58] torronen commented on #6065
That would be great if you could do that!

[2022-02-10 07:43] JakeRadMSFT commented on #6027
@michaelgsharp I'm also hitting this issue

[2022-02-10 07:46] JakeRadMSFT commented on #6027
[TaxiModel_Notebook5.txt](https://github.com/dotnet/machinelearning/files/8039013/TaxiModel_Notebook5.txt)

(Save as IPYNB)

[2022-02-11 16:24] luisquintanilla commented on #6069
Hi @papyr

Thanks for raising this issue. We are currently working on adding [TorchSharp](https://github.com/dotnet/TorchSharp) support in ML.NET as part of our [Deep Learning story](https://github.com/dotnet/machinelearning/issues/5918). As part of those efforts, although NLP is one of the tasks we're looking to support, we have no specific plans for voice/audio at this time. However, as we hear

[2022-02-14 23:44] ericjohannsen opened #6084 "Exception Retrieving PFI from AutoML Model"
**System Information (please complete the following information):**
 - Windows 11
 - ML.NET Version 1.7, AutoML 0.19.0
 - .NET Version: .NET Core 3.1

**Describe the bug**
ArgumentNullException while attempting to retrieve PFI
The model provided does not have a compatible predictor (Parameter 'lastTransformer')

Stack trace
   at Microsoft.ML.Runtime.Contracts.CheckValue[T](IExceptionContext ctx,

[2022-02-15 03:00] #6027 closed

[2022-02-15 04:38] jberd126 commented on #5895
Yes! This problem I encountered today.

For @vgb1993's points above,

1 - Yes
3 - Yes
5 - Yes, CSV for us

Others are maybe/sure.

[2022-02-15 15:42] luisquintanilla opened #6087 "SlotNames behave differently based on column type"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: 1.7.0
 - .NET Version: .NET 6.0

**Describe the bug**

For multiclass classification problems, SlotNames are only available when the columns are of type `string`. Even though, the value and meaning of that value are the same, the SlotName behavior is different based on the data type.

[2022-02-15 17:22] GKrivosheev-rms opened #6088 "Is DataFrame project dead? (No Enhancements to Microsoft.Data.Analysis for almost a year)"
I see dozens of issues and enhancement suggestions for DataFrame in Microsoft.Data.Analysis namespace untouched for almost a year.
Are there any resources allocated to address those?
Is the project dead?
Are there any plans to fund the work on those features in the future?
Should we base any future development on these?

[2022-02-15 17:59] luisquintanilla commented on #6088
Hi @GKrivosheev-rms

Thanks for raising this issue. We're planning on evaluating the data preparation / data wrangling story in the coming months as outlined in the [roadmap](https://github.com/dotnet/machinelearning/blob/main/ROADMAP.md#define-the-plan-for-data-prep). We suspect the DataFrame API has a role to play there but until we have a clearer picture on common uses, asks, and pain points wi

[2022-02-15 18:02] GKrivosheev-rms commented on #6088
Thanks, Luis!

[2022-02-15 18:31] GKrivosheev-rms commented on #6088
Luis,
Just to give you a context, we are considering the DataFrame and related code to build a natural disaster modeling framework for RMS / Moody's Analytics.  The columnar data type fits nicely for processing insurance losses while doing large-scale analytics and data processing.  It's a very nice paradigm, just needs some basic enhancements listed above.

[2022-02-15 18:33] michaelgsharp commented on #6079
Thanks for raising the issue with this. Can you elaborate on the exact problems this is causing you? We understand that you should be able to save/load a model to the same type, but beyond this being a different type is this causing you any errors or anything?

[2022-02-15 18:40] ChadMGeek commented on #6079
In my particular situation, I had trained some models and saved them and later wanted to go back and get the cluster centroids so that I could create a plot of the clusters using the KMeansModelParams.GetClusterCentroids(ref centroids, out var k) method. My workaround ended up being that I had to re-train the models and grab them during the training process rather than saving the model and getting

[2022-02-15 18:41] michaelgsharp commented on #5895
Currently the easiest way to do a dynamic dataview is using the Microsoft.Data.Analysis.DataFrame because it can dynamically load in a text file and create the schema automatically and then use that in ML.NET. Take a look at [this](https://www.luisquintanilla.me/posts/mlnet-predictions-no-schema.html) for an example.

That being said, some of the other approaches mentioned above are things we are

[2022-02-15 21:03] luisquintanilla commented on #6088
Tagging for visibility: @GKrivosheev-rms

Thanks Gleb for providing additional context around your scenario. To clarify, you're looking to use DataFrame for data processing and analytics, not exactly for building predictive analytics / machine learning models? If so, have you taken a look at [.NET for Apache Spark](https://docs.microsoft.com/dotnet/spark/what-is-apache-spark-dotnet)?

It has it's

[2022-02-15 21:21] michaelgsharp commented on #6062
So the seed is reset each time and we use a new MLContext for each run in automl. While I say the seed is reset, I believe its reset but then advanced by one step, if I am reading the (code)[https://github.com/dotnet/machinelearning/blob/510f0112d4fbb4d3ee233b9ca95c83fae1f9da91/src/Microsoft.ML.AutoML/Experiment/Experiment.cs#L143] right anyways. But that section of code should give you an underst

[2022-02-15 21:28] michaelgsharp commented on #6065
Saving:

So [here](https://github.com/dotnet/machinelearning/blob/770327a2074d8ab39a023bc9252a713a3afa8293/src/Microsoft.ML.LightGbm/WrappedLightGbmBooster.cs#L192) is where we actually have the LightGBM model as a string internally. The easiest way would just be to take that `modelString` and write it out. Behind the scenes though we are actually calling the native function `LGBM_BoosterSaveModel

[2022-02-16 14:05] jberd126 commented on #5895
@michaelgsharp, I do agree that a `Microsoft.Data.Analysis.DataFrame` may be a solution, the issue is that it cannot be streamed (the entire dataframe has to fit into memory to use it).

Are you aware of any partitioning work on dataframes such as the Python dask library for pandas?

[2022-02-17 12:26] JulianusIV opened #6092 "CL with Binary Logistic Regression"
Hello,
I am currently testing some stuff with ML.NET, specifically Binary Logistic Regression, and trying to get CL to work on that.
To do that I found a few different articles, mainly [this one](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/retrain-model-ml-net), which I followed as closely as the algorithm allowed.
However when trying to get the parameters from a loaded

[2022-02-17 21:38] #6069 closed

[2022-02-18 03:45] michaelgsharp commented on #5895
Personally I am not but I haven't really looked into it much. @luisquintanilla are you aware of anything?

Yeah, the memory thing can be an issue. I'm not aware of a workaround for now, but this is something we are keeping in mind for future work.

[2022-02-18 04:43] michaelgsharp commented on #6092
Without more info I'm not entirely sure, but I believe the issue is that you need to change the `as LinearModelParameters` to `as LinearBinaryModelParameters` (found in Microsoft.ML.Trainers.LinearBinaryModelParameters).

Try that out and let me know what happens.

[2022-02-18 07:45] JulianusIV commented on #6092
Thank you for the fast response.
I believe I had tested it with that parameter class, and it didn't work, but will try again as soon as I am home today

[2022-02-18 10:58] torronen commented on #6065
@michaelgsharp Thank you so much, looks great to me!

[2022-02-18 10:58] #6065 closed

[2022-02-18 10:58] #6062 closed

[2022-02-18 15:04] tankhar commented on #6050
Hi
Can you give some inputs to optimize this?

[2022-02-18 17:28] JulianusIV commented on #6092
@michaelgsharp I have tried the same thing as before, just with ``as LinearBinaryModelParameters``, but as you can see here
![grafik](https://user-images.githubusercontent.com/65790187/154732342-4ed23fae-70bd-49cc-afc2-1885b956f8ef.png)
and as was pretty much predictable by the inheritance of that class:
![grafik](https://user-images.githubusercontent.com/65790187/154732450-3aeb1e45-eb53-43d4-b23c

[2022-02-20 13:14] jwood803 opened #6094 "ML.NET CLI train command produces error"
**System Information (please complete the following information):**
 - OS & Version: MacOS Monterey 12.1
 - ML.NET CLI Version: 16.13.1
 - .NET Version: .NET 6

**Describe the bug**
When using the CLI's `train` command and supplying an MB Config file, the below error is returned.

[code]

**Screenshots, Code, Sample Projects**
![image](https://user-images.githubusercontent.com/1578160/154844320-ed

[2022-02-20 20:03] IntegerMan commented on #6084
Is there any further details on the preview package route or any estimate when a released package might be available? I added that JSON as a NuGet package source, but the latest available version of AutoML and Microsoft.ML from that source match the latest on NuGet and both have this issue as well.

I had hoped to include explainability in a user group talk / workshop I'm giving Thursday on AutoML

[2022-02-20 20:22] ericjohannsen commented on #6084
@michaelgsharp @IntegerMan
I was able to reference Microsoft.ML 2.0.0-preview.22115.2 and Microsoft.ML.AutoML 0.20.0-preview.22115.2 using the source on Azure, but still encounter the same problem.

    <PackageReference Include="Microsoft.ML" Version="2.0.0-preview.22115.2" />
    <PackageReference Include="Microsoft.ML.AutoML" Version="0.20.0-preview.22115.2" />

[2022-02-22 16:18] waelhosn commented on #5264
I am facing an issue with MlContext.MulticlassClassification.PermutationFeatureImportance. The issue is that if my trainer has a conversion appended to the pipeline such as the one found below it will not work. `.Append(MlContext.Transforms.Conversion.MapKeyToValue(outputColumnName: nameof(IrisModelOutput.Species), inputColumnName: "PredictedLabel"));`

So in order to fix this issue I had to creat

[2022-02-23 02:38] luisquintanilla commented on #6088
@GKrivosheev-rms great questions. I've tried to answer them below.

1. The DataAnalytics DataFrame can be thought of similar to the Pandas DataFrame whereas the .NET for Spark DataFrame is just the DataFrame implementation Spark uses. As a result, the DataAnalytics DataFrame you can use without any dependencies locally on your PC while Spark DataFrames run on the Spark engine, which you could run

[2022-02-23 05:24] ooples commented on #6072
@michaelgsharp Which option is for the machine learning repo or is that not on the list?

[2022-02-25 06:37] TusharMalap opened #6097 "How can perform percentage predication in ml.net?"
I want my features percentage on targeted variable/label.
For example Movie -is my targeted variable and I want to predict genre of that movie like Romantic=99.98% Comedy=00.01% thriller=00.01
i.e.. Romantic + comedy + Thriller =100%

[2022-02-25 20:12] gjiremadzeBECKMAN opened #6098 "Protobuf Parsing Failed when loading Keras model with custom layer"
Hey all I'm having an error when trying to load a keras model with a custom layer. When trying to call Transforms.ApplyOnnxModel(modelFile) I'm receiving an exception:

Microsoft.ML.OnnxRuntime.OnnxRuntimeException: '[ErrorCode:InvalidProtobuf] Protobuf parsing failed.'

Has anyone tried loading models with custom layers with onnxruntime and have you had any success?

Does anyone know which ONNX o

[2022-02-25 21:39] luisquintanilla commented on #6087
Not sure if it was ever addressed, but additional sings that indicate SlotNames are intended to support types other than `string` https://github.com/dotnet/machinelearning/issues/2810#issuecomment-468813505

[2022-02-25 23:59] jeffhandley opened #6100 "Testing issue triage automation"
This issue is being used to test the issue triage automation that has been added to the repository. Please ignore.

[2022-02-25 23:59] jeffhandley commented on #6100
This comment should result in the issue needing further triage.

[2022-02-26 00:03] bartonjs commented on #6100
Little known fact: I can write extremely eloquently... but only so long as I'm not actually writing anything.

[2022-02-26 00:09] bartonjs commented on #6100
From the Unix fortunes file:

	A specification that will not fit on one page of 8.5x11 inch
	paper cannot be understood.
		-- Mark Ardis

I asked Mark (Dr. Ardis, if you prefer) about this once... and he told me he later came up with a counter-example.  But I don't remember it, just that it confused me, because it sounded more like it reinforced his principle.

Oh, well.

[2022-02-26 00:21] #6100 closed

[2022-02-28 13:18] AbhayGaur opened #6102 "Analysis of score given as output by binary classification algorithms"
Binary classification algorithm like Lbfgs, fasttree etc produce score generated by trained model for test cases but the range of score seems to be often very wide resulting in probability either showing as very close to 0 or very close to 1. Is there a way that range of the score function can be estimated before evaluating the results. Really helps with scenarios where threshold can be a variable

[2022-02-28 22:32] LittleLittleCloud commented on #5872
@ericstj @eerhardt @michaelgsharp
What it takes to add support for `VBuffer` or more generically: `Object` in `DataFrame` API, any roadmap for that

[2022-03-01 04:44] ericjohannsen commented on #6084
@michaelgsharp Any word on this?

[2022-03-01 17:53] LittleLittleCloud opened #6120 "Probability is missing for FastForest"
As title

_Originally posted by @andrasfuchs in https://github.com/dotnet/machinelearning-modelbuilder/issues/2042#issuecomment-1054694178_

[2022-03-01 19:25] danmoseley commented on #6072
@ooples it should have been there -- we got quite a few responses for this repo.

@michaelgsharp the survey is now closed -- could you please close and un-pin this issue? I really should get myself rights to do that..

[2022-03-02 00:39] michaelgsharp commented on #6097
Take a look at #6087 and see the code sample there. It may be able to answer your question.

[2022-03-02 00:39] #6097 closed

[2022-03-02 00:43] michaelgsharp commented on #6098
Latest released version of ML.NET is using OnnxRuntime 1.6. The main branch has been updated to use 1.10. If you need a newer version than 1.6 you can directly reference a newer version in your project and it will overwrite the older version.

If its a custom layer created with Keras and only supported by Keras than this might be an issue. Please try the suggestion and let us know if you still hav

[2022-03-02 00:50] michaelgsharp commented on #6102
Take a look at this [thread](https://github.com/dotnet/machinelearning-modelbuilder/issues/2042), specifically this [comment](https://github.com/dotnet/machinelearning-modelbuilder/issues/2042#issuecomment-1049119864). Basically, the score column is directly translated by a formula specific to the trainer to get the probability. Because of this each trainer can (and probably will) have different r

[2022-03-02 00:53] michaelgsharp commented on #5872
This is going to need some further investigation to see what it would take. Its in our roadmap but we will be taking a look at it after we get TorchSharp resolved.

[2022-03-02 00:54] #6072 closed

[2022-03-02 01:35] ericstj commented on #5872
@eerhardt have you thought of this before or are you aware of any discussion with Prasanth about it?  If we have an idea of how it would work we could write that up here in case someone else might be interested in helping fix this.

[2022-03-02 13:40] TusharMalap opened #6106 "is it possible to perform prediction on output of multiclass-classification prediction?"
hierarchical classification in ml.net.
Like I want to predict like this
Animal- -cat--breed

[2022-03-02 18:11] michaelgsharp commented on #6084
In the preview version instead of passing in `bestRun.Model.LastTransformer`, you should just pass in `bestRun.Model`. The PFI code should automatically pull out the transformer that it needs. Can you try doing that and let me know what happens? I'll repoen this issue for now.

We are planning on doing a servicing release which will include this bug fix next week as well.

[2022-03-03 05:20] TusharMalap opened #6109 "Hierarchical Classification in ml.net ?"
Is there way to achieve Hierarchical Classification in [ml.net](http://ml.net/)?
Like Predict cat from animal category and then predict breed of that cat based on cat as a input? in multiclass-classification?

[2022-03-03 06:02] #6106 closed

[2022-03-03 10:36] JD-Robbs opened #6110 "DataFrameColumn: Unable to Filter by Null via ElementWiseXYZ Methods (System.NotSupportedException)"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: Latest
 - .NET Version: .NET 6.0

**Describe the bug**
When passing `null` into `ElementWiseXYZ` methods, a `System.NotSupportedException` is thrown: 'Specified method is not supported.'

**To Reproduce**
Steps to reproduce the behavior:

            var col = new DoubleDataFrameColum

[2022-03-03 10:58] sportbilly21 opened #6111 "ONNX with ML.Net very slow performance in GPU"
System information
Windos 10 build 19044
ML.Net 1.7.0
Microsoft.ML.OnnxRuntime.GPU 1.10.0

 Issue

Currently our application is in .Net and for deploying the models and getting the predictions we are using Flask and python. The models this way are running very fast all models run in around 10ms and GPU utilizsation is very low. GPU is a Quadro P400. We are trying to remove Flask and run everything

[2022-03-04 13:01] TusharMalap opened #6113 "Decision Tree Algorithm in ml.net ?"
How I can  achieve that?

[2022-03-04 13:54] maheshlokhande opened #6114 "LBFGSLogisticRegression trainer probability distribution issue"
We are using LBFGSLogisticRegression trainer for binary classification which seem to be working fine but in some cases (especially with larger training data) probability distribution isn't even. We are getting probability of above 90 and near 0 for positive and negative test samples respectively even though scores for these samples are quite apart. Is there a way to calculate probability which wil

[2022-03-04 17:47] JulianusIV commented on #6092
Hello,
is there any update on this? I hate to have to annoy someone, but I have to have a project on hold until this can be resolved.
If you can't tell me what exactly would be used in my example, could you instead point me towards another example for CL with Binary Classification?

[2022-03-04 19:12] gjiremadzeBECKMAN commented on #6098
@michaelgsharp
I went ahead and added the Microsoft.ML.Onnxruntime NuGet to my solution and made sure that the version was up to date 1.10 but am still receiving the same error.

I also took the 1.10 DLL and copied it over to the original solution to replace the Onnxruntime.DLL that's included in Microsoft.ML.Transforms.Onnx but still getting the same Protobuf Parsing error.

Would there be a way

[2022-03-05 06:45] TusharMalap opened #6115 "Decision Tree Algorithm"
is this possible in ml.net ?
how can I achieve this one.
My unanswered questioned no. 05

[2022-03-05 18:14] ericjohannsen commented on #6084
@michaelgsharp I was already passing in bestRun.Model

[code]

[2022-03-06 03:02] HolyOne commented on #376
I am also confused with required ColumnName attributes, diffrent for every ML algortihm.
Why not force an interface like IRegressionOutput on the output type so we can know which properties to implement when designing Input and output?

[2022-03-06 10:10] torronen commented on #6009
I do not understand yet adquately these but it is probably related to these https://docs.microsoft.com/en-us/dotnet/api/system.outofmemoryexception?view=net-6.0#remarks

Total data is about 100 Gb split to train (60gb), validate (20gb) and test (20gb).

Windows Server 2022 with 512 Gb RAM on FastTree (with 1.5 TB fixed paging file, just to rule that out )
1) Load from CSV file => OM error
2) Load

[2022-03-07 17:35] gjiremadzeBECKMAN commented on #6098
@michaelgsharp is there any way to get a more descriptive error from the exception?

[2022-03-08 09:44] breadnone commented on #630
Any news on this? Also having it natively working instead of azure is a plus for many portability reasons

[2022-03-08 16:27] luisquintanilla commented on #6113
Hi @TusharMalap

Here's a list of [decision-tree algorithms supported in ML.NET](https://docs.microsoft.com/dotnet/machine-learning/how-to-choose-an-ml-net-algorithm#decision-tree-algorithms).

Here's general guidance on [how to build a training pipeline with ML.NET](https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/train-machine-learning-model-ml-net).

Closing this issue for now.

[2022-03-08 16:27] #6113 closed

[2022-03-08 21:38] JakeRadMSFT commented on #6035
@LittleLittleCloud didn't we see this issue somewhere else? What was the root cause?

[2022-03-08 23:08] michaelgsharp commented on #6109
It sounds like you are wanting to use the output from a prediction as an input into the next prediction. Is that correct? If so, this is supported. You would have to create multiple trainers, 1 for each thing you want to predict, and feed the output from the first pipeline into the second one.

[2022-03-08 23:12] michaelgsharp commented on #6111
Can you share a full repro so we can take a look?

[2022-03-08 23:23] michaelgsharp commented on #6114
Can you provide more context? Each trainer converts its score into a probability during its "Optimize" function. See (here)[https://github.com/dotnet/machinelearning-modelbuilder/issues/2042#issuecomment-1049119864] for a few more details. LBFGS specifically uses the function found [her](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.lbfgslogisticregressionbinarytrainer?view=ml-

[2022-03-08 23:38] LittleLittleCloud commented on #6035
I'll take a look, meanwhile, to disable trainers you can refer this comment
https://github.com/dotnet/machinelearning-modelbuilder/issues/1998#issuecomment-1026240486

[2022-03-08 23:50] michaelgsharp commented on #6009
That is very interesting that the smaller machine works fine.. are the versions of .NET the same between them? Which version is it?

[2022-03-08 23:51] michaelgsharp commented on #6092
Can you share a small sample data set? You already uploaded the code, and if you share a small dataset I can take a more indepth look at it probably tomorrow.

[2022-03-09 05:48] tankhar commented on #6050
Hi
Are there any updates on this?

[2022-03-09 07:55] JulianusIV commented on #6092
Here are some of the rows of the dataset i use (i had to delete some, due to newlines in the comment text, which is the reason I use Sql Server as a datasource).
The dataset itself is from [this old kaggle challenge](https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge/data).

In the modelbuilder gui I set everything but ``comment_text`` and ``toxic`` to ignore.

id | comment_tex

[2022-03-09 09:47] sportbilly21 commented on #6111
I cannot share any images or models for this. I can share the file the file I am building the pipeline
I using 4 onnx models so I am building 4 predictions engines (4 instances of this class)

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Collections.Generic;
using System.Drawing;
using System.IO;
using System.Text;

[2022-03-10 03:07] michaelgsharp commented on #6092
Alright, I was able to get it working. I had to change it to this:
[code]
Test that and let me know if it works for you.

@luisquintanilla this is an issue with the clarity of the docs. Retraining LbfgsLogisticRegression takes in a LinearModelParameters, so it is reasonable to expect people will think thats what you should cast the model as. In this case because the model is calibrated you have to

[2022-03-10 03:32] michaelgsharp commented on #6050
You said that you don't want to load all the data into memory for fitting, which I completely understand. But you also said that you would expect the data to only be fetched once and then have all the pre-processing done on that data. For that to happen the data would have to be stored in memory once the pre-processing is done (or maybe just after you have fetch it from the database). Otherwise, a

[2022-03-10 06:18] DeveloperNo579212 commented on #6067
I just confirmed the potential error is present with the most recent Microsoft.ML.NET Version: 1.7.1 update, including:
Microsoft.ML: 1.7.1
Microsoft.OnnxTransformer: 1.7.1
Microsoft.ML.TensorFlow: 1.7.1
Microsoft.ML.ImageAnalytics: 1.7.1
etc.
Confirmed 2022-03-10.

[2022-03-10 14:36] TusharMalap commented on #6109
Ok. Thank you for the suggestion. I'll try to implement . also is there way I can perform percentage prediction on data with multiple features.
In multiclass classification where it predict language .

If I enter 'And' then it predicted as 97% English.
But I also want result like 97 % English then 2%italian ,1%Spanish
That is resulted percentage = 100%

I did achieve this using scores and foreach

[2022-03-11 13:10] JulianusIV commented on #6092
This seems to work, thank you a lot for your help :D

[2022-03-11 16:02] zweistein22 opened #6124 "mlContext.Data.LoadFromEnumerable error if data is not known at compile time?"
Hello,

I am trying to set up a simple in memory text featurization pipeline.

As long as my sample data is known at compile time all works fine and the feature vectors are calculated correctly,
As soon as I try to create  the sample data at run time all featurevectors always result 0.

Actually all microsoft examples I found similar to this code  are fixed values and known at compile time.

I att

[2022-03-11 22:58] swidz commented on #630
+1

[2022-03-12 12:51] torronen commented on #6009
I will update this comment later. I need to wait until the current tasks complete.

Possible workaround for now: Make everything use hash encoding instead of one hot encoding in transform inference exports.

**Windows 2022 server (bigger machine)**
System.Environment.Version: 5.0.13
System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription: .NET 5.0.13
_=> will upgrade to 5.0.15 and r

[2022-03-14 11:18] sportbilly21 commented on #6111
Hi, I tried using a Tensoflow model instead of ONNX but I am getting the same issue with the performance. @michaelgsharp does this issue has anything to do with you comment in #10142 in microsoft/onnxrutime git issue?
"Yeah, I'm one of the devs on the ML.NET side of things. This is actually an issue on our side. After you save/load a model, it no longer uses the GPU and the user doesn't have a way

[2022-03-14 15:08] olavt opened #6127 "DataFrame merge results in column datatype problem"
.Net Core 3.1
Microsoft.Data.Analysis Nuget package version: 0.19.1

The last line of the following program crashes with the exception:

System.ArgumentException: 'Cannot cast column holding System.Double values to type System.Double'

using Microsoft.Data.Analysis;
using System;
using System.Linq;

namespace TestDataFRame
{
    internal class Program
    {
        static void Main(string[] args)

[2022-03-14 18:15] olavt opened #6128 "Microsoft.Data.Analysis DataFrame.Join infinite loop"
.Net Core 3.1
Microsoft.Data.Analysis Nuget package version: 0.19.1

This code results in a hang in DataFrame.Join:

using Microsoft.Data.Analysis;
using System;
using System.Linq;

namespace TestDataFRame
{
    internal class Program
    {
        static void Main(string[] args)
        {
            DateTime?[] dates1 = { new DateTime(2022, 03, 01), new DateTime(2022, 03, 02), new DateTime(2022,

[2022-03-14 19:18] luisquintanilla commented on #6124
Hi @zweistein22,

I tried putting together a similar sample but ran into the opposite scenario. In this snippet I download data from a Wikipedia article and use the text contained in the paragraph elements as my input data. Using the pipeline you provided, the sentences from the wikipedia article are featurized as expected. When I use text like "aa bb", I get a featurized vector with all zeros. I

[2022-03-14 20:44] olavt opened #6129 "Microsoft.Data.Analysis DataFrameColumns.SetName method is weird"
.Net Core 3.1
Microsoft.Data.Analysis Nuget package version: 0.19.1

This would be the logical way to call the method:

dataFrame.Columns["Date_left"].SetName("Date");

But, this does not result in the column being properly renamed.

The method needs to be called like this in order to work properly:

dataFrame.Columns["Date_left"].SetName("Date", dataFrame);

Here's a program to reproduce the issu

[2022-03-15 00:17] luisquintanilla commented on #6128
Hi @olavt

Sorry to hear you're having issues joining your data. I was able to repro. When using the `Join` method, it seems like the library has a hard time performing the operation when the columns from both DataFrames have the same name. If the column names are different, the operation completes successfully. Thanks for reporting this issue.

![image](https://user-images.githubusercontent.com/4

[2022-03-15 08:46] olavt commented on #6128
Yes, joining the datasets with different column names works. I would however expect to be able to join the datasets and have one resulting Date column rather than two different ones. How can I achieve that?

[2022-03-15 15:45] luisquintanilla commented on #6128
In the current implementation of the DataFrame, both columns are persisted. One way for you to get a single columns is, after the merge, create a new column with the distinct date values and drop the original columns from the DataFrame.

![image](https://user-images.githubusercontent.com/46974588/158416425-3916a70f-71a6-4d3b-b13d-73d5d6df5ab6.png)

[2022-03-15 17:04] luisquintanilla commented on #6092
I can make a note in the article referenced by @JulianusIV this is the case.

[2022-03-15 18:44] olavt commented on #6128
Hmm, that solution does not look pretty. What is the difference between Merge and Join? I would have expected the Join to be able to join on a "common" column in two DataFrames and create one resulting column. I would be scared reading the above code and it's unclear that the dates in the resulting column would match the rows.

[2022-03-16 00:57] luisquintanilla commented on #6128
I believe the main difference is Join combines the data based on the index and Merge does it based on the columns you specify.

This is what a **Joined** DataFrame would look like.

![image](https://user-images.githubusercontent.com/46974588/158495865-175a155c-6968-4e88-b0f7-f26496e8cf88.png)

This is what a **Merged** DataFrame would look like

![image](https://user-images.githubusercontent.com/4

[2022-03-16 06:49] cvixxt commented on #5484
Hi all,
I also recently used Custom Vision's Onnx to export files, but under the C# WinForm I wrote, the output results are very different from the cloud results. The final output float[ 55x13x13 ] -> means that I have (6 various labels + 5 parameters) x Anchors(5) -> 55, but the predicted results are still very different. Will this question be updated later?

[2022-03-16 08:59] cvixxt opened #6130 "Fix Pixel Extraction ordering."
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: ML.NET v1.7.1
 - .NET Version: .NETCore 3.1

**Describe the bug**
Use Custom Vision to output .ONNX, the result on the local side is different from the result on the cloud

**To Reproduce**
1. Using Onnx Object Detection App (from dotnet/machine learning/sample)
2. Delete TinyYolo_mod

[2022-03-16 11:38] olavt commented on #6128
According to my testing, both the Merge and Join produces the same result in the code below:

            DateTime?[] dates1 = { new DateTime(2022, 03, 01), new DateTime(2022, 03, 02), new DateTime(2022, 03, 03) };
            double?[] closePrices = { 10.5, 12.4, 11.3 };

            DateTime?[] dates2 = { new DateTime(2022, 03, 01), new DateTime(2022, 03, 02), new DateTime(2022, 03, 03), new Dat

[2022-03-16 12:22] torronen commented on #6009
Upgrade to .NET 5.0.14, or .NET 6 did not solve the issue.

[2022-03-17 06:34] torronen commented on #6009
Because it is System.IO.FileStream and StringBuilder, is it something which actually belong for the dotnet main framework team?

Screenshots during debugging
![image](https://user-images.githubusercontent.com/26261427/158749612-8d3048ae-5965-4756-8558-111fa4c82ba9.png)
![image](https://user-images.githubusercontent.com/26261427/158750240-21c11310-be97-4f81-99ff-a538369e4ad1.png)
![image](https://u

[2022-03-17 08:25] olavt opened #6133 "Microsoft.Data.Analysis.DataFrame Join should produce a result with a single joined column"
Given two DataFame objects it should be easy to perform a simple outer join to achieve these results:

DataFrame1:
Date | ClosePrice
-- | --
3/1/2022   12:00:00 AM | 10.5
3/2/2022   12:00:00 AM | 12.4
3/3/2022   12:00:00 AM | 11.3

DataFrame2:
Date | ShortPercent
-- | --
3/1/2022   12:00:00 AM | 2.34
3/2/2022   12:00:00 AM | 2.36
3/3/2022   12:00:00 AM | 3.01
3/4/2022   12:00:00 AM | 3.04

Resulti

[2022-03-18 19:13] michaelgsharp commented on #6133
Thanks for pointing this out @olavt. This is the same issue that you and I were talking about right @luisquintanilla?

[2022-03-18 19:19] michaelgsharp commented on #6009
Thats really interesting. You still have tons of ram free. @tarekgh do you have any ideas here? I wonder if it has to do with limits on number of items in collections? Though that wouldn't explain the difference between the 2 systems unless something in the environment was changing things.

[2022-03-18 19:25] michaelgsharp commented on #6009
It looks like the default setting is to allow very large objects https://docs.microsoft.com/en-us/dotnet/core/runtime-config/garbage-collector#allow-large-objects. Can you double check that the environment variable is either not set or at least not set to 0?

[2022-03-18 19:51] michaelgsharp commented on #6127
Alright, the issue is that merge is calling "Clone" on the columns, but Clone returns slightly different types. For example, Instead of returning `DoubleDataFrameColumn` it is returning `PrimitiveDataFrameColumn<double>`. `DoubleDataFrameColumn` does extend `PrimitiveDataFrameColumn<double>` but they aren't the same type obviously.  The problem then is that in the call to `GetDoubleColumn`, the ch

[2022-03-18 19:56] michaelgsharp commented on #6129
Looks like the columns themselves don't have a reference to the parent DataFrame, hence this behavior. I think the way to fix this would be to have the column have a reference to the DataFrame so it can perform the update as you point out. I dont think it would be a big change. @luisquintanilla

[2022-03-18 20:05] michaelgsharp commented on #6067
Ok, I figured out the issue (I think anyways). The model input has the first dimension defined as `unk__605` which is meaning that the dimension is of unknown size. We do allow the first dimension to be of unknown size, but our code is expecting that to be represented as `-1` (or I believe any negative number). How did you convert your model to onnx? I'm trying to figure out where that representat

[2022-03-18 20:10] michaelgsharp commented on #6092
Sounds good. I'll go ahead and close this issue then since you are tracking it elsewhere.

[2022-03-18 20:10] #6092 closed

[2022-03-18 20:14] michaelgsharp commented on #5484
@cvixxt can you share a sample repro project so I can take a look? With the onnx model/code/data so we can get an easier repro. And also what results were you getting online so we know where the discrepancy is.

[2022-03-18 20:37] michaelgsharp commented on #6129
Ok, the other option (or we could do both), is that `dataFrame.Columns` does have a `SetColumnName` method as well, it just for some reason requires you to pass in the whole column `SetColumnName(DataFrameColumn column, string newName)`. We could just overload that method to just take the name of the current column and the name you want to set it to `SetColumnName(string curName, string newName)`.

[2022-03-18 20:56] michaelgsharp commented on #6128
Yeah, we have an issue with the naming of the join/merge API's. I haven't looked closely enough at join to know exactly how it works, but it does NOT work on column names. If you want to do it based on column names you need to use merge instead. This threw me off, and will probably throw of anyone familiar with this type of stuff IMO. Especially because if @luisquintanilla is correct in that join

[2022-03-18 20:59] michaelgsharp commented on #6130
Hey @cvixxt, I responded on the other issue where you commented this, but can you share a sample repro project so I can take a look? With the onnx model/code/data so we can get an easier repro. And also what results were you getting online so we know where the discrepancy is.

[2022-03-18 21:17] DeveloperNo579212 commented on #6067
Ok,  as reference the model converted to onnx using this (also here in Section SavedModel:
https://onnxruntime.ai/docs/tutorials/tf-get-started.html)
I tried different opset in the conversion (for troubleshooting) with no different outcome /7/11/13/etc
python -m tf2onnx.convert --saved-model path/to/savedmodel --output dst/path/model.onnx --opset 11

I have attached this here zipped;
[model.zip](h

[2022-03-18 21:49] tarekgh commented on #6009
This looks like a limitation to me in the StringBuilder when integer overflow occurs. Properly we have passed 2GB there.

https://github.com/dotnet/runtime/blob/798d52beb74db0faff27306d7ed97186333037ca/src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs#L2303

I am not sure this will be easy to fix in StringBuilder. But I may try to look to see if this is possible. Otherwise, we'

[2022-03-18 22:25] tarekgh commented on #6009
@torronen looking at the stack that throw OOO exception, I am wondering if the data file is formatted and has end of line character at the end of each line? Looks the stream trying to read one line which is huge.

[2022-03-19 16:24] torronen commented on #6009
Thanks.

Next week, I will:
- [ ] validate the CSV data file. It should have Environment.NewLine at end of each file and column counts should have been validated already, but I will double check. 2 GB might be about 20 000 lines.
- [ ]  Confirm gcAllowVeryLargeObjects = true. I was not yet able to read gcAllowVeryLargeObjects runtime, or other way to confirm it has correct value during runtime. I'

[2022-03-19 18:50] WhitWaldo commented on #5918
I get where you're coming from, but I'd urge you to consider the [simple reasoning](https://github.com/dotnet/TorchSharp#torchsharp) for the design decision. Put simply, given the enormous amount of existing documentation, tutorial and guide content and other collateral already created for PyTorch, keeping the naming and API conventions identical makes all this applicable to the .NET bindings as w

[2022-03-20 14:05] torronen opened #6134 "Q: How to concatenate two DataViews?"
I have:

- IDataView trainingData
- IDataView testData

I want to combine trainingData and testData
`IDataView combinedData = trainingData + testData;`

Finally, I want to retrain the model with it.
1) Is there are way to do it without converting to DataFrame?

2) What is the syntax for doing it as a DataFrame. I am trying to do something like this:
[code]

The [sample in machinelearning-samples](

[2022-03-21 03:48] cvixxt commented on #6130
Hi @michaelgsharp ,

I am attaching the Sample and Onnx files available for download here, both of which are included in the .7z file and can be downloaded locally for testing via the link below. At ML\OnnxModels\new.ONNX, there are custom models that I downloaded from the Custom Vision.

https://drive.google.com/file/d/1716n7U_pY-twQGoo1O246SEyf_Bp1BPN/view?usp=sharing
(The Folder name is ObjectT

[2022-03-21 03:55] cvixxt commented on #5484
Hi @michaelgsharp
See issue #6130. Thanks.

[2022-03-21 07:32] torronen commented on #6134
One way to make file reading faster is to used [binary IDV files](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.binaryloadersavercatalog.saveasbinary?view=ml-dotnet).

However, this also fails:
`var combinedDataView = mlContext.Data.LoadFromBinary(new MultiFileSource(TrainDataPath + ".idv", TestDataPath + ".idv"));`
**throws**
**'binary loader must be created with one file Arg_ParamName

[2022-03-21 15:25] luisquintanilla commented on #6133
Yup. That's right. Related to #6128.

[2022-03-22 08:36] torronen commented on #6120
@LittleLittleCloud This is very useful. I have a follow-up question.
Q: The sample has `var platt = context.BinaryClassification.Calibrators.Platt().Fit(**trainData**);`

It is just a syntax sample so is it best to use all data, train data, or test data for fitting the calibrator?

Are there any concerns if running the calibrator for partial data? For example, in a biometric application can we run

[2022-03-22 12:33] torronen commented on #5954
@michaelgsharp It seems this is creating high count of weights without names:
                        yield return OneHotHashEncodingExtension.CreateSuggestedTransform(Context, catHashColumnsNewArr, catHashColumnsNewArr);

I commented the below part, and started getting problems with GFI. In debug inspection I noted count of weights is much higher than count of slot names. I am using the sample wi

[2022-03-22 17:38] LittleLittleCloud commented on #6120
I would suggest using train data only, because there will be a data leakage ( for example, truth/false label #) according to the implementation of [platt](https://en.wikipedia.org/wiki/Platt_scaling)

I think it's fine, But be aware that in that case you are changing its prior distribution from the entire training sample to a partial of it. So as long as your test dataset also matches with that di

[2022-03-22 19:38] justinormont commented on #5954
@torronen One-hot hashing transform has the option of creating slot names:
https://github.com/dotnet/machinelearning/blob/0577957256c296fdea2deb6b6e00e7be9b458167/src/Microsoft.ML.Transforms/OneHotHashEncoding.cs#L104-L107

When AutoML creates a one-hot hashing transform, it is not using the `MaximumNumberOfInverts` parameter:
https://github.com/dotnet/machinelearning/blob/305540348efbb70dce2ead07

[2022-03-22 21:24] michaelgsharp commented on #6084
@ericjohannsen the servicing release is out with the fix for this. Can you try with the latest 1.7.1 and let me know if it solves your issue?

[2022-03-23 00:13] michaelgsharp commented on #6134
I'm not actually sure about that. Let me take a look and see. @luisquintanilla are you aware of anyway to do it? If not we should do a feature request for it.

You should just be able to do `var newDf = df.Append(df2.Rows);`, By default the append call returns a dataframe allocated with new memory. If you set `inplace` to true though it will update the original one.

An IDataView lazily loads the

[2022-03-23 00:26] chrisxfire opened #6136 "Typo under description"
Typo under the description: _Returns a containing_.  Returns a _what?_
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2dc315d-96d7-e54f-6e90-fec6ed09481c
* Version Independent ID: ab5d0a68-35d6-ef5f-786e-d89e7fee8034
* Content: [DataFrameColumn.Info Method (Microsoft.Data.Analysis)](https://docs.microsoft.com/en-us/dot

[2022-03-23 00:40] michaelgsharp commented on #6134
Ok, one workaround for now is turn turn the 2 dataframes into IEnumerables, combine them with linq, and them load that IEnumerable into a new dataview. It works, but its not really straightforward. You also need to create the schema as an actual class first.

[code]

[2022-03-23 03:35] ericjohannsen commented on #6084
@michaelgsharp No joy with 1.7.1. If it helps:

![image](https://user-images.githubusercontent.com/1641851/159618805-3753dab3-8ec6-47e2-a96e-6ca716b865dd.png)

Let me know what other information might be helpful diagnosing this.

[2022-03-24 00:11] michaelgsharp commented on #6084
Hmm.. Could you share a couple lines of the data you used so that I can run it on my end and see what I can find?

[2022-03-24 01:10] ericjohannsen commented on #6084
@michaelgsharp Sure. I changed the headers to obfuscate the domain. Not sure whether it matters, but I'm using cross-validation.

[TheData.zip](https://github.com/dotnet/machinelearning/files/8337604/TheData.zip)

[2022-03-24 02:20] ness001 opened #6138 "Open question: does the dataframe no longer supported in the current version of machinelearning sdk?"
### System information

- **OS version/distro**:
- **.NET Version (eg., dotnet --info)**:

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**
I couldn't find the reference under Microsoft.dataAnalytics in the reference page. And, the code base is not changed since 21 months ago.

### Source code / logs

Please paste or attach the code or logs or traces that would be

[2022-03-25 09:20] cvixxt commented on #6130
Hi all,
Is there any progress?
@michaelgsharp

[2022-03-28 21:23] michaelgsharp commented on #6084
Alright, figured it out. There are 2 things that need to change and both are in the call to PFI.

The first is that you are calling PFI in the `Regression` catalog, but you are using a Binary trainer. You need to make sure the catalog you use for PFI and the trainer are the same. In this case, PFI in the binary catalog has a slightly different name.

The second is that PFI re-runs your trainer on

[2022-03-29 17:08] gjtorikian opened #6141 "Is `arm64` not supported?"
I have the following build script:

[code]

This results in the following error:

[code]

Is arm64 not supported?

[2022-03-29 17:21] michaelgsharp commented on #6141
Hi @gjtorikian. Arm64 is supported, but there are a few trainers that don't fully work in Arm64 because of dependencies that don't run there. That being said, I thought I had removed this check since we now do support Arm64... To workaround this you can set  `EnableMLUnsupportedPlatformTargetCheck` to `false` and it will skip this check.

I'll rename this issue so we can track removing that check.

[2022-03-29 17:37] luisquintanilla commented on #6129
Thanks for reporting this issue @olavt.

@michaelgsharp Thanks for looking into this and providing those solutions. Tracking this issue as part of DataFrame improvements.

[2022-03-29 22:25] ericjohannsen commented on #6084
@michaelgsharp Still seeing the issue. I've attached a minimal reproducible example
[MlMre.zip](https://github.com/dotnet/machinelearning/files/8375357/MlMre.zip)
.

[2022-03-29 22:29] luisquintanilla commented on #6138
Hi @ness001

Thanks for raising this issue. In short, the project is not dead, just not under active development at this time. We're evaluating the data preparation / data wrangling story as outlined in the [roadmap](https://github.com/dotnet/machinelearning/blob/main/ROADMAP.md#define-the-plan-for-data-prep). We are using issues and feature requests like these to inform common uses, asks, and pai

[2022-03-29 23:25] michaelgsharp commented on #6084
Alright @ericjohannsen. Good news is that I have figured out the issue and why I had it working for me before and how to workaround it in your case. Bad news is that it means there is another bug in how we are extracting the transformer.

In my original testing I didn't have the pre-featurizer that you do because it had a Type T and I didn't know what it was so I just skipped it. This caused `best

[2022-03-30 01:16] ericjohannsen commented on #6084
Success!

Thank you for sticking with this, and for the detailed explanation.

[2022-03-30 05:32] yangpei1010110 commented on #6111
you need delete Microsoft.ML.OnnxRuntime package and using Microsoft.ML.OnnxRuntime.Gpu package.

[2022-03-30 05:34] yangpei1010110 commented on #6111
and input gpu index
`MLContext mlContext = new MLContext();
            var transformer = mlContext.Transforms
                .ResizeImages(outputColumnName: "images", imageWidth: modelWidth, imageHeight: modelHeight, inputColumnName: "Image",
                    resizing: ImageResizingEstimator.ResizingKind.IsoPad)
                .Append(mlContext.Transforms.ExtractPixels("images", scaleImage:

[2022-03-30 05:35] yangpei1010110 commented on #6111
[code]

[2022-03-30 15:14] MgSam commented on #6138
@luisquintanilla The existing API is not complete is it? There are tons of DataFrame related issues filed in this repo since you guys released the first version in 2019.

I don't understand why you guys abandoned this project. .NET needs a good DataFrame library to be competitive with other ecosystems. You cannot do effective data analysis without a DataFrame. Releasing an alpha version 3 years ag

[2022-03-30 15:44] luisquintanilla opened #6144 "Plan for DataFrame (Microsoft.Data.Analysis)"
This issue tracks priorities and discussions around DataFrame improvements based on issues and feedback.

[2022-03-30 15:57] luisquintanilla commented on #6138
@MgSam that is correct, the API is not complete yet and is still in preview. As you mentioned, it was released in 2019 as an experiment under the corefxlab repo. Last year it was [moved to the ML.NET repo](https://github.com/dotnet/machinelearning/pull/5641) because we understand that the DataFrame has a large role to play especially when it comes to exploratory data analysis and data wrangling. H

[2022-03-30 18:23] MgSam commented on #6138
With all due respect, if Microsoft was serious about it they should have developers dedicated to its development. There is no reason it cannot be developed in parallel with ML.NET. It's useful for ML, yes, but it's use is far wider than that and is totally orthogonal to the main things ML.NET does.

It shouldn't be a hobby or side project when you guys have time (which will be half-past-never, as

[2022-03-30 19:08] Bigwiggz commented on #6144
Can you please finish the dataframe?  I realize it is not a high priority but this would be a great addition to .net even just for data-wrangling.  Also, Is there a way to convert the dataframe to a C# List of a Custom Class?

[2022-03-30 19:41] gjtorikian commented on #6141
Great, worked like a charm. Thank you!

[2022-03-30 23:11] luisquintanilla commented on #5654
Related to #5647

[2022-03-30 23:57] michaelgsharp commented on #6084
Only 1 core is used? I haven't looked too much into how we are actually doing the calculations, but it seems like there is potential for some serious optimizations there.

I'm going to rename this issue to track fixing the recursive parsing issue for PFI. I'm glad we were able to get this solved!

[2022-03-31 00:04] michaelgsharp commented on #6111
@sportbilly21 the fix for the onnx runtime code is now in a PR https://github.com/dotnet/machinelearning/pull/6143/files. So it should be pretty soon that code is checked into main.

For tensorflow I'm not sure. Did you add the tensorflow gpu package? and do you have cuda 10.1 installed?

[2022-03-31 07:49] sportbilly21 commented on #6111
Hi
@michaelgsharp  many thanks for the update. Yes I have installed all the correct Cuda and CuDnn packages.
Regarding the fix in the ML.Net how soon think you will have a new Nuget package released?

[2022-04-01 03:13] cvixxt commented on #6130
Anyone else can help this question,Please. 0.0?

[2022-04-02 10:41] Bigwiggz commented on #6144
Thanks!

[2022-04-02 18:52] 1kamma opened #6146 "Maximum number of collumns in DataFrame"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: 1.17
 - .NET Version: 6.0

**Describe the bug**
When I'm trying to load a csv to a DataFrame, and the csv contains more than 12 collumns, I get the error massege:
'System.ArgumentException: Parameter.Count exceeds the number of columns(12) in the DataFrame'
I can create by my own, a D

[2022-04-05 10:52] nhirschey opened #6149 "Facilitate ML.NET for education by prioritizing cross-platform OLS"
**Is your feature request related to a problem? Please describe.**
I know that your focus is industry-facing advanced ML, but it's hard to introduce the framework for those advanced models in an educational setting when ML.NET cannot handle basic OLS. I'd also guess that facilitating the use of ML.NET in an educational setting is helpful for meeting long-term performance objectives such as increas

[2022-04-05 16:27] michaelgsharp commented on #6149
@luisquintanilla any thoughts on this?

[2022-04-06 01:08] michaelgsharp commented on #6146
Can you provide a repro please? I just tested a 27 column DataFrame, so there is something else that is causing your issue not related to the number of columns.

[2022-04-06 02:28] michaelgsharp commented on #6130
@cvixxt sorry for my delay. This appears to be an issue dealing with how the image is being resized locally vs how it is being resized in Custom Vision. I have tried the 3 ways we do resizing locally and still can't get it to align. Its possible we need to add in the same type of image resizing they do.

@JakeRadMSFT @luisquintanilla do you know the type of image resizing that the Custom Vision AP

[2022-04-06 06:00] #6114 closed

[2022-04-06 06:00] #6098 closed

[2022-04-06 21:28] luisquintanilla commented on #6130
@michaelgsharp I don't know how the internal resizing works but a few years ago this is what worked for the session we did at NDC. https://mlnet-workshop.azurewebsites.net/posts/11.4-define-scoring-pipeline. I believe the pre / post processing steps have changed since though so your mileage may vary.

@jwood803 as part of the tutorial you're building, did you do any resizing? If so, what was it?

[2022-04-06 23:29] michaelgsharp commented on #6130
@cvixxt @luisquintanilla @JakeRadMSFT It looks like this is a bug that was introduced in the 1.7.0 release. Using version 1.6.0 fixes this issue. To resolve it here are the steps.
1 - Downgrade all ML.NET packages from 1.7.1 to 1.6.0
2 - In `OnnxModelConfigurator.cs` change line 25 from:
```            var pipeline = mlContext.Transforms.ResizeImages(resizing: ImageResizingEstimator.ResizingKind.F

[2022-04-07 03:46] cvixxt commented on #6130
@michaelgsharp
OK, no problem, I'll test it first. I will report the progress later, thank you for your help.

[2022-04-07 07:59] cvixxt commented on #6130
@michaelgsharp @luisquintanilla @radical

Hi all,
I modified the ` OnnxModelConfigurator.cs ` file according to the above description and found
` var pipeline = mlContext.Transforms.ResizeImages(resizing: ImageResizingEstimator.ResizingKind.Fill,`
 -> `var pipeline = mlContext.Transforms.ResizeImages( , `
This situation will cause the XY coordinate system of the grab frame to shift.
As shown in th

[2022-04-07 18:00] #6109 closed

[2022-04-07 22:21] michaelgsharp commented on #6130
Its not that it makes the color channels more visible, its that that is the order that your onnx model wants. This app can visual the onnx model, https://netron.app/. Using that you can read comments about the input data. In this case it says:

So thats why I changed the pixel extraction to BGR format. I don't think any 1 way is better than another, you just have to match what the model is expecti

[2022-04-08 00:56] michaelgsharp commented on #6130
Ok, Playing around with this some more, looks like 1.7.1 works fine (I must have just not tried the exact options that worked in 1.7.1 before I told you to use 1.6.0). So, there is no problem and things work as long as you do the right color extraction order. Closing this issue. If you have further issues feel free to open another issue.

[2022-04-08 00:56] #6130 closed

[2022-04-08 09:48] nodakai commented on #6144
Can you please add first-class support for time series analysis? I see lots of outcry in the GH Issues.... First of all `DateTime` columns are unusable in VS code due to #5698

[2022-04-08 09:56] rishi-git opened #6151 "VectorType attribute with dynamic dimension while dealing with csv files"
I am working on training and evaluation in ML.NET. The data comes from a .csv file. According to the requirements, there may be variable number of columns in the file. Until now, I have achieved this by providing a fixed vectorType dimension. But I am not aware of making this work dynamically.

Here is the a block of code working using the fixed dimension,

public class InputClass
{
    public boo

[2022-04-09 16:51] raffaeler opened #6152 "Model builder complains about version to use"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: ML.NET v1.7.1
 - .NET Version: .NET 6.0
 - Model Builder version: 16.13.1.2210302

**Describe the bug**
![image](https://user-images.githubusercontent.com/5183152/162583473-cba321c1-96fe-41c5-af70-1e5e020ed335.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Start from a Con

[2022-04-11 18:47] michaelgsharp commented on #6152
@JakeRadMSFT @LittleLittleCloud This is for you guys.

[2022-04-11 18:48] michaelgsharp commented on #6152
I'll mark this as "Future" for now, but feel free to change this as needed.

[2022-04-11 18:54] michaelgsharp commented on #6111
@sportbilly21 I'm not sure when the next servicing release is. I'll figure that out and let you know.

Would you be able to test it with the latest nightly release that we have and see if it helps with the ONNX performance? If it doesn't that means there is more we need to look into. If it does than the GPU fix is enough. In the latest nightly there is now a flag in the MLContext you an use to set

[2022-04-11 18:54] michaelgsharp commented on #6009
@torronen were you able to validate any of those steps?

[2022-04-11 19:29] michaelgsharp commented on #6151
@rishi-git when you say dynamically what exactly are you meaning? If you do this:
[code]
It should mark `SpecVec` as a vector of unknown size. (I think you can even leave off the `VectorType` and it will just do a vector of unknown size)

For the text loader, you can use the constructor that takes a `Range` to set it to load from a certain start point until the end of the datafile.
[code]
Does som

[2022-04-11 19:30] michaelgsharp commented on #5484
This issue has been resolved by issue #6130 and has the appropriate instructions there. If anyone else is still having issue after making the changes listed in #6130 please open a new issue to provide more info.

[2022-04-11 19:30] #5484 closed

[2022-04-11 19:34] #6138 closed

[2022-04-11 23:03] michaelgsharp commented on #6067
@DeveloperNo579212 I looked into this more today to go and fix it. Turns out its not the issue that I thought it was sadly... We are handling that input just fine. This means it probably has to do with how the input is being ordered, meaning the input passed into the onnx model. Do you know what the color extraction order is for your model? And when I ran your code it gave me back 2 percentages, d

[2022-04-12 02:10] rishi-git commented on #6151
@michaelgsharp Thank you very much for your reply.
When I say dynamically, I mean the dimensions for VectorType attribute must be initialized at the runtime.
I tried using your code within the program.
But it throws an error as "System.ArgumentOutOfRangeException : Schema mismatch for score column 'Score': expected Single, got Vector<Single, 5>".
This error occurs at the time of evaluation at the

[2022-04-12 05:42] DeveloperNo579212 commented on #6067
OK the first column "class1" is fingers pointing to the right on my display, image input is 224,224,32 bit PNG in color, (second column "class2" is opposite).  I get 90 percent prediction on class 1 and almost 100 percent prediction on class 2 with training images as input.  Training set is 10 images of each class, just slightly different input light etc.

I attach OnnxVerify.py that I use to chec

[2022-04-13 17:01] #6053 closed

[2022-04-14 21:55] LittleLittleCloud opened #6156 "Consider generating ModelInput/Output class from mlnet model via source generator?"
schema should contain all required information to generate both input/output class

[2022-04-15 16:17] Sumanth9Nandamuri opened #6157 "LightGbmRanker: Significance of having TrainingData rows sorted with respect to Rank order."
### System information

.NET SDK (reflecting any global.json):
 Version:   6.0.202
 Commit:    f8a55617d2

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19044
 OS Platform: Windows
 RID:         win10-x64

### Issue

- **What did you do?**
Train and evaluate LightGbmRanker using ML.Net C# API.
Training and test data are clustered/grouped with respect to GroupId column.

- **What ha

[2022-04-16 00:00] #6124 closed

[2022-04-16 03:27] squirrelfeng commented on #5807
Hello, Is there any update on this? I also want to use image width and height at runtime.

[2022-04-16 04:04] squirrelfeng commented on #5807
I find that @josbri 's code actually works, only need to keep original [ImageType(X,Y)], then SchemaDefinition.Create will cover the original setting.

[2022-04-16 14:26] Sumanth9Nandamuri commented on #6157
The issue is caused due to missing **keyOrdinality: Microsoft.ML.Transforms.ValueToKeyMappingEstimator.KeyOrdinality.ByValue** inside **MapValueToKey("Label")**, but I think this should be the default behavior.

[2022-04-16 14:26] #6157 closed

[2022-04-18 17:20] torronen commented on #6009
@michaelgsharp Sorry I got assigned another urgent task. This is still on my task list. Ping you soon about it.

[2022-04-18 22:57] ericstj opened #6162 "Disable Drawing tests on non-windows"
PR validation regularly fails with
[code]

This is bug https://github.com/dotnet/runtime/issues/30184, but it will never be fixed now that Unix is no longer supported.  Let's disable Image tests on non-windows until we can replace the usage of drawing with a different library.

[2022-04-19 09:51] 1kamma commented on #6146
somehow, the problem has solved from itself. idk how. but thanks

[2022-04-19 09:51] #6146 closed

[2022-04-19 10:36] AbhayGaur opened #6163 "Retrieve positive contributors and negative contributors from CalculateFeatureContribution"
For the explainability section of ml.net, I am using CalculateFeatureContribution to calculate the feature contribution of each individual feature and then represent it on a UI.

Problem that I have right now is, even after using the number of positive contributors = 10 and number of negative contributors = 10, I still have to traverse through all the feature vector, which is highly sparse and lar

[2022-04-20 11:16] torronen opened #6164 "Q: Faster way to Filter DataView"
I filter data from a dataview to get all items within a specific time period.
It seems slow compared to filtering with LINQ from objects in memory. Is there a faster way to do it?

[code]

In this example, I am creating predictions for a certain time period at a time.
In another example, I may need to filter by exact match. Normally, I might create a dictionary to help, but is there a way to suppo

[2022-04-20 13:33] Phoenix-313 opened #6165 "NumericColumnNames won't return more than 1 column"
Hi,

Although CategoricalColumnNames returns the correct count of the categorical columns with their correct names, NumericColumnNames on the other hand returns the correct count and column name if the dataset has only one numerical column. However, if the dataset has more than one numerical column, it will always return a count of 1, and the column name will always be "Features" for some reason!

[2022-04-20 18:32] LittleLittleCloud opened #6166 "Remove this prefix in both Microsoft.ML.AutoML and Miicrosoft.ML.SearchSpace"

[2022-04-20 18:34] LittleLittleCloud commented on #6166
tracking down @michaelgsharp 's [comment](https://github.com/dotnet/machinelearning/pull/6140#discussion_r843243367)

[2022-04-23 05:34] IncentWang opened #6170 "Using ML.NET with Mono On Unity"
**System Information (please complete the following information):**
 - OS & Version: Android (Compile code from Mono)
 - ML.NET Version: ML.NET 1.7.1
 - .NET Version: .NET Standard 2.0

**Describe the bug**
When I am trying to load model from my device, I will get "UnauthorizedAccessException: Access to the path "/tmp" is denied".

**To Reproduce**
1. Use Mono to Compile your code,
2. Run it on an

[2022-04-25 14:47] torronen commented on #6164
@luisquintanilla yes, you are correct, it is DataFrame.

[2022-04-25 18:24] luisquintanilla commented on #6164
Thanks for that clarification.

[2022-04-25 21:03] #6166 closed

[2022-04-26 21:29] michaelgsharp commented on #6151
Hmm.. If thats the case I wonder if we have a bug because just doing `[VectorType()]` with no parameters should declare it as a vector type, but its clearly not working. Let me take a closer look and see what I can find.

[2022-04-27 00:34] michaelgsharp commented on #6111
So the flag in the MLContext is the same flag as in ApplyOnnxModel. It just you can set it directly in the MLContext.

As far as WindowsML is concerned, do you know if the windows ML onnx runtime api is the same as the normal onnx runtime api? If it is you could probably just do a drop in replacement for it. I know we have talked about WinML before, but I'm not sure what our current status on it i

[2022-04-27 00:35] michaelgsharp commented on #6156
I think this is something that would be good to do. Have you looked into this at all @LittleLittleCloud?

@luisquintanilla I'm going to add this to the future milestone. We can move it around as desired.

[2022-04-27 05:58] torronen opened #6175 "OOM errors in FastTree"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET v1.5.5
 - .NET Version: NET6.0

**Describe the bug**
Out-of-memory errors on FastTree. There is still virtual (paging) memory available, but RAM is full. Maybe there is something that could be done to more effectively use virtual memory? Strangely, one of the 128 Gb Ryzens is r

[2022-04-27 17:09] michaelgsharp commented on #6163
@AbhayGaur off the top of my head I am not sure if there is any other way. Let me take a look and see what I can find out.

@luisquintanilla @JakeRadMSFT are either of you familiar with this?

[2022-04-27 17:12] michaelgsharp commented on #6164
What do you mean by "support some type indices"? Also, do you have any numbers for speed between this and LINQ? It would be good to see how far behind we really are.

[2022-04-27 17:23] michaelgsharp commented on #6170
So we now have the ability to set the temp path to whatever you would like. Can you try setting `_context_.TempFilePath` to a location you do have write access to and let me know what happens?

[2022-04-27 17:29] michaelgsharp commented on #6175
I am going to have to look more into this as FastTree doesn't require all the data in memory. It _should_ be streaming the data in as needed. I wonder though if AutoML is trying to cache things. If its not then there is investigation work to be done here.

[2022-04-27 19:01] torronen commented on #6175
@michaelgsharp Our code is converting them to .ToDataFrame(-1) after reading the IDV file. I believe it puts them to RAM. However, these errors happen later, inside FastTree.

I don't recall now why the conversion to DataFrame was done. It was probably for some data manipulation. I need to review if it is still needed.

The difference with different runs could be that the codes selects a random sa

[2022-04-27 19:12] torronen commented on #6164
@michaelgsharp I am thinking about something like a dictionary or hashset to select items quickly. For example, I might want get metrics for observations from each city separately: one test set for Helsinki, 2nd for Seattle etc.

Getting the numbers is a good point to validate it. Actually, this issue is mostly about my perceived slowness and I do not yet have an exact comparison. I will do some,

[2022-04-27 19:24] torronen commented on #6175
I think FastTree needs lots of virtual memory in Model Builder too (e.g. https://github.com/dotnet/machinelearning-modelbuilder/issues/1875 ) If I had less than 500 Gb virtual memory the servicehub in model builder crashed sooner or later in some datasets. If RAM requirements could be eased it might help model builder, too. In Model Builder I could just increase virtual memory.

[2022-04-27 22:08] luisquintanilla commented on #6156
Related to dotnet/machinelearning-modelbuilder#1973

[2022-04-27 22:09] luisquintanilla commented on #6156
Thanks @michaelgsharp I agree to put this in Future milestone. One concern I'd have with Source Generators would be they're not available in F#.

[2022-04-28 16:25] IncentWang commented on #6170
Hi, Thank you for your replying.

Unfortunately, the `MLContext.Model.Load(stream)` function is still trying to access `/tmp/` path. I think this is caused by some functions are still using `System.IO.GetTempPath()` instead of using `_env.TempFilePath`. I am still looking for that, or do you got some hint for me?

I think I did it in right way, for the case I didn't, here is the code I used and th

[2022-05-02 07:44] ddobric commented on #6005
@michaelgsharp, once I have a simplified application with this issue, I will come back to this. The current application is just too complex and it would take me a long time to provide a simplified repro.
You are right about the limit of memory consumption. However, the problem is that this limit will be reached with TensorFlow+ML.NET for any possible limit in the universe.

For example, you set th

[2022-05-02 09:01] zhangfeibao opened #6178 "code generator for embedded C."
I am a coder for embedded device([Microcomputer：Arm Contex M）.
I found the ML.NET is amazing tool and easy to use in my PC.If it can be deplyed on some MCU will make it better.

[2022-05-02 12:24] IncentWang commented on #6170
Hi, I solve this problem, I think this is because when the program is still trying to access `System.IO.TempPath()` when it is unzipping the model file. I made the following change in `Repository.cs` to solve this problem. I want to create a pull request, but I think I need to run the test on my computer first but I do not have enough time.

I will create a pull request ASAP, but if you got time a

[2022-05-02 22:12] michaelgsharp commented on #6175
So in Model Builder, without using the DataFrame, you still had the OOM issue? Do you remember what the parameters were for that model? Or for the model you are having issues with now? Its possible that AutoML is being to aggresive with its trees. Its also possible something isn't working right in FastTree itself.

[2022-05-02 22:28] torronen commented on #6175
Sorry, it was a bit confusing to mention Model Builder here. I just mentioned it because it consumes huge amounts of virtual memory. In case of Model Builder, ServiceHub crashes when running out of memory and I can not longer extract training parameters (the zip file still exists in the temp folder, but I do not know how to get the training parameters from it)

I think this is also first time I ha

[2022-05-02 23:40] michaelgsharp commented on #6170
I made the changes and currently have created a Draft PR to make sure the tests pass. Thanks for finding this! #6180

[2022-05-02 23:44] michaelgsharp commented on #6005
I see. So basically we have a memory leak somewhere between our ML.NET and TensorFlow.NET interactions. Let me update the title of this issue and mark this for further investigation.

[2022-05-03 05:10] zhangfeibao commented on #6178
# Very useful suggestion，thanks so much！！

[2022-05-03 05:10] #6178 closed

[2022-05-03 09:56] torronen opened #6182 "DataFrame.LoadCsv can not load CSV with duplicate column names"
Code:
IDataView trainData = DataFrame.LoadCsv(TrainDatasetPath, separator: ';', header: true, guessRows: 100);

Gives exception:
DataFrame already contains a column called Target20 (Parameter 'column')

Suggestion:
It would be nice if LoadCsv would have the option to ignore or auto-rename duplicate columns.
For small CSV files it is not a big problem, but for huge CSV files renaming headers is a h

[2022-05-03 10:09] torronen commented on #6182
If anyone has same problem renamed header names can put in the parameter. This solves my issue. I do not know if LoadCsv should have this functionality inbuilt or not (or, issue to be closed or not)

LoadCsv with renamed columns:
[code]

[2022-05-03 14:44] anat-gilenson opened #6183 "ApplyOnnxModel with model as byte stream instead of local file"
**Is your feature request related to a problem? Please describe.**
I wouldn't like to save files on my service's disk but providing a file name for an ONNX model is currently the only option when I need to load it. Instead, I would like to save the model in a remote source.

**Describe the solution you'd like**
I'd like to read the ONNX model from a remote source and pass it to `ApplyOnnxModel` as

[2022-05-03 16:57] torronen opened #6184 "DataFrame.LoadCsv: Specific method is not supported"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version:  ML.NET v1.6.0
 - .NET Version: NET 6.0

**Describe the bug**
I received  Specific method is not supported after trying to fit with data read with DataFrame.LoadCsv

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download sample [machinelearning-samples\samples\csharp\ge

[2022-05-03 19:25] michaelgsharp commented on #6134
So @torronen @luisquintanilla I was looking into something completely different and actually realized that we do have code that does this already in ML.NET. It works as long as all the dataviews share the same schema anyways. BUT, we don't have it exposed publicly and only use it internally in a few places. https://github.com/dotnet/machinelearning/blob/510f0112d4fbb4d3ee233b9ca95c83fae1f9da91/src

[2022-05-03 20:21] luisquintanilla commented on #6134
Thanks @michaelgsharp for the additional investigation. @torronen I'm curious if in your testing, you tried loading multiple binary files using wildcards like the snippet in this article describes.

https://docs.microsoft.com/dotnet/machine-learning/how-to-guides/load-data-ml-net#load-data-from-multiple-files

If so, what limitations did you run into there?

[2022-05-03 21:12] torronen commented on #6134
@luisquintanilla I dont recall trying wildcard. In only tried with list of filenames as parameters: https://github.com/dotnet/machinelearning/issues/6134#issuecomment-1073554230
I will put it on my task list to test, but the error message would point to only allowing one file.

[2022-05-05 15:06] nhirschey opened #6186 "Corrupted memory and null reference crash with FastTree.FeatureHistogram"
**System Information (please complete the following information):**
 - OS & Version: Windows 11 x64, [Version 10.0.22000.613]
 - ML.NET Version: 1.7.1
 - .NET Version: 6.0.202
 - CPU is AMD

**Describe the bug**
I'm somewhat randomly having ML.NET crash on me. I can have a script/notebook work fine. Then I run it later in the day and it crashes. It seems to happen with `BinaryClassification.CrossV

[2022-05-06 05:02] AbhayGaur commented on #6163
@michaelgsharp anything that you were able to find, thanks for the help!

[2022-05-06 16:08] fischja opened #6188 "AutoML CV experiment does not release memory of enumerable underlying IDataView training data."
**System Information (please complete the following information):**
 - Windows 11 Home, 21H2,  22000.652
 - ML.NET 1.7.1
 - ML.AutoML 0.19.1
 - .NET 6.0

**Describe the bug**
Auto ML cross-validation experiment retains reference to enumerable underlying training data IDataView, not allowing memory to be released. Makes multiple training episodes on large, in-memory enumerables impossible.

**To Re

[2022-05-09 17:52] michaelgsharp commented on #6188
@LittleLittleCloud are you familiar with this behavior in AutoML. Is this something that may be fixed with your AutoML changes?

[2022-05-09 17:59] LittleLittleCloud commented on #6188
@fischja It could be the last trial still running even after automl experiment times out, could you try cancelling context and run again

[code]

[2022-05-09 18:05] luisquintanilla commented on #6182
@michaelgsharp by builtin do you mean duplicate columns are automatically renamed like the snippet @torronen shared?

[2022-05-09 18:33] michaelgsharp commented on #6165
@LittleLittleCloud any thoughts on this? I am not supe familiar with how AutoML is doing this stuff. Is this going to be fixed/changed by your AutoML changes? Or something I need to look into more?

[2022-05-09 21:42] beccamc commented on #6182
+1 - I also experienced pain around large data files with multiple columns sharing names. I only had less than 50 columns and it was still troublesome to deal with.

[2022-05-10 04:47] ziti opened #6190 "Testing GitHub Automation"
**System Information (please complete the following information):**
 - OS & Version: [e.g. Windows 10]
 - ML.NET Version: [e.g. ML.NET v1.5.5]
 - .NET Version: [e.g. .NET 5.0]

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A cl

[2022-05-10 04:49] ziti commented on #6190
Testing GitHub Automation

[2022-05-10 04:49] #6190 closed

[2022-05-10 04:50] jeffwilcox opened #6191 "Testing GitHub Automation"
### System information

- **OS version/distro**: Mac OS
- **.NET Version (eg., dotnet --info)**: N/A

### Issue

- **What did you do?** I was asked to open an issue on Twitter
- **What happened?** Nothing so far
- **What did you expect?**

### Source code / logs

Please paste or attach the code or logs or traces that would be helpful to diagnose the issue you are reporting.

[2022-05-10 04:52] #6191 closed

[2022-05-10 04:52] ziti commented on #6190
Another comment

[2022-05-11 16:52] fischja commented on #6188
@LittleLittleCloud yup, that seems to solves the problem! Are there any best practices for managing the lifecycle of a `MLContext`? E.g. should the same context be used for multiple training episodes or a new one created each time?

[2022-05-11 17:47] LittleLittleCloud commented on #6188
Glad to hear that! Although it's a bit wield to see that since Auto() also call that `CancelExecution` when training time is up. I would go take some investigation once I got time!

That's what I usually do, although for more detail (and more auth) information @michaelgsharp and @ericstj and @eerhardt would know more

[2022-05-11 17:48] LittleLittleCloud commented on #6184
Did your dataset contains array-like column

[2022-05-11 19:32] ericstj commented on #6188
The [docs](https://github.com/dotnet/machinelearning/blob/04dda55ab0902982b16309c8e151f13a53e9366d/docs/code/MlNetCookBook.md#general-questions-about-the-samples) say:

Another [pointer](https://github.com/dotnet/machinelearning/blob/04dda55ab0902982b16309c8e151f13a53e9366d/docs/code/MlNetHighLevelConcepts.md#mlcontext)

Probably best to just create one.  If you were specifying different seeds I c

[2022-05-11 21:29] nhirschey commented on #6186
I cannot reproduce this anymore after restarting my PC so I will go ahead and close this. Sorry for the bother.

FYI, just to ease your mind, previously the issue appeared every 2-3 times I ran it. Today I cannot get it to reproduce even if I run the cross validation inside a 100 iteration loop.

[code]

[2022-05-11 21:29] #6186 closed

[2022-05-12 15:12] #6188 closed

[2022-05-13 20:51] beccamc commented on #6134
+1 from me on this one!

[2022-05-13 21:39] GuiOliv opened #6194 "Unable to load DLL 'CpuMathNative' on published website"
- OS & Version: Windows 10
 - ML.NET Version: ML.NET v1.7.1
 - .NET Version: NET 4.7.2

I just deployed my ASP.net website which uses ML.net on a free web host called Somee. Before deploying the solution, everything was working fine and all was published without struggle but the moment I clicked the button I have to submit the input to the MLModel, the website gave me the following error message:

[2022-05-17 16:31] trishorts commented on #6194
plus one on this issue

[2022-05-17 19:23] dliedke opened #6196 "ML.NET CLI failing but ML.NET Model Builder is working fine for same training dataset"
### System information

- **OS version/distro**: Windows 10 20H2
- **.NET Version (eg., dotnet --info)**:  6.0.300
- mlnet --version
16.13.5+936af07a091757189faee78de128429bf06a6845

ML.NET Model Builder version: 16.13.6.2226201

### Issue

- **What did you do?**

Train ML classification model.

- **What happened?**

Failing in ML.NET CLI but working fine in ML.NET Model Builder with the exact sam

[2022-05-18 18:06] LittleLittleCloud commented on #6196
Did your dataset contains mostly 1 class type in the first 10k rows or so?

[2022-05-18 19:06] dliedke commented on #6196
yes, 18.8k training rows for first class, is this a problem?
Thanks!

[2022-05-18 19:09] LittleLittleCloud commented on #6196
Yeah, you can learn details from this [issue](https://github.com/dotnet/machinelearning-modelbuilder/issues/2102) but in short, shuffling in ml.net sometimes doesn't result to a global shuffle. We fixed it in latest model builder, but not in cli yet.

One work-around is to make sure you have all labels appear in first 10k of your dataset

[2022-05-18 19:12] dliedke commented on #6196
Thanks for the update, I will try that approach and report back.

[2022-05-18 19:14] LittleLittleCloud commented on #6196
And you probably want to remove experiment output folder as well

And just FYI we are also publishing a new ml.net cli, it might be available in nuget in a few minutes. So an update of cli might also work

[2022-05-18 19:23] dliedke commented on #6196
Yes, I am always removing the experiment output folder. Thanks for the tip.

That is great!!

I added a manual shuffling for the training data using code below and it worked.

public void Shuffle<T>(IList<T> list)
        {
            int n = list.Count;
            while (n > 1)
            {
                n--;
                int k = rngShuffle.Next(n + 1);
                T value = list[k];

[2022-05-18 19:27] dliedke commented on #6196
Can you please let me know if new package is available? Should I just update the mlnet tool with command `dotnet tool update --global mlnet-win-x64` correct?

Thank you!

Daniel

[2022-05-18 19:36] dliedke commented on #6196
I got the new version here and I will try again:

dotnet tool install --global mlnet-win-x64
You can invoke the tool using the following command: mlnet
Tool 'mlnet-win-x64' (version '16.13.6') was successfully installed.

[2022-05-18 19:38] dliedke commented on #6196
Confirmed issue fixed for mlnet 16.13.6

Really appreciate the fast fix for this issue!

Daniel Liedke

[2022-05-18 19:38] #6196 closed

[2022-05-19 05:53] torronen commented on #6184
@LittleLittleCloud No, it is just 1 number for column. It is possible I had some mistake in delimiters and it makes it seem like an array, but Model Builder was able to read the file and generate the ModelInput.cs.

[2022-05-19 07:28] gi82 opened #6198 "Dataframe.Arrow always throws NotImplemented 'Name' exception for all non implemented ArrowTypeIds"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: Microsoft.Data.Analysis 0.19.1
 - .NET Version: .NET 5.0

**Describe the bug**
System.NotImplemebtedException 'Name' thrown when converting arrow record batch to Dataframe
![image](https://user-images.githubusercontent.com/23099947/169234028-1220d168-5354-4889-97ba-d0f57d99e9b7.png)

[2022-05-19 07:30] gi82 commented on #6198
The implementation in DataFrame.Arrow.cs should be changed to:
throw new NotImplementedException(fieldType.Name);

[2022-05-19 07:45] FabianNet commented on #6198
Good change !

[2022-05-20 17:02] trishorts opened #6199 "Unable to load DLL 'FastTreeNative' or one of its dependencies: The specified module could not be found (0x8007007E)"
**System Information (please complete the following information):**
 - OS & Version: [e.g. Windows 10]
 - ML.NET Version: [e.g. ML.NET v1.3.1]
 - .NET Version: [e.g. .NET 6.0]

**Describe the bug**
A recent update to .net 6.0 in our program MetaMorpheus seems to have yielded the crash reported in the issue name. The PR in question on our end is https://github.com/smith-chem-wisc/MetaMorpheus/pull/

[2022-05-22 08:05] the-programmer commented on #5574
Hi, I wanted to try and fix this issue but it seems this issue is already fixed:
https://github.com/dotnet/machinelearning/blob/4bcb892a8443b86b6ba289209167e4490c7b2a38/src/Microsoft.ML.AutoML/Utils/UserInputValidationUtil.cs#L254-L258

Can someone close this?

[2022-05-22 17:13] gi82 commented on #6198
@FabianNet you can maybe then take a look at the PR :-)

[2022-05-22 17:20] gi82 opened #6201 "Add missing implementation for datetime relevant arrow types"
At the moment, it is not possible to create a dataframe containing datetime columns using the static method DataFrame FromArrowRecordBatch(RecordBatch recordBatch)
This will be helpful for loading a recordBatch using Apache Arrow

The method can be extended to support datetime colums.
It might be useful to check which types are already implemented in Aoache.Arrow
https://github.com/apache/arrow/bl

[2022-05-23 12:57] Kinco-dev commented on #6194
Try to generate your project in x86, go to your bin folder and get the DLL that causes the problem.
Then generate your project in x64. And when it's finished, put in your bin folder the DDL you saved just before.
It's a bit of a trick, but I was able to make my project work like this for several months.

[2022-05-23 13:33] trishorts commented on #6194
for me, i was able to solve the problem by making sure the folder name is "native" and not something else. Not sure where the code lies that tells the program where to look for the dll, but this worked:
![image](https://user-images.githubusercontent.com/16841846/169830994-07cbb606-849e-4081-80aa-08f3cb8cfa6c.png)

[2022-05-23 13:33] trishorts commented on #6199
for me, i was able to solve the problem by making sure the folder name is "native" and not something else. Not sure where the code lies that tells the program where to look for the dll, but this worked:
![image](https://user-images.githubusercontent.com/16841846/169830994-07cbb606-849e-4081-80aa-08f3cb8cfa6c.png)

[2022-05-23 13:34] trishorts commented on #6199
i would like to know where the code lies that tells my program where to look for this dll but this fix has me back and running. I will close this but I'd be happy to see comments.

[2022-05-23 13:34] #6199 closed

[2022-05-24 01:11] #6198 closed

[2022-05-24 03:04] #6170 closed

[2022-05-24 18:42] #6022 closed

[2022-05-25 10:53] vpenades opened #6204 "ImageLoadingEstimator.LoadImages to load images on demand to avoid OutOfMemoryException"
The problem

ImageLoadingEstimator has two sources:
- LoadImages which loads images from local disk folder on demand.
- LoadRawImageBytes  which takes the images from preloaded bytes from a data column.

The problem is that if you have thousands of images you need to load for training, the only real choice is LoadImages because it will load the images from disk on demand, because LoadRawImageBytes

[2022-05-28 00:35] luisquintanilla opened #6207 "[AutoML] Can't create AutoML pipeline in F#"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET AutoML 0.20.0-preview.22226.2
 - .NET Version: .NET 6.0

In F#, the way to define an `IEstimator` is through `EstimatorChain`. An `EstimatorChain` is not compatible with an `IEstimator<ITransformer>` which is what the extension method to add AutoML SweepableEstimators expects.

[2022-05-28 10:07] Regenhardt commented on #5918
Honestly I think this might not be a great reason.

Assuming there will be many people actually porting python code over to ML.NET, after that is done everyone will have to continue using python naming conventions for no reason.

With new people coming to machine learning every day though, I think many people will be confused by the different naming, which makes it look like an interop wrapper aro

[2022-05-29 17:04] luisquintanilla opened #6208 "[AutoML] Can't manually fit AutoML pipeline after training"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: Microsoft.ML.AutoML 0.20.0-preview.22226.2
 - .NET Version: .NET 6.0

**Describe the bug**

I've configured and run an AutoML experiment with the following pipeline:

[code]

Training is successful. I then use the `BuildPipeline` method to get the transforms and trainer used by AutoML

[2022-05-30 13:40] fwaris opened #6209 "SchemaDefinition.Create picks up internal fields instead of just public only - affects F#"
This used to work before but now I cannot use CreateFromEnumerable<T> in F# now.

In  F#, we define mutable classes by annotating F# 'record' types with CLIMutable:

[code]
F# compiler generates IL that looks as follows:

[code]
The SchemaDefinition.Create method picks up both "Data@" and "Data" as fields required by the schema. It should only pickup the public fields.

Please add unit tests for F

[2022-05-30 15:55] fwaris commented on #6209
I just found out that one workaround for the above issue is to set "ignoreMissingColumns=true" when calling  CreateEnumerable(...)

[2022-05-31 08:46] maheshlokhande opened #6211 "Unable to extract weights from binary classifier"
ML.NET 1.7.0

I have defined data processing pipeline as below:

`var pipeline = mlContext.Transforms.Text.FeaturizeText(outputColumnName: "FC1", "Col1")

               .Append(mlContext.Transforms.Text.FeaturizeText(outputColumnName: "FC2", "Col2"))

               .Append(mlContext.Transforms.Text.FeaturizeText(outputColumnName: "FC3", "Col3"))

               .Append(mlContext.Transforms.Text.

[2022-05-31 09:47] maheshlokhande commented on #6211
Found a way to loop through items in TransformerChain as below.

`foreach (var item in model as Microsoft.ML.Data.TransformerChain<Microsoft.ML.ITransformer>) { }`

[2022-05-31 09:47] #6211 closed

[2022-05-31 16:01] vpenades commented on #5980
@JakeRadMSFT I'm having a similar problem, but in this case I need this for training.

The key difference is that when you do inferences, you usually pass one image at a time, which is fine to do it from memory.

But if you need to do training, things get more complicated, because you probably need thousands of input instances, and if each one has a bitmap, you can easily run out of memory just pr

[2022-06-01 14:27] turowicz opened #6212 "TensorRT support"
**Is your feature request related to a problem? Please describe.**
Currently the fastest way of executing models for Computer Vision inference is by running a TensorRT-optimised model. It is widely available in C/C++ but you cannot really use it in C#.

**Describe the solution you'd like**
I would like to be able to load the TensorRT engine into C# memory and call it from there using OpenCVSharp's

[2022-06-02 22:55] beccamc opened #6213 "Cannot run Transform on DataFrame with DateTime type"
**System Information (please complete the following information):**
 - OS & Version: [e.g. Windows 10]
 - ML.NET Version: 1.7.1
 - .NET Version: [e.g. .NET 5.0]

**Describe the bug**
I'm adding the DateTime type to Model Builder, but unfortunately a few features are broken because of DataFrame support. DataFrame doesn't support the DateTime type directly. However I can add a PrimitiveDataFrameColu

[2022-06-02 22:55] beccamc commented on #6213
I assume this is the same root cause as this - https://github.com/dotnet/machinelearning/issues/5698

[2022-06-03 08:34] GeorgeS2019 commented on #5918
@briacht @luisquintanilla @migueldeicaza These out-of-scope topics defined back in [Aug 30, 2021](https://github.com/dotnet/machinelearning/issues/5918#issue-983175573) are now being actively developed.
- [Torch Vision](https://github.com/dotnet/TorchSharp/pull/609)
- [Torch Audio](https://github.com/dotnet/TorchSharp/pull/611)
- Torch Text will be next :-)

[2022-06-05 21:12] andrasfuchs opened #6214 "ARM architecture support for scoring"
**Is your feature request related to a problem? Please describe.**
Microsoft.ML currently supports 'x64' and 'x86' processor architectures.

**Describe the solution you'd like**
I would like to see support for ARM architectures, at least for scoring.

**Additional context**
This feature was requested before (#1662, #1790) in 2018. @codemzs closed that issue, because ARM support was not on their sh

[2022-06-05 21:57] sretz opened #6215 "FastForest multithreading"
**System Information (please complete the following information):**
 - OS & Version: Windows 10 19044.1706
 - ML.NET Version: 1.7.1 x64
 - .NET Version: v4.8 x64

**Describe the bug**
I'm running tests with FastForest on machine with 2 processors with 12 cores each with a total of 48 threads, the program running the test is using 48 threads, but the highest CPU the program gets is 14%, which 7 may

[2022-06-06 22:28] LittleLittleCloud commented on #6208
You probably need to use a new context when re-constructing pipeline with best parameters
[code]

This is because AutoMLExperiment calls `context.CancelExection` after the experiment is done in order to cancel all running trials. This will make `context.CheckAlive` failure in the next training performed on that context

@michaelgsharp is there a specific reason to put context as dead state after `

[2022-06-07 00:01] #6009 closed

[2022-06-07 06:34] DeveloperNo579212 commented on #6067
Just a followup if any more information is needed, without filtering normalization applied  I experienced that the output ordering was not changed based on input, with the normalization the classification worked out ok.  (Python implementation).

[2022-06-07 09:05] #6111 closed

[2022-06-08 10:31] landonzeng opened #6219 "How do I use the ML.NET API to implement something like the model builder effect in VS2022？"
**Is your feature request related to a problem? Please describe.**
How can I use the ML.NET API to achieve a model generator effect similar to the one in VS2022. I did not find in the relevant documentation

**Describe the solution you'd like**
I want to dynamically implement a web page like the UI of the .mbconfig window created by the model builder in VS2022 or VS2019, where the user selects the

[2022-06-08 11:00] arafattehsin opened #6220 "Sample Project generated by CLI does not launch in Visual Studio 2022"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version:  ML.NET CLI version 16.3.6
 - .NET Version: 6.0

**Describe the bug**
When I try to create a sample project using ML.NET CLI, I get an error message in launching the library / application.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a classification model using ML.NET

[2022-06-08 11:30] arafattehsin commented on #6220
**Workaround**

If you add a word in the name of `.csproj` (which is automatically generated) and open in VS, this should fix the issue

[2022-06-08 18:35] LittleLittleCloud commented on #6163
@AbhayGaur looks like you are using five `FeaturizeText` in your processing pipeline, so it's likely that the encoded feature would be a sparse matrix by itself because `FeaturizeText` uses n-gram underlying (correct me if it's not the case @michaelgsharp). So I would not be too surprised to see most of the values in the feature contribution array are also zero.

As for the optimal way to retrieve

[2022-06-09 04:35] jirapongse-refinitiv opened #6221 "DataFrame.LoadCSV converts 289203891 to System.Single and the data is rounded to 289203900."
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: Microsoft.Data.Analysis 0.19.1
 - .NET Version: .NET 5.0

**Describe the bug**
DataFrame.LoadCSV converts 289203891 to System.Single and the data is rounded to 289203900.

I use the DataFrame.LoadCSV function to load the CSV file to create a data frame. The content in the CSV file is:

[2022-06-10 17:50] luisquintanilla opened #6224 "[DataFrame] Can't load wiki-detox dataset"
When I tried to load the [wikidetox dataset](https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/wikipedia-detox-250-line-data.tsv) using both `LoadCsv` and `LoadCsvFromString` I'm not able to because of the following error:

[code]

![image](https://user-images.githubusercontent.com/46974588/173123143-40766624-aa28-4fbd-a51c-f6bd04f88727.png)

[2022-06-10 21:46] luisquintanilla commented on #6220
Thanks @arafattehsin for letting us know about this issue. Transferring it over to the tooling repo.

[2022-06-10 21:58] luisquintanilla commented on #6219
Hi @landonzeng

I'm not sure I fully understand the question so I'll try and answer it in a few ways. Feel free to clarify if my comments don't answer your question.

Model Builder is powered by the ML.NET API, it just exposes its functionality via a UI. If you're referring to can you use the ML.NET API to create a UI like Model Builder, the answer is no.

If you mean can you train models from a c

[2022-06-10 22:02] luisquintanilla commented on #6214
Hi @andrasfuchs

Are you running into issues with ARM? If so, could you please provide more details. This feature has been available since last year.

https://devblogs.microsoft.com/dotnet/ml-net-june-updates-model-builder/#ml-net-on-arm

[2022-06-10 22:08] luisquintanilla commented on #6212
Hi @turowicz

ML.NET offers the ability to export models to ONNX which from my understanding is one of the [supported frameworks](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#fit).

To export an ML.NET model to ONNX you use the [`ConvertToOnnx`](https://docs.microsoft.com/dotnet/api/microsoft.ml.onnxexportextensions.converttoonnx?view=ml-dotnet-preview) transform.

Here

[2022-06-11 07:16] andrasfuchs commented on #6214
@luisquintanilla Hmm, strange, I tried to run my ML.NET code on my Raspberry Pi 4, and I got the error I mentioned above in the description of the issue.

I don't have my prototype by me now, so I can give you more details only in a few weeks, sorry!

[2022-06-13 00:35] luisquintanilla opened #6225 "Text Classification Target 2 is out of bounds"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: 2.0.0-preview-22310.1, 0.20.0-preview-22310.1
 - .NET Version: .NET 6.0

**Describe the bug**

When training a model with [GitHub Issues dataset](https://raw.githubusercontent.com/dotnet/samples/main/machine-learning/tutorials/GitHubIssueClassification/Data/issues_train.tsv) with the

[2022-06-13 00:38] luisquintanilla opened #6226 "Text Classification index out of range in self"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET 2.0.0-preview.22310.1, ML.NET 0.20.0-preview.22310.1
 - .NET Version: .NET 6.0

**Describe the bug**

When running a training workload on the [wikipedia detox dataset](https://raw.githubusercontent.com/dotnet/machinelearning/main/test/data/wikipedia-detox-250-line-data.tsv) wit

[2022-06-13 02:56] landonzeng commented on #6219
@luisquintanilla Thanks!
I want to do configurable development through web pages.
The user can select different algorithm models on the page, and then the system automatically adjusts the parameters, similar to the UI configuration of VS2022, but I did not find any relevant cases in the ML.NET API, the API samples are not automatically generated parameters of various algorithms, the user needs to

[2022-06-13 03:01] luisquintanilla opened #6227 "Text Classification - output score column for evaluation"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET 2.0.0-preview.33210.1, ML.NET 0.20.0-preview.33210.1
 - .NET Version: .NET 6.0

**Describe the bug**

Currently, the output from a model generated by the Text Classification API doesn't include a Score column which is a requirement when using the `Evaluate` method in the multic

[2022-06-13 08:34] turowicz commented on #6212
I meant the other way round. Load up a TRT model in ML.NET and infer on data.

[2022-06-13 17:25] michaelgsharp commented on #6163
Thanks for your comments @LittleLittleCloud. Closing this as it appears the question has been answered, but feel free to open a new issue if you have further questions.

[2022-06-13 17:25] #6163 closed

[2022-06-13 17:43] michaelgsharp commented on #6184
Would you be able to provide a simple repro for it?

[2022-06-13 17:45] michaelgsharp commented on #6194
Thanks for the workaround @trishorts. Will that work for you @GuiOliv?

Not sure how hard this would be to change, but using .net core instead of framework should also fix this issue as that native component itself wont be there.

[2022-06-13 17:48] michaelgsharp commented on #6208
@LittleLittleCloud I'm not sure. We would have to investigate and see if there is a better way of doing that. Essentially we would need a way to "reset" the cancellation token (or provide a new one/etc). What are your guys thoughts on this?

[2022-06-13 17:51] michaelgsharp commented on #6209
Glad you found a workaround, but yeah that isn't the behavior we want I don't think.

When did you notice this change? We haven't made a recent changes to `SchemaDefinition.Create` that I am aware of. I wonder if it has to do with a .NET version change? What version are you using now? Could you also try an older version?

[2022-06-13 17:59] michaelgsharp commented on #6213
@beccamc I'll tag this for our "future" milestone and we can pull it in whenever we have the capacity to work on it.

[2022-06-13 18:45] michaelgsharp commented on #6214
@andrasfuchs this is because we still have a check for this. To bypass it set the msbuild property `EnableMLUnsupportedPlatformTargetCheck` to false. We haven't quite figured out the best way to handle this, as just removing it causes other issues. It would be easy though to change the check so it doesn't get flagged for arm/arm64 targets.

I'm going to close this issue for now, but set that prope

[2022-06-13 18:45] #6214 closed

[2022-06-13 18:48] michaelgsharp commented on #6215
how many trees are you using? Is there anything else you are doing in your code besides what you listed here?

[2022-06-13 18:54] michaelgsharp commented on #6225
As discussed this is due to the number of classes not being specified correctly. Initially we will just make it not have a default value. In the future we will have it auto figure this out.

[2022-06-13 18:56] michaelgsharp commented on #6226
As discussed this is because the tensor length is too long. Our model limits us to 512 characters and this is past that. Will fix this for now by throwing a more descriptive error when this happens.

In the future we will want to add support to either fail with an error, auto truncate the row, or drop the whole row.

[2022-06-13 19:09] michaelgsharp commented on #4175
Closing as I believe this was fixed with #5080

[2022-06-13 19:09] #4175 closed

[2022-06-13 19:17] michaelgsharp commented on #6204
Hi @vpenades, you should be able to unblock yourself by using the `CustomMapping` transformer. [Here](https://github.com/dotnet/machinelearning/blob/6ae2cff8b99761a3961b6cbfd5f90ad2bf728570/docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/CustomMappingSaveAndLoad.cs) is an example that shows how to use the transformer and how to get saving/loading to work (though not with your specific use cas

[2022-06-13 19:17] #6204 closed

[2022-06-13 19:18] #5574 closed

[2022-06-13 19:55] michaelgsharp commented on #6219
@LittleLittleCloud can you take a look and see if AutoML would work for him?

[2022-06-13 20:02] turowicz commented on #6212
Model format: TensorRT by NVIDIA

[2022-06-13 20:03] turowicz commented on #6212
Load it in C#, run inference. This requires C# externs for TensorRT C runtime

[2022-06-14 14:43] sretz commented on #6215
I am using 2 through 21 trees.
Here is what I'm doing on the thread.
![image](https://user-images.githubusercontent.com/80936576/173606110-b45c20a4-97cc-4e8a-ba8c-94bd7561c7f1.png)

[2022-06-15 10:02] Arthur-Lee opened #6231 "Dose Microsoft.ML support android?"
**System Information (please complete the following information):**
 - OS & Version: Android 11.0 (Simulator)
 - ML.NET Version:  ML.NET v1.7.1
 - .NET Version: [e.g. .NET 6.0]

**Describe the bug**
Build MUAI project to refer Microsoft.ML library, and the ApplyOnnxModel will product onnxruntime DLLNotFoundException
![image](https://user-images.githubusercontent.com/9337816/173799844-c7b08102-1e4f

[2022-06-15 17:36] luisquintanilla commented on #6219
Thanks for that clarification @landonzeng.

I would encourage you taking a look at our AutoML API and Sweepable Estimators.

Here's a sample notebook that uses them in a pipeline: https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/E2E-Forecasting%20using%20SSA%20with%20Luna%20Dataset.ipynb

You can also find API documentation for AutoML here: https://docs.microsoft.com/dotnet/ap

[2022-06-15 18:59] LittleLittleCloud commented on #6219
@landonzeng

yes, Sweepable API would be your solution. You can find how to do it from examples in @luisquintanilla answer. Sweepable API is fairly new in ML.Net and you need to use nightly build to access that.

A bit extra info to add, you can also transfer forecasting to a regression problem, which would give you more trainers available. And you can find the example of how to do it [here](https

[2022-06-15 19:53] michaelgsharp commented on #6231
Let me take a look and see what I can figure out. I'm not super familiar with MAUI myself so I will reach out to some internal people about this.

Do the bundle stream give you back a stream of bytes? So if we had an API that took in a byte steam instead of a file path would that help in that regard?

[2022-06-15 20:08] michaelgsharp commented on #6231
Also, to use Onnx Runtime you also have to additionally reference Microsoft.ML.OnnxRuntime 1.6.0 (for CPU processing) or Microsoft.ML.OnnxRuntime.Gpu 1.6.0 (for GPU processing if GPU is available). Probably just the cpu one in this case. Did you reference that additional package?

[2022-06-16 03:30] Arthur-Lee commented on #6231
Yes the bundle stream gives exactly the steam of bytes of model data. I just found this. https://github.com/dotnet/machinelearning/issues/6170#issuecomment-1112410097

It seems that there is already one API to load ITransfrom from stream. And I can verify this works in windows.
![image](https://user-images.githubusercontent.com/9337816/173984940-5d8ce596-4230-41aa-9987-7d772a402dc1.png)

[2022-06-16 03:34] Arthur-Lee commented on #6231
I just try to add Microsoft.ML.OnnxRuntime(1.11.0) into the project. I got build error for Android, thought it works in Windows.

The detail error:
![image](https://user-images.githubusercontent.com/9337816/173985228-fb79a45e-5bb4-44ca-91e0-e0a15c98e90f.png)

The generated Info property return MapInfo type, however IValueInfo is expected.
![image](https://user-images.githubusercontent.com/9337816/

[2022-06-16 16:44] LittleLittleCloud opened #6232 "[Nice to have] having transformers to get date information from Datetime"
ModelBuilder just add support for `Datetime` type, in order to make the most use of this type, it would be helpful if ML.Net has API to extract specific date information from datetime column

**Describe the solution you'd like**
[code]

## What's more
ignore this issue if ML.Net already support that.

[2022-06-16 19:56] andrasfuchs commented on #6214
@michaelgsharp Thank you!

Just to make sure I understand it correctly: since you added/will add arm and arm64 to the supported platform check condition, the next ML.NET version should work on Raspberry without a custom build with the msbuild property change you mentioned above, right?

But if I don't want to wait until then, I can still build it now with that property set to false, can't I?

[2022-06-17 17:40] michaelgsharp commented on #6214
Thats correct. The next release shouldn't need you to set that parameter, but for now you can workaround the issue by setting that parameter as part of your build.

[2022-06-17 19:05] vadd98 opened #6233 "Can't make image classification prediction on MacOS using a Tensorflow model"
**System Information (please complete the following information):**
 - OS & Version: MacOS 12.4
 - ML.NET Version: Microsoft.ML 1.7.1
 - .NET Version: NET 6.0

**Describe the bug**
It seems impossible to make prediction based on images using a Tensorflow model on Mac.
I'm always getting this error:

`Unhandled exception. System.IndexOutOfRangeException: Index was outside the bounds of the array.

[2022-06-20 08:08] MikaelUmaN commented on #6144
Hey, This is a great summary and a good list of features.

I am not sure why this doesn't seem to have higher priority. I can tell you that from an industry perspective, a proper dataframe solution - especially involving time series functionality - is a prerequisite for dotnet to be competetive in the analysis space. I can't leave python even if I wanted to.

Great list, hope to see this implement

[2022-06-24 00:55] artemiusgreat commented on #3759
I would also appreciate an example of the mapping with dynamic types.
Considering that `IDataView` can be created dynamically using `Context.Data.LoadFromTextfile` or with `DataFrame`

[code]

It would make sense not to use strict types in the `CustomMapping` as well.

[2022-06-24 08:59] paul1610 opened #6236 "Can´t make prediction with code trained model"
**System Information (please complete the following information):**
 - Windows 10
 - ML.NET Version: ML.NET v1.7.1
 - .NET Version: .NET 6.0

**Describe the bug**
When I tried to get a prediction from a new trained model, the error
[code]
**Expected behavior**
The final model should be saved & used for prediction.

**Additional context**
GitHub Repository: https://github.com/paul1610/csharp-faceid

[2022-06-24 15:17] jonathanpeppers opened #6237 "Issue saving model to .onnx format"
**System Information (please complete the following information):**
 - OS & Version:  Windows 10
 - ML.NET Version: 1.7.1
 - .NET Version: .NET 6

**Describe the bug**

I trained a model with:

[code]

Opened the resulting project, and tried to change it to save the model file as `.onnx` format:

[SampleClassification.zip](https://github.com/dotnet/machinelearning/files/8977193/SampleClassificatio

[2022-06-24 15:28] #6225 closed

[2022-06-24 15:28] #6226 closed

[2022-06-24 15:28] #6227 closed

[2022-06-26 00:49] artemiusgreat commented on #6144
The implementation is pretty bad, not thread-safe, etc, but this is what would be nice to have available in `DataFrame`. Besides support for vector types, would be nice to add more flexible custom mapping - `Converter`.

[code]

**Usage example**

[code]

[2022-06-27 06:36] paul1610 commented on #6236
Found the error, fixed it

[2022-06-27 06:36] #6236 closed

[2022-06-28 00:30] luisquintanilla opened #6238 "[DataFrame] Allow quote escaping"
Loading data from a column containing quotes inside a string shouldn't break.

[code]

[2022-06-28 12:53] aminm1364 opened #6239 "Predicted value is always Zero 0"
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: ML.NET v16.13.9.2231505
 - .NET Version: .NET 6.0
 - Visual studio 2022 v17.2.5

**Describe the bug**
I am using the ```50 startups``` dataset (https://www.kaggle.com/datasets/farhanmd29/50-startups) and ```value prediction``` scenario.
after training the model (for about 1 minute), t

[2022-06-28 14:56] luisquintanilla commented on #6239
Hi @aminm1364

If you take a look at the dataset, there are a few rows that have missing data (their value is 0). Since there isn't a lot of data (~50 rows), these values skew the training process. If you remove those rows with zero on them, you should be able to successfully train a model.

[2022-06-29 08:51] IzzyHibbert opened #6240 "Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1"
System Info :
 - OS : Win 2019
 - ML.NET Version: 1.5, tried already 1.7.1
 - .NET Version: 4.7.2

Issue :
I am trying to use ML in my .NET 4.7.2 class library project.
I imported ML with Nuget, created the model, and when I use the dll I get the following error :

[code]
the app.config file has the entry:

[code]

and the installed unsafe package is 4.5.3
I also tried to solve this by using other

[2022-06-29 13:37] zhangfeibao opened #6241 "load ONNX model(RNN[LSTM]) can not work"
**System Information**
 - OS & Version: Windows 10]
 - ML.NET Version: ML.NET v1.5.5
 - .NET Version: NET 6.0

I got the onnx model from tf2.
The model infomation is:
![image](https://user-images.githubusercontent.com/12379132/176447293-f3e6f9f2-cba6-4dfc-a53f-f3a6f7932c08.png)
I load the onnx model follow the [document.](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-automl-on

[2022-06-30 20:26] luisquintanilla commented on #6241
@zhangfeibao what does your `ONNXInput` class look like?

[2022-06-30 21:50] #6237 closed

[2022-06-30 22:18] JakeRadMSFT commented on #6240
Hey @IzzyHibbert,
It looks to me like your binding redirects wouldn't redirect to 4.5.3.  I'd double check the version and then try updating your binding redirects. 4.0.4.1 should be replaced with the version you're shipping - then verify everything is working.

[2022-07-01 13:41] IzzyHibbert commented on #6240
I try to give an idea @JakeRadMSFT

the appconfig looks like :

[code]

while :
ML.Net = 1.5
System Memory = tried all these 4.5.5 | 4.5.1

[2022-07-03 05:00] QuinnDamerell opened #6244 "Exception When Doing Image Prediction On Ubuntu"
**System Information (please complete the following information):**
 - OS & Version: Ubuntu 20.04.4 LTS
 - ML.NET Version: ML 1.7.1
 - .NET Version: NET 6.0

**Describe the bug**

I'm running a quite standard version of Ubuntu, using the latest dotnet 6.0 and latest ML libs, but for some reason, I'm getting this exception while trying to do an image clarification prediction on Linux. This logic wo

[2022-07-04 07:19] gfoidl commented on #6244
Please see [System.Drawing.Common only supported on Windows](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only).

[2022-07-05 05:20] QuinnDamerell commented on #6244
Thanks for that response! I looked for an answer for about 30 minutes, and somehow I never came by this.

Is there any work planned to move the ML libs away from this dependency? It would be amazing if they would be operational on Linux, where I assume most of these prediction servers would be running. Maybe the system could be updated to use a modern cross-plat dotnet 6 alternative?

[2022-07-05 20:02] michaelgsharp commented on #6244
@QuinnDamerell so if you look are the [Recommended Actions](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only#recommended-action) section, there is a way to enable support for it still. From my understanding the support won't be removed until .NET 7 comes out. So if you enable it, it should still work. Can you try and that let me know

[2022-07-05 20:04] michaelgsharp commented on #6240
@ericstj or @tarekgh could either of you take a look and see if you see anything going on with the redirects here?

[2022-07-06 00:21] tarekgh commented on #6240
@IzzyHibbert I tried referencing the packages `System.Memory, Version=4.0.1.2` and `System.Runtime.CompilerServices.Unsafe, Version=6.0.0.0` using the NuGet manager and it seems loading fine. just ensure the binding redirects for these assemblies are added to the app.config as follows:

[code]

If you still facing the issue, could you please share a small project demonstrate the issue?

[2022-07-06 19:55] LittleLittleCloud commented on #6233
Are you using M1 macbook?

[2022-07-06 20:47] vadd98 commented on #6233
No, I'm using a 2019 Intel Macbook Pro

[2022-07-06 20:50] LittleLittleCloud commented on #6233
Can you provide a minimal reproduction example, and also the following information
- version of tensorflow you use to train the model

[2022-07-08 19:51] luisquintanilla commented on #6207
The old implementation of AutoML worked with F# because it did not run in the context of a pipeline. The current AutoML implementation allows you to include the `SweepableEstimator` as part of the pipeline and as a result causes conflicts in the Type system. To resolve this issue:

1. Separate the preprocessing steps into their own pipeline
2. Cast the preprocessing pipeline to `IEstimator<ITransf

[2022-07-08 19:51] #6207 closed

[2022-07-08 21:42] luisquintanilla opened #6247 "[DataFrame] IDataView <-> DataFrame Interop"
Interop between the IDataView and DataFrame is currently possible except when working with the following types:

- VectorDataViewType
- DateTimeDataViewType
- KeyDataViewType (UInt)

This causes calls to `.ToDataFrame()` to throw an error.

Add support for the data types listed above to enable deeper interop between DataFrame and IDataView.

[2022-07-09 09:00] wangLinWuYing opened #6248 "Tensorflow's hardware CPu requirements, such as the minimum REQUIRED CPu configuration, do not use the GPU"
Tensorflow's hardware CPu requirements, such as the minimum REQUIRED CPu configuration, do not use the GPU

[2022-07-09 09:04] wangLinWuYing commented on #6248
SciSharp.TensorFlow.Redist Are there any restrictions on CPU requirements, such as i3 CPU and J1900,

[2022-07-11 16:59] michaelgsharp commented on #6219
Closing this for now. Thanks for the help @LittleLittleCloud and @luisquintanilla.

[2022-07-11 16:59] #6219 closed

[2022-07-11 17:02] michaelgsharp commented on #5980
Closing as the original question has already been answered and the question about the callback has an answer in #6204

[2022-07-11 17:02] #5980 closed

[2022-07-11 17:04] michaelgsharp commented on #6209
Since this is a change by the F# tooling there is nothing that we can do about it unfortunately. Closing this for now, but if things change in the future please create a new issue and we will take another look.

[2022-07-11 17:07] michaelgsharp commented on #6212
@luisquintanilla I'll mark this as future for now, but we need to figure out if this aligns with our goals and if so when we would be able to take a look at this.

[2022-07-11 17:15] michaelgsharp commented on #6231
@yuslepukhin do you know, or can you point me to the right person, if the android bindings for ONNX are different than the windows ones?

[2022-07-11 17:20] michaelgsharp commented on #6248
From my understanding there are no minimum CPU requirements.

If you want to use the CPU you need to get:
SciSharp.TensorFlow.Redist v1.14.0.

If you want to use the GPU you need to get:
* Windows -> SciSharp.TensorFlow.Redist-Windows-GPU
* Linux -> SciSharp.TensorFlow.Redist-Linux-GPU
 v1.14.0 based on your OS.

[2022-07-11 17:20] #6248 closed

[2022-07-11 23:40] dsyme commented on #6209
@michaelgsharp Just to check....

There are some situations where F# needs to emit public fields - notably when emitting code into multiple assemblies in F# Interactive.

My understanding is that serialization of fields should ignore internal fields, and public fields marked "CompilerGenerated".  This is what System.Json and Newtonsoft.Json both do.  Does `SchemaDefinition` do that?

Thanks

[2022-07-12 03:03] GeorgeS2019 commented on #4053
Now we have the official [Microsoft.ML.TorchSharp](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.torchsharp) namespace.

We could close this issue now :-)

[2022-07-12 06:07] elisaho opened #6250 "Prediction engine outputs only one class"
**System Information (please complete the following information):**
 - Windows 10 build 19044.1766
 - ML.NET v1.7.1
 - .NET 6.0

**Describe the bug**
For a given image input to the prediction engine, the output schema only allows for one output detected class (and a single corresponding score). However, I would like for all detected classes to be returned.
I am working on consuming the tensorflow

[2022-07-12 15:57] #6244 closed

[2022-07-13 17:47] #4053 closed

[2022-07-13 17:49] michaelgsharp commented on #6250
Would you be able to share sample code/data and especially the model so we can take a look?

[2022-07-13 20:54] 80LevelElf opened #6251 "Memory leak by Auto ML"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: ML.NET 2.0 preview (but have the same results when using 1.7.1 versions)
 - .NET Version: NET 5.0

**Describe the bug**
I have noticed that time to time my kubernetas pod faced Out of memory exception. Regarding to Grafana it starts with 500 Mb and reach 6 Gb after some times of proce

[2022-07-13 23:17] elisaho commented on #6250
The model:
[model.zip](https://github.com/dotnet/machinelearning/files/9106665/model.zip)

In startup.cs
`services.AddPredictionEnginePool<ImageInputData, ImageLabelPredictions>();
            services.AddOptions<PredictionEnginePoolOptions<ImageInputData, ImageLabelPredictions>>()
                .Configure(options =>
                {
                    options.ModelLoader = new InMemoryModelLo

[2022-07-14 08:00] IzzyHibbert commented on #6240
Thanks @tarekgh I believe that the issue then is not really related to the ML.net but rather to the bindingredirect not really working. I'll double check that.

[2022-07-14 08:00] #6240 closed

[2022-07-14 13:05] 80LevelElf commented on #6251
Is there any temporary workaround?

[2022-07-14 16:48] torronen opened #6252 "KMeansTrainer can not be set single-threaded (NumberOfThreads=1)"
**System Information (please complete the following information):**
 - OS & Version: Windows Server 2022
 - ML.NET Version: 1.7.1
 - .NET Version: .NET 6

_Sorry, I do not have more details at this time, but I will file this because I probably will forget about this otherwise._
My immediate issue is resolved by setting NumnberOfThreads = 2.

**Describe the bug**
I have a parallel app (Parallel.For

[2022-07-14 20:18] michaelgsharp commented on #6251
@LittleLittleCloud any thoughts on this? Or how we could fix the timer so it won't hold the data?

[2022-07-14 23:13] GeorgeS2019 commented on #4053
@michaelgsharp

Based on the Single example, it seems to me that it is doable to port [TorchAudio](https://github.com/dotnet/TorchSharp/discussions/651#discussioncomment-3125915) and TorchVision examples from TorchSharp to ML.NET using the same way how the TexTclassification API is set up.  This is just a thought, not sure if this is that straight forwards?

[2022-07-15 12:44] 80LevelElf commented on #6251
@michaelgsharp @LittleLittleCloud

I am not 100% sure, but looks like you have to dispose _maxExperimentTimeTimer at https://github.com/dotnet/machinelearning/blob/main/src/Microsoft.ML.AutoML/Experiment/Experiment.cs

Maybe MaxExperimentTimeExpiredEvent method is a good place to call _maxExperimentTimeTimer.Dispose()

[2022-07-15 18:04] LittleLittleCloud commented on #6251
The last trial in AutoML sometimes doesn't get cancelled even after times up, you can force cancel it by calling

`context.CancelExecution()`

You can also check this #https://github.com/dotnet/machinelearning/issues/6188 for further explain as well

[2022-07-15 18:32] 80LevelElf commented on #6251
Thank you!

[2022-07-15 19:31] #6231 closed

[2022-07-17 15:27] torronen commented on #6252
Possibly found the issue elsewhere

[2022-07-17 15:27] #6252 closed

[2022-07-17 15:45] CBrauer opened #6253 "Error in code on this web page"
Why am I getting this error?
![error](https://user-images.githubusercontent.com/1317234/179406005-8a411a21-07a4-4c76-9bd2-edbaa9013e36.PNG)

[2022-07-18 18:27] avcarr2 opened #6254 "Dead link in FastTreeRegressionTrainerClass Documentation"
The link to an article describing greedy function evaluation is broken: https://projecteuclid.org/DPubS?service=UI&version=1.0&verb=Display&handle=euclid.aos/1013203451.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f7b4cf1-c7bf-8141-180b-ea4474964153
* Version Independent ID: 6ba65d38-7383-fdfb-ada4-12caf50f71ab
* C

[2022-07-18 21:07] vadd98 commented on #6233
Sorry for the late response but it has been some busy days.
Here is a repro https://github.com/vadd98/MLNet_Repro
I left a TODO where the crash happens

[2022-07-18 22:49] LittleLittleCloud commented on #6233
@michaelgsharp can you help take a look

[2022-07-19 03:28] feiyun0112 commented on #6253
you need download Aduit dataset to app BaseDirectory

For more details,  please see [https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.samplesutils.datasetutils.loadfeaturizedadultdataset?view=ml-dotnet-preview#microsoft-ml-samplesutils-datasetutils-loadfeaturizedadultdataset(microsoft-ml-mlcontext)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.samplesutils.datasetutils.loadfeat

[2022-07-19 13:11] CBrauer commented on #6253
Obviously I did that!

From: feiyun0112 ***@***.***>
Sent: Monday, July 18, 2022 8:29 PM
To: dotnet/machinelearning ***@***.***>
Cc: Charles Brauer ***@***.***>; Author ***@***.***>
Subject: Re: [dotnet/machinelearning] Error in code on this web page (Issue #6253)

you need download Aduit dataset to app BaseDirectory

For more details, please see https://docs.microsoft.com/en-us/dotnet/api/microso

[2022-07-20 04:02] feiyun0112 commented on #6253
I read [the implementation code](https://github.com/dotnet/machinelearning/blob/main/src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs) and found that the logic is like this:
- should exits `.git` folder
- dataset filename should be `test\data\adult.txt`

**like this:**
![image](https://user-images.githubusercontent.com/10190938/179888707-44d2b3a9-5e18-46e5-9d1f-bb66f486a76e.png)

[2022-07-20 20:22] luisquintanilla opened #6256 "[Azure ML] Azure training environment for supported training scenarios"
Currently in Model Builder, we support the following scenarios and environments:

| Scenarios | Local | Azure |
| --- | --- | --- |
| Data classification | ✅ | ❌|
| Value Prediction | ✅ | ❌|
| Recommendation | ✅ | ❌|
| Forecasting | ✅ | ❌|
| Image classification | ✅ | ✅ |
| Object detection | ❌| ✅ |

Enable Azure as a training environment for all supported scenarios:

- [ ] Data classification
- [

[2022-07-20 20:22] #6256 closed

[2022-07-21 00:28] elisaho commented on #6250
Hi, thanks for getting back to me! Unfortunately I cannot share my model but you can generate a sample model of the same kind by training multiple object detected classes (e.g. orange, apple, pear) in Azure's custom vision with Object Detection General Compact s1.

[2022-07-21 11:55] rzechu opened #6257 "CreateEnumerable - System.IndexOutOfRangeException"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version: ML.NET v1.7.1
 - .NET Version: Framework 4.8

**Describe the bug**
I am receiving Index out of range exception after trying convert transformedData into enumerable.
Same line of code works fine for same code but using method  - DetectIidSpike and its parameters

**To Reproduce**
Steps

[2022-07-21 18:57] luisquintanilla commented on #2486
Closing this issue assuming it's fixed due to lack of activity and no new reported issues on the matter. Thanks for the discussion / feedback.

[2022-07-21 18:57] #2486 closed

[2022-07-21 19:00] luisquintanilla commented on #5428
Thanks all for the comments and feedback. We've [updated the implementation of AutoML](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/), so previous API patterns are no longer applicable. Closing this issue for now. Please feel free to open a new issue if it continues to be a problem.

[2022-07-21 19:00] #5428 closed

[2022-07-21 19:03] luisquintanilla commented on #5372
Thanks everyone for the comments and feedback. The Deep Learning plan has been made available and we'll look to libraries like the SciSharp stack and TorchSharp to enable neural network / deep learning capabilities in the .NET space while making simpler abstractions and scenario-based APIs available in ML.NET. Closing this issue.

[2022-07-21 19:03] #5372 closed

[2022-07-21 19:13] luisquintanilla commented on #5159
Hi all,

Thanks for the discussion and feedback. We've recently implemented the Text Classification API which might satisfy some of the requirements listed here. The underlying model is based on a BERT-variant.

For more information, see the [Blog post](https://devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview/) and [sample notebook](https://aka.ms/text-classi

[2022-07-21 19:13] #5159 closed

[2022-07-21 19:16] luisquintanilla commented on #5608
Thanks everyone for the discussion and feedback. We've recently updated our implementation of AutoML based on FLAML which supports the requirements listed here.

For more information, see the [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebooks](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/E2E-Forecasting%2

[2022-07-21 19:16] #5608 closed

[2022-07-21 19:23] luisquintanilla commented on #3999
Thanks all for the discussion and feedback. We've recently updated our implementation of AutoML based on FLAML, which supports the requirements listed here.

For more information, see the [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebooks](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Training%20and%20A

[2022-07-21 19:23] #3999 closed

[2022-07-21 19:34] luisquintanilla commented on #5730
Thanks everyone for the discussion and feedback. We've recently updated our AutoML implementation based on FLAML which might help address some of the comments mentioned here.

For more information, check out the [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebook](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learnin

[2022-07-21 19:34] #5730 closed

[2022-07-21 19:47] luisquintanilla commented on #3692
Thanks everyone for the discussion and feedback. Since the last comments on this thread, we've introduced the [Microsoft.Data.Analysis](https://www.nuget.org/packages/Microsoft.Data.Analysis/0.20.0-preview.22313.1) library which brought DataFrames to .NET.

We plan on making improvements to the library and are tracking feedback and progress in this issue #6144

For samples on using the library, ch

[2022-07-21 19:47] #3692 closed

[2022-07-21 19:50] luisquintanilla commented on #2293
Thanks all for the feedback. Closing this issue since it references out of support .NET versions. If this continues to be an issue on newer / supported versions of .NET, please feel free to open another issue.

[2022-07-21 19:50] #2293 closed

[2022-07-21 20:00] luisquintanilla commented on #5774
Thanks everyone for the discussion and feedback. We've recently updated our AutoML implementation based on FLAML which should address some of the comments mentioned here.

For more information, see [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebook](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Training%

[2022-07-21 20:00] #5774 closed

[2022-07-21 20:18] luisquintanilla commented on #3320
Thanks for the feedback. We've recently updated our AutoML implementation based on FLAML.

For more information, see the [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebooks](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Training%20and%20AutoML.ipynb)

Closing this issue.

[2022-07-21 20:18] #3320 closed

[2022-07-21 20:22] luisquintanilla commented on #3917
Closing this issue since AutoML implementation has been updated and PR had been already merged to address the original issue.

[2022-07-21 20:22] #3917 closed

[2022-07-21 20:24] luisquintanilla commented on #3728
Thanks for the feedback. We've recently updated our AutoML implementation based on FLAML.

For more information, see the [blog post](https://devblogs.microsoft.com/dotnet/whats-new-with-mldotnet-automl/#automl-updates) and [sample notebooks](https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Training%20and%20AutoML.ipynb)

Closing this issue.

[2022-07-21 20:24] #3728 closed

[2022-07-24 14:02] feiyun0112 commented on #6257
Can you provide a minimal reproduction example

[2022-07-25 10:54] derekdiamond opened #6258 "Model.Transform returns results in different order than the input DataView"
**System Information (please complete the following information):**
Windows 11
ML.NET 1.70
.NET 4.8

**Describe the bug**

I have the following code:

                var res = Model.Transform(dataView);
                var resSchema = res.Schema;
                var resCsr = res.GetRowCursor(resSchema);

When stepping through the result cursor the order of the results does not match the input ord

[2022-07-26 16:15] PajLe opened #6260 "Save IDataView to a database table"
I am formatting this issue as a feature suggestion, however, I am also looking for a workaround - a way to do it without implementing this feature suggestion, as I haven't found a solid one yet (referencing to my [SO question][3]).

## Is your feature request related to a problem? Please describe.
I have a transformed `IDataView` with prediction (`Score`) column, input columns and one-hot encoded

[2022-07-26 19:04] LittleLittleCloud commented on #6251
@80LevelElf
Does `CancelExecution()` solves your issue

[2022-07-26 19:55] 80LevelElf commented on #6251
@LittleLittleCloud hi!

Yes, looks like it does

[2022-07-27 06:47] rzechu commented on #6257
Here you are,

[code]

[2022-07-27 11:34] NarwhalRoger commented on #5718
Hi, I am facing similar issue (having no idea how to implement in memory image prediction and etc) and I have looked at the code suggested by @michaelgsharp above. Maybe I got something wrong, but those "InMemoryImageData" objects are not "In memory". They are created with a function called "LoadInMemoryImagesFromDirectory" which doesn't solve the issue because these so called "In memory" images a

[2022-07-28 04:47] feiyun0112 commented on #6257
https://github.com/dotnet/machinelearning/blob/0577957256c296fdea2deb6b6e00e7be9b458167/src/Microsoft.ML.TimeSeries/SrCnnAnomalyDetectionBase.cs#L245
@rzechu
it caused by train dataset is small, or you can decrease lookaheadWindowSize

[2022-07-28 06:51] rzechu commented on #6257
@feiyun0112 yes i finaly managet it regards to small data sets, but maybe there should be a human readable warning while setting parameter properties.
I dont remember accuratelly, but if I set lookheadWindowSize or other properties smaller than windowSize there's setter property exception indicating that value should be equal or less than windowSize or something like that.

"or you can decrease lo

[2022-07-28 18:06] tarekgh opened #6263 "Method not found: 'Void Module.train()'."
This [issue](https://github.com/dotnet/TorchSharp/issues/666) is originally reported by @drGarbinsky in TorchSharp repo and ported here.

I'm currently trying to get the same running from this page: [devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview](https://devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview/)
working with:

[2022-07-28 19:35] NiklasGustafsson commented on #6263
@luisquintanilla -- one advantage of moving to 0.97.0, besides undoing the breakage, will be that ML.NET should be able to import TorchScript modules, and then use them for (re-)training as well as inference.

[2022-07-29 13:47] chriss2401 commented on #6144
Hi @luisquintanilla , thank you for this overview. Would you consider adding my issue as well ?
https://github.com/dotnet/machinelearning/issues/5652

[2022-07-29 19:18] natelowry opened #6264 "Does the OpenVINO execution provider for ONNX Runtime work in ML.NET?"
**Is your feature request related to a problem? Please describe.**

I'm using an ONNX model via `ApplyOnnxModel` and some pre-processing (which is really fast!), but I'd like it to use the OpenVINO execution provider instead of just the CPU.

We are maxing out the CPU and not hitting a high enough framerate with just the CPU.  CUDA with `gpuDeviceId` is not an option due to hardware limitations.

[2022-07-31 21:53] natelowry commented on #6264
Update on this, I'm going to attempt to fork and add the OpenVINO execution provider at session option setup.  If I get that working is there any interest in making this a real feature?  I'd be happy to submit a PR (that may need work).

I'm thinking the options above might be something like:
`OpenVINODeviceID = ["CPU_FP32"|"GPU_FP32"|"GPU_FP16"|"MYRIAD_FP16"|"VAD-M_FP16"|"VAD-F_FP32"]` or possibl

[2022-08-01 16:22] luisquintanilla commented on #5645
Can't repro in version. 0.20.0-preview.22313.1. You can use the `encoding` parameter to provide UTF8 encoding. However, when the DataFrame is saved to a file, quotes aren't added to values that include the separator as part of the value. This causes issues similar to #5647

[2022-08-01 16:54] luisquintanilla commented on #6264
Thanks for this investigation and writeup @natelowry. As you pointed out, today there's no easy way to use execution providers like OpenVINO from ML.NET.  However, based on your findings, I can see opportunities to simplify the process.

Tagging a few folks to get their thoughts on ways we can simplify the process you went through: @ericstj @eerhardt @michaelgsharp @tarekgh

[2022-08-01 17:03] luisquintanilla commented on #5674
Unable to repro in version 0.20.0-preview.22313.1. Closing for now.

[2022-08-01 17:03] #5674 closed

[2022-08-01 17:13] luisquintanilla commented on #5648
Unable to repro in version 0.20.0-preview.22313.1. Closing this issue for now.

[2022-08-01 17:13] #5648 closed

[2022-08-01 17:33] luisquintanilla commented on #5664
Closing this issue for now since you can specify encoding in `LoadCsv` and `WriteCsv` methods and there are no plans at the moment to have StreamReader as input.

[2022-08-01 17:33] #5664 closed

[2022-08-01 17:45] luisquintanilla commented on #5884
Thanks for the discussion. Closing this issue for now since it can be resolved by setting the number of rows to use for inference.

[2022-08-01 17:45] #5884 closed

[2022-08-01 19:24] luisquintanilla commented on #6224
Removing line 83 seemed to fix the problem.

https://github.com/dotnet/machinelearning/blob/9f26edd40226993fb8cdb9aff8814e8a644cd7cf/test/data/wikipedia-detox-250-line-data.tsv#L83

The issue was with the data formatting.

[2022-08-01 19:24] #6224 closed

[2022-08-02 15:03] Oleg26Dev commented on #4285
ML.NET team what about this feature?

[2022-08-03 00:02] #6241 closed

[2022-08-03 19:26] michaelgsharp commented on #4285
@luisquintanilla for prioritization. I'll add to future milestone for now since we will want this, but I'll let you figure out where it falls.

[2022-08-03 22:03] vpenades opened #6271 "Dummy Estimator / Transformer ?"
When creating a pipeline, the common practice is to write this sort of spaguetti code:

[code]

If I want to split this into separated functions, each funcion will usually return some variation of `EstimatorChain<SomeTransformer>`

The problem is every time I need to refactor which estimators I slice and move from one function to another, I need to continuosly change the returning type, because it

[2022-08-05 08:06] acrigney opened #6273 "Help with Custom VarVector to Vector mapping (does it have to so hard?)"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:
ML.NET v4.0.30319
### Issue

- **What did you do?**
- I have a data class that contains single fields and fields that are arrays
- **What happened?**
- How to custom map the the varvector generated into a single vector
- similar to https://github.com/dotnet/machinelearning/issues/4977
-
- **What di

[2022-08-05 17:02] luisquintanilla opened #6274 "[DataFrame] Info method display should be the same for DataFrame and DataFrameColumn"
The `Info` method on a `DataFrame` behaves different from that of a `DataFrameColumn`. The DataFrame displays an `Info` column with labels for each column's data point (DataType, Length). The DataFrameColumn displays the same information, without the labels. Update `DataFrameColumn.Info()` method to display data with labels like `DataFrame`

![image](https://user-images.githubusercontent.com/46974

[2022-08-05 17:09] luisquintanilla opened #6275 "[DataFrame] Head should return min(DF length, param)"
## Problem

Given a DataFrame with 3 rows, calling `Head(5)` throws an error.

![image](https://user-images.githubusercontent.com/46974588/183127094-cb6b8a88-b0b0-4412-a871-faa3f8691fcb.png)

## Suggested solution

Head should return the minimum of the number provided as a parameter and the length of a DataFrame

[2022-08-07 14:50] mandar1jn opened #6278 "ML.net trainer keeps going back to bottleneck computation"
### System information

- **Windows 10**:
- **Dotnet 6.0.302**:

### Issue

- **I tried to create an image classification model**
- **ML.net goes to Bottleneck Computation, then to Training, then logs a lot of things about channels, and then restarts. this continues in an infinite log**
- **I expected it to continue training instead of going back to the start**

This happened on windows with the v

[2022-08-07 15:01] mandar1jn commented on #6278
My project setup is as follows:
ImageRecognition/
	ImageModel/
		ImageModel.mbconfig
		*
	Images/
		Cars/
			*
		Wolves/
			*

[2022-08-07 15:37] mandar1jn commented on #6278
Updating the model builder extension fixed the issue

[2022-08-07 15:37] #6278 closed

[2022-08-08 16:19] michaelgsharp commented on #6253
Did putting it in the correct folder structure fix it?

[2022-08-08 16:20] michaelgsharp commented on #6233
Sorry for my delay. @vadd98 what version of the tensorflow redist did you use from nuget? and what version did you use with your python code?

[2022-08-08 16:23] michaelgsharp commented on #6257
Closing this since its resolved. We will look at adding further warning/errors there.

[2022-08-08 16:23] #6257 closed

[2022-08-08 16:28] michaelgsharp commented on #6258
Thanks for letting us know. We should be returning them in the same order, so if we aren't thats definitely a bug.

Can you share a whole sample pipeline so we can make sure we follow all the same steps you did to see the issue?

[2022-08-08 16:37] michaelgsharp commented on #6260
As far as getting the original column goes you can if you know the index of that column. What we should probably do though is add an overload to the `dataView.Schema.GetColumnOrNull()` method that lets you tell it if you want to include the hidden columns or not. @luisquintanilla I think this overload would be pretty easy to do and we should do it sooner IMO.

As far as your database questions are

[2022-08-08 16:40] michaelgsharp commented on #5718
@NarwhalRoger you should still be able to use that example, just start from the step after we have loaded them. As long as your images are stored as a byte array they can already be in memory. The image data has to come from somewhere, and we can't use something like a camera for our public examples since not everyone would be able to use it, so we mostly have to store them on disk somewhere. We a

[2022-08-08 16:40] #5718 closed

[2022-08-08 16:45] michaelgsharp commented on #6264
If we are just wanting to add the concept of "execution provider" with onnx, we would probably just want to have a way to specify this stuff in our onnx api itself. In this specific case its harder because the whole underlying nuget has to change for OpenVINO, but for any execution providers that ONNX provides out of the box I think we could just modify the api to allow us to specify it.

@luisqui

[2022-08-09 00:02] #6194 closed

[2022-08-09 00:02] #6184 closed

[2022-08-09 07:34] rzechu opened #6280 "How to make prediction of custom data with loaded model? Problem with Model.CreatePredictionEngine<TSrc, TDst> Is it possible to avoid strongly typed input/output"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**:  .NET 4.8

### Issue
- **What did you do?**
- Hello I'd like to implement "model creator" and "dynamic model" usage in our application to allow users to write SQL statements or use wizard to check database fields, prepare/train model (pick 3 columns and 1 as label - similiar to MLModelBuilder in Vi

[2022-08-09 17:51] vadd98 commented on #6233
I'm using the SciSharp.TensorFlow.Redist Nuget package version 2.3.1.
In Python I'm using tensorflow-macos version 2.9.2 and tensorflow-metal version 0.5.0

[2022-08-09 19:15] dakersnar commented on #6233
Could you try retraining your model with tensorflow-macos version 2.3.1? Let us know what happens. It's possible there is an incompatibility between 2.9.2 and 2.3.1 on mac that doesn't exist on windows.

[2022-08-09 19:23] dakersnar commented on #6280
Currently it's not possible to do a dynamic prediction engine. This is something that is high on our priority list.

There is a workaround if you are ok with not using the prediction engine. You would basically need to manually do what the prediction engine does under the hood. Are you interested in this approach? I can elaborate as needed.

[2022-08-09 19:52] dakersnar commented on #6271
Unfortunately, we don't really have a dummy transformer, but you might be able to use the `CopyColumns` transformer for the same effect. Notably, it doesn't actually copy any memory, it just points from the new name to the old name. Additionally, you can copy from a name to itself, which would effectively be the no-op you are looking for.

[2022-08-09 19:52] #6271 closed

[2022-08-09 20:14] vadd98 commented on #6233
It seems there is no 2.3.1 version of tensorflow-macos, the minimum version is 2.5.0. So I tried updating redist to the latest version (2.7.0) but the error still remains. I'll try to retrain the model using tensorflow-macos and redist both on 2.7.0 version and will let you know as soon as I have any update

[2022-08-09 20:48] michaelgsharp commented on #6250
We are looking into generating one so that we can investigate this further. While we are doing that, have you tried running this with `addBatchDimensionInput` set to true? I'm wondering if it has to do with the output shape are how we parse it.

[2022-08-09 21:00] vadd98 commented on #6233
I just tried using tensorflow-macos and redist both on 2.7.0 version for training (via Python) and predicting but I still get the error

[2022-08-09 23:13] elisaho commented on #6250
Running with addBatchDimensionsInput set to true yields the exception `InvalidArgumentError: The first dimension of paddings must be the rank of inputs[4,2] [1,1,320,320,3]`. I have moved away from using the tensorflow to using an ONNX model instead. Thanks for your help though!

[2022-08-10 00:04] agonzalezm commented on #630
+1 is it possible to use GPT-3 NET with ml.net?

[2022-08-10 00:06] luisquintanilla commented on #6250
@elisaho just want to confirm, for the export format, you were using TensorFlow? If so, which TF format?

[2022-08-10 09:13] Ritorna commented on #6233
Managed to run training and predictions (using the sample code at least) on Mac M1 using tensorflow-macos 2.9.2 and SciSharp.TensorFlow.Redist 2.7.0.
I also had to add the Microsoft.ML.TensorFlow.Redist package (latest version 0.14.0) to get it to work. Maybe it'll help @vadd98

[2022-08-10 12:52] ML-pixel opened #6281 "Error while using Model.Save()"
**System Information (please complete the following information):**
 - Checked on multiple systems (win 10, win 2019,2021 server)
 - ML.NET Version: ML.NET 1.7.0

 - .NET Core 2.2.3

**Describe the bug**
When saving trained model of very large size, xx GB the exception is thrown with the inner exception "The length cannot be greater than the capacity. ParameterName valueCount at System.Text.String

[2022-08-10 16:48] vadd98 commented on #6233
I just tried to add the Microsoft.ML.TensorFlow.Redist package version 0.14.0 but I still get the error.
By the way I'd like to underline that I'm on an Intel Mac, not on a M1, so it could be that the issue exists only on the x64 architecture

[2022-08-10 20:27] luisquintanilla commented on #630
Thanks for the discussion everyone. NER is a scenario we are actively working to bring to ML.NET as a high-level API powered by TorchSharp (similar to the [Text Classification API](https://devblogs.microsoft.com/dotnet/introducing-the-ml-dotnet-text-classification-api-preview/) we recently introduced).

As part of this work we want to ensure that you're able to have a smooth end-to-end workflow fr

[2022-08-10 21:16] chrisxfire commented on #6129
Note that, because `SetName` has a default value of `null` for the `DataFrame` parameter, if a user tries `dataFrame["oldColumnName"]("newColumnName")`, not only will this fail, but it will also not throw an exception, resulting in a bug that is hard to catch.

You can guess who the user is... 😀

[2022-08-11 21:43] fercom commented on #630
@luisquintanilla Hi Luis, for me there are two important features: entities and intents, like in: "I want to flight to Paris" the intent may be "Travel" and the entity will be "Paris", currently we only do this on Luis.ai, the entity tagging can be done by clicking on the words and selecting the name of our entities (like "destination" in the travel example)

[2022-08-12 06:55] acrigney opened #6282 "Permutation Feature Importance for MulticlassClassification still seems to have issues"
**System Information (please complete the following information):**
 - OS & Version: [e.g. Windows 10]
 - ML.NET Version: [e.g. ML.NET v1.5.5]
 - .NET Version: [e.g. .NET 5.0]

**Describe the bug**
A clear and concise description of what the bug is.
I see that new code for a new API for this has been released with the
PermutationFeatureImportanceExtensions.cs extension

https://github.com/dotnet/m

[2022-08-12 13:07] rpenha commented on #630
@luisquintanilla, I disagree @fercom in one point: intents are not the main motivation of NER. The most importante feature is extract information from unstructured text and classify it into predefined categories.

In my particular case, the data will look like this (highlights are the entities that I need to classify). The entities could be labeled in more than one category.

![image](https://user

[2022-08-12 16:31] fercom commented on #630
@rpenha In my experience we need both, I agree that named entities are the most important feature but for our use cases intents are also important, at least for chatbot development, currently we do this with Microsofts Luis.ai service in that format. I don't know if it is relevant but we have experience with the development of at least 17 projects with this technology

[2022-08-13 00:12] MaxAkbar commented on #630
NER is named entity recognition, meaning we extract entities from some text. If you want Intent, then that is something else. NLP natural language processing can understand human language read\write\spoken. That said, NLP groups the smaller parts like NER, Intent, sentiment (something ML.net does well now), relations, and more. **This topic was specific to NER.**

Azure has [LUIS services](https:/

[2022-08-13 14:33] GeorgeS2019 commented on #630
References:
- [Named Entity Recognition using Deep Learning(ELMo Embedding+ Bi-LSTM)](https://medium.com/analytics-vidhya/named-entity-recognition-using-deep-learning-elmo-embedding-bi-lstm-48295bc66cab)
- [A Beginner’s Introduction to NER (Named Entity Recognition)](https://www.analyticsvidhya.com/blog/2021/11/a-beginners-introduction-to-ner-named-entity-recognition/)

**Azure LUIS** belongs to N

[2022-08-13 14:51] GeorgeS2019 commented on #630
I [found](https://stackoverflow.com/questions/46927142/named-entity-recognition-tagging-tools) this to be intuitive (**disclaimer**, not related to this product)

## [LightTag](http://lighttag.io/)

![H2xgF](https://user-images.githubusercontent.com/49812372/184499189-3f26b309-16ae-4575-8d16-a788d4481059.gif)
![k2jYq](https://user-images.githubusercontent.com/49812372/184499227-b3869814-7223-4233-

[2022-08-15 04:43] elisaho commented on #6250
@luisquintanilla
![image](https://user-images.githubusercontent.com/82560572/184578147-921aefbb-5448-45e3-bf83-867ab16a35a8.png)

[2022-08-15 17:44] LittleLittleCloud commented on #6280
What I usually do as an alternative way to predicted the load model is just calling `ITransformer.Transform`. Which returns an `IDataView` predicted from model.

For example, if your model is trained using  binary classification trainer, and predictedLabel name is `PredictedLabel`, what you can do is

[code]

[2022-08-16 13:00] aforoughi1 opened #6283 "Text Classification API (preview 0.20.0-preview.22313.1) Method not found"
**System Information (please complete the following information):**

    <PackageReference Include="Microsoft.Data.Analysis" Version="0.20.0-preview.22313.1" />
    <PackageReference Include="Microsoft.ML" Version="2.0.0-preview.22313.1" />
    <PackageReference Include="Microsoft.ML.AutoML" Version="0.20.0-preview.22313.1" />
    <PackageReference Include="Microsoft.ML.FastTree" Version="2.0.0-pr

[2022-08-16 14:29] aforoughi1 commented on #6012
Probably not a relevant issue anymore as moving on to new Text Classification API/NAS BERT

[2022-08-16 14:29] #6012 closed

[2022-08-16 15:04] sportbilly21 opened #6284 "Is there a way of not using ImageType constant values?"
### System information

- Windows 10 19044.1826
-  VS 2019, Microsoft.ML 1.71,Microsoft.ML.OnnxRuntime.GPU 12.1

I am have retrained a Tensorflow/Keras model with a resizing layer are part of the model.
I converted to ONNX with opset 11. In python onnx works as expected. I am feeding with what ever size of image and models does the resizing (224, 224) and delivers the predictions.

In ML.Net I hav

[2022-08-17 15:17] wil70 opened #6286 "Resume a cli training"
Hello, is there a way to resume an ML.net cli training to where it was before a crash?
I have a lot of data in the folder C:\Users\wwww\AppData\Local\Temp\AutoML-NNI\Experiment-9K67B4 but I do not know how to make mlnet start from there.

Detail:
I used the cli, ie "mlnet classicfiaction...."
I trained for a few days, but I made a mistake which used a lot of memory on my computer, which stopped th

[2022-08-17 15:21] wil70 opened #6287 "ML.net cli -- early stop and resume/continue"
Hello, is there a way to end earlier a long training? Like I put 600000 seconds, and I have good results already, so I would like to finish it sooner. How do I do this?
A way to end earlier and also be able to resume/continue from there would be awesome (Like I could add x extra minutes of training)
TY!
w

[2022-08-18 03:42] wil70 opened #6288 "[Issue, ML.net CLI] 330GB csv file of data cause a OutOfMemoryException (1/2)"
**System Information (please complete the following information):**
 - OS & Version: Win8, latest version as of this bug entry
 - ML.NET Version: 16.13.9
 - .NET Version:6.0.303

**Describe the bug**
When I start ML.net from CLI, I get a OutOfMemoryException
I have 64GB Ram, I have a 330GB csv file of data.

I tried with
**To Reproduce**
Steps to reproduce the behavior:
1. Generate a 330GB file wi

[2022-08-18 06:13] rzechu commented on #6280
Yes please. I am interested in any solution which allow us to dynamicaly use previously generated models

[2022-08-18 16:10] papyr opened #6290 "Native ML.NET notebook"
Hello, can we get a native notebook inside Visual Studio or VS Code, since we already have a designer surface with all the drag and drop controls?

[2022-08-18 17:57] dakersnar commented on #6280
Does the method proposed by @LittleLittleCloud fulfill your needs?

[2022-08-18 19:14] LittleLittleCloud opened #6291 "AutoFeaturizer puts ReplacingMissingValue transformer to boolean column"
The root cause is `InferColumn` API also infer a boolean column's column purpose as numeric. Which in some way makes sense as there's a direct way of mapping boolean to numeric.

While in `AutoFeaturizer` API, it always put a `ReplacingMissingValue` transformer to numeric feature. This usually works if a column has numeric type. But when it comes to boolean type, `ReplacingMissingValue` won't work

[2022-08-18 22:06] LittleLittleCloud opened #6293 "Add maximum memory usage limit to AutoML experiment"
We have a lot of users complaining about OOM error when using AutoML. This is because ML.Net AutoML tends to search larger model as time passes, so it's kind of necessary to put some hard limit on memory usages for AutoML training.

[2022-08-18 22:06] LittleLittleCloud commented on #6293
#6145

[2022-08-18 22:07] LittleLittleCloud commented on #6291
#6145

[2022-08-18 23:10] luisquintanilla opened #6294 "Convert TrialResult to DataFrame"
## Description

[TrialResult](https://docs.microsoft.com/dotnet/api/microsoft.ml.automl.trialresult?view=ml-dotnet-preview) gives you important information about each trial AutoML runs as part of an experiment. Although today we have the NotebookMonitor for real-time visualizations and feedback during training, once training is done, to get similar information, users have to write their own code t

[2022-08-19 06:38] ADD-eNavarro commented on #630
+1 to NER in ML.NET, and also a tool to apply custom labels to texts would be awesome, allowing the whole process to be done within one tool.

For our use case, we need to use quite a few custom labels. Here's an example:
![image](https://user-images.githubusercontent.com/73241652/185558367-e4f6c6f0-e4de-41cb-8a5b-fb92092158ee.png)

[2022-08-19 07:41] kitosd opened #6295 "Model Builder Error"
Model Builder Version : 16.1.0.20.27905
Visual Studio Version : 16.11.18

Bug description
With freshly-updated [as of today, 2022-08-19] VS2019 and model builder, I tried to use the new ML builder wizard "Value prediction". It failed with an exception: Method not found: 'System.Collections.Generic.IEnumerable1<System.ValueTuple2<Microsoft.ML.AutoML.RunDetail`1<!!0>,Int32>> Microsoft.ML.AutoML.Best

[2022-08-19 13:08] prodanovic opened #6296 "Support loading lightgbm model from a file"
**Is your feature request related to a problem? Please describe.**
Our data scientists are training lightgbm models in python, and our inference runtime is in C#. We are very much interested in using ML.NET to run inference, however loading the model from a file is not yet supported in ML.NET. Is there an obstacle in adding this additional binding already available in lightgbm C++ API ?

**Describ

[2022-08-19 17:28] wil70 opened #6297 "[Issue, ML.net C#] 330GB csv file of data cause a OutOfMemoryException"
**System Information (please complete the following information):**

-  OS & Version: Win8, latest version as of this bug entry
- ML.NET Version: 16.13.9
- .NET Version:6.0.303

**Describe the bug**
When I start c# AutoML in c# I get a OutOfMemoryException after the memory reach the maximum of 64GB.
I have 64GB Ram, I have a 330GB csv file of data.

Note: I couldn't do it with ML.net CLI due to th

[2022-08-19 20:52] dakersnar commented on #6296
This isn't something we can do in the near future, as it requires us to update some of our existing APIs and use a more recent version of our LightGBM library, but it is something we will consider for the future. Thanks for the suggestion!

[2022-08-19 22:14] luisquintanilla commented on #6297
This looks like the old version of AutoML. @wil70 can you please try to use the latest preview version of AutoML.

https://www.nuget.org/packages/Microsoft.ML.AutoML/0.20.0-preview.22313.1

Here are some samples that use the new API.

https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Training%20and%20AutoML.ipynb

https://github.com/dotnet/csharp-notebooks/blob/main/machine-

[2022-08-20 00:28] LittleLittleCloud commented on #6297
@wil70  let us know if @luisquintanilla comments resolve your issue, and a tip:
- you can disable LightGbm trainer as it uses a lot of memory when training data goes up

[2022-08-20 08:42] rzechu commented on #6280
Hmm I have tried it and looks like it works, but I have to think about schema saving/regenerating for input.

I still have to deliver data in same schema as saved inside model.
I am using something like "fake sql statement (not using tabels - just build query with string builder) this to get data/columns  dynamically

[code]

[2022-08-20 17:28] wil70 commented on #6288
16.13.9+3066041f1761935763bdd267a9bcbb64cb3ec543
and I got the same issue.

Sometime I also see this OutOfMemoryException which seems a bit different

Start Training
start nni training
Experiment output folder: C:\Users\W\AppData\Local\Temp\AutoML-NNI\Experiment-GNJIOK
|     Trainer                              MicroAccuracy  MacroAccuracy  Duration #Iteration                     |
System.InvalidO

[2022-08-22 01:04] luisquintanilla opened #6298 "NotebookMonitor doesn't display AutoML training progress."
**System Information (please complete the following information):**
 - OS & Version: Windows 11
 - ML.NET Version: 0.20.0-preview.22356.1
 - .NET Version: .NET 6.0

**Describe the bug**

NotebookMonitor displays gray box in output window instead of AutoML training progress

**To Reproduce**

Run the following notebook https://github.com/dotnet/csharp-notebooks/blob/main/machine-learning/03-Trainin

[2022-08-22 17:13] LittleLittleCloud commented on #6298
dup of https://github.com/microsoft/VS-Notebook/issues/231

[2022-08-22 17:55] XorZy commented on #3154
Is there any progress on migrating from System.Drawings to ImageSharp?
I saw it was mentioned on the Roadmap but it's not really clear if it's still being worked on.
It's a very desirable change since NET7 will not support System.Drawing at all (even with a configuration switch) on any platform other than Windows.

[2022-08-22 19:54] #6291 closed

[2022-08-22 20:31] dakersnar commented on #6282
It looks to me like `MulticlassClassificationCatalog` is not internal: https://source.dot.net/#Microsoft.ML.Data/TrainCatalog.cs,cd7e47788ba38baa. It is `sealed`, but that only prevents you from inheriting from it. Can you clarify what exactly the issue was?

[2022-08-22 20:40] dakersnar commented on #6281
@luisquintanilla It seems like this API is limiting the model size as intended, but there doesn't seem to be a workaround for users who want to save a large model. Is this functionality we need to add to ML.NET, or is there an alternative API I'm missing?

[2022-08-22 20:55] dakersnar commented on #6283
Could you please fix the formatting on your code example? I can try to reproduce this bug locally.

[2022-08-22 21:48] LittleLittleCloud opened #6299 "ChoiceAttribution doesn't work with int type."
reproduction

[code]

[2022-08-23 00:30] luisquintanilla commented on #6290
@papyr there is currently a notebook experience in VS and VS code powered by [.NET Interactive](https://github.com/dotnet/interactive). Here are some samples to get started.

https://github.com/dotnet/csharp-notebooks

Is this what you're referring to?

[2022-08-23 10:01] aforoughi1 commented on #6283
I think its a duplicate bug #626
Attached a test project
[TestAutoMlApi.zip](https://github.com/dotnet/machinelearning/files/9401534/TestAutoMlApi.zip)
3

[2022-08-23 18:35] luisquintanilla commented on #5647
Unable to repro as of verwion 0.20.0-preview.22313.1

[2022-08-23 22:17] dakersnar commented on #5647
As Luis mentioned, this issue appears to have been solved at some point. Regardless, I'm adding unit tests that confirm this behavior here: https://github.com/dotnet/machinelearning/pull/6301.

[2022-08-25 17:16] luisquintanilla commented on #6281
There is no alternative API that I'm aware of.

@ML-pixel do you experience these issues on newer versions of .NET? (i.e. .NET 6)

[2022-08-25 21:26] dakersnar commented on #6286
I don't believe this functionality is currently supported.

cc @luisquintanilla for confirmation. Is this something that we are tracking support for in the future?

[2022-08-25 21:40] tannergooding commented on #6251
Closing as it looks like this was resolved. Please feel free to re-open if that's not the case.

[2022-08-25 21:40] #6251 closed

[2022-08-25 21:48] dakersnar commented on #3154
cc @luisquintanilla

[2022-08-25 21:51] dakersnar commented on #6258
@derekdiamond tagging you directly for visibility, we need a bit more information to reproduce your issue. Thanks!

[2022-08-25 21:57] papyr commented on #6290
yes thanks!
Does it work in VS 2022 community or pro

[2022-08-25 21:57] #6290 closed

[2022-08-26 03:12] wil70 commented on #6288
Related issue on c# instead of CLI
https://github.com/dotnet/machinelearning/issues/6297

[2022-08-26 03:13] wil70 commented on #6288
Any ETA for a fix? TY!

[2022-08-26 03:13] wil70 commented on #6297
Hello,

Sorry for the delay, it takes time to reproduce the issue and get the error message with big files.

1. Every trainer completed fine with 16GB csv input file. I can start AutoML and run all the algo
	1.1. For the same entry csv file, I observed a strange thing where some algo have a confusion Matrix that look like this

			ConfusionMatrix.PerClassPrecision: Results from All trainers with t

[2022-08-26 15:53] luisquintanilla commented on #6298
Closing since it's already being tracked in VS-Noteboook repo

[2022-08-26 15:53] #6298 closed

[2022-08-26 16:30] luisquintanilla commented on #6284
Hi @sportbilly21

If you were to inspect your model using [Netron](https://netron.app/) what is the expected input?

Can you try adding the [`ResizeImages`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.imageestimatorscatalog.resizeimages?view=ml-dotnet) transform to your pipeline before the `ExtractPixels` transform.

[2022-08-26 16:32] luisquintanilla commented on #6287
Hi @wil70 there is no way to enable early stopping or resume training with the CLI at this time.

@LittleLittleCloud to confirm.

[2022-08-26 16:40] luisquintanilla commented on #630
Thanks all for the replies. As far as tagging tools, what do you use today? I see AWS Sagemaker and LUIS were mentioned.

[2022-08-26 16:41] luisquintanilla commented on #6290
@papyr can you try cloning the repo and using VS Code instead of VS.

Re:NER, we are actively working on that at the moment. We're tracking the discussion in #630

Would you be able to share your scenario? Also, what does your data look like and what tools are you using today to tag your data?

[2022-08-26 16:50] tarekgh commented on #6288
@wil70 what kind of data do you have inside the csv file? does it contain strings with length greater than 2G? In .NET, the string object are limited to 2G of length (int.MaxValue).

[2022-08-26 16:57] luisquintanilla commented on #6275
@tarekgh @dakersnar @tannergooding I think this one's open to discussion. The error message to me looks clear and tells users what the problem is. However, I'm not sure how other libraries handle this issues, whether they throw an error and expect the user to pass in the correct number of rows they want or if it's handled automatically and return the min(n,collectionLength) where n is the number o

[2022-08-26 17:13] dakersnar commented on #6275
I'm not super familiar with how this functionality is commonly used. Are there cases where users could benefit from asking for "up to X rows" instead of "exactly X rows"?

[2022-08-26 17:26] LittleLittleCloud commented on #6280
@rzechu I'm not quite understanding here, do you want to make your model able to predict on dynamic data instead of data with fixed schema?

[2022-08-26 17:38] tarekgh commented on #6215
It is possible to be the lock https://github.com/dotnet/machinelearning/blob/9652e59c5d639cd30390fcfd47b525eb0bd8665e/src/Microsoft.ML.FastTree/FastTree.cs#L217

[2022-08-26 17:49] luisquintanilla commented on #6275
Nothing really comes to mind. The intent of Head is to do a quick check of your data to make sure it was loaded correctly or the operations you applied produced the expected result. Often times the number of rows requested by the user is <100. I wonder if some options here that would help are:

1. Define an overload where we select a default. When a user calls the `Head()` method without passing a

[2022-08-26 17:53] tarekgh commented on #6275
The current behavior looks right to me which is throwing OOR exception. This is how it works in general when trying to access data which does not exist in the current range.  Does DataFrame have any property to return the number of rows? if not, I think this will be good to add. so the call can be something like: `Head(DF.RowsCount)`.

Note that Range/Index types are not supported in the netstanda

[2022-08-26 19:56] luisquintanilla commented on #6297
Thanks for that detailed report @wil70.

@LittleLittleCloud can you please take a look.

[2022-08-26 20:24] luisquintanilla opened #6304 "[AutoML API] API Suggestions"
- When setting evaluation metrics using methods like `SetBinaryClassificationMetric`, the default value for `labelColumn` parameter is *label*. This is inconsistent with like the `predictColumn` parameter and the rest of ML.NET. Suggest change to `Label`.
- When setting evaluation metrics using methods like `SetBinaryClassificationMetric`, the parameter names are `labelColumn` and `predictColumn`.

[2022-08-27 06:57] PerfectEngineer opened #6306 "0x80004005 during CreatePredictionEngine"
### System information

- **OS  Win 10
- **.NET Version    Dot Net 6.0

### Issue
Exception and System Hang
- **What did you do?**
I am getting Prediction from the model generated for Image classification
- **What happened?**
System Hangs
- **What did you expect?**
Should predict the result
### Source code / logs

**Code**

var context = new MLContext(seed: 0);
var model = context.Model.Load(_mode

[2022-08-27 07:12] PerfectEngineer opened #6307 "Exception during Predict"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - ML.NET Version:  ML.NET v1.7.1
 - .NET Version:  .NET 6.0
 - SciSharp.TensorFlow.Redis: 2.3.1
**Expected behavior**
Should able to get prediction

**CODE**

BitmapImage imageAsBitmap = new BitmapImage(new Uri("D:/ImageToGetPrediction.jpeg"));
var encoder = new JpegBitmapEncoder();
encoder.Frames.Add(

[2022-08-27 08:26] PerfectEngineer opened #6308 "Image Prediction : OOM when allocating tensor with shape"
### System information

- **OS version/distro**: Win 10
- **.NET Version (eg., dotnet --info)**:  6.0
- **ML.NET Version**: ML.NET v1.7.1
- **SciSharp.TensorFlow.Redis: 2.3.1**

**Issue OOM when allocating tensor**

### Code
BitmapImage imageAsBitmap = new BitmapImage(new Uri("D:/ImageToGetPrediction.jpeg"));
var encoder = new JpegBitmapEncoder();
encoder.Frames.Add(BitmapFrame.Create(imageAsBitma

[2022-08-27 18:39] wil70 commented on #6288
Hi @tarekgh ,
All the fields are "double" except 1 of the fields is a "string" which has 3 characters maximum
ie.
DOO,-0.85748191341578595,-1.0763921379331161,-3,-1,...
UUU,-1.153315959380012,-1.2316112856397838,0,1,...
...
I hope this help
TY!

[2022-08-27 21:35] tarekgh commented on #6288
Thanks @wil70. In this case it looks to me you are running into legitimate OutOfMemoryException https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/performance#issue-an-out-of-memory-exception-is-thrown. I suggest you try to check the GC state when getting this exception. either through a profiler or a debugger or using the GC APIs https://docs.microsoft.com/en-us/dotnet/api/system

[2022-08-28 00:15] wil70 opened #6309 "[ML.Net c#, CLI, VS Builder] 1KB csv input file. Not sure what to do"
I'm have simple data set with 2 fields: c10 and c11. c10 is a float, c11 is a string. First row is the header.
		c10,c11
		-1,a-1
		1,a+1
		-1,a-1
		1,a+1
		0,a+0
		1,a+1
		1,a+1
		-1,a-1
		1,a+1
		1,a+1
		-1,a-1
		-1,a-1
		-1,a-1
		1,a+1
		-1,a-1
		-1,a-1
		-1,a-1
		0,a+0
		1,a+1
		1,a+1
		1,a+1
		1,a+1
		-1,a-1
		-1,a-1

As you can see this is very easy to solve visually:
[code]
If I run AutoML

[2022-08-28 00:38] wil70 commented on #6288
Thanks @tarekgh
I would expect ML.NET CLI to stream data via a IDataView
Each of my row is only ~4000 floats + 3 letter string, I wouldn't expect the memory to blow up with such small data.

Note: I have 64GB on this machine

What is the biggest dataset that has been handled with ML.NET CLI? and ML.NET via c# api?

Thanks
Wil

[2022-08-28 00:39] wil70 commented on #6288
More or less related issues:
- https://github.com/dotnet/machinelearning/issues/6309
- https://github.com/dotnet/machinelearning/issues/6297
- https://github.com/dotnet/machinelearning/issues/6309

[2022-08-28 00:40] wil70 commented on #6297
More or less related issues:
- https://github.com/dotnet/machinelearning/issues/6309
- https://github.com/dotnet/machinelearning/issues/6297
- https://github.com/dotnet/machinelearning/issues/6309

[2022-08-28 17:27] tarekgh commented on #6288
@wil70 I am trying to diagnose the issue with you as I don't have your data to try it.

From the stack you have sent, I am seeing:

[code]

This suggests the thrown exception is this one https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/Text/StringBuilder.cs,357.  This is why initially I was trying to find out if your data somehow malformed. You mention

[2022-08-29 07:41] acrigney commented on #6282
Sorry guys yes the MulticlassClassificationCatalog is not internal but I could not find how to use it.
But its actually on the MLContext!

So in my model generator class has this MultiClassPermutationFeatureImportance property

  public partial class MLModelGenerator
    {
        public ImmutableDictionary<string, MulticlassClassificationMetricsStatistics> MultiClassPermutationFeatureImportance {

[2022-08-29 20:56] LittleLittleCloud commented on #6309
@wil70

The log in VS model builder indicates the failure is from restoring nuget package and not from AutoML, and it should be ignorable.

And the dataset looks to be imbalanced, where label `a+0` appears much less often than the other two labels. In fact the label `a+0` only appear 2 times, which might cause label missing in training set (after splitting train/test datasplit, label `a+0` is miss

[2022-08-30 04:03] wil70 commented on #6309
Thanks @LittleLittleCloud ,

a) Yes I shall have put the same number of inputs for each label or close enough number.
Good explanation for training vs testing ds - tY!

b) For the confusion matrix, let's pretend the dataset is the following (with eleven a-1, eleven a+1 and Two a+0)
	c10,c11 <--- Header
	-1,a-1
	1,a+1
	-1,a-1
	1,a+1
	0,a+0
	1,a+1
	1,a+1
	-1,a-1
	1,a+1
	1,a+1
	-1,a-1
	-1,a-1
	-1,a-1

[2022-08-30 04:11] wil70 commented on #6288
Thanks @tarekgh

I will write a little program to mimic the data, it is basically 4209 columns with random data:
the first column is a string of 3 character, all the other columns are double. Some of the double might be double.NaN and they are outputted as NaN in the csv file...
I'm wondering if that can be the cause?

Thanks

Wilhelm

[2022-08-30 09:28] aswin-integration opened #6310 "High vulnerability alert in Newtonsoft.Json v10.0.3"
**System Information :**
 - Windows 10
 - ML.NET v1.7.1
 - .NET 5.0

**Describe the bug**
The Microsoft.ML v1.7.1 library currently uses Newtonsoft.Json **v10.0.3** which have a ['high' level vulnerability reported](https://github.com/advisories/GHSA-5crp-9r3c-p9vr) . The vulnerability fix is available in Newtonsoft.Json **v13.0.1** (https://www.nuget.org/packages/Newtonsoft.Json/13.0.1). Is there

[2022-08-30 11:54] superichmann opened #6311 "possible wrong value on example table"
The example described in the article consists of test data table value that does not exist in the output table.

`the output of applying this Estimator would keep the first and the third slots only `

In the table the value of the last line is
<html>
<body>

False | 0,5
-- | --

</body>
</html>

Which perhaps should be

<html>
<body>

False | 0,0
-- | --

</body>
</html>

Or maybe the last line of

[2022-08-30 16:33] tarekgh commented on #6288
The stack is not suggesting this is the problem but when I have the data, we can know exactly what is wrong.

[2022-08-30 17:14] LittleLittleCloud commented on #6309
@wil70
I didn't see the code how you calculate confusion matrix here, and that confusion matrix

- class 1: 0, 0, 0,
- class 2: 0, 3, 0,
- class 3: 0, 0, 0,

Means the dataset you use to calculate confusion matrix has 0 class-1, 3 class-2 and 0 class-3 data.

[2022-08-30 21:05] wil70 commented on #6309
Yeah, so this is incorrect, isn't it? as we know there are eleven a+1 and a-1 as well as 2 a+0

I'm new at ML.net. I'm trying to evaluate if ML.net will work out for me with huge dataset later.
I wrote this tiny code and the file path is to the dataset we mentioned above with header c10,c11)

I tried with all the MulticlassClassificationTrainer available for trainerID but I always got this confusi

[2022-08-30 21:08] LittleLittleCloud commented on #6309
The matrix from `MulticlassExperiment` is evaluated on validation dataset and in your case, since you are running a cross-validation, which means that 10% of the entire training dataset will be held out as validation dataset, which is 24 * 0.1 ~ 3 pieces of data.

[2022-08-30 21:15] wil70 commented on #6309
Super, TY that explains why.is there a way to get the confusion matrix of the training dataset vs the validation dataset?
    On Tuesday, August 30, 2022 at 02:08:22 PM PDT, Xiaoyun Zhang ***@***.***> wrote:

The matrix from MulticlassExperiment is evaluated on validation dataset and in your case, since you are running a cross-validation, which means that 10% of the entire training dataset will be

[2022-08-30 21:29] LittleLittleCloud commented on #6309
Well, you can always re-evaluate your model with another dataset

[code]

[2022-08-31 04:19] wil70 commented on #6288
Thanks @tarekgh
The file is 330GB, so I extracted 24 random lines (500KB)
Basically, the first and last columns are string, all the number in between can be considered double.

[Issue_6288_small_data_sample.csv](https://github.com/dotnet/machinelearning/files/9458394/Issue_6288_small_data_sample.csv)

Once all of this work, I will try with a 2TB input file and more columns.

Note: I'm able to trai

[2022-08-31 11:14] sportbilly21 commented on #6284
Hi @luisquintanilla, I want to add the resizing layer in the model for two reasons. First to avoid the preprocessing outside the model as this gives different results depending on the processing/resizing algorithm. For example if you user ResizeImages Transform in .net but during training in python you have used opencv for resizing then you are getting different results when you are running the mo

[2022-09-01 23:27] dakersnar commented on #6283
Thank you for the additional repro information. I'm going to close this issue as a duplicate, as the other one can continue to track it.

[2022-09-01 23:27] #6283 closed

[2022-09-02 06:59] ML-pixel commented on #6281
I will check it, but it's not a solution becasue it will make me upgrade production and I'm not sure if its possible right now.

[2022-09-02 18:17] dakersnar commented on #6311
That does seem like a typo. @luisquintanilla where would this need to be updated?

[2022-09-02 18:32] LittleLittleCloud opened #6314 "Update MacOS vm in building pipeline?"
We are using macos_10_15 in building pipeline, which is starting deprecated. We should consider upgrade it to macOS_12

more info: https://github.com/actions/runner-images/issues/5583

[2022-09-02 18:38] LittleLittleCloud commented on #6309
Cool, I'm going to close this issue since it seems that the question has been resolved. Feel free to ping me if you have any other questions.

[2022-09-02 18:38] #6309 closed

[2022-09-02 18:39] LittleLittleCloud commented on #6280
@rzechu , I'm going to close it due to no active response in 7 days, feel free to reopen it if you have any questions.

[2022-09-02 18:39] #6280 closed

[2022-09-02 20:51] dakersnar commented on #6233
Sorry for the delay. I got a hold of an intel mac machine and successfully managed to reproduce this bug as you outlined.

[2022-09-03 03:37] wil70 commented on #6309
yes we can close it - TY!

[2022-09-05 00:09] acrigney commented on #6282
Mate the repo to test this has always been in the issue here and in my support request to Microsoft. Its at the start of the conversation [PFI.txt](https://github.com/dotnet/machinelearning/files/9314310/PFI.txt)

[2022-09-05 18:20] wil70 commented on #6288
Thanks @tarekgh !
How did you figure this out?

I have 64GB RAM on the machine and 34GB on Virtual memory, I will increase it and try - TY!
It seems my max was set to 1,144,296MB as Custom Size on the F drive, but maybe it went above which seems a lot of somehow it didn't increase to the max

![image](https://user-images.githubusercontent.com/7807709/188499479-e1aa0ddc-3b60-41aa-8567-8aee5db667fd.

[2022-09-05 19:11] wil70 commented on #6309
Hi @LittleLittleCloud

For my understanding, I added an extra c09 column in the excel file that is a duplicate of the c10 column.
My goal is to ignore this new column "c09" from the code during training and consumption. I thought using **NoColumn** (Attribute) shall do the trick but this is hard to prove?

[code]

I thought doing a AutoML training with the wizard and specifically marking the colum

[2022-09-06 00:02] #6253 closed

[2022-09-06 01:22] tarekgh commented on #6288
For the 330GB data, I don't think the system will allow that much size automatically. Try to use custom size and specify a substantial number allow 330GB size swapping. Thanks!

[2022-09-06 21:43] dakersnar commented on #6233
@tarekgh was planning some refactoring work for this code already, so we will take a look at this bug again once that goes through.

[2022-09-06 23:24] wil70 commented on #6288
Thanks @tarekgh
I tried over the weekend with "System managed" and it failed quickly. It would be great if microsoft os could handle this.
I tried with Custom size, like 50 to 70GB on c drive and 500 to 1000GB on f drive, it did run longer.

The file is 330gb, so I'm wondering as it try model after model if it doesn't clear well the memory?

Thanks
Wil
`
Start Training
start nni training
[#####

[2022-09-07 00:23] tarekgh commented on #6288
I expect this is not the case. But it could be the model loading the whole data into the memory.

CC @luisquintanilla @LittleLittleCloud  in case they know more about that.

[2022-09-07 04:39] wil70 commented on #6288
Thanks @tarekgh

Arg, I was hoping being able to use a much bigger input file later

Right now I'm not using the "-cache" which means it default to "Automatic" by default.
I could try with "-cache Off" if you think that would help?

` --cache <Auto|Off|On>               Specify [On|Off|Auto] for cache to be turned on, off, or auto-determined (default).`

Thanks

Wil

[2022-09-07 15:14] tarekgh commented on #6288
@wil70 yes, it is worth trying to turn off the [cache](https://docs.microsoft.com/en-us/dotnet/machine-learning/reference/ml-net-cli-reference#cache) option. Thank you for your patience and trials.

[2022-09-07 16:22] dakersnar commented on #6306
After running this by @luisquintanilla, nothing immediately stands out to us about why your source code might be causing this error. Can you tell us a little bit more about the model you are inputting? How did you train it?

[2022-09-07 16:35] dakersnar commented on #6310
It looks like this has been done already, closing this issue:
https://github.com/dotnet/machinelearning/blob/9652e59c5d639cd30390fcfd47b525eb0bd8665e/eng/Versions.props#L45
https://github.com/dotnet/machinelearning/pull/6276

[2022-09-07 16:35] #6310 closed

[2022-09-07 17:41] #6314 closed

[2022-09-07 23:06] #6299 closed

[2022-09-08 01:54] LittleLittleCloud commented on #6309
You just not mark that column with `LoadColumn` and that should be it. If you don't want column `c09`, just not put `LoadColumn` attribution

  HResult=0x80131502
  Message=Score column 'Score' not found

The error basically says it can't find `Score` in `testData`, which is true, right? You need to put the evaluation result `eval` in `Evaluate` api

[2022-09-08 10:03] PerfectEngineer commented on #6306
**Training Code**
var context = new MLContext(seed: 0);
var input = LoadLabeledImagesFromPath(imageFolderPath);
var data = context.Data.LoadFromEnumerable(input);
data = context.Data.ShuffleRows(data);

var images = context.Transforms.Conversion.MapValueToKey(inputColumnName: nameof(Input.Label), outputColumnName: _keyColumnName).Append(context.Transforms.LoadRawImageBytes(inputColumnName: nameof(

[2022-09-08 16:23] dakersnar commented on #6221
After some discussion, I've determined this is intended behavior. Numeric types are assumed to be System.Single unless otherwise specified by the user. If you intend to store that column as 32-bit integers, you can specify the types like so:

`var df = DataFrame.LoadCsv("test.csv", dataTypes: new Type[] { typeof(string), typeof(int), typeof(DateTime) });`

Let me know if that solves your issue. Cl

[2022-09-08 16:23] #6221 closed

[2022-09-08 20:22] LittleLittleCloud commented on #6297
@wil70
I'm looking into this issue right now. I made a few changes in AutoML.Net which
- disable cache
- enable diskConvert in fast tree

and hopefully it can resolve oom exception you have. I just launched an experiment to verify that yesterday and it's still running,, will get back to this thread if the running is succeed.

[2022-09-08 22:18] wil70 commented on #6297
Nice, exciting, let me know when done and I can run a test.
Thank you @LittleLittleCloud

I'm wondering if that will also solve https://github.com/dotnet/machinelearning/issues/6288

[2022-09-08 22:18] wil70 commented on #6288
@terlochan, Here you go with --cache Off
I hope this help
TY!
Wil

[code]

[2022-09-08 22:33] wil70 commented on #6309
Thanks @LittleLittleCloud

1) thanks!
2) The problem is you need ModelInput (define here https://github.com/dotnet/machinelearning/issues/6309#issuecomment-1237400143) for reading input data from the csv file (Note: Features, predictedLabels and scores are not in it), but then you need the scope "ModelOuput" (which inherit from ModelInput but add those 3 columns Features, predictedLabels and score

[2022-09-08 22:34] wil70 commented on #6288
Please think of solution that can handle 2TB+ of input file. TY!

[2022-09-08 22:43] LittleLittleCloud commented on #6309
hi @wil70

I might not express clearly in topic 2. According to your response, you are using the following code to evaluate model

[code]

which throws `ArgumentOutOfRangeException`.

The cause is because in this two line
[code]
you are using `testData` instead of `eval` to evaluate your result. You need to first get `eval` by using your model to transform `testData`, and then evaluate metrics on

[2022-09-08 23:33] tarekgh commented on #6288
@LittleLittleCloud with `--cache off` parameter, I am seeing `CacheDataView` still used in the stack. Any thoughts on how we can avoid caching the data in general?

CC @luisquintanilla

[2022-09-09 00:29] wil70 commented on #6309
Super - TY!

I see so only the IDataView from Transform will have the flexibility to add new column dynamically whereas the one from the LoadFromTextFile wouldn't - Super TY @LittleLittleCloud

[2022-09-09 14:50] wil70 commented on #6288
and next may be treat it the cache as an intermediate buffer between the disk and the ram so you do not wear off the drive too fast and still gain some speed. IF this is loaded linearly then that won't be useful, but if some algo train huge dataset by batches then that might help...not sure.

[2022-09-09 15:24] jonathanpeppers opened #6317 "TextFeaturizingEstimator.Options KeepNumbers and KeepPunctuations not exportable to ONNX?"
**System Information (please complete the following information):**
 - OS & Version: Windows 10
 - .NET Version: .NET 6

[code]

**Describe the bug**

As seen here: https://github.com/jonathanpeppers/inclusive-code-reviews-ml/pull/29#discussion_r944879120

A pipeline such as:

[code]

Hits an exception such as:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Run this project:

https

[2022-09-09 15:57] wil70 commented on #6309
@LittleLittleCloud

### 3) Retrain existing classifier model

 I'm trying to start from a saved model so I can analyze results and add more training time if needed for that model,
 I dug (and will dig more over the weekend) into Fit with something like this:

[code]
but I'm not able yet to figure it out.

Note: I read different articles like https://docs.microsoft.com/en-us/dotnet/machine-learning

[2022-09-10 06:25] deiruch opened #6319 "Using LoadFromTextFile to load CSVs should work with ColumnName attributes"
**Is your feature request related to a problem? Please describe.**
I have generated a ModelInput class using AutoML. It contains several columns, all annotated with `[ColumnName]`, like this:
[code]

Then I try to load CSV data for this model:
[code]

This fails, because the fields in `ModelInput` do not contain a `LoadColumn` attribute.

**Describe the solution you'd like**
LoadFromTextFile shoul

[2022-09-12 07:16] andrasfuchs commented on #5859
I just ran into this when I tried to get and show the version of ML.NET I'm using.

I listed them using the following line:
`System.Reflection.Assembly.GetEntryAssembly().GetReferencedAssemblies().Where(ra => ra.Name.StartsWith("Microsoft.ML")).ToArray();`

All `Microsoft.ML` assemblies seem to have version `1.0.0.0` regardless if I use 1.7.1 or 2.0.0-preview.

![image](https://user-images.githubu

[2022-09-12 07:31] andrasfuchs commented on #5736
I would like to add that it would be great to have "skip current trial" and "stop training" functionality alongside the pause/resume mentioned above, ideally accessible through the experiment's [IMonitor interface](https://github.com/dotnet/machinelearning/blob/main/src/Microsoft.ML.AutoML/AutoMLExperiment/IMonitor.cs).

Sometimes there are certain trials in an experiment that run significant long

[2022-09-12 07:56] andrasfuchs opened #6320 "Add resource (CPU,RAM,GPU,thread count) monitoring to AutoML experiments"
**Is your feature request related to a problem? Please describe.**
As others also experienced, AutoML training is heavy on CPU and RAM and it can cause slowdowns and crashes (#6175, #6286, #6288, #6297). I sometimes run into an issue where some of my trials run longer than expected, potentially because my systems ran out of one of my resources. I had a few system crashes as well, when running Auto

[2022-09-12 14:33] AM-Site1 opened #6321 "Suspicious fragments found by PVS-Studio Static Analyzer"
Hey!

I checked the ML.NET framework with the PVS-Studio static code analyzer. I described the suspicious code fragments detected by the analyzer in my article ''[ML.NET: can Microsoft's machine learning be trusted?](https://pvs-studio.com/en/blog/posts/csharp/0988/)''. I thought you might be interested to read it.

[2022-09-12 14:34] luisquintanilla opened #6322 "Machine Learning for .NET Developers Survey - 2022"
Every year we conduct a survey to gather feedback on pain points and feature requests that help shape the direction of Machine Learning in .NET.

This past year we have made major improvements to [ML.NET](https://dot.net/ml) tooling and APIs, and now we're investigating new areas to improve and grow, including documentation, data prep, notebooks, deep learning, MLOps, model explainability, and mor

[2022-09-12 17:40] LittleLittleCloud commented on #6320
#6293

Also FYI we just add monitoring of CPU and memory usage in #6305. Monitoring GPU usage is not currently on roadmap since most of ML trainer doesn't run on GPU

[2022-09-12 17:44] LittleLittleCloud commented on #5736
We are exploring the option of continue training in AutoML now. And for excessive long trials, it most  likely happens in tree-base trainers when the `NumberOfTree` or `NumberOfIteration` is large. I'll push a PR to mitigate this.

[2022-09-12 17:44] #6293 closed

[2022-09-12 18:58] dakersnar commented on #6238
I believe this issue has been solved already for LoadCsv (I added unit tests to confirm this). However, I found bugs related to this in WriteCsv. I have a fix that will go up as soon as https://github.com/dotnet/machinelearning/pull/6303 is merged.

[2022-09-12 23:00] WhitWaldo commented on #5281
I would also like to see lemmatization support built into ML.NET.