[2018-09-30 07:14] justinormont commented on #673
Thanks @najeeb-kazmi for the great benchmarks.

From a user perspective, I doubt any user would notice a runtime change this small (within 2%). And, @najeeb-kazmi, as you state, _"We expect the performance to only improve with further optimizations in future .NET Core runtimes."_

Do we have guesses where the main perf impact is located? This might help us create a focused benchmark which will let

[2018-09-30 08:55] justinormont commented on #1101
You'll want to use a Text Transform to create n-grams & char-grams:
https://github.com/dotnet/machinelearning/blob/d13b415fe58d773e4431984486b89d83d91c043c/test/Microsoft.ML.Tests/Scenarios/Api/AspirationalExamples.cs#L184-L197

For more in-depth options:
https://github.com/dotnet/machinelearning/blob/3cdd3c8b32705e91dcf46c429ee34196163af6da/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/Co

[2018-09-30 09:07] justinormont commented on #708
Try running on the full-sized dataset: http://aka.ms/tlc-resources/benchmarks/WikiDetoxAnnotated160kRows.tsv

The `wikipedia-detox-250-line-data.tsv` dataset is a 250 row sample of the original 160k rows. Training on this small of a sample won't create a useful model.

[2018-09-30 13:40] binaryfog commented on #1101
Thank you Justin for suggestions! Do you mind sharing the code, especially the one for which you get 0.83 accuracy ?

[2018-09-30 18:37] asthana86 commented on #1098
We touched on this a little during our conversation. Is the logger a type of property as well in addition to BinaryClassification, Regression etc. In EF, The DbContext.Database.Log property can be set to a delegate for any method that takes a string e.g.:
``
            using (DbContext ctx = new DbContext(myconnectionstring))
            {
                //Regular console app
                ctx

[2018-09-30 18:40] #1081 closed

[2018-09-30 20:08] justinormont commented on #1101
I assume you want to train your model within C#, so I'd recommend modifying the above examples to suit your dataset.

As a quick test, I was using the command-line interface:
[code]

Last name classification is a task where the transfer learning approach of word embeddings should be quite useful. I'd recommend trying out various word embeddings; a pipeline w/ dual use of word embeddings and the ch

[2018-10-01 13:02] sarthak268 commented on #525
Is this issue already assigned? If not please assign.

[2018-10-01 16:11] eerhardt commented on #559
This now works as expected in `0.6` after #970. Closing.

[2018-10-01 16:11] #559 closed

[2018-10-01 16:45] sfilipi opened #1103 "The MlNetMklDeps nuget package should include exports used by the time series code"
As part of the #977 work, the custom DLL for MKL that we package on the MlNetMklDeps nuget should include the following functions:

LAPACKE_shseqr
LAPACKE_dhseqr
LAPACKE_ssytrd
LAPACKE_dsytrd
LAPACKE_ssteqr
LAPACKE_dsteqr
LAPACKE_sorgtr
LAPACKE_dorgtr

[2018-10-01 17:01] Ivanidzo4ka commented on #1103
If I correctly remember _s and _d means work with single and double arrays, and we usually use one of them but not both, are you sure _d and _s needed?

[2018-10-01 17:10] eerhardt opened #1104 "How to use EntryPoint saved .zip files with the "new API"?"
### System information

- **OS version/distro**: all
- **.NET Version (eg., dotnet --info)**:
[code]

### Issue

- **What did you do?**
Attempt to load a .zip file that was created by EntryPoints using `TransformerChain.LoadFrom`.

- **What happened?**
[code]

- **What did you expect?**
I expected to be able to use a .zip file that was created using the EntryPoints API with the "new API".

### Not

[2018-10-01 17:16] danmosemsft commented on #995
I'm not sure that you have to install the .NET Core SDK, although I don't have a machine without it to confirm. If you do not have it, you will need to be able to at least create and build a .NET Framework app. If that's not the case, please re-run setup and check .NET Framework development.

[2018-10-01 17:30] #1043 closed

[2018-10-01 18:10] eerhardt commented on #569
This is now working as expected using the latest nightly build: `0.6.0-preview-26929-2`. I no longer need the  workarounds listed above. ML.NET is now loading assemblies in a manner that is supported by Azure Functions.

Fixed by #970

[2018-10-01 18:10] #569 closed

[2018-10-01 18:29] Zruty0 commented on #1098
It's a good point @asthana86 . We have `AddListener`/`RemoveListener` for this, so it might be a matter of minor massaging of the API.

[2018-10-01 18:31] Zruty0 commented on #1090
Ok, so I am much more concerned with the `Read` methods than I am with interface design.
Extension methods are fine with me for that purpose.

[2018-10-01 19:47] shauheen commented on #1054
I think we should mention this as known issue for the release.

[2018-10-01 19:55] shauheen commented on #791
with #1093 merged, I am going to close this issue. @markusweimer please open another issue if you think more work is needed. Thanks,.

[2018-10-01 19:55] #791 closed

[2018-10-01 19:59] #214 closed

[2018-10-01 20:46] eerhardt commented on #1078
@shauheen - this should be a pretty easy fix. I assume we want this in the `Microsoft.ML` nuget package.

[2018-10-01 21:51] HowardvanRooijen commented on #569
Hi,

I couldn't find `0.6.0-preview-26929-2` in the daily builds feed `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json` - is that the right location?

I took a copy of the latest build from that feed `0.7.0-preview-27001-4` and tried it inside my function by got the following exception

[code]

[2018-10-01 21:56] zeahmed opened #1106 "Error due to ShuffleTransform in pipeline."
Need to convert `ShuffleTransform` into Transformer/Estimator design. Currently, when it is used in `TensorFlowTransform` to enable shuffling of data during training, it gives error regarding <b>`ShuffleTransform is not RowToRowMapper`</b>.

### Update
It seems like the transform works fine during training. The error is somewhere when creating prediction engine.

The following is the exact locatio

[2018-10-01 21:58] eerhardt commented on #569
That version is in dotnet.myget.org here:  https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.ML/0.6.0-preview-26929-2

I've seen this error before if I tried loading an older model with the newer code. Can you try re-building the model with the same version to see if it repos?

Then please log a new bug for this scenario.

[2018-10-01 22:01] #894 closed

[2018-10-01 22:06] gbonventre opened #1107 "Need the ability to view transformed data outside of the library"
### There is currently no easy way to view data from an external application after a number of transforms have been applied using a LearningPipeline. The LearningPipelineDebugProxy class is a sealed internal class. Using reflection, I can only see the first 10 rows of data. It would be very helpful if the LearningPipelineDebugProxy class were public or if there was some other way to view transform

[2018-10-01 22:25] zeahmed opened #1108 "Add support for stopping criteria other than training iterations in TensorFlowTransform."
Currently, training in TensorFlowTransform stops when specified umber of iterations are done.
It will also be interesting to add support for following stopping criteria.
- Increase in training loss (or no change in the loss over the last few iterations)
- Stop training based on performance on validation set.

[2018-10-01 23:39] abidur opened #1109 "Issue with WordEmbeddings using service accounts."
### System information

- **Windows Server**:
- **.NET Version - Core 2.1**:

### Issue
I built a demo web application that runs locally but breaks on the server. I am using WordEmbeddings. The error message is:

"Error downloading resource: Error trying to create directory : Path cannot be the empty string or all whitespace.
Parameter name: path.
Please fix your filesystem permissions, or try set

[2018-10-01 23:42] zeahmed opened #1110 "Convert TensorFlowEstimator into Non-TrivialEstimator."
The `TensorFlowEstimator` is currently a `TrivialEstimator`. Recently, model retraining feature was added to `TensorFlowTransform` which requires the `TensorFlowEstimator` to be non-trivial estimator.

[2018-10-02 00:42] Ivanidzo4ka opened #1113 "EntryPointGraph,GraphRunner and ComponentCatalog"
as example:
https://github.com/dotnet/machinelearning/blob/59a90e7b2974ac857d3fd62c2f9a3dba9384eb85/src/Microsoft.ML.Legacy/Runtime/EntryPoints/JsonUtils/GraphRunner.cs#L26

Constructor accepts IHostEnvironment, and ComponentCatalog, but recently we made changes where ComponentCatalog become part of IHostEnvironment.

I think we should simplify our constructors and just accept IHostEnviroment.

[2018-10-02 01:35] najeeb-kazmi commented on #1013
Here are the before and after results from running PredictionEngineBench on the three prediction models in the benchmark. The benchmarks do a single prediction 10000 times on each model, and each benchmark is run 20 times, with the average runtimes reported in the tables below, along with the standard deviations. We see the following speedups in average runtime:
- 112x speedup on predictions on Ir

[2018-10-02 01:54] Zruty0 commented on #1013
@najeeb-kazmi , is this `LearningPipeline` vs. `PredictionFunction`, or is it old `PredictionFunction` vs. new?

[2018-10-02 03:03] Zruty0 commented on #1106
It should not give this error during training, only during scoring, right?
And is it necessary to have the shuffle transform when you are done training?

[2018-10-02 03:35] TomFinley commented on #1106
Hi @zeahmed , different objection... Shuffle transform simply cannot be a row to row mapper. The two notions are incompatible. One is based on the idea that it is applicable to situations where an operation can be applied as an operation of one row to another row. One has to do with the permutation of the rows themselves. So, cannot be done, sorry. Perhaps if you were to describe your scenario, we

[2018-10-02 05:28] zeahmed commented on #1106
@Zruty0, I will copy exact exception. It is applied during training. I have a parameter to set shuffle on/off during training. Its a good practice to shuffle the training data before each iteration to reduce variance and skip local minimum.

@TomFinley, yes the title got wrong. It should be "Convert ShuffleTransform to Transformer/Estimator". The idea is to have option for user to shuffle the data

[2018-10-02 10:56] HowardvanRooijen commented on #569
Rebuilding the model works!!! (A more helpful exception message might help)

IT'S ALIVE!

Seriously, thanks for all the hard work on this. I've just tested it end-to-end and it works as expected.

Now I just need to update the model I've built to use the new API rather than the "legacy" API!

Thanks again,

Howard

[2018-10-02 12:15] veikkoeeva commented on #569
@HowardvanRooijen This is likely a long strech, but do dump a link here in case you write a blog post or anything. Would really like to see something about this. :)

[2018-10-02 13:50] eerhardt commented on #569
Thanks for the confirmation, @HowardvanRooijen. Can you do me a favor and log a new issue for loading your model built with the old version using the new version? And show the steps you took to build the model using the old version. I believe there is something wrong with the `ConcatTransform` and it isn't respecting backwards compatibility like it should. Thanks.

[2018-10-02 17:16] TomFinley commented on #1106
Ah. Then I have another objection, these things should just not be estimators/transformers. I feel pretty strongly about this: See #933 . This has been the cause of a large amount of suffering in the past. It should still *exist*, but purely an operation over `IDataView`, not something that becomes part of a data model (which a transform is).

[2018-10-02 17:29] zeahmed commented on #1106
So the question is; does this or other similar transforms need conversion? if not are they supposed to work as-is? or this is the work in progress?

[2018-10-02 17:59] najeeb-kazmi commented on #1013
This is old `PredictionFunction` vs new.

[2018-10-02 18:11] sfilipi commented on #1103
assigning to @codemzs  to update the package version in the PR that needs it.

[2018-10-02 18:12] sfilipi commented on #1055
Verified those don't appear anymore on version: 0.7.0-preview-27001-4

[2018-10-02 18:12] #1055 closed

[2018-10-02 18:18] codemzs commented on #1103
Thanks @sfilipi for updating the mkl binary with the new exports for time series. I have updated the mkl version in my time series PR.

[2018-10-02 18:52] #1011 closed

[2018-10-02 20:39] codemzs opened #1120 "Need real time series dataset for tests"
Currently we have a fake excel generated dataset and this causes asserts to fire in two of the SSA forecasting tests.

[2018-10-02 21:11] sfilipi opened #1121 "SDCA regression trainer context extension"
The SDCA extensions on the various TrainContext objects don't follow the pattern of exposing an Action<advancedSettings> for the advanced arguments; therefore there is no way to set any of the other arguments, that are not directly exposed in that method signature, like the BiasLearningRate .

file: Microsoft.ML.StandardLearners/Standard/SdcaStatic.cs

[2018-10-02 21:34] klausmh opened #1124 "Provide API to estimate memory consumption by models"
Provide an API to estimate memory consumption by model training on a single node (for models for which it is possible).

[2018-10-02 21:44] beneyal commented on #1113
Mind if I take this one?

[2018-10-02 21:47] Ivanidzo4ka commented on #1113
Feel free to :)

[2018-10-02 21:48] najeeb-kazmi commented on #1013
@Zruty0 @GalOshri @shauheen @TomFinley @justinormont I've updated the numbers with prediction runtimes with the `LearningPipeline` API. The speedups are even more impressive when compared to how slow things were in 0.5.

[2018-10-02 23:58] #1092 closed

[2018-10-02 23:58] #1103 closed

[2018-10-03 00:30] markusweimer opened #1129 "Build errors involving `Microsoft.ML.InternalCodeAnalyzer`"
There seems to be an issue with how the build treats `Microsoft.ML.InternalCodeAnalyzer.dll`. After `build` from the command line, I did a rebuild in VS 2017. This results in many copies of this message in the error list:

[code]

After restarting VS and doing a mere Build instead of Rebuild, I don't get this error. Rebuilding recreates the issue.

I also get some weird behavior when trying to bui

[2018-10-03 00:31] markusweimer commented on #1129
@TomFinley, I believe you recently worked on the analyzers. Any idea what is happening here?

[2018-10-03 00:39] markusweimer commented on #1129
As a workaround, one can disable Roslyn Analyzers in Ryder while building. Not sure what the workaround for VS is.

[2018-10-03 01:35] thracian2015 opened #1130 "Sample for data from relational database?"
Do we have a sample that demonstrates how to use ML.NET with data from a relational database, such as SQL Server? I don't need a complete sample but just how to pass such a dataset, instead of using TextLoader?

Also, from what I can see, the samples use LearningPipeline which I've read is deprecated. Do we have a sample that demonstrates the new API?

[2018-10-03 01:38] jwood803 commented on #1130
The [README](https://github.com/dotnet/machinelearning/blob/master/README.md) was just updated to include an example of the new API and to the [cookbook](https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md) that goes over it in some more detail.

Hope that helps!

[2018-10-03 02:00] thracian2015 commented on #1130
Thank you! This helps but do we have a sample demonstrating how to use data from a relational database? Is SqlDataReader good enough since it implements IEnumerable or is there a more efficient way?

[2018-10-03 02:05] jwood803 commented on #1130
If you want it for the learning pipeline, then the [`CollectionDataSource`](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/CollectionDataSourceTests.cs#L31) can take in an `IEnumerable` to be passed into the pipeline. I'm unsure if this is an option in the new API, however.

[2018-10-03 02:18] CESARDELATORRE commented on #1130
With the new API (Pigsty/Static/Typed) you do it like the following:

var env = new LocalEnvironment();
// Load data from a database like using Entity Framework or any other way
IEnumerable<CustomerChurnInfo> myData = GetDataFromDB();

// Turn the data into the ML.NET IDataView.
// Can use CreateStreamingDataView for IEnumerable or CreateDataView for IList
var trainData = env.CreateStreamingDataVi

[2018-10-03 04:09] Zruty0 opened #1131 "Investigate and fix test failures"
Our commit success rate is below 50% at this point.

We no longer have the annoying deadlock plaguing the builds, but somehow the builds are still failing quite often. Let's spend some time and improve that story.

From casual look, there is no single culprit: we seem to randomly fail to initialize build environment, and random tests seem to fail in random places. I guess this may have to do with

[2018-10-03 05:19] #1085 closed

[2018-10-03 06:49] sfilipi opened #1133 "docs.microsoft.com don't display all the extension methods for trainers"
The training methods are extensions of the TrainingContext object, organized in partial classes (ex. RegressionTrainers), that are part of the same namespace (Microsoft.ML.StaticPipe), but packaged in different dlls .
So across the dlls there are several RegressionTrainers.xml (for the partial classes)

On the documents repo, there is only one RegressionTrainers.xml file (maybe the first encounter

[2018-10-03 07:01] paulpce commented on #929
I'm also interested in this for fairly standard sales forecasting based on historical sales, but ideally also including seasonality and other influencing factors such as marketing campaigns, public holidays, new product releases, etc.

[2018-10-03 08:50] dsyme commented on #1085
Cc @cartermp this is a rationale for anonymous types in F# 5.0

[2018-10-03 12:37] thracian2015 commented on #1130
Thanks Cesar but apparently is more than that, which is why I asked for a sample.
                SqlDataReader reader = command.ExecuteReader();
                DataTable dt = new DataTable();
                dt.Load(reader);
                var trainData = env.CreateStreamingDataView(dt.AsEnumerable());
Exception "Could not determine an IDataView type for member RowState Parameter name: rawType'

[2018-10-03 17:17] TomFinley commented on #1013
Um wow.

Still, 1.353 ms per 10k on BC means, 135 nanoseconds per cycle, which will correspond on a typical machine to around a few hundred CPU cycles. A few hundred CPU cycles for 9 multiplies, followed by 9 multiply-adds, followed by the application of a logistic function, is at least somewhat understandable, but suggests to me that there may be some additional speedups here and there to be had.

[2018-10-03 17:44] thracian2015 commented on #1130
I got it to work by using a custom list but now I have another issue. Basically, what I'm trying to predict is the customer probability to purchase a  product. My features are demographic information, such as YearlyIncome, Education, Occupation. Note that some fields are integers or floats. Upon training the classification model, I get a 'Schema mismatch' error.

                trainData = env.Cr

[2018-10-03 17:58] ftdube commented on #915
Got it, makes total sense, thank you :)

[2018-10-03 17:58] #915 closed

[2018-10-03 17:59] #935 closed

[2018-10-03 18:01] danmosemsft commented on #1013
@adamsitnik curious whether the traces you shared earlier are of the fast case above.

@TomFinley dowe have profile evidence that the time spent is dominated by "9 multiplies, followed by 9 multiply-adds, followed by the application of a logistic function"? If so that seems like something that may be amenable to eg @tannergooding 	looking at such factors as code gen and whether there is possibly a

[2018-10-03 18:07] zyw400 opened #1136 "Better error message for non-existing columns when executing graph"
### System information

- **OS version/distro**: Windows
- **.NET Version (eg., dotnet --info)**: Latest master branch

### Issue

Executing a graph with wrong LabelColumn name, the error messages is not very clear:

Message: System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.
Parameter name: Column

If the FeatureColumn name is wrong, the error message in

[2018-10-03 18:15] sfilipi opened #1137 "Package the datasets needed for the samples in a nuget"
The samples in docs.microsoft.com need to be fully self-contained like other MSDN code samples, so the users can copy-paste and run them.

For this we could either package the datasets needed for the samples in a NuGet, or download them from this repo, via aka.ms links.
I prefer the NuGet option, since the package creation and its updates are on the repository, and we can track history. We can't d

[2018-10-03 18:17] cTxplorer commented on #1069
@justinormont
As a beginner, what do I need to know and how can I contribution to this solve this issue?

[2018-10-03 18:59] CESARDELATORRE opened #1138 "PredictionFunction should not reuse the output object"
`PredictionFunction` should create an instance of output object on every call.
The current behavior of reusing the object from call to call is confusing, and the performance gain is questionable.

(original bug description below)

### System information
- Using ML.NET v0.6 and PiGSTy/Static API

### Issue
We have migrated the sample using **TensorFlow as featurizer** and using the **pre-trained In

[2018-10-03 22:36] dsyme commented on #1085
@cartermp The issue is that F# tuples are positional, and don't used named meta data.

Yes, I meant anonymous records. This kind of strongly typed data scripting is one of the rationales. We should go ahead with the feature and validate it using this work

[2018-10-03 22:42] #1113 closed

[2018-10-03 23:01] cartermp commented on #1085
Makes total sense. I'll link this issue in the RFC issue for Anonymous Records and see if there is anything to add in the motivation section of the RFC itself.

[2018-10-04 00:42] ArieJones opened #1144 "Inconsistancy in Training With Multiple Threads"
We are currently using version 0.50 in creating some classifier models but are seeing some strange behavior. We are currently setting the number of threads in our classifiers due to #217 and wanting to be able to control the CPU usage on the server.
So when using a classifier like so ..
`var algo = new StochasticDualCoordinateAscentClassifier()
                    {
                        Caching

[2018-10-04 03:44] justinormont commented on #1144
How large is your dataset? The large swing in micro-accuracy could be randomness on top of a very small dataset.

Can you post your training code?

[2018-10-04 04:03] Zruty0 commented on #1136
@zyw400 , thanks for your report.

The `LearningPipeline` API is on deprecation path.
In the new API, when you specify the label column which doesn't exist, the error message will look something like:
[code]
Or, if the type of the label is not correct:
[code]

I will close this issue. Feel free to reopen if you want to continue the conversation.

[2018-10-04 04:04] Zruty0 commented on #1136
Actually, I realize now that this is not about `LearningPipeline`, but about the entry point graph runner. I believe eventually this fix will also propagate there, but I'm not 100% positive that it already has.
Could you please double-check with 0.6 ?

[2018-10-04 04:14] Zruty0 commented on #1138
Hi @CESARDELATORRE ,

First of all, you should not limit `maxIterations` to 4 if you want the model to be reasonable. This was done in the test in order to speed up training, but I'm pretty sure the model will be bad.

Yes, it looks like `PredictionFunction` reuses the OUTPUT object. Actually, it doesn't matter at all what is the input object, the output object returned will always be the same.

H

[2018-10-04 06:12] dotChris90 opened #1146 "Regression learning with constrains"
Hello Team,

I just was thinking about the follow scenario and questions:

- you have a normal regression Problem with n features
- you build a Model based on this known features
- **how does ML.NET handle constrains like "feature 1 and 2 always must satisfy a equation"?**
- **Is there an easy way to fit non-linear function based models without feature transform?** (something like f(x) = sin(p_1*x

[2018-10-04 10:51] ArieJones commented on #1144
Do you mean the code for the pipeline?

The datasets are around 15k entries and should be sufficiently sized.

Last night we ran tests constraining the number of CPUs from 7 - 1 … Anything under 4 comes out with the expected accuracy ….and anything greater goes to south. This was with running and rerunning with the same training data.

We are just trying to understand what the reason for this is,

[2018-10-04 12:36] thracian2015 commented on #1130
Thanks Peter but I'm still lost. Your cookbook shows how to vectorize features using the TextLoader reader extensions. I'm not using TextLoader but DataReader (SqlDataReader to be precise). Do I need to decorate my custom class fields somehow to convert them to float vectors?

If it's easier, can I send the code sample to someone to take a look at?

[2018-10-04 12:46] ArieJones opened #1148 "Saving of Prediction Function"
We are currently working with the 0.50 release and looking to move to the new API. One of the questions that has surfaced is in regards to the new PredictionFunction

`// Use the model for one-time prediction.
// Make the prediction function object. Note that, on average, this call takes around 200x longer
// than one prediction, so you might want to cache and reuse the prediction function, instea

[2018-10-04 15:12] Zruty0 commented on #1148
The `PredictionFunction` is a lightweight object that will hold a reference of model. There is no reason to save it, nor is it possible.

If you create multiple prediction functions, the memory consumption will remain the same as it is for one model (give or take the memory for the internal buffers, which I assume should be small).

[2018-10-04 15:28] HowardvanRooijen opened #1150 "Model Backwards Compatability"
Hi

Following up from issue #569 - when using the latest nightly builds `0.7.0-preview-27004-1` models trained using the previous ML.NET release (0.5) fail to load, with the following exception:

[code]

I've attached a small demo that reproduces the above. The zip also contains a model trained on ML.NET 0.5 using the following code:

[code]
(The "legacy" namespaces changed in the latest version,

[2018-10-04 16:50] eerhardt opened #1153 "Rename Microsoft.ML.StaticPipe.Vector<T> type"
We currently have:

https://github.com/dotnet/machinelearning/blob/161b450a68a3f47eaf8abd4ce4778e417814b20f/src/Microsoft.ML.Data/StaticPipe/PipelineColumn.cs#L48-L52

Which is more of a schema type that says "the column I represent is a vector type". Which means this type isn't actually a "vector", but more of a "vector column".

We should rename this type (and the other XXColumn types), so we ca

[2018-10-04 16:55] zyw400 commented on #1136
I tried on the build based on the latest master branch.

[2018-10-04 18:11] CESARDELATORRE opened #1154 "How to create an Estimator without using a DataReader?"
### System information
Using the new API (PiGSTy/Typed) API.

### Context
This is confirmed by Tom that the needed API is still not surfacing in the new PiGSTy/Typed API for this scenario. Will come soon, I'm just opening the issue to track it down.

### Problem
Let’s say I’m not reading/loading data from a text file (using a DataReader) but from a Database or any other channel, like the following

[2018-10-04 18:30] CESARDELATORRE commented on #1154
Another working alternative/possibility  from Pete:

Another (working) alternative is
-	Create data (from a collection)
-	Move data to Pigsty via `pigData = data.AssertStatic(…)`
-	Call `pigData.MakeNewEstimator`

https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#what-if-my-training-data-is-not-in-a-text-file

[code]

[2018-10-04 22:04] #1023 closed

[2018-10-04 22:41] sfilipi commented on #1133
Redeploying the docs to the doc staging environment with package 0.7.0-preview-27004-4 after the namespace rename changes have gone in shows the proper content of all the partial classes on that namespace.
The referenced work-item is about merging the content of the member nodes.

[2018-10-04 22:41] #1133 closed

[2018-10-04 23:03] danmosemsft opened #1156 "Enable tests against .NET Core 3.0 SSE and software-only paths"
Seems we have 4 possible code paths in cpumath:

1) sse.cpp  -- used when not on .NET Core 3.0
2) avxintrinsics.cs  -- on .NET Core 3.0 with AVX available
3) sseintrinsics.cs	 -- on .NET Core 3.0 with SSE but not AVX
4) software fallback in cpumathutils.netcoreapp.cs -- on .NET Core 3.0 with no SIMD (eg., on ARM). There seems to be no software fallback when not on .NET Core 3.0.

For tests we have

[2018-10-04 23:03] danmosemsft commented on #1156
cc @eerhardt

[2018-10-04 23:55] eerhardt commented on #1156
The way to get (3) and (4) exercised is to set environment variables. However, it currently isn't possible (from what I understand) to set environment variables during test execution time. So we will need to add some script that sets the environment variables and then runs the tests.

[2018-10-05 00:20] zeahmed opened #1157 "Manage TensorFlow model loading so that it is not loaded twice; first for schema then for use in TFTransform."
TFSession/TFGraph is loaded twice if user is interested in query the model schema first and then creating TensorFlowTransform.

Currently, there is no way to pass existing TFSession information which was loaded during schema probing to TensorFlowTransform. Furthermore, TFSession is internal to the assembly and there is no plan to expose this object.

The solution would be to create a `TensorFlowMo

[2018-10-05 01:28] Ivanidzo4ka opened #1159 "OVA and PKPD don't have pigsty extensions."
Not sure was it intentional, or we just forgot to add them

[2018-10-05 01:28] Ivanidzo4ka commented on #1159
@Zruty0 , @sfilipi  can you comment?

[2018-10-05 04:34] Ivanidzo4ka commented on #1131
Should we at least create list of failing tests?
Let me start it:
MulticlassTreeFeaturizedLRTest
System.InvalidOperationException : MTA thread failed
---- Assert.InRange() Failure
Range: (74.9925 - 75.0075)
Actual: 72

[2018-10-05 06:12] sfilipi opened #1162 "Trainer extensions should be in the Microsoft.ML.Trainers namespace"
We moved the trainers from the Microsoft.Ml.Trainers namespace, to the Microsoft.Ml.StaticPipe namespace, so that they display on Ctrl+Space of the trainingContext object. We chose this namespace since we are suggesting the users to opt in to this namespace for Pigsty Api usage.

But the docs.microsoft.com site is hard to navigate this way; where users starts from namespaces.
That namespace is not

[2018-10-05 06:32] sfilipi commented on #1159
not intentional. The trainingContext object came in after the conversions were done, so we added as many extensions as we could fit.

[2018-10-05 15:38] yordanz commented on #563
Infer.NET is now open source under the MIT license! We moved the namespaces and package to Microsoft.ML.Probabilistic as a first step towards integration with ML.NET.

[Website](https://dotnet.github.io/infer/) | [GitHub](https://github.com/dotnet/infer) | [Announcement](https://www.microsoft.com/en-us/research/blog/the-microsoft-infer-net-machine-learning-framework-goes-open-source/)

-Y-

[2018-10-05 15:41] HowardvanRooijen commented on #563
That is AMAZING news! So, so, so pleased this great project get some love and a license that means we can use it. What a fantastic bit of news to end the week on! Thanks everyone!

[2018-10-05 16:12] Oceania2018 commented on #161
Hi, I've made a project to help building up a chatbot platform in C#. Welcome to try the [repo](https://github.com/Oceania2018/BotSharp).

[2018-10-05 16:17] TomFinley commented on #1031
Hi @markusweimer , we use murmur hash of course, so I'm guessing you're suggesting we use something in nuget to save the 200 lines or so in `Hashing.cs`? If we survey the libraries available for use in .NET by putting `murmur` into the search field of nuget, while my search was not exhaustive (I only looked at about 5 of the most popular ones) they don't really do what we need.

To be clear, the p

[2018-10-05 16:49] #546 closed

[2018-10-05 21:13] Ivanidzo4ka opened #1168 "Solution file don't have references for all package projects"
https://github.com/dotnet/machinelearning/tree/master/pkg
we have quite a lot of packages, but solution file has reference only for 3 of them
https://github.com/dotnet/machinelearning/blob/d5175899b604d852dab08107e583c78cbe5d6948/Microsoft.ML.sln#L52

Should we update solution and have policy to add new packages into it, or should we just remove them from solution?

Any thoughts?

[2018-10-05 21:40] danmosemsft commented on #1168
If you add them, you can drag them all into a single "solution folder" (a virtual folder defined in the sln file) the advantage being that when you open the solution you can quickly unload the folder if you don't care about them.

[2018-10-05 21:43] danmosemsft commented on #1156
Would using our RemoteExecutorTestBase (with EnvironmentVariables added to RemoteInvokeOptions) do the trick?

[2018-10-05 21:52] #1059 closed

[2018-10-05 21:55] shauheen commented on #1045
Duplicate of #1098

[2018-10-05 21:55] #1045 closed

[2018-10-05 21:57] shauheen commented on #1041
Duplicate of #1090

[2018-10-05 21:57] #1041 closed

[2018-10-05 21:57] shauheen commented on #1090
@markusweimer is asking: "Also, can we make it accept a list of file names as well?"

[2018-10-05 22:03] shauheen commented on #1150
Thanks @HowardvanRooijen for filing the issue. We are going to investigate the issue for 0.7.

[2018-10-05 22:52] danmosemsft commented on #14
@shauheen seems to me maybe these names are already reasonable

[2018-10-05 22:56] danmosemsft opened #1170 "Add 3.0 to CI"
We plan to ship codepaths that are specific to .NET Core 3.0, which will presumably be out in previews when we ship. We have some tests (albeit [incomplete](https://github.com/dotnet/machinelearning/issues/1156)) but they do not run unless the special build is performed locally.

It is too early to require contributors to have any build of 3.0 on their machines but it is not too early to add prote

[2018-10-06 00:10] vaeksare opened #1171 "ImageLoaderTransform can load corrupted images"
ImagerLoaderTransform can load corrupted images if the file path of an image it is attempting to load has special characters. Not finding a file also returns a null. In both of these cases, no error messages are propagated to the user until the invalid values cause further issues down the line in other transforms or training.

[2018-10-06 07:55] HowardvanRooijen opened #1175 "PROSE SDK"
Hi!

Now with #563 we have Infer.NET integrated into ML.NET and available with a commercial license - can the same be done with PROSE?

https://microsoft.github.io/prose/

It currently also has a non-commercial license - but over the last year I've seen dozens of use-cases within our customers who could use PROSE to improve data wrangling (and much more) used to feed ML models etc - but we can't u

[2018-10-06 08:40] girishbaviskar commented on #1069
@justinormont can I try this?

[2018-10-07 00:47] Zruty0 commented on #1048
Do you think we need to retain the 'strange' side output of Text featurizer? I feel that if we have two options:
- Text featurizer which is a one-stop-shop for text processing in a hurry,
- A selection of text processing operations (tokenizer, stopword remover, normalizer, ngram extractor, embedding extractor etc.)

, then there is no need to have text featurizer output one extra column 'for conve

[2018-10-07 00:51] Zruty0 commented on #1040
Can we approach this from scenario-first perspective? What do we want to have? A commandline tool to inspect TF models? A programmatic way to do this? Or something else?

What is the anticipated usage pattern?

Also, I think, 'output' nodes in TF is not an actual TF term. What do you call an 'output' node?

[2018-10-07 23:58] GalOshri commented on #1040
Great questions. The scenario is that I want to build an ML.NET model that takes advantage of a pretrained TensorFlow model I found on the web. Suppose I am doing image classification and want to use the Inception model that I found [here](https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip). For a simple scenario, I just want to give my image as input and get the scores

[2018-10-08 14:10] eerhardt commented on #1156
It's possible that RemoteExecutorTestBase would help here.

In a perfect world, I would still want each test reported as a single test, not all ~72 tests run as one "test". That would mean that each test would need to create its own process, which means the tests are going to take longer than they currently do.  We could take that approach to get the coverage now though.

My hope was that we could

[2018-10-08 15:19] ixtreon opened #1180 "Static Pipeline throws `IndexOutOfRangeException` with multiple column mappings"
### System information

- **OS version/distro**: Windows 10 Pro v1803, build 17134.285
- **.NET Version (eg., dotnet --info)**: 2.1.402 @ commit 3599f217f4

### Issue

- **What did you do?** Translated an existing pipeline for text classification from the "legacy" pipeline builder to the new static API. Starting off with 2 text fields, we'd tokenize them and feed the results into a classifier. The

[2018-10-08 16:11] Rammohan91 opened #1181 "Unable to Install Microsoft.ML on target framework .NET Framework 4.6.1"
### System information

- **OS version/distro**: Windows 7
- **.NET Version (eg., dotnet --info)**:  4.6.1
- **Studio Version**: Visual Studio 2015

### Issue

- **What did you do?**
Attempt to install Microsoft.ML v0.6.0.

- **What happened?**
Error message was thrown as: Could not install package 'Microsoft.ML 0.6.0'. You are trying to install this package into a project that targets '.NETFramew

[2018-10-08 16:49] Ivanidzo4ka commented on #1181
https://github.com/dotnet/machinelearning/issues/366#issuecomment-398104951
would this comment solve your problem?

[2018-10-08 16:58] #803 closed

[2018-10-08 17:11] sfilipi opened #1183 "The link of the sdca examples is not being populated in the documentation."
The Sdca regression extension is referencing the code snippet from Microsoft.ML.Samples/Trainers.cs for the example in the documentation, but the documentation website doesn't pull the code.  The format of the link needs to be fixed.

[2018-10-08 17:45] ganik commented on #1150
I ll take a look, thx

[2018-10-08 17:45] shauheen commented on #1137
@Zruty0 , @TomFinley

[2018-10-08 18:29] markusweimer commented on #1031
@TomFinley Do you think it would be useful to release our implementation by itself, then?

[2018-10-08 22:01] yaeldekel opened #1186 "ResultProcessor.cs: code under "#if TLCFULLBUILD" doesn't build"
Old code had result.Trainer.Kind, new syntax is result.TrainerKind.

[2018-10-08 22:05] yaeldekel opened #1187 "Conversion: TryParseKey() throws an exception"
The method checks that IsStdMissing() returns false, but it is called without doing that check.
We should remove this check and return false if IsStdMissing().

[2018-10-08 22:18] yaeldekel opened #1188 "Sweeper: ConfigRunner runs ResultProcessor without loading any assemblies into ComponentCatalog"
ExeConfigRunner uses ResultProcessor to summarize the metrics of the different runs, however, ResultProcessor needs to find components in the ComponentCatalog, so they should be loaded before calling it.

[2018-10-08 23:43] Ivanidzo4ka opened #1190 "What should be our strategy to handle failure in transformer"
So pretty much every transformer has a GetGetter delegate which looks on source column, get value from that column and handles it.
[code]
In ideal world, that DoMagic procedure would always give us proper results, but unfortunately in real world some cases can't be handled and if we rely on code written by 3rd party we can't even fix it.

My question is following, what should be our strategy for t

[2018-10-08 23:44] Ivanidzo4ka commented on #1190
@Zruty0 @TomFinley @markusweimer @shauheen @eerhardt @CESARDELATORRE  @GalOshri

[2018-10-09 00:01] #951 closed

[2018-10-09 01:17] Zruty0 commented on #1190
`VBuffer` is a struct, so there's no `null` in that.
I think throwing an exceptions is the most consistent and explainable way.

Note that most operations are defined for any valid input. It's the more peculiar ones, like image transformation etc., that we have to worry about.

Enforcing ANY kind of consistent behavior (if it's not throwing) is very hard once you open up to running other component

[2018-10-09 03:57] Rammohan91 commented on #1181
@Ivanidzo4ka  Thanks for the reply. I did installed them but with no success.

[2018-10-09 04:12] Ivanidzo4ka commented on #1181
Well, all I can do, is to try to summon @eerhardt to this thread. Maybe he can help. If you don't mind to share information about your VS (Help-> About) and your project file, that would be helpful I guess.

[2018-10-09 04:20] Rammohan91 commented on #1181
Here is the studio info,
![image](https://user-images.githubusercontent.com/21082865/46646511-2e81c180-cba8-11e8-8add-55805113d7b3.png)

Also, I don't have any specific configuration in my project. I just created a new console application project and was trying to install the ML.Net to play with it. I did try changing the framework to 4.5.1, 4.5.2,4.6 and 4.6.1 and also setting the Platform to x64

[2018-10-09 06:47] rauhs commented on #590
Any update on this?

[2018-10-09 14:59] adamsitnik opened #1194 "Benchmark results analysis for .NET Core 2.1 vs 3.0"
I took all of our benchmarks and run them for:

1.  .NET Core 2.1 using **native** `CpuMathNative` which uses **SSE**
2. .NET Core 3.0 using new **managed** Hardware Intrinsics API which uses **AVX** with Tiered compilation **enabled**
3. .NET Core 3.0 using new **managed** Hardware Intrinsics API which uses **AVX** with Tiered compilation **disabled**

I will add a separate comment for every benc

[2018-10-09 15:15] adamsitnik opened #1195 "Remove the `AddScaleSU` performance regression for AVX"
Our profiles show that `AddScaleSU` which should be faster with AVX is actually slower and takes more time. This can be confirmed running our CpuMathBenchmarks:

`..\..\Tools\dotnetcli\dotnet.exe run -c Release-Intrinsics -- -f *.AddScaleSU --join`

|                   Type |     Method |     Mean |
|----------------------- |----------- |---------:|
|    AvxPerformanceTests | AddScaleSU | 4.012 ms

[2018-10-09 15:23] adamsitnik opened #1196 "Improve `AvxIntrinsics.DotSU` performance"
Our profiles show that DotSU which should be faster with AVX is actually slower and takes more time. This can be confirmed running our CpuMathBenchmarks:

`..\..\Tools\dotnetcli\dotnet.exe run -c Release-Intrinsics -f netcoreapp3.0 -- -f *.DotSU --join`

|                   Type | Method |     Mean |     Error |    StdDev | Extra Metric |
|----------------------- |------- |---------:|----------:|-

[2018-10-09 15:38] helloguo commented on #1195
I can update the code with GatherVector256. Please assign it to me :)

[2018-10-09 15:49] adamsitnik commented on #1195
@helloguo GitHub won't let me actually set the assigned to field to you, but this note indicates that others should not work on it without interacting here.

@eerhardt if you have the rights to assign @helloguo to this issue please do so

[2018-10-09 16:09] eerhardt commented on #1181
Hey @Rammohan91, I just tried installing `v0.6` on my VS 2015 machine.

Before installing the two links in https://github.com/dotnet/machinelearning/issues/366#issuecomment-398104951, I got the exact same error as you. After I installed those 2 links, I was able to successfully install the NuGet package.
Maybe you need to restart VS or your computer in between?

Please ensure your Help -> About co

[2018-10-09 16:11] eerhardt commented on #1195
I can't either - I think it is because @helloguo is not a contributor to this repo...?

[2018-10-09 16:19] adamsitnik commented on #1194
## MultiClassClassificationTest.Test_Multiclass_WikiDetox_BigramsAndTrichar_OVAAveragedPerceptron

|                Job |         Mean |      Error |     StdDev |       Median | Scaled |
|------------------- |-------------:|-----------:|-----------:|-------------:|-------:|
|           Core 2.1 | 4,889.920 ms | 73.2056 ms | 68.4765 ms | 4,882.153 ms |   1.00 |
| Core 3.0 NonTiered | 5,258.516 ms |

[2018-10-09 17:13] Rammohan91 commented on #1181
Thank you so much @eerhardt Appreciated. :)

Not sure why but i had an older version of the Nuget Package Manager even though i remember installing it. I just installed it again, restarted and it worked. Thanks again.

[2018-10-09 17:13] #1181 closed

[2018-10-09 17:14] ganik opened #1197 "Fix duplicate params in entrypoints"
Following entrypoints have duplicate param names:
Data.DataViewReference
Models.CrossValidator
Models.CrossValidationResultsCombiner
Models.PipelineSweeper
Models.PipelineSweeper
Models.SweepResultExtractor
Models.TrainTestEvaluator
Transforms.TwoHeterogeneousModelCombiner
Transforms.ManyHeterogeneousModelCombiner

This is not a bug per se. This is about how to make entrypoint API easy to use by 3

[2018-10-09 17:18] justinormont opened #1198 "Revise type mappings in MLNET-to-ONNX conversion"
Currently, for ONNX, we are mapping a `U4` datatype (an unsigned 32-bit integer) to an `Int64`.

Should we be instead mapping the `U4` datatype to `Uint32` in ONNX? Or is there no support for a `Uint32`, and we're storing in an `Int64`?

https://github.com/dotnet/machinelearning/blob/96439752cbaad099093ca0e8c770576bf3a53ad4/src/Microsoft.ML.Onnx/OnnxUtils.cs#L329-L331

In the [above code](https://

[2018-10-09 17:45] adamsitnik commented on #1194
## PredictionEngineBench.MakeIrisPredictions

|                Job |     Mean |    StdDev | Scaled |
|------------------- |---------:|----------:|-------:|
|           Core 2.1 | 2.838 ms | 0.0019 ms |   1.00 |
| Core 3.0 NonTiered | 3.433 ms | 0.0026 ms |   1.21 |
|    Core 3.0 Tiered | 3.452 ms | 0.0017 ms |   1.22 |

Summary: 21% slower. It looks like `DotProductDense` can't be inlined or Jit d

[2018-10-09 18:46] Anipik opened #1199 "Regex Number Parsing Errors for netcoreapp 3.0"
There are two issue that we face while matching the baseline files while running tests for netcoreapp3.0

- The regex treats -0 and 0 differently. We may need to modify the regex for filtering the numbers to treat -0 and 0 same.
- Some numbers are in written in the baseline file in the form of exponentials eg ```5.011722E-35``` They are not  picked up by the regex. so while matching these numbers

[2018-10-09 19:31] Zruty0 opened #1201 "Is Estimator a good enough name?"
As @CESARDELATORRE pointed out, the term `Estimator` means two different things in Spark and in sklearn.

Our terminology is in line with Spark one: the `Estimator` is a 'factory for a `Transformer`', or 'a components that trains a `Transformer` based on the data.

However, it would be even better if we avoided the naming clash with sklearn. So far, the other alternative names for `Estimator` have

[2018-10-09 19:35] #971 closed

[2018-10-09 19:35] Zruty0 opened #1202 "ML.NET to use appsettings.json for seed and concurrency level"
When `LocalEnvironment` is created using default constructor, it should look into `appsettings.json` for random seed and concurrency level.

(Original issue description below)

In case an ML.NET model is already trained and persisted, we can still control to some degree the behavior of the model at prediction time. For example, we could:
- limit the model to only one thread or let it run multi-thr

[2018-10-09 19:35] #1010 closed

[2018-10-09 19:43] justinormont commented on #1202
Would this be something we store within the model or next to it? Generally, I prefer having models be as self-contained as possible in a zip file (plus to runner application). Another route could be auto-creating a folder for the user to ensure they know which parts are needed for the model.

Two additional config file niceties: resource file paths & download locations (like a large word embedding

[2018-10-09 19:46] Zruty0 opened #1203 "ML.NET command line tool"
I think we should consider making ML.NET command-line tool an actual first-class citizen.

A bit of insider knowledge: we currently already have a commandline tool, that is a port of `maml.exe`. You can launch it as follows (this shows the 'help' command, or the `?` command).
[code]

Generally, the syntax is `dotnet MML.dll <command> <arguments>`, and the current list of commands include things li

[2018-10-09 19:57] Zruty0 commented on #1202
I think the 'config' I have in mind is more like a running environment config, that can change from machine to machine, but rarely from model to model. So no, this is separate and orthogonal to model.

[2018-10-09 20:01] CESARDELATORRE commented on #1201
I guess we can also go to the root and see the [definition of an ESTIMATOR in in statistics](https://en.wikipedia.org/wiki/Estimator):
_An "estimator" or "point estimate" is a statistic (that is, **a function of the data**) that is **used to infer** the value of an unknown parameter in a statistical model._

But to me, that definition sounds much closer to a **model** than to a `TransformerFactory

[2018-10-09 20:16] markusweimer commented on #1190
Would it be useful to define Exception classes to be used for various errors? I imagine that to be useful in a UI, but know nothing about UIs :)

[2018-10-09 20:20] justinormont commented on #1203
I wholeheartedly agree with this proposal.

What would it take to bring the command-line to be a first-class citizen?

Work topics I see:
* **Documentation** of the command-line syntax & components
* Provide **example code** (training, scoring, feature importance, etc)
* Describe the **interaction** & **interoperability** with other APIs
* **Expand functionality** (as noted above: TensorFlow/ML.NE

[2018-10-09 20:29] CESARDELATORRE commented on #1202
Why do you need a "native" config file for ML.NET app environment?
I think that a good approach would be to use the regular .NET config file: the `appsettings.json` then you use those provided values by the json config file and use it into the API.

But re-inventing another config file just for ML.NET might be confusing. .NET Apps should use the regular .NET config files that can also be overridde

[2018-10-09 20:47] CESARDELATORRE opened #1204 "Classification stratificationColumn not supported for boolean column"
For not balanced datasets, with stratified splitting, the data is divided in such a way that a percentage of each target column value is put in both training and test dataset.

However, the following line of code throws an error if the column 'Label' is Boolean, which is very common for binary classification.

`(trainData, testData) = classification.TrainTestSplit(data, testFraction: 0.2, stratifi

[2018-10-09 21:04] helloguo commented on #1194
I'm curious if you saw the run to run variance when running `TrainKMeansAndLR` benchmark? I run it on my machine 10 times (.net core 3 and Tiered JIT enabled) and the perf number ranges from 466 ms to 533 ms.

[2018-10-09 21:22] yaeldekel opened #1205 "Logistic Regression doesn't work with training stats"
Stats that are being computed at training time aren't passed to the predictor.

[2018-10-09 21:55] #1157 closed

[2018-10-09 22:37] sfilipi commented on #1162
This was closed by PR #1163

[2018-10-09 22:37] #1162 closed

[2018-10-09 22:39] sfilipi commented on #1137
The decision is to not package and redistribute the datasets, but download them directly from github.
Closing the issue.

[2018-10-09 22:39] #1137 closed

[2018-10-09 22:42] sfilipi commented on #406
This got completed together with the other trainer documentation, on PR #529

[2018-10-09 22:42] #406 closed

[2018-10-10 00:12] zeahmed opened #1207 "FastTreeBinaryClassificationCategoricalSplitTest taking very long to execute..."
The following test is taking 15-25mins (depending on system) alone to execute.

https://github.com/dotnet/machinelearning/blob/8ca1c9386587aa4ef77c56f605f8244debefce93/test/Microsoft.ML.Predictor.Tests/TestPredictors.cs#L711

Is there any policy for test execution time in ML.Net build system?

[2018-10-10 00:55] #945 closed

[2018-10-10 03:19] #410 closed

[2018-10-10 03:44] Zruty0 commented on #1204
Stratification column is not what you think. Actually, if you read the documentation, it [states](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/Training/TrainingStaticExtensions.cs#L31) that

As you can see, it is ALWAYS a bad idea to use `Label` as a stratification column, and ALWAYS a bad idea to use a Boolean column as a stratification column.

That said, currently

[2018-10-10 05:43] #955 closed

[2018-10-10 05:43] #968 closed

[2018-10-10 06:09] #910 closed

[2018-10-10 12:02] ArieJones commented on #694
Sorry checking back in with this one as it really doesn't make any sense that we are failing...our pipeline is fairly simple

[code]

[2018-10-10 12:58] adamsitnik commented on #1196
Fixed by @helloguo in #1200

[2018-10-10 12:58] #1196 closed

[2018-10-10 14:01] adamsitnik commented on #1194
@helloguo the `TrainKMeansAndLR` is multimodal, I believe that it's very dependent on the alignment (/cc @tannergooding )

[2018-10-10 15:07] adamsitnik commented on #1195
I have to reopen this issue, #1200 has helped a LOT, but it's still slower:
[code]
|                   Type |     Method |     Mean |     Error |    StdDev |
|----------------------- |----------- |---------:|----------:|----------:|
|    AvxPerformanceTests | AddScaleSU | 3.501 ms | 0.1372 ms | 0.0817 ms |
| NativePerformanceTests | AddScaleSU | 2.762 ms | 0.0464 ms | 0.0276 ms |
|    SsePerforman

[2018-10-10 16:49] Zruty0 commented on #1203
The biggest problems with the command-line tool are that:
 - It's so involved that we essentially invented a new language for it, that has to be learned;
 - This language is not documented anywhere;
 - Some of the 'features' of the language are dubious at best.

As far as I'm concerned, in order to make it a first-class citizen, we need to shrink the functionality, not expand :)

For instance, our

[2018-10-10 16:51] Zruty0 commented on #1202
Does ASP.NET also subscribe to the same `appsettings.json` mechanism? Or does it have a 'sidekick config file'?

[2018-10-10 17:04] sfilipi opened #1209 "API reference - Samples for Transforms"
We need to add samples on how to use the new transformer, and estimators than reference those samples from the XML documentation so that in docs.microsoft.com users can copy/paste the sample and have a head-starts.

Mot of the tests that got added as part of the transformer work are a good start for creating a sample.

# MLContext Catalogs

Catalog | Total APIs | Samples Owner | Samples Status /

[2018-10-10 17:10] CESARDELATORRE commented on #1202
A similar `appsettings.json` file can be used for regular .NET Core console apps or for ASP.NET Core applications. It is "the same" `appsettings.json` but logically, the values you have will be different because the web apps will need different values.

But the `appsettings.json` is for .NET Core applications, not for traditional .NET Framework and ASP.NET apps which use the `Web.config` or `App.c

[2018-10-10 17:16] tannergooding commented on #1194
Yes, the current implementation does not do anything to deal with misaligned inputs and will incur a penalty anytime a read crosses a cache-line or page boundary. @Anipik is working on improving some of these algorithms using the template I provided (which will incur at most 2 unaligned reads for the input data).

[2018-10-10 17:43] wschin opened #1211 "Export Kmeans to ONNX"
Kmeans is a series of matrix operations in prediction phase, so it's onnxable. Due to Kmeans' popularity, ONNX exporter might want to cover it.

[2018-10-10 17:56] adamsitnik commented on #1194
###### Microsoft.ML.Benchmarks.RankingTrain.TrainTest_Ranking_MSLRWeb10K_RawNumericFeatures_FastTreeRanking

|                Job |    Mean |   StdDev | Scaled |
|------------------- |--------:|---------:|-------:|
|           Core 2.1 | 30.48 s | 0.4394 s |   1.00 |
| Core 3.0 NonTiered | 30.36 s | 0.6783 s |   1.00 |

no significant difference

[2018-10-10 17:57] adamsitnik commented on #1194
###### Microsoft.ML.Benchmarks.RankingTrain.TrainTest_Ranking_MSLRWeb10K_RawNumericFeatures_LightGBMRanking

|                Job |    Mean |   StdDev | Scaled |
|------------------- |--------:|---------:|-------:|
|           Core 2.1 | 28.06 s | 0.2593 s |   1.00 |
| Core 3.0 NonTiered | 28.54 s | 0.7388 s |   1.02 |

no significant difference (the 2% here is noise)

[2018-10-10 18:32] Anipik commented on #1194
[code]

[2018-10-10 18:34] adamsitnik commented on #1194
good, I also wanted to check if ML.NET can get affected by tiered jitting

[2018-10-10 19:19] bartczernicki commented on #482
Using legacy APIs (even with workaround) when upgrading to ML.NET 0.6 seems to bring this issue back up.

[2018-10-10 20:02] zeahmed commented on #1207
Thanks @eerhardt! I was expecting someone already filed it but I was not able to search it.

I am fine closing it however #924 seems bit broad. As @artidoro is already investigating it, may be this can be assign to him. What do you think?

[2018-10-10 20:49] Zruty0 commented on #1205
#1006 is related?

[2018-10-10 21:09] pictos opened #1214 "Is there a way to train my model with multiple coaches?"
### System information
Is there a way to train my model with multiple coaches?

So, for example, i want to create a model to calculate a salary based in years of experience. To do this i used Regression, but has more than one trainers. I want to test all of this trainers and compare the results.
I researched a lot, but i don't finded one way to do this with the ML.NET.

- **What did you do?**
For

[2018-10-10 21:43] tannergooding opened #1215 "Investigate and deal with the remaining x86 baseline differences"
The x86 build of ML.NET has some remaining baseline differences that need investigation and fixing.

From initial investigation, the remaining differences have fewer than 4 matching significant digits and this may be caused by known bugs in the double parsing code (which have already been fixed or are actively being fixed in .NET Core). Other differences are due to the implementation (between x86

[2018-10-10 21:43] tannergooding commented on #1215
The tests disabled for x86 can be identified by: `[ConditionalFact(typeof(Environment), nameof(Environment.Is64BitProcess))]`. Many of them have an additional comment on the same line of `// x86 output differs from Baseline`

[2018-10-10 21:45] tannergooding opened #1216 "Investigate why two predictor tests fail with "Unknown command: 'train'" on x86"
There are currently two `TestPredictors` tests disabled on x86 due to: `[ConditionalFact(typeof(Environment), nameof(Environment.Is64BitProcess))] // x86 fails with "Unknown command: 'train'; Format error at (83,3)-(83,4011): Illegal quoting"`.

This issue needs further investigation.

[2018-10-10 23:08] codemzs opened #1219 "Time Series predictors need to be stateful"
We need to make components such as SSA spike and changepoint detector stateful so that when we do predictions using them the state is updated with the new observations that are seen at prediction phase.

More details on the design to come here.

[2018-10-10 23:20] tannergooding opened #1220 "Clean up `[ConditionalFact(typeof(Environment), nameof(Environment.Is64BitProcess))]`"
It was suggested that creating explicit attributes for the various cases (Such as Onnx, TensorFlow, LightGBM, etc) may be a better long term solution to manage these tests across the various platforms.

See https://github.com/dotnet/machinelearning/pull/1008#discussion_r221985876 for more details.

[2018-10-10 23:32] Zruty0 opened #1222 "Debugger views of estimators"
We are already committed to improving how our data looks like in the debugger.

For instance, #1167 will turn the schema into an 'eagerly computed' object, so you can look at it in the debugger:
![schema](https://user-images.githubusercontent.com/41337831/46771152-2c525c80-cca7-11e8-949e-b728eda5b5b3.PNG)

Now a different question is: how do we make `Estimators` somehow 'debugger-inspectable'?

We

[2018-10-10 23:49] Zruty0 commented on #107
Just bumping this.

Since SQL data source is such a common ask, we will implement a version of the SQL-backed data view (and a SQL-backed `IDataReader`). From what I understand, we'll probably use the primitives in `System.Data` for this, and, therefore, it'll be available as a separate NuGet (so that ML.NET core doesn't depend on `System.Data`.

Then again, nothing prevents anyone from implementi

[2018-10-10 23:52] Zruty0 commented on #1202
OK, that makes sense. I like `appsettings.json` better anyway. For a short-term work item, we could make our `LocalEnvironment` check `appsettings.json` for random seed and concurrency level, if it's not set at construction time.

[2018-10-11 00:01] #1039 closed

[2018-10-11 02:34] TomFinley commented on #1198
Indeed there are now 4 and 8 byte unsigned int types in ONNX, see:

https://github.com/dotnet/machinelearning/blob/96439752cbaad099093ca0e8c770576bf3a53ad4/src/Microsoft.ML.Onnx/OnnxMl.cs#L2969-L2970

We should use them, now that they exist.

[2018-10-11 04:05] #1211 closed

[2018-10-11 04:53] veikkoeeva commented on #107
Referencing https://github.com/dotnet/machinelearning/issues/1130 as is abouth the same issue. @Zruty0, just a note that there are inconsistencies between what various ADO.NET providers support from `System.Data`. asynchrony etc. and you might want to consider some more advanced things like streaming (not always properly supported). The linked issue has a link to one implementation that solves mos

[2018-10-11 05:22] mjannet opened #1223 "Error MSB4019 when adding package Microsoft.ML"
### System information

- **Windows 10**:
- **MS Visual Studio Community 2017 Preview**:

### error MSB4019: The imported project "C:\Users\Owner\source\repos\machinelearning\tools\clean.target" was not found.

- **Clone package from github: https://github.com/dotnet/machinelearning.git using Visual Studio Preview
- **From CLI executed: dotnet add package Microsoft.ML**
- **Got the error message r

[2018-10-11 06:31] justinormont commented on #525
Any proposals for new names for `NGramNgramExtractor` and `NGramHashNgramExtractor`?

[2018-10-11 08:08] rauhs opened #1225 "Pigsty for VarVector doesn't have hash one hot"
I'm trying to convert my `LearningPipeline` to 0.6 static pipeline. I have some *variable* length features in my input instances.

With the pipeline I did:

[code]

What is the equivalent in the new static pipeline? The `VarVector` doesn't have a whole lot of extension functions. Shouldn't it also have `OneHotEncoding`? Though, it's not "One" necessarily.

[2018-10-11 08:44] rauhs opened #1226 "SelectFeaturesBasedOnCount is extremely slow"
I'm using the new static pipeline and adding a `SelectFeaturesBasedOnCount(2)` slows down the pipeline by orders of magnitude.

Just using ~8000 samples and doing some simple One hot encoding will prepare my data ready for learning in about 200ms. If I just add `SelectFeaturesBasedOnCount(2)` on a single one hot encoded feature it will run in 4 seconds. Adding another one to a second feature will

[2018-10-11 16:31] Zruty0 commented on #1226
The last paragraph is actually very helpful. It looks like there's some bug: we should not be creating any temporary files at all in the workflow you describe.

[2018-10-11 16:32] Zruty0 commented on #1226
Would you mind sharing the code for the pipeline you are building? If possible, the sample of the data would also help, otherwise we'll have to build the repro case on our own.

[2018-10-11 16:39] Zruty0 commented on #1130
I think in your dataset both `MaritalStatus` and `Gender` are strings, so you should have passed them through the  `CategoricalEstimator` (together with all other categorical features).

The `Concat` should be concatenating floats, not columns of mixed types.

[2018-10-11 16:59] #1171 closed

[2018-10-11 17:10] justinormont commented on #1198
@TomFinley : Should we also map `BL` to `Bool`, or is there a reason behind `Float`?

`Bool` is available:
https://github.com/dotnet/machinelearning/blob/96439752cbaad099093ca0e8c770576bf3a53ad4/src/Microsoft.ML.Onnx/OnnxMl.cs#L2962-L2964

Current `BL` mapping is to `Float`:
https://github.com/dotnet/machinelearning/blob/96439752cbaad099093ca0e8c770576bf3a53ad4/src/Microsoft.ML.Onnx/OnnxUtils.cs#L

[2018-10-11 17:35] vaeksare opened #1228 "ONNX Transform Crashing or Freezing"
ONNX Transform occasionally crashes or freezes when running certain onnx models (currently found with the Split operator).

- The error is non deterministic and varies based on different machines
- On some machines, the ML.NET process will freeze, while on others it will simply silently crash without producing any output
- The larger the input, the more likely the issue seems to occur - almost nev

[2018-10-11 18:01] tannergooding commented on #1195
@adamsitnik, @helloguo. Is the perf differences potentially caused by the varying latency per microarchitecture for the `VGATHER*` instructions?

Agner's Instruction Tables gives the following (see https://www.agner.org/optimize/instruction_tables.pdf for more details):

### AMD Ryzen

Instruction | Operands    | Ops | Reciprocal throughput | Execution pipes | Domain, notes
----------- | ---------

[2018-10-11 18:57] montebhoover commented on #1205
Yes, this looks the same as #1006.

[2018-10-11 19:02] montebhoover commented on #1205
@yael, from the comment on #1006 below, it sounds like we are both not passing training-time stats to the predictor, and there are more stats for us to calculate. Does that ring true?

"If I do [pass _stats to the predictor], then predictor.Statistics.GetCoefficientStatistics still returns null. It appears that you calculate the inverted Hessian, but then do not use it to calculate standard errors

[2018-10-11 20:06] bbjoern commented on #929
Same for me: I would need standard sales forecasting based on historical sales data

[2018-10-11 20:49] wschin opened #1231 "Factorization Machine Better to Support Regression"
ML.NET's (field-aware) factorization machine doesn't support regression problems while SageMaker [does](https://docs.aws.amazon.com/sagemaker/latest/dg/fact-machines.html). Rating prediction is an important application about this.

[2018-10-11 21:30] vaeksare opened #1232 "Pretrained DNN Image Featurization"
Support for a DNN Image Featurizer Transform is to be added to ML.NET. This will allow users to use 1 of 4 pretrained DNN models (ResNet18, ResNet50, ResNet101, and AlexNet) trained on ImageNet in order to featurize an input image.

This transform will use the ONNX Transform as the backbone of doing input preprocessing and applying the pretrained DNN model.

[2018-10-11 21:31] vaeksare commented on #1232
@markusweimer

[2018-10-11 21:54] Anipik opened #1233 "Dead Matrix Multiplication Code"
We are not currently using  Some of the matrix multiplication code anywhere
particularly
[code]
which is the sparse matrix multiplication. Is it okay to remove it ?
 Another thing we are not using the ```add = true``` flag in any of the existing implementations.

Can I go ahead and remove that too ?

cc @eerhardt @danmosemsft @shauheen @codemzs

[2018-10-11 22:09] #1061 closed

[2018-10-11 22:49] #1233 closed

[2018-10-11 23:50] montebhoover commented on #612
This will fix #1006.

[2018-10-11 23:54] montebhoover commented on #1006
So there are two separate issues here:

1. _stats is not passed to predictor: captured in issue #1205
2. GetCoefficientStatistics are no longer calculated since decoupling from MKL: captured in issue #612

[2018-10-12 01:16] #1067 closed

[2018-10-12 01:29] Zruty0 commented on #1222
#985 is the issue that talks about `IDataView` inspectability

[2018-10-12 02:34] Zruty0 commented on #584
I think that this issue can safely be closed now.

[2018-10-12 02:34] #584 closed

[2018-10-12 04:42] #1121 closed

[2018-10-12 06:45] rauhs commented on #1226
Thanks for getting back so quickly. The following takes 14sec on my local PC if you comment out the SelectFeaturesBasedOnCount. If not it takes only ~100ms:

[code]

It's much worse for the data I feed it since it never finishes. Probably has something to do with the distribution I feed it and how many resulting DropColumns are added. Again, thousand of temp files are created for me.

[2018-10-12 06:56] wschin commented on #1232
Do we want to have those pre-trained model as a separated nuget? I'd expect their sizes are not small.

[2018-10-12 07:52] mdabros commented on #1232
@wschin From a users point of view, I would prefer to have each pre-trained model in separate nuget package. Both to minimize the size of the packages, but also to have a separate "assembly" version for each model, so you can easily track if the pre-trained models have been updated.

[2018-10-12 13:21] derekendres opened #1235 "Training regression model from DataView"
How do I train a regression models if I bring in the data via a DataView from a custom end point via the IEnumerable<>?  I tried following the cookbook example but I couldn't find the right trainer to do this.

[2018-10-12 15:15] justinormont commented on #1232
I would recommend placing the pre-trained models in the CDN and downloading them on first use. This is the method used elsewhere in ML.NET.

We should consider how/where to store the original models, ONNX conversion script, and instructions, so that a user can re-create the ONNX files. Perhaps we can start another repo (eg: https://github.com/dotnet/machinelearning-resources/) to store these large

[2018-10-12 15:48] yaeldekel opened #1237 "Sweep command doesn't work"
The method "GetFullExePath" on line 91 in ConfigRunner.cs sets the default executable to be "maml.exe", which doesn't exist.

[2018-10-12 16:03] wschin opened #1239 "An ONNX variable name not correct"
To declare intermediate ONNX variables in ONNX graph, we should do
`var nameZ = ctx.AddIntermediateVariable(null, "Z", true); `
instead of
`var nameZ = "Z";`

[2018-10-12 16:33] markusweimer commented on #1232
@justinormont, I'd like to understand the CDN idea a bit better. When would the models be downloaded from the CDN? I can see a couple distinct times during the creation of a pipeline:

  * When installing the NuGet into the app.
  * When referencing a specific model the first time in code.
  * When training a model referencing a specific model the first time.

I don't see a huge win of a CDN over

[2018-10-12 18:58] danmosemsft opened #1241 "Remove IndentingTextWriter in favor of the existing IndentedTextWriter"
Remove ML.NET's IndentingTextWriter in favor of System.CodeDom.Compiler.IndentedTextWriter (a mainstream type in S.Runtime.Extensions.dll just in an oddly chosen namespace)

The main thing IndentedTextWriter doesn't have is the little IDisposable Scope helper that ML.NET uses in a decent number of places, that lets you write code like `using (writer.Nest()) { /* indented */ }` rather than explicit

[2018-10-12 19:10] roguetrainer commented on #563
Congratulations! This is amazing news. Thank you!
One question, Microsoft.ML.Probabilistic.FSharp will not be on nuget, yet, right?
I'm just trying to get some examples working on Azure (Jupyter) notebooks.

[2018-10-12 19:37] Zruty0 opened #1242 "Debugger visualizer for DataView's"
1. Implement a custom data view debug visualizer.
 - It should have a column view and a row view
 - Column view will present values as `IEnumerable<object>`
 - Row view will present values as `Dictionary<string, object>

2. Implement custom `ToString` for schema columns and for metadata.
- For `Schema.Column` it should be something like `{ColumnName: ColumnType}`
- For `Schema.Metadata` we would p

[2018-10-12 19:38] Zruty0 commented on #1242
This will take care of #985 and unblock #1222

[2018-10-12 19:39] Zruty0 commented on #985
Closing in favor of #1242

[2018-10-12 19:39] #985 closed

[2018-10-12 20:40] Ivanidzo4ka opened #1244 "Add property to Environment class which would indicate can we use disk operations or not"
In some environments we can be limited by access to disk, so we need to perform all operations in memory. We already has code which specify should we use file system or not for loading/unloading model
https://github.com/dotnet/machinelearning/blob/f8f3873958a0a8114df49bb6d8dc292dc071820b/src/Microsoft.ML.Data/Model/Repository.cs#L438

or HybridMemoryStream should respect that parameter as well.

A

[2018-10-12 21:13] wschin commented on #1018
What kind of perf do you want to have? How large the data sets are being targeted? For large-scale ML, one representative example is training FFM (a user of AlignedArray) on Criteo. Could you give it a try with your changes? Thanks.

[2018-10-12 21:39] #1239 closed

[2018-10-12 21:42] Anipik opened #1245 "Dead Add Flag in Matrix Multiplication"
we are not using the ```Add``` Flag in Matrix multiplication.

Should we go ahead and remove it ?

```public static void MatTimesSrc(bool tran, bool add, AlignedArray mat, AlignedArray src, AlignedArray dst, int crun)```

cc @danmosemsft @eerhardt @tannergooding @TomFinley

[2018-10-12 22:03] helloguo commented on #1195
It's possible that gather instruction helps more on the newer generation processors when we replace `Avx.SetVector256` with `Avx2.GatherVector256` than that on the old generation processors.

This particular API spends a lot of time loading data and storing the data back. If we compare the AVX C# version and SSE C# version, the store part is almost same. For the load part, it may worth trying `Loa

[2018-10-12 22:07] helloguo commented on #832
@eerhardt @danmosemsft
Is anyone doing this work? if not, please assign it to me :)

[2018-10-12 22:57] Zruty0 opened #1246 "FastTreeRanking doesn't have non-advanced args"
Consider the following constructors:
[code]

There is no reason to have disparity here: ranker should expose the same `numLeaves`, `numTrees` etc.

The only difference should be the presence of required `groupId` in the ranker constructor.

[2018-10-12 23:13] danmosemsft opened #1247 "Remove unnecessary JIT SBCG workaround"
[code]

I dug up this bug, it was fixed in a dev branch in 4/2010 and it looks like it reached 4.0 - certainly would be fixed in 4.5.0 which shipped in 8/2012. Although we don't explicitly state what .NET Framework versions we support, is probably reasonable for us to expect 4.5 or later and safe for us to remove this workaround.

[2018-10-12 23:19] shauheen commented on #1054
Please refer to #1162

[2018-10-12 23:40] vaeksare opened #1248 "Export WordEmbeddingsTransform to ONNX"
WordEmbeddingsTransform applies a series of simple matrix/tensor operations based on a pretrained model, as is therefore exportable to ONNX using a combination of existing ONNX ops.

[2018-10-13 00:05] wschin commented on #1248
Probably you want to open another issue for discussing its test framework.

[2018-10-13 00:25] vaeksare opened #1250 "Improve testing on ONNX exporting"
Currently, tests for saving models as ONNX just check to make sure the ONNX models themselves are as expected by comparing them to a pre-saved version of that ONNX model. These tests do not actually check that these models are runnable or that they produce the same results as the original transform. With the new ONNXTransform, this testing framework could be improved to ensure correct exportabilit

[2018-10-13 00:51] eerhardt commented on #1245
Yes - if there is dead code, feel free to delete it.

[2018-10-13 00:56] Zruty0 opened #1251 "Make Binary classification evaluator configurable"
The following method:
[code]
needs to expose additional parameters from `BinaryClassifierEvaluator.Arguments`, or a delegate to set them.

[2018-10-13 20:35] lefig commented on #563
Likewise. This is splendid news.
Infer.Net is a fabulous piece of work and will now be under the same ML umbrella

[2018-10-14 18:29] lefig opened #1255 "Q: Feature Importance, new API"
Hi there,

I have been looking forward to getting my hands on the new API and taking a look at using it to discover feature scores/importance used. Several requests were raised with this in mind and there is an implementation now. But I am struggling to find an example or test by way of illustration. Can someone please forward a link or any snippets. Thanks!

Best regards
Fig

[2018-10-15 04:09] aadithpm commented on #925
Can I take a shot at this? What would I have to do? (If it's still an open issue)

[2018-10-15 05:16] sfilipi commented on #1235
The API is still changing a bit with PR #1252 but see if those would help get started:

https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Trainers.cs#L19
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs#L87

[2018-10-15 05:28] sfilipi opened #1256 "Documentation snippets for regressor trainers"
Similar to the sample code for [SDCA regression](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Trainers.cs#L19), we need samples for the other regressors:
[FastTreeRegression](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.FastTree/FastTreeStatic.cs#L39)
[LightGBM](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.

[2018-10-15 05:54] sfilipi opened #1257 "Documentation samples for binary classifiers"
Similar to the sample code for [SDCA regression](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Trainers.cs#L19), we need samples for the binary classifiers:
[SDCA](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.StandardLearners/Standard/SdcaStatic.cs#L97)
[AveragedPerceptron](https://github.com/dotnet/machinelearning/blob/master/src

[2018-10-15 07:07] sfilipi commented on #404
Resolved with #1206

[2018-10-15 07:07] #404 closed

[2018-10-15 07:08] sfilipi commented on #637
Resolved with #1105

[2018-10-15 07:08] #637 closed

[2018-10-15 07:09] sfilipi commented on #1183
Resolved with #1184

[2018-10-15 07:09] #1183 closed

[2018-10-15 09:37] bojanmisic commented on #1257
I'd like to work on this one, but wouldn't want to enter in a collision with someone. Is it possible to be assigned to this one?

[2018-10-15 16:12] xadupre opened #1259 "OVA does not work if features column is not "Features""
### System information

- **Windows**: 10.0.17134
- **.NET Version (eg., dotnet --info)**: 2.1.402

### Issue

OVA still looks for columns "Features" and cannot find it in the Following test.

### Source code / logs

        [Fact]
        public void New_MetacomponentsFeaturesRenamed()
        {
            using (var env = new LocalEnvironment())
            {
                var data = new Text

[2018-10-15 16:34] sfilipi commented on #1257
Thanks @bojanmisic.  It doesn't look like we can assign it, but claiming it on the comments might be good enough. Tag me if you have questions.

[2018-10-15 16:41] sfilipi opened #1260 "Fix the formatting of the XML documentation for the OnnxConverter"
All the information for the [ONNX Converter](https://github.com/dotnet/machinelearning/blob/160b0dfa8de334c8c6db3e0bf58653def0cea171/src/Microsoft.ML.Legacy/Models/OnnxConverter.cs) is placed inside the summary tag, which causes formatting issues like in [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.legacy.models.onnxconverter.convert?view=ml-dotnet#Microsoft_ML_Legacy_Models_Onn

[2018-10-15 16:43] Zruty0 commented on #1131
@montebhoover , would you mind taking a look?

[2018-10-15 16:46] Zruty0 commented on #1232
@vaeksare , are you currently working on it? If yes, please assign to yourself.

[2018-10-15 16:47] Zruty0 commented on #1228
Could you give an update please? Is it actively worked on?

[2018-10-15 16:48] Zruty0 commented on #1226
Thanks a lot for the repro! We will take a look.

[2018-10-15 16:51] Zruty0 commented on #924
#1131 may be related in some way

[2018-10-15 16:51] Zruty0 commented on #924
@artidoro , are you looking at it now?

[2018-10-15 16:53] Zruty0 commented on #904
@yaeldekel , would you mind giving a status update on this? Are we still doing this?

[2018-10-15 16:56] Zruty0 commented on #903
I don't think the suggested solution is very elegant / sustainable. I believe there's more tensor-wide operations that we *should* support to improve the image handling story. Where would we keep them? Bundling it all inside `PixelExtractor` seems counter-intuitive.

What do you think?

[2018-10-15 16:57] Zruty0 commented on #903
Also, @yaeldekel , are you currently working on this?

[2018-10-15 17:04] vaeksare commented on #1228
@Zruty0 Jignesh is currently investigating this issue.

[2018-10-15 17:08] wschin opened #1262 "Nice to have matrix factorization"
It'd be nice to have a matrix factorization, like [LibMF](https://www.csie.ntu.edu.tw/~cjlin/libmf/), for large-scale recommender systems.

[2018-10-15 18:35] eerhardt opened #1265 "Add xml summary comments and argument validation to CpuMathUtils"
Our `CpuMathUtils` class is public with public methods, but we don't have any xml summary comments, and only use `asserts` for argument checking.

Since these are public members, we should have xml doc comments and real argument checking.

See example:
https://github.com/dotnet/machinelearning/blob/7e9e4687284786ae241b2e8c8457a02686e639e9/src/Microsoft.ML.CpuMath/CpuMathUtils.netcoreapp.cs#L198-L2

[2018-10-15 18:41] timitoc commented on #1256
Working on this.

[2018-10-15 19:32] artidoro commented on #924
Yes I am going to take a look today, and update the thread.

[2018-10-15 19:48] PraveenVerma17 opened #1267 "Schema mismatch for input column 'Structure': expected I4, got Key<U4, 0-1>"
### System information

### Issue
Schema mismatch for input column 'Structure': expected I4, got Key<U4, 0-1>
Parameter name: inputSchema

### Source code / logs
 static void Main(string[] args)
        {
            Console.WriteLine("Machine Learning Code Started...");

            //Create a learning pipeline
            var pipeline = new LearningPipeline();

            //Load the data into t

[2018-10-15 19:49] #1250 closed

[2018-10-15 19:52] Ivanidzo4ka commented on #925
Feel free to.
Where is thing you need to be aware of. XUnit IOutputHelper (or whats the interface for outputing) doesn't support Write, it support only WriteLIne (which starts new line) and our channels can send only write messages.
Also I think we have quite a lot of tests where we capture output from console, and compare it with baseline. I would like to switch it to XUnit Environment, but it ne

[2018-10-15 21:06] justinormont opened #1268 "Micro-accuracy for Multiclass Classification tests"
Micro-accuracy is _generally_ better aligned with the business needs of ML predictions. If we are only choosing one metric to report for a multiclass classification task, it should be micro-accuracy.

Example, for a support ticket classification task: _(maps incoming tickets to teams)_
* Micro-accuracy -- how often does an incoming ticket get classified to the right team?
* Macro-accuracy -- for a

[2018-10-15 21:58] lefig commented on #1262
Fabulous

[2018-10-15 22:28] abgoswam commented on #14
DRI RESPONSE: closing since names sound reasonable enough

[2018-10-15 22:28] #14 closed

[2018-10-15 22:33] abgoswam commented on #18
DRI RESPONSE : moving to 0.7 (awaiting triage) probably requires splitting into multiple issues

[2018-10-15 22:38] abgoswam commented on #26
DRI RESPONSE: No longer reproducible.

[2018-10-15 22:39] abgoswam commented on #39
DRI RESPONSE: No longer the case. Plus we have separate Issue to track problematic tests: #1131

[2018-10-15 22:39] #39 closed

[2018-10-15 22:42] abgoswam commented on #5
DRI RESPONSE: this is about legacy API, which we no longer support, no reason to continue to look into this one

[2018-10-15 22:42] #5 closed

[2018-10-15 22:45] abgoswam commented on #49
DRI RESPONSE: This is still partially still the case. SDCA do fail sometimes and we track it in https://github.com/dotnet/machinelearning/issues/1131, this one haven't happened for awhile.

[2018-10-15 22:45] #49 closed

[2018-10-15 22:48] abgoswam commented on #64
DRI RESPONSE: This is something what we want to have. But it doesn't look like a major priority for us right now, considering what we allow user to use enumeration of classes(List or Array) as data source.

[2018-10-15 22:49] abgoswam commented on #67
DRI RESPONSE: We implemented TensorFlow and Onnx transforms, which allow you to score models. You can always convert CNTK model to ONNX and use it.

[2018-10-15 22:49] #67 closed

[2018-10-15 22:52] abgoswam commented on #68
DRI RESPONSE: @sfilipi  can you help us and point to the place in documentation where we have samples for trainers?

[2018-10-15 23:56] Anipik commented on #26
@abgoswam this line is still present
https://github.com/dotnet/machinelearning/blob/2983312386878b0047a9be64e3b12c05e82c7932/test/Microsoft.ML.TestFramework/BaseTestPredictorsMaml.cs#L200

you may try it repro it after removing this if condition

[2018-10-16 01:17] jcapellman commented on #64
Sorry for not looping back on this earlier - been crazy time for me since BUILD.

As we keep evaluating ML.NET vs XGBoost, one of the biggest things is our training data is now over 300 million files to do feature extraction and then train a model.  As @codemzs mentioned these files are binary to begin with and keeping it in binary would save a ton of space over having 24k features written to a te

[2018-10-16 01:40] #764 closed

[2018-10-16 05:56] sfilipi commented on #68
@abgoswam we are building more of those. The cookbook examples are probably the best place to look at now. There are some samples in the [machinelearning-samples repo](https://github.com/dotnet/machinelearning-samples), and we'll place per-trainer examples in the [ml.net samples folder](https://github.com/dotnet/machinelearning/tree/master/docs/samples/Microsoft.ML.Samples)

[2018-10-16 15:41] wschin opened #1271 "Fit of IEstimator Needs One Extra Argument"
The signature of Fit is `TTransformer Fit(IDataView input);` which doesn't allow the use of validation set. It prevents learning algorithms (e.g., FFM and GBDT) from using early stopping. Is it ok to change it to `Fit (IEnumerable<IDataView> inputs)`?

[2018-10-16 16:07] eerhardt commented on #26
Let's use this issue to remove all of the test checks that @Anipik linked above. Once the tests on Linux and macOS are producing and consuming rp files (just like on Windows), we can close this issue.

[2018-10-16 16:21] wschin commented on #1250
Why did you close it?

[2018-10-16 16:47] jignparm opened #1272 "Upgrade to OnnxRuntime Library"
Upgrade Sonoma to OnnxRuntime Library

[2018-10-16 17:22] wschin commented on #1271
Ok. I found that using `TrainerEstimatorContext` should be the right way to include validation set.

[2018-10-16 17:22] #1271 closed

[2018-10-16 17:42] artidoro opened #1273 "Exception messages with TLC references in ModelHeader.cs"
The exception messages in ModelHeader.cs have TLC references. We have to remove references to TLC and replace them with corresponding ML.NET references.

In this, I think it should be sufficient to replace 'TLC' with 'ML.NET' in the string.

https://github.com/dotnet/machinelearning/blob/a02807c7a805b72ef12970a37279c8cec4ea667d/src/Microsoft.ML.Data/Model/ModelHeader.cs#L352-L365

[2018-10-16 18:05] derekendres commented on #1235
I guess I am still stuck.  In my scenario I am not reading from a data file (it is coming in from a REST API source) and therefore I don't have the reader from TextLoader.CreateReader(....) to create the learningPipeline from, using reader.MakeNewEstimator(...).

[2018-10-16 19:01] #1245 closed

[2018-10-16 23:44] wschin commented on #1257
Maybe add a new label "assigned"?

[2018-10-17 01:17] justinormont commented on #1237
Some background...

As seen in the ConfigRunner, the Sweeper is expecting the command-line executable to be named `maml.exe` (on Windows) or `maml` (on OSX/Linux):
https://github.com/dotnet/machinelearning/blob/978681d5d82929318d8248c09cb1fe557b3a6743/src/Microsoft.ML.Sweeper/ConfigRunner.cs#L91-L103

I see two solutions:
* Upgrade the command-line tool to a first-class citizen and have it produce

[2018-10-17 10:40] justinormont commented on #1203
What kind of kool kustom sub-components would you convert to JSONs?

I'd cut down the lesser used functionality. This could be larger full concepts/components, down to even small syntax options, like the various ways to specify input/output columns.

Designed in Windows, we hit oddities in OSX/Linux like [brace expansion](https://www.linuxjournal.com/content/bash-brace-expansion). MAML has a brace

[2018-10-17 13:30] rauhs opened #1279 "Doc: PredictionEngine.Predict claims it creates a new object for each call."
In:

https://github.com/dotnet/machinelearning/blob/8e77d0f0ce74cdb8b10fa545830972a4525d5dab/src/Microsoft.ML.Api/PredictionEngine.cs#L201-L205

Shouldn't this be the exact opposite? It's very confusing. IMO the docs & classes could need some more explanations.

Also, regarding: https://github.com/dotnet/machinelearning/blob/8cfa2ed503c1cca78972d79b393fbffe13bde173/docs/code/SchemaComprehension.md

[2018-10-17 15:29] eerhardt opened #1280 "Evaluation result classes shouldn't be nested under the Evaluator classes"
When using our evaluation API:

[code]

It is quite odd for the `metrics` object to be a nested class in the `BinaryClassifierEvaluator`. I didn't even use the `BinaryClassifierEvaluator` class at all, why am I dealing with a nested class inside of it?

I think these result classes should be moved to no longer be nested classes. Instead we should just have a `BinaryClassifierEvaluationResult` clas

[2018-10-17 15:57] eerhardt commented on #1203
I totally agree a command line tool is super useful/valuable.

Do you consider this a "must have" in `v1`? Or is it something that could be productized in a version after the initial release?

[2018-10-17 17:15] justinormont commented on #1273
Closed by #1277

[2018-10-17 17:15] #1273 closed

[2018-10-17 17:41] sfilipi commented on #1235
see if the dynamic style of the API helps:
https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs#L369

to https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/Scenarios/Api/CookbookSamples/CookbookSamples.cs#L400

[2018-10-17 17:59] justinormont opened #1282 "Update build script and/or instructions to check for libomp on OS X"
### System information

- **OS version/distro**: OS X 10.12.6

### Issue
LightGBM fails to run on OS X unless `libomp` is installed.

A change 6 days ago added the requirement for `libomp` and we haven't updated the build instructions or build script.

Error:
[code]

#### Temporary solution _(fix it once for the current user)_
On OS X, we can install libomp:
[code]

#### Longer term solutions _(fi

[2018-10-17 18:06] Zruty0 commented on #1280
I'm OK with the suggestion, although I would probably call it `BinaryClassificationMetrics` instead.

[2018-10-17 18:14] eerhardt commented on #1282
My opinion is that we should do all of the following steps (sorted in easy-to-hard order):

1. Update our build instructions to tell the user to run `brew install libomp`
2. Add runtime check for libomp and produce a helpful error--this issue affects nuget users
3. Make LightGBM "standalone" deployable, and not depend on having `libomp` installed globally on the machine.
    - This would involve s

[2018-10-17 18:16] wschin opened #1283 "Support Key Types in Input Data Structures of Prediction Function"
Key types currently are not supported in input data structure of a prediction function ([an example](https://github.com/dotnet/machinelearning/blob/23659b013eb2d0233cd92072f32a6daddfe613e3/test/Microsoft.ML.Benchmarks/PredictionEngineBench.cs#L19) of prediction function). However, for recommender systems like matrix factorization, we have user and item IDs which are input keys. Do you have any pla

[2018-10-17 18:46] eerhardt opened #1284 "Make ConsoleEnvironment internal"
We don't expect external users to use the `ConsoleEnvironment` class. It should only be used for the command line tool.

We should make this class internal so it isn't part of our public API. That way we don't need to support it as a public API forever.

See https://github.com/dotnet/machinelearning/pull/1252#discussion_r225986842

/cc @Zruty0 @TomFinley

[2018-10-17 18:49] eerhardt commented on #1280
Good point. That's what we called it in the Legacy LearningPipeline API.

https://github.com/dotnet/machinelearning/blob/65c3c7c14b5da2655cce2c393a5b85546e5091fc/src/Microsoft.ML.Legacy/Models/BinaryClassificationMetrics.cs#L14-L17

[2018-10-17 19:46] Zruty0 commented on #1284
I agree.

[2018-10-17 21:05] Zruty0 commented on #1283
Why do you think they are not supported? You can annotate a `uint` property with `KeyType` attribute and it will be interpreted as a key.

[2018-10-17 21:10] Zruty0 commented on #1279
First of all, the comment is correct, it's the behavior that is not correct. #1138 is the related bug.

`PredictionEngine` and `BatchPredictionEngine` are probably going away altogether. First is supplanted with `PredictionFunction` and the second one is a glorified `Transform(...).AsEnumerable`. The only reason `BatchPredictionEngine` existed was that `PredictionEngine` was very slow. But we made

[2018-10-17 21:11] Zruty0 commented on #1138
To clarify, this bug is about fixing the reuse of the output object in `Predict` calls. I updated the description and name

[2018-10-17 21:46] Zruty0 opened #1286 "`MLContext.Model.Save` should accept statically typed models too"
Add an extension method in `Microsoft.ML.StaticPipe` for that

[2018-10-17 21:54] Zruty0 opened #1287 "LocalEnvironment to stop being IDisposable"
The only reason we have `IHostEnvironment` as an `IDisposable` is because we clean up the temp files created using `CreateTempFile`. This functionality is not really very useful. We should remove the functionality, remove the `IDisposable` and fix all the `using` calls in the codebase (preferably to just `new MLContext`, if possible)

[2018-10-17 21:56] Zruty0 opened #1288 "Improve constructor for TextLoader"
We currently have
[code]
We need to:
1) Make the second constructor internal or private (it's used only by cmdline/dependency injection.
2) Add 'separator chars' and 'has header' as non-advanced parameters

The first change will naturally trigger a lot of changes in the code that creates the `TextLoader`, this is by design.

[2018-10-17 22:35] eerhardt opened #1289 "Exception loading an older model file with no strings"
When I changed our model format for the ComponentCatalog changes (#970), I refactored some model loading code incorrectly. There are some existing models that are breaking our validation checks:

The old code was doing:

https://github.com/dotnet/machinelearning/blob/655c2e29421f5c44133ed6515374e48cf42868a2/src/Microsoft.ML.Data/Model/ModelHeader.cs#L419-L424

The new code now does:

https://githu

[2018-10-18 02:12] artidoro opened #1295 "Add x86 CI builds"
Currently, there is no CI build for x86. We should add Debug and Release builds for x86, and make sure that all tests succeed. This should involve changing the phase-template.yml.

[2018-10-18 04:59] Prsna23 commented on #1288
I would like to work on this issue.

[2018-10-18 05:09] #1279 closed

[2018-10-18 05:10] rauhs commented on #1279
Got it. Thanks for the explanation. That helps.

[2018-10-18 05:43] justinormont commented on #1257
Well, once someone claims it, we can simply remove the `help wanted` and `up-for-grabs` tags.

[2018-10-18 05:44] justinormont commented on #1256
Removing `up-for-grabs` and `help wanted` tags as the issue is claimed by @timitoc.

[2018-10-18 13:29] PraveenVerma17 commented on #1267
Can anyone from MS team provide me some guidance on above issue?

[2018-10-18 14:30] SebHel commented on #1251
I would like to have a go at this. So the relevant `Evaluate ` method should have a `BinaryClassifierEvaluator.Arguments` as an additional parameter and we use it to set the private fields

`private readonly Single _threshold;
        private readonly bool _useRaw;
        private readonly int _prCount;
        private readonly int _aucCount;
        private readonly int _auPrcCount;` ?

In this c

[2018-10-18 16:17] markusweimer opened #1297 "Add NOTICE file"
We are consuming a large block of code from another project in #1263. Its license requires us to keep it available in all binary and source distributions of it. The common way to do this is to have a `NOTICE` file in the root of the source repo, and in the NuGets produced. We should add the NOTICE file in that way, and update it as part of #1263 if we indeed end up copying that code into our repo.

[2018-10-18 16:19] abgoswam commented on #163
DRI RESPONSE : Adding support for time series is being tracked using issue #978. Planning to close this issue (duplicate of #978)

[2018-10-18 16:29] Ivanidzo4ka commented on #206
So since no one want to rebase master and we figure out ways to provide test files into repo (through nuget or download during build) I'm closing this issue.

[2018-10-18 16:29] #206 closed

[2018-10-18 16:33] Ivanidzo4ka commented on #226
DRI RESPONE: This thread looks like answered one, and I plan to close issue withing next few days.

[2018-10-18 16:34] GalOshri commented on #1267
I think the issue is:
`pipeline.Add(new Dictionarizer("Structure"));`

In this case, you want to use "Structure" as a categorical feature, so you should likely use the `CategoricalOneHotVectorizer` as shown in [this tutorial](https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/taxi-fare). It might also be useful to read in the "Weight" as a float  if the feature concatenation does n

[2018-10-18 16:45] #258 closed

[2018-10-18 16:47] abgoswam commented on #250
DRI RESPONSE: Issue seems to have been answered. I plan to close the issue withing the next few days.

[2018-10-18 16:51] Ivanidzo4ka commented on #288
DRI RESPONSE:
This is an old thread about now legacy API.
How to split data into train test in new API you can find from cookbook:
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-do-i-train-using-cross-validation
I'm intent to close this issue within few next day if no one reply.

[2018-10-18 16:52] Ivanidzo4ka commented on #290
DRI RESPONSE:
I'm intent to close this thread in few days, if no one reply to it.

[2018-10-18 16:54] Ivanidzo4ka commented on #306
DRI RESPONSE: This is thread about old API.
In new API this problem solved through context object.

[2018-10-18 16:54] #306 closed

[2018-10-18 16:54] Ivanidzo4ka commented on #307
DRI RESPONSE: This is a thread about old API.
New API doesn't have such problems anymore.

[2018-10-18 16:54] #307 closed

[2018-10-18 16:56] Ivanidzo4ka commented on #309
DRI RESPONSE:
As far as I can see, starting page got updated with required code.

[2018-10-18 16:56] #309 closed

[2018-10-18 17:12] #1098 closed

[2018-10-18 17:14] eerhardt commented on #290
This has been fixed for a while. We can close it now. Please open a new issue (with repro steps and environment/version information) if anyone is having issues installing the Microsoft.ML NuGet package.

[2018-10-18 17:14] #290 closed

[2018-10-18 17:26] yaeldekel opened #1298 "Null reference exception in InternalSchemaDefinition.cs"
There is a Create() method in line 217 of InternalSchemaDefinition.cs that calls AssertValue on its userSchemaDefinition parameter, but its value can actually be null.

[2018-10-18 17:33] yaeldekel opened #1300 "Bug in ConcatTransform legacy loading"
When loading a ConcatTransform with an older version, we need to read an additional int, for sizeof(float) that used to be serialized with the transform.

[2018-10-18 18:02] abgoswam commented on #259
DRI RESPONSE: Issue seems to have been answered. I plan to close the issue withing the next few days.

Also, with the new API (see #583), you will be able to access the output of transforms without having to train a model. Please check out this [unit test](https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce918048434/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Visibi

[2018-10-18 18:10] abgoswam commented on #257
DRI RESPONSE: Issue seems to have been answered. I plan to close the issue withing the next few days.

[2018-10-18 18:21] justinormont commented on #1069
@girishbaviskar: yes, certainly. There's a couple of comments on your pull request (#1213)

[2018-10-18 18:41] derekendres commented on #1235
Yeah.  That helped.  I think I can get it going.  I had looked at before but re-looking at it today helped today.  For some reason I was thinking I had to have a certain start to the EstimatorChain.  I am going to spend time on it tomorrow so I will update my response more concretely then.

[2018-10-18 18:48] abgoswam commented on #495
DRI RESPONSE : Adding support for time series is being tracked using issue #978. Planning to close this issue (duplicate of #978)

[2018-10-18 18:49] abgoswam commented on #498
DRI RESPONSE : Looks like question has been answered. Plan to close this issue in the next 1-2 days

[2018-10-18 18:54] abgoswam commented on #563
DRI RESPONSE : Planning to close this issue, since original question is now answered.

Congratulations Infer.NET !

[2018-10-18 19:15] Anipik opened #1302 "Functions needed to be changed to use our new algorithm for aligned and unaligned loads"
Currently these functions are just using Unaligned Loads, we can make them after by aligning the data and doing aligned loads.

- [ ] AddScalerU
- [ ] ScaleSrcU
- [ ] AddScaleU
- [ ] ScaleAddU
- [ ] AddU
- [ ] AddScaleCopyU
- [ ] AddSU
- [ ]  MulElementWiseU
- [ ] SumU
- [ ] SumSqU
- [ ] SumSqDiffU
- [ ] SumAbsU
- [ ] SumAbsDiffU
- [ ] MaxAbsU
- [ ] MaxAbsDiffU
- [ ] DotU
- [ ] DotSU
- [ ] Dist2
-

[2018-10-18 19:31] eerhardt commented on #1302
What's the difference between this issue and https://github.com/dotnet/machinelearning/issues/830?  Aren't they they same and this one can be closed, and the remaining list be moved to #830?

[2018-10-18 19:38] Anipik commented on #1302
they are the same , I will update the issue with the list of functions

[2018-10-18 19:38] #1302 closed

[2018-10-18 20:07] abgoswam commented on #617
We now have a couple of unit tests showcasing this functionality . Please check out [New_Visibility ](https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce918048434/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/Visibility.cs#L25)and [Visibility](https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce918048434/test/Microsoft.ML.Tests/Scenarios/Api/

[2018-10-18 20:16] TomFinley commented on #1031
Hi @markusweimer , potentially, but I don't know that this would be my first choice. We have lots of "little" things that are potentially useful little utilities, but I would certainly find it annoying if we were to hypothetically uplift them. Especially since this is being done to save, what, 200 lines of code.

[2018-10-18 20:41] #1289 closed

[2018-10-18 21:28] yaeldekel opened #1304 "Need a non-generic version of the IModelCombiner interface"
In order to be able to define arguments that are factories of "IModelCombiner" where any kind of IModelCombiner can be specified, we need a non-generic version of this interface.

[2018-10-18 21:33] Ivanidzo4ka commented on #88
DRI RESPONSE: We at least have a test project which runs F# code.
But it uses legacy api, and probably need to be updated.

[2018-10-18 21:36] Ivanidzo4ka commented on #98
DRI RESPONSE: I don't think this is in our priority for v1.0. For now we focus on CSV files and in memory collections (we can consume everything as long as it implements IEnumerable).
So i'm moving this one to backlog.

[2018-10-18 21:40] Ivanidzo4ka commented on #100
DRI RESPONSE: yes, we probably should. Basically this is folder where we keep baseline files for our tests.
Marking this as up-for-grabs.

[2018-10-18 21:44] abgoswam commented on #1060
DRI RESPONSE :  Could you kindly provide an example where we hit this ?

[2018-10-18 21:46] Ivanidzo4ka commented on #403
+ @Zruty0  I can't find way to do that in new API as well, is it supported?

[2018-10-18 21:48] Ivanidzo4ka commented on #333
DRI RESPONSE: This issue looks like answered. I'm planning to close it within few days, if no one object to that.

[2018-10-18 21:49] #332 closed

[2018-10-18 21:53] Ivanidzo4ka commented on #323
DRI RESPONSE: This is question about legacy API.
In new API this is possible: see https://github.com/dotnet/machinelearning/blob/a285f8d5db15cd8bf77f3c03763bce16642f902b/test/Microsoft.ML.StaticPipelineTesting/Training.cs#L661
I'm intent to close this issue within few days if no one objects.

[2018-10-18 21:57] Ivanidzo4ka commented on #321
DRI RESPONSE: We don't support NN as learner, but we do support TensorFlow scoring. So if I correctly understand issue, we technically have support for that as well.
I'm intent to close this issue within few days if no one objects.

[2018-10-18 22:03] Ivanidzo4ka commented on #340
DRI RESPONSE: We currently support only x64 and working on x86 build. Maybe in future we will add support for ARM (or whatever architecture Xamarin on iOS uses), but not for v1.0

[2018-10-18 22:07] Ivanidzo4ka commented on #342
@Zruty0  do we plan to add Shuffle function to MlContext object?

[2018-10-18 22:11] Ivanidzo4ka commented on #352
DRI RESPONSE: Was solved via #616.

[2018-10-18 22:11] #352 closed

[2018-10-18 22:15] Ivanidzo4ka commented on #353
DRI RESPONSE:
Speaking regarding json loader(or reader) we don't plan to add this in v1.0 version. But as pointed above we allow you to work with any IEnumerable as long as you do reading on your side.
For your second question, it fails because we expect "Features" column to be vector of floats.
You need to do some transformation of you text data into vector of floats and it depends on your domain

[2018-10-18 22:17] Ivanidzo4ka commented on #346
DRI RESPONSE: I consider this question as answered and plan to close issue within next few days unless someone objects to that.

[2018-10-18 22:18] Ivanidzo4ka commented on #360
DRI RESPONSE: @nsulikowski  can you provide more information (something we can debug and reproduce problem). If not, I'm intent to close this issue within next few days.

[2018-10-18 22:20] Ivanidzo4ka commented on #375
DRI RESPONSE: This issue about our legacy API. I'm intent to close this issue within next few days, unless someone objects.

[2018-10-18 22:31] Ivanidzo4ka commented on #409
DRI RESPONSE: Still valid.
One of solution is to declare on C# side
[code]
and on C++ side
[code]
and add them to EXPORT_API / DllImport functions and pass channel.Info into them on C# side.

[2018-10-18 22:32] Ivanidzo4ka commented on #311
It's more about EntryPoints rather than new API.

[2018-10-18 22:34] Ivanidzo4ka commented on #421
DRI RESPONSE: Currently it's not thread safe.
@Zruty0  do we have any plans to make it thread safe? Do we have any examples in cookbook how to handle multi-threading?

[2018-10-18 22:36] Ivanidzo4ka commented on #436
DRI RESPONSE: I'm intend to move this to backlog, unless anyone objects.

[2018-10-18 22:36] #471 closed

[2018-10-18 22:39] Ivanidzo4ka commented on #470
DRI RESPONSE: Some of our learners support continuation of training, but we currently don't have

- Example of how to do that.

- list of trainers which support it.

[2018-10-18 22:40] #481 closed

[2018-10-18 22:41] Zruty0 commented on #342
We do want to have shuffling available via MLContext, but not as an estimator/transformer. It'll be something like `IDataView Shuffle(IDataView input, ....)`

[2018-10-18 22:42] Ivanidzo4ka commented on #500
DRI RESPONSE: I'm considering to move this to backlog or close it, since it require changes on LightGBM side.

[2018-10-18 22:42] Zruty0 commented on #421
We do not have any plans to make it thread-safe.
For multi-threading approaches, it's a somewhat complicated subject, so I didn't write docs on it. We probably should

[2018-10-18 22:43] Zruty0 commented on #403
This is the closest: https://github.com/dotnet/machinelearning/blob/a285f8d5db15cd8bf77f3c03763bce16642f902b/test/Microsoft.ML.Tests/Scenarios/Api/Estimators/ReconfigurablePrediction.cs#L41

[2018-10-18 22:44] Ivanidzo4ka commented on #480
DRI RESPONSE: We do support TensorFlow/ONNX starting from 0.6 version.

[2018-10-18 22:44] #480 closed

[2018-10-18 22:48] Ivanidzo4ka commented on #512
DRI RESPONSE:
Let me poke @TomFinley  one more time. Also worth to include @Zruty0  who working on our new API as well.

[2018-10-18 22:56] Ivanidzo4ka commented on #403
Marking as up-for-grabs and good first issue, in case someone want to update cook book examples.

[2018-10-18 22:58] wschin commented on #1283
@TomFinley, looks like it's supported!

[2018-10-18 23:04] Ivanidzo4ka opened #1307 "Binary fast tree doesn't return tree predictor in pigsty"
https://github.com/dotnet/machinelearning/blob/a285f8d5db15cd8bf77f3c03763bce16642f902b/src/Microsoft.ML.FastTree/FastTreeStatic.cs#L93
It returns IPredictorWithFeatureWeights<float> which I found weird since I expect tree predictor from fast tree.
Regression and Multiclass returns FastTreeRegressionPredictor and FastTreeRankingPredictor which is right.

[2018-10-18 23:05] Ivanidzo4ka commented on #1307
@sfilipi  any chance you know why?

[2018-10-18 23:09] Ivanidzo4ka commented on #245
DRI RESPONSE:
We had attempt to change wiki dataset, but in the end we decide what we don't want to do that.
https://github.com/dotnet/machinelearning/pull/730 see discussion.
I'm intent to close this issue, if no one reply within next few days.

[2018-10-18 23:15] Ivanidzo4ka commented on #376
DRI RESPONSE: I can't find this information in our docs, and it definitely should be there. Wherefore marking this as documentation and up-for-grabs.

@Lanayx  I'll suggest you to create separate issue, and provide us additional information (code snippet at least).

[2018-10-18 23:17] Ivanidzo4ka commented on #457
DRI RESPONSE: Currently we focused on CSV format and in memory data through IEnumerable<T>. I doubt we have plans to release additional readers for different formats prior v1.0. So I'm moving this issue to backlog.

[2018-10-18 23:37] Ivanidzo4ka commented on #159
DRI RESPONSE: Starting from 0.6 version we support TensorFlow and Onnx. So I'm closing this issue.

[2018-10-18 23:37] #159 closed

[2018-10-18 23:40] Ivanidzo4ka commented on #517
DRI RESPONSE: I'm considering this as duplicate of #470.

[2018-10-18 23:40] #517 closed

[2018-10-18 23:43] Ivanidzo4ka commented on #473
DRI RESPONSE: This issue looks like good candidate for cook book.

[2018-10-18 23:46] Ivanidzo4ka commented on #521
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#i-want-to-look-at-my-models-coefficients
If you using MultiClass or Regression model onFit function will return you predictor with all functions I posted above.
For binary classification it currently doesn't return proper predictor and I open issue for that: https://github.com/dotnet/machinelearning/issues/1307

I'm c

[2018-10-18 23:49] Ivanidzo4ka commented on #663
DRI RESPONSE: At this point I don't think it's possible to give answer unless you can provide us project, since it's quite old (0.4), about legacy pipeline, and in generally it works on my machine with default project.

[2018-10-18 23:51] Ivanidzo4ka commented on #532
DRI RESPONSE:
@codemzs  can you update this thread with your findings or insights what was the issue, and is it still present or not?

[2018-10-18 23:53] #680 closed

[2018-10-18 23:56] Ivanidzo4ka commented on #694
DRI RESPONSE: This is question about our legacy API.
I intent to close it since we don't plan to support our legacy API.
If it's still occurs with our new API, I suggest to open new issue, and provide a bit more information, so we can debug it on our side.

[2018-10-19 00:01] Ivanidzo4ka commented on #721
DRI RESPONSE: Still valid. @artidoro  suppose to properly convert Whitening to Estimator/Transformer and maybe he can also move it.

[2018-10-19 00:02] Ivanidzo4ka commented on #885
@wschin  Do you mind if I close this issue as answered?

[2018-10-19 00:04] Ivanidzo4ka commented on #533
DRI RESPONSE: I considering this issue as answered and intent to close it within next few day, unless someone objects.

[2018-10-19 00:05] Ivanidzo4ka commented on #536
DRI RESPONSE: For v1.0 we plan to support only x64 (and maybe x86). So I'm moving this issue to backlog.

[2018-10-19 00:07] Ivanidzo4ka commented on #544
DRI RESPONSE: I'm considering this issue answered and intent to close it within next few days, unless some one objects to it.

[2018-10-19 00:17] Ivanidzo4ka commented on #589
DRI RESPONSE: I'm considering this question as answered and intent to close issue within next few days, unless someone have objection.

[2018-10-19 00:19] abgoswam commented on #613
DRI RESPONSE : Assigning to Backlog project.  This is something we plan to support in future

[2018-10-19 00:20] Ivanidzo4ka commented on #602
DRI RESPONSE: Is it still relevant?

[2018-10-19 00:28] #674 closed

[2018-10-19 01:21] sharpwood opened #1308 "LightGBM 2.1.2.2 can not be installed on .net 4.6 ,LightGBM 2.2.1.1 can be installed ,but it does not work in ML.Net"

[2018-10-19 04:55] sfilipi commented on #1307
Because that's [what the trainer produces... ](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.FastTree/FastTreeClassification.cs#L169)

Similar for [LightGBM](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs#L135)

I think it is this way because of inheritance. Does it need to get re-worked?

[2018-10-19 04:59] Ivanidzo4ka commented on #1308
Hi @sharpwood  is it related to 0.6 release or current bits? We switch to 2.2.1.1 in https://github.com/dotnet/machinelearning/pull/1234 and it looks like it's passing our tests. Can you be more specific?

[2018-10-19 05:01] Ivanidzo4ka commented on #1307
I don't see any reason to train Tree predictor and get weights object, but maybe I'm just silly. Let's hear our druid.
@TomFinley can you share with us wisdom of centennial oaks?

[2018-10-19 05:06] Ivanidzo4ka commented on #966
Sorry, but I'm having problem with deciphering your description. Any chance you can post code snippet of

[2018-10-19 05:12] Ivanidzo4ka commented on #964
Isn't it pointless without sequence prediction learner and scorer? :) It's not I'm against it, I just think what if we add them, we need to add them as whole thing, not separately.

[2018-10-19 05:18] sfilipi commented on #1054
Closing since the extensions are all moved to the Microsoft.ML.StaticPipe namespace, that needs to get used to write statically typed pipelines.

[2018-10-19 05:18] #1054 closed

[2018-10-19 05:24] justinormont opened #1312 "Hyperparameter suggestions in Visual Studio"
Is it possible to have Visual Studio's IntelliSense/HelpText for each learner's hyperparameters inform the user of the `max` (absolute limits) and `good` (generally useful) ranges for the hyperparameter?

Currently we show nothing: _(though we can show the added text)_

We do note the good ranges in the code for each component:
https://github.com/dotnet/machinelearning/blob/b270b4d6b774a37e08321ba

[2018-10-19 05:33] rauhs commented on #663
Closing. Will re-open in case if happens again.

[2018-10-19 05:33] #663 closed

[2018-10-19 05:39] justinormont opened #1313 "Tests failing in master"
As noted on our repo's README.md, the build is failing (in a test), which appears due to [MulticlassTreeFeaturizedLRTest](https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce918048434/test/Microsoft.ML.Predictor.Tests/TestPredictors.cs#L199-L207) on OS X:

MulticlassTreeFeaturizedLRTest:
https://github.com/dotnet/machinelearning/blob/9157ceacffe0106c01580d6b7aa79ce9180484

[2018-10-19 05:41] Ivanidzo4ka commented on #1015
Can you take a look on our new API?
https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetCookBook.md#how-do-i-train-a-regression-model
[code]
this is example of how you normalize data.
In your case you need to use `r.FeatureVector.NormalizeByMeanVar` instead of ` r.FeatureVector.Normalize` because you want to use MeanVar normalizer.

In order to get access to scale and offset you n

[2018-10-19 05:43] pkulikov commented on #376
@JRAlexander @Ivanidzo4ka is that something that should be at https://docs.microsoft.com/en-us/dotnet/machine-learning/ ?

[2018-10-19 05:45] Ivanidzo4ka commented on #932
Can you give an example of code in our repo which need to be changed?
And I would disagree with statement

I find useful to have multiple constructors with different granularity in arguments.

[2018-10-19 05:56] bzn7 commented on #589
I tried to simplify my features and redefined columns as shown. It is working, thank you @Zruty0.

[2018-10-19 05:56] #589 closed

[2018-10-19 05:58] Ivanidzo4ka commented on #789
If someone interested in doing this I would recommend to look on https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.ImageAnalytics/ImageLoaderTransform.cs as base example.

https://github.com/dotnet/machinelearning/blob/a285f8d5db15cd8bf77f3c03763bce16642f902b/src/Microsoft.ML.ImageAnalytics/ImageLoaderTransform.cs#L172
this code responsible for converting incoming data into ou

[2018-10-19 06:03] Ivanidzo4ka opened #1314 "LightGBM ranker and multiclass don't have pigsty extensions"

[2018-10-19 06:12] Ivanidzo4ka commented on #1205
what about https://github.com/dotnet/machinelearning/issues/612 ?
I would assume you fix it because you working on one not-allowed-to-mention repository, and even if you bring stats, you wouldn't bring whole old version since this one doesn't have standard errors.

[2018-10-19 06:16] Ivanidzo4ka commented on #725
Since I plan to work on conversion all text transform component to estimators, I'll assign this to myself, I need to touch it anyway.

[2018-10-19 06:51] korzh commented on #375
Agree. New API resolves this issue.

[2018-10-19 12:41] derekendres commented on #1235
I think I am at an odd spot waiting for the .7 version of the nuget (or building the sourcelocally).  The examples now use the MLContext which isn't in .6 (at least in .NET core that I added from NuGet today), but it looks like once I have that, I should be on the right path with what I have below.

This is the code I have, the things commented out are because currently they don't produce a happy

[2018-10-19 13:11] #1101 closed

[2018-10-19 16:46] Zruty0 opened #1316 "Remove IRandom, derive Tausworthe from System.Random"
Wherever we take an `IRandom` in ML.NET, we should take a `Random`.

We should still use `TauswortheRandom` pretty much everywhere, so we make it derive from `System.Random`.

[2018-10-19 16:52] Jahanaray opened #1317 "UWP Application"
Why Can't I use ML.NET in UWP apps?

[2018-10-19 17:07] justinormont commented on #1313
These look like another instance of random test failures (given that the tests passed in the previous PR).

[2018-10-19 17:49] Zruty0 opened #1318 "Mass rename of transformers and MLContext extensions for them"
Let's go over all the existing transforms and make sure that they share the same naming conventions:

 - Estimators
    - Should be named `ActionPerformingEstimator`, or `AlgorithmNameTrainer`
    - Should be placed in `Microsoft.ML.Trainers`, `Transforms` or sub-namespaces if applicable
    - If they take input or output colunms, they should be 'inputColumn' and 'outputColumn', and the outputColu

[2018-10-19 17:54] Zruty0 opened #1319 "MLContext extensions for trainers"
Go over all the trainers and ensure that:
- They are named according to #1318
- Appropriate extensions are present
- The predictor classes are available in non-`Runtime` namespaces.

I anticipate that there's going to be some naming or interface decisions here, let's discuss them in this issue.

[2018-10-19 18:48] #1260 closed

[2018-10-19 18:57] justinormont commented on #1313
Previous guess was correct; after the next rebuild, our build status is green again. This appears to be a random test failure.

[2018-10-19 18:57] #1313 closed

[2018-10-19 19:36] Anipik commented on #1096
Some of the tests that don't complete or  fail
- [ ]
- [ ]
- [ ]

[2018-10-19 20:57] TomFinley commented on #1031
Actually @Zruty0 this issue about vectors to scalars is surprisingly thorny -- I hope you don't mind but I think this actually deserves its own issue.

[2018-10-19 21:04] #1138 closed

[2018-10-19 21:07] Zruty0 commented on #1031
Do you mean its own PR?

[2018-10-19 21:20] TomFinley commented on #1031
I mean both its own PR and its own issue. The issues are hardly insoluable, but they merit their own discussion. There are several decisions to be made there.

[2018-10-19 21:32] Anipik commented on #1096
@shauheen can you assign some one to look into following failures
 RffWorkout
 SavePipeSsaSpikeNoData // unhandled exception
 ChangePointDetectionWithSeasonality
 EntryPointPipelineEnsemble

These are not caused by mismatching in baseline files

[2018-10-19 21:33] TomFinley opened #1322 "Hash a vector to a scalar"
There is an existing issue #1031 that mentions that hashing a vector input to a scalar as a desirable output. While we can expand the set of types supported by hashing immediately (as done in #1303), the problem of how to hash vectors to a scalar is surprisingly thorny.

The fundamental root of all difficulties lies in the idea that a sparse vector must be considered logically equivalent to a dens

[2018-10-19 21:45] justinormont commented on #1318
What types of sub-namespaces are we looking for?

For example would we want categories like { `Text`, `Image` `Normalize`, etc }? For example, `Microsoft.Ml.Transforms.Text.WordEmbeddingsTransform`.

Have we publicly defined the term **trainable**? Tersely, trainable components take a pass of the data and learns from it, then after being trained it can used. Examples of this include: text featuriz

[2018-10-19 22:01] lqdev commented on #323
That works. Thanks @Ivanidzo4ka

[2018-10-19 22:14] #323 closed

[2018-10-19 22:36] #832 closed

[2018-10-19 23:02] sfilipi commented on #1318
@Zruty0

   If they are trainable, they should NOT have a public constructor.
   If they are trainable, they SHOULD have a public constructor.

¯\_(ツ)_/¯

[2018-10-19 23:34] Zruty0 commented on #1318
I updated the comment. @justinormont , yes on the namespaces.

And the explanation of trainable is also accurate, thanks.

[2018-10-19 23:49] Zruty0 commented on #1322
With our current hashing via MurmurHash, I don't think we can reliably hash sparse vectors in any way other than iterating over all the dense values with a following pseudocode:
[code]

Since `MurmurRound` calls do not commute, the hash of `{1, 2, 3}` and `{2, 3, 1}` are going to be different, so we are effectively always using the 'ordered' option. I feel like, in this case, the 'unordered' optio

[2018-10-19 23:53] Zruty0 commented on #1322
For the use case I have in mind (that is, using a vector column as a stratification column for splitting), there is no value in having 'unordered' hash-to-scalar operation.

I am struggling to come up with a valid use case. Also note that, even if we do come up with a reasonable case for such behavior, it is always possible to just sort the dense vector and then hash in the ordered way.

[2018-10-19 23:54] little-eyes opened #1323 "v0.6 Simple ONNX model initialization failed"
### System information

- **OS version/distro**: Windows 10 17134.345
- **.NET Version (eg., dotnet --info)**: 2.1.402

### Issue

- **What did you do?** I tried to load a ONNX model that generated by Python onnxmltools and want to load the onnx model file, then apply to my test data.
- **What happened?** I got exceptions **System.AccessViolationException: 'Attempted to read or write protected mem

[2018-10-19 23:55] Zruty0 commented on #1313
@TomFinley here's one more stack trace for your investigation.

[2018-10-20 00:02] codemzs opened #1325 "Fix conditional in for loop of GetDependencies()"
Just a minor unintended one character change in the condition check of a loop in GetDependencies method of CompositeRowToRowMapper.

[2018-10-20 00:54] vaeksare commented on #1232
At this point, it seems like the NuGet approach is the best way, with an individual NuGet being created for each model (and the baseline Transform code residing in the OnnxTransform NuGet since that is the minimum required to run it, and the actual transform code is so small that it doesn't make sense to put it into its own separate distribution). @Zruty0 you mentioned extension methods earlier, d

[2018-10-20 01:05] Zruty0 commented on #1232
Yes :)

[2018-10-20 01:57] eerhardt commented on #964
I'm fine with using this issue to track adding the whole thing. The point was to call out that I had to comment out the above line of code when doing the component conversion, since that evaluator isn't in ML.NET.

[2018-10-20 03:05] sfilipi commented on #1090
resolved through PR #1281

[2018-10-20 03:05] #1090 closed

[2018-10-20 03:16] #1186 closed

[2018-10-20 03:16] #1187 closed

[2018-10-20 03:16] #1188 closed

[2018-10-20 03:16] #1205 closed

[2018-10-20 03:28] sfilipi commented on #1318
@Zruty0  one more questions, should the transforms currently living in Microsoft.ML.Runtime.Data move to Microsoft.ML.Transforms?

[2018-10-20 06:14] PraveenVerma17 commented on #1267
Thanks GalOshri.

                //create a  pipleline and load the data
                var pipeline = new LearningPipeline();

                //load the data from the fruit data file
                string dataPath = "fruit_data.txt";
                pipeline.Add(new TextLoader(dataPath).CreateFrom<Fruit_Data>(separator: ',', useHeader: false));

                Console.WriteLine("Loading the

[2018-10-20 13:16] bjorn-lundin opened #1329 "ML Tutorial does not compile on Mac"
### System information

- **OS version/distro**:
macOS High Sierra (10.13.6)
tests-iMac:myApp bnl$ uname -a
Darwin tests-iMac.lan 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
tests-iMac:myApp bnl$

- **.NET Version (eg., dotnet --info)**:
tests-iMac:myApp bnl$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.

[2018-10-20 19:04] GalOshri commented on #1267
Based on the error `Column 'PredictedFruit' not found`, there is a mismatch between the column names that the pipeline is outputting and the columns defined in the `Predicted_Fruit` class. Try changing the `"PredictedFruit"` in `[ColumnName("PredictedFruit")]` to `"PredictedLabel"`.

Additionally, take a look at [this cookbook](https://github.com/dotnet/machinelearning/blob/master/docs/code/MlNetC

[2018-10-20 20:02] PraveenVerma17 commented on #1267
Thanks Gal Oshri. This solved the error.
So we need Label in input class and PredictedLabel in output class. these are mandatory.  We can concatenate same type of column but different type we need to change in vector type to concatenate.
Now can build some actual application which is  exactly similar as above example i used.

[2018-10-20 20:06] #1325 closed

[2018-10-20 20:11] GalOshri commented on #1267
Yes, the Label in the input class is used to train the model in supervised learning problems. The PredictedLabel lets you access the model's prediction. There are other columns in the output that can be used as described [here](https://github.com/dotnet/machinelearning/issues/376#issuecomment-399282699). The new APIs make it easier to discover this and we are working to update the documentation.

[2018-10-20 20:11] #1267 closed

[2018-10-20 20:17] SebHel commented on #1268
I'll take a shot at this one.

[2018-10-21 09:47] reader-man opened #1331 "Sepearting Platforms will ease development"
Thanks for the great work.
I suggest you make an interface, e.g. IVectorManupulation.
Then make three classes for each platform:
VectorManupulationIntel
VectorManupulationAMD
VectorManupulationSoftware

Then on first initializing the library, you make a check on the current hardware, and based on that you return the correct implementation:
VectorManupulationFactory.getVectorManup()

this will help

[2018-10-21 18:07] suhailsinghbains commented on #1078
Hi, I am new to this and sending a PR right away.
Thanks

[2018-10-21 19:01] suhailsinghbains commented on #1078
Should I remove every instance of ML.Ensemble from the whole project(s) or just the ML.Core?
that would be very helpful.
Thanks

[2018-10-21 20:43] bojanmisic commented on #1257
@sfilipi, thanks! I believe the link to the cookbook examples has shifted, since the file has been changed recently. Would you like me to use static or dynamic API?

[2018-10-21 21:36] Zruty0 commented on #1318
They should move out of 'Runtime'. If there is some form of inherent grouping, it may or may not be reflected in sub-namespace, but the root should be `Microsoft.ML.Transforms`.

[2018-10-22 05:11] sfilipi commented on #1257
Dynamic is fine; I was going to log another bug for the static examples, after arranging the structure of that project.
Thanks for picking this up.

[2018-10-22 06:22] rauhs opened #1335 "Unhelpful warning "Term map for output column '#Temp_3' contains no entries"
For some data sets I've been getting:

Which is not very helpful. Is there a chance derived/processes columns get a more meaningful name than "Temp_"?

[2018-10-22 16:28] #495 closed

[2018-10-22 16:28] #498 closed

[2018-10-22 16:33] Ivanidzo4ka commented on #1335
https://github.com/dotnet/machinelearning/blob/2d306ba1f7a7e8f4625e336c4c05212fca5de406/src/Microsoft.ML.Data/StaticPipe/StaticPipeUtils.cs#L149
I would suggest to replace it to something more meaningul

[2018-10-22 16:51] TomFinley commented on #1318
One thing I wonder if we should make explicit, is if a `Transformer` is produced by exactly one `Estimator`, whether it should tend to be named the same as the estimator? That is `FooEstimator` should tend to produce `FooTransformer`? Obviously not applicable in the case where a transformer is produced by multiple estimators (e.g., a drop slots transformer can be produced by multiple estimators, a

[2018-10-22 17:04] #1031 closed

[2018-10-22 17:12] Zruty0 commented on #1318
That was the intent, yes.

[2018-10-22 17:16] artidoro commented on #932
I think you made the change that allows internal/private constructors to be picked up by the component catalog, so this issue is no longer relevant.

[2018-10-22 17:16] #932 closed

[2018-10-22 17:43] #192 closed

[2018-10-22 17:43] #245 closed

[2018-10-22 17:43] #321 closed

[2018-10-22 17:43] #333 closed

[2018-10-22 17:44] #288 closed

[2018-10-22 17:44] #346 closed

[2018-10-22 17:45] #360 closed

[2018-10-22 17:45] #375 closed

[2018-10-22 17:50] #533 closed

[2018-10-22 17:50] #544 closed

[2018-10-22 17:51] #694 closed

[2018-10-22 17:52] #666 closed

[2018-10-22 18:02] shauheen commented on #1228
This issue is not fixed only avoided by #1310

[2018-10-22 18:13] danmosemsft commented on #97
@tannergooding @artidoro @eerhardt I believe this can move to "Done"?

@artidoro already has #1295 for CI/builds.

[2018-10-22 18:33] Zruty0 commented on #1335
What's the suggestion? Would something like `#CategoricalEstimator_Temp_3` be any better?

We are also somewhat limited on what we know when constructing these columns. @TomFinley  may have a comment.

[2018-10-22 19:28] Ivanidzo4ka commented on #1323
+ @jignparm @vaeksare

[2018-10-22 20:36] Zruty0 commented on #1323
@jignparm , could you please look at this bug? It looks well defined.

[2018-10-22 20:53] Zruty0 commented on #776
LightGBM should appear in the same way as other learners we have (SDCA, FastTree etc.)
Write xmldoc for it in the source code.

[2018-10-22 20:57] Zruty0 commented on #913
We have a component called 'what-the-feature' in our internal codebase. It appears that this will solve the oirginal problem.

[2018-10-22 20:57] Ivanidzo4ka commented on #1329
Hello @bjorn-lundin . I've clicked on getting started link and it doesn't have LearningPIpeline class or any calls to Dictionarizer.

Can you share your zipped project? Or maybe getting started got updated between your report and me looking into it.

[2018-10-22 20:59] Zruty0 commented on #908
I'm going to close it in favor of its duplicate, #1203

[2018-10-22 20:59] #908 closed

[2018-10-22 21:00] Zruty0 commented on #919
We should have documentation about how FastTree currently takes categorical inputs.

It is also unfortunate that FastTree and LightGBM both handle categorical inputs, but do so differently :)

[2018-10-22 21:10] TomFinley commented on #414
There are two results we might care about in this context: returns the same internal representation of a dataset (which is what we're talking about here), vs. gives the same model. So long as we achieve the latter (up to the influence of numerical imprecision), I don't care terribly much about the former, since it doesn't represent anything anyone will see anyway. It might be nice if they for-sure

[2018-10-22 21:16] bjorn-lundin commented on #1329
Strange.

Ah, I see now. It is updated.
It does compile and run now.
I pasted t he version from yesterday below, that will make more sense
When looking at the errors.
But Nevermind - I t is as you say fixed now.
Will you close my ticket?

(Thanks for a fast reply)

/Björn

This is from yesterday - 2018-10-21

using Microsoft.ML;
using Microsoft.ML.Data;
using Microsoft.ML.Runtime.Api;
using Micros

[2018-10-22 21:16] shmoradims opened #1337 "PcaTransform doesn't use seed information"
PcaTransform arguments define seed per input column, but that information is never used throughout the PCA algorithm. The seed argument either has to be removed or the PCA algorithm should be updated to use it.

[2018-10-22 21:18] #1329 closed

[2018-10-22 21:30] Zruty0 commented on #1331
Thanks for your suggestion @reader-man !

Generally speaking, we are aware that factory method and abstract factory are useful design patterns.

The issue as filed seems to be overly general: there is no specific change, fix or enhancement that we can make to address it. Therefore, I will close the issue.

If you suggest to change a specific part of ML.NET library to take advantage of the above de

[2018-10-22 21:30] #1331 closed

[2018-10-22 23:15] TomFinley commented on #512
Sorry, I did not catch this until it was pointed out to me by @Ivanidzo4ka -- I have to imagine that there's a good way to get alerts like this beyond the little "bell" in the toolbar, but if there is I'm unaware of it. 😛

So the observation, as I understand it, is that many algorithms have a dataset preprocessing step, which has an intermediate format. While we should retain the more general API,

[2018-10-22 23:27] little-eyes opened #1339 "LightGBM load model generated by python"
I have a LightGBM binary classifier trained by Python package, I want to use ML.NET to serve the model and run prediction. So is there a sample that I can follow?

[2018-10-22 23:35] justinormont commented on #776
When making an example... [ranking](https://en.wikipedia.org/wiki/Learning_to_rank) has a few differences vs. Regression/Classification tasks:
* Sorted/grouped dataset (all examples from the same group need to be next to each other)
* `GroupId` is required
* Label is one of { 0, 1, 2, 3, 4 }

There is a benchmark which includes LightGBMRanking:
https://github.com/dotnet/machinelearning/blob/17ee20

[2018-10-22 23:39] mjmckp commented on #512
Thanks @TomFinley, yes, we need to be able to do two things efficiently (1) factor out the data preparation step (which requires a clear distinction between configuration parameters that apply to the data prep stage and the training stage), and (2) retain intermediate versions of models during training (for models that are trained iteratively).

These are fundamental features that are required to

[2018-10-23 01:46] Zruty0 commented on #512
I do not really see any blockers for the first part: we can prep the data, and then either save it or cache it (although the API for caching is not yet exposed, we definitely want it to be available, and same goes for data saving).

As for retaining intermediate models, it is hard to do in a general enough fashion. For some models (namely, linear models that support 'incremental training') you can

[2018-10-23 02:03] Zruty0 commented on #512
I agree, there are missing 'extension/configuration points' in ML.NET, and we don't give the user full fidelity to what every individual learner is doing. For the first version, our focus is to provide a single, consistent framework to all the data preparation steps and to all the learning algorithms. It inevitably comes with generalization, and hiding some of the specific properties of each algor

[2018-10-23 05:56] justinormont commented on #1318
Do we have candidate list of the new names?

Current name | New Name
--- | ---
x | x'

Is there a public place where this list can be grown? A wiki like interface could be suitable.

[2018-10-23 09:10] #1256 closed

[2018-10-23 15:06] eerhardt commented on #1078
The fix here is to add `ML.Ensemble` to the `Microsoft.ML` nuget package. To do this,

https://github.com/dotnet/machinelearning/blob/53cdb20358e7ae98cdaf6de198e35f48fbdac269/src/Microsoft.ML.Ensemble/Microsoft.ML.Ensemble.csproj#L5

Needs to change to `Microsoft.ML`.

The alternative is to actually create a `Microsoft.ML.Ensemble` project under https://github.com/dotnet/machinelearning/tree/maste

[2018-10-23 15:20] eerhardt commented on #97
I didn't think we marked things "done" until they were merged.

There are 2 outstanding PRs for this:

#1295 - for PR validation
#1306 - for official build support

When both of those PRs are merged, I believe this can be marked "Done".

[2018-10-23 15:55] yaeldekel opened #1342 "Change unit tests to use SelectColumnsTransform instead of ChooseColumnsTransform"
After serialization, ChooseColumnsTransform is deserialized as a SelectColumnsTransform, causing unit tests to fail.

We should also consider changing transforms that use DropColumnsTransform (such as WordHashBag, evaluators etc.) to start using SelectColumnsTransform instead.

[2018-10-23 16:29] suhailsinghbains commented on #1078
Ohh thanks for giving me an insight, very interesting. I'll wait for the tagged people to reply and start with the bug right away :)

[2018-10-23 17:08] Anipik opened #1344 "Wrong Length checks for SseIntrinsics and couple of bugs on the naive Side"
Some of the matrix multiplication bugs were introduced in native and sse-intrinsics implemenatation.
They need to be in sync with AvxIntrinsics.cs

[2018-10-23 17:53] Zruty0 commented on #1318
@justinormont , I don't think we need to produce a separate list. The old names are sort of incidental, so there is no value in preserving them for posterity. The new names will be reflected in the documentation. The renaming itself is abundantly visible on the pull request.

[2018-10-23 18:36] #1304 closed

[2018-10-23 18:37] #1298 closed

[2018-10-23 18:40] Tealons commented on #978
I'm a big data science n00b. Any chance that a simple tutorial will be provided? I'm aiming for something like this with my data:

![image](https://user-images.githubusercontent.com/7141563/47382978-ea440480-d703-11e8-80a4-925ab4a39a63.png)

[2018-10-23 18:48] Tealons commented on #929
Same here... See [](https://github.com/dotnet/machinelearning/issues/978)

[2018-10-23 20:12] wschin commented on #1297
#1263 is using submodule for that source now, so I guess `NOTICE` is not required.

[2018-10-23 20:17] veikkoeeva commented on #929
Relational time series, or time series with graph data (sparse data) would be a really interesting. Some examples:
- [https://arxiv.org/abs/1704.06498](Time Series Prediction for Graphs in Kernel and Dissimilarity Spaces)
- [Joint Modeling of Event Sequence and Time Series with Attentional Twin Recurrent Neural Networks](https://arxiv.org/abs/1703.08524)

Broadly speaking the idea here is that eve

[2018-10-23 21:09] wschin opened #1348 "Build failed because of building time larger than 60 mins"
[My build](https://dnceng.visualstudio.com/public/_build/results?buildId=34123&view=logs) got canceled because it needs more than 60 mins for debug mode. A screen shot is attached below.

![image](https://user-images.githubusercontent.com/3524474/47390756-f2cd1880-d6cc-11e8-8da0-c3272333915e.png)

[2018-10-23 21:19] yaeldekel opened #1349 "Add support for resetting progress channels"
Progress channels store the names of the components that have been created, and the number of instances of each component. When they print progress they add a counter indicating how many times this component has been created, for example:
"training minmax normalizer #3 ..."

We should add an option to reset these counters, to make unit tests reproducible and be able to baseline progress reports.

[2018-10-23 21:28] Ivanidzo4ka opened #1351 "Microsoft.ML.FastTree project set to DisableDefaultCompileItems"
https://github.com/dotnet/machinelearning/blob/63a74bbb81753a2a6c0d73acc83fbbdd886f1a28/src/Microsoft.ML.FastTree/Microsoft.ML.FastTree.csproj#L7
this line basically force us to enumerate all files in project through <CompileItem>
I don't see any reason why we doing so, and it's uncommon for our projects.
So I suggest to delete that conditions, all CompileItems.

[2018-10-23 22:40] vaeksare commented on #1232
Actually a slight concern regarding the extension method approach. Currently, if we are to stick to how other similar transforms work (and how this transform worked in the past), the model to use would be passed in to the constructor of the transform as an argument. In this case, If we use this approach again, I don't believe the implementation can be done using extension methods. Rather, the user

[2018-10-23 23:33] GalOshri commented on #630
We don't have immediate plans to add this right now, but it is on the backlog.

Does anyone have a specific scenario they are trying to enable and are blocked on this?

[2018-10-24 03:17] MaxAkbar commented on #630
Hi Gal,

Yes, I am waiting on this and would love to have something I can use. I need to extract custom entities\Dates\Addresses\names and blocks of text from documents.

Let me know if you want a more detailed explanation.

-Max

[2018-10-24 03:40] markusweimer commented on #1297
It is still required, as it needs to be part of the NuGet

[2018-10-24 05:07] rauhs commented on #1335
It's an intermittent warning I get on and off on some data-sets (we train models for each customer, on-premise) but not on others. It only happens like 10% of the time.

[2018-10-24 06:50] Pielgrin commented on #1351
Can I do it ?

[2018-10-24 09:35] SandeepBhutani opened #1354 "ML.Net Bad value at line 7 in column Label"
### System information

- **OS version/distro**:
- **.NET Version (eg., dotnet --info)**:

### Issue
ml.net sentiment analysis warning about format errors & bad values But still getting following errors. Most of training is going in errors

- **What did you do?**
Went through the sample provided as it is at:
[https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/sentiment-analysis](ht

[2018-10-24 13:47] tatooian opened #1356 "System.IO.PathTooLongException when Saving Model"
### System information

- **Windows**:
- **.NET Version 4.7.2**:

### Issue

- **What did you do?**
I tried to save a model.
- **What happened?**
I got a 'System.IO.PathTooLongException', and saving was unsuccessful.
- **What did you expect?**
I expected the model to save. When training other models in the same application, they save successfully.

### Source code / logs
**Exception hit at:**
Micr

[2018-10-24 15:07] #1300 closed

[2018-10-24 16:38] eerhardt opened #1357 "Official build fails occasionally during cleaning"
Our official build has started failing during the "Get sources" step in the `Package Job` leg:

https://devdiv.visualstudio.com/DevDiv/_build?definitionId=8739&_a=summary

[code]

When this occurs, it appears to happen when the `Windows Job` runs on the same machine as the `Package Job`. So a process must be leaking during the `Windows Job`, and is holding on to `dotnet.exe` and friends. Thus when

[2018-10-24 17:03] sfilipi opened #1358 ""Can't re-use trainer!" message on CV with AveragePerceptron."
Running CV with Average Perceptron throws: "Can't re-use trainer":

Dataset: [wikiDetox](https://github.com/dotnet/machinelearning/blob/76cb2cdf5cc8b6c88ca44b8969153836e589df04/test/data/wikipedia-detox-250-line-data.tsv)

Code:
[code]

[2018-10-24 17:20] Zruty0 commented on #1358
Actually, upon cursory look it seems that our `OnlineLinearTrainer` is stateful. This is horrible, the estimators are not supposed to be stateful. We will need to rewrite `OnlineLinearTrainer`.

[2018-10-24 17:20] eerhardt opened #1359 "Need to add PackageReference to System.Memory from ML.CpuMath nuget"
With #1229, we added a new dependency from the ML.CpuMath.csproj to `System.Memory`, however we didn't add the dependency to the nuget package.

In the .csproj:

https://github.com/dotnet/machinelearning/blob/d63e21ea1e3f6b950a48deb36045747d67dd02fa/src/Microsoft.ML.CpuMath/Microsoft.ML.CpuMath.csproj#L27-L33

but in the .nupkgproj:

https://github.com/dotnet/machinelearning/blob/d63e21ea1e3f6b950

[2018-10-24 17:39] sfilipi opened #1360 "Don't use the default column names in the new API"
The usage of the default column names is more of a source of trouble than beneficial in my opinion.
Providing defaults for the numeric values is one think - we know the algorithms, and what ranges might work best for most datasets, and we also want to give a guideline on their range.

The columns are unlikely to be called what ML.Net calls them, across datasets, and it is easy to omit them from th

[2018-10-24 17:56] Zruty0 commented on #1360
I think that, regardless of what we do, we should be consistent between components.
Either all trainers have defaults for all columns (like label, features, weight), or none do.

Frankly, I think having default names is just fine: I believe that the users don't often have 'inherent' names to their columns, they are forced to give them names just because that's how our data views work. In this case

[2018-10-24 18:25] sfilipi opened #1362 "Add documentation samples for binary classifiers using the dynamic API"
Similar to PR #1361 we need code samples to reference from the new MLContext catalog extensions for all binary learners.

Reference to the sample in PR #1361 and add samples for the following binary trainers.
Cross reference those samples from the respective extensions on the catalog files.

Trainers:
[SGD](https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.StandardLearners/Sta

[2018-10-24 18:37] sfilipi opened #1363 "Add documentation samples for the regression trainers"
Similar to PR #1361 we need code samples to reference from the new MLContext catalog extensions for all regression trainers.

You can use the same scenario and [dataset as the static tests](https://github.com/dotnet/machinelearning/commit/53cdb20358e7ae98cdaf6de198e35f48fbdac269#diff-3e289e9a8934a9319924a1e4ef300bcf) .

Cross reference those samples from the respective extensions on the catalog fi

[2018-10-24 18:38] sfilipi commented on #1257
@bojanmisic checking: are you still planning to work on this?

[2018-10-24 18:42] yaeldekel opened #1364 "CountFeatureSelection transform doesn't work with text"
It uses a generic CountAggregator class which requires the type to be IEquatable, and ReadOnlyMemory<char> is not IEquatable. It doesn't seem like Equals() is used anywhere though, so I think this constraint can be removed.

[2018-10-24 18:53] bojanmisic commented on #1257
@sfilipi, yes! I plan to work on that during the weekend. I have a strong will to contribute, just been crushed with work last two weeks. Sorry for the inconvenience, if you think someone can get it earlier, feel free to reassign.

[2018-10-24 18:58] Ivanidzo4ka opened #1366 "Text transform discussion"
Let's continue discussion here (I'll edit post by looking into existing factories)
@justinormont  @Zruty0 @TomFinley @yaeldekel @GalOshri
Stop words arguments:
[code]

Got changed into:
[code]

[2018-10-24 18:58] sfilipi commented on #1257
@bojanmisic just checking, before putting the Assigned label and removing the other labels. It is yours, take your time.

[2018-10-24 19:28] #1351 closed

[2018-10-24 20:21] Niladri24dutta commented on #1359
@eerhardt Hi , I have added the new reference and removed the `System.Runtime.Intrinsics.Experimental` reference from `Microsoft.ML.CpuMath.nupkgproj` file. But what should be the version number in this file for `System.Memory` as it's referring to a variable `SystemMemoryVersion` in this line of `csproj` `<PackageReference Include="System.Memory" Version="$(SystemMemoryVersion)" />` . I am workin

[2018-10-24 20:44] Niladri24dutta commented on #1359
@eerhardt Thanks a lot , I will submit a PR

[2018-10-24 20:48] sfilipi opened #1367 "Printing training statistics by default discussion"
Before the ML.Net Environment changes to Local environment, PR #923 during training of a pipeline, we would see output in the console.

I am trying a long-ish to train model today; takes about 4 minutes, and I find the absence of any progress reporting unsettling. I am not sure whether things are working as expected, or working at all.
I think this will be off-putting for the users.

[2018-10-24 20:54] Niladri24dutta commented on #1359
@eerhardt created PR #1368

[2018-10-24 23:24] sfilipi opened #1369 "Add AnomalyDetectionContext to the TrainContext"
Currently the TrainContext is missing a  TrainContextBase for anomaly detection.
This is needed in order to do anomaly detection with the new API.

[2018-10-24 23:38] justinormont commented on #1367
I very much like having the intermediate progress output.

Specifically, this gives me:
* Percent done (or a way to guess)
* Indication of _any_ progress
* Knowledge of which component is taking time
* Warnings/errors insitu

I would like us to go a bit further and have all trainable components output a more useful friendly (`ComponentX ##.#% complete`). This is only doable for components with kno

[2018-10-24 23:40] justinormont commented on #1364
Is this new? I've used CountFeatureSelection (in MAML) very often.

[2018-10-25 02:46] mjmckp opened #1372 "Bug in check for existence of Group field"
https://github.com/dotnet/machinelearning/blob/263a67b94a0747463d3002d0007dbac5257dd58c/src/Microsoft.ML.LightGBM/LightGbmTrainerBase.cs#L428

Should be
[code]

[2018-10-25 03:14] yaeldekel commented on #1364
This is a regression caused by the switch from DvText to ReadOnlyMemory<char>.

[2018-10-25 03:17] yaeldekel opened #1374 "TryParse* methods should not throw, but should instead return false in case of failure"
Currently methods in Conversion.cs that try to parse text throw on failure, they should instead return false.

[2018-10-25 04:08] Zruty0 commented on #1372
Thanks @mjmckp ! Looks like a simple bug to fix, I'll mark it as up-for-grabs

[2018-10-25 07:14] malik97160 commented on #1372
I can work on it.

[2018-10-25 13:07] rauhs opened #1379 "Data.Schema.Column should get a DebuggerDisplay"
Background: I'm trying to write something like `TryGetScoreColumnNames` for a `Key<uint, string>` type. I noticed a that a schema in the debugger will just give me a long list of `Data.Schema.Column` (in my case ~60 of them). In the debugger it'd be nice to have the column name displayed and possibly even the data type.

[2018-10-25 15:02] #1364 closed

[2018-10-25 17:07] #1248 closed

[2018-10-25 18:35] GalOshri opened #1380 "Need predictedLabel in binary classification as original string value (not bool)"
Using ML.NET NuGet 0.7.0-preview-27025-1.

I have a binary classification dataset with string labels: "Spam", "Not Spam".
I need to use the TermEstimator to turn the label into a key for the training to work.
One output in the prediction from the binary classifier (let's say SDCA), is predictedLabel, which is a bool.

How do I map the bool back to "Spam" or "Not Spam"?

Thank you!

[2018-10-25 19:09] #1106 closed

[2018-10-25 19:09] #1110 closed

[2018-10-25 19:29] suhailsinghbains commented on #1078
I'll send a PR for the 1st solution given soon, as I really want to solve the bug :)

[2018-10-25 19:56] #1295 closed

[2018-10-25 19:57] Anipik opened #1382 "CI build failing due to timeout errors"
Some of the tests are taking really long time to run which cause the build to run for more than 60 mins and are then declared as failure. Some of tests that Run for a lot of time are

Microsoft.ML.Runtime.RunTests.TestPredictors takes 33mins and it only executes 59 tests
TestHyperparameterFreezing -24min
FastTreeBinaryClassificationCategoricalSplitTest -18min
SavePipeWithHeader -4min

Maybe we sho

[2018-10-25 20:01] eerhardt commented on #608
## Issues
Here are the problems with the current VBuffer design:

1. `Values` and `Indices` arrays may be null, which forces callers to be careful or else get a `NullReferenceException`.
    - Typically "collection" properties aren't supposed to return `null`.
    - https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/guidelines-for-collections
        - DO NOT return null values fro

[2018-10-25 20:13] eerhardt commented on #1382
FYI - `Helix` is the "cloud test" platform that is used to run the large number of unit tests we have in `dotnet/corefx` and `dotnet/coreclr`.  https://github.com/dotnet/arcade/blob/master/Documentation/VSTS/SendingJobsToHelix.md

[2018-10-25 20:51] #1359 closed

[2018-10-25 20:51] SebHel commented on #1268
I'm having trouble getting the benchmarks to run. I follow the steps in Readme.md and I get an exception

`// **************************
// Benchmark: StochasticDualCoordinateAscentClassifierBench.TrainIris: Job-EJJOGT(BuildConfiguration=Release, Toolchain=netcoreapp2.1, MaxIterationCount=20, WarmupCount=1)
// *** Execute ***
// Launch: 1 / 1
// BeforeAnythingElse
// Benchmark Process Environment

[2018-10-25 20:56] wschin commented on #1297
Ok. Added.

[2018-10-25 21:05] Ivanidzo4ka commented on #1372
fixed in #1377

[2018-10-25 21:05] #1372 closed

[2018-10-25 21:16] GalOshri commented on #1104
Let's investigate to see if one of the new APIs solve this.

[2018-10-25 21:58] Ivanidzo4ka commented on #1382
Still looking into this.
One thing for sure:
this should be static, create regex on each comparison of lines for all files, is CRAZY.
https://github.com/dotnet/machinelearning/blob/dddb5c134771a85132f919cd1cf32a9ff8836e10/test/Microsoft.ML.TestFramework/BaseTestBaseline.cs#L509

[2018-10-25 22:43] CESARDELATORRE opened #1386 "Need to simplify Data Types to simpler/less common .NET types"
In the dynamic API we have too many and not .NET "standard types" you need to use when creating the file columns schema for loading data. The list of types is not very "dotnetty":

![image](https://user-images.githubusercontent.com/1712635/47534500-6e190080-d86c-11e8-9553-535625943d47.png)

This is what you see in intellisense:

![image](https://user-images.githubusercontent.com/1712635/47534520-7

[2018-10-25 22:51] yaeldekel opened #1387 "OVA accuracy drop"
Running OVA with AveragedPerceptron{lr=0.8} on the iris dataset used to give the following confusion table:

                   ||========================
PREDICTED ||     0 |     1 |     2 | Recall
TRUTH        ||========================
                0 ||    50 |     0 |     0 | 1.0000
                1 ||     0 |    47 |     3 | 0.9400
                2 ||     0 |     0 |    50 | 1.0000

[2018-10-25 23:20] Zruty0 commented on #1386
Do you have a suggestion in mind @CESARDELATORRE  ?

[2018-10-25 23:37] #1199 closed

[2018-10-25 23:45] TomFinley commented on #608
One thing that occurred to me -- might these pieces of auxiliary information like the `out bool` parameters happen just as fields on this mutating context? This would seem to obviate the need for the second overload, and those operators that do not care about this operation would just be able to simply ignore those fields.

[2018-10-26 00:57] CESARDELATORRE commented on #1386
Maybe something like the following:

[code]

The closer it can be to data types in C#, the better:
https://docs.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/types-and-variables

https://docs.microsoft.com/en-us/dotnet/api/system.timezoneinfo?view=netframework-4.7.2

[2018-10-26 01:38] artidoro opened #1389 "Add x86 CI PR verification build"
This is a follow up to #1295, which took care of the Official x86 build. We now need to add the Windows x86 CI PR verification build.

[2018-10-26 02:51] #1348 closed

[2018-10-26 02:51] #1382 closed

[2018-10-26 03:00] artidoro opened #1391 "BenchmarksProjectIsNotBroken fails on x86"
When running the below commands BenchmarksProjectsIsNotBroken fails.

build -buildArch=x86 -Release
build -buildArch=x86 -Release -runTests

As part of #1309 I have added a skip for the test when run in x86. The test should be fixed and re-enabled.

I am attaching a log of the failure encountered.

[log_31_34669.zip](https://github.com/dotnet/machinelearning/files/2517465/log_31_34669.zip)

[2018-10-26 03:12] #1344 closed

[2018-10-26 03:13] artidoro commented on #1207
@Ivanidzo4ka  has solved the issue with the PR #1388. Now this test takes less than 30 seconds.

[2018-10-26 03:13] #1207 closed

[2018-10-26 04:30] Zruty0 commented on #1358
@GalOshri you also hit this bug

[2018-10-26 05:48] #763 closed

[2018-10-26 05:48] #1262 closed

[2018-10-26 05:55] wschin commented on #989
Close because it has been supported.

[2018-10-26 05:55] #989 closed

[2018-10-26 06:02] #1357 closed

[2018-10-26 08:18] rauhs commented on #744
Sure! Let me expand a bit. I actually also have this implemented in "user space" and replaced the evaluator of ML.NET since the evaluation of Top-1 to Top-5 took often MUCH longer than training the model. Now it's super quick and I can get any Top-k accuracy. Code:

[code]

Problems:
- The used `OrderBy` is *stable*, i.e. the location of the correct label will end up in a predictable index. This i

[2018-10-26 08:39] feiyun0112 commented on #1354
please check tsv file content,  it should be like this:
[code]
you can download tsv files on github

[2018-10-26 15:15] wschin opened #1395 "Matrix Factorization Test Occasionally Fails on Mac"
For example, [this PR](https://dnceng.visualstudio.com/public/_build/results?buildId=35727&view=logs) didn't get a green light after being merged into mater. Error message is attached below
[code]
Sometime it gets passed but it looks like a numerical stability problem on Mac. Maybe we should relax the tolerance used in that test. @shauheen, any comment?

[2018-10-26 15:30] wschin opened #1396 "An internal SaveAsOnnx test fails"
The test
[code]
fails because a null string `variableName`, is fed into
[code]
as its input name.

[2018-10-26 16:15] wschin commented on #1396
@yaeldekel, by using the latest master branch of ML.NET, the following command went smoothly and produced the same result as its TLC counterpart. Please compare m.json produced by my command below and TLC\TestOutput\Common\Onnx\OnnxNormalize.json produced by that TLC test and then you will see.
[code]

[2018-10-26 16:28] grahamehorner opened #1397 "Q: ML Model Builder"
Is there any update with regards the VisualStudio ML Model Builder prototype; is/will this available as a preview ?

[2018-10-26 16:32] #1389 closed

[2018-10-26 16:37] #1078 closed

[2018-10-26 16:43] wschin opened #1398 "Static TextLoader Cannot Load Key Values"
The static `TextLoader` (defined in `TextLoaderStatic.cs`) supports float(s) and text(s) but we still need keys for matrix factorization which maps two keys to a number.

[2018-10-26 16:44] terop opened #1399 "build.sh fails on Linux due to a unitialised Git submodule"
### Issue
- `build.sh` fails on Linux as libmf which is included as a Git submodule is not available unless submodules have been initialized.

### Logs
[code]

[2018-10-26 17:10] wschin opened #1401 "Matrix Factorization Needs Documentation"
The newly added module only has a test but we definitely need a user-facing document. Users may not read through my test code. Something like [this](https://github.com/dotnet/machinelearning/blob/369bcbbf55ce0c78e9e188434dc235a5dd6233e6/src/Microsoft.ML.StandardLearners/FactorizationMachine/FactorizationMachineTrainer.cs#L35) and the actual [XML file](https://github.com/dotnet/machinelearning/blob

[2018-10-26 17:33] artidoro commented on #929
There is an ongoing project to introduce time series models in ML.NET (with some functionalities already being added), #978 will be used to track this effort. We will be adding documentation and tutorials for the new features as they are implemented. We welcome your thoughts and questions on the development of this new feature. @codemzs, @ganik or @montebhoover  will probably be able to answer the

[2018-10-26 17:37] eerhardt commented on #608
Thanks for the comments, @TomFinley. They are appreciated. I've updated the propsoal above as appropriate, and am responding to your questions/comments below:

This option is important when expanding the buffer to make room for new elements. Here are two cases that do this:

https://github.com/dotnet/machinelearning/blob/5e08fa1ea7bfb54f28ed0815cb6413e0068e6dd1/src/Microsoft.ML.Core/Utilities/VBuf

[2018-10-26 17:46] artidoro commented on #1337
@Zruty0 Which option would you suggest?

[2018-10-26 17:52] artidoro commented on #1322
There are ways to uniquely hash sparse vectors, but at a performance cost. Here is an

@TomFinley and @Zruty0, is this an actionable issue?

[2018-10-26 18:00] artidoro commented on #1322
@TomFinley and @Zruty0, is this an actionable issue?

As a side comment, I think that there are ways to hash sparse vectors so that {1:"hello", 3:"friend"} {1:"hello",4:"friend"}, or {2: "hello", 4:"friend"} hash to different things.

But this would come at a performance cost. It would require hashing the index, and not just the value, as well as the size of the sparse vector.

[2018-10-26 18:03] shmoradims opened #1402 "[Docs] Explicitly clarify that IEstimator Append() doesn't alter the calling object"
In estimator1.Append(estimator2) it's not 100% clear that estimator1 is not changed. The summary comment for Append() should highlight that.
[code]

Should be
[code]

[2018-10-26 18:11] montebhoover opened #1403 "Improve error message for missing LightGBM dependencies at runtime."
### System information

- **macOS 10.13**:
- **.NET Core 2.1.4**:

### Source code / logs

`Error: *** System.DllNotFoundException: 'Unable to load DLL 'lib_lightgbm': The specified module or one of its dependencies could not be found.`

### Issue

Using LightGBM on a Mac requires OpenMP as a runtime dependency (libomp.dylib or libgomp.dylib).  The error message does not make it clear that this is

[2018-10-26 18:48] Ivanidzo4ka commented on #1395
@wschin  Can you modify your test to use Assert.InRange instead of Assert.True? InRange at least will give you idea which condition fails, and what are the numbers.

[2018-10-26 19:15] wschin commented on #1395
@Ivanidzo4ka, I probably can. Do you know how specify [different ranges](https://github.com/dotnet/machinelearning/blob/369bcbbf55ce0c78e9e188434dc235a5dd6233e6/test/Microsoft.ML.Tests/TrainerEstimators/MatrixFactorizationTests.cs#L95) for different platforms?

[2018-10-26 19:36] Ivanidzo4ka commented on #1395
Environment.OSVersion.Platform can be useful

[2018-10-26 19:51] Zruty0 commented on #1386
I think mapping to .NET types is positive. In the past, we chose to have 2-character descriptions of our types, but I was never a big fan. Maybe @TomFinley was? He was the creator of `UG` after all :)

The one type I am suspicious about is `String` (since we use `ROM<char>`). Maybe `Text` is OK in that particular case?

[2018-10-26 20:17] GalOshri commented on #1386
This looks good to me. What purpose do the current granular types play after the work done in #673?

[2018-10-26 21:33] artidoro opened #1404 "Only execute dotnet build-server shutdown at the end of official builds"
Currently we run dotnet build-server shutdown at the end of all Windows builds.

https://github.com/dotnet/machinelearning/blob/dd1a92223c50bde8f659f95df0fab6eaaa482234/run.cmd#L27-L29

As pointed out by @eerhardt in #1390 we should instead only run it at the end of official builds, by adding the command to the .yml file instead of run.cmd.

[2018-10-26 21:40] artidoro commented on #1317
@GalOshri would probably be able to answer this question.

[2018-10-26 21:47] artidoro commented on #1312
@sfilipi might also have some ideas on how to best integrate them with our documentation.

[2018-10-26 21:59] artidoro commented on #905
@Zruty0, @TomFinley could you comment on the above?

[2018-10-26 22:58] GalOshri commented on #1317
Hi @Jahanaray, is there a specific error you are encountering?

I just tried creating a UWP app targeting the "Windows 10 Fall Creators Update" as the min version (based on [this](https://blogs.msdn.microsoft.com/dotnet/2017/10/10/announcing-uwp-support-for-net-standard-2-0/) and using x64. I was able to train an ML.NET model and use it for predictions. x86 support for ML.NET is in progress.

/cc

[2018-10-26 23:11] artidoro commented on #1367
@Zruty0 since you authored the #923 PR, do you know if the change was intentional?

[2018-10-26 23:18] artidoro commented on #1339
Hello Jilong, could you tell us some more about the specific scenario that you are describing? In particular, are you tied to training in python? Are you interested in using ML.NET/C# for scoring?

[2018-10-26 23:31] artidoro commented on #1380
@TomFinley should the predictedLabel in the output of a binary classifier be a bool, or should it be a key?

[2018-10-27 00:00] CESARDELATORRE commented on #1386
Sound good! Thank you guys! 👍

[2018-10-27 00:00] wschin opened #1408 "Matrix factorization related improvements"
ML.NET's matrix factorization is using LIBMF v1.2. We need to sync it with LIBMF's latest release. In addition, we need to modify LIBMF so that SSE code can be enabled (we didn't do that because CI's Mac doesn't support SSE3).

[2018-10-27 00:30] artidoro commented on #1268
Hey Sebastian, could you tell us what code is giving you this error?

[2018-10-27 00:32] artidoro commented on #1356
Thank you for reporting the bug!

[2018-10-27 00:45] #885 closed

[2018-10-27 00:48] artidoro commented on #564
@atotalnoob  if you don't have anything more specific to add, I will close the issue.

[2018-10-27 00:51] artidoro commented on #1203
Adding @GalOshri to the conversation.

[2018-10-27 00:53] #226 closed

[2018-10-27 00:55] artidoro commented on #1379
This is the issue where the work is being outlined #1242.

[2018-10-27 01:10] artidoro commented on #744
@rauhs I agree that there would be a complexity improvement with your suggested change! @Zruty0 do you think that TopK should remain a parameter?

[2018-10-27 01:13] artidoro commented on #1216
@tannergooding are you looking into this?

[2018-10-27 01:17] artidoro commented on #708
If there aren't any more questions related to this topic I will assume that training on the larger dataset worked, and close the issue in the next couple of days.

[2018-10-27 01:25] Zruty0 opened #1409 "Clean up TensorFlowTests to not use direct instantiation"
The TensorFlowTests is the only reason we have `CreatePredictionEngine` as a public extension method. We should re-work the tests to work via Estimators/Transformers, and remove the extension.

[2018-10-27 01:30] artidoro commented on #1235
If you want to play around with the current version of the code (before .7), you can build the packages locally.

Just follow this doc to build locally: https://github.com/dotnet/machinelearning/blob/master/docs/project-docs/developer-guide.md

And then to produce the packages locally you can run the command: `build.cmd -buildPackages`

[2018-10-27 01:33] #521 closed

[2018-10-27 01:37] artidoro commented on #1069
We are still looking for some help on this :)

[2018-10-27 01:47] Zruty0 commented on #905
We're planning to deprecate `SerializableLambdaTransform`, so it's a moot point.

The three usages where we store a stream in a byte array, though, are legitimate: our schema is lazy, so it can (and will) be accessed after the `ModelLoadContext` is disposed. As far as I can tell, there is no easy way around it, but maybe @TomFinley knows better.

I don't think that any of the above usages of byte

[2018-10-27 01:52] Zruty0 commented on #1367
It was an intentional change to NOT write to console willy-nilly.
Right now, ML.NET's `MLContext` doesn't write to console.

If you do `mlContext.Log += Console.WriteLine`, we will have the output back in the console, but in a non-colorized format that is more applicable for parsing than for human readability.

I am not sure whether the colorized pretty console printing is something we want to hav

[2018-10-27 01:52] Zruty0 commented on #1367
@TomFinley do you have a comment?

[2018-10-27 01:54] artidoro commented on #1403
I think we are already tracking this issue at #1282.

[2018-10-27 01:54] Zruty0 commented on #1379
This was on my list indeed, but thanks @rauhs for making a request. I hope I will have something in a PR soon. Or feel free to take a stab at it: in #1242 I was just suggesting overriding `ToString()` for `Schema.Column`, should be an easy incremental improvement.

[2018-10-27 01:58] Zruty0 commented on #744
I think that, if we go forward and implement the evaluator change, we should just have top-K accuracies for all K between 1 and number of classes. Thanks @rauhs  for the code sample!

[2018-10-27 02:00] artidoro commented on #1397
@GalOshri do you know the plans regarding the above?

[2018-10-27 02:17] artidoro commented on #1107
There is also some work planned to allow a debugger at #1242. Thank you for your suggestion though!

[2018-10-27 02:17] #1107 closed

[2018-10-27 03:07] #564 closed

[2018-10-27 04:08] abgoswam opened #1411 "Convenient way of providing LDA topic summary"
In the `LdaTransform`,  the details of the learnt model are contained in the `LdaState` object.  When the user wants to introspect the LDA model learnt during the transformation, we return a topic summary vector .

We need to find a proper way of returning topic summary information to the user. Specifically the words that map to the topic summary vector

For this we need to figure out how to extra

[2018-10-27 04:55] #1399 closed

[2018-10-27 06:00] #1314 closed

[2018-10-27 17:53] artidoro commented on #1247
@danmosemsft would you suggest that we state in our documentation that we support .NET Framework 4.5.0 and higher?

[2018-10-27 17:56] artidoro commented on #1244
Hey Ivan could you add some more details to the above? What are some places where this is not done in code?

[2018-10-27 17:58] artidoro commented on #1018
@Anipik was this issue solved with #1274?

[2018-10-28 03:05] Anipik commented on #1018
no its yet to be completed

[2018-10-28 10:24] saqw3r opened #1419 "Need a state of evaluation result after each epoch during training."
### Issue

- **I'm training my model. But I have no idea how good my model architecture is. And how much pretraining additional efforts required**
- **In some cases it is trained ok, and in others, I cannot go out of 1 % (I'm seeing only final results), but anyway I don't see how right is the evaluation process during the timeline (after each epoch of training). Maybe it has been overfitted after

[2018-10-28 18:57] SebHel commented on #1268
Hi Artidoro, thanks for having a look at this. I downloaded the repository and then tried to run the benchmarks as described in Readme.md i.e.

Does that answer your question?

[2018-10-28 23:31] Ivanidzo4ka opened #1421 "LightGBM tests fails in x86 build, but that doesn't stop build"
So let's take this build:
https://dnceng.visualstudio.com/public/_build/results?buildId=36379&view=logs
It fails on MacOS and @wschin  working on it https://github.com/dotnet/machinelearning/issues/1395

![image](https://user-images.githubusercontent.com/1523833/47623415-6eb0d180-dace-11e8-9ba0-654270a11be9.png)
but if you look into failed tests tab:
![image](https://user-images.githubusercontent.

[2018-10-29 00:51] mjmckp opened #1422 "Hardwired value of Sigmoid parameter used instead of value specified in parameters"
https://github.com/dotnet/machinelearning/blob/5123aeedb91a435236e8b94ba0f17a6d15a20db5/src/Microsoft.ML.LightGBM/LightGbmBinaryTrainer.cs#L133

The hardwired value `0.5` in the line above should instead be the value of the `Sigmoid` parameter specified when the model was trained (the default value of which is 1, but used to be 0.5).

[2018-10-29 02:17] ganik opened #1423 "Local build fails on master"
On Windows 10 machine

Build Failed.
CMake Error at MatrixFactorizationNative/CMakeLists.txt:14 (add_library):
    No SOURCES given to target: MatrixFactorizationNative

[2018-10-29 03:00] mjmckp commented on #1422
Same issue exists here as well:
https://github.com/dotnet/machinelearning/blob/5123aeedb91a435236e8b94ba0f17a6d15a20db5/src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs#L101

[2018-10-29 04:59] mjmckp opened #1424 "Incorrect model returned by LightGBM calibration for multiclass with softmax"
https://github.com/dotnet/machinelearning/blob/5123aeedb91a435236e8b94ba0f17a6d15a20db5/src/Microsoft.ML.LightGBM/LightGbmMulticlassTrainer.cs#L104

The model returned here is only correct if the objective type is `multiclassova`, since the `OvaPredictor` predictor type created here always just normalises the `_numClass` probabilities to sum to one:
https://github.com/dotnet/machinelearning/blob/5

[2018-10-29 06:18] shauheen commented on #1423
Hi @ganik , I think you need to do what is described in #1412

[2018-10-29 06:18] #1423 closed

[2018-10-29 06:33] rauhs commented on #1379
Sorry for the noise. I will better search for existing issues next time. I will eventually try to contribute, but I'm currently a little swamped. Thanks for the quick response.

[2018-10-29 06:33] #1379 closed

[2018-10-29 06:35] artidoro commented on #1421
Yes I'll take a look!

[2018-10-29 07:12] SebHel commented on #1268
Sorry I forgot to mention that the error only occurs after I choose benchmark 8 `StochasticDualCoordinateAscentClassifierBench`. Other benchmarks (e.g. benchmark 7) run without problems.

[2018-10-29 08:30] rauhs opened #1425 "'Value cannot be null' exception on trivial estimator append"
The following code throws:

[code]

If this is intentional feel free to close it. Though I found the error at least hard to understand. I needed this step for weird reasons.

Adding some simple op will make it work:

[code]

[2018-10-29 12:35] JorgeAndd commented on #1402
I will give it a try.
I just need to alter the function summaries for the Append methods, right?

[2018-10-29 14:58] eerhardt commented on #1317
ML.NET is a `netstandard2.0` library. So you need to use a UWP version that supports .NET Standard 2.0. See https://blogs.msdn.microsoft.com/dotnet/2017/10/10/announcing-uwp-support-for-net-standard-2-0/ for more details.

[2018-10-29 15:58] montebhoover commented on #1403
Thanks!

[2018-10-29 15:58] #1403 closed

[2018-10-29 16:37] Zruty0 commented on #1237
@yaeldekel , what is the suggested fix?

[2018-10-29 16:39] Zruty0 commented on #1282
@justinormont , is this about documentation update? Is this fixed already?

[2018-10-29 16:39] yaeldekel opened #1429 "Bug in MultiOutputRegressionEvaluator metadata"
The builder sets the "ScoreValueKind" metadata instead of the "ScoreColumnSetId" metadata.

[2018-10-29 16:41] Zruty0 commented on #1356
@tatooian , would youi mind sharing the training code? It sounds strange that we need such a deep tree of transformers for the model.

Nevertheless, it is a bug that we'll have to fix, I'm just double-checking that the paths look indeed sensible for the complexity of your model.

[2018-10-29 16:45] Zruty0 commented on #1073
@eerhardt , are you tracking this bug for the proper solution (involving Intel)?

[2018-10-29 16:47] Zruty0 commented on #1104
As far as I know, our model formats slightly diverge at this point. We plan to fix that soon.

[2018-10-29 16:49] Zruty0 commented on #1104
@Ivanidzo4ka could you quickly look into that? If this is a 4-hour fix, we should make it before the upcoming release.

[2018-10-29 16:50] Zruty0 commented on #682
@TomFinley , should we close this then?

[2018-10-29 16:51] Zruty0 commented on #675
This is related to the legacy API, no reason to fix it.

[2018-10-29 16:51] #675 closed

[2018-10-29 16:53] Zruty0 commented on #657
@kdcllc , I'm going to close this issue, since we will probably not port this specific library. Feel free to reopen if you want to continue the discussion

[2018-10-29 16:53] #657 closed

[2018-10-29 16:53] Zruty0 commented on #604
I think we should close it.

[2018-10-29 16:53] #604 closed

[2018-10-29 16:55] Zruty0 commented on #602
It is. But I don't think we'll make a concerted push to use these language constructs whenever appropriate. Instead, we will be adding them opportunistically as we touch the code. I will close this issue.

[2018-10-29 16:55] #602 closed

[2018-10-29 17:01] yaeldekel opened #1431 "WordTokenizeTransform ignores per-column definition of separators"
It only looks at the separators in the Arguments object, not in the Column object.

[2018-10-29 17:09] eerhardt commented on #1073
Yes, this is tracking the Intel issue. Hopefully the underlying bug gets fixed by MKL and this will tracks pulling in that new version with the bug fix (if deemed necessary).

Here is the Intel support request: https://supporttickets.intel.com/requestdetail?id=5000P00000kDdkQQAS&lang=null

Request: 03677610

[2018-10-29 17:13] markusweimer commented on #96
@voltcode, were all your questions answered? If so, it might be time to close the issue.

[2018-10-29 17:15] markusweimer commented on #175
@yaeldekel, is this still an issue, given that we moved away from that API?

[2018-10-29 17:22] little-eyes commented on #1339
@artidoro Yes, I'm training my model in python and think of using ML.NET/C# for scoring. So I plan to export a train model from LightGBM, then use ml.net to load the model to score the results from a REST API.

[2018-10-29 17:29] #97 closed

[2018-10-29 17:33] danmosemsft commented on #831
@tannergooding is this still relevant? I am not sure where it applies, after #835

[2018-10-29 17:34] #930 closed

[2018-10-29 17:34] danmosemsft commented on #83
This would be dependent on bringing back AVX support in https://github.com/dotnet/machinelearning/issues/80.

[2018-10-29 17:36] danmosemsft commented on #1194
It seems next step here is to re-measure after @Anipik is done.

[2018-10-29 17:36] danmosemsft commented on #1194
Thank you for doing this verification @adamsitnik

[2018-10-29 17:47] helloguo commented on #80
Thank you for explaining. Closing this issue if there is no other concern,

[2018-10-29 18:03] artidoro commented on #1308
Please reopen this issue with more details if you keep having this error. I will close this one for the moment.

[2018-10-29 18:03] #1308 closed

[2018-10-29 18:03] tannergooding commented on #831
No, they look like dupes of eachother.

[2018-10-29 18:03] #831 closed

[2018-10-29 18:05] artidoro commented on #708
I am closing this issue in favor of the above.

[2018-10-29 18:05] #708 closed

[2018-10-29 18:06] sfilipi opened #1435 "The LightGBM tests fail on x86"
There is no LightGBM available yet on the Windows x86 build, therefore the tests should be marked to not run on x86.

The two newly added tests: MultiClassLightGBM and LightGBMRanking need to be executed conditionally.

[2018-10-29 18:09] artidoro commented on #1235
If you don't have any other questions on this topic, I will close the issue in a few days.

[2018-10-29 18:30] sfilipi commented on #1318
@eerhardt suggested that we also put the transformers and estimators in subfolders based on sub-categories.

[2018-10-29 18:41] markusweimer commented on #1297
Do we add the NOTICE to our NuGets? I did a quick check and haven't found it.

[2018-10-29 19:12] yaeldekel opened #1436 "Bug in KeyToVector conversion to PFA"
The condition in the "if" clause in line 678 needs to be negated.

[2018-10-29 20:26] GalOshri commented on #1006
@klausmh, would you be able to take a look at the discussion in #612 and the relevant PR (#1392) to make sure the solution will fulfill your requirements?

[2018-10-29 20:46] guillaume-chevalier opened #1438 ""Installing dotnet cli..." Hangs forever"
### System information

- **OS version/distro**: Some Debian 9 based distro
- **.NET Version (eg., dotnet --info)**: 2.1.403

### Issue

- **What did you do?**
I just did this after cloning:
`chmod +x ./build.sh`
`$ ./build.sh`

- **What happened?**
`Installing dotnet cli...`

- **What did you expect?**
I expected the program not to hang forever on this operation. Nothings happens. I already had d

[2018-10-29 21:15] shauheen opened #1440 "ML.NET Dev community should be supported for better success."
We constantly review various ways by which we can help the broader developer community to contribute to ML.NET. There are multiple channels through which we can communicate and help the community (GitHub issues, Gitter, upcoming public Teams, YouTube live, slack, Good old mailing list!, …).

This issue is filed to start a discussion on what would be the good set of tools that the community prefers

[2018-10-29 21:22] artidoro opened #1441 "Matrix factorization should work in x86"
Matrix factorization fails in x86 (MatrixFactorizationSimpleTrainAndPredict test was disabled as part of #1432).

The reason is that the MFModel struct is architecture dependent: https://github.com/dotnet/machinelearning/blob/eae76959e6714af44caa212e102a5f06f0110e72/src/Microsoft.ML.Recommender/SafeTrainingAndModelBuffer.cs#L67-L80

The struct matches the output data structure produced by c++ code

[2018-10-29 21:24] wschin opened #1442 "Matrix Factorization Doesn't Support Key Starting with 0"
For row index = 0 or column index = 0, [this mapper](https://github.com/dotnet/machinelearning/blob/ef2bade365a90d926a944ebfc424b8a84374921c/src/Microsoft.ML.Recommender/MatrixFactorizationPredictor.cs#L230) always use NaN as the output score.

[2018-10-29 21:38] eerhardt opened #1443 "FastTree has a reference to non-existing assembly"
We currently have a bunch of P/Invokes to an assembly that can't be found:

https://github.com/dotnet/machinelearning/blob/69a549e5119a63c1740cdf2526098337b42a76f5/src/Microsoft.ML.FastTree/BinFile/IniFileParserInterface.cs#L13-L20

When I try running the following code:

[code]

I get the exception:

[code]

/cc @codemzs

[2018-10-29 21:40] markusweimer commented on #96
Thanks for the confirmation. Closing the issue for now.

[2018-10-29 21:40] #96 closed

[2018-10-29 21:44] #1429 closed

[2018-10-29 21:44] danmosemsft commented on #80
I think it's fine to have the issue open, in case someone has the (considerable) motivation to enable AVX support in the native code. (Starting by undeleting the file, then wiring it up as needed, with perf measurements and tests.)

[2018-10-29 22:25] yaeldekel opened #1445 "Bug in InferRecipes command"
If the argument for SchemaDefinitionFile is not null, then the command doesn't check whether the dataset has a header or not.

[2018-10-29 23:15] CESARDELATORRE commented on #1440
I think we should have a good way or channel we can use to communicate minor news/announcements (in addition to Blog Posts) so folks closely following ML.NET can be up-to-date.

For instance, the .NET team uses this GitHub site repo just to use the ISSUES, so anyone subscribed/watching the repo will be aware of the minor news/announcements (1,805 folks following):

https://github.com/dotnet/announ

[2018-10-30 00:27] wschin opened #1446 "Math documents for training modules"
I don't see any formulations in field-aware factorization machine document for explaining what its trainer is solving. As a machine learning package, it'd be better to have more details about formulations because applied scientists may not read through our code to figure out those math equations. I guess this comment can be applied to some other modules too.

[2018-10-30 00:37] #1431 closed

[2018-10-30 00:37] Ivanidzo4ka commented on #1104
Can we get clear what we want?
Entry points right now can still use functionality which didn't get converted to IEstimator/ITransformer.
So it's impossible to always save entry points model as transformer chain (although it's possible sometimes)
`TransformerChain.LoadFrom` expects model to have only chain of ITransformers.

So I doubt I can modify TransformerChain to load old models.
I can try to

[2018-10-30 00:38] terrajobst commented on #1440
I think the dotnet/announcement repo is a good pattern; blog posts are also good, but we cannot make this conversation real time as we don't want to confuse our regular readers with the firehose that is GitHub. But a post every once in a while that summarizes what has happened is a good thing. However, that I believe is already happening in the release announcements.

Some teams also use Gitter (b

[2018-10-30 00:41] vaeksare commented on #1232
There is a slight issue with the NuGet approach. Normally, we store all of our NuGet sources on GitHub, but these models are too large to be posted to the ML.NET GitHub (and large enough that they can't be posted to GitHub period without being compressed). These could be uploaded manually to NuGet, but this does not seem like an ideal solution. Any thoughts? Also see my PR #1447 for the current pr

[2018-10-30 00:50] #1283 closed

[2018-10-30 00:50] #1395 closed

[2018-10-30 00:50] #1398 closed

[2018-10-30 01:31] jwood803 commented on #1440
To what @terrajobst mentioned about YouTube, I have a couple of ML.NET videos out and they are my most popular ones. The one on the original Learning Pipeline already has over 3000 views, so I do believe people want the content around ML.NET.

With Gitter, I know there's one for ML.NET, but it's my least favorite of the team chat applications, at the moment. So if there's a place for ML.NET folks

[2018-10-30 05:11] #1404 closed

[2018-10-30 07:35] voltcode commented on #69
There's now a base implementation of Apache Arrow in .NET: https://github.com/apache/arrow/tree/master/csharp

Maybe it can help steer the discussion about interop - standardized, high performance column storage that's also working with GPU if necessary, could be a great start.

[2018-10-30 08:58] voltcode commented on #1440
I find Gitter very useful for Akka.NET community. It is also less of a resource hog than Slack. My 2 cents as a person who got interested in Akka.NET in part because of the good impression made by the quality of Akka.NET Gitter chat. I believe Teams is the least used product by developers in open source products, so maybe it's not the best way to encourage bypassers to take contribute.

[2018-10-30 09:30] rauhs commented on #1440
I *really* like github wikis. For instance, if I have some snippets or random thoughts that are worth sharing and I don't have the time to create a blog post or anything elaborate, I'll often go and put up the code to a github wiki page if one exists. They're great for some community collaboration.

- Stackoverflow is great for Q&A, I usually check it once a day and give help
- I just re-joined gi

[2018-10-30 11:54] derekendres commented on #1235
Compiling .7 locally works.  Thanks

[2018-10-30 13:54] nimasTT commented on #630
Hi,
i am using at the moment Stanford NLP (https://www.nuget.org/packages/Stanford.NLP.NER/) But it is just a Java Wrapper and doesn't support .Net Core. I would like to have more NLP (POS Tagger, NER, Named Entity Linking) possibilities native in C#.

[2018-10-30 14:54] veikkoeeva commented on #1440
I second for Gitter. It's very easy to climb in if one has a GH account and it can foster discussion, even cross-bleeding across channels. Especially if there are people that can answer questions small and big and entertain ideas. I'll tag @ReubenBond and @sergeybykov in case they have opinions, privately or otherwise.

[2018-10-30 15:02] jwood803 commented on #1440
@rauhs, your post got me thinking about where to find collections of links to resources for ML.NET. I think the [F# Foundation](https://fsharp.org/) website does this very well. It gives a ton of links to how to use F#, learning F#, and guides on how to use F# for various scenarios.

Would it be worthwhile to have something similar for ML.NET? If so, I'll gladly lend some help in building it.

[2018-10-30 15:11] markusweimer commented on #1232
Can we host the models on Azure and pull them in during the build process when preparing the nugets?

[2018-10-30 15:22] markusweimer opened #1449 "README should give guidance where to seek help"
Currently, the README gives no indication of where to seek help. This is confusing, as there are at least Gitter, GitHub and StackOverflow to do so. It would be nice to be explicit about where the ML.NET devs hang out and can answer questions.

This is related to #1440, but enough off-topic for that thread that I opened an additional issue.

[2018-10-30 16:32] sergeybykov commented on #1440
What I like about Gitter is its low barrier to entry - it's just a web page where you can read and search previous conversations before you even log in. And you can log in via GitHub easily. You can later install their desktop or mobile app, but that's totally optional.

Links to issues and PRs are also nice because you can simply type #xyz, and it will automatically point to issue/PR xyz in the a

[2018-10-30 16:51] Zruty0 commented on #1440
@rauhs , we briefly considered GH wiki, but the sentiment was that a public wiki is time-consuming to maintain. As wiki is a more permanent content, we better have it accurate / up to date.

More transient 'chat-like' channels are easier in that sense. For that, Gitter seems to be the common denominator so far?

[2018-10-30 16:52] Zruty0 commented on #1440
Also I like the idea of the announcements / news repository @CESARDELATORRE

[2018-10-30 16:58] helloguo commented on #80
Adding AVX CPP implementation would benefit Full Framework, which has no C# HW Intrinsic available today. I guess it really depends on the scenarios and how often people use Full Framework vs .NET Core when developing and deploying ML.NET applications.

[2018-10-30 17:09] #1436 closed

[2018-10-30 17:22] helloguo opened #1451 "Optimize FastTreeNative"
It seems FastTree uses native code or managed code based on the config `USE_FASTTREENATIVE`. Currently FastTreeNative uses SSE instructions. It could be optimized with 256 bits AVX/AVX2 instructions. It can be done either using native cpp intrinsics or C# HW intrinsics.

[2018-10-30 17:36] Zruty0 commented on #1104
I think we should have a polymorphic behavior in `MLContext.Model.Load`

[2018-10-30 17:46] derekendres commented on #1235
It works to get the context but I am still not getting a good result from the linear regression.  Using
0.7.0-preview-27030-0.  not sure if I should reopen this one, or move it to a different issue...

Basically I am getting a 0 for my prediction when I do the below code.  I get an error if I don't include the Data ColumnName on a property of ocsObj.  (Data was added to ocsObj even though there is

[2018-10-30 17:52] #1374 closed

[2018-10-30 20:04] sfilipi commented on #1358
@TomFinley do you want to close this with pr #1455

[2018-10-30 20:41] helloguo commented on #1451
@codemzs any thoughts on this?

[2018-10-30 20:57] wschin opened #1459 "LIBMF prediction varys on Mac"
The `MatrixFactorizationSimpleTrainAndPredict` test frequently fails on Mac with the following message. We need to figure out the reason to reduce the number of rebuilds.

Error message

Assert.InRange() Failure
Range: (0.60692207960271 - 0.61692207960271)
Actual: 0.592577526427063
Stack trace at Microsoft.ML.Tests.TrainerEstimators.TrainerEstimators.MatrixFactorizationSimpleTrainAndPredict() in /

[2018-10-30 21:29] #1342 closed

[2018-10-30 22:23] vaeksare commented on #1232
Had another discussion with @eerhardt regarding different possible implementations of this.

Hosting the models on Azure and pulling them in during the build process is possible (in fact this is what we do for TensorFlow), but causes the issue of making our CI builds slower due to requiring the download of these models each time the CI build is called. An alternative would be to separate these alt

[2018-10-30 23:32] #1402 closed

[2018-10-30 23:34] artidoro commented on #924
I looked at 10 different test runs in all OS and for all versions from the PR verification builds. These are the summaries of the results that I obtained:

|   | linux deb  | linux rel  | win x64 deb  |  win x64 rel  | win x86 deb  | win x86 rel  | mac deb  | mac rel  |
|---|---|---|---|---|---|---|---|---|
| mean run tests time (min) | 11.3  | 7.3  | 16  | 7.7  | 10.8  | 8.5  | 12.4  | 9.9  |
| s

[2018-10-30 23:34] #924 closed

[2018-10-31 00:34] markusweimer commented on #1232
An alternative is that the NuGet we produce does that at install time, and also registers them for inclusion in the project output folder. Conversely, uninstalling those nugets would undo that. There used to be a mechanism in nuget to run scripts at those times. Does that still exist and is it supported?

[2018-10-31 01:56] #1358 closed

[2018-10-31 08:05] justinormont commented on #1282
@Zruty0: This is still an open issue. @eerhardt and I have some recommendations/proposals above for methods to fix.

[2018-10-31 16:13] DannyZaca84 commented on #140
![image](https://user-images.githubusercontent.com/25534104/47802291-32a78780-dced-11e8-8e1c-00d0cf586347.png)

I'm having this problem and I can't find a solution

[2018-10-31 17:12] danmosemsft commented on #1440
In CoreFX we experimented with github wiki but decided not to go further. If you don’t make them publicly writeable they aren’t much value over docs in the repo and can end up duplicating them. If you do make them writeable, we don’t know a way to subscribe to edits to detect vandalism (history is preserved though).

[2018-10-31 18:12] kwefah opened #1466 "Q: Retrieving DataView Schema from a Saved Model"
Using the new ML.Net API, say I want to fit an Estimator chain to a DataView to produce a model i.e TransformerChain. After saving the model to a Zip and then reloading from another process, is it possible to retrieve details about the schema of the DataView that the model was initialy fit to?

Basically, I'd like to use the DataView schema to aid in construction of the Training class, and would p

[2018-10-31 18:36] wschin opened #1468 "A public member is not assigned in constructor."
Matrix factorization transformer needs to have row index type set...

[2018-10-31 18:50] #1468 closed

[2018-10-31 19:09] klausmh commented on #1015
No. I am using the dynamic API. This seems to be only available for the static API?

[2018-10-31 19:58] TomFinley opened #1471 "Investigate the build issues, focusing on tests"
At the time of writing our build system is plagued by a large number of failing tests and other build issues. This impacts our agility since an otherwise valid PR can not pass the test checks for spurious reasons that have nothing to do with the change. It also in turn leads to significant wastage of resources. The goal would be to improve the test error rate.

However, we are vexed somewhat by a

[2018-10-31 20:16] eerhardt commented on #1471
Note for

We do have a set of builds that should in principle always succeed. After every merge into the `master` branch, we run a "CI" build that just takes what is now in `master` and runs the validation build against it.  These builds are called "CI Build"s in Azure DevOps:

https://dnceng.visualstudio.com/public/_build?definitionId=104&_a=completed&view=buildsHistory&showFilters=true

![image]

[2018-10-31 20:17] Ivanidzo4ka opened #1472 "How to access internals of transformer via dynamic pipeline?"
#1015
We quite easily can access internals of transform via OnFit delegate in static extensions.
But I don't see any easy way (one which doesn't include tons of casting) to get to internals if I use dynamic Api.

[code]
I don't see any easy way to get offset and scale.
`(transformer.ColumnFunctions[0] as Microsoft.ML.Transforms.Normalizers.NormalizeTransform.AffineColumnFunction.Sng.ImplOne).Scale

[2018-10-31 20:19] TomFinley opened #1473 "Random build failures: Publish the test logs"
Companion issue to #1471. As mentioned there we are currently lacking information about test failures.

Our tests actually do produce sizable logs that could *conceivably* be of help, if we were only able to access them. This includes most notable output files that are compared against baseline files, as well as in many cases the trained models themselves. For example, for a `Debug` build, and the

[2018-10-31 20:35] TomFinley opened #1474 "Random build failures: Catalog the failures"
Companion issue to #1471. We should investigate more fully at a high level why the builds are failing.

@eerhardt has helpfully provided a good list of these failures for builds that should have in principle succeeded, since they were against `master`. The task would then to be, somehow, to go through them, and determine why each has failed. This even has an analytics tab that will show the precis

[2018-10-31 20:36] Zruty0 commented on #1474
I wholeheartedly

[2018-10-31 20:38] Zruty0 commented on #1472
@Ivanidzo4ka , it looks like you should swap 'dynamic' and 'static' in the above description

[2018-10-31 20:40] Zruty0 commented on #1472
We want to expose the 'learned parameters' of trained transformers via the normal 'readonly properties' mechanism. This is already the case for things like SDCA predictor, FastTree etc.

It is notably **not** the case for normalizers, but it's not by design: we want to expose the normalizer's learned parameters in someform or another, if we see how.

[2018-10-31 21:08] #1401 closed

[2018-10-31 21:39] TomFinley opened #1477 "Random build failures: Make test failure output on numerical comparisons semi-useful"
Companion issue to #1471, specific to making the test failure messages provide more helpful information than they do right now.

Many of our tests are baseline tests -- that is, they produce a file, then we compare the two files. A while ago we changed the baseline test infrastructure a bit, so that rather than insisting on a perfect match, they only had to match numbers within a certain tolerance