[2020-05-20 19:54] antoniovs1029 commented on #5126
Since this is actually a question specific to the samples, I'll move this to the samples repo:
https://github.com/dotnet/machinelearning-samples

[2020-05-20 20:30] antoniovs1029 commented on #4132
Hi, @mathias-brandewinder sorry for the late response. As of now, I don't think there's any way to fix this except by adding a `?` into the missing values in your dataset.

On the other hand, I wonder if this behavior is done so that this matches the behavior of missing values on sparse datasets, where missing values are assumed to be 0 (the default).

In any case, I think that changing this behav

[2020-05-20 20:44] frank-dong-ms commented on #4905
If you want to use LightGBM related training, clang is required. Please refer to https://github.com/dotnet/machinelearning/blob/master/docs/building/unix-instructions.md for more details.
We don't enable install clang and other package by default (say if you don't need use LightGBM related training, you don't need to install clang and get your 1GB back), there is a discussion related for your refe

[2020-05-20 20:45] frank-dong-ms commented on #4905
I will close the issue for now as seems this is by design, if you have more concerns or suggestions, feel free to reopen and comment, thanks.

[2020-05-20 20:45] #4905 closed

[2020-05-20 21:15] pgovind opened #5653 "StringDataFrameColumn should expose a constructor that doesn't need a length"
Right now, an empty StringDataFrameColumn needs to be constructed by passing in a `0` for it's length parameter. We should add a new constructor that loses `length`

[2020-05-20 21:20] frank-dong-ms commented on #4819
We didn't hear back for couple months now, so I will close the issue for now, @Spocher feel free to reopen this issue if you can provide more details on this issue, thanks.

[2020-05-20 21:20] #4819 closed

[2020-05-20 21:25] #4708 closed

[2020-05-21 00:01] frank-dong-ms commented on #4595
@smoothumut Hi, I tried to create a console app project, using the code sample (made some modification to let code compile and running) and data you provided but don't have repro on the hanging.
Could you please provide a repro project?

[2020-05-21 00:18] frank-dong-ms commented on #4703
@francois-dorin could you please provide a repro project and corresponding dataset so we can look further into this?

[2020-05-21 00:41] frank-dong-ms commented on #4376
@olejorgensen Hi, is Cesar's suggestion work for your?

[2020-05-21 02:27] frank-dong-ms commented on #4568
I am able to repro this in my local environment, let me dig up little bit and get back to you

[2020-05-21 03:44] frank-dong-ms commented on #4568
@BillMcCrary This error message "Current graph is not default graph" is thrown directly from tf.net. you can set default graph to any graph you want using as_default, below is an code sample that works in your case (note: we don't provide any public method or field to let you have access to tensorflow session so below code is a work around using reflection):

static void Main(string[] args)

[2020-05-21 03:57] frank-dong-ms commented on #4524
This is by design, close the issue for now, please feel free to reopen if you have more concerns on this issue, thanks.

[2020-05-21 03:57] #4524 closed

[2020-05-21 04:08] frank-dong-ms commented on #1459
fixed in https://github.com/dotnet/machinelearning/pull/5121, close this issue

[2020-05-21 04:08] #1459 closed

[2020-05-21 04:17] frank-dong-ms commented on #2099
This is resolved in previous PR

[2020-05-21 04:17] #2099 closed

[2020-05-21 06:51] antoniovs1029 commented on #4767
Hi, @actopozipc . Since I couldn't reproduce this issue I will close it. Please feel free to reopen it if you're still having problem with this, and are able to share a repro. Thanks.

[2020-05-21 06:51] #4767 closed

[2020-05-21 14:16] u-ashikov commented on #4954
Hi guys, we have the same problem, when trying to apply word embeddings with the multi class classification trainer SdcaMaximumEntropy. Are there any related comments on this or is it an issue with the trainer or with the Word Embeddings Estimator?

[2020-05-21 17:15] Lynx1820 commented on #5065
Closing this issue. Feel free to reopen if you have a followup.

[2020-05-21 17:15] #5065 closed

[2020-05-21 23:55] frank-dong-ms commented on #3987
@mani009 could you please provide a repro project so we can investigate further? Thanks

[2020-05-22 00:03] frank-dong-ms commented on #3987
I tried to create a win form project and reference ML.NET 1.4.0 from NuGet and run your sample code, didn't get the error you mentioned.

[2020-05-22 00:30] frank-dong-ms commented on #3587
@dckorben thanks for using ML.NET, I'm not able to repro the issue you described. As soon as I add NuGet package "ML.NET.FastTree", a package reference was added automatically to my project file. Could you please share more details like which version of visual studio are you using?

[2020-05-22 07:20] maamardli commented on #2134
Any update on this issue?

[2020-05-22 14:26] dckorben commented on #3587
Such an out of date version it doesn't apply anymore.

[2020-05-22 14:26] #3587 closed

[2020-05-22 22:01] #4910 closed

[2020-05-23 13:52] shywa opened #5155 "Application crashes inside Docker containing when using .Fit()"
When creating a model for a recommender system that uses MatrixFactorization, the Docker Container crashes on an Ubuntu server without further notice.

The only note in the kernel log is
`kernel: [12922.080806] traps: dotnet[30957] trap invalid opcode ip:7f07d81b5efc sp:7ffdc5965110 error:0 in libMatrixFactorizationNative.so[7f07d81a5000+2a000]`

In the local version the recommender system and the

[2020-05-23 20:08] dcostea opened #5156 "CustomMappingEstimator Exportable to ONNX?"
### Question

- **Will be CustomMappingEstimator exportable to ONNX in the future?**

[2020-05-24 05:38] antoniovs1029 commented on #5155
I wonder if this is a duplicate of #5067

If it is, then that issue was already fixed on #5071, and the fix should be available on the next ML.NET version 1.5 release.

[2020-05-24 11:19] szymenn opened #5157 "KeyNotFoundException after Bottleneck Computation phase finishes while training image classification model"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1.1

### Issue

- While trying to train an image classification model I get
**KeyNotFoundException: The given key '3711' was not present in the dictionary.** (key varies  every new time I start the app)
just after the Bottleneck Computation phase using the validation dataset finishes.
T

[2020-05-24 14:24] kilitary opened #5158 "nothing happens after adding machine learning to project"
### System information

- win 10 Version	10.0.18363 Build 18363
- tryed 4.7.2 / 4.8 / core 2.2 / core 2.1

### Issue

I am creating console NET <vers> app, right clicking on project propertis then selecting Add and selecting Machine Learning.
- **What happened?**
Above the open files tab a text is displayed: Would you like to enable the ML.NET Model Builder preview feature so you can add Machine L

[2020-05-24 15:47] deiruch opened #5159 "Feature request: Built-in support for ELMO/BERT embeddings"
# Intro
ML.NET is not yet very well equipped for some natural-language processing (NLP) workloads. While there is already support for basic processing steps (tokenization, stop word removal, ...) and sentiment, other, higher-level workloads are not yet supported.

# Feature request

- Pre-trained embeddings, like BERT or GloVe, for documents are useful for down-level tasks.
- It'd be even better i

[2020-05-24 15:58] jwood803 commented on #5159
They do have support for word embeddings with the `ApplyWordEmbeddings` method. It can use a predefined model or you can use a custom model with it.

Here's the pipeline from the [sample](https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Text/ApplyWordEmbedding.cs):

[code]

Hope that helps!

[2020-05-25 08:04] MatiKingloom commented on #5062
Hi, thx the L2 distance works good, but just for information.
When i try to build a ML.NET model lets say OneVersusAll with LinearSvm and my data is in a double array format.
How can preserve the double format, since it keeps saying that expected a VectorType of Single.
![image](https://user-images.githubusercontent.com/64281748/82791704-e693d900-9e76-11ea-94af-129dc1e9a1aa.png)
Then i get an exce

[2020-05-25 08:14] szymenn commented on #5157
I found out that I got this error because I was using data from test set as a validation set instead of using training set, closing the issue

[2020-05-25 08:14] #5157 closed

[2020-05-25 11:51] akshayabnave opened #5161 "Gradual Memory Increase"
I am not sure whether this is write channel but I need quick help

We have observed that gradual increase in memory of Host object of module Microsoft.ML.Data.

We have .net core worker service running as windows service.

It does prediction for 50 ML models in parallel.

1. We are loading all models into memory then creating 50 threads for 50 models which would be running continuously and predict

[2020-05-25 13:31] ptelman opened #5162 "Auto.ML Regression Experiment throwing Exception when culture is pl-PL"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: 3.1.300-preview-015135
- **Auto.ML Version**: v0.17.0-preview2

### Issue

- **What did you do?**
AutoML experiment using Boston houses dataset, RegressionExperiment and pl-PL culture
- **What happened?**
Exception was thrown after ~3 minutes of experiment - `float.Parse` could not parse string.
-

[2020-05-25 20:02] justinormont commented on #5062
tldr; Single will work well.

@MatiKingloom: Generally in ML, a Single works well to represent your data. The full 64-bits slows down the ML process and increases RAM utilization without offering generalized value. Doubles are often used internally in ML․NET, for instance in logistic regression for accumulating its loss.

Taking the bit-reduction further, [bfloat16](https://en.wikipedia.org/wiki/B

[2020-05-25 20:41] justinormont commented on #5162
Related:
* https://github.com/dotnet/machinelearning-modelbuilder/issues/363 (Exception while auto-train with regression task)
* https://github.com/dotnet/machinelearning/issues/4634 (Sweepable Parameter can't handle Russia Format)
* Previous PR to fix Culture in Sweeping: https://github.com/dotnet/machinelearning/pull/4635

[2020-05-25 21:36] ptelman commented on #5162
@justinormont https://github.com/dotnet/machinelearning/pull/5163 this fixes the issue.

[2020-05-26 05:07] mstfbl commented on #5161
Hi @akshayabnave , if possible, can you share a screenshot of your memory usage showing the accumulation of `IHost` objects?

PR #4995 was merged to remove `IHost` objects that are already cleaned up by GC, and as you said in the PR description, these `IHost` objects are cleaned up after garbage collection. If you are still seeing an accumulation, it may be because GC hasn't collected these yet, b

[2020-05-26 08:05] akshayabnave commented on #5161
Hello @mstfbl

Thank you for quick reply,
Here I am attaching screen capture of Memory snapshot.
For this testing, We have loaded all ML models into the memory then created 4 tasks running in parallel and each task is executing 60-90 ML models (we have configuration in SQL for total no. of ML model for each task) sequentially every minute. These tasks are running continuously till the lifetime of

[2020-05-26 14:42] thibaultfalque opened #5164 "How RMSE is calculated ?"
### System information

SDK .NET Core (reflétant tous les global.json) :
 Version:   3.1.300
 Commit:    b2475c1295

Environnement d'exécution :
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.1.300/

Host (useful for support):
  Version: 3.1.4
  Commit:  0090613580

.NET Core SDKs installed:
  3.1.300 [/usr/share/do

[2020-05-26 16:29] thibaultfalque commented on #5164
It is a mistake. Sorry.

[2020-05-26 16:29] #5164 closed

[2020-05-26 17:14] mstfbl commented on #5161
Hi @akshayabnave ,

Thank you for the screenshots and for your explanation. By the way, which version of ML .NET are you using? It is very likely that this issue may still be fixed by #4995 in our newest v1.5 release that will be made available soon.

My work email is mustafa.bal@microsoft.com . Please feel free to reach out to me through this email!

[2020-05-26 18:55] mstfbl commented on #5155
Hey @shywa ,

I made an Ubuntu Docker model, and installed our latest ML .NET build on our current master branch. I then ran the code snippet you've provided with our [training ](https://github.com/dotnet/machinelearning/blob/master/test/data/trivial-train.tsv)and [test ](https://github.com/dotnet/machinelearning/blob/master/test/data/trivial-test.tsv)dataset for testing MF. I did not obtain the w

[2020-05-26 18:55] #5155 closed

[2020-05-26 20:16] mstfbl opened #5165 "Tracking ML .NET behavior on AMD builds"
This issue is for tracking ML .NET behavior on AMD builds.

Currently we are testing our builds on Intel CPUs and NVIDIA GPUs (please correct me if I'm wrong!) However, as Issue #4703 indicates, we might be obtaining different results on other builds such as:

- AMD CPU/ No GPU
    - Currently testing through [D4as_v4 ](https://docs.microsoft.com/en-us/azure/virtual-machines/dav4-dasv4-series#dasv

[2020-05-27 00:20] michaelgsharp commented on #5158
I can repro this as well. It looks like for some reason the preview functionality was not actually included in version 16.6 of visual studio for some reason. To work around the issue for now, you can get version 16.7 Preview 1 (on the normal [downloads ](https://visualstudio.microsoft.com/downloads/?utm_medium=microsoft&utm_source=docs.microsoft.com&utm_campaign=navigation+cta&utm_content=download

[2020-05-27 01:21] mstfbl commented on #4703
Hi @francois-dorin ,

I tested the image classification sample you've linked on an Azure VM with an AMD EPYC 7452 32-Core Processor. In these results I did not obtain the low accuracy results you've provided. I've attached logs of running this on Intel and AMD CPUs  to this comment, please feel free to take a look.

I'd suggest cleaning your build, and rebuilding to see if your results improve. Al

[2020-05-27 06:21] akshayabnave commented on #5161
Hello @mstfbl ,

We are using ML.NET 1.4.

Thank you.

[2020-05-27 06:48] AnoojNair opened #5168 "AUC is not defined when there is no positive class in the data (Parameter 'PosSample')"
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.201\

### AUC is not defined when there is no positive class in the data (Parameter 'PosSample')
![image](https://user-images.githubusercontent.com/8334

[2020-05-27 08:50] pthinh14 opened #5170 "Unable to load DLL 'tensorflow' with published WPF app"
### System information

- **OS version/distro**: Window 10
- **.NET Version (eg., dotnet --info)**: .NET framework 4.7.2

### Issue

- **What did you do?** I'm trying sample code for image classification using MLNet.
- **What happened?** Everything works fine in development environment which means that I can use model to predict label of images. However, when I tried to publish a ClickOnce applica

[2020-05-27 09:28] pantokrr commented on #4703
Hi!
I have the exact same issue, ending in:
[code]

[2020-05-27 16:23] michaelgsharp commented on #5168
Is you dataset something you can share? Just from looking at the screenshots nothing looks wrong, but I can't see much. What is your model made up of?

[2020-05-27 17:42] mstfbl commented on #5161
Hi @akshayabnave ,

ML .NET v1.5.0 is out! Please feel free to download from [here](https://www.nuget.org/packages/Microsoft.ML/), and let us know if you see a similar memory leak of `IHost` objects

[2020-05-27 17:49] mstfbl commented on #4703
Hi @pantokrr and @francois-dorin ,

The `TensorflowException` you've been having has been fixed in Issue #4708 , which is available in our newest release of ML .NET v1.5.0. Please feel free to download its NuGet package from [here](https://www.nuget.org/packages/Microsoft.ML/), and let us know if your issue persists. Thanks!

[2020-05-27 17:50] #4703 closed

[2020-05-27 17:51] #5161 closed

[2020-05-27 17:55] mstfbl commented on #5165
In Issue #4703, I've [tested ](https://github.com/dotnet/machinelearning/issues/4703#issuecomment-634367449)the exact same linked image classification sample on an Intel machine and on a VM with an AMD CPU, and found no big differences in the accuracy of model produced. Moreover, the `TensorflowException` the user reported has been fixed in Issue #4708 , which is available in ML .NET v1.5.0. As su

[2020-05-27 17:55] #5165 closed

[2020-05-27 17:59] #3089 closed

[2020-05-27 18:08] amittere opened #5171 "Feature request: ONNX Export to older file versions/opsets"
### Intro
ML.NET supports exporting trained models to the ONNX file format, but only allows export to the latest version/opset. The version of the exported model can also change as ML.NET is updated, which can break compatibility with other toolsets that only support older ONNX versions.

### Feature Request
- Support exporting models to older ONNX versions and opsets (ONNX version 1.4, opset 9 or

[2020-05-27 18:59] michaelgsharp commented on #5170
I downloaded your project and it looks like there are a couple of things going on.

The tensorflow package is installed correctly, but the .dll file was not getting copied over correctly. Doing a full clean on the project should fix this issue, but if it doesn't fix it, deleting the `.vs` folder inside the same folder as the `.sln` file will fix it for sure. Doing a build after that resolves the t

[2020-05-27 20:05] francois-dorin commented on #4703
Hi @frank-dong-ms and @mstfbl
Sorry for the delay to answer but a lot of work currently.

I did not try with the latest release of ML.NET via Nuget, but using a more recent developpement version from git repo solved the problem. So I guess the bug was already fixed.

Thank you guys.

[2020-05-27 20:58] AnoojNair commented on #5168
Unfortunately, i can't share the dataset.  The model is a RandomizedPCA trainer. After the train test split, my training dataset and test dataset contains a new column called SamplingKeyColumn.Is that ok?

[code]

[2020-05-27 23:06] antoniovs1029 commented on #5156
We have no immediate plans for exporting CustomMappingEstimator to onnx.

Still, we would love to hear more about your scenario to understand the usecase better. Thanks 😄

[2020-05-27 23:29] dcostea commented on #5156
Sure. Thank you for your response.
I have used CustomMappingEstimator to extract hour and day from a DateTime feature and it seems the trained model cannot be saved in ONNX format because of this transformer.
This transformer not being convertible to ONNX stops me from building more complex pipelines like the aforementioned one.
The alternative would be:
- to make the changes in my dataset (yuck).

[2020-05-27 23:58] antoniovs1029 commented on #5156
Thanks for your quick response. I can see that not being able to export a CustomMappingTransformer is a problem in pipelines such as yours, that need it for preprocessing. Unfortunately, as mentioned above, it's not in our current plans to make it ONNX exportable 😕 .

Having said that, I think the workarounds you mentioned would work (albeit not being very user friendly). I am also wondering if th

[2020-05-28 00:19] #1215 closed

[2020-05-28 00:32] justinormont commented on #5156
@dcostea: Another route would be to use the `FeaturizeDateTime` transform. I think the outputs you're creating match the `DTCHour` and `DTCDayOfYear` columns.

Example usage:
https://github.com/dotnet/machinelearning/blob/290e0695b22cf9c6f49fcd222b10553b5a19a63a/docs/samples/Microsoft.ML.Samples/Dynamic/Transforms/Featurizers/DateTimeTransformer.cs#L29-L54

[2020-05-28 00:37] antoniovs1029 commented on #5156
@justinormont The problem with FeaturizeDateTime is that it requires the input column to have a long int:
https://github.com/dotnet/machinelearning/blob/85f8eaa8d52611fb4323036a5e16bc96c55cc3c5/src/Microsoft.ML.Featurizers/DateTimeTransformer.cs#L38-L50

whereas in the use case here the input is a string specifying a date.

[2020-05-28 00:51] dcostea commented on #5156
Thank you for your exhaustive response!
The second solution, using DateTimeTransformer, is a better fit for my use-case since I don't have to ignore the DateTime features.
For other types, I will try to preprocess.

You are doing great with ML.NET, keep up the good work!

[2020-05-28 00:51] #5156 closed

[2020-05-28 01:08] justinormont commented on #5156
@antoniovs1029: Do we have an issue logged to allow `FeaturizeDateTime` to take in a `DateTime` column?

@dcostea: `TypeConvertingEstimator` looks like it can convert from `DateTime` (`DT`) to `Long` (`I8`):
https://github.com/dotnet/machinelearning/blob/bc9abda576374340e2fa37f968ee1eb7eab90211/src/Microsoft.ML.Data/Data/Conversion.cs#L819

You'll want to read in your column w/ type `DateTime`: (t

[2020-05-28 01:15] justinormont commented on #5156
It looks like `FeaturizeDateTime` will take in `DateTime` column directly:
https://github.com/dotnet/machinelearning/blob/d8cb431773915a59f2728e254a02536bb83ba387/test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs#L137-L145

@dcostea: You should be able to just read in the column as a `DateTime` and transform it w/ `FeaturizeDateTime`. No conversion to a `Long` is needed.

[2020-05-28 01:23] antoniovs1029 commented on #5156
The `date` field in the sample you've pointed to is long:
https://github.com/dotnet/machinelearning/blob/d8cb431773915a59f2728e254a02536bb83ba387/test/Microsoft.ML.Tests/Transformers/DateTimeTransformerTests.cs#L21-L25

So I guess the casting is done by C# when compiling that. Still, the FeaturizeDateTime does require a long input column. I don't know what would happen if a DateTime column is prov

[2020-05-28 01:25] antoniovs1029 commented on #5156
No, but as you pointed out, using the TypeConvertingEstimator should be a valid and easy workaround, so no need to add an issue for this, I guess?

[2020-05-28 01:53] antoniovs1029 commented on #4460
So this has been fixed by #5125 and #5148 😄

[2020-05-28 01:53] #4460 closed

[2020-05-28 03:16] pthinh14 commented on #5170
I followed your suggestion but it is still not working. Did you try the published version in other computers which don't have the environment (like brand-new client computer)? Because in my case, the publish app works on my local computer but not on others.

I did update to ML.Net 1.5 and copy asset folder to the project but temporarily removed to show you the code
`<Content Include="assets\*\*">

[2020-05-28 05:26] AnoojNair commented on #5168
Also,

My dataset has 7 columns, including the label. Should the rank(number of components) be 6?

![image](https://user-images.githubusercontent.com/8334797/83102279-39d08a80-a108-11ea-807c-fcc122425ee6.png)

![image](https://user-images.githubusercontent.com/8334797/83102086-d8a8b700-a107-11ea-91d7-1f5968b7a6f3.png)

[2020-05-28 06:39] antoniovs1029 commented on #4132
For the record, there's this piece of internal documentation which is relevant to this issue, but that (as I'll show in the experiment below) I think it's mistaken, and it doesn't refer to current ML.NET behavior.

The MAML docstring says the following for the AllowQuoting option in TextLoader, and having empty values (notice the part of empty values isn't mentioned in the public docs for this opt

[2020-05-28 16:00] akshayabnave commented on #5161
Hello @mstfbl
We have downloaded and testing it. I will let you if we face same issue.
Thank you for your support.

[2020-05-28 16:57] #4568 closed

[2020-05-28 17:07] #4122 closed

[2020-05-28 17:22] frank-dong-ms commented on #4595
Didn't hear back with more details, please reopen this issue if necessary.

[2020-05-28 17:22] #4595 closed

[2020-05-28 17:22] frank-dong-ms commented on #3987
Didn't hear back with more details, please reopen this issue if necessary.

[2020-05-28 17:22] #3987 closed

[2020-05-28 18:15] frank-dong-ms commented on #4376
Close this for now as no reply from user, please feel free to reopen if necessary

[2020-05-28 18:15] #4376 closed

[2020-05-28 21:28] michaelgsharp commented on #5168
This [documentation](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/pca-based-anomaly-detection), which is for Azure Machine Learning but the same principles apply, says:

If your dataset has 7 columns including the label, that means you have 6 features. According to that documentation you will get better results with a rank smaller than 6, so doing 5 is fine.

[2020-05-28 21:36] michaelgsharp commented on #5168
The problem is coming from your call to:
[code]
The upper bound is an *exclusive* bound, so its not actually including the value `1`, giving you all the rows were the label is between 0 and .99999. If all your label values are either 0 or 1, then you are only getting the rows where label is 0, causing the `No positive class` error.

You need to change the `upperBound` value. If all your label valu

[2020-05-28 21:36] #5168 closed

[2020-05-29 06:13] praveenraghuvanshi1512 commented on #3903
I am getting 'Unable to load DLL 'MklImports' or one of its dependencies' while calling Fit method of ForecastBySsa() in a time series prediction.

The issue surfaced in Jupyter notebook only, the same code runs fine in Visual Studio 2019.

OS: Windows 10 x64
.Net core: 3.1.300
Microsoft.ML : 1.5.0
Microsoft.ML.TimeSeries : 1.5.0
Visual Studio 2019 16.6.0

Logs
SubmitCode: var model = pipeline.Fit

[2020-05-29 06:22] praveenraghuvanshi1512 opened #5178 "[Windows 10] : 'Unable to load DLL 'MklImports' or one of its dependencies'"
### System information

- **OS version/distro**:  Windows 10 x64
- **.NET Version (eg., dotnet --info)**:
.NET Core SDK (reflecting any global.json):
 Version:   3.1.300
 Commit:    b2475c1295

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.300\

Host (useful for support):
  Version: 3.

[2020-05-29 08:37] AnoojNair commented on #5168
Hi @michaelgsharp ,

Thanks for the response. The filtering is happening on the trainingdata, which for anomaly detection should only be 0(learning only from the normal samples).  I am going based on the comments from the code samples.

[code]

But the exception is happening on the evaluation of the test data(which does have both).

[2020-05-29 14:03] eerhardt commented on #5178
Can you post your notebook that repros this issue?

[2020-05-29 16:03] leblancdavid opened #5179 "`ImageClassification` prediction appears slow"
I don't have much experience with DNN (more with traditional machine learning algorithms) so I went through the automated visual inspection tutorial. The training of the 400 subset images is relatively quick. However, the prediction time is incredibly slow. Running the prediction through 400 images took about 90sec using `ResnetV2101` and 10sec using `MobilenetV2`. For my application, I would need

[2020-05-29 16:38] michaelgsharp commented on #5179
Would you be able to share your code so we can see what you are doing?

[2020-05-29 16:53] michaelgsharp commented on #5170
I can repro this as well if I deploy/run on a non-development computer. It has something to do with the dll dependency and the click-once deployment. I'm looking more into that.

[2020-05-29 16:55] leblancdavid commented on #5179
Right now I'm just running the tutorial code (https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification-api-transfer-learning). When I run `Evaluate` I notice it takes a long time. How long should it take?

[2020-05-29 17:14] michaelgsharp commented on #5170
The DLL is getting transferred over to the target machine, but its unable to find it. I am trying to trace down why its not looking in the correct spot.

[2020-05-29 17:21] praveenraghuvanshi1512 commented on #5178
@eerhardt  Thanks for having a look at the issue quite early.

Please find attached the notebook and dataset for the same.
Notebook.txt is a Python Notebook file, change extension to *.ipynb
time_series_covid19_confirmed_global_transposed.txt is the dataset and change its extension to *.csv.
I am planning to present it at Virtual ML.Net conference happening today and tomorrow.
Appreciate if any wo

[2020-05-29 17:24] wangyems commented on #5179
Would you also share your cpu/gpu configuration? It might be normal to me with that inference speed using ResNet or MobileNet on my laptop.

[2020-05-29 17:46] leblancdavid commented on #5179
I'm just running on a regular desktop PC. I just wanted to make sure that I had it implemented correctly. If you are getting similar times than that makes sense. Is there an option or parameter selection that improves inference speed?

[2020-05-29 18:02] michaelgsharp commented on #5170
Alright, the issue is that you have the incorrect version of the SciSharp.TensorFlow.Redist nuget installed. Change the version to be 1.14.0  and it will work. I was able to verify that on my machine that was reproducing the error. I am going to close issue as resolved, but if after changing the version you still have issue please reopen the ticket so we can continue to look into it.

[2020-05-29 18:02] #5170 closed

[2020-05-29 18:06] eerhardt commented on #5178
What version of [`dotnet-interactive`](https://www.nuget.org/packages/Microsoft.dotnet-interactive/) are you using? I would suggest using the latest on nuget.org. You can find out by running `#!about`:

![image](https://user-images.githubusercontent.com/8291187/83290938-1dd2f480-a1ad-11ea-9cc3-4fe71acea267.png)

[2020-05-29 18:29] michaelgsharp commented on #5179
What versions of the Nugets are you using? Specifically ML.Net?

[2020-05-29 19:14] leblancdavid commented on #5179
1.5.0 ML.Net, 1.15.1 TensorFlow

[2020-05-29 20:47] eerhardt commented on #5178
It looks like the latest builds of .NET Interactive broke this. I've logged https://github.com/dotnet/interactive/issues/492 for the issue and will close this one as there isn't anything ML.NET can do.

If you roll back to .NET Interactive version '1.0.115407', the notebook works.

[code]

[2020-05-29 20:47] #5178 closed

[2020-05-29 23:46] frank-dong-ms commented on #4111
@nfnpmc Thanks for reporting this issue, could you please provide a repro project so we can investigate further?

[2020-05-30 00:19] frank-dong-ms commented on #4048
@acrigney could you please provide a repro project so we can investigate further?

[2020-05-30 05:45] marcmm opened #5181 "InvalidOperationException - Invalid TValue in GetGetter: 'System.Collections.Generic.IEnumerable`1[System.Collections.Generic.IDictionary`2[System.Int64,System.Single]]'"
### System information
- Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 .Net Framework 4.7.2 x64

Libraries:
Microsoft.ML 1.5.0
Microsoft.ML.OnnxTransformer 1.5.0
Microsoft.ML.OnnxRuntime 1.3.0

- Issue:
The following code below fails with an InvalidOperationException - Invalid TValue in GetGetter: 'System.Collections.Generic.IEnumerable`1[System.Collections.Generic.IDictiona

[2020-05-30 09:14] nfnpmc commented on #4111
Not any longer. I cannot remember which project that was a part of. The question, is really, why are the two methods of specifying imDT returning different results when added to builder?

[2020-05-30 10:42] cgyqu commented on #325
你也是用做分类场景？我用多类分类进行分类，大约500个分类。各个算法试了一遍，testdata上面准确率只有60%，猜测应该跟分词有关，导致vector不对。想怎么自定义分词，就看到了这个，2年多了，还是没支持

[2020-05-30 10:52] adriansd27 opened #5182 "Schema mismatch for input column 'Image': expected image, got Vector<Byte> for Predictions made using model trained with MobilenetV2 and ResnetV250"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1

### Issue
I'm running an ASP.NET Core 3.1 Web app with ML.NET. I'm unable to make predictions with trained model when using ImageClassificationTrainer.Architecture.MobilenetV2 and ImageClassificationTrainer.Architecture.ResnetV250.

However it works with ImageClassificationTrainer.Ar

[2020-05-30 17:25] chriss2401 opened #5652 "Data.Analysis : float/double values don't convert properly with . decimals in csv file"
If I have a csv dataframe that looks like this:

Date;Value
12-04-1989;20,7
03-11-1990;22,1

Then my two float values will properly be loaded when I call `DataFrame.LoadCsv` (with values of `20.7` and `22.1`)

But if my separator is the default one (',') and my floats are with a dot instead, they will get ignored and I will get 207 and 221 as values.

The issue comes from here :
https://github.com

[2020-06-01 14:14] wbadry opened #5183 "feature request"
### Features Reduction

It would be great if dimensionality reduction API could be added to ML.NET. This will be a major advantage in shortening training time.

[2020-06-01 16:28] michaelgsharp commented on #5179
I am not positive whether it should be faster or not, but a couple of thoughts:

1 - The first pass of the image recognition is slower then the subsequent passes. This is due to the tensorflow graph warming up with the first run. Test and see what happens when you run it a second time in the same pipeline.

2 - I have not been able to find any issues causing slowdowns in our code, but I will be fi

[2020-06-01 16:37] harishsk commented on #5086
The exception you are getting seems to be that it is not able to load System.Memory. Do you have that package referenced in this project?
Can you please share a small sample project where you are seeing this error?

[2020-06-01 17:16] ericdransfeldt commented on #5086
Hi Harish,
Thanks for the message. Yes, it is not able to load the System.Memory assembly. I don't have that version nor can I actually find it anywhere. If I could get the version that would probably be an easy fix but I can't seem to find it.
I do have a sample for you. It only seems to happen if I load a separate assembly/dll that contains Microsoft.ML and try and create a model. 
I'll forward

[2020-06-01 17:25] frank-dong-ms opened #5184 "CI crash on mac os"
Randomly see below 3 crash only on mac os:

https://dev.azure.com/dnceng/public/_build/results?buildId=637346&view=logs&jobId=23576d1c-355e-5d27-4c31-0725f923794b&j=23576d1c-355e-5d27-4c31-0725f923794b&t=5b5048ea-91bc-5d7d-fb0b-ace30192f432

The active Test Run was aborted because the host process exited unexpectedly while executing following test(s):
Microsoft.ML.RunTests.TestDataPipe.SavePipeTra

[2020-06-01 17:27] ericdransfeldt commented on #5086
Hi Harish,
Thank you for your email. I have a repro for you. I put the code in the dropbox folder below. It seems to only happen when I load Microsoft.ML in a separate assembly, which is how I currently use it. 
You'll need to load the nuget package files for Microsoft.ML.AutoML and ML in the MLNETRepro solution. I figured there's no reason to send the files since you have them already.
You'll nee

[2020-06-01 17:39] leblancdavid commented on #5179
I'm guessing it's just the nature of the architecture then. I may just use decision trees or some of the other algorithms to improve the prediction speed. Thank you for your help!

[2020-06-01 17:39] #5179 closed

[2020-06-01 17:43] harishsk commented on #5086
You can find [System.Memory on nuget](https://www.nuget.org/packages/System.Memory/)
Can you please try it and let me know?

[2020-06-01 18:18] ericdransfeldt commented on #5086
Hi Harish,

That version isn’t on nuget. :( at least when I tried to get it.

Cheers,
Eric

[2020-06-01 19:34] harishsk commented on #5086
You said earlier that you had shared the project on DropBox. Can you please share a link?
Or create a github repo for the project and share that link?

[2020-06-01 20:20] ericdransfeldt commented on #5086
Hi Harish,

The Dropbox link is the Microsoft link at the bottom of the page.

Cheers,
Eric

[2020-06-01 20:24] harishsk commented on #5086
The link seems to have been stripped out. I don't see any link at the Microsoft or "Shared with Dropbox" text above.

[2020-06-01 20:26] #4707 closed

[2020-06-01 20:29] ericdransfeldt commented on #5086
I'll try it again. There are two files. Here's the link: https://www.dropbox.com/sh/7b3ihvbtz02v5mt/AABuuCQL5aKJKjFGBsFJv--ma?dl=0
Please let me know if it gets stripped out.
Cheers,Eric

    On Monday, June 1, 2020, 01:25:11 PM PDT, Harish Kulkarni <notifications@github.com> wrote:

The link seems to have been stripped out. I don't see any link at the Microsoft or "Shared with Dropbox" text above

[2020-06-01 20:39] harishsk commented on #5086
That link works.

Can I ask why you have them as separate solutions?

It would be a lot simpler if you kept both in the same solution and used a project reference.
Can I ask why you are doing it through reflection as opposed to a project reference?

[2020-06-01 21:08] frank-dong-ms commented on #4111
I don't think these 2 methods should return different result otherwise it looks like a bug to me. I will try to repro the issue.

[2020-06-01 21:17] ericdransfeldt commented on #5086
Hi Harish,
We need to have separate projects to mimic the error. 
Cheers,Eric

    On Monday, June 1, 2020, 01:40:16 PM PDT, Harish Kulkarni <notifications@github.com> wrote:

That link works.

Can I ask why you have them as separate solutions?

It would be a lot simpler if you kept both in the same solution and used a project reference.
Can I ask why you are doing it through reflection as opposed

[2020-06-01 23:42] #3720 closed

[2020-06-02 00:41] harishsk commented on #5086
The way you are doing it right now, you are loading only the single assembly for DTTFramework. The current directory is still your executable's current directory and the dependencies for DTTFramework aren't fully known by your ReproApp. Therefore the app tries to resolve the dependencies in its current path and is unable to find System.Memory.

I added a reference to System.Memory v4.5.1 package f

[2020-06-02 00:41] #5086 closed

[2020-06-02 03:47] suxi-ms opened #5188 "Add a threshold parameter for root cause analysis"
### Issue

- **Users want a threshold to determin whether the selected is a root cause, so we add a new parameter in the interface. The default value is 0.95**

[2020-06-02 04:03] pthinh14 commented on #5170
After changing SciSharp.TensorFlow.Redist to 1.14.0, it works on other computer too. It takes me some times to confirm since I tested it on cloud computer and the error message changed to "Unable to load 'tensorflow': A dynamic link library(DLL) initialization routine failed. I don't know if the problem is mine or on your side but it works on other physical computers. Thank you for your time.

[2020-06-02 05:14] lisahua commented on #5188
https://github.com/dotnet/machinelearning/blob/3cbd97a0ebf55299a3e339a1f5a922738b32d79c/src/Microsoft.ML.TimeSeries/RootCauseAnalyzer.cs#L424

When `x.Value` is long, it throws Unable to cast exception. Probably change to Convert.ToString(..)
        private static string GetDicCode(Dictionary<string, Object> dic)
        {
            return string.Join(";", dic.Select(x => x.Key + "=" + **(strin

[2020-06-02 07:34] pockiez opened #5190 "Attempted to read or write protected memory. This is often an indication that other memory is corrupt"
### System information

- Windows 10 10.0.18363.836
- .NET Core 3.1
- Microsoft.ML 1.5

### Issue

- How to fix this.

![image](https://user-images.githubusercontent.com/11924335/83492875-22194d80-a4de-11ea-9d0d-4066d8a132b2.png)

[2020-06-02 11:46] MCPx opened #5191 "Race condition with named model pool initialization."
### System information

- **OS version/distro**: Windows
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1

### Issue

- **What did you do?**

Changed my call to AddPredictionEnginePool in my ASP.net Core app to use a model name and updated my Predict function to load the named model.

- **What happened?**

Calling the API with more than one prediction request at once started causing the API

[2020-06-02 15:22] antoniovs1029 commented on #5183
Thanks for submitting your request. Can you please tell us which dimensionality reduction algorithms would you like to see included?

By the way, ML.NET does provide a PCA Transform:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.pcacatalog.projecttoprincipalcomponents?view=ml-dotnet

[2020-06-02 15:45] wbadry commented on #5183
PCA is great but from my personal experience, it could destroy classification separation in eith binary or multiclass problems.

[This is a toolbox](https://lvdmaaten.github.io/drtoolbox/) made by Laurens van der Maaten in MATLAB covering many dimensionality reductions.

As a start as I am aware your queue is already full of tasks, perhaps LDA and GDA are very good candidates (_I tried both with r

[2020-06-02 16:06] justinormont commented on #5183
@wbadry: There are few various selection and feature compression techniques available in ML․NET.

Feature selection:
* Count Feature Selection transform, which removes slots in a column which have few non-default values.
* Mutual Feature Selection transform, which keeps the slots in a column most correlated to your label column.
* I'm uncertain if it's exposed or not, though there is also a Learne

[2020-06-02 16:26] Lynx1820 commented on #5190
Hi @pockiez,

Can you provide the code to replicate?

[2020-06-02 17:00] #5181 closed

[2020-06-02 17:10] antoniovs1029 commented on #5191
Wonder if this is related to #4981 which got fixed on #4992 . Notice that the fix has just been included inside the ML.NET version 1.5.0 release (which got released last week).

[2020-06-02 17:14] marcmm commented on #5181
Thanks Michael for unblocking me. I still think there's a bug in the code. I noticed that if the class only contains the  OutputProbabilities field and do not pass the "output_label" to the ApplyOnnxModel method, I also get the same exception.

[2020-06-02 17:19] MCPx commented on #5191
Hi @antoniovs1029, this issue was encountered on version 1.5.0 (and Microsoft.Extensions.ML version 1.5.0). I also did not get an exception, like in that issue. The API just crashes and restarts when it hits the Predict function.
![image](https://user-images.githubusercontent.com/4311476/83549305-64a25080-a505-11ea-9e15-0d126cfdbb60.png)

[2020-06-02 18:19] michaelgsharp commented on #5181
@marcmm There is a bug in the code. I have found it and am about to create a PR to resolve it. The issue has to do with how the output column mapping was being handled. It was by name and index, but there were 2 different indexes being used, the index based on the original onnx model and the index based on the output order given, and when the indexs didn't match there was a problem.

Honestly, the

[2020-06-02 18:53] frank-dong-ms commented on #5191
@MCPx can you please provide a repro project if possible that can help us repro the issue?

[2020-06-02 19:56] rjhornby2 opened #5193 "Error running experiment when specifying validationDataSet that contains a vector"
### System information

- OS: Windows 10.0.18363
- .NET Version 3.1.101

### Issue

- Running classification experiment with training/validation datasets the same, but containing:

        [VectorType(10)]
        public float[] d_hist{ get; set; }

- Exception: Training data and validation data schemas do not match. Column 'd_hist' is of type Vector<Single, 10> in train data, and type Vector<Sing

[2020-06-02 20:59] Lynx1820 commented on #5182
Hi @adriansd27,

I'm not able to reproduce. Can you provide the whole project?

[2020-06-02 21:01] harishsk commented on #4288
@meesoft  Sorry for the delayed response. I tried your sample code and model on the latest release of ML.NET v1.5 and have not been able to reproduce the issue. I saw a different file sharing exception while the resources were being cleaned up, but that can be easily fixed by adding an estimator.Dispose() at the end of your code.

If this is still an issue for you, can you please reopen the issue

[2020-06-02 21:01] #4288 closed

[2020-06-02 21:54] Lynx1820 commented on #5193
Hi @rjhornby2,

Could you provide the full pipeline?

[2020-06-02 22:22] antoniovs1029 commented on #5116
Hi, I will close this issue, since we haven't gotten a reply to my last message. Please, feel free to reopen, if you are still facing this problem.

PS: Something noticeable about your issue, is the stacktrace, as it points that you're calling the `Microsoft.ML.Tools.Maml.MainCore`. "MAML" is a utility used internally by the ML.NET team to automate tests, and currently we don't publicly advertise

[2020-06-02 22:22] #5116 closed

[2020-06-02 22:24] antoniovs1029 commented on #5111
Since we haven't received an answer from the user, I'm unable to assess if this is an actual bug or a feature request to handle exceptions better in the user's particular use case. Because of this I'll simply change the priority of this to P2.

[2020-06-02 22:28] antoniovs1029 commented on #4226
For the record, issue # 1 mentioned in here got fixed on #4321 some time ago: https://github.com/dotnet/machinelearning/issues/4226#issuecomment-533772062:

Issue # 2 remains unfixed, and it was decided offline some time ago to not address this immediately, as the problem described here got unblocked by simply fixing # 1. Still, Issue # 2 remains an issue, and it should be fixed or addressed at so

[2020-06-02 23:34] #4047 closed

[2020-06-03 04:20] frank-dong-ms commented on #5052
Sorry for late response.
Found a similar issue: https://github.com/dotnet/machinelearning/issues/4679

@luislhg Thanks, so model builder is working on your new computer with same language/culture setting, right? Also, could you please try to download https://github.com/dotnet/machinelearning-samples and try to run some image classification samples on your computer with dll not found issue?

[2020-06-03 05:15] frank-dong-ms commented on #4111
I tried to repro but didn't find a way to repro it with just the code piece provided. The 2 piece of code is almost identical.

I find an similar issue with similar error message: https://github.com/dotnet/machinelearning/issues/4122 so the problem seems like be the schema in model and code didn't map correctly.

I will close this issue and feel free to reopen if necessary.

[2020-06-03 05:18] #4111 closed

[2020-06-03 06:37] MahdiKarimipour opened #5199 "Loading ML Model from a Stream"
Trying to load a ML model from a stream (having the model as an embedded resource in the project), I get the below exception at mlContext.Model.Load() line.

Same code snippet works if I load the model using the absolute filepath for the model.

Package Version: 1.5

`"System.ArgumentException: Illegal characters in path. (Parameter 'path')\r\n   at System.IO.Path.GetFullPath(String path)\r\n   at

[2020-06-03 12:49] david-uk-hash commented on #181
@codemzs any update on RL?

[2020-06-03 16:04] ericdransfeldt commented on #5086
Hi Harish,
Thank you for looking at this. Unfortunately I can't do a project dependency because its a third party app. I'm just extending their framework. I'm still having the same issues with the real code because I can't use .netstandard in the other 3rd party framework but I'll figure it out. 
Thank you for your help!
Cheers,Eric

    On Monday, June 1, 2020, 05:41:37 PM PDT, Harish Kulkarni <n

[2020-06-03 16:53] #5171 closed

[2020-06-03 18:52] frank-dong-ms commented on #4224
--summary of non-github discussion--

I'd recommend leaving the generation of the unused (Ignore) column in place. I think what you're purposing is "ignore the entire existence of the column" vs. the current "just don't use it for featurization".

Generally columns are ignored by the AutoML heuristics. These, while generally good, are imperfect. This leads to AutoML ignoring columns which could be

[2020-06-03 18:52] #4224 closed

[2020-06-03 21:14] wangyems opened #5203 "ApplyOnnxModel() throw runtime error in an ongoing sample for onnx conversion"
Can reproduce using https://github.com/dotnet/machinelearning/pull/5195/commits/0b1a59c95b281eedfd2bfb723b6b8e4e33182045
The related file is OnnxConversion.cs.
Just curious why ML.NET model can make through but onnx model not.

[2020-06-03 21:26] luisquintanilla opened #5204 "Records | C# 9 + F# Improved Interop"
At //Build 2020, plans for [records in C# 9](https://devblogs.microsoft.com/dotnet/welcome-to-c-9-0/#records) were announced. Referencing issue #180 which originally raised this question. While you can use records in F# to define the `DataViewSchema`,  once records support becomes available in C# 9, it could potentially be an opportunity to further improve the interop and experience with F#.

[2020-06-03 22:18] frank-dong-ms commented on #4369
@FilipRudzinski @rjlexx ml.net has released new version of 1.5.0, please try out to see if you can still repro the issue. I tried with 1.5.0 with provided samples and everything seems work find, thanks.

[2020-06-04 03:29] frank-dong-ms commented on #3780
@AshishMoradiya  Thanks for using ML.NET, the randomness of bias you observe is by design. If you want to remove the randomness you can use below setting of SDCA:

var sdcaEstimator = mlContext.Regression.Trainers.Sdca(new SdcaRegressionTrainer.Options()
            {
                NumberOfThreads = 1,
                Shuffle = false,
                // add certain max iteration number to avoid

[2020-06-04 03:29] #3780 closed

[2020-06-04 03:55] frank-dong-ms commented on #2826
Close this issue as suggestion has already been given and not hear back from user for more than 1 year. Feel free to reopen if necessary.

[2020-06-04 03:55] #2826 closed

[2020-06-04 04:27] david-uk-hash commented on #480
Any update on this ....

[2020-06-04 10:00] Vya4ik003 opened #5206 "Fitting model with array"
### System information

- **OS Windows 7**:
- **.NET Version 3.1.300**:

### Issue

- **What did you do?** - I try to fit pipeline with byte[ ] columns.
- **What happened?** - I get "System.ArgumentOutOfRangeException: "Schema mismatch for feature column 'Features': expected Vector<Single>, got VarVector<Single> "".
- **What did you expect?** - I expected my model fitting with non-float data. In g

[2020-06-04 12:14] #4016 closed

[2020-06-04 13:18] IvanAntipov opened #5207 "Make Microsoft.ML more developer friendly"
Microsoft.ML team, thank you for you job, as I can see, Microsoft.ML is the main hope for dotnet in machine learning word.

I would like to express my concern about the closeness of Microsoft.ML from developer side.

Each time I try to dive in the  Microsoft.ML I have the same scenario:

1. I manage to run some standard code from samples

2. I fail when I try to tune or discover my solution
  - A

[2020-06-04 14:56] antoniovs1029 commented on #3972
The only thing that was needed to make this build and run was to add the `(TransformerChain<ITransformer>)` cast to the `BestRun.Model` (recommended in https://github.com/dotnet/machinelearning/issues/3972#issuecomment-521288508 , and then add another cast to `(ISingleFeaturePredictionTransformer<object>)` for the `LinearPredictor`, and that would have been enough to let you run PFI:

[code]

PS:

[2020-06-04 14:56] #3972 closed

[2020-06-04 14:59] antoniovs1029 commented on #4227
This is indeed a duplicate of #3972. As explained there, it was always possible to use PFI with AutoML by using the appropriate casts:

https://github.com/dotnet/machinelearning/issues/3972#issuecomment-638904032

[2020-06-04 14:59] #4227 closed

[2020-06-04 15:37] Lucifer-Morning-Star opened #5208 "Use the model designed by myself."
Hi

I am new to ML, so this might seem like a stupid question, may be it is wrong, but when I learn the ML.NET, I found that all of the models or the way training data in ML.NET have been designed, or you should import it from tensorflow or OXXN.  However, is it possible use the model that the structure of the neural network is designed by myself which has the pooling layers , convolutional layers

[2020-06-04 16:00] antoniovs1029 commented on #3976
So I've just tested the original scenario of this issue, on F#, and now it works... so it was indeed fixed by PRs #4262 and #4306 .

[2020-06-04 16:00] #3976 closed

[2020-06-04 19:05] Lynx1820 commented on #5208
Hi @Lucifer-Morning-Star,

No. We don't support CNN training within ML.NET at this point. The way to circumvent that is by creating your model/ training in another framework like tensorflow and then consuming the model in ML.NET to use for **inferencing** only. Closing this issue, feel free to reopen if you have additional questions.

[2020-06-04 19:05] #5208 closed

[2020-06-04 22:12] harishsk commented on #480
Sorry, we don't have any further update on this. We would love to learn more about your specific scenario and requirements so that we can include them in our planning.

[2020-06-04 23:36] dasokolo opened #5210 "File already exists error when loading LightGbmBinaryTrainer from MemoryStream"
### System information
os version Windows (not sure)
.net version 3.1.202
mlnet version 1.3.1

### Issue
I am loading LightGbmBinaryTrainer from memory stream

                ITransformer model = null;
                using (MemoryStream ms = new MemoryStream(kv.Value))
                {
                    model = _mLContext.Model.Load(ms, out _inputSchema);
                }

Note, this code is

[2020-06-05 00:24] antoniovs1029 commented on #5162
Out of curiosity, were you able to determine what was the exact string that caused this exception?

[2020-06-05 05:35] DFMERA opened #5211 "MulticlassClassification.CrossValidate Arithmetic operation resulted in an overflow"
### System information

- **OS version/distro**:
Windows 10 pro
- **.NET Version (eg., dotnet --info)**:
.Net Core 2.1.0

### Issue

- **What did you do?**
I am creating a multiclass classification experiment and after de best model is selected and I try to evaluate de model but this method throws an exception
var testMetrics = mlContext.MulticlassClassification.CrossValidate(testDataViewWithBestS

[2020-06-05 22:39] IvanAntipov commented on #5207
Just for illustration, the way I'm getting the vocabulary now

A lot of pain, a lot of reflection :(

[code]

[2020-06-06 00:20] wangyems commented on #5203
The background: The Microsoft.ML.SamplesUtils.DatasetUtils.LoadFeaturizedAdultDataset() defines a TextLoader using a wrong column type(float) but the actual data type is string(This fixed in https://github.com/dotnet/machinelearning/pull/5195). When a user defined column type mismatches the real data type in file, the corresponding position of parsed-item array stores nothing(uninitialized/null)

[2020-06-06 00:33] DiegoStefanon commented on #4048
Also to me the same problem spitting data 👍

 mlContext.Model.CreatePredictionEngine<>();
=> error
"Could not find input column 'SamplingKeyColumn' (Parameter 'inputSchema')"

[2020-06-06 02:41] Lucifer-Morning-Star commented on #5208
So, is there a plan that would be support in the future? @Lynx1820

[2020-06-06 15:48] Lynx1820 commented on #5191
Hi @MCPx ,

I tried load testing by making a script with 100 sequential inference calls, and running the script twice, in parallel. I did not encounter a crash. If you can, please provide a repro. Thank you.

[2020-06-06 16:36] Lynx1820 commented on #5206
Hi  @Vya4ik003,

Unfortunately, FastTree regression only supports Single features. Closing this issue, feel free to reopen if you have additional questions.

[2020-06-06 16:36] #5206 closed

[2020-06-06 23:21] justinormont commented on #4464
Update: @dmoise2, thanks to hard work by @antoniovs1029, ML․NET's `TextLoader` now supports a majority of real world CSV/TSV files.

To quote the recent [1.5.0 release notes](https://github.com/dotnet/machinelearning/releases/tag/v1.5.0):
- **Updates to TextLoader**
  - Enable TextLoader to accept new lines in quoted fields  ([#5125](https://github.com/dotnet/machinelearning/pull/5125))
  - Add es

[2020-06-07 09:19] DanBrook opened #5213 "CoreDump on LoadTensorFlowModel"
### System information

- **Windows 10 pro/18362.836**:
- **.NET 4.7.2**:

### Issue

- **Trying to load TensorFlow model tensorflow_inception_graph **
- **Illegal error**
- **model loading**

### Source code / logs
 Microsoft.ML.Transforms.TensorFlowModel tensorFlowModel = mlContext.Model.LoadTensorFlowModel(_inceptionTensorFlowModel);
Error occures on this line from microsoft manual. I have mana

[2020-06-07 17:44] codemzs commented on #181
@david-uk-hash Thanks for checking back. Unfortunately, we do not plan to support RL in the near future. This is an open source project so encourage and welcome contributions.

[2020-06-08 05:45] mstfbl commented on #5213
Hi @DanBrook,

Thank you for letting us know about this issue. I believe you're said you're able to successfully load the [Inception](C:\Users\mubal\Downloads\inception5h\tensorflow_inception_graph.pb) model on your laptop, but not on your desktop, with the following line, and obtain the following error, correct?

[code]

I have downloaded the inception model and successfully loaded it with the co

[2020-06-08 06:46] DanBrook commented on #5213
Hi, @mstfbl.
Thank you for your fast response.
I have tried different combinations of different versions of redist and redist-Windows-GPU, but nothing helped.
The processor is : Intel(R) Core i7 CPU Q740 1.73GHz 1.73GHz
RAM: 6.00 Gb
x64.
As I have found from the internet, the AVC is for x86. Is there anything else I have missed?

[2020-06-08 15:03] antoniovs1029 commented on #5203
Sorry, I'm not sure I'm following. Are you saying that while writing your sample in #5195 , you found that the TextLoader options used in that sample is actually wrong, because it should be loading the "native-country" (col 13) as string instead of float?

https://github.com/dotnet/machinelearning/blob/c0eeea92533eac507a0958a170bce4a270a7f9d2/src/Microsoft.ML.SamplesUtils/SamplesDatasetUtils.cs#L9

[2020-06-08 16:44] wangyems commented on #5203
Thanks for the write-up! Yes we are on the same page of this issue and the link you shared is helpful:)
I prefer the first option that you provided but not quite follow why "it might still silently fail and the user won't notice this".

[2020-06-08 17:18] LaurensVanAcker opened #5215 "Train a Tensorflow model"
I designed (not trained) a siamese CNN network in Keras (python) and exported it as a SavedModel with the random weights.
_Input = 4 dimensions (left/right image, height, width, RGB).
Output = images change of images being equal._

But I don't understand how I can train this model from .NET Core?

When I use:
[code]

Then I potentially can get the output from the model, but it's untrained, so this

[2020-06-08 17:25] frank-dong-ms commented on #4048
@DiegoStefanon could you please provide a repro project as well as your data?

[2020-06-08 19:29] antoniovs1029 commented on #5203
The first option I suggested, was to add a new option to the text loader such as "FailWithUnparsableFloat" (or something like that). If the user sets it to true, then we'll throw an exception if a float is unparsable, instead of reading it as NaN.

Problem is that the default of that option should be "FailtWithUnparsableFloat = false", because we'd want to keep the current behavior that TextLoader

[2020-06-08 19:46] wangyems commented on #5203
Yeah, that would be a breaking change. Since I neither think this is very much useful and this is even not a bug. I'll close this issue right now.

[2020-06-08 19:46] #5203 closed

[2020-06-08 19:53] chriss2401 commented on #5215
Not sure if this is the right answer, but you can also try using Tensorflow.NET for this purpose:
https://github.com/SciSharp/TensorFlow.NET

[2020-06-09 00:13] wangyems commented on #5211
Thanks for providing the information. I have run part of your code(the only difference is that I use the multi-classification related dataset in ML.NET samples) but not able to reproduce the error. It would be better if you can provide how you extract the data from file if you feel comfortable to do so. Either way, I'll take time on reproducing the error using the dataset you uploaded.

[2020-06-09 03:15] DFMERA commented on #5211
Thank you for the reply. I'm using this code to extract the data from file.
var tmpPath = GetAbsolutePath(TRAIN_DATA_FILEPATH);
IDataView trainingDataView = mlContext.Data.LoadFromTextFile(
path: tmpPath,
hasHeader: true,
separatorChar: '\t',
allowQuoting: true,
allowSparse: false);

I think the problem is with big datasets like the one I attached.
thanks.

[2020-06-09 03:42] frank-dong-ms commented on #4369
close this as no feedback from user, feel free to reopen if necessary.

[2020-06-09 03:42] #4369 closed

[2020-06-09 06:37] wangyems commented on #5211
Which ML.NET version are you using? It seems the above code you provided is not quite fit in our current release.

[2020-06-09 08:13] IvanAntipov opened #5217 "Output vector size of FeaturizeText does not respect MaximumNgramsCount"
### System information
[code]

### Issue

- I build a pipline with ```FeaturizeText``` with MaximumNgramsCount = 50
[code]

- Features vector has a size of 1266 ``` Features: Vector<Single, 1266> ```
- I expect features vector to be of size 50 (MaximumNgramsCount)
[BowVectorSizeRepro.zip](https://github.com/dotnet/machinelearning/files/4750750/BowVectorSizeRepro.zip)

[2020-06-09 09:14] mstfbl commented on #5213
Hi @DanBrook,
The illegal instruction error you received may also hint at a C++ error on your laptop, and since this works on your main machine and my machine, this might indicate that your binaries may not be compiled correctly. Please clean and rebuild your solution, and make sure to delete `bin` and `obj` folders that are produced during builds and runs, and see if your solution works.

[2020-06-09 10:31] Vya4ik003 opened #5219 "Train a simple neural network"
### System information

- **OS Windows 7**:
- **.NET 3.1.300**:

### Issue

- **What did you do?** - I'm trying to create a simple neural network that returns a given number
- **What happened?** - I give bad prediction
- **What did you expect?** - I expect to get number, which I give to model

### Source code / logs

[code]

[2020-06-09 10:49] mstfbl commented on #5215
Hi @LaurensVanAcker,

To my knowledge, you currently cannot retrain another model other than one of the embeded networks from `ImageClassificationTrainer.Architecture` (as you've noted) on ML.NET.  This can be a feature request which can be worked on in the future.

[2020-06-09 12:29] LaurensVanAcker commented on #5215
I think it's an advantage if it could be trained from within Dot NET, so you can retrain an existing custom model in production using the existing input (if the statistical variables are the same). Data also needs a lot of preprocessing. So this means I now need to build this preprocessing workflow both in Python as in C#. And data augmentation works completely differently in both.

Somebody alrea

[2020-06-09 15:21] brianfeucht commented on #3154
[ImageSharp ](https://docs.sixlabors.com/articles/imagesharp/index.html?tabs=tabid-1)just released RC2.  I would love an implementation of the `ImagePixelExtractingTransformer` which is based of ImageSharp instead of GDI

I started to take a look at implementing something locally, but access modifiers on the base classes make that difficult.  I haven't had time to look it is beyond that.

[2020-06-09 16:34] ganik opened #5220 "DateTimeTransformer cant find its own json data"
ML.NET 1.5.0
ML.Featurizers 0.17.0
Featurizers 0.4.1

Run NimbusML test_datetimesplitter.py method test_holidays. You get Exception:

RuntimeError: Error: *** System.Exception: ''Canada' is not a supported country name'
StackTrace:    at Microsoft.ML.Featurizers.DateTimeTransformer.TypedColumn.CreateTransformerFromEstimatorBase(HolidayList country)
at Microsoft.ML.Featurizers.DateTimeTransformer..

[2020-06-09 16:43] ganik opened #5221 "CrossValidation Macros stops working in 1.5.0"
ML.NET 1.5.0

Have NimbusML (built with ML.NET 1.5.0, here is [PR](https://dev.azure.com/aifx/public/_build/results?buildId=2988&view=results) that does this )
Run the tests in [test.cv](https://github.com/microsoft/NimbusML/blob/master/src/python/nimbusml/tests/model_selection/test_cv.py)
test_default_label2  fails with error:
Error: *** System.InvalidOperationException: 'Column 'GroupId' not fou

[2020-06-09 18:16] DFMERA commented on #5211
I just updated to ML.NET 16.0 y .NetCore 3.1. I'm gonna create a small simple project with just the code you need to reproduce the error.
I've tried different datasets and different experiment options and the error is the same in the multiclass experiment.

[2020-06-09 18:56] #4132 closed

[2020-06-09 19:44] wangyems commented on #5211
Update: I truncated your dataset to hundreds of rows and your code works fine. So you may right the problem may be due to the large dataset. I am right now running using the original dataset and waiting for the results.

[2020-06-09 21:26] DFMERA commented on #5211
CORRECTION. I'm using this version of ML.NET
<PackageReference Include="Microsoft.ML" Version="1.5.0" />
<PackageReference Include="Microsoft.ML.LightGBM" Version="1.5.0" />
<PackageReference Include="Microsoft.ML.AutoML" Version="0.17.0" />
And .NETCore 3.1

[2020-06-09 21:33] mstfbl commented on #5184
Hi @frank-dong-ms,

I have tested both running these tests separately, and running these tests with others as part of our CI runs on my local Mac, and have not been able to reproduce these failures. I'm closing this issue for now, but we should re-activate if we can get a more stable reproduction.

[2020-06-09 21:53] CBrauer opened #5222 "Trouble using RobustScaler"
### System information

- Microsoft Windows 10 Enterprise, Version	10.0.18363 Build 18363

- ML.NET v1.5

### Issue

I'm trying to transform my dataset with the RobustScaler.  The program compiles and runs, but I get the exception:

`Unable to find an entry point named 'RobustScalerFeaturizer_float_CreateEstimator' in DLL 'Featurizers'.`

Here is a segment of my code where the exception is thrown:

[2020-06-09 22:59] frank-dong-ms commented on #3202
VectorType is not necessary in this case, change the Class to below will work for both cases:

public class IrisData
{
    [LoadColumn(0,2)]
    public float[] Features { get; set; }
    [LoadColumn(3)]
    public float Label { get; set; }
}

I'm not sure why we allow below definition when using text loader at first place, to me the definition itself is contradiction (can't be float and vector at

[2020-06-09 23:20] DFMERA commented on #5211
Update: Here it is a small project with just the code you need to reproduce the error. I tried with a small dataset and the error is the same.
[MLMulticlassExperiment.zip](https://github.com/dotnet/machinelearning/files/4755346/MLMulticlassExperiment.zip)

[2020-06-09 23:41] frank-dong-ms commented on #3202
I think we should encourage user to use pattern that works in both text loader and in memory data with consistent definition like below:

[code]

[2020-06-09 23:49] frank-dong-ms commented on #3202
At current stage I prefer not to change the behavior of text loader as we might break user's code in similar case.

Close this issue now as seems no further action required. CC @harishsk

[2020-06-09 23:49] #3202 closed

[2020-06-10 00:14] frank-dong-ms commented on #5184
Thanks Muftafa, I would like to keep this issue open but we can work on other issues first until we see more similar failures.

[2020-06-10 00:23] frank-dong-ms commented on #3872
@prathyusha12345 could you please provide your dataset file? I'm not sure where is below dataset:  \ct01\data\Criteo\Spark\day_0-23_withHeader.tsv

[2020-06-10 00:34] wangyems commented on #5211
Thanks for providing the example and version information:) So right now I can reproduce the error. I'll take a look into this.

[2020-06-10 03:27] michaelgsharp commented on #5222
Hey @CBrauer, the issue is that we have the incorrect version of the `Featurizers` dll being linked when we create the nuget package. This one is on me as I updated the version in the source code, but did not update the version in the `.nupkgproj` file itself.

I will create a PR shortly that will address this. A workaround for you for now would just be to manually update/install the correct versi

[2020-06-10 04:03] frank-dong-ms commented on #3665
@PeterPann23 Thanks for using ML.NET, could you please try with latest version of ML.NET(1.5.0) see if the issue persists? Also, if you still face the issue, could you please provide complete repro code and data(not whole TB data but dataset that are able to repro the issue will be enough) so we can investigate more?

[2020-06-10 04:06] frank-dong-ms commented on #5210
@dasokolo could you please provide a repro project and necessary dataset so we can investigate further? BTW, are you working on latest version of ML.NET (1.5.0)?

[2020-06-10 04:12] frank-dong-ms commented on #4575
@jigarhshah17 Thanks for using ML.NET. Could you please provide complete repro project with the ArgumentOutOfRangeException issue? Also, what language are you using (looks like VB but I'm not sure yet)?

[2020-06-10 04:19] frank-dong-ms commented on #3747
@PeterPann23 could you please try with latest version of ML.NET see if you can repro this issue? If you still have the issue, could you please provide a complete repro project and dataset so we can investigate further?

[2020-06-10 05:35] #5222 closed

[2020-06-10 07:02] wangyems commented on #5211
The reason for throwing overflow is as follows:

The _reservation_status_date_ column has a little bit more unique values which triggers AutoML to map each of those unique value to a vector of size 65536. The AutoML also believes that there could be up to 65536 unique values so an overall size of 65536*65536 vector will be generated to store those mapped value. That size is bigger than some thresh

[2020-06-10 07:04] mstfbl commented on #5213
Closing this issue as it is currently a non-fix issue.

[2020-06-10 07:04] #5213 closed

[2020-06-10 09:01] mstfbl commented on #5217
Hi @IvanAntipov , I have reproduced your issue, and am working on a fix. Thanks!

[2020-06-10 09:06] PeterPann23 commented on #3665
Hi Frank

I'm no longer using ML.Net as the training was to inaccurate and the PoC is closed, I will try again when the next project comes along.

[2020-06-10 09:08] PeterPann23 commented on #3747
as mentioned in the previous comment, PoC is closed and not working with ML.Net anymore. perhaps next time respond faster

[2020-06-10 09:23] mstfbl commented on #5219
Hi @Vya4ik003,

Thank you for opening this issue. I'm not sure what is trying to be done here. Can you please give more info what you're trying to predict, and what you're training on?

In addition, I see that you are using the Sdca trainer. In the documentation [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.trainers.sdcaregressiontrainer?view=ml-dotnet), you can see that SdcaRegr

[2020-06-10 09:27] mengaims opened #5224 "Filter anomalies according to boundaries under AnomalyAndMargin mode in SrCnnEntireAnomalyDetector"
In previous code of SrCnnEntireAnomalyDetector, under AnomalyAndMargin mode, we calculated UpperBoundary and LowerBoundary according to user’s sensitivity setting, but didn’t update the IsAnomaly field according to the boundaries since we want to allow this flexibility to user.

But considering the completeness of SrCnnEntireAnomalyDetector as a feature, the most important output should be the jud

[2020-06-10 23:20] frank-dong-ms commented on #3234
I can reproduce this issue on latest code base with below extra error:
[code]

after ignore column "Label" on purpose, get below exception:
[code]

so 2 issues here, one is the schema override issue, the other is we are loading extra column "Label" from model.

[2020-06-10 23:40] frank-dong-ms commented on #5210
@dasokolo I can't repro the issue with provided code piece either. Regarding the question, I believe the answer is no but let me check code and get back to you later, thanks.

[2020-06-10 23:52] antoniovs1029 commented on #5221
This issue was introduced in https://github.com/dotnet/machinelearning/pull/4828 which was included in the latest 1.5.0 release. Particularly the problem is in the `return stratificationColumn` here:
https://github.com/dotnet/machinelearning/blob/c6647482482abe4df13ae4712a6e71d84a635b83/src/Microsoft.ML.EntryPoints/TrainTestSplit.cs#L108-L117

The problem is that that method (`CreateStratification

[2020-06-11 04:37] frank-dong-ms commented on #5210
@dasokolo I have checked the code, currently there is no option that can user can set to avoid file operation when load model. I already open a PR to fix the issue you met.

[2020-06-11 06:30] DFMERA commented on #5211
Thank you. I did the change you recommended and it solved the problem. If I'm allow to make a suggestion maybe the name of the column with the value problem could appear in the inner exception so anyone can know what to correct in the data.

[2020-06-11 16:18] JakeRadMSFT opened #5235 "AutoML - Better error message && stop inferring type for label column in regression && classification"
I have a dataset with sparse data and I can't perform value prediction.

Can't upload dataset but I can share screen - Come Chat!

[2020-06-11 16:45] lisahua opened #5230 "[Feature Request] Add Seasonality Detection for Time-Series Data"
### Feature Description

In time series data, [seasonality](https://en.wikipedia.org/wiki/Seasonality) is the presence of variations that occur at specific regular intervals less than a year, such as weekly, monthly, or quarterly. With the support of seasonality and seasonality decomposition, we can improve a list of operations on time-series data:
- Anomaly Detection
- Forcasting
- and more

We p

[2020-06-11 17:18] frank-dong-ms commented on #5052
Can't repro this issue, currently don't have much we can do from our side, close this issue now, feel free to reopen if necessary @luislhg

[2020-06-11 17:18] #5052 closed

[2020-06-11 18:50] frank-dong-ms commented on #5210
This issue should already fixed at below PR:
https://github.com/dotnet/machinelearning/pull/4645

please upgrade to latest version of ml.net.

[2020-06-11 18:56] wangyems commented on #5211
Glad to know that the problem was solved. And yes I think it's better to improve the exception message by adding the column name. I'll have a PR out soon for this.

[2020-06-11 19:23] mstfbl commented on #5217
Hi @IvanAntipov,

In your `FeaturizeText`, while you are correctly setting the value of `WordFeatureExtractor`, you are not setting `CharFeatureExtractor` to `null`, which means the default `CharFeatureExtractor` is being used, which results in the wrong Features Vector size. I have confirmed locally that setting `CharFeatureExtractor=null` gives the correct `Vector<Single, 50>` (Thank you @ganik

[2020-06-11 19:23] #5217 closed

[2020-06-11 21:27] frank-dong-ms commented on #5210
Close this issue now as this already fixed, feel free to reopen if necessary, thanks

[2020-06-11 21:27] #5210 closed

[2020-06-11 23:11] frank-dong-ms commented on #4036
documentation work is done at below PR, close this issue:

https://github.com/dotnet/docs/pull/13663

[2020-06-11 23:11] #4036 closed

[2020-06-11 23:15] frank-dong-ms commented on #2159
This issue is already documented and suggests that IEnumerable needs to be thread-safe, I would like to mark this as enhancement and mark this as P2 CC @harishsk

[2020-06-11 23:41] DFMERA commented on #5211
Do I have to close the issue ? or do you close it when the PR is done?

[2020-06-11 23:43] mstfbl commented on #5211
Hi @DFMERA , the issue will close when PR #5232 is merged. You don't need to do anything else!

[2020-06-12 01:04] david-uk-hash commented on #181
Even a fully featured Neural Network API in C#, will make our life's easier as PPO or Neat can be implemented easily.

[2020-06-12 04:34] michaelgsharp commented on #5220
Not sure why this came in again, but I am creating a PR to fix it right now.

[2020-06-12 15:20] Lynx1820 commented on #5208
Not at the moment.

[2020-06-12 16:47] LittleLittleCloud commented on #5235
The error is thrown because the dataset's label column has value like `<1.0` in the top 200 lines, which can't be parsed into float, so AutoML infers that column type as 'string' instead of 'single'.

It seems like an AutoML bug to me, when creating regression experiment, we don't have to infer label column purpose, which should always be single. Moreover, a better error message with hint can also

[2020-06-12 19:54] CBrauer opened #5237 "Problem with ML.NET RobustScaler"
### System information

- Windows 10 Enterprise 10.0 18363 Built 18363
- Visual Studio 2019, build 16.6.2

### Source code
- I have put my reproduceable project on GitHUb at: https://github.com/CBrauer/Test_RobustScaler

### Program output. Notice that RobustScaler produced an extra column for "vwapGain"

![image](https://user-images.githubusercontent.com/1317234/84540742-e4b97a80-acaa-11ea-9c8c-8

[2020-06-12 20:00] mstfbl commented on #5235
Closing this issue, as after chatting offline with @JakeRadMSFT and reading @LittleLittleCloud's comment, that this is not an ML.NET issue.

[2020-06-12 20:00] #5235 closed

[2020-06-13 01:57] mstfbl commented on #5237
Hi @CBrauer ,

Thank you for reporting this issue. I see that you are using outdated libraries in your codebase. For example:
- `mlContext.Transforms.NormalizeRobustScaling` instead of `mlContext.Transforms.RobustScaler`
- `mlContext.Data.CreateTextLoader` instead of `DataFrame.LoadCsv`
- `IDataView` instead of `DataFrame`

Please check out the current [ML.NET API](https://docs.microsoft.com/en-us

[2020-06-13 01:57] #5237 closed

[2020-06-13 05:04] justinormont opened #5238 "Spell check in NormalizeRobustScaling"
These should say, "Whether to center the data around 0 by removing the median. Defaults to true."

https://github.com/dotnet/machinelearning/blob/207d466f94442ed58509e9f81dd6ec2a8ed193e7/src/Microsoft.ML.Transforms/NormalizerCatalog.cs#L366

https://github.com/dotnet/machinelearning/blob/207d466f94442ed58509e9f81dd6ec2a8ed193e7/src/Microsoft.ML.Transforms/NormalizerCatalog.cs#L366

Good first PR f

[2020-06-13 16:17] CBrauer commented on #5237
I strongly object to your closing this issue.  Your reply did not address my issue, and it is full of errors.
I went to a lot of trouble to build a test app  that demonstrates the issue.  I would like to make the following four points:

1. The test app was built with the latest release of ML.NET. I am **not** using outdated libraries, as you can  see by the following screen capture
![screen1](http

[2020-06-13 18:59] #5238 closed

[2020-06-13 21:42] boyedarat opened #5240 "DirectML support"
Are there any plans to support DirectML as an alternative to TF?
Have not seen this request in the Issues list.

[2020-06-14 10:06] mstfbl commented on #5237
Hi @CBrauer ,

To address your **point 1**., what I meant by your usage of earlier libraries is that you are using functions like `DataFrame.LoadCsv` and classes like `DataFrame` that we no longer use, and recommended that you use `mlContext.Data.CreateTextLoader` and `IDataView` instead.

To address your **point 2**., we did indeed add `mlContext.Transforms.NormalizeRobustScaling` in our Normaliz

[2020-06-14 12:01] DanBrook opened #5241 "Missing method exception NumSharp.Shape TensorFlow.TensorShape.op_implicit on fit"
System information

Windows 10 pro/18362.836:
.NET 4.7.2:

Issue

Got error “Missing method exception NumSharp.Shape TensorFlow.TensorShape.op_implicit” on fit, while trying to run Microsoft example for ML image classification.

Code:

IEstimator<ITransformer> pipeline = mlContext.Transforms.LoadImages(outputColumnName: "input", imageFolder: _imagesFolder, inputColumnName: nameof(ImageData.ImagePa

[2020-06-14 14:27] CBrauer commented on #5237
Excellent explanations.  I appreciate it.

[2020-06-15 17:27] frank-dong-ms commented on #4048
Close this issue for now as not hearing back with required info to repro and investigate this issue. Feel free to reopen the issue if necessary, thanks.

[2020-06-15 17:27] #4048 closed

[2020-06-15 17:30] frank-dong-ms commented on #4575
Close this issue for now as not hearing back with required info to repro and investigate this issue. Feel free to reopen the issue if necessary, thanks.

[2020-06-15 17:30] #4575 closed

[2020-06-15 17:31] frank-dong-ms commented on #3872
Close this issue for now as not hearing back with required info to repro and investigate this issue. Feel free to reopen the issue if necessary, thanks.

[2020-06-15 17:42] wangyems commented on #5240
@boyedarat Thank you for reaching out! Adding DirectML support for ML.NET is not in our immediate roadmap. We will add it to our list of requested features to be considered when we plan the next release. Can you please share some details about your specific use case that will help us prioritize this feature request?

[2020-06-15 17:49] frank-dong-ms commented on #3665
Thanks for trying out ML.NET, I feel really sorry our team didn't response and provide help in time, we have refined our DRI process recently to provide better customer support on github.
Recently we have done tons of work on improving code stability, providing new features like srcnn anomaly detection and  enhancement on better onnx support and various enhancement on text loader. So, please do tr

[2020-06-15 17:52] frank-dong-ms commented on #3747
I'm really sorry to hear that, as commented in issue: https://github.com/dotnet/machinelearning/issues/3665, our team already refined customer support process on github, our response will be much faster in future. Also, we are keep introducing new features and providing support, please try out ML.NET next time when possible, thanks.

[2020-06-15 17:52] #3747 closed

[2020-06-15 17:53] #3665 closed

[2020-06-15 19:06] wangyems commented on #5241
Hi @DanBrook,
I have this sample run locally without any exceptions. Have you installed the following nuget packages?
Microsoft.ML
Microsoft.ML.ImageAnalytics
SciSharp.TensorFlow.Redist
Microsoft.ML.TensorFlow

[2020-06-15 21:21] #3234 closed

[2020-06-15 23:34] mstfbl commented on #5190
Hi @pockiez,
Can you provide the code with which you've obtained this error? We cannot diagnose your issue if we do not know how you have obtained it. We will close this issue if we are not able to reproduce in a timely manner. Thanks.

[2020-06-16 01:38] frank-dong-ms opened #5242 "TensorFlowTransformCifar test crash"
Test crash: https://dev.azure.com/dnceng/public/_build/results?buildId=684811&view=logs&j=d1af5113-e574-5a31-f7f3-02fc40ea7b26&t=b03e2d69-ce1a-5899-6643-e9b6085777b9&s=d654deb9-056d-50a2-1717-90c08683d50a

error message:
The active Test Run was aborted because the host process exited unexpectedly while executing following test(s):
Microsoft.ML.Scenarios.TensorFlowScenariosTests.TensorFlowTransform

[2020-06-16 07:00] mstfbl commented on #5199
Hi @MahdiKarimipour ,

I see that the main issue here is in obtaining the full path to your model, indicated by this function on top of the call stack:

`System.IO.Path.GetFullPath(String path)`

This is indicating that the path to the model being provided by `assembly.GetManifestResourceStream` contains illegal characters.

I advise you obtain the full path to your model through `Path.GetFullPath

[2020-06-16 07:01] #5199 closed

[2020-06-16 07:30] mstfbl commented on #5191
Hi @MCPx ,

@Lynx1820 has attempted to reproduce the race condition crash you've obtained, and has not encountered an error. We don't have any further means of reproducing your error. Can you provide a reproducible project and/or code for your pipeline with which you've obtained this issue?

[2020-06-16 07:33] mstfbl commented on #5241
Hi @DanBrook,
Your error seems to be because of missing `SciSharp.TensorFlow` NuGet packages in your project. Have you downloaded [this SciSharp NuGet package](https://www.nuget.org/packages/SciSharp.TensorFlow.Redist/) for training on CPU? If so, please confirm you have done so, so that we can investigate any further possible scenarios. If not, we will close this issue as it most likely is due to

[2020-06-16 11:59] DanBrook commented on #5241
Hi @mstfbl!

Thank you, for fast response. I have downloaded scisharp and have tried to install it from VS and manually, and different versions. Nothing helped.

[2020-06-16 16:38] #5220 closed

[2020-06-16 19:51] wangyems commented on #5211
Hi @DFMERA ,
I took a look of the AutoML samples in our codebase() and find they use Evaluate() instead of Crossvalidate(https://github.com/dotnet/machinelearning/blob/master/docs/samples/Microsoft.ML.AutoML.Samples/MulticlassClassificationExperiment.cs#L40)
`// STEP 4: Evaluate test data
IDataView testDataViewWithBestScore = bestRun.Model.Transform(testDataView);
MulticlassClassificationMetrics t

[2020-06-16 21:05] wangyems commented on #5241
Hi @DanBrook ,
Seems like this linkage issue of SciSharp(Thanks @mstfbl for narrowing down the problem) is probably caused by VS on your machine, Can you try install another VS with different version?(This may not be a good solution but sometimes works)
Meanwhile, have you tried deleting the binaries and rebuilding the solution?
Thanks

[2020-06-16 22:42] DFMERA commented on #5211
Hi. I think that part of the code is fine because is for evaluating the model with the test data that was not included in the training process, and that code is base on the ml.net documentation in this page
https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.automl.multiclassclassificationexperiment?view=ml-dotnet-preview

Although, I did see an error in the test IDataView (testDataView) sinc

[2020-06-16 23:34] wangyems commented on #5211
Hi @DFMERA ,
The code in the link in your reply uses Evaluate() in step 4, but in your source code CrossValidate() is used. And please note that CrossValidate() is not for evaluating the data but training the data.
To solve the problem in summary:
1, you may want to change this line from
`var testMetrics = mlContext.MulticlassClassification.CrossValidate(testDataViewWithBestScore, bestRun.Estimato

[2020-06-17 03:06] mstfbl commented on #5242
The following error statements occur with this test on this specific run:

[2020-06-17 04:56] #5211 closed

[2020-06-17 17:53] DanBrook commented on #5241
Hi @wangyems,
I have tried to rebuild and delete binaries.
Today I have updated my VS for the last version and my windows too. Reloaded SciSharp and all its dependencies.
Still have the same problem.

[2020-06-17 18:16] mstfbl commented on #5132
Hey @iluveu28,

Can you share your code and repro so that we can check how exactly you are loading your model with `predictionEnginePool.GetModel(modelName: "ModelA")`? Perhaps we can help you on exactly why your model is not loading.

Also, in the Stack Overflow issue you've made, I see a suggestion has been to add a function to see if the model has been correctly loaded or not by `PredictionEngi

[2020-06-17 18:20] mstfbl commented on #5241
Hey @DanBrook ,

In this case, please share your project with us by following the directions [here](https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files). We can better support you if we can debug your project with the exact installed packages. You can also email your .zip to Ye and I if you wish. Emails: wangye@microsoft.com, mubal@microsoft.com.

[2020-06-17 22:14] mstfbl commented on #5182
Hi @adriansd27 , can you please provide your entire project in a zip file, so that we can diagnose your issue? We're unable to reproduce your error as you have not provided the whole code in the issue.

[2020-06-17 23:17] jacobthamblett opened #5247 "PermutationFeatureImportance not working with AutoML API"
### System information

- Windows 10 Pro, build 18363
- Visual Studio 2019 Professional
- C# Console Application, in .NET Core 3.1

### Issue

- Using the AutoML API to generate ML multiclassification model from large network datasets stored in CSV file. The model produced by the API provides accurate prediction, with reasonable results in the following metrics: MicroAccuracy, MacroAccuracy, LogLo

[2020-06-17 23:18] Lynx1820 commented on #4954
Hi @Zeraphil and @u-ashikov,

If you still have this issue, could you provide your dataset/code? I can take a closer look.

[2020-06-17 23:41] antoniovs1029 commented on #3711
I believe this problem isn't particular of Ranking and CV with a `GroupId `column, but in general of using a `KeyDataViewType` column as a `SamplingKeyColumn `when doing both `TrainTestSplit` or `CrossValidation`, and only in the case that the `KDVT` column has values that aren't evenly distributed across its range.

But in what cases would this occur? You point out to this case:

My understanding

[2020-06-18 00:04] Lynx1820 commented on #3711
@justinormont also brought up that queryIds in ranking are often reused, and thus popular queries will often be found earlier on the dataset, making the first fold over-sized, so the better approach is to hash the groupId.

[2020-06-18 00:45] rhysparry opened #5650 "[DataFrame] Inconsistent null handling in DataFrameColumn arithmetic"
Suppose that I have the following DataFrame:

[code]

When performing mathematical operations where either side is `null` I would expect the `null` to be propagated to the resulting column.

Indeed, that is what happens when the `null` value is the left-hand operand. E.g.

[code]

Here the result is a column of nulls, but if we reverse the operands:

[code]

The nulls in the Foo column are effecti

[2020-06-18 03:43] mstfbl commented on #5190
Closing this issue as author has not responded. @pockiez feel free to reopen this issue and provide your repro for our diagnosis. Thanks.

[2020-06-18 03:43] #5190 closed

[2020-06-18 06:04] yaeldekel commented on #3711
@antoniovs1029 , the API for loading key types directly in text loader is probably not very commonly used, but it does exist:
https://github.com/dotnet/machinelearning/blob/master/src/Microsoft.ML.Data/DataLoadSave/Text/TextLoader.cs#L73-L83

Query IDs are often multi digit numbers all in a certain range, which does not necessarily begin with 0. In previous, very old versions of ML.NET, the `KeyDa

[2020-06-18 06:41] antoniovs1029 commented on #3711
Thanks for your reply @yaeldekel . I wasn't aware of that possibility for `TextLoader` to also load directly `KeyDataViewTypes`. Good to know about it. I also don't know how common the usage of it is, so I'd agree that we can postpone fixing this issue until an actual user hits it. Thanks!

[2020-06-18 13:38] gartangh commented on #4807
I created a minimal working example based on [the DeepLearning_ImageClassification_Training example](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/DeepLearning_ImageClassification_Training), that reproduces the bug [here](https://github.com/dotnet/machinelearning-samples/compare/master...gartangh:validation_metrics).
I updated to **version 1.5.0**, ch

[2020-06-18 18:14] Lynx1820 commented on #3711
@yaeldekel Assuming that `queryIds` are reused and thus more popular `queryIds` get found earlier on the dataset, the most popular `queryIds` will be mapped to lower key values. Thus, hashing would redistribute the `queryIds` with large sets of queries.
The ranking experiment just added to AutoML does hash the `queryIds`, so I don't believe we would encountered this issue there.

[2020-06-18 18:27] antoniovs1029 commented on #5247
Hi, @jacobthamblett .

So, I think I have the solution for your first attempt, although I'm not sure of how to fix your second attempt. Still, I think that if my suggestion for your first attempt works, it will be enough to fix your problem and close this issue. 😄

**About your first attempt (using AutoML with PFI)**
To have access to the `.LastTransformer` of your trained model, you'll need to ca

[2020-06-18 18:34] antoniovs1029 commented on #4196
This looks like a duplicate of #3972 .
The way to make it work with regression models for AutoML should be pretty much the same as to what is explained here: https://github.com/dotnet/machinelearning/issues/3972#issuecomment-638904032 .

[2020-06-18 18:34] #4196 closed

[2020-06-18 19:22] Lynx1820 commented on #5159
Updating the title.
As @jwood803 mentioned above, we already support pretrained word embeddings. You can also consume a contextualized word embedding model for prediction with Onnx,. However, we currently don't support training for these models.

[2020-06-18 22:01] jacobthamblett commented on #5247
Thanks @antoniovs1029 ,

Extracting the already trained model was my initial hope, however the example above was just following the [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.permutationfeatureimportanceextensions.permutationfeatureimportance?view=ml-dotnet#Microsoft_ML_PermutationFeatureImportanceExtensions_PermutationFeatureImportance__1_Microsoft_ML_MulticlassClass

[2020-06-18 23:06] antoniovs1029 commented on #5247
Judging by the exception message, it seems that AutoML is adding a `KeyToValueMappingEstimator` on top of your pipeline, so the `.LastTransformer` is a `KeyToValueMappingTransformer` and we can't extract the `linearPredictor` from that transformer... we need to find the "PredictionTransformer" inside the `TransformerChain`, to extract the `linearPredictor` from it (judging by your sample code, I t

[2020-06-19 01:01] jacobthamblett commented on #5247
So I can find the MulticlassPredictionTransformer - it's inside a TransformerChain within the transformersArray at index 0:
![image](https://user-images.githubusercontent.com/67051646/85085520-05fcf800-b1d0-11ea-9155-ac8b6bf3f306.png)

Extracting the MulticlassPredictionTransformer, which would appear to be the LastTransformer element within transformersArray[0] isn't easy as there is no method to

[2020-06-19 01:08] antoniovs1029 commented on #5247
I see. Sorry, I wasn't aware that AutoML was capable of returning this kind of model, with the prediction transformer so hided inside the TransformerChain.

So, the goal is still the same: to get the `linearPredictor` from the prediction transformer. Now that you've identified that the prediction transformer is inside a transformer chain inside the `transformersArray[0]`, then I think this will wo

[2020-06-19 02:35] boyedarat commented on #5240
DirectML allows users to utilize hardware that are not limited to nVidia. After moving from TF to ML.Net, it is frustrating to see that even ML.Net is becoming a wrapper around TF. If I wanted to use TF as a backend for my ML work, I would just use TF.Net. I hope that ML.Net will not evolve into just another TF wrapper, like basically most of the tools out there. I believe this would be an incenti

[2020-06-19 05:09] Jonathan-CG opened #5250 "[bug] Generated code from ML.Net ModelBuilder doesn't work (throws OperationCanceledException)"
### System information

- **OS version/distro**: Microsoft Windows Server 2016 Datacenter 10.0.14393 Build 14393
- **.NET Version (eg., dotnet --info)**: 3.1.301

Using AWS Workspace.

### Issue

- **What did you do?** I used the ML.Net ModelBuilder (https://docs.microsoft.com/en-us/dotnet/machine-learning/automate-training-with-model-builder). I chose a scenario, selected my features/label, train

[2020-06-19 06:02] yaeldekel commented on #3711
I see. Thanks for the clarification @Lynx1820. In this case, hashing will make the first fold not be over-sized, but there will still be some fold (perhaps not the first) that is over-sized.

Using hashing as opposed to value-to-key is preferable for another reason, which is relevant for the actual group Id column, not for the column used for CV: If you use value-to-key, and include that transform

[2020-06-19 06:06] yaeldekel commented on #3711
By the way, if I remember correctly, I think that LightGBM or FastTreeRanking (I don't remember which), checks that a group Id that has already been seen, is not seen again later in the dataset, so reusing query Ids in the same dataset might not work - has this been tested?

[2020-06-19 08:46] yutaraa opened #5251 "[Feature Request] Enable to run ModelBuilder from more than one projects within a solution"
Currently the names of the projects that ModelBuilder generates start with its solution name, not the project name you ran ModelBuilder from.
Therefore after you have run ModelBuilder once, running it from another project occurs project name conflict.
I expect that generated projects should be related to the project, not to the solution.
In my opinion, it is also consistent with the context menu o

[2020-06-19 09:16] deiruch commented on #5159
@Lynx1820 I think the title change is not warranted. The pretrained models are all *context-free* word embeddings. Such embeddings are not/no longer state-of-the-art.

[2020-06-19 11:37] jacobthamblett commented on #5247
Thanks @antoniovs1029 , that's great - it would appear that the your solution has extracted the linear prediction transformer from the transformer chain inside the array of transformer chains. However...

Still following the documentation on [PFI multiclassification](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.permutationfeatureimportanceextensions.permutationfeatureimportance?view=ml

[2020-06-19 14:49] rswethashankar92 commented on #4168
Hi, bpstark your explanation on Platt Calibration was bang on. I need a clarification in an aspect where in fastforest binary classification i need to get the probability for each predicted label. how can i do that ? Please Help.

My Idea is to find the number of trees in agreement with the prediction / Total number of trees in a Fast Forest.

[2020-06-19 17:51] Jonathan-CG commented on #5251
I had this problem aswell. I agree with this. And I think that we should let the user decide which project name he wanna use, if he wants to. There are situations where the project name is not ideal. So instead of creating the project and renaming everything, we could have the option to set the project name right before generating the code

[2020-06-19 17:56] antoniovs1029 commented on #5247
Hi, @jacobthamblett . Looking at the code you shared, and the stacktrace, I think the problem might be that you _need_ to transform the `testDataView` with the model you're trying to evaluate, before passing it to PFI. As seen in [the sample you've linked to](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.permutationfeatureimportanceextensions.permutationfeatureimportance?view=ml-dotnet#

[2020-06-19 18:14] wangyems commented on #5240
Hi @boyedarat ,Thanks for your reply! We will discuss this feature request.

[2020-06-19 18:18] harishsk commented on #5251
Transferring to model builder repo.

[2020-06-19 18:32] wangyems commented on #5250
Hi @Jonathan-CG ,
Does this exception occur when you train the model from scratch(not a re-training)?

[2020-06-19 19:00] antoniovs1029 commented on #3711
Hi, @yaeldekel

I'm not sure what you're referring to. Perhaps it's about the thing I noticed here: https://github.com/dotnet/machinelearning/issues/5022#issuecomment-630577977 and that was later confirmed by @justinormont here: https://github.com/dotnet/machinelearning/issues/5022#issuecomment-630588314, where when training a LightGBM ranking model, it will group the samples with the same `GroupI

[2020-06-19 20:16] #5188 closed

[2020-06-19 22:41] jacobthamblett commented on #5247
Thank-you @antoniovs1029 , that appears to all now be working.

The PFI code is now running using the AutoML's BestRun model, it is taking a long time however for the PFI metrics to be produced, but I guess that's normal?

[2020-06-19 22:54] antoniovs1029 commented on #5247
Glad to hear that you've solved your issue trying to get PFI running! 😄 I will close this issue now.

It's normal for PFI to take some time, as the algorithm needs to to do permutations with every column in features, and it retrains a model from scratch with each permutation. Seeing that you have many columns that you're using as features, I wouldn't be surprised that it takes a couple of hours, a

[2020-06-19 22:54] #5247 closed

[2020-06-19 22:55] Jonathan-CG commented on #5250
Well actually the generated code from ModelBuilder just train a brand new model from scratch, so when I said re-training, what I actually mean was that it trains a new model from scratch. So to answer your question, yes the exception occur when I train the model from scratch.

[2020-06-19 23:27] wangyems commented on #5250
Hi @Jonathan-CG ,
I see. Can you provide a repro sample so that I can dive deep into?

[2020-06-21 11:58] fwaris commented on #3976
Also, confirming that it works.

See this issue comment for some tricks that help when working with AutoML outputs
https://github.com/dotnet/docs/issues/19006#issuecomment-647075298

Note: The fix works in a compiled F# project but not in F# interactive (fsi) because the current fsi is bound to older libraries. I expect that it will work in the new preview version of fsi but I have not tested that

[2020-06-22 13:22] oscarjaergren opened #5253 "Exporting Custom Vision models no longer work"
### System information

- **OS version/distro**:

- **.NET Version (eg., dotnet --info)**:
.net framework 4.8

### Issue

- **What did you do?**
Downloaded new exported model and replaced old one

- **What happened?**
Got exception ""Model variable data, expects Float[-1,3,416,416,], but binding was attempted with an incompatible type Image[544x480].'""

"'The binding is incomplete or does not mat

[2020-06-22 13:59] oscarjaergren commented on #5253
Might have to do with this in the way the models are exported.
Opening the models using netron there's only one difference I can find.

Old working one gets exported with
"denotation: Image(Bgr8,Linear,NominalRange_0_255)"

While the nonworking new ones just has
"denotation: Image(Bgr8)

[2020-06-22 15:33] harishsk commented on #5253
Hi @oscarjaergren

Can you please open the model in Netron and verify that the two models actually have the same types and size of inputs? It is likely that the two models are not compatible.

The stackoverflow link you point to suggests that you are using [Windows ML](https://docs.microsoft.com/en-us/windows/ai/windows-ml/).

This repository is for issues related to [ML.NET](https://dotnet.micros

[2020-06-22 15:33] #5253 closed

[2020-06-22 16:21] harishsk commented on #5182
Hi @adriansd27 If you still have this issue, can you please reopen the issue with a small sample that we can run and reproduce the issue?

[2020-06-22 16:21] #5182 closed

[2020-06-22 17:32] harishsk commented on #5191
Hi @MCPx Can you please reopen the issue when you can share some sample code & data that we can use to reproduce the issue?

[2020-06-22 17:32] #5191 closed

[2020-06-22 17:44] harishsk commented on #5240
Hi @boyedarat Thank you for the additional detail.
One concern around supporting DirectML in ML.NET is that DirectML is its dependency on Direct3D. ML.NET is intended to be a cross platform framework for C# developers and DirectML is currently Windows only. (Though Linux support is now available, but only through WSL).

We are continuing to evaluate multiple options for more deep learning support

[2020-06-22 17:55] Lynx1820 commented on #5193
Hi @rjhornby2,

Closing this issue. Feel free to reopen if you would like us to investigate and can provide the pipeline. Thanks.

[2020-06-22 17:55] #5193 closed

[2020-06-22 17:56] Lynx1820 commented on #4954
Closing this issue. Feel free to reopen if you have a follow up. Thank you.

[2020-06-22 17:56] #4954 closed

[2020-06-22 19:51] #5230 closed

[2020-06-22 22:44] Lynx1820 commented on #5159
Thanks for the clarification. I wrote training because inferencing is already possible by importing an Onnx model, but I understand your ask for a better API.

[2020-06-22 23:53] antoniovs1029 commented on #3711
So a couple of NimbusML tests are failing because of this issue (#3711), even if we're hashing the GroupId column. So I want to leave this for the record, only so that we know that this is still a problem even if we prehash the column (cc: @Lynx1820 , does the new Ranking API for AutoML runs Cross Validation using the GroupId as `samplingKeyColumn`? If so, we might want to keep this issue in mind,

[2020-06-23 00:42] Lynx1820 commented on #4309
Closing this issue, as it's not an issue anymore. #5249

[2020-06-23 00:42] #4309 closed

[2020-06-23 06:53] mstfbl commented on #4807
Hi @gartangh ,

Thank you so much for bringing this issue to our attention, and providing a good repro. I successfully replicated your repro with our local ML.NET build and confirmed the issue.

I figured out that the problem with cross entropy during validation is that it simply isn't being updated in validation metrics, as it is missing in the below code snippet:
https://github.com/dotnet/machin

[2020-06-23 08:51] gartangh commented on #4807
Hi @mstfbl ,

You're welcome. I'm happy that I could be of help.

My guess is that the main part of this issue could be solved by copying that part of the code from training to validation?

About the learning rate during validation: one option would be to remove the `LearningRate` field from `ImageClassificationMetrics.Train` during validation, as it is not actually used. It was just very confusin

[2020-06-23 18:14] harishsk commented on #5250
Hi @Jonathan-CG This bug appears to be about code generated from Model Builder. So I am transferring this to the model builder repo.

[2020-06-23 22:03] frank-dong-ms commented on #5062
Seems question has been answered, feel free to reopen if necessary, thanks.

[2020-06-23 22:03] #5062 closed

[2020-06-23 22:06] wangyems commented on #5241
Closing this issue now. Please feel free to reopen it if you still have any issues.

[2020-06-23 22:06] #5241 closed

[2020-06-23 22:16] frank-dong-ms commented on #4871
@actopozipc thanks for using ML.NET, haven't heard back for a while so close this issue. Feel free to reopen if you can provide more details for us to investigate the issue.

[2020-06-23 22:16] #4871 closed

[2020-06-23 22:18] frank-dong-ms commented on #4856
@cherrex does Gopal's suggestion work for you? Close the issue now, feel free to reopen if you have further questions, thanks.

[2020-06-23 22:18] #4856 closed

[2020-06-23 22:37] frank-dong-ms commented on #4045
@acrigney does yael's suggestion work for you?
Close this now as we don't hear back for a while, feel free to reopen the issue if you have further questions, thanks.

[2020-06-23 22:37] #4045 closed

[2020-06-23 22:41] frank-dong-ms opened #5254 "DnnFeaturizeImage for Resnet18 should return Vector<Single, 512> instead of Vector<Single, 1, 512, 1, 1>"
related to issue: https://github.com/dotnet/machinelearning/issues/4226

[2020-06-23 22:43] frank-dong-ms commented on #4226
close this issue as the break is fixed, opened https://github.com/dotnet/machinelearning/issues/5254 to track the Issue #2 separately.

[2020-06-23 22:43] #4226 closed

[2020-06-23 22:48] frank-dong-ms commented on #4241
@bjoped could you please try out latest version of ML.NET see if still can reproduce the issue?
Close this issue as we haven't hear back for a long time, feel free to reopen if you can provide more info for us to investigate, thanks.

[2020-06-23 22:48] #4241 closed

[2020-06-24 00:42] wangyems commented on #3826
Closing this issue since the current implementation can let user manually define the datatype.

[2020-06-24 00:42] #3826 closed

[2020-06-24 01:27] acrigney commented on #4045
Kool mate I will try when I get a chance but my whole ML stack is built now, I have abstracted the ML.NET into a framework that anyone can use without any real knowledge of ML

[2020-06-24 02:50] mengaims commented on #4958
Attached PR is abandoned due to change of implementation strategy.

[2020-06-24 02:50] #4958 closed

[2020-06-24 02:50] mengaims commented on #5053
Attached PR is abandoned due to change of implementation strategy.

[2020-06-24 02:50] #5053 closed

[2020-06-24 18:54] wangyems commented on #4692
Hi @lefig , does the current release resolve your issues?

[2020-06-25 10:56] ladodc commented on #4048
Hi, I have the same Problem.
I get the following Error on this line **var predictor = mlContext.Model.CreatePredictionEngine<TSrc, TDst>(model);**:
System.ArgumentOutOfRangeException: 'Could not find input column 'SamplingKeyColumn' (Parameter 'inputSchema')'
Hier ist the Code to reproduce this error:

`
using Microsoft.ML;
using Microsoft.ML.AutoML;
using Microsoft.ML.Data;
using Microsoft.ML.Tra

[2020-06-25 11:02] ladodc opened #5256 "AutoML Exception: System.ArgumentOutOfRangeException: 'Could not find input column 'SamplingKeyColumn' (Parameter 'inputSchema')'"
Hi, I get an exception on prediction with AutoML.
Before you run the Problem you need to reference two NuGet Packages Microsoft.ML and Microsoft.ML.AutoML
Here ist the complete code to reproduce the error. Run in VS2019:

[code]

[2020-06-25 17:17] antoniovs1029 commented on #5256
Can you please share your stack trace?

Also, if possible, can you share sample dataset to reproduce your issue?

Thanks.

[2020-06-25 17:23] antoniovs1029 commented on #5256
This seems a duplicate of https://github.com/dotnet/machinelearning/issues/4048 but that issue was closed because we didn't receive any dataset to reproduce that issue, so I think it's ok to have this new issue open.

Still, looking to what users mentioned there, it seems there's actually a bug in TrainTestSplit (and maybe CrossValidationSplit) when working with AutoML. So it would be great if you

[2020-06-26 00:29] antoniovs1029 commented on #5256
Hi, @ladodc . So this is a bug on ML.NET's `mlContext.Data.TrainTestSplit()` method, and I'll work on a solution. In the meantime, there are 2 main ways in which you can avoid receiving this exception:

### Workround # 1 : Not splitting the dataset before running the AutoML experiment
You can simply use:
[code]

Notice that this is valid, because the `experiment.Execute(trainingData)` you call on

[2020-06-26 00:31] antoniovs1029 commented on #4048
For the record, I believe this is an issue on `mlContext.Data.TrainTestSplit()` and `mlContext.Data.CrossValidationSplit()`, as I explain here:

https://github.com/dotnet/machinelearning/issues/5256#issuecomment-649883054

There I also provide some workarounds, but they would vary depending on the case of each user.

[2020-06-26 08:02] jacobthamblett commented on #5247
Thanks @antoniovs1029 for the suggestions around `permutationCount ` and `numberOfExamplesToUse` - I've set the PFI code to perform only 2 permutations, and use 10 examples from the test data, yet this never seems to complete execution.

The code complies and runs, but seems to take forever to execute the following line:
`var permutationMetrics = mlContext.MulticlassClassification.PermutationFeatu

[2020-06-26 08:23] jacobthamblett commented on #5247
UPDATE: The PFI code has now finished executing. It's taken roughly 34 hours to complete 2 permutations using 10 examples (this may have taken less time, but not sure what time it finished running over night). The results seem to output mostly, however there's an out of bounds error accessing the featureColumns array in the final for loop:
[code]
This should hopefully be a simple fix, I may just h

[2020-06-26 08:39] ladodc commented on #5256
Hi Antonio,
thanks for you response and your comments. Yes, I like the workaround with DropColumn and it works. And the future solution with automaticaly dropcolumn  seems to be reasonable for me. My Problem is solved, that´s why I am closing this Issue. Thank you again for you rich comments, clarification and hints. Great!

[2020-06-26 12:50] yousiftouma opened #5262 "Using OnnxTransformer throws TypeInitializationException"
### System information

- **OS version/distro**: Windows 7
- **.NET Version (eg., dotnet --info)**: core 3.1

### Issue
When trying to use OnnxTransformer, the native libraries aren't loaded properly. I can see them under bin\Debug\netcoreapp3.1\runtimes\(platform)\native.
If I use package version 1.4.0 of OnnxTransformer, without installing the runtime myself, it works.
I couldn't find any docs r

[2020-06-26 15:06] antoniovs1029 commented on #5256
Hi, @ladodc . I'm glad to hear the workarounds I suggested have worked to fix your problem.

Since the actual issue is still there (i.e. `TrainTesSplit()` doesn't automatically removes the "SamplingKeyColumn") I'll actually reopen this issue to keep track of that problem until it gets fixed. Since it's a small change, I think I'll be able to fix it soon, though. 😄

[2020-06-26 15:58] antoniovs1029 commented on #5262
Hi, @yousiftouma . I'm sorry to hear you're experiencing these problems, because there are indeed some problems with our OnnxTransformer's docs.

Long story short:
1. When using ML.NET version 1.5.0, users also need to add OnnxRuntime 1.3.0 or OnnxRuntime.Gpu 1.3.0 if they want to use OnnxTransformer.
2. The `fallbackToCpu` parameter is pretty much only used when working with GPUs and the OnnxRunt

[2020-06-26 16:05] yousiftouma commented on #5262
Hi and thanks for your response @antoniovs1029

Good to hear that the docs will be updated, hopefully it will help others with the same questions.

I’ve understood the part about gpu vs cpu so thanks for confirmation about the gpu nuget being sufficient to use the same application on both gpu (when available) and cpu!

I still don’t understand why my app is crashing when using my current setup des

[2020-06-26 16:10] yousiftouma commented on #5262
Also: the sample end to end app with onnx uses ML.NET 1.4.0 so afaik there is no working example with onnxtransformer

(Typing on Mobile now so sorry for bad formatting etc)

[2020-06-26 16:20] antoniovs1029 commented on #5262
OnnxTransformer version 1.4.0 didn't require to install OnnxRuntime, as that was done automatically, so that's why it's working (also, notice that I believe that Onnx GPU support wasn't working on ML.NET 1.4.0 and that's precisely the reason why now in ML.NET 1.5.0 users are required to manually choose and install OnnxRuntime or OnnxRuntime.Gpu).

OnnxTransformer version 1.5.0 should work when man

[2020-06-26 16:32] yousiftouma commented on #5262
I’ll get back to you with a minimal repro, this is a private app, can’t share the source. Shooting for Monday!

[2020-06-26 18:03] antoniovs1029 commented on #5247
Hi, @jacobthamblett . Sorry to hear that running PFI is taking so long. I'd recommend opening a new Issue for this, on how PFI is taking so long, as that issue wouldn't be related to the problems you had with extracting the predictor from an AutoML model (which is the topic of this issue). This way others might be able to give their opinions if they've also had a similar experience, and we can tak

[2020-06-27 00:07] #3192 closed

[2020-06-27 20:08] boyedarat commented on #5240
@harishsk Odd you would state that, considering that the TensorFlow back-end used by ML.Net limits users to nVidia GPUs for any reasonable acceleration. Why would supporting DirectML as a "back-end" that opens up more hardware choices would be bad for ML.Net? I did not imply that TensorFlow be abandoned and to move to DirectML exclusively. Only that enabling the use of DirectML as an alternative o

[2020-06-27 20:47] harishsk commented on #5240
@boyedarat,
I did not rule out supporting DirectML. I only highlighted the issue that if we were to add DirectML support, it would be only on Windows. Currently all APIs of ML.NET are available on Windows, Mac and Linux. We would not be able to support DirectML on Linux and Mac. It is something we would need to consider in our planning.

Using DirectML as a Tensorflow backend when using Tensorflow

[2020-06-29 11:07] yousiftouma commented on #5262
@antoniovs1029

Okay, so I used the sample project [here](https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/end-to-end-apps/ObjectDetection-Onnx).

Running it as-is works as expected (I ran the webapp and uploaded an image and got a result).

Updated the nuget packages for all projects in the solution to 1.5.0 and added `Microsoft.ML.OnnxRuntime` 1.3.0 to all projects as

[2020-06-29 14:15] Ellyster opened #5264 "Using "nameof" in "outputColumnName" of "MapKeyToValue""
### System information

- **OS version/distro**: Windows 10 Enterprise
- **.NET Version (eg., dotnet --info)**: .NET Core 3.1

### Issue
- **What did you do?**
Adapted the Iris as a canary model for our company internal ML platform based on ML.Net.

- **What happened?**
Using to `nameof(IrisModelOutput.Species)`  select the output column name doesn't work.

[code]

If the prediction result DTO `Sp

[2020-06-29 18:43] boyedarat commented on #5240
@harishsk Thanks. Could we reopen this issue again or should I raise a new one?
Would like to track this closely as it stands to benefit many devs like me.

[2020-06-29 18:44] harishsk commented on #5240
I have reactivated the issue and will post any updates here. Thanks.

[2020-06-29 18:58] frank-dong-ms opened #5266 "recent CI failure"
we are start seeing some ci failure recently:

https://dev.azure.com/dnceng/public/_build/results?buildId=709641&view=results
https://dev.azure.com/dnceng/public/_build/results?buildId=706523&view=results
https://dev.azure.com/dnceng/public/_build/results?buildId=706453&view=results
https://dev.azure.com/dnceng/public/_build/results?buildId=699015&view=results
https://dev.azure.com/dnceng/public/_

[2020-06-29 19:35] antoniovs1029 commented on #5264
Hi, @Ellyster . Bellow I'll describe what I think is happening. But I'm still not sure if I understand your use case. If my comments don't work for you, it would be very helpful if you could provide a .zip with your application code, and some sample dataset to actually run the code. If that's not possible, a simplified repro that also shows your problem would help. If still not possible, sharing w

[2020-06-29 21:14] #3902 closed

[2020-06-29 21:30] frank-dong-ms commented on #5266
address #5: https://github.com/dotnet/machinelearning/pull/5265

[2020-06-29 21:53] mstfbl opened #5267 "Property names generated in AutoML's GenerateSampleData() differ from those generated by GenerateClassLabels()"
As @LittleLittleCloud noted in [this comment](https://github.com/dotnet/machinelearning/pull/5177#discussion_r446314964) in PR #5177 for fixing Issue #3902, columns generated from inline data are currently named in the following way:

https://github.com/dotnet/machinelearning/blob/33f5f32a71cbe6f7a8fb03d75fbdb091d15b8fe8/src/Microsoft.ML.CodeGenerator/Utils.cs#L49-L68

This method of directly usin

[2020-06-29 23:47] wangyems commented on #3765
Closing this issue because it has been fixed some point in the past.

[2020-06-29 23:47] #3765 closed

[2020-06-29 23:49] wangyems commented on #4692
Closing this issue for now. Please feel free to reopen it if there's still any issues.

[2020-06-29 23:49] #4692 closed

[2020-06-29 23:51] wangyems commented on #5132
Closing this issue for now. Please feel free to reopen it when you provide the example so that we can prioritize it.

[2020-06-29 23:51] #5132 closed

[2020-06-30 05:14] frank-dong-ms commented on #5266
issue 1 looks like a bug in msbuild versioning. This only happens when the build is crossing 2 days as msbuild versioning is generating versioning file each day so when some project starts to build when the system time is crossing to new day, seems msbuild versioning can't handle this case and read empty BuildNumberMajor and BuildNumberMinor which cause the assembly version number to be a invalid

[2020-06-30 05:15] frank-dong-ms commented on #5266
issue 2 looks like random authentication service lag and is not in our control.

[2020-06-30 05:15] frank-dong-ms commented on #5266
currently no repro on issue 3, 4 and 6

[2020-06-30 16:12] #5221 closed

[2020-06-30 16:12] #5256 closed

[2020-07-01 00:11] go2ready opened #5270 "CreateEnumerable from key column"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: 4.7

### Issue

- **What did you do?**
Trying to create Enumerable from IDataView which contains Column with Type Key<UInt32, 0-1059>, into a uint type.
- **What happened?**
Encountered error:
"Can't bind the IDataView column 'ImpressionIdKey' of type 'Key<UInt32, 0-1059>' to field or property 'Imp

[2020-07-01 00:23] go2ready opened #5271 "ConvertToOnnx options to exclude the data generation pipeline"
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: 4.7

### Issue

- **What did you do?**
Calling `mlContext.Model.ConvertToOnnx(model, colSelTrainingData2, fs);`

Of which `model ` involved data transformations pipeline like encoding, concatenating and column manipulation.

- **What happened?**

All the data transformation pipeline is included in

[2020-07-01 00:54] frank-dong-ms commented on #5112
This is by design behavior and Antonio has already give suggestions on this issue, close for now.
@ddobric feel free to reopen this issue if necessary, thanks.

[2020-07-01 00:54] #5112 closed

[2020-07-01 01:24] frank-dong-ms commented on #5111
This has already been fixed in below PR: https://github.com/dotnet/machinelearning/pull/4522
We no longer save training set size to text file on file system. Close this issue.

[2020-07-01 01:24] #5111 closed

[2020-07-01 01:38] frank-dong-ms commented on #5113
Close this issue as seems we are lack of information to repro this issue. Feel free to reopen if necessary, thanks.

[2020-07-01 01:38] #5113 closed

[2020-07-01 03:26] wangyems commented on #5254
Deprioritize this issue since it does not block anybody...

[2020-07-01 06:38] antoniovs1029 commented on #5271
Hi, @go2ready . Can you please share the code where you create your model, so that I can fully understand your question . Thanks 😄

[2020-07-01 07:04] antoniovs1029 commented on #5270
Hi, @go2ready . It should be possible for you to create an enumerable from a key column. I don't know why you're getting that exception. Can you please provide a full stacktrace, and also a .zip containing code and data to reproduce your error so I can look closer? Thanks.

For reference, I've just ran this toy example, and it worked as expected:
<details>
<summary> Click to toggle toy example </s

[2020-07-01 09:09] go2ready commented on #5270
Thanks @antoniovs1029 for providing the code snippet, I tired this morning it worked, must be something I have been doing wrong on the pipeline :) Really appreciated

[2020-07-01 09:09] #5270 closed

[2020-07-01 09:20] go2ready commented on #5271
Thank you very much @antoniovs1029 , this gist is what I used to train the model and convert to ONNX https://gist.github.com/go2ready/05a5f6cf95d98ee8f12c8dda71294f4f

This is what the ONNX model exported looks like
![image](https://user-images.githubusercontent.com/7985443/86227033-6acb3180-bb84-11ea-8917-aeb80f88e4af.png)

Ideally I want to produce an ONNX model contains just the part that I cir

[2020-07-01 12:37] ladodc opened #5273 "Error on prediction with LSTM Model in ONNX Format in ML.Net"
### System information

- Windows 10
- .NET Core 3.1, Microsoft.ML 1.5.0, Microsoft.ML.OnnxRuntime 1.3.0, Microsoft.ML.OnnxTransformer 1.5.0

### Issue
I would like to predict Values with my LSTM Model in ONNX Format. I am struggling on data input for my ONNX Model in my ML.NET project. When I run my code, I get an Exception: _System.NullReferenceException: 'Object reference not set to an instance

[2020-07-01 15:28] Ellyster commented on #5264
Then it was probably our missunderstanding on how the SdcaNonCalibrated trainer works based on this example:
https://github.com/dotnet/machinelearning-samples/tree/master/samples/csharp/getting-started/MulticlassClassification_Iris

´´´cs
var trainer = mlContext.MulticlassClassification.Trainers.SdcaMaximumEntropy(labelColumnName: "KeyColumn", featureColumnName: "Features")
            .Append(mlC

[2020-07-01 15:54] lisahua opened #5274 "[TimeSeries Explanation] Score is NaN"
### System information

- **OS version/distro**: .Net 4.8
- **.NET Version (eg., dotnet --info)**: ML.Net 1.5.0

### Issue

- **What did you do?**  Invoke `var prediction = this.mlContext.AnomalyDetection.LocalizeRootCause(input);`
- **What happened?** `rootCauseItem.Score = double.NaN`
- **What did you expect?** Should return a meaningful score (either 0 or 1)

### Source code / logs

Please past

[2020-07-01 17:50] antoniovs1029 commented on #5271
Hi, @go2ready . Unfortunately there's no option in `ConvertToOnnx` to achieve this. In fact I'm not yet sure about how to correctly achieve this, I have some ideas but I'll have to explore them and see if they work before getting back to you.

In the meantime, may I ask you what's your use case and why do you want to separate the preprocessing and the inferencing steps on your Onnx model? Why is e

[2020-07-01 19:54] frank-dong-ms commented on #4322
fix has been merged, close this issue

[2020-07-01 19:54] #4322 closed

[2020-07-01 20:14] antoniovs1029 commented on #5264
Hi, @Ellyster . I'm glad to hear your problem is solved. I'll close this issue now.

The sample you point to is indeed confusing in the way it's reusing the Label column. I'll open and issue on that repository so that changing this is considered. Thanks 😄

[2020-07-01 20:14] #5264 closed

[2020-07-01 20:46] antoniovs1029 commented on #5273
Hi, @ladodc . I believe this is a duplicate of https://github.com/dotnet/machinelearning-samples/issues/828 So I'll close that issue, to continue the discussion here.

Can you please share the full stack trace of your exception? Also, if you're able to share your `.onnx` model, it would be very useful so that we can take a closer look!

At first look, I think the problem is that you're not correct

[2020-07-01 21:02] go2ready commented on #5271
Hey @antoniovs1029 thanks for looking into this. Our use case is that the training and inferencing process is two individual system, and we have to deploy the model from training env to inferencing env. The preprocessing steps in the training is not needed in our inferencing stage which have all the features gathered already, the preprocessing steps will also make the model larger and run slower.

[2020-07-01 22:33] #4700 closed

[2020-07-01 22:44] antoniovs1029 commented on #5271
Hi, @go2ready . Thanks for your answer. I still haven't had the chance to try out a "hack" to let you split your onnx model in two, but I do have some follow-up questions, and some suggestions on how to do the hack yourself in the meantime. But before, please notice that ML.NET doesn't provide any direct way to achieve the result you desire, and we actually don't encourage our users to try to spli

[2020-07-01 22:58] antoniovs1029 commented on #5271
By the way, another alternative would be to explore if there any tools elsewhere that let you manipulate an Onnx graph, so that you can manually remove the preprocessing steps. I don't know of any such tool, but maybe `OnnxRuntime` provides something to do this.

[2020-07-02 01:34] antoniovs1029 commented on #5262
Hi, @yousiftouma . I wasn't able to reproduce your error with the sample you've pointed to.

I tried updating it to OnnxTransformer version 1.5.0 first, without adding OnnxRuntime 1.3.0, and, as expected, it failed with the exception you pointed to. Then I actually added OnnxRuntime 1.3.0 and now it runs as expected, and I was able to upload an image to the app and it worked.

Here are my dependen

[2020-07-02 03:31] lisahua commented on #5274
Fixed already in #5218

[2020-07-02 03:31] #5274 closed

[2020-07-02 04:39] #4364 closed

[2020-07-02 05:58] harishsk commented on #5207
Hi @IvanAntipov Thank you very much for your thoughtful feedback.

You have captured the heart of our dilemma in your feedback. Making more of the internal classes public would make a lot of capabilities available to developers but it also significantly increases our support cost and also seriously impacts our ability to fix bugs and refactor code without breaking existing code.

In theory we may

[2020-07-02 08:55] ladodc commented on #5273
Hi Antonio,

thanks for your response. I will try to follow your recommendation. Meanwhile I can give you my ONNX Model to experiment with this.

[AbschatzungFehlerLSTM.zip](https://github.com/dotnet/machinelearning/files/4862997/AbschatzungFehlerLSTM.zip)

[2020-07-02 09:57] #4807 closed

[2020-07-02 15:31] Luk164 opened #5276 "Instance segmentation"
Is there, or will there be a way to use ML.net for object instance segmentation in an image? Or do I have to use tensorflow wrapper directly for that?

[2020-07-02 17:41] mikhail-barg commented on #5207
@harishsk thanks for the answer. While I understand your concerns of supporting extensive public interfaces, and it's great to know that you are open to discussions and feedback, still it's also true that during a prototyping phase it's important to be able to try and check many options quickly. And one can imagine that it's hardly viable to open an issue and wait for its resolution each time you

[2020-07-02 17:52] mstfbl commented on #4807
Hi @gartangh,

Thank you once again for notifying us about this issue. My now merged PR #5255 added cross entropy metric support for validation training. I did not add learning decay support for validation, as during validation there is no real training being done, so learning rate decay is not applicable here.

[2020-07-02 18:04] mstfbl opened #5277 "No ONNX model export support for {FixedPlatt, Isotonic, Naive}CalibratorEstimator(s)"
For tracking purposes. The following CalibratorEstimators do not have ONNX model conversion support:
- `FixedPlattCalibratorEstimator`
- `IsotonicCalibratorEstimator`
- `NaiveCalibratorEstimator`

`PlattCalibratorEstimator` does have ONNX export support. This issue will be closed when the remaining calibrator estimators have ONNX export support, and are being tested for ONNX conversion in the mann

[2020-07-02 18:13] antoniovs1029 commented on #5276
Hi @Luk164 . Currently ML.NET doesn't provide any transformer to do object segmentation.

Still, we do provide tools to run pretrained tensorflow models or onnx models. If you have a pretrained model that can do image segmentation, then you'd be able to make it run on ML.NET with the right setup. Please, refer to our sample repository to see how to run Tensorflow or Onnx models. I believe there's

[2020-07-02 18:21] antoniovs1029 commented on #5277
For the record, support for onnx export of PlattCalibrator was added on the PR:
https://github.com/dotnet/machinelearning/pull/4699

After a quick look, it seems that all calibrators would share the same onnx implementation, so I guess this should be straightforward to fix, simply replicating the same steps that were done for PlattCalibrator.

[2020-07-02 18:25] antoniovs1029 commented on #5277
For the record, support for onnx export of PlattCalibrator was added on the PR:
#4699

EDIT: After a quick look, it seems that doing this for PlattCalibrator was straightforward because it already had its own implementation of how to export it to Onnx. But for the other calibrators, I think it would also be necessary to make that implementation. (Note: I'm not sure about Naive or Isotonic, but at

[2020-07-02 18:31] LittleLittleCloud opened #5278 "Usabilla Feedback: User is facing dependency issue"
@v-mepa commented on [Tue Jun 30 2020](https://github.com/dotnet/machinelearning-modelbuilder/issues/874)

**User Comment:** There is a dependency problem with Microsoft.ML and Microsoft.ML.DataView needing System.Collections.Immutable 1.2.3.0. Not sure how System.Collections.Immutable 1.7 (newest version) got in the packages directory but I can't change it to the old version so can please update

[2020-07-02 19:09] harishsk commented on #5207
Yes, during prototyping you do want to move quickly and build fast. One other approach I can suggest during prototyping is to make private builds. If all you need is some internal class made public during prototyping, please do so in a private build of ML.NET.  If your prototype is successful the change is useful, there are two further approaches we can consider.

- If the change fits in the exist

[2020-07-02 19:40] Luk164 commented on #5276
@antoniovs1029 Thank you, I thought that would be the case but I wanted to make sure. So I will have to use sciSharp repositories directly, will probably use Keras as it is still a framework over tensorflow so it should make stuff easier. Any recommendations? I am pretty new to this.

[2020-07-03 04:43] frank-dong-ms commented on #4909
This issue is different issue with issue #4926, issue #4926 is converting from EstimatorChain to IEstimator and lose information like need cache. This issue is when try to call AppendCacheCheckpoint after an empty EstimatorChain and no cache will happen.

[2020-07-03 10:15] ErwanL08 opened #5281 "Request : Apply Lemma / stemming in FeaturizeText options"
Hi
First Thank you for all the work done, i know that FeaturizeText apply NLP preprocessing like skipword with a specifique language :
![image](https://user-images.githubusercontent.com/16559628/86459192-bddcea00-bd26-11ea-8274-d3ad23a55eeb.png)

But is there a way to apply lemma / stemming in this function ?

[2020-07-03 16:23] FunBobby1956 opened #5282 "Using a CSV to train with"
Firstly, header row cannot contain any special characters such as a '/'. Documentation or tutorials do not mention this. Secondly, I would expect that any string found in the source CSV file would be transformed into a single for me before training. I think that this defeats the purpose of the ML automation built into the Model Builder. I would expect to have to perform some data normalization in

[2020-07-03 18:17] #5267 closed

[2020-07-03 20:11] darren-zdc opened #5283 "Averaged Perceptron in MultiClass classification"
Hi,

I am trying to use the AveragedPerceptron trainer in a multiclass scenario with labeled columns like "1", "2" or "3", but I only found an example in a binary classification problem, which is not what I want.

Is there a document mentioned AveragedPerceptron in Multiclass problem?
Or how can I approach it?

I originally used the ModelBuilder to training my multiclass data, and I got an Average

[2020-07-03 23:42] justinormont commented on #5283
`AveragedPerceptron` is a binary classification algorithm. You can use it within `OneVersesAll`, which allows binary classification algos to work on multiclass tasks.

See example:
https://github.com/dotnet/machinelearning-samples/blob/5308cda61042f1182ff8e00e13b08dbb423c3696/samples/csharp/getting-started/BinaryClassification_SpamDetection/SpamDetectionConsoleApp/Program.cs#L52-L54

You can also

[2020-07-03 23:53] #5283 closed

[2020-07-05 07:11] boyedarat opened #5284 "ML.NET CLI support for F#"
### System information

- **OS version/distro**: Microsoft Windows [Version 10.0.19041.329]
- **.NET Version (eg., dotnet --info)**:
`.NET Core SDK (reflecting any global.json):
 Version:   3.1.301
 Commit:    7feb845744

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.301\

Host (useful

[2020-07-05 13:13] gartangh commented on #4807
Hi @mstfbl

I just verified your changes by building the master branch locally.
This was the output:
![image](https://user-images.githubusercontent.com/20618666/86533216-c6245900-becf-11ea-8bc5-29e2d4aad59a.png)
This looks really good!
The cross-entropy and learning rate decay seem to work correctly.
Printing the learning rate during validation would probably be too confusing, so I understand why

[2020-07-05 19:09] petropolitana opened #5285 "System.MissingMethodException: 'Method not found: 'System.Threading.Tasks.Task`1<ResourceDownloadResults>"
### System information

- **OS version/distro**:
Windows 10
- **.NET Version (eg., dotnet --info)**:
.NET Framework 4.7

### Issue

- **What did you do?**
Tried to train a model with InceptionV3
- **What happened?**
Crashed with MissingMethod
- **What did you expect?**
Expected no errors

### Source code / logs

            var options = new ImageClassificationTrainer.Options()
            {

[2020-07-06 09:03] VinuthaRaghavendra opened #5286 "Input shape mismatch: Input 'image_tensor' has shape (-1, -1, -1, 3), but input data is of length 2160000.'"
### System information

- **OS version/distro**:
Windows 10
- **.NET Version (eg., dotnet --info)**:
.NET Core 2.1

### Issue

- **What did you do?**
I created my own TensorFlow object detection model and tried to load it in a C# console application.
- **What happened?**
When I tried to create a model by using pipeline.fit I get this error System.ArgumentOutOfRangeException: ”System.InvalidOperati

[2020-07-06 16:41] mstfbl commented on #4807
Of course, anytime @gartangh ! Please feel free to make more issues/feature requests if you see any in the future, and I hope you continue to enjoy using ML.NET!

[2020-07-06 17:41] frank-dong-ms commented on #5285
@petropolitana could you please provide a complete project for us to repro this issue? At the same time I will try to repro this issue with the code piece you provided.

[2020-07-06 17:49] frank-dong-ms commented on #5286
@VinuthaRaghavendra could you please share your model file so we can investigate further?

[2020-07-06 18:42] wangyems commented on #5286
This might have been fixed by [this commit](https://github.com/dotnet/machinelearning/commit/c459af0d792469da0e8948cd612998bd880574e3). Do we have a nightly build nupkg for user to try out? @frank-dong-ms

[2020-07-06 19:19] frank-dong-ms commented on #5286
@wangyems Thanks, we do have nightly build package with latest fix.

@VinuthaRaghavendra this is the latest nuget package with fix Ye mentioned, please have a try:
[microsoft.ml.vision.1.5.1-29103-1.nupkg.zip](https://github.com/dotnet/machinelearning/files/4880839/microsoft.ml.vision.1.5.1-29103-1.nupkg.zip)

[2020-07-06 19:32] antoniovs1029 commented on #5281
Hi, @ErwanL08 . Unfortunately, there's no option for doing lemmatization or stemming in ML.NET, so I will mark this issue as a feature request so that we can take it into account when planning future features.

In the meantime, there are a couple of options you can explore:

1. **Apply lemmatization/stemming before creating the input DataView.** I notice in your screenshot that you're using `LoadF

[2020-07-06 20:01] antoniovs1029 commented on #5282
Hi, @FunBobby1956 . Thanks for providing us with your feedback.

I am not sure, but it seems your feedback is specifically targeted towards ModelBuilder and not ML.NET itself. If so, please let us know, so that I can transfer this issue to the ModelBuilder's team repo: https://github.com/dotnet/machinelearning-modelbuilder

Also, if you could provide a stacktrace or an error message associated wit

[2020-07-06 20:21] antoniovs1029 commented on #5278
Hi @v-mepa . Thanks for reaching out.

I am confused about the issue you're reporting. As you can see on the nuget.org page, both [Microsoft.ML 1.5.0](https://www.nuget.org/packages/Microsoft.ML/) and [Microsoft.ML.DataView 1.5.0
](https://www.nuget.org/packages/Microsoft.ML.DataView/1.5.0) have a dependency on `System.Collections.Immutable (>= 1.5.0)
`. In fact, they've never had a dependency on

[2020-07-06 20:51] v-mepa commented on #5278
Hey @antoniovs1029 this is the feedback we get on the .NET website through Usabilla. I logged an issue believing it's a valid product feedback and you might want to do something about it. The screenshot is also provided by the Usabilla stating that user was on this page when he reported the issue.
If there is no call to action then you can simply close the issue. I was not sure of this user feedba

[2020-07-06 21:34] antoniovs1029 commented on #5278
I see. I think there must be some confusion on the user side since, as I've explained on my previous post, the dependencies pointed by the user aren't the actual ML.NET dependencies and so there doesn't seem to be an issue. Thus, I'll close this issue. Thanks for reporting this, anyway, @v-mepa  😄

[2020-07-06 21:34] #5278 closed

[2020-07-06 23:56] frank-dong-ms commented on #5285
I tried but failed to repro this issue, I created console project with .NET Framework 4.7 and do image classification training things works fine.

[2020-07-07 04:54] VinuthaRaghavendra commented on #5286
Thanks for the response,

I tried installing nupkg in the project

I get these error:

 Install-Package C:\microsoft.ml.vision.1.5.1-29103-1.nupkg
The 'Source' parameter is not respected for the transitive package management based project(s) ObjectDetection_Pipeline. The enabled sources in your NuGet configuration will be used.
Restoring packages for C:\ObjectDetection_Pipeline.csproj...
Install-P

[2020-07-07 05:02] frank-dong-ms commented on #5286
@VinuthaRaghavendra I see, which packages do you use in your project? I will give you all the packages of latest version so you won't have package dependency issue.

[2020-07-07 05:06] VinuthaRaghavendra commented on #5286
Ok..
Microsoft.ML.ImageAnalytics 1.5.0, Microsoft.ML.TensorFlow 1.5.0 , SciSharp.TensorFlow.Redist 1.15.0

[2020-07-07 07:22] frank-dong-ms commented on #5286
[Downloads.zip](https://github.com/dotnet/machinelearning/files/4883178/Downloads.zip)

Please have a try, thanks

[2020-07-07 14:08] erlonted commented on #5286
I was with the same error , when i try this new package i got this error :
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1102	**Unable to find package Microsoft.ML with version (>= 1.5.1-29103-1)**
  - Found 22 version(s) in nuget.org [ Nearest version: 1.5.0 ]
  - Found 1 version(s) in Local [ Nearest version: 1.5.0-preview-28305-3 ]
  - Found 0 version(s) in Microsoft Vis

[2020-07-07 17:45] frank-dong-ms commented on #5286
[Downloads.zip](https://github.com/dotnet/machinelearning/files/4886322/Downloads.zip)

I put all dependent packages into the zip, please have a try. @erlonted @VinuthaRaghavendra

[2020-07-07 17:53] justinormont commented on #5284
Creating F# code would be a modification to the ML․NET CodeGen.

Three options:
* Use the existing CodeGen'd C# project in your otherwise F# project (I'd recommend this for the moment)
* Transpile from C# to F#. One project that does this: https://github.com/jindraivanek/cs2fs ([example](https://jindraivanek.gitlab.io/cs2fs-online/#?code=PTBU4yunb+GIQWAFAlAAmz3f8GFHEmlGhoaYAqAFgJYDOmTmAhgHbsCuALgP

[2020-07-07 20:47] tolokonnikov commented on #4842
Hi!
I downloaded your project from github and run him. But i did not find .pd file your picture.
Please help me.
I want *.pb file for next transforming to ONNX
Thanks!

[2020-07-07 21:34] tolokonnikov commented on #4842
Ok. I found it.
Need set FinalModelPrefix = outputMlNetModelFilePath or other patg in Options // 5.1 (OPTIONAL)
Thanks

[2020-07-07 22:25] frank-dong-ms commented on #4668
Moved back to hosted agent pool and hangings are go away.

[2020-07-07 22:25] #4668 closed

[2020-07-07 22:26] frank-dong-ms commented on #5266
issue 7 fixed with longer wait time

[2020-07-07 23:00] frank-dong-ms commented on #4842
suggestion has been given, close this issue now. Feel free to reopen if necessary, thanks

[2020-07-07 23:00] #4842 closed

[2020-07-08 01:54] #4484 closed

[2020-07-08 05:14] VinuthaRaghavendra commented on #5286
I have tried installing nuget packages from the Downloads.zip

I get these error even after running with "x64-bits"

![image](https://user-images.githubusercontent.com/62511125/86879044-e76f8a00-c107-11ea-9b04-7b683b8f3d6e.png)

{System.FormatException: Tensorflow exception triggered while loading model. ---> System.DllNotFoundException: Unable to load DLL 'tensorflow' or one of its dependencies:

[2020-07-08 05:29] mstfbl commented on #5285
Hi @petropolitana

We have not been able to reproduce your issue. Please provide a repro of your issue so that we can investigate. We will close this issue if we do not have a repro. Thanks!

[2020-07-08 07:01] frank-dong-ms commented on #5286
@VinuthaRaghavendra I see, in that case could you please share your model file and project so I can have a try? If this is already fix in Ye's PR then you can get work version from next release or I can give you workable nuget packages if necessary(although these packages are internal), if not we can have a further look.

[2020-07-08 07:34] horczech commented on #5286
I am having exactly same problem.  I am trying to run retrained ssd_inception_v2_coco model from [TFOD model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). Here is a [link](https://drive.google.com/file/d/1x9w59he9HRxVMh20UrUgLeNWjJ40KJus/view?usp=sharing) to my retrained model. It throws the same exception for both models.

[2020-07-08 08:28] UlrichSuess opened #5293 "Opaque disruptive handling of variable axes of ONNX-models"
**### System information**
- Win 10, 1903
- .NET 4.7.2

**### Issue**
remark: I do have a functional workaround solution, but it requires quite some nasty additional code and probably is a bit slower than optimal.

The main point of critique here concerns the OnnxTransform class.

**What did you do?**
Tried to do inference with an ONNX-model for sequence labeling with two variable input axes (batc

[2020-07-08 09:06] jwood803 opened #5294 ""Could not find operation" Error When Scoring a Tensorflow Model"
### System information

- **OS version/distro**:
Windows 10 1909 Build
- **.NET Version (eg., dotnet --info)**:
.NET Core SDK (reflecting any global.json):
 Version:   3.1.400-preview-015178
 Commit:    60cb58d3b1

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.400-preview-015178\

Host

[2020-07-08 09:18] horczech commented on #5286
[Here](git@github.com:horczech/MLDotNet_PlayGround.git) is my dummy repo with that problem. To run it you have to download [assets ](https://drive.google.com/drive/folders/163AD7DPosBKN4eZyPFY00D6nOcu5tBVI?usp=sharing) and paste it into the root folder

[2020-07-08 10:51] erlonted commented on #5286
Now it´s working , finally i can retrive the value of 4 tensors :  detection_boxes , detection_scores , num_detections , detection_classes

[2020-07-08 10:53] erlonted commented on #5286
Try to add reference to SciSharp.TensorFlow.Redist this package contains the verios of tensorflow dll´s

[2020-07-08 11:45] horczech commented on #5286
@erlonted @frank-dong-ms I can confirm that provided packages in [Downloads.zip](https://github.com/dotnet/machinelearning/files/4886322/Downloads.zip) + adding `SciSharp.TensorFlow.Redist` solves the problem. Thank you!

![screenshot](https://user-images.githubusercontent.com/5252663/86914736-13e3d000-c121-11ea-8d89-8d6c24099136.png)

[2020-07-08 14:19] VinuthaRaghavendra commented on #5286
MLContext mlContext = new MLContext();

            var data = mlContext.Data.LoadFromEnumerable(new List<ImageData>());

            var pipeline = mlContext.Transforms
                .LoadImages("image_tensor", @"E:\output_original_image\", nameof(ImageData.ImagePath))
              .Append(mlContext.Transforms.ResizeImages(outputColumnName: "image_tensor", imageWidth: 1200, imageHeight: 600, i

[2020-07-08 14:22] antoniovs1029 commented on #5271
Hi, @go2ready . Any updates on this? Were you able to apply any of the suggestions I made? Which one?
Getting feedback from users on this would help us to better understand what changes should we be targeting in the ConvertToOnnx method, if we were to enable users to export only partial pipelines.

Thanks!

[2020-07-08 14:25] antoniovs1029 commented on #5262
Hi, @yousiftouma . Were you able to run OnnxTransformer 1.5.0?
I've created a couple of projects using OnnxTransformer 1.5.0 during the last week, and I haven't had any problems when using OnnxRuntime 1.3.0. So I'm still unsure as to what was causing your exception.
Thanks.

[2020-07-08 15:39] erlonted commented on #5286
I used this way :
1 - Create a class to receive output values
public class Output
	{
		[ColumnName("detection_boxes")]
		public float[] Boxes { get; set; }

		[ColumnName("detection_classes")]
		public float[] Label { get; set; }

		[ColumnName("detection_scores")]
		public float[] Score { get; set; }

		[ColumnName("num_detections")]
		public float[] Detections { get; set; }

	}

2 - Transform th

[2020-07-08 15:40] erlonted commented on #5286
I used this way :
1 - Create a class to receive output values
public class Output
{
[ColumnName("detection_boxes")]
public float[] Boxes { get; set; }

	[ColumnName("detection_classes")]
	public float[] Label { get; set; }

	[ColumnName("detection_scores")]
	public float[] Score { get; set; }

	[ColumnName("num_detections")]
	public float[] Detections { get; set; }

}
2 - Transform the result valu

[2020-07-08 16:07] antoniovs1029 commented on #5273
Hi, @ladodc .

So, after looking closer into this, it turns out that the `(None, 3, 7)` input you have, will actually be pretty much treated as `(1,3,7)` by the `OnnxTransformer`. The first dimension is considered the batch dimension, so it can be ignored.

Also, after playing around I realized that there's no need for the `CustomMappingTransformer` that I suggested in a previous comment, because

[2020-07-08 16:29] antoniovs1029 commented on #5293
Hi, @UlrichSuess . Thank you very much for your feedback. I'm very interested in the workaround you mention, and have some questions I'll make below. But first, let me explain some points:

1. **OnnxTransformer doesn't _really_ support running batch inferencing (i.e., it always runs with a batch size of 1)**. The OnnxTransformer in ML.NET is pretty much a wrapper around [OnnxRuntime](https://micro

[2020-07-08 16:55] yousiftouma commented on #5262
Hi! Sorry for the bad response rate, I am currently on vacation and will get back to you in a couple of weeks!

[2020-07-08 19:58] wangyems commented on #4903
Hi @artemiusgreat,

Sorry for the late response. Regarding your [first comment](https://github.com/dotnet/machinelearning/issues/4903#issue-572912369), you found that the output schema has more than 10 columns and result of prediction is always the same. I'm not 100% sure but it's likely that when you call CreatePredictionEngine(), all the stuff defined in your MyInputModel are considered and whic

[2020-07-08 22:28] jualbina opened #5295 "Not being able to generate code from model on ML.NET CLI"
### System information

- **OS version/distro**: Running over Azure Machine Learning compute cluster, not completely sure on the OS behind it.
- **.NET Version (eg., dotnet --info)**: .NET Core 2.0, I believe.

### Issue

- **What did you do?**
CLI command performed: _saveModel in=inputs/model.zip code=outputs/code.cs_

- **What happened?**
I've got the following error message:
_Error during class

[2020-07-08 22:28] jualbina opened #5303 "Not being able to generate code from model on ML.NET CLI"
### System information

- **OS version/distro**: Running over Azure Machine Learning compute cluster, not completely sure on the OS behind it.
- **.NET Version (eg., dotnet --info)**: .NET Core 2.0, I believe.

### Issue

- **What did you do?**
CLI command performed: _saveModel in=inputs/model.zip code=outputs/code.cs_

- **What happened?**
I've got the following error message:
_Error during class

[2020-07-08 22:30] frank-dong-ms commented on #5294
@jwood803 seems you are trying to load a Keras model (.h5) with ML.NET's load tensorflow model functionality. I believe h5 model format is not valid tensorflow graph format, please try to save model as protocol buffers file (.pb) and try again, thanks.

[2020-07-08 22:33] frank-dong-ms commented on #5286
Thanks everyone, we are about to ship new version of ML.NET with fix to this issue so you can expect to get new packages from public nuget source soon. Close this issue now, feel free to reopen if any necessary, thanks.

[2020-07-08 22:33] #5286 closed

[2020-07-08 22:34] frank-dong-ms commented on #5286
duplicate of below issue: https://github.com/dotnet/machinelearning/issues/4364

[2020-07-08 22:37] frank-dong-ms commented on #5295
@jualbina could you please share the model file so we can investigate further? By the way, how was this model generated?

[2020-07-08 22:40] jualbina commented on #5295
@frank-dong-ms I've attached the model zip file. It has been created using ML.NET CLI via the command TrainTest.

[
[model-mlnet.zip](https://github.com/dotnet/machinelearning/files/4893592/model-mlnet.zip)
](url)

[2020-07-08 23:00] jwood803 commented on #5294
Thanks @frank-dong-ms! Was just wondering, is this only for Tensorflow 1 models and it doesn’t get support Tensorflow 2’s model format?

[2020-07-08 23:38] frank-dong-ms commented on #5294
As far as I know, we are developing TF functionality on an old version of TF.NET which only support TF 1 so I would say TF 1 models are supported for sure. We haven't tested on TF 2 models compatibility as far as I know.

But I checked the document of TF 2 and seems there are no significant compatibility concerns for saved models between TF 1 and TF 2 so worth trying:
https://www.tensorflow.org/gu

[2020-07-09 04:16] frank-dong-ms commented on #5294
I will close this issue if no further question, feel free to reopen, thanks @jwood803

[2020-07-09 07:12] wangyems commented on #4903
Regarding [this comment](https://github.com/dotnet/machinelearning/issues/4903#issuecomment-593165117) , I think that the network structure of the model you implemented does not have any obvious problem.
![image](https://user-images.githubusercontent.com/52801275/87006905-40760700-c176-11ea-83da-825076b2d777.png)
The features(Features.output in the screenshot) that obtained from original data is a

[2020-07-09 07:16] wangyems commented on #4903
As for [this comment](https://github.com/dotnet/machinelearning/issues/4903#issuecomment-596917514). Yes, I think it's likely that tree-based algorithms does not work well on small datasets, and it's probably the expected behavior. I'll reach out to our data scientists to see if we can give you further suggestions.

[2020-07-09 09:35] UlrichSuess commented on #5293
Hi Antonio,

thanks for your fast and very informative response.

Alas, I cannot give you the project itself, there is company IP in the model and test data, but probably that won't be necessary, anyway. The code is in a rather unpresentable proof of concept state, too, right now.

For starters, though, here a few explanations and code snippets hopefully clarifying the approach.

After unsuccessfu

[2020-07-09 11:48] jwood803 commented on #5294
@frank-dong-ms I saved the model again and it generated a "pd" file along with a couple of folders.

![image](https://user-images.githubusercontent.com/1578160/87035954-16453900-c1b8-11ea-93e3-2fc65f443e47.png)

Here's what the model looks like in Netron which is different than what the h5 model had:

![image](https://user-images.githubusercontent.com/1578160/87036027-2fe68080-c1b8-11ea-86c1-36ebd

[2020-07-09 21:11] #4909 closed

[2020-07-09 22:58] danielleiszen commented on #3903
The documentation is clear, however it does not work for me.  I get the following exception when calling DetectSpikeBySsa

`System.TypeInitializationException: 'The type initializer for 'Microsoft.ML.Transforms.TimeSeries.FftUtils' threw an exception.'
DllNotFoundException: Unable to load shared library 'MklImports' or one of its dependencies. In order to help diagnose loading problems, consider s

[2020-07-09 23:08] frank-dong-ms commented on #5294
@jwood803 You need to freeze your tensorflow keras model first then you should be able to load the model from ml.net:

https://devblogs.microsoft.com/cesardelatorre/run-with-ml-net-c-code-a-tensorflow-model-exported-from-azure-cognitive-services-custom-vision/
https://www.dlology.com/blog/how-to-convert-trained-keras-model-to-tensorflow-and-make-prediction/

Feel free to reach out if you have any

[2020-07-09 23:44] frank-dong-ms commented on #3903
@danielleiszen did you add libiomp path to the load library path like below?
`sudo ldconfig /opt/intel/compilers_and_libraries_2020.0.166/linux/compiler/lib/intel64_lin`

you can verify this by check the "LD_LIBRARY_PATH" variable

[2020-07-10 00:11] #5294 closed

[2020-07-10 01:18] wangyems commented on #4903
Closing this issue for now. Please feel free to reopen it if you need more help!

[2020-07-10 01:18] #4903 closed

[2020-07-10 13:45] michaelgsharp commented on #4749
With the merging of PRs #5248, #5258, and #5290, this issue has been resolved. Closing this issue.

[2020-07-10 13:45] #4749 closed

[2020-07-10 17:49] emilylawton opened #5299 "Unable to load shared library 'CpuMathNative' or one of its dependencies."
### System information

- **.NET Version (eg., dotnet --info)**: 3.1

### Issue

- **What did you do?**
Ran the following command from a published AML experiment pipeline:
`maml.exe TrainTest test=inputs/test.tsv tr=LogisticRegression scorer=BinaryClassifierScorer eval=BinaryClassifierEvaluator norm=No cache=+ dout=outputs/pred.tsv loader=TextLoader{col=Name:TX:3 col=Features:R4:4-222 col=Label:R4

[2020-07-10 19:23] frank-dong-ms commented on #5299
@emilylawton Thanks for using ML.NET, I'm not sure what following means, are you using ML.NET directly build from code or from Nuget?

If you are using from nuget package then what version of ML.NET are you using? Please check out below issues that are related:
https://github.com/dotnet/machinelearning/issues/4870
https://github.com/dotnet/machinelearning/issues/4483

[2020-07-10 19:28] harishsk commented on #5207
Hi @IvanAntipov, @mikhail-barg Thank you for the feedback and discussion above. Please do reach out if you have specific issues that we can act upon.

[2020-07-10 19:28] #5207 closed

[2020-07-10 19:37] antoniovs1029 commented on #5293
Thanks for your detailed answer, @UlrichSuess .

Your workaround for making `OnnxTransformer` to work with batches is interesting, and as long as `OnnxTransformer` doesn't support a feature for running with batches, it does sound that your workaround would be the best way to accomplish it (although it does require the preprocessing steps of requiring the user to concatenate and flatten the input a

[2020-07-10 19:46] antoniovs1029 commented on #5271
I'm tagging this as P2 / Feature Enhancement to keep track of the feature request of enabling users to export only part of their pipeline, instead of the whole pipeline.

[2020-07-10 20:46] CBrauer opened #5300 "Strange error about Probability"
### System information

Microsoft Visual Studio Professional 2019 Version 16.6.3
Windows 10 Enterprise, Build 19041.329
ML.NET 1.5.0

### Issue

I generated a console app with mlnet  cli.
I then modified the source code to use Cross Validation.
I'm getting an error during execution.
A screen capture of my running application is:

![screen](https://user-images.githubusercontent.com/1317234/87200529

[2020-07-10 22:22] antoniovs1029 commented on #5282
Hi, @FunBobby1956 .
We would still need your answer on point number 2 of my previous comment, as that problem remains unclear.

As for problem 1, I'm still wondering if this might be a problem on ModelBuilder, so I will transfer this issue to their repository.
Thanks 😄

[2020-07-10 22:27] antoniovs1029 commented on #5262
So, in the meantime, I will close this issue. Please, feel free to reopen if you still face this problem after you return.
Thanks. 😄

[2020-07-10 22:27] #5262 closed

[2020-07-10 22:30] antoniovs1029 commented on #5273
I've opened a PR updating the docs of `VectorTypeAttribute(dims)` so it's clearer that it's only meant to be used for 1-D arrays. And, as mentioned above, I was able to run your sample after flattening the input array. And so I'll close this issue now.

Please, feel free to reopen the issue if you find that the behavior of running the Onnx model isn't as expected, and provide the info requested on

[2020-07-10 22:30] #5273 closed

[2020-07-10 22:37] frank-dong-ms commented on #5299
Offline discussed with Emily about this issue. Seems Microsoft.ML.Console output didn't contains CpuMathNative dependency, not sure if this is on purpose or bug.

There are several things to try out to mitigate this issue:
1. try to use dotnet core 3.1 so you won't need to dependent on CpuMathNative, that is to change configuration from "Release" to "Release-netcoreapp3_1" on both build and publis

[2020-07-10 23:28] antoniovs1029 commented on #3711
For the record,

As discussed offline, I proposed a solution to this problem that would involve redesigning how we split data on TrainTestSplit, CVSplit (and the other related methods), to not use a `RangeFilter`, but use another Filter (perhaps needing to create a whole new Filter) that would actually keep track of how many samples are assigned to each fold, so to make the folds balanced while st

[2020-07-11 02:42] frank-dong-ms commented on #5300
@CBrauer Thanks for using ML.NET. I checked your code, based on the definition of trainer below, you should use `MulticlassClassification.CrossValidate` instead of `BinaryClassification.CrossValidate` at line 34-35 in ModelBuilder.cs when do cross validation:

`var trainer = mlContext.MulticlassClassification.Trainers
                             .OneVersusAll(ml_Context.BinaryClassification.Train

[2020-07-11 02:50] frank-dong-ms commented on #5285
@petropolitana I will close this issue as we didn't hear back for several days, feel free to reopen with more info so we can investigate further, thanks.

[2020-07-11 02:50] #5285 closed

[2020-07-11 10:01] justinormont commented on #5303
Transferred back to the ML․NET repo as the MAML CLI used here is distinct from the AutoML MLNET CLI.

[2020-07-11 10:44] justinormont commented on #5303
# Background
Looking at the model, this is trained w/ MAML command:
`maml.exe TrainTest test=inputs/test.tsv tr=LightGBMBinary{iter=100} scorer=BinaryClassifierScorer eval=BinaryClassifierEvaluator norm=No cache=+ dout=outputs/pred.tsv loader=TextLoader{col=Features:R4:5-47,50-142 col=Label:R4:48} data=inputs/train.tsv out=outputs/model.zip seed=1`

This is specified in the model zip at `./Trainin

[2020-07-11 15:23] CBrauer commented on #5300
Thanks for you comments and help.

[2020-07-11 23:17] JuanJimenezR opened #5304 "Error al llamar "ITransformer mlModel = mlContext.Model.Load(modelPath, out var modelInputSchema);""
### System information

- **OS Microsoft Win 10
- **.NET Version 2019:

- **What did you do?**
Estoy generando código con ML.builder.  De hecho he logrado generar y ejecutar con exito un par de modelos donde el modelo propuesto por ML.Builder fue un fasttree.
Para este nuevo set de datos el modelo generado el  el  ML.Builder fue el OlsRegression . Fue agregado el código al proyecto.
He a actualiza

[2020-07-12 03:24] antoniovs1029 commented on #5304
Hola, @JuanJimenezR .

Viendo solamente el stacktrace no puedo saber cuál es el problema con tu modelo. Es necesario que nos compartas el .zip con tu modelo para que lo podamos investigar. De ser posible, también nos sería útil tener el código generado por ModelBuilder. Gracias :smile:

Así mismo, me pregunto: mencionaste que has tenido que actualizar tus librerías a la versión 1.0... ¿Te refieres

[2020-07-12 11:17] JuanJimenezR commented on #5304
Muchas gracias Antonio!

He vuelto a generar desde 0 el proyecto, el cual adjunto para su revisión.
Para facilidad he agregado un Botón que ejecuta  un caso de prueba exitoso.

Para el proyecto enviado NO he cambiado ni actualizado ninguna de las librerías generadas por el constructor.

Es correcto su comentario, el constructor me genera los proyectos incluyendo librerías versión 1.5, PERO siempre

[2020-07-12 20:02] IvalinV commented on #4679
I have the same problem trying to use Image Classification, even after tried the proposed fix by @yaeldekel and build the project x64 but the problem still persist, any suggestions ?

[2020-07-13 03:43] frank-dong-ms commented on #5300
@CBrauer regarding below comments, could you please provide more details? Like what is the original type of Score, when this change happens (after upgrade ML.NET version or upgrade model builder version? Or any code change leads to this change?)?

[2020-07-13 03:47] frank-dong-ms commented on #5303
@jualbina please let us know if Justin's suggestion work for you, thanks.
By the mean time, we will try to improve the error message.

[2020-07-13 06:42] horczech opened #5305 "Length of memory (691200) must match product of dimensions (3)."
### System information

- **OS version/distro**: Windows 10
- **.NET Version (eg., dotnet --info)**: netcoreapp3.1

### Issue

- **What did you do?** I loaded an ONNX model to ML.NET and tried to run it.
- **What happened?** I am getting this exception when trying to do a prediction: "Length of memory (691200) must match product of dimensions (3)"
- **What did you expect?** Prediction

### Source

[2020-07-13 13:05] CBrauer commented on #5300
Yes, it happened after the upgrade to 1.5.1 The code was generated by the cli script:
[code]

The generated code is:
[code]

I assume that the Score array are the probabilities of my binary response column of my dataset.
Please look at the code on my GitHub account (see above)

Charles

[2020-07-13 18:10] antoniovs1029 commented on #5022
I'm changing this P1 to P3 as it is not a bug for the reasons explained [here ](https://github.com/dotnet/machinelearning/issues/5022#issuecomment-630577977) some months ago (TL;DR, this is expected behavior from the LightGBM algorithm). Also, as explained on that comment and also in other comments of this thread, the only work remaining would be to throw a more understandable exception message (w

[2020-07-13 19:27] antoniovs1029 commented on #5304
Hola, @JuanJimenezR . Gracias por compartir el `.zip` con nosotros. Una disculpa por la falta de acentos en este mensaje, pero te contesto rapidamente desde un teclado que no los tiene.

Al correr tu aplicacion, logre reproducir tu error, para corregirlo simplemente tuve que añadir los nugets the ML.NET directamente a tu proyecto llamado `Prediccion` (solamente instale los nugets de `Microsoft.ML`

[2020-07-14 09:26] misaqsaadat opened #5306 "Index out of range exception in execute"
### System information

windows 10 version 1803
NET Version (3.1.300):
AutoML version : 0.17.1
(also tested on version 0.14.0)
### Issue

I am trying to use AutoML for the first time. but I get IndexOutOfRangeException on execute method call.

### Source code / logs
static void Main(string[] args)
		{
			MLContext mlContext = new MLContext();
			IDataView trainDataView = mlContext.Data.LoadFromTex

[2020-07-14 13:32] antoniovs1029 commented on #5304
Cerrare este issue, ya que fui capaz de correr tu app al seguir los pasos que te he recomendado en mi anterior comentario.

Si aun tienes problemas tras seguir mis recomendaciones, puedes reabrir el issue para que lo pueda atender. Gracias 😄

[2020-07-14 13:32] #5304 closed

[2020-07-14 16:11] michaelgsharp commented on #5305
The error you are getting is because after you are loading in the image, the dimensions are not right. The `691200` is coming from your image dimensions * 3 channels (640 * 360 * 3). Could you attach your image you are using so we can take a closer look at it?

[2020-07-14 16:12] michaelgsharp commented on #5306
This happens when you are trying to use a column that is not in your dataset. Could you share a sample of what your dataset looks like? Including the header?

[2020-07-14 19:26] emilylawton commented on #5299
@frank-dong-ms, a modification of suggestion #2 did the trick. Thank you!

[2020-07-14 19:26] #5299 closed

[2020-07-15 06:43] misaqsaadat commented on #5306
[shorted.csv.txt](https://github.com/dotnet/machinelearning/files/4923337/shorted.csv.txt)

this is my input files. i remove some columns and some rows

[2020-07-15 06:47] masayakitazawasan opened #5307 "how to work 2 inputs to loading ONNX model by ML.NET"
### Question
I built a ONNX model with 2 inputs in python.
ONNX with 2 inputs works in python.
But I can't find any sample code in ML.NET with multiple inputs.
Could you tell me how to build pipline with two inputs in ML.NET ?

## ONNX Infomation ##
[INPUTNAME]
   input_1 ['None', 224, 224, 3]
   input_2 ['None', 18]
[OUTPUTNAME]
   dense_3 ['None', 5]

### Source code
############################

[2020-07-15 07:37] UlrichSuess commented on #5293
Thanks for your assessment, Antonio.

We will stick to this approach for the time being, then, and keep an eye on coming ML-NET changes.

[2020-07-15 07:37] #5293 closed

[2020-07-15 08:29] UlrichSuess commented on #5307
Hi masayakitazawasan,

Not entirely sure as I have not done that, but you might try the following.

Setup input and output classes like this (as for the first dimension 1, please check https://github.com/dotnet/machinelearning/issues/5293 as there is currently no proper variable sequence/batch processing for ONNX and a problem with variable dimensions defined in the onnx model. You should probably

[2020-07-15 17:18] michaelgsharp commented on #5307
Thanks for your help @UlrichSuess, that is right on the money for how to do multiple inputs. If he is directly loading the image then using a Bitmap type may be easier than using a raw float. Depends on how its set up. Something like this:

[code]

@masayakitazawasan, the only other thing you need to do besides what was already shared is loading in the image and resizing if needed. Something this

[2020-07-16 07:25] horczech commented on #5305
@michaelgsharp [Here](https://drive.google.com/file/d/1MpGYS8kd8vve_huoITPkovBUD9F-iUgo/view?usp=sharing) is the link to image that I am using. But I tried to change  `[ImageType(width: 640, height: 360)]` attribute to the size of the input image but nothing has changed.

I also don't understand the point of `ImageType` argument. Why do I have to specify image size? What if I want to load images w

[2020-07-16 07:45] hejingkan2005 opened #5308 "Unable to load DLL 'FastTreeNative' in Azure Function"
### System information

- **OS version/distro**: win10 (10.0.19041 Build 19041)
- **.NET Version (eg., dotnet --info)**: .net core 3.1

### Issue

- **What did you do?**
ML.net code
- **What happened?**
It is no issue to run sample code in console app, but it's repeatedly reporting below error when run CreateModel() from a testing azure function:
=============== Training  model ===============
[7/

[2020-07-16 15:44] michaelgsharp commented on #5307
@masayakitazawasan, I am going to close this issue for now since it seems like you have all the info you need. If you have any more questions or problems, please feel free to reopen the ticket and we will be happy to continue to help.

[2020-07-16 15:44] #5307 closed

[2020-07-16 23:02] ganik opened #5309 "Entrypoints for RobustScaler, ToString removed"
ML.NET 1.5.1 breaking changes for NimbusML.
Entrypoints RobustScaler, ToString and CategoryImputer removed.
The PR was #5209
NimbusML can do changes for CategoryImputer to use ReplaceMissingValues entrypoint
We need to expose TypeConvertingTransformer  and NormalizingEstimator as entrypoints

[2020-07-17 01:11] masayakitazawasan commented on #5307
Dear Ulrich Suess and Michael Shap

Thanks for your response to my question.
I appreciate your advice because I noticed that the accuracy of the AI
model is the same,
even if 2 inputs changed 1 input.
(At first ,I built AI model by small data, but now I have much data)

input1 : imagedata
input2 :labeldata

So my problem is solving.

Thanks for your help.

2020年7月15日(水) 17:29 UlrichSuess <notifica

[2020-07-17 15:51] michaelgsharp commented on #5309
I'll work on that today Gani. I thought they were already exposed.

[2020-07-17 15:57] michaelgsharp commented on #5309
@ganik @harishsk, TypeConvertingTransformer is exposed as `Transforms.ColumnTypeConverter`, it is already there.

NormalizingEstimator was exposed as different entrypoints for each type of normalizer. Not sure why it was done that way, I thought it was done the same way as the others where it was just one entry point with the different parameters. I'll have a PR out today for that entrypoint fix.

[2020-07-17 16:58] michaelgsharp commented on #5305
@horczech, I dont have your onnx model so I can't verify the whole pipeline, but other than running that step I was able to resolve your issue. There were 2 things I changed slightly.

Your InputImage class needs to have dimensions equal to the picture dimensions before you do any resizing. For the picture you linked, that would be this.
[code]

The only other thing I changed was your call to fit.

[2020-07-17 16:59] michaelgsharp commented on #5305
I am going to close this issue for now. If the 2 changes I suggested in my prior comment don't fix your issue, please reopen this issue so we can take another look at it. I will still post another comment here when I hear back about the image size situation regardless of whether this issue gets opened again or not.

[2020-07-17 16:59] #5305 closed

[2020-07-17 18:13] michaelgsharp commented on #5305
@horczech, I was just informed that no, your input images don't need to be the same size. The example here, https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.imageestimatorscatalog.resizeimages?view=ml-dotnet, shows how to do images of differing input sizes and then resizing them to the size you want.

[2020-07-18 01:02] frank-dong-ms opened #5311 "throw a more useful error if a user loads a newer model than is supported by the current ML․NET version"
follow up improvement for below issue:
https://github.com/dotnet/machinelearning/issues/5303

[2020-07-18 01:03] frank-dong-ms commented on #5303
This issue means user is trying to converting a model (created with latest code) using old version code. As Justin commented we support backwards compatibility but forward compatibility is not guaranteed.  Create #5311 to follow up on the error message improvement work. Close this issue.

[2020-07-18 01:03] #5303 closed

[2020-07-18 20:29] justinormont commented on #5311
Quoting relevant section of my comment from https://github.com/dotnet/machinelearning/issues/5303#issuecomment-657040153:

When a user loads a newer model than is supported by the current ML․NET version, we may want (1) a useful error when it can't be loaded (perhaps by catching the loader error from the outside, modifying its wording, or adding additional checks), and (2) a warning for each time

[2020-07-19 02:59] boyedarat commented on #5284
How can we get to this option? After all F# is being touted as an official option for ML.

[2020-07-19 10:10] jwood803 opened #5312 "Async operation has not completed error"
It seems some scenarios cause this error after looking at this [StackOverflow question](https://stackoverflow.com/questions/62976568/system-invalidoperationexception-the-asynchronous-operation-has-not-completed).

[code]

This seems to be caused by a change I added in #5123.

Tagging @eerhardt @harishsk for visibility. I'll work on a fix for this.

[2020-07-19 19:48] JuanJimenezR commented on #5304
Antonio, MUCHAS GRACIAS.

He validado sus observaciones, y me doy cuenta que el problema de contexto de desarrollo lo estaba generando yo mismo al llamar desde un tercer proyecto y agregar versiones anteriores (al mal interpretar los mensajes de error).  Todo queda claro y solucionado.

[2020-07-19 21:50] gustavnygren commented on #1886
@mihaar I dont think we can reach your links above anymore. Would you mind sharing why you removed them or link to the solutions again?

@gkapellmann Did you ever find a solution to this?

[2020-07-20 01:03] sereal96 opened #5314 "My confusion trying to use EAST text detector model with the ML.net"
### System information

- **OS version/distro:Windows 10**:

### Issue

- **What did you do?**
Hi, well I am trying to use a the EAST text detector model with the ML.net
from here:

https://www.kaggle.com/yelmurat/frozen-east-text-detection

however I don't know if I am doing it the right way. (I only began using ML.net last month) First I tried using
OpenCV with this example:

https://github.com/

[2020-07-20 02:55] hejingkan2005 commented on #5308
Thank for your reply @michaelgsharp. But the problem here is little bit different. Instead of consuming 'mlmodel.zip', I'm expecting to generate 'mlmodel.zip' in Azure Function by reading training datasets from azure storage (e.g. blob). So the link you pasted does not apply to my case. I'm sure that I've FastTree nuget package installed as dependency.

[2020-07-20 05:43] mstfbl commented on #5312
Hi @jwood803 ,

Thank you for notifying us of this issue. I've assigned this issue to you as you've already opened a PR to fix this. Let us know if you need any additional help from our end. Thanks!

[2020-07-20 19:15] mstfbl commented on #5314
Hi @sereal96 , can you please zip your entire VS project and share your whole code and data with us here? It is hard to follow the code snippets you've provided in your issue. Thanks!

[2020-07-20 20:52] antoniovs1029 commented on #5312
I imagine this is related to the issue reported here:
https://github.com/dotnet/machinelearning-samples/issues/833

[2020-07-20 21:06] sereal96 commented on #5314
Hi Mustafa, and tanks for answer so soon, here this is my test project

 https://drive.google.com/file/d/14Uou9e3PBbCv8Z5kIm8ftqHs4MvtHTH6/view?usp=sharing

I hope it helps you.

________________________________
From: Mustafa Bal <notifications@github.com>
Sent: Monday, July 20, 2020 15:15
To: dotnet/machinelearning <machinelearning@noreply.github.com>
Cc: sereal96 <yamil1234@hotmail.com>; Mention

[2020-07-20 21:07] antoniovs1029 commented on #5312
I think this is related to the issue reported here:
https://github.com/dotnet/machinelearning-samples/issues/833

[2020-07-20 22:32] #5309 closed

[2020-07-21 00:23] mstfbl commented on #5308
Hi @hejingkan2005 ,

Can you share some code samples that you have with which you've obtained the "unable to load DLL" error? I will try to reproduce your problem.

By the way, we do not recommend training and generating a model in Azure Functions due to the [limitations on timeouts](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits) in Azure Functions's service

[2020-07-21 09:24] klesouza opened #5315 "Load native LightGBM exported text file"
### Issue

- I would like to be able to load a LightGBM model exported from the native library in text format directly in ML.NET LightGBM implementation.

I noticed there are bindings to the save method here https://github.com/dotnet/machinelearning/blob/8631afaaaa60daa1bda734dc79d92433591f7917/src/Microsoft.ML.LightGbm/WrappedLightGbmInterface.cs#L190, but couldn't find a way to load the text fil

[2020-07-21 18:13] mstfbl commented on #5277
Update: Merged PR #5289 has added and verified ONNX export support for the Naive and FixedPlatt calibrator estimators. PR #5298 is set to add ONNX export support for the Isotonic calibrator estimator.

[2020-07-21 18:37] LeoAlario opened #5316 "Unable to load DLL 'MklImports' or one of its dependencies: The specified module could not be found. (0x8007007E)"
### System information

- **Windows server 2019 IIS / Docker Windows Container**:
- **.NET Version 3.1.3**:

**Project references**
Microsoft.ML 1.5.0 - 1.5.1
Microsoft.ML.TimeSeries 1.5.0 - 1.5.1
Microsoft.ML.Mkl.Components 1.5.0 - 1.5.1

### Issue

- **What did you do?**

 I was trying to train the model in a .NET standard 2.0 library

 ITransformer trainedModel = dataProcessPipeline.Fit(trainin

[2020-07-21 18:55] mstfbl commented on #5316
Hi @LeoAlario ,

This issue is usually caused by improperly installed libraries. Please make sure your Visual Studio installation has [these packages](https://github.com/dotnet/machinelearning/blob/master/docs/building/windows-instructions.md) installed correctly, and try re-building your project. Also, please delete your `\bin` and `\obj` folders during this process, so old files will not interfe

[2020-07-21 19:12] mstfbl commented on #5315
Hi @klesouza,

Thank you for bringing up this issue/feature request. Unfortunately, ML.NET does not currently support nor have an API to load a LightGBM model exported from its native library in text. I am saving this issue as a feature request.

The `BoosterSaveModelToString` function you've pointed out is actually an internal function that is not exposed outside of ML.NET internal usage. This fu

[2020-07-21 22:44] JuanJimenezR opened #5317 "Solicitud de guía para re-entrenar un modelo ya entrenado"
### System information
NA
### Issue

Estoy logrando con éxito incluir y utilizar el código de uso para mi modelo con el ML builder.

Busco por cargar un modelo ya entrenado, y volverlo a entrenar con un  adicional conjunto de datos (a fin que el aprendizaje de mi modelo sea escalable sobre lo que ya había aprendido).

El código generado por el ML builder,  cargar el modelo y entrena uno NUEVO para

[2020-07-21 22:57] antoniovs1029 commented on #5317
Hola, @JuanJimenezR .

El artículo que buscas es éste:
https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/retrain-model-ml-net

Como verás ahí, no es posible re-entrenar cualquier modelo de ML.NET, solamente es posible re-entrenar los entrenadores ahí enlistados 😄

[2020-07-21 22:57] #5317 closed

[2020-07-21 23:09] mstfbl commented on #5316
Hey @LeoAlario,

In addition, can you provide us with a repro of your working folder where you are receiving this error? This will help us diagnose this issue better. Thanks!

[2020-07-22 00:16] CBrauer opened #5318 "Transformers and AutoML"
### System information

- Microsoft Visual Studio Professional 2019, Version 16.6.4
- ML.NET 1.5.1

### Issue

- I am trying to do data preparation with AutoML.
I have run my code with, and without, the "NormalizeMeanVariance" transform, and I'm getting a much poorer result with the transform. I must be doing something wrong because applying this transform should not produce poorer results.

Here

[2020-07-22 01:53] justinormont commented on #5306
I would modify R2 calculation code to return `NaN` instead of `-Infinity` when there are <2 rows of data.

Our R2 calculation code:
https://github.com/dotnet/machinelearning/blob/beb67a128544ee98b8c4309859f7e5a9f679ac4e/src/Microsoft.ML.Data/Evaluators/RegressionEvaluator.cs#L101-L107

Returning `NaN` instead of `-Infinity` replicates the behavior of scikit:
https://github.com/scikit-learn/scikit-

[2020-07-22 03:10] mstfbl commented on #5318
Hi @CBrauer ,

I have tried to open your repro, however Visual Studio fails to upload your project with the following error:

I also can't find `MLLibrary.csproj` or anything related to `MLLibrary` in your repro. Can you please add all necessary files and packages, and share your complete repro with us? Thanks.

[2020-07-22 06:23] misaqsaadat commented on #5306
sorry I don't get it. what's your mean less than two rows?
there are 20 rows is sample I uploaded and much more rows in my real case

[2020-07-22 06:58] justinormont commented on #5306
@misaqsaadat: My apologies, my recommendation was for how to fix the bug in ML․NET. Until it's fixed, you can mitigate the issue by using a larger dataset, or optimizing towards a different metric.

[2020-07-22 08:16] hejingkan2005 commented on #5308
Hi @mstfbl,
I'm using Azure Functions SDK version 3.0.8,  please refer to the .csproj for more detail:

    <PackageReference Include="Microsoft.Azure.Functions.Extensions" Version="1.0.0" />
    <PackageReference Include="Microsoft.Azure.WebJobs.Extensions.Storage" Version="3.0.10" />
    <PackageReference Include="Microsoft.Extensions.ML" Version="1.5.1" />
    <PackageReference Include="Microso

[2020-07-22 16:07] CBrauer commented on #5318
Sorry 'bout that.  Please download again.

[2020-07-22 17:18] LeoAlario commented on #5316
Hello @mstfbl ,

I've tried to follow your advises without success.

It seems that in the app folder on Windows Docker Container the MklImports.dll is not in the main folder but available in the following path:

![Cattura](https://user-images.githubusercontent.com/24278853/88206587-cc942e00-cc4e-11ea-81ea-6370a2890ce4.PNG)

The same on the publish folder for IIS production environment:

![image](h

[2020-07-22 17:24] Lynx1820 commented on #5314
Hi @sereal96,

You loaded the images correctly. A good way to check whether your tensorflow model is correctly implemented in ML.NET is to compare the results, which I believe you have done.

Here is another file with image loading examples:
[ImagesTests](https://github.com/dotnet/machinelearning/blob/master/test/Microsoft.ML.Tests/ImagesTests.cs)

[2020-07-22 18:06] anilindorkar commented on #5168
Make sure your Test and Training data must have true and false both kind of data, My Problem resolved once I included true and false, both kind of data in the Test and Training file/dataset.

[2020-07-22 19:23] vffuunnyy opened #5320 "The input string was not formatted correctly"
Model Builder Error

Visual studio 2019 last version
ML.NET last version
windows 8.1 x64
input data: https://yadi.sk/d/dOH4eg9ojMV4gA
Training stops after this log line:
`|63   OlsRegression                         0,0000          5,55       428,48    20,70      55,0         63      |`

trace:
[code]

[2020-07-22 21:08] mstfbl commented on #5315
Closing this issue as no new response has been given. @klesouza please feel free to reopen the issue if you have additional inquiries. Thanks!

[2020-07-22 21:08] #5315 closed

[2020-07-22 21:13] mstfbl commented on #5320
Hi @vffuunnyy , I've looked at the input data you've linked, it is just a list of doubles/floats separated by semicolons (sample data below).:

Can you please share your reproduction of this issue? You can zip your solution and data, and attach it in your comment in this issue. This way, we'll be able to reproduce the issue on our end and investigate. Thanks!

[2020-07-23 08:46] vffuunnyy commented on #5320
I just use ML.NET Model Builder and there is no code :thinking:
After about 900+- seconds of Training throwing an error.
output data from Machine Learning: https://pastebin.com/AKHsDaV6

[2020-07-23 09:52] klesouza commented on #5315
Thanks @mstfbl . Just wondering if there's a way to track this feature request?
From what I saw in the code, it shouldn't be too hard to implement given that the logic to parse the model string is already in place, right? Or are there reasons why it was not implemented so far?
I was thinking in giving it a try, but perhaps there are reasons why it's not implemented yet

Thanks!

[2020-07-23 09:54] justinormont commented on #5318
You'll want to add the `NormalizeMeanVariance` sub-pipeline as your `preFeaturizer` in the AutoML `.Execute()` call.

See step 3 & 7 in the [AutoML Advanced Experiment](https://github.com/dotnet/machinelearning-samples/blob/5831bdd9bea8e42e1d3e4967486653a5df1abe4c/samples/csharp/getting-started/AdvancedExperiment_AutoML/README.md#step-3-add-a-pre-featurizer) sample.

In your example above, you're

[2020-07-23 10:51] justinormont commented on #5320
My assumption is an internalization issue.

This should have been fixed in https://github.com/dotnet/machinelearning/pull/4635/files, though perhaps there are additional `.ToString()` used for sweeping parameters which need to be set as `CultureInfo.InvariantCulture`.

We may want to add a CI leg which tests in Russian (or another culture w/ `0,123` number formats).

@vffuunnyy: To mitigate, you c

[2020-07-23 12:09] vffuunnyy commented on #5320
sooo, what I need to do with https://github.com/dotnet/machinelearning/pull/4635/files :exploding_head:

[2020-07-23 15:45] Babadinier opened #5321 "System.ArgumentException: Destination is too short. (Parameter 'destination')"
### System information

.NET Core SDK (reflecting any global.json):
Version: 3.1.301
Commit: 7feb845744

Runtime Environment:

OS Name: Windows

OS Version: 10.0.14393

OS Platform: Windows

RID: win10-x86

Base Path: D:\Program Files (x86)\dotnet\sdk\3.1.301\

Host (useful for support):

Version: 3.1.5

Commit: 65cd789777

.NET Core SDKs installed:

1.1.14 [D:\Program Files (x86)\dotnet\sdk]

2.1

[2020-07-23 17:04] justinormont commented on #5320
@vffuunnyy: I was mentioning that it looks like a bug in ML․NET in how it converts numbers to strings in our sweeping code. We have seen similar bus before, which https://github.com/dotnet/machinelearning/pull/4635/ was meant to fix. You're welcome to file a PR to contribute a fix to ML․NET.

Before a fix is in, you can try setting your machine's locale to perhaps en-US (or another locale with per

[2020-07-23 17:49] CBrauer commented on #5318
I looked through the source code for ML.NET and I see a lot of work on hyperparameter optimization with "sweeper".  Am I wasting my time doing a preFeaturizer with AutoML?.

[2020-07-23 18:04] mstfbl commented on #5321
Hi @Babadinier,

Thank you for sharing this issue. From the error stack trace you've shared, the problem seems to be caused in `Microsoft.ML.Data.BufferBuilder.GetResult` when it tries to copy the given `buffer` to `VBufferEditor editor` below:

https://github.com/dotnet/machinelearning/blob/8631afaaaa60daa1bda734dc79d92433591f7917/src/Microsoft.ML.Data/Data/BufferBuilder.cs#L435-L465

This seems

[2020-07-23 18:27] justinormont commented on #5318
In most cases you can improve you model by exploring additional feature engineering techniques. The `preFeaturizer` allows you to explore additional featurization in a safe way. It should be easy enough to test if the `NormalizeMeanVariance` adds value.

A lot of it will come down to which feature engineering techniques you try. Here are a few of my favorites: https://github.com/dotnet/machinelear

[2020-07-23 18:35] CBrauer commented on #5318
Thanks for you comments.

[2020-07-23 19:18] crazyoutlook opened #5322 "ML.Net Invalid GraphDef - Object Detection Model"
### System information

- **OS version/distro**: Windows 10 Pro
- **.NET Version (eg., dotnet --info)**: dotnet framework 4.7

### Issue

We are working on how to consume the tensorflow model in .Net using ML.NET. We are using below tutorial as reference :

Tutorial Link : https://docs.microsoft.com/en-us/dotnet/machine-learning/tutorials/image-classification

We tested with model that is used in

[2020-07-23 20:00] mstfbl commented on #5322
Hi @crazyoutlook ,

Thank you for notifying us of this issue. Can you please share this custom model? We will attempt to reproduce the issue on our end, and without a successful reproduction, we won't be able to diagnose your issue. Thanks.

[2020-07-23 20:12] Aleksey1555 opened #5323 ": 'Schema mismatch for input column 'data': expected Vector<Byte, 45, 45, 3>, got Vector<Byte> '"
### System information

- **OS version/distro**: Windows 10 64
- **.NET Version (eg., dotnet --info)**:  Net Core 3.1

### Issue

- **What did you do?** :  Try to load images from folder as byte [], then load data into Bitmap and then  createEnumareable
- **What happened?** : Error  Type 'System.Drawing.Bitmap' is not yet supported.   in ConvertToImage
- **What did you expect?** Expect to make arr

[2020-07-23 21:15] Lynx1820 commented on #5323
Hi @Aleksey1555,

I can't see how you're loading your images in `LoadImagesFromDirectory3`, but I'm guessing you're not loading `[45,45,3]` vectors of Image bytes. This link gives example loading functions [Image Classification Example](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ml.visioncatalog.imageclassification?view=ml-dotnet). If you still have trouble, feel free to paste any other

[2020-07-23 21:31] Aleksey1555 commented on #5323
`LoadImagesfromDirectory3` - simply return Enumeration<MyImage> and set only **Lebel** and **path** fields.

[2020-07-23 21:33] mstfbl commented on #5318
Thank you @justinormont for your help! @CBrauer I'm closing this issue as it seems your issue has been resolved. If you have any additional inquires on this, please free free to comment here. Thanks!

[2020-07-23 21:33] #5318 closed

[2020-07-23 22:03] Lynx1820 commented on #5323
Can you print the `IDataView data` to ensure that it's indeed 45 x 45?

[2020-07-24 01:11] mstfbl commented on #5314
Hi @sereal96,

I'm closing this issue as @Lynx1820 has answered your inquiry. Please feel free to comment if you have additional questions. Thanks!

[2020-07-24 01:11] #5314 closed

[2020-07-24 08:36] Babadinier commented on #5321
Hi @mstfbl,

Thanks for your quick response.

I would be able to provide you with an example of the code we use, but the data we use to train the model is confidential - we use ML.net to analyze internal and external mail flow in our company.

We basically train the model with 2000 examples and then just run Predict on this engine.

Would you need all the training data too, and the input we provid

[2020-07-24 08:43] Aleksey1555 commented on #5323
how to do this?

[2020-07-24 10:54] Aleksey1555 commented on #5323
![image](https://user-images.githubusercontent.com/32514002/88384498-31699880-cdb5-11ea-976d-9748214ffa5a.png)

[2020-07-24 10:54] Aleksey1555 commented on #5323
maybe this

[2020-07-24 11:01] vffuunnyy commented on #5320
So, I tried, but nothing fixed. I get same error

[2020-07-24 16:37] Aleksey1555 commented on #5323
someone please help!

[2020-07-24 19:44] Lynx1820 commented on #5323
Hi @Aleksey1555 , Try replacing `[VectorType(45, 45, 3)]` with` [VectorType(45*45*3)].`

[2020-07-24 19:46] Lynx1820 commented on #5323
If you can, please post your zipped code and sample data, so I can take a close look.

[2020-07-24 20:31] Aleksey1555 commented on #5323
changing with [VectorType(45*45*3)] - not helped

[ForGitHub.zip](https://github.com/dotnet/machinelearning/files/4974124/ForGitHub.zip)

[2020-07-25 01:55] mstfbl commented on #5321
I see. Please provide an example of the code, and if possible, a randomized or fake data that is in the schema of your actual dataset, so that we can reproduce the issue on our end. Thanks.

[2020-07-25 01:58] mstfbl commented on #5320
@vffuunnyy Can you please provide us with the actual dataset with which you're getting this error? The one you've linked above is not an actual dataset from what I could tell.
@justinormont Could this be an issue specific to the Model Builder? If so, we should transfer the issue to the appropriate repository.

[2020-07-25 04:08] Aleksey1555 commented on #5323
Good morning!
I Solve problem!
![image](https://user-images.githubusercontent.com/32514002/88448338-75a47980-ce45-11ea-999b-1afcca195647.png)

After call
`IDataView data2 = ml.Transforms.LoadRawImageBytes("Data", folder, nameof(MyImage.path))// "path")`
The data2 has two columns "Data":
One -  Vector<Byte,45,45,3>
Second - Vector<Byte>

[2020-07-25 10:15] justinormont commented on #5320
@msftbl: No need to transfer. Error is in the use of the hyperparameter values in the AutoML․NET code.

I made a short repro: https://dotnetfiddle.net/nWpCkP

Setting `CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("ru-RU")` causes a failure in the sweeper around iteration 44. The exact error message will depend on the type of the hyperparameter.

Setting `CultureInfo.DefaultThreadCurre

[2020-07-25 18:24] Aleksey1555 opened #5324 "Transform Vector<Byte> to Vector<width,height,3>"
### System information

- **OS version/distro**: Windows 10 x64
- **.NET Version (eg., dotnet --info)**: .Net Core 3.1

### Issue

- **What did you do?** Creating pipeline for image loading
- **What happened?**  'Schema mismatch for input column 'Data': expected Vector<Byte, 45, 45, 3>, got Vector<Byte>
- **What did you expect?** i don't , i want to known - how covert Vector's

### Source code / l

[2020-07-26 11:24] #5323 closed

[2020-07-26 11:29] Aleksey1555 opened #5325 "Pause the Training process?"
### System information

- **OS version/distro**: Windows 10 x64
- **.NET Version (eg., dotnet --info)**:  .Net Core 3.1

### Issue

- **What did you do?**
- **What happened?**
- **What did you expect?**

### Source code / logs

Hello!
Question - Can I with ML.net  stop training process, save results to the disk and resume process of training later?
Task - Multiclass classification
Trainer - ImageC

[2020-07-26 16:56] #5306 closed

[2020-07-26 19:29] Aleksey1555 commented on #5325
can anyone answer to this question?

[2020-07-27 14:28] kanadaj opened #5326 "[Documentation] LpNormNormalizingEstimator equations display as plain text"
Equations don't seem to work as intended in the documentation. I assume this isn't meant to be how it's displayed:

![image](https://user-images.githubusercontent.com/3247357/88553903-b951db80-d01d-11ea-89fc-e32a4a5ac3fd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71dcdd76-b41e-d01e-3a03-e26415d0339a
* Version

[2020-07-27 16:11] John0King commented on #536
@codemzs   this time is's not mono, it the .net 5 , when will the Android,IOS, and WASM be support?

[2020-07-27 17:36] Lynx1820 commented on #5324
Hi @Aleksey1555, is the code the same you provided on issue [#5323](https://github.com/dotnet/machinelearning/issues/5323#event-3586995383) ?

[2020-07-27 17:41] #5324 closed

[2020-07-27 19:35] Lynx1820 commented on #5325
Hi @Aleksey1555,
Unfortunately, it is not possible to re-train an Image Classifier. More info can be found here: [retrain-model-ml-net](https://docs.microsoft.com/en-us/dotnet/machine-learning/how-to-guides/retrain-model-ml-net).

As an alternative, you could use another framework for training and then load your model via Onnx for inferencing.

[2020-07-27 19:35] #5325 closed

[2020-07-27 19:38] Aleksey1555 commented on #5325
(((
awfully
but thank's for the answer

[2020-07-27 20:32] mstfbl commented on #5321
Hi @Babadinier, without further data and/or code to go from, we are not able to further diagnose your issue. Please feel free to share any data, so that we may reopen this issue. Thanks.

[2020-07-27 20:32] #5321 closed

[2020-07-28 09:22] yousiftouma commented on #5262
@antoniovs1029

Hi again.

I tried following your instructions. I re-cloned the repo, didn't run or anything before updating the packages to the same versions you have in your screnshot. When I try to run the project I get the exact same exception again.

Are there any known issues with Windows 7 when it comes to ML.NET 1.5.0 or OnnxRuntime 1.3.0?

[2020-07-28 19:37] LeoAlario commented on #5316
Hello @mstfbl,

I'm able to solve it by myself in the azure production environment, the solution for it is the installation of the following package:

https://support.microsoft.com/it-it/help/2977003/the-latest-supported-visual-c-downloads

I'll try also with a Docker Windows Container and I'll let you know.

Anyway thank you for your support.

[2020-07-28 21:02] #5316 closed

[2020-07-29 16:00] krish-gh commented on #4271
@ketankalia For me, keeping scaleImage: 1/255f results in bad prediction. Keeping it as 1 fixed it. Using [emotion-ferplus-8.onnx](https://github.com/onnx/models/tree/master/vision/body_analysis/emotion_ferplus#fer-emotion-recognition).
Many thanks for the suggesting the blue pixel though. It saved my day :).